[2021-01-29 23:52] ragenhe opened #393 "[bug] Honeywell (Jasco) switches displaying Unknown manufacturer 99 / 18770 / Unknown product 12856"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1
zwavejs version: 6.1.0

### Describe the bug

Honeywell (Jasco) light switch(es) are showing Unknown manufacturer 99 / 18770 / Unknown product 1

[2021-01-30 00:06] Lopton commented on #384
I also think there should be a way to get the underlying data. As far as I can find there is no-where in the UI that lets me simply see the neighbors of a node. Either a table with all nodes and all neighbors, or having it when you're viewing a node would be really helpful in addition to the visualization.

[2021-01-30 06:48] cpk1 commented on #298
A simple thing could be to pop an alert or help text to let the user know without extra configuration their logfiles will keep growing?
Happy to look at some simple log file controls as well - I haven't looked closely yet at how they are managed though :P

[2021-01-30 08:50] robertsLando commented on #386
@DanielWinks this cannot be done. The reason is simple, the get topic is also used to get a feedback about the value you wrote, in some cases this could cause infinite loops (you send a message, the feedback comes and triggers a new write and repeats). This could be prevented someway by adding some kind of id in payload to identify those loops but will also make the entire mqtt structure inconsist

[2021-01-30 08:51] robertsLando commented on #387
You can trigger the scene using mqtt apis :)

[2021-01-30 08:55] fanningert commented on #387
@robertsLando where can I find the information abput the command_topic. In the application mqtt_explorer I was not able to find the entry.

[2021-01-30 14:13] ahochsteger commented on #384
[The Data Visualization Catalogue](https://datavizcatalogue.com/) may be a helpful resource to find the best way to visualize different kinds of information:
![image](https://user-images.githubusercontent.com/207989/106358514-fe2c3700-630c-11eb-9def-53a279d3c8cc.png)
![image](https://user-images.githubusercontent.com/207989/106358536-1bf99c00-630d-11eb-92a6-e8eb348dd8fc.png)

[2021-01-30 16:07] jonathan-reisdorf opened #394 "[bug] gateway device dropdown does not include devices in RestartFromCache interview stage"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: latest master (1.0.1)
zwavejs version: 6.1.0

### Describe the bug

Not sure if that's already been brought up, but when adding or modifying values in

[2021-01-30 17:12] fanningert commented on #387
@robertsLando Thank you for your hint.

Here is the infos for all who also searching for the solution.

In my case the scene is having the number `1`, the mqtt-prefix is `homeassistant` and the name of my gatway is `HomeAssistant`.
For the Home Assistant integration I created a switch with following entries in the `configuration.yaml`.
[code]

Details: https://zwave-js.github.io/zwavejs2mqtt/#/gui

[2021-01-30 17:18] tommyjlong opened #395 "[bug]G/W Manual Mode - Multisensor6 missing HomeSecurity topic choice"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1.e227f5b
zwavejs version:  6.1.0

### Describe the bug

G/W is in Configured Manually/Just Value mode.
Using the GUI, I want to create an entry i

[2021-01-30 22:22] Veldkornet commented on #345
Just FYI, I have several of these working without any problems (using zwavejs2mqtt version 1.0.1 currently and the HA zwave-js integration).
I did have 1 which only pulled half of the entities in HA, so I removed the node and re-added and it was fine after that.

[2021-01-31 01:19] tommyjlong opened #397 "[bug] Poll CC Alarm parameter not implemented"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1.e227f5b
zwavejs version: 6.1.0

### Describe the bug
Perhaps not a bug, and more of a "to be implemented", but I have a water leak detector that

[2021-01-31 10:27] joselito11 commented on #351
I have problem with Zipato bulb not showing color picker in HA, I have zwaveJS2mqtt addon and and via zwaveJS integration.
I can only on off and dim:
[code]
https://imgur.com/a/H82UOxV

[2021-01-31 14:27] ahochsteger commented on #384
I've played around on [Observable](https://observablehq.com) to see if it would be possible to use a Z-Wave node list for visualization experiments and it turns out that it is indeed possible and a lot of fun!

Here's a notebook that can be used as the basis for your own visualization experiments by importing the data and functions:
<https://observablehq.com/@ahochsteger/zwavejs2mqtt-base>
It prov

[2021-01-31 17:00] DanielWinks commented on #386
Ah, I figured with the new "currentValue" and "targetValue" that targetValue itself would prevent such a loop, but you know the code and I don't. Anyway, thanks so much for all you do for this project, it's truly appreciated.

[2021-01-31 17:00] #386 closed

[2021-01-31 19:44] scott7685 opened #398 "Super Minor Display Update -- Does Not Impact Function [bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

1.01

Build/Run method

- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1
zwavejs version: 6.0.0

### Describe the bug

Just a minor display issue I noticed on the pop-up dialogue for the Replace Failed Node. The inclusion co

[2021-01-31 20:59] dkjsj opened #400 "Device support Danfoss (Living Connect Z Thermostat - LC-13 and LCZ251)"
**Describe the bug**
Danfoss (Living Connect Z Thermostat - LC-13 - device id "2-4-5") are not recognized as a Climate device. Are missing the Climate entity in HomeAssistant (when using ZwaveJSServer). The same goes for Danfoss (Living Connect Z Thermostat - LCZ251 - device id "2-3-5")

**Device information**

Which device(s) is/are affected (make/model)?  Danfoss (Living Connect Z Thermostat - L

[2021-01-31 21:02] carldebilly commented on #336
![](https://media.giphy.com/media/h5dV53fnJksOxmIedp/giphy.gif)
It worked on the very first try!  Thanks good work!

[2021-02-01 03:30] crxporter opened #399 "[bug] Can't scroll device horizontally without opening home assistant tab"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1
zwavejs version: 6.1.0

### Describe the bug

When using using mobile, the configure screen on multi-column devices always scrolls to the "Home

[2021-02-01 06:54] billiaz commented on #345
@Veldkornet @Cyberwizzard can you try the #396 which introduces a new way to publish sensors for notification CC

[2021-02-01 07:40] Cyberwizzard commented on #345
@billiaz no problem, just how do I test this? Is there a docker I can download?

[2021-02-01 08:05] Cyberwizzard commented on #345
@Veldkornet I already tried re-adding it; are you sure it is the same device? And what is the firmware version?

Mine is a FGWD-002 with firmware 3.2.ZW5

[2021-02-01 09:12] robertsLando commented on #400
I see a climate discovered here:

[code]

I think the problem is taht the mode command topic is set to false, I think this thermostat doesn't support multiple modes right?

[2021-02-01 09:25] robertsLando commented on #399
@crxporter Could you send me a screenshot of the problem from your mobile? The screenshot attached isn't showing any bug

cc @ahochsteger

[2021-02-01 09:44] robertsLando commented on #394
@jonathan-reisdorf Devices are added only when the interview completes. The reason is that only on that stage I'm completely sure all values are there

[2021-02-01 10:21] hvorragend opened #409 "[bug] Dongle-Test in zwavejs2mqtt. All existing associations are deleted."
### Version

Build/Run method

- [x] Docker - (**dev-tag**)
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1 (and all versions from 1.0.0-beta.0 till now)
zwavejs version: 6.0.? (the version which is included in your docker-image)

### Describe the bug

I am using the ZMEEUZB-Dongle (https://z-wave.me/products/uzb/) with Vers:5 Rev:39 in FHEM.

[2021-02-01 10:54] robertsLando commented on #409
@AlCalzone Are associations stored on controller?

[2021-02-01 11:06] robertsLando commented on #398
This is already fixed

[2021-02-01 11:06] #398 closed

[2021-02-01 11:08] AlCalzone commented on #409
Associations are stored on each node. zwave-js does not remove associations, except misconfigured lifelines to the controller (e.g. node associations that should be endpoint associations).

[2021-02-01 11:13] robertsLando commented on #384
@ahochsteger I still think that the most complete solution is the one provided by ZWaveGraphHA. I have looked at your notebooks, I really like them and I think it's a good tool for testing and proposal :) Didn't know about that.

BTW every solution has it's pro/cons, we should firstly focus on what we want to be visible "at first sight" and what/how to show the details about a node

[2021-02-01 11:14] robertsLando commented on #409
@hvorragend We need some logs to see what's going on here so

[2021-02-01 11:14] Gis70 opened #411 "[bug] SWITCH_MULTILEVEL SET missing on Philio PSE02 Siren"
### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1
zwavejs version: 6.1.0

### Describe the bug

Hi, i'm new on Zwave-js2MQTT, i'm come from Jeedom where they have their proper zwave adaptation based on OZW 1.4.

My issue is that's i can't find SWITCH_MULTILEVEL SET for my Philio PSE02 Siren.

So i'm n

[2021-02-01 11:48] Veldkornet commented on #345
Mine is FGDW002, Firmware 3.2.

I also have FGK101, Firmware 3.2.

Both models working perfectly.

[2021-02-01 13:06] robertsLando commented on #351
@joselito11 Version?

[2021-02-01 13:06] robertsLando commented on #387
@fanningert Thanks to you for the feedback. Would you like to send a PR with a guide in the docs?

[2021-02-01 13:06] #387 closed

[2021-02-01 13:08] robertsLando commented on #395
@tommyjlong Do you see that value added in logs? Could you attach logs please?

[2021-02-01 13:10] robertsLando commented on #392
@tommyjlong This is by design now. What I can suggest to you is to choose valueId topics so you will also see states where you will be able to see the actual text value. Otherwise you can use parseSend and parseReceive functions to send/write the value using states

[2021-02-01 13:10] #392 closed

[2021-02-01 13:12] robertsLando commented on #389
@LordMike When you say re-adding what you exaclty mean? Did you also excluded the device? Do you mean you have re-interview it?

[2021-02-01 13:13] joselito11 commented on #351
Hmm Ha addon zwaveJS2mqtt is 0.9.0, should install in via docker to get 1.0.1?

[2021-02-01 13:14] robertsLando commented on #391
@chrish987 this is by design, when I receive values updates I don't keep a storage of them so I keep the time of when I read the value. @AlCalzone Any thoughts about adding this on zwave-js side? As you are storing all values in a db

[2021-02-01 13:15] robertsLando commented on #351
@joselito11 Do you see the `hexColor` value in control panel?

[2021-02-01 13:17] robertsLando commented on #375
Sorry but I have no clue about what's going on here. What I can suggest is to enable the zwavejs server from settings and give a try to the new hass zwavejs addon

[2021-02-01 13:21] joselito11 commented on #351
No

[2021-02-01 13:26] robertsLando commented on #351
@joselito11 I need some logs and/or a node export to check

[2021-02-01 13:28] crxporter commented on #399
Sure, the screenshot was to show that there are indeed columns to the right.

Here's what the experience looks like on mobile. Instead of getting columns on the right, the screen flashes a bit and I end up at "Home Assistant" tab.

![IMB_FcWtKT](https://user-images.githubusercontent.com/38265886/106464905-e9f84f00-645e-11eb-8064-7e3cd6c10efd.gif)

[2021-02-01 13:34] robertsLando commented on #399
@crxporter It was supposed to work in that way but some of latest UI changes have break this. WIll fix ASAP. Thanks for reporting

[2021-02-01 13:55] AlCalzone commented on #391
You should distinguish between values read from cache and the one that are emitted as value events from zwave-js during the interview. IMO zwavejs2mqtt shouldn't emit updates for values it reads from cache.

I've solved this in iobroker.zwave2 the following way:
On "node ready":
* If the interview stage is `Completed` do nothing (the interview was just completed and we got updated values)
* If the

[2021-02-01 13:59] robertsLando commented on #391
I do this as it could be that for some reason aa user has cleaned all the retained values, in that case sending them on startup helps to keep the state updated

[2021-02-01 14:07] #400 closed

[2021-02-01 14:20] AlCalzone commented on #391
But there must be a way to say: "this value is not fresh, don't act on it!", right?

[2021-02-01 14:34] bachya commented on #375
No worries, @robertsLando. I tried the new home Assistant integration (using the websocket) and everything worked fine, so I'll go in that direction.

[2021-02-01 14:39] #107 closed

[2021-02-01 14:39] #118 closed

[2021-02-01 14:39] #345 closed

[2021-02-01 14:39] #374 closed

[2021-02-01 14:42] robertsLando commented on #375
@bachya Perfect glad it worked and sorry for the waste of time debugging this here

[2021-02-01 14:42] #375 closed

[2021-02-01 14:43] robertsLando commented on #391
@AlCalzone yep I could add a field for that in the payload, but could be doine also by including node info in the payload and make a check on the node stage (that is already available).

[2021-02-01 15:19] ahochsteger commented on #399
@crxporter I've created a PR to disable touch support for `<v-tabs-items>` that triggers a swipe of the tabs and hinders horizontal scrolling.
Would you be able to test this PR and confirm if it solves the issue for you?
cc @robertsLando

[2021-02-01 15:45] djaydev opened #415 "[question] Driver: Color Switch: property "targetColor" requires a property key, but none was given"
Running zwavejs/zwavejs2mqtt:master DIGEST:sha256:e4b7bf22fa8b4936a3f463817722cc1c1080245a4ae57de0388f66e7fab2c567
zwave controller: AEON Labs | Z‐Stick Gen5 USB Controller | ZW090

When changing the colors from home assistant I get the following error in zwj2m webui, and the colors doesn't change.

"controller status: Driver: Color Switch: property "targetColor" requires a property key, but none

[2021-02-01 15:45] joselito11 commented on #351
2021-02-01 16:43:07.331 INFO ZWAVE: Node 24: value updated: 38-0-currentValue 0 => 99
2021-02-01 16:43:07.387 INFO ZWAVE: Node 24: value updated: 38-0-currentValue 99 => 99
2021-02-01 16:43:07.446 INFO ZWAVE: Node 24: value updated: 38-0-currentValue 99 => 99
2021-02-01 16:43:07.563 INFO ZWAVE: Node 24: value updated: 38-0-currentValue 99 => 99

[2021-02-01 15:47] ahochsteger commented on #399
@crxporter the PR #414 is obsolete now since it was just a workaround.
@robertsLando is working on a real fix in PR #413.

[2021-02-01 15:48] scyto commented on #351
@joselito11  could i ask you to open another bug as:
1) you don't have a fibaro
2) your issue / symptom is utterly different as in your case you seem to have the node.

I would like to keep this issue focused on the fibaro color switch node not being created in hass discovery on zwavejs2mqtt.

thanks.

[2021-02-01 15:49] scyto commented on #351
@robertsLando  what do you need from me for progressing with this issue about the color switch in the fibaro not being created within zwavejs2mqtt hass discovery information?

[2021-02-01 15:58] joselito11 commented on #351
@scyto sorry

[2021-02-01 15:58] dkjsj commented on #400
Yes, thats right. I'll try the new version. Thanks!

[2021-02-01 15:59] scyto commented on #351
no worries :-)

[2021-02-01 16:07] robertsLando commented on #399
@ahochsteger Could you give that a try?

[2021-02-01 16:39] LordMike commented on #389
None of the above. The steps would be:

1. Include the device (from scratch - or pick any existing device)
2. Put z-wave into include mode
3. Do steps on the device to enable inclusion/exclusion.
4. Observe error

For my test, I used the Aeotec door window sensor 7. It has a switch on the side, that if you tap it three times, it can be included or excluded.

[2021-02-01 16:50] robertsLando commented on #415
Target color needs to specify `0` `1` or whatelse to specify the specific color to change (red green blue white etc..)

[2021-02-01 17:02] djaydev commented on #415
yea i shouldn't have opened this, im running bleeding edge zwavejs2mqtt docker image & HA beta docker image from 3 days ago.  It was working yesterday, I think i need to wait until the HA beta zwavejs integration gets updated

[2021-02-01 17:59] tommyjlong commented on #395
My mistake. After further investigation, in the G/W entry pull down, the item is actually present. It is listed as `Motion Status` as well as `Cover Status`.

[2021-02-01 17:59] #395 closed

[2021-02-01 18:40] djaydev opened #416 "[question] GE motion sensor not being identified"
Running zwavejs/zwavejs2mqtt:master DIGEST:sha256:e4b7bf22fa8b4936a3f463817722cc1c1080245a4ae57de0388f66e7fab2c567

I have the motion sensor below that shows up as unkown product.  The motion on/off alerts still seem to work.

Device info from ozw:
Manufacturer id="63" name="GE (Jasco Products)"
Product type="4953" id="3133" name="ZW6302 Portable Smart Motion Sensor"
"OzwInfoPage" http://www.openz

[2021-02-01 21:00] ahochsteger commented on #399
@robertsLando looks much better.
When I simulate a IPhone X (same applies to a Pixel 2) in the Chrome developer tools there still seem to be the problem that some controls (colapse icon, selection checkbox) are not visible without scrolling even though there should be enough space available:
![image](https://user-images.githubusercontent.com/207989/106516187-f9b37a00-64d6-11eb-90a4-b8557ad67583.pn

[2021-02-01 22:02] chrish987 commented on #391
A bit more background on what I am trying to achieve. I would like the zwave s/w to be the master of storing values related to zwave nodes, and provide a mechanism to query for these values at any time, this should not only be via a pollValue call which for a battery device could wait until the device wakes up, but by a getValue which could retrieve from cache - in this case the time that the actu

[2021-02-02 00:50] blhoward2 opened #420 "[bug] UI ignores association group naming from device files"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

The UI displays the association group name from the device even where we have a corrected descrip

[2021-02-02 01:17] tommyjlong commented on #392
I hope you don't mind giving me a helpful hint for how to start out writing a function for the Parse Send (I'm not very familiar with node programming).

I have the following that I have been playing with
[code]
The log output is:
[code]
I just can't get the return to work.

[2021-02-02 03:05] blhoward2 opened #421 "[bug] recent binary sensor changes break double taps and other undefined notification events"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

#396 changed the manner in which binary sensors with only two states are handled. As a result, do

[2021-02-02 06:03] billiaz commented on #421
That is something we can fix.

Can you post:
1. node export
2. the specific endpointn breaking?

I need to find the bug, I did not face this! but It doesn't mean it does not exist

[2021-02-02 06:03] blhoward2 commented on #416
This should be opened at the node-zwave-js project. It will be fixed as part of our importation of the zwave alliance files (Nos. 2189, 2157, 1901, and 2124). Recommend closing @robertsLando.

[2021-02-02 06:06] blhoward2 commented on #132
This is now achievable with #245 to refresh just the dynamic values. Recommend closing @robertsLando.

[2021-02-02 07:08] robertsLando commented on #392
@tommyjlong the function doesn't need to have the signature specified, only the body. What you need to write inside the parseSend function is something like:

[code]

[2021-02-02 07:31] AlCalzone commented on #391
This is already possible in `node-zwave-js` - the method is called `getValue`. I'll leave it up to @robertsLando to decide if it makes sense to expose it through zwavejs2mqtt, since MQTT should have all the cached values anyways if I understand correctly, since any changes in the `node-zwave-js` cache notify zwavejs2mqtt immediately.

`zwavejs2mqtt` adds this value - I guess it doesn't distinguish

[2021-02-02 07:32] AlCalzone commented on #420
Duplicate of https://github.com/zwave-js/node-zwave-js/issues/1304

[2021-02-02 08:49] robertsLando commented on #391
Like for the values, nothing is stored so it is updated when I receive something from a node (or more in general an event from zwavejs regarding that node).

[2021-02-02 08:50] robertsLando commented on #420
Closing this here

[2021-02-02 08:50] #420 closed

[2021-02-02 08:50] #416 closed

[2021-02-02 08:50] robertsLando commented on #416
Tx @blhoward2

[2021-02-02 08:51] robertsLando commented on #132
Yep thanks :pray: :smile:

[2021-02-02 08:51] #132 closed

[2021-02-02 09:13] robertsLando commented on #399
Not so good yet

[2021-02-02 09:14] robertsLando commented on #389
Still don't get it

[2021-02-02 09:21] robertsLando commented on #351
@joselito11 I think you are running an old version of zwavejs2mqtt or zwavejs because I don't see that value

[2021-02-02 09:58] LordMike commented on #389
What if you try with one of your devices?

* Where you'd normally put the network in exclude mode, and do something with the device (tap it, wake it, ... whatever is needed)
* Put the network in _include mode instead_

I think maybe the network frames for include/exclude is the same, so it completely depends on the controller, what the resulting action is. If the device was able to communicate tha

[2021-02-02 10:21] haavardNO commented on #198
@robertsLando has there been any retain policy changes recently? I just updated to the 1.0.1 version, and my garage opened by itself again...

[2021-02-02 10:30] robertsLando commented on #198
@haavardNO maybe you just restarted the application? In that case when the value is added it is sent. Also check mqtt explorer to see if it is retained or not

[2021-02-02 10:40] joselito11 commented on #351
I updated the addon now:
[code]
app version 1.0.2 zwavejs version 6.1.1
https://imgur.com/UYPCxcc

On Off is now working fine, but still no colors

[2021-02-02 12:20] AlCalzone commented on #389
That! We only get a notification that a node was added along with its node ID. I didn't think that including an already included device would work, but it seems that it does. `node-zwave-js` just overwrites the old node instance. A few timers might not get cleaned up in this case, but I don't think this is too critical, since it is still the same device.

Since the error comes from zwavejs2mqtt, t

[2021-02-02 12:28] LordMike commented on #389
The add process fails with the exception shown above - `Error while adding node 24 node has been added twice`. I suspect zwavejs2mqtt doesn't register some handler, when that is raised... But should that error come in this case - if it's to be handled as you say?

[2021-02-02 12:45] robertsLando commented on #389
@LordMike That error is thrown on my side because if the node is added twice it's an error for me

[2021-02-02 12:59] AlCalzone commented on #389
@LordMike if you look at the stack trace, you'll see that the location of the error is **not** located in `node_modules/zwave-js` or `node_modules/@zwave-js`:
[code]

[2021-02-02 14:51] towerhand commented on #334
I just noticed the lock doesn't update the state in home assistant when manually operated, I can see the state change with the debug console in zjs2m. Is there something in this fix that could have caused that? otherwise I'll create a new issue.

[2021-02-02 14:54] robertsLando commented on #334
Could you enable debug logging and attach the logs? With the debug logleve you should see the mqtt message sent (if any) after the state update

[2021-02-02 15:37] towerhand commented on #334
I'm trying but my rp3 is struggling. The logs are growing considerably with the debug log level, over 200 MB when all nodes are completed.

2021-02-02 09:19:01.924 INFO ZWAVE: Node 22: notification: Manual lock operation
2021-02-02 09:19:01.927 DEBUG MQTT: Publishing to zwave2jsmqtt/yale_door_lock/notification/Manual_lock_operation: { time: 1612279141925, value: null } with options { qos: 0, retai

[2021-02-02 19:35] haavardNO commented on #198
@robertsLando I have done some more testing and yes you are correct. The behaviour occurs when zwavejs2mqtt is restarted. This is a bit scary since the application / rpi can restart for several reasons. And especially when I dont sit and wait for it :)
When restarted zwavejs2mqtt restores the value back to 0. I think zwave2mqtt used a slightly different approach. There the state would be set to "i

[2021-02-02 21:05] tommyjlong commented on #392
Thanks!
This is what I ended up with....had to add a case for wallmote sending null to also produce "Inactive" text in order to match zwave2mqtt's behavior.  :)
[code]

[2021-02-02 22:06] Gis70 commented on #104
Hello guy's i'm facing the same issue, so what did you do exactly in zwave-js2mqtt to make the motion detection work ? could you explain ? thx

[2021-02-02 23:40] Veldkornet commented on #345
Was this fix put into 2021.02.0b3?

I'm just trying to figure out why the binary state for all of my sensors just broke. Not only the door window but also motion.

All other entities are still working correctly.

![image](https://user-images.githubusercontent.com/10297361/106677045-4b800100-65b8-11eb-9483-a4e2227dd2b3.jpeg)

[2021-02-03 01:12] scyto commented on #351
I just pulled the latest :dev container.

I now seem to have 3 extra kwh sensors (all device 11-50-1)
Still no color switch in the home assistant discovery json despite it being listed in the node info.

![image](https://user-images.githubusercontent.com/11369180/106683724-e3aac580-6579-11eb-946f-d7ebc5b44d74.png)

[2021-02-03 08:26] #421 closed

[2021-02-03 08:32] robertsLando commented on #351
@scyto @joselito11 I really have no clue about what's wrong here. Did you also give a try to the new zwavejs addon on hass? Just enable the zwavejs server on zwavejs settings and it will create entities for you

[2021-02-03 08:35] #399 closed

[2021-02-03 08:37] robertsLando commented on #392
@tommyjlong Glad it worked for you, you also need to do the opposite and write a parseReceive function to support writes using text values

[2021-02-03 09:10] robertsLando commented on #198
@haavardNO Could you open an issue to keep track of this? I should skip sending cached values for stateless valueId (like this one) when application starts

[2021-02-03 09:13] joselito11 commented on #351
Have install the ZwaveJs addon and ZwaveJS integration(deleted before the old from mqtt addon) and is all same as with ZwaveJs2mqtt addon. For info I hade same problem on Zwave2Mqtt and you have fixed it there: https://github.com/OpenZWave/Zwave2Mqtt/issues/68, for test I had it installed few day ago and color was working.

[2021-02-03 09:18] robertsLando commented on #351
@joselito11 Could you send me some logs?

[2021-02-03 09:24] joselito11 commented on #351
The addon log dont show nothing whe I toggle light, the mqtt addon had showed it
I could only find dump of network, this is from the light-nodeid 24
[code]

[2021-02-03 09:26] robertsLando commented on #351
@joselito11 Enable logs to file on both general and zwave section, set loglevel to debug on both, go to store select those files and press on the bottom right button to export them in a zip

(remember to disable logs then, they becomes huge files in low time)

[2021-02-03 09:35] joselito11 commented on #351
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5917392/zwavejs2mqtt-store.zip)
Is this ok?

[2021-02-03 09:38] joselito11 commented on #351
All data:
[zwavejs2mqtt-store (4).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5917418/zwavejs2mqtt-store.4.zip)

[2021-02-03 09:46] robertsLando commented on #351
@AlCalzone Any clue why the `hexColor` value isn't created here?

[2021-02-03 10:32] haavardNO opened #434 "[bug] Scenes retriggers after zwavejs2mqtt restart"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version 1.0.1

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

### Describe the bug

As discussed with @robertsLando I am creating a separate issue.
When restarting the application Home Assistant will re-trigger a scene, and in m

[2021-02-03 11:30] AlCalzone commented on #351
[code]
According to the device, it supports Warm White (0), Cold White (1), Red (2) and Green (3), but not Blue (4).

[2021-02-03 11:37] AlCalzone commented on #351
https://community.zipato.com/topic/no-blue-channel-for-rgbw-bulb-2 --> Might be a firmware issue

[2021-02-03 12:28] joselito11 commented on #351
New logs:
[zwavejs2mqtt-store (5).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5918390/zwavejs2mqtt-store.5.zip)

[2021-02-03 12:33] AlCalzone commented on #351
Definitely a device bug:
[code]
I double-checked the data it sends and there is no bit for the Blue channel

[2021-02-03 12:50] towerhand commented on #334
Please let me know if you need anything else. Is it related to the PR fixing the notification path, or a new issue, or on my end?

[2021-02-03 13:01] joselito11 commented on #351
Thanks. But there is no option to upgrade without zipato hub?
Colors were working on old 1.4 and zwave2mqtt.

[2021-02-03 13:07] AlCalzone commented on #351
OZW probably had a workaround for this. You could ask the Zipato support for a firmware file to update.
The Aeotec support for example gives out updates if you ask.

[2021-02-03 13:08] AlCalzone commented on #351
Also, as a short-term workaround:
1. Shut down zwavejs2mqtt
2. open `<your-home-id>.values.json`, add this line at the end:
[code]
3. Start zwavejs2mqtt.
4. Leave your hands off the `refreshInfo` button!

[2021-02-03 13:13] joselito11 commented on #351
Will try later and report. Have also contacted Zipato for firmware.

[2021-02-03 13:23] robertsLando commented on #351
@joselito11 YOu can do this from the store explorer UI

[2021-02-03 13:26] AlCalzone commented on #351
Worth a try, but the driver should not be running to avoid inconsistencies in the cache.

[2021-02-03 13:41] robertsLando commented on #351
Humm maybe it's better if he stop zwavejs2mqtt and does the edit manually to be sure

[2021-02-03 13:42] robertsLando commented on #334
I'm going to release a new version, could be also a deivce issue btw. Open a separete log and attach all logs (both zwavejs and zwavejs2mqtt)

[2021-02-03 14:36] robertsLando commented on #434
@haavardNO Fix ready

[2021-02-03 14:48] #434 closed

[2021-02-03 15:03] edgauthier opened #436 "[bug] Garage door controller not properly detected"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.3
zwavejs version: 6.1.1

### Describe the bug

Not all attributes are discovered for a garage door controller node after migrating from zwave2mqt

[2021-02-03 15:13] robertsLando commented on #436
@AlCalzone

[2021-02-03 15:14] robertsLando commented on #436
@edgauthier I think this is due to the missing barrier operator CC support in zwavejs

[2021-02-03 15:16] AlCalzone commented on #436
Yep. @billiaz how are things looking on your frontier?

[2021-02-03 15:20] edgauthier commented on #436
I'm happy to help out with testing if/when ready.

[2021-02-03 15:42] hvorragend commented on #409
I've created a zwavejs and zwavejs2mqtt debug-log.
Is it possible to send you these files via email?

[2021-02-03 15:52] AlCalzone commented on #409
That might be the issue. In some configurations, you won't receive all Lifeline reports **unless** you use a Multi Channel Association. You should let zwave-js manage the associations to your controller - it probably knows better. Associations to other nodes are not touched.

[2021-02-03 15:54] hvorragend commented on #409
It was working fine in FHEM with the lifeline reports.
But I will try to fix it on my side.

In the logs I can see that the there are some assocation adjustments.

[2021-02-03 15:55] AlCalzone commented on #409
I don't understand tbh. Is there something that is not working now - except that the lifeline associations are not what you're used to?

[2021-02-03 15:58] hvorragend commented on #409
Yes, I need the lifeline associations. But they are working fine and without any problem when I just set them to the master device.

Just ignore this now. I will now try to use the multichannel-associations in FHEM and after that I try another migration to your zwavejs2mqtt.

Thank you very much.

[2021-02-03 15:58] #409 closed

[2021-02-03 16:01] AlCalzone commented on #409
It might work for you but trust me that there are devices that react really strange if they don't get multi channel associations if the specifications say they should but they don't have them.
I've spent hours on figuring out what the correct strategy is

[2021-02-03 16:02] hvorragend commented on #409
Thank you for the clarification. It may very well be that I've been doing this wrong for years. :-)

[2021-02-03 16:10] Cyberwizzard commented on #345
Update: using the latest dev build my sensors came alive it seems; will add more and report back!

[2021-02-03 16:20] joselito11 commented on #351
Thank you both for help and support!
Have problem to change the file, store UI can not open any file, can only download.
I have edit file via Portainer console, but can only do this by running addon(if the addon is stopped, portainer in ha wont show it).
No change after. Tried also with addon restart.
Logs:
[zwavejs2mqtt-store (6).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5919905/zwavejs

[2021-02-03 16:36] AlCalzone commented on #351
Hm, that didn't get picked up. The linked cache file is back to false and [0,1,2,3]

[2021-02-03 16:54] joselito11 commented on #351
Yeah, but no option to edit when the addon is stopped.

[2021-02-03 16:55] AlCalzone commented on #351
@robertsLando any more ideas? I didn't see anything in the log where this was overwritten.

[2021-02-03 17:07] scyto commented on #351
Happy to try the new integration when it is available, at this time it is not in my list of available integrations.

Also I am not sure if I am communicating the issue - it is that the hass discovery json that is being created by zwavejsmqtt doesn't contain the color switch of the device and as such the zwavejs2mqtt gateway is never populating my mqtt server with any discovery topics for the color

[2021-02-03 20:49] billiaz commented on #136
@awulf PR is ready for test drive thanks to @AlCalzone for finalizing it!
Want help to test drive this pr?

[2021-02-03 21:51] bachya commented on #347
@robertsLando FYI, I'm still experiencing this, specifically with two Schlage locks ("Allegion - BE469").

One of them, Node 16, shows correctly in the dashboard:

<img width="1162" alt="Screen Shot 2021-02-03 at 2 44 28 PM" src="https://user-images.githubusercontent.com/47216/106813524-55444b80-662e-11eb-82d4-1c3513745bbf.png">

The other, Node 5, shows as unknown in the dashboard:

<img width="1

[2021-02-03 22:00] AlCalzone commented on #347
@bachya
1. you have several interview of node 5 going on at once. I'm not sure why that happens since it shouldn't, but I've usually seen it when users are not patient enough and press the `refreshInfo` button too often.
2. Node 5 does simply not respond to the manufacturer info request, so we're not getting that information.

[2021-02-03 22:02] bachya commented on #347
Thanks, @AlCalzone. I was probably impatient. 😂 I'm still able to interact with the node and its entities, so the fact that it doesn't return info isn't the end of the world.

[2021-02-03 22:04] robertsLando commented on #351
The problem is not the discovery here, the problem is that the hexColor value isn't created for some reason because the device don't report the blue color

[2021-02-03 22:20] radiocolin opened #441 "[bug] manual updates on schlage BE468 zwave lock aren't sent to MQTT"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.3.ed6fbe3
zwavejs version: 6.1.1

### Describe the bug

Schlage BE468 is not updating properly after receiving manual lock events.

### To Reprodu

[2021-02-03 22:31] radiocolin commented on #441
node.json

`{"id":5,"deviceId":"59-20548-25417","manufacturer":"Allegion","manufacturerId":59,"productType":25417,"productId":20548,"name":"frontdoorlock","loc":"frontstoop","values":[{"id":"5-98-0-currentMode","nodeId":5,"commandClass":98,"commandClassName":"Door Lock","endpoint":0,"property":"currentMode","propertyName":"currentMode","type":"number","readable":true,"writeable":false,"label":"Cur

[2021-02-03 23:32] scyto commented on #351
Ah so it needs to report more than this?
![image](https://user-images.githubusercontent.com/11369180/106822994-0817a800-6635-11eb-8876-7d5db8e035c0.png)

[2021-02-03 23:35] scyto commented on #351
oh i note in that the current green is missing?
thats weird if what it reports is indeterminate I assume if i reinterview the node i can see if it changes?

[2021-02-04 00:31] jcam commented on #351
I see green up top in the middle column. I don't think yours is missing a color, I think that was the problem with jose's zipato.

[2021-02-04 00:33] scyto commented on #351
you are right! i didn't notice because it had the value 255

[2021-02-04 00:41] jcam commented on #351
The official integration was just released, if you want to try it out :)

[2021-02-04 00:50] marc-gist opened #442 "Set Configuration for Node via WS API, or even MQTT if not yet possible"
Thank you for a wonderful program.
I have used it with the new HA integration, but before I can replace the legacy system, I need to know how to send Parameter Value changes via automations?  One can do this vi HA in the original system via 'zwave.set_config_parameter'

How does ZwaveJS do it?  I can do via its UI, but I need automations to do it.  I also use Node-Red so hoped I could do it from t

[2021-02-04 00:56] scyto commented on #351
updating now, thanks

[2021-02-04 01:02] scyto commented on #351
and exactly the same issue (here you can see the same device represented via the new integration and by the old MQTT way)
![image](https://user-images.githubusercontent.com/11369180/106829716-8b3efb00-6641-11eb-82e2-26cce5baffba.png)

[2021-02-04 02:11] jtronicus commented on #442
Right now, HA does not support changing config parameters with the ZwaveJS integration.

What I am doing in the meantime is using MQTT to set parameters (you can have both MQTT and Websockets enabled at the same time)

[2021-02-04 03:02] scyto commented on #351
output of ```ts-node src/bin/client.ts --dump --node 11  ws://pi-zwave01:3000 | tee dump11.json```
[dump11.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5922870/dump11.json.txt)

[2021-02-04 04:26] chrish987 opened #443 "Graph view duplicate location values [bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.4
zwavejs version: 6.1.1

latest Release version

### Describe the bug

Cosmetic, does not seem to impact any functionality.

When navigating to t

[2021-02-04 07:29] joselito11 commented on #351
@AlCalzone @robertsLando have moved the stick to rpi and installed with docker compose, where I could edit the file.
Light has now rgb. Thank you both!

One last problem please to get fully working network: The Zipato light is in association with Zwave.Me wall remote controller with basic on/off - no scenes sending.
If I turn on/off with wall controller the light wont change status in HA, even aft

[2021-02-04 07:31] robertsLando commented on #351
You could enable poll of that value from gateway values table

[2021-02-04 07:34] AlCalzone commented on #351
Can you make a new issue in the node-zwave-js repo and attach a log where you control the light?

[2021-02-04 07:35] joselito11 commented on #351
Will do, the light show color picker, but can not change rgb or temperature

[2021-02-04 07:37] robertsLando commented on #442
If guess you are speaking about the zwavejs server, I dunno what it allows you to do and what not but you can use MQTT for that as it allows to send set requests to all values, check https://zwave-js.github.io/zwavejs2mqtt/#/guide/homeassistant?id=manually-create-entities

[2021-02-04 07:37] scyto commented on #351
I am confused why this is closed, my reason for opening the issue hasn’t gone away. Rather it seems my issue got hijacked for something else entirely.

[2021-02-04 07:42] robertsLando commented on #351
@scyto Sorry for that I saw comments from @joselito11 and thought it was fixed

[2021-02-04 07:46] scyto commented on #351
@robertsLando understand the confusion this thread went sideways :-)

back to the original issue, the fibaro seems to have the same issue via the new integration too. The color switch is not getting created. @jcam  asked for this output https://github.com/zwave-js/zwavejs2mqtt/issues/351#issuecomment-772990982 directly from the ws interface, in it capability 51 clearly has all the colors defined a

[2021-02-04 08:16] slobberbone opened #452 "[feat] Implement Mqtt standard specification"
It would be interesting to implement in this project the specification describe here :
https://homieiot.github.io/

However, MQTT doesn’t define the structure and content of these messages and their relation. An IoT device publishes data and provides interaction possibilities but a controlling entity will need to be specifically configured to be able to interface with the device.

The Homie conven

[2021-02-04 08:26] robertsLando commented on #452
I received a similar request on the onl zwave2mqtt too. I'm open to implement this as long as it doesn't introduce any breaking change or complication. If you would likke to help me in this we can speak about it

[2021-02-04 08:27] slobberbone commented on #452
Yes of course, we are several people at NextDom, and this kind of request could interest other projects like HA ... we would be able to find some arms to work on it !

[2021-02-04 08:41] Cyberwizzard commented on #345
Update after one day: so far they have been working rock solid - thanks for the fix!

[2021-02-04 09:03] robertsLando commented on #345
Thanks for the feedbakc :)

[2021-02-04 09:17] robertsLando commented on #452
@slobberbone Awesome! :) LMK

[2021-02-04 09:21] jonathan-reisdorf commented on #394
Thanks. I guess then unless we have a way of also caching/persisting the values from last time when the interview was completed, the only thing we can do here is show a small hint so that others know they have to wake up their passive device first in order for it to show up in the list.

[2021-02-04 11:53] awulf commented on #136
@billiaz I'd like to help to test, but I'm not sure how? I modified the `Dockerfile` for `zwavejs2mqtt` to use the branch `cc/barrier-operator`, built the image and have it running (all done on my Synology NAS). But not seeing any barrier operations.

I've attached the node json file just incase it's of any use.
[node_8.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5925500/node_8.json.t

[2021-02-04 12:59] jcam commented on #351
This has currentValue and targetValue for red, green, blue, and warm white, and it has hexColor

In the basic node values, my zooz has "specific":"Tunable Color Light", while yours has "specific":"Multilevel Power Switch"
@AlCalzone @robertsLando do you know what is keyed from to know if a light is color or not? is it this "specific" field?

@scyto I'm attaching my zooz RGBW, which is just the new

[2021-02-04 13:16] marc-gist commented on #442
Thank you, i will check the mqtt, but would rather not enable it if I can do it via Websocket,

Why close this request? shouldn't the zwavejs server also allow this to happen? or is this not the correct place to request that?

[2021-02-04 13:42] towerhand commented on #442
Maybe try here https://github.com/zwave-js/zwave-js-server

[2021-02-04 13:42] robertsLando commented on #442
Reopening and transferring the issue there

[2021-02-04 13:44] #394 closed

[2021-02-04 13:44] robertsLando commented on #394
@jonathan-reisdorf  Made it more clear in docs :)

[2021-02-04 13:45] robertsLando commented on #443
@chrish987 Fixed in #456

[2021-02-04 13:45] #443 closed

[2021-02-04 14:00] robertsLando commented on #384
@ahochsteger I have an idea about this. We could keep using the d3 network plugin we are using now, add a dropdown (with search) list where you can select the nodes to show in the network (by default all are selected) and add some checkboxes to hide/show ionformations about those nodes. For example we could add `Show Neightbors` (to show/hide all nodes that are neightbors of the selected ones) `Sa

[2021-02-04 14:09] jarrettv commented on #384
so major needs are:

- identify how many hops from controller
- identify link quality (nodes with few/weak connections)

I feel like a social network graph that shows hops from controller would be best. Here is how I picture it:
![image](https://user-images.githubusercontent.com/219295/106903717-f3ccbd00-66bf-11eb-946c-886b0d2eb92b.png)

[2021-02-04 14:16] jarrettv commented on #384
Another interesting idea is to let the user move individual nodes on a canvas and store the x/y positions. Then they can group or move them around how they like. For example, i'd likely have controller in the middle and put second floor above and first floor below roughly in the shape of my floorplan.

[2021-02-04 14:16] robertsLando commented on #384
@jarrettv Yep but someone would also know if a device is secure or not? We could create multiple visualization types like 'Hops' 'Node types' etc based on what the graph should show at first sight?

[2021-02-04 14:18] robertsLando commented on #384
Sure that's nice, the problem is also to find a js library for this, because building it by your own is huge, D3 offers a large set of choices and maybe has something that fits our needs

[2021-02-04 14:34] robertsLando commented on #384
BTW I'm still conviced that converting [this](https://github.com/AdamNaj/ZWaveGraphHA/blob/master/zwavegraph3.js) into a vue template would be the best choice for us

[2021-02-04 16:30] robertsLando commented on #384
Just drafted a PR @jarrettv @ahochsteger

[2021-02-04 17:10] majorsl opened #459 "New to zwavejs - ProtocolInfo questions [question]"
I'm moving over from OpenZWave and am using Zwave to MQTT.  I was able to use my existing network key and all of the devices from my controller show up.  So far so good.

Wired devices are working perfectly.  Every battery device I have is reporting ProtocolInfo under the interview stage.  I understand battery devices can take a few hours.

However, I have one of the motion sensors I moved to my d

[2021-02-04 17:21] Swiftnesses commented on #132
@blhoward2 I tried this via the UI and it works! How do I trigger a refresh via MQTT? Thank you, both.

[2021-02-04 17:26] blhoward2 commented on #132
Publish to:

homeassistant/_CLIENTS/ZWAVE_GATEWAY-[nodeid]/api/refreshValues/set

With a payload of:

{
"args": [nodeid]
}

Replace the [nodeid]s.

That's for manual polling basically. If you want polling on a set interval there is now polling support too.

[2021-02-04 17:47] Swiftnesses commented on #132
Sorted just as you posted, thank you, this was the only thing missing from OZW.

[2021-02-04 18:38] Giel538 commented on #459
I have also one question about migrating from OpenZwave.

The MQTT topics in OZW where:

zwave prefex - node id - sub topic - 1 - all information

But in Zwave-JS it is

zwave prefex - node id - sub topic - 0 - all information

Is there anyway to change the 0 to a 1?  Otherwise i have te rewrite my complete code.

[2021-02-04 19:32] haavardNO commented on #434
Tried with the latest version now. 1.0.5, and there is still something strange going on.

Below is a screen capture from home assistant before I restart zwavejs2mqtt:
<img width="488" alt="Skjermbilde 2021-02-04 kl  19 55 31" src="https://user-images.githubusercontent.com/27728530/106943540-d92d2f00-6725-11eb-9a95-ebe5dac29aa7.png">

Then I delete everything in mqtt explorer that contains keyfob,

[2021-02-04 19:36] haavardNO commented on #434
Also, just as a reference I use the settings below:
![Skjermbilde 2021-02-04 kl  20 35 12](https://user-images.githubusercontent.com/27728530/106945798-8dc85000-6728-11eb-9b99-5927334124f7.png)

![Skjermbilde 2021-02-04 kl  20 35 30](https://user-images.githubusercontent.com/27728530/106945819-93259a80-6728-11eb-8e74-53c537da5637.png)

[2021-02-04 19:51] ODINServ commented on #459
This sounds simmilair to a thinking error I made: #48

[2021-02-04 20:01] thundergreen commented on #351
having exactly the same issue here. Fibaro RGB controller. Only lights for each color are created. In addon  I can use colo switch to change colors. I did not get it right here what u need to debug further as this is my only device in my whole network of 30 devices which das been recognised wrongly. I used openzwave addon before (depreated now) and swapped to JS .
If there's anything I can do to h

[2021-02-04 20:11] majorsl commented on #459
Ah, I see. Sending event doesn't always equal awake.  I see some of my devices are set to wake up every 12 hours.  I did manually do this by hitting the pairing button while issuing a Re-interview node which has those working.  I'm going to wait for some of the less important things for 12 hours to pass and see where I'm at.  Thanks!

[2021-02-04 20:11] ahochsteger commented on #384
@robertsLando thanks for starting the PR!

On my test setup there were too many failed nodes so I didn't see the relevant ones:
![image](https://user-images.githubusercontent.com/207989/106948477-0c72bc80-672c-11eb-90e2-06c80897f153.png)

I've added a simple filter to remove failed nodes to improve the relevant ones:
![image](https://user-images.githubusercontent.com/207989/106948620-39bf6a80-672c

[2021-02-04 21:37] #459 closed

[2021-02-04 22:18] robertsLando commented on #384
Thanks for looking at this @ahochsteger ! Will keep work on this tomorrow 💪

[2021-02-04 23:20] scyto commented on #351
@jcam  not sure how important this, i note as I change the color using this UI the device does change color.
![image](https://user-images.githubusercontent.com/11369180/106967437-095fd800-66fc-11eb-8089-056a4a69d3b7.png)

however i note the current values for RGBW never get populated (unlike @thundergreen  who i suspect either has later firmware or a v2 rgbw fibaro)

I do note that as the light ch

[2021-02-05 00:02] jcam commented on #351
zooz config options:
![image](https://user-images.githubusercontent.com/98744/106970725-8189c600-671b-11eb-968d-745c9ba40996.png)

[2021-02-05 00:07] scyto commented on #351
An update.

I rebooted my zwavejs2mqtt container to re-initialize everything.  Often when I do this the rgbw might be off as it is controlled by a load switch too.  It then usually self heals / discovers when turned on and i re-interview.

At first the interview process only found 8 of 14 node ID's, so i reinitialized.
For first time ever this caused an rgbw device to show up in MQTT explorer and

[2021-02-05 01:00] scyto commented on #351
I would suggest you create an issue in the integration repro (if such a thing exists, I see the same issue you do with the new integration, but as such i am going to stick with the MQTT path).

In terms of rediscovery try deleting and rebooting HAAS?
Or removing the integration and re-adding?

[2021-02-05 05:15] chrish987 commented on #391
any more thoughts on storing the time the value was received from the node in zwave-js and then passing that through to zwave-js2mqtt as payload?

[2021-02-05 05:16] chrish987 commented on #309
any thoughts on adding the getValue API to mqtt?

[2021-02-05 09:02] LordMike commented on #309
@chrish987 does it make sense?

Want to get a value over z-wave? Use pollValue(); Want to see a cached value? Read the relevant topic, if the values are retained (mqtt setting), they're always there.

[2021-02-05 09:15] robertsLando commented on #434
Did you delete all retained messages from mqtt broker right?

@billiaz Could you help in this?

[2021-02-05 09:16] robertsLando commented on #309
@chrish987 The getValue api has no sense, it fetches the value from cache and that's the same that is sent in mqtt. Like @LordMike suggested maybe you are looking for pollValue

[2021-02-05 09:17] robertsLando commented on #391
@AlCalzone ?

[2021-02-05 09:20] robertsLando commented on #351
Is this fixed so?

[2021-02-05 09:22] robertsLando commented on #384
I don't understand why the nodelist is always undefined in the handlers :thinking:

[2021-02-05 09:24] billiaz commented on #434
Let me check if my Scenes retain of course I can!

[2021-02-05 09:26] thundergreen commented on #351
Nope not fixed yet .still same issue afaik there was no commit/new release

[2021-02-05 09:41] AlCalzone commented on #391
I don't see the huge benefit, but I guess it could be interesting.

[2021-02-05 10:24] docbobo opened #469 "[feat] Healthcheck to consider MQTT only if enabled"
**Is your feature request related to a problem? Please describe.**
It's a mix between  a  bug and a feature request. Right now, documentation for the Healthcheck (/health) says that 200 OK is being returned when both MQTT and zwave are up and  running.  I am running  my  system with  MQTT  disabled  and the /health  check  returns 500. Technically,  this  is  exactly as described. However, I feel

[2021-02-05 10:27] joselito11 opened #470 "[bug] Zwave.Me wall controller not show all data"
I have Zwave.Me wall controller: https://www.benext.eu/static/manual/zwaveme/wallcontroller-wallc-s.pdf and it is not showing all data and no scene configuration. I have set up the node to send basic on off command to light in association in zwave 1.4.
I have ZaveJs2mqtt addon version HA 0.2.3,  App version 1.0.3, ZwaveJs version 6.1.1
![Zaslonska slika 2021-02-05 10-51-26](https://user-images.git

[2021-02-05 12:48] billiaz commented on #434
@robertsLando I do see these getting retained on my broker too

[2021-02-05 12:55] billiaz commented on #434
@haavardNO state 0 means inactive right? should this be empty? I see MQTT refreshes value and cleans it after 1 second but the payload is there without value.

Looking into my Button from Aeotec I have this

[code]

most probably this:     `"value_template": "{{ value_json.value}}",` returns the 0

can you share with us your node export and also the specific MQTT payload under the device?

[2021-02-05 13:00] haavardNO commented on #434
state 0 means button press. So the system triggers on state 0.
When I press the button the 0 state disappears after a short while.

[code]

[2021-02-05 13:03] haavardNO commented on #434
I have the same behavior on both the aeotec quadmote and the fibaro keyfob.

[2021-02-05 13:12] aretakisv commented on #434
It can be hass behaves differently in this case! I suggest to move to a new issue and investigate the template we send to hass! this way we might be able to fix the HASS only part.

[2021-02-05 14:25] ratsputin commented on #436
I'm having this exact same issue with a Nortek Security NGD00Z-4 garage door controller.  I just made the migration from Zwave2Mqtt over to here and am dead in the water right now.  I'm happy to test as well.

FYI, I'm using Home Assistant on the backend, so I can test there, too.

[2021-02-05 14:52] AlCalzone commented on #436
Check out the linked pr and try with that. A how to is in the zwavejs2mqtt docs.

[2021-02-05 16:13] robertsLando commented on #370
Dups of #384

[2021-02-05 16:13] #370 closed

[2021-02-05 16:14] robertsLando commented on #384
For anyone interested, give a try to: https://github.com/zwave-js/zwavejs2mqtt/pull/458

[2021-02-05 16:52] ivdimitro commented on #470
I have the same problem with the Aotec zStick Gen5+. The device is recognised correctly but no options are displayed with zwavejs2mqtt. With zwave2mqtt the options were visible.

[2021-02-05 17:36] FeatureExpert commented on #400
Still no climate entity for LCZ251.

`'2-3-5': [DANFOSS_TRV_ZWAVE], // Danfoss Living Connect Z Thermostat 2.51 (LCZ251)`

in hass/devices.js fixed problem for me.

[2021-02-05 17:46] bdbogjoe opened #471 "[bug] Scene notification not published to MQTT"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.1.0

### Describe the bug

Using Node 54 (Fibargroup | Dimmer 2 | FGD212) the scene is not published anymore to MQTT, was working fine in 1.0.0, but using current version or even 1.0.1 it does not work anymore

here the logs when work

[2021-02-05 17:55] robertsLando commented on #471
@billiaz is this the same issue of the other one? Maybe something about stateless values?

[2021-02-05 20:54] billiaz commented on #471
I am interested to also see what driver sends... do we have a mixed log, or driver is not involved in this?

[2021-02-05 21:23] Chaotic opened #472 "[feat]Option to turn off MQTT server"
**Is your feature request related to a problem? Please describe.**
A way to shut off the MQTT server in the docker while using the websocket

**Describe the solution you'd like**
I'd like a way to shut off the MQTT portion of the gateway while still being able to use the websocket gateway.  It seems there is a way to shut off the websocket gateway and just use the MQTT one but not a way to do the

[2021-02-05 21:26] bdbogjoe commented on #471
i attached all logs, open the zip

[2021-02-05 22:41] ratsputin commented on #436
Okay, so I did the `npm install zwave-js@6.1.3-0-pr-1337-77c6cad` per the PR, an `npm build` and reran `bin/www`.

Here's the reported ZwaveJS version: `6.1.3-0-pr-1337-77c6cad`

I don't see any actions I can take with the node, nor am I seeing it recognized as a device with a Home Assistant template.  Should I be?

Here is the debug information:
[code]

[2021-02-05 23:04] ratsputin commented on #436
I don't know if this helps but it's a screenshot from Zwave2Mqtt of the user settings.
![image](https://user-images.githubusercontent.com/32401888/107098121-22d45300-67d4-11eb-9c0e-9285632f9cec.png)

[2021-02-05 23:11] towerhand commented on #472
Try the disable gateway toggle.

[2021-02-06 00:40] scyto commented on #351
My original issue which is MQTT based is fixed - it seems to be either unreliable device, or some weird condition during initialization at boot time of MQTT if the device is turned off.  Either way at this time I have a color wheel via MQTT and now see the right things in MQTT and in HA via MQTT.

For issues about this device and the new js integration integration I would encourage @joselito11  an

[2021-02-06 01:22] chrish987 commented on #311
did you mean this is already possible using existing gateway configuration, or that it can easily be added as a feature?

[2021-02-06 01:33] chrish987 commented on #309
I understand the difference between pollValue and getValue.

Currently I don't have retain turned on, as I don't think this works for all types of update (I have raised another ticket to request this as an enhancement to configure per gateway item).

What I am trying to achieve is an architecture where device values are mastered close to the source - and the closest is in the zwave software. The m

[2021-02-06 01:37] Chaotic commented on #472
That also hides all the options for the websocket gateway so I assumed that shut that off as well.

I just quickly tested it and it does seem to shut off the websocket as well as MQTT.

[2021-02-06 04:25] shreram opened #476 "[bug] Docker install on Unraid - not working"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.5
zwavejs version: 6.0.0

### Describe the bug

I installed this on Unraid but this container is not working correctly.

Here is the install comm

[2021-02-06 06:16] FreelancerJay commented on #472
I've been running with "Disable Gateway" ticked, and my Home Assistant instance connecting to it via WebSocket:
![Screen Shot 2021-02-06 at 5 14 15 pm](https://user-images.githubusercontent.com/67540736/107110812-03eec300-689f-11eb-98a3-0cbd68b9d801.png)

[2021-02-06 07:25] robertsLando commented on #472
Just toggle the disable gateway flag, that's the way to do it. If you are using docker use the dev tag instead of the latest

[2021-02-06 07:25] #472 closed

[2021-02-06 07:35] thundergreen commented on #351
Of course that's the same issue for me here .this dimmer just won't be added as RGB but light switches for each color. What's steps have to be done to get this dimmer as a RGB light onto Hass ?what's needed to debug the error ,  would be sad if this issue has been closed due to one person who somehow fixed his issue but the others still face same issue

[2021-02-06 07:49] joselito11 opened #477 "[bug] Zipato v2 rgb not showing/working colors"
The bug was already described here: https://github.com/zwave-js/zwavejs2mqtt/issues/351, but the issue was closed.
The same bug was on old integration on zwave 1.4 in HA and in zwave2mqtt.
I have contacted few times Zipato support to get firmware update, but they dont respond.
### Version

Build/Run method

- [ x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zw

[2021-02-06 08:53] AlCalzone commented on #436
@ratsputin change Barrier State to Opened and click on the action button.

[2021-02-06 10:22] robertsLando commented on #309
@chrish987 INstead of exposing that api I would prefer to fix the things that should not be retained. MQTT retain is once of the features that make mqtt the perfect protocol for iot (along with the topic structure and more)

Also what I plan to do is to make the qos and the reatin flag configurable from gateway values table (you find it on general or gateway section based on the version you are ru

[2021-02-06 10:23] robertsLando commented on #311
this is my next feature in todos, along with custom qos level :)

[2021-02-06 10:24] robertsLando commented on #477
@AlCalzone ?

[2021-02-06 10:34] robertsLando commented on #469
@docbobo Maybe it's not documented but you can request the healthcheck of just mqtt/zwave by adding `mqtt` or `zwave` as suffix.

Source: https://github.com/zwave-js/zwavejs2mqtt/blob/master/app.js#L225

[2021-02-06 10:35] robertsLando commented on #469
It's documented: https://zwave-js.github.io/zwavejs2mqtt/#/guide/healthcheck?id=health-check-endpoints

[2021-02-06 10:36] robertsLando commented on #476
@shreram what isn't working properly? logs are good, they just say that you haven't added any settings yet

[2021-02-06 10:36] #476 closed

[2021-02-06 11:02] docbobo commented on #469
I am fully aware that it's documented. That's the reason why I filed this as a feature request, not as a bug. BTW, that's also what I wrote in the description above ;)

Here's why I still think it matters:
- The GitHub repository contains Kubernetes manifests. Those manifests use `/health` as a liveliness probe.
- When MQTT is enabled, that all works nicely.
- When someone disables MQTT, everythin

[2021-02-06 11:07] robertsLando commented on #469
OK now I got it, in poor words you would like that the `/health` api to check also settings and return `200` if mqtt is disabled instead of return `500`. Seems legit, sorry I didn't get this in your first question

[2021-02-06 11:16] docbobo commented on #469
Yes, that's what I meant.

And don't get me wrong: I changed the endpoint and have everything working. The current design just makes it impossible to e.g. create a helm chart that works out of the box for everyone.

[2021-02-06 11:39] AlCalzone commented on #477
The latter log looks like you (or HA?) is trying to set a color channel without specifying which channel. @marcelveldt?

[2021-02-06 11:55] marcelveldt commented on #477
I'm a bit confused by this error report. **What is the issue and where does it happen?**
Does setting the color work from the zwavejs2mqtt control panel?

This sounds like the propertyKey issue we had a few days ago in the server but this is resolved.
If you run the latest Add-on version of either the Z-Wave JS Add-on or the Z-Wave JS 2 MQTT add-on, the propertyKey should be there, we missed that

[2021-02-06 12:06] joselito11 commented on #477
On 1 and 2 image you can see there is no color picker in HA and no blue color in ZwaveJs2mqtt addon.
I can not set colors and temperature in ZwaveJs2mqtt addon and not in HA, problem is on both sides, not only HA.
I can only on, off, dim.
I have the latest addon version 0.3.0, app version 1.0.5.

[2021-02-06 12:12] ratsputin commented on #436
@AlCalzone apologies that I was unclear.  The screenshot was from Zwave2Mqtt.  With the PR installed from zwavejs2mqtt there are no actions, settings, etc.  It’s not recognized as a cover.

[2021-02-06 12:25] marcelveldt commented on #477
Ah, okay. I understand. Can you make a full dump for us ?
Home Assistant --> Settings --> Integrations --> Z-Wave JS --> Configure --> Click the dump link

share that dump (or extract only this node from it) here please. So we'll have an oversight of all value on your node.

[2021-02-06 12:34] haavardNO commented on #434
@robertsLando please advise on how to proceed. Should I create yet another case?

[2021-02-06 13:10] AlCalzone commented on #436
So is this issue about support in HA then?

[2021-02-06 13:14] AlCalzone commented on #477
To work around this device firmware (!) issue on the zwave-js side, we need to add a compat flag that allows us to override specific values and avoid querying them from the device (because in this case the supported colors response is simply wrong).

[2021-02-06 13:15] joselito11 commented on #477
light is node 24:

[zwavedump.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5936852/zwavedump.txt)

[2021-02-06 13:15] billiaz commented on #434
@haavardNO this retriggers on HASS side right? I suggest to create a new issue for the HASS side in that case.
As the driver works as shuold (MQTT) topic, we probably need to workout the HASS discovery side.
Is that the case?

[2021-02-06 13:19] billiaz commented on #436
once CC works as should, we can begin with zj2m I believe.
@ratsputin I think you are using an Old Zj2m! the newer version groups CCs in separate tabs

can you upgrade to latest master branch for this?

[2021-02-06 14:05] scyto commented on #351
You are using MQTT and not the new zwavejs integration?

[2021-02-06 14:08] haavardNO commented on #434
@billiaz Yes, it triggers on HASS side. But the values has to come from something. Even after I delete the toppics it retriggers.
If a new issue on the HASS side is needed, can someone with the required knowledge create that one?

[2021-02-06 14:18] scyto commented on #477
Different devices deserve different issue in GitHub because one fix per manufacturer is needed. Also my fibaro device started working via mqtt with no change or fixes on my part. So it is yet unclear it is thus the same issue (root cause) vs symptom. Have you seen your do what I describe?

[2021-02-06 15:03] scyto commented on #351
additional related information - just saw this, my other software has issues with this fibaro device too, unclear to me if this same root issue as I have been seeing with zwavejs
https://github.com/Z-Wave-Me/z-way-issues/issues/163#issuecomment-774340754

[2021-02-06 15:07] DelusionalAI opened #483 "[feat] Choose Firmware Target."
Some zwave devices have 2 or more MCU's that can be updated over zwave. Right now you cant pick what target you would like to update, it just defaults to target 0.

The inovelli light switches are an example of this.

https://support.inovelli.com/portal/en/kb/articles/firmware-change-log-lzw31-sn-dimmer-switch-red-series

[2021-02-06 15:21] shreram commented on #476
I couldn't access http://localhost:8091 site to add any settings. I tried using the IP address but the same issue.

[2021-02-06 15:25] shreram commented on #476
Nevermind. I found the issue with the docker container setup. For some reason, the 'host port' was empty. I corrected that and added 8091. Now I can access the UI.

![image](https://user-images.githubusercontent.com/16169720/107122383-1d6f1b00-685d-11eb-8f7a-43274c4f5d20.png)

[2021-02-06 15:26] billiaz commented on #434
Please open an issue here, not on hass, for the hass discovery. To get a try fix it.
As this issue covers the driver/mqtt part.
Include both device exports, for me to create a pr and test container

[2021-02-06 15:47] haavardNO commented on #434
Just to verify that I havent messed up.
Is the the reqomended settings for the broker on HASS?
<img width="402" alt="Skjermbilde 2021-02-06 kl  15 14 51" src="https://user-images.githubusercontent.com/27728530/107122922-0818e180-689b-11eb-912d-362993275a7d.png">

[2021-02-06 16:07] crxporter opened #484 "[feat] Rearrange table columns"
PR #407 added ability to show/hide columns, I really like that feature.

Can we get the ability to rearrange columns? Could be dragging left/right on the table or dragging up/down in this view:

![Screen Shot 2021-02-06 at 10 06 49 AM](https://user-images.githubusercontent.com/38265886/107123425-1945fc00-6863-11eb-9b3f-856ee7dc05fe.png)

I would like to put "Name" and "Location" columns to the far

[2021-02-06 16:25] shreram commented on #476
How do I troubleshoot this error message?

[90m2021-02-06 10:04:47.776 [39m  [32mINFO [39m  [1mAPP [22m:  [0mGET /api/store  [32m200 [0m 2.648 ms - 220 [0m
[90m2021-02-06 10:04:49.044 [39m  [32mINFO [39m [1mAPP [22m:  [0mGET /api/store/%2Fusr%2Fsrc%2Fapp%2Fstore%2Fzwavejs_1.log [32m200 [0m 5.901 ms - 19155 [0m
[90m2021-02-06 10:04:59.962 [39m [32mINFO [39m [1mAPP [22m:  [0mGET /api/settings  [32m2

[2021-02-06 17:26] dvbit opened #485 "[bug] zwavejs2mqtt not starting - out of memory"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
latest

Build/Run method
- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: latest
zwavejs version: latest

### Describe the bug

node bails out with out of memory message
`|___  /                      (_)   |__ \

[2021-02-06 17:28] haavardNO opened #486 "[bug] Issue with HASS discovery"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.5
zwavejs version: 6.1.2

### Describe the bug
After zwavejs2mqtt restart states will be repopulated in HASS and then retrigger automations.
Scree

[2021-02-06 17:56] scyto commented on #351
@AlCalzone log as requested
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5937338/zwavejs2mqtt-store.zip)

[2021-02-06 18:29] biiiink opened #487 "[question] Failed to initialize the driver: Timeout while waiting for an ACK from the con troller"
I am getting this error:

`18:13:25.087 SERIAL » 0x01030015e9 (5 bytes)
18:13:25.088 DRIVER » [REQ] [GetControllerVersion]
18:13:26.091 CNTRLR Failed to execute controller command after 2/3 attempts. Scheduling next try i
n 1100 ms.
18:13:27.193 SERIAL » 0x01030015e9 (5 bytes)
18:13:27.194 DRIVER » [REQ] [GetControllerVersion]
18:13:28.199 DRIVER Failed to initialize the driver: Timeout while wait

[2021-02-06 18:59] LordMike commented on #309
@chrish987 you can also get the current values, iirc, with the [getNodes() api's](https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=apis), as a workaround. If you access the node id you want, you should find a `values` property with a dictionary/map of each value the node has.

It's _a lot of data_.. 100's of KB... but it should work.

[2021-02-06 19:15] billiaz commented on #434
@haavardNO HASS caches the last value, when we send a state without value keeps the old. this means we need some how to reset it.
By opening a bug on our issues but fo rHASS discovery! I could start working on this specific bit, which is Different from what this topic solved.!

[2021-02-06 19:18] LordMike commented on #487
You can test by giving your pod access to all devices, via the [`privileged` option](https://docs.docker.com/engine/reference/run/#runtime-privilege-and-linux-capabilities). It's "worse" for security, but it could reveal if this is a permissions thing.

[2021-02-06 19:21] haavardNO commented on #434
@billiaz thanks for the explanation. see https://github.com/zwave-js/zwavejs2mqtt/issues/486

Please note that the original zwave2mqtt handled this a bit differently. There the state was set to inactive unless it was activated, then back to inactive again.

[2021-02-06 19:27] biiiink commented on #487
I did just try that.  Same result

[2021-02-06 20:05] LordMike commented on #487
Oh - but wait.. You're using the device as a volume.. Devices are special in docker.. You need the `--device` parameter, and not volumes. What happens with `privileged`, and then using `/dev/serial/by-id/usb-0658_0200-if00` in zwavejs2mqtt ?

[2021-02-06 20:10] biiiink commented on #487
Just tried that.  still the same error. and then the serial port setting reverts back to the previous setting

[2021-02-06 23:19] chrish987 commented on #309
ok. sounds good. thanks.

I had seen the getNodes() - but as you say a lot of data to just get 1 value :)

[2021-02-06 23:37] crzykidd opened #488 "GC-TBZ48 gets 40 as max_temp setting in HASS JSON."
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.5
zwavejs version: 6.1.3

### Describe the bug
When adding the GC-TBZ48 thermostat the max_temp is set in the JSON for HASS to 40.  I believe this is being pulled from: ./hass/configuration.js    This is the only place I can find reference to it.  The dev

[2021-02-06 23:41] chrish987 opened #490 "Timezone support for logging [feat]"
Is it possible to add TZ support to the docker image, and then have logs timestamped in local timezone?

I can install this manually or build a container from the published images - but nice to have it in by default. I have tested the manual install and the log date is then in the correct TZ.

Be nice to be able to pass the TZ in a docker ENV variable.

[2021-02-07 00:11] scyto commented on #351
Reopening as I can now provide better info as i understand files and logs.
I replaced the failing fibaro rgbw with identical and updated to latest firmare.
Issues:

**MQTT hass discovery**
With MQTT hass discover the RGBW device is never added to the discovery json and thus never propagated to MQTT hass discovery topics.  Note out of maybe 100 re-interviews of the device the hass discovery json va

[2021-02-07 00:38] chrish987 opened #491 "Valueup arrows in Graph view not working in Chrome [bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Latest release image

### Describe the bug

In the graph view clicking on the UP arrow to increase one of the display values does not work, value goes down. Seems like dow

[2021-02-07 00:47] chrish987 opened #492 "Add nodeid to status update payload [feat]"
Status (awake/alseep) updates do not have the nodeid in the message payload.

You can determine this from the topic, but would be better if it was in the payload.

Topic example: zwavemqtt/SideDeck/MultiSensor6/status
Payload: {"time":1612658379924,"value":true,"status":"Awake"}

[2021-02-07 01:04] ratsputin commented on #436
@billiaz @AlCalzone

Okay, just to clarify, I just did the following:

- A `git clone` to get a fresh copy of Zj2m
- An `npm install`, `npm run build` and then ran `bin/www` to ensure everything was stable
- Shut it all down
- An `npm install zwave-js@6.1.3-0-pr-1337-77c6cad` to get this PR
- An `npm run build` then
- `bin/www`

Here is what my view looks like:

![image](https://user-images.github

[2021-02-07 01:15] ratsputin commented on #436
Okay, just a follow-up.  I came back to the control panel a few minutes later and the device manufacturer and product are no longer recognized:

![image](https://user-images.githubusercontent.com/32401888/107133603-939c6d80-68af-11eb-9eaf-cd7ea907c5fa.png)

[2021-02-07 01:36] AlCalzone commented on #436
Did you try to manually refreshInfo or something? /cc @robertsLando

Also, I need a zwave-js log to diagnose anything.

[2021-02-07 02:51] chrish987 commented on #391
When (if) this is implemented in zwavejs2mqtt it will be useful to add as an additional value, not replace the existing value. So having fields for the time that zwavejs2mqtt created the message, and then the field from zwave-js that indicates the time the message was received from the node. Should add some flexibility on applying logic.

I think above might help with logic on trying to avoid doub

[2021-02-07 10:49] atterdal opened #493 "Update Aeotec Nano Dimmer firmware not working"
I've downloaded the EU version of the latest Aeotec Nano Dimmer (v2.03) from aeotecs support site. Changed the name of the .ex_ file to .exe.

When I try to update the old device (v1.2?) I get the message: Error while calling api beginFirmwareUpdate: Unable to extract firmware from file: This does not appear to be a valid Aeotec updater (invalid firmware length)!

What am I doing wrong?

[2021-02-07 11:12] robertsLando commented on #436
:man_shrugging: I need logs..

[2021-02-07 11:13] robertsLando commented on #490
@chrish987 Isn't it already there?

https://github.com/zwave-js/zwavejs2mqtt/blob/master/docker/Dockerfile#L42

[2021-02-07 11:15] robertsLando commented on #485
@dvbit Disable persistent storage in mqtt settings, it's bugged

[2021-02-07 11:16] robertsLando commented on #485
Ref #220

[2021-02-07 11:16] #485 closed

[2021-02-07 11:17] robertsLando commented on #491
@chrish987 The graph has been completely rewritten. Wait for it: #458

[2021-02-07 11:17] #491 closed

[2021-02-07 11:21] robertsLando commented on #476
@shreram Wrong path to controller I think

[2021-02-07 11:22] robertsLando commented on #484
@ahochsteger Thoughts?

[2021-02-07 11:22] robertsLando commented on #488
@crzykidd Change it in devices.js?

[2021-02-07 11:22] #488 closed

[2021-02-07 11:24] robertsLando commented on #487
THis is a user error, you need to check the correct path to the device and map it to the docker volume

[2021-02-07 11:24] #487 closed

[2021-02-07 11:25] robertsLando commented on #470
Try to enable poll of that value. https://zwave-js.github.io/zwavejs2mqtt/#/usage/setup?id=poll-values

[2021-02-07 11:25] #470 closed

[2021-02-07 11:26] robertsLando commented on #493
@AlCalzone Sugestions here?

[2021-02-07 11:27] AlCalzone commented on #493
@atterdal send me the file please

[2021-02-07 11:28] robertsLando commented on #351
@scyto DO youb also have the zwavejs2mqtt logs? In order to enable logs of that you have to go to Settings > General section

[2021-02-07 11:30] atterdal commented on #493
[OTA of Nano Dimmer_EU_C_V2_03.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5938870/OTA.of.Nano.Dimmer_EU_C_V2_03.zip)

[2021-02-07 11:30] atterdal commented on #493
The .exe file's in that zip. Thank you!

[2021-02-07 12:12] ahochsteger commented on #484
@crxporter, @robertsLando, yes, this makes a lot of sense!

In fact I already considered it while implementing the column selection but I did not find an easy way to rearrange the checkboxes with drag'n'drop in vuetify (what I'd expect to be a provided feature).
I found some approaches but all that I found required you to implement a lot of UI code which causes increased maintenance on the zjs2m U

[2021-02-07 12:13] scott7685 commented on #493
I believe that EXE is the standalone firmware update w/ an EXE designed to be used as an executable whilst the Aeotec stick is plugged into your PC. Ie, it is not the raw hex version you would need for a firmware update through a controller like ZWaveJS2MQTT.

Not for this particular one, but I have found there are people on various forums that have extracted the hex firmware out of the exe and po

[2021-02-07 13:40] AlCalzone commented on #493
@scott7685 zwave-js supports extracting the raw firmware from Aeotec updater exes.

[2021-02-07 13:46] ratsputin commented on #436
@AlCalzone @robertsLando Apologies.  I'm new to the platform and wasn't sure specifically what you needed.  I've enabled debugging; I assume you only want traffic related to node 6 as the logs would be massive otherwise.

No.  I literally looked at the page, went away for about 10 minutes and came back to find it in that state.  What's interesting is restarting brought back the correct manufacture

[2021-02-07 13:49] scott7685 commented on #493
MIND = BLOWN @AlCalzone

That is phenomenal. I have used it to upload the extracted hex but have never tried a full exe

[2021-02-07 14:07] ratsputin commented on #436
@AlCalzone @robertsLando Okay, here are the startup logs from Node 6.  It hasn't yet changed back to an unknown device (if it ever does).  It does not, however, have any cover-related functionality as shown on the screenshot following the log dump generated by the command `grep -A30 Node\ 006 zwavejs_3728.log` and pasting up to any reference from a different node.

Note the last two security-relat

[2021-02-07 14:30] joselito11 commented on #470
What is recommended pool interval for wall controller, 10s or less?

[2021-02-07 14:56] AlCalzone commented on #436
Invalid Auth code usually means that the device has a different network key than the driver (zwave-js)

[2021-02-07 15:34] dvbit commented on #485
@robertsLando grazie. I searched the issues before opening and could not find it. By the way, sticking to zwavejs2mqtt despite homeassistant is introducing a new integration. Your development is by far more flexible modular and advanced ;-)

[2021-02-07 16:07] ratsputin commented on #436
Do I resolve that by excluding and re-adding the device?  I migrated from Zwave2Mqtt/OpenZWave to zwave-js but am using the same USB stick.

[2021-02-07 16:15] AlCalzone commented on #493
@atterdal seems like that file had another variation that I haven't encountered yet. The linked PR should fix this.

[2021-02-07 16:20] AlCalzone commented on #436
You could try excluding, **resetting** and re-adding the device. But first, I'd check if the network key that you configured in zwave-js is the same as before.

[2021-02-07 16:41] mbrrg commented on #471
I have the same problem using Fibaro Dimmer 2. Scene activation event shows in the Zwave log, no MQTT message published.

[2021-02-07 16:42] jcam commented on #351
@AlCalzone: kpine noticed that the Color Switch CC is on endpoint 0, while the multilevel switch it should be linked to is endpoint 1.
In the zooz/v2 version of the switch, the color switch CC is on endpoint 1 so it links up properly.
Is there some sort of override we could put in place so it knows that color switch cc endpoint 0 => multilevel switch endpoint 0?

[2021-02-07 16:55] AlCalzone commented on #351
Sorry, what? Multilevel Switch and Color Switch are not linked in any way in zwave-js.

[2021-02-07 17:23] billiaz commented on #471
I have not yet been able to reproduce it with fibaro.  @mbrrg can you give more details?

[2021-02-07 17:24] ratsputin commented on #436
Ah.  Thank you for that clarification.  I know for a fact that it isn't the same as I never could get the Zwave2Mqtt configuration to "take" a key correctly.  It wouldn't read the one from the USB stick and when I tried manually keying it in, it would appear to take it then go back to just a zero on the next restart.

Given that, I went ahead and excluded, reset, and readded the device.  That seem

[2021-02-07 17:27] AlCalzone commented on #436
[code]
means the values are being updated in the cache. I'm guessing you don't see anything yet because the PR isn't merged (and subject to change) and there are no discovery templates for these values yet.

[2021-02-07 17:27] billiaz commented on #471
@bdbogjoe i jave a dimmer2, how can i reproduce this? Is it notifying on physocal button press or other to reproduce this

[2021-02-07 17:29] ratsputin commented on #436
So, I see this in the `hass/configurastions.js` file:

[code]
Is there just some attribute missing in the device that's causing it not to be recognized as a cover?

[2021-02-07 17:30] atterdal commented on #493
There's a standard for everything I guess. Thank you so much!

[2021-02-07 17:31] AlCalzone commented on #493
Not when it comes to reverse-engineering 😅

[2021-02-07 17:31] ratsputin commented on #436
Perhaps the opening/closing of the device is happening faster than the refresh rate of the console.  It's not a huge issue.  Clearly, the status is coming through from Z-Wave and ultimately, the cover position value is being updated (eventually).

[2021-02-07 17:57] scyto commented on #351
yes, here are some upto date one i just generated at debug level
[zwavejs2mqtt-store (3).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5939658/zwavejs2mqtt-store.3.zip)
hope that helps. this was a single pass of turn logs on, wait fro NODE 11 to be fully complete.

I note i do see the DEGUG GATEWAY in the logs, i found the entries after my earlier comment.

[2021-02-07 17:59] billiaz commented on #471
@bdbogjoe @mbrrg @robertsLando I can confirm bug exists, with my dimmer 2 too.
I cannot test further as it is my Mail bedroom! and baby is there still.

If the logs do not contain "silly" level logs from driver, we need to have at least this to get also the payload output.
I suspect dimming duration, works in "mistirious ways" compared to other notifications, and we need to pinpoint the flow issue

[2021-02-07 18:16] billiaz commented on #471
I have checked the logs of @bdbogjoe  I see no issues on 1.0.0
I see a bit different behaviour between 1.0.0 and my 1.0.4

On 1.0.0 I see scene MQTT changes from `undefined` to object `{ 'value':0, 'unit': 'seconds'}` back to undefinied.

on 1.0.4 (my device) I see MQTT receive the same message whenever I press and hold the button. It does not retain it, which is the right thing to do.

As the sce

[2021-02-07 18:22] billiaz commented on #490
@robertsLando Generally would be nice if the logs had an ISO8601 timestamp, probably from the following only TZ missing

`2021-02-07 17:39:43.081 INFO ZWAVE: Node 35:`

[2021-02-07 18:27] shreram commented on #476
I had to restart my Unraid server to resolve this issue. It's all good. My Home Assistant instance was able to talk to Zwave WS server (via port 3000)

[code]

[2021-02-07 18:31] billiaz commented on #493
@AlCalzone Faced the same with TriSensor, I will try to test with your PR

[2021-02-07 18:55] ratsputin commented on #436
Okay, to provide a bit of framework, I spun Zwave2Mqtt back up to see how it looked (as it was working correctly).  This should provide some context.  Here's a snapshot of the Home Assistant integration point for the cover under it:

![image](https://user-images.githubusercontent.com/32401888/107156279-0efb2f00-6943-11eb-9656-a2222482d072.png)

Here's a snapshot of what MQTT looks like:

![image](

[2021-02-07 19:30] scyto commented on #351
I just manually created the missing hass discovery topic via MQTT, when i do this, everything works as I would expect, i get color wheel in haas and i see changes in hass propagated to the control panel in zwavejs2mqtt.

**topic:** zwavejs2hass/light/WetBar-RGBW/dimmer_rgbw/config

[code]

[2021-02-07 20:22] dennuuz commented on #351
I (and a couple of others) face the same problem with the fibaro rgbw controller - no color control wheel  https://community.home-assistant.io/t/zwavejsmqtt-fibaro-rgbw-doesnt-show-color-control-wheel/277566/5

will there be a proper fix for this?

[2021-02-07 21:01] mbrrg commented on #471
[code]
There is no longer any message posted to ```xxx/yyy/zzz/43/0/sceneId```, only to ```xxx/yyy/zzz/43/0/dimmingDuration```.

[2021-02-07 21:13] scyto commented on #351
are you using the new hass integration?  if you are this is the bug for that; this bug is currently focused on just using MQTT
https://github.com/home-assistant/core/issues/46138

[2021-02-07 21:49] #493 closed

[2021-02-08 04:36] edgauthier commented on #436
A custom docker build of zj2m with the latest from cc/barrier-operator is working for me, including separate currentState and targetState variables. currentState seemed to be slow/inconsistent to update initially (from what I saw in the UI), but after I turned on logs I wasn't able to reproduce, and it remained working after turning off logs as well. Status was accurately reflected both when contr

[2021-02-08 04:47] scyto commented on #351
I also note than in ff96f705.values.json that it has the hex color true and value but that it only says it supports 0,2,3,4 - so has no value for cold white, is this ok?

[code]

[2021-02-08 07:51] billiaz commented on #434
The zwave2mqtt was using ozw, where zwavejs2mqtt is using node-zwave-js.
There are some core fundamental differences, how each driver exposes states/differences.

OZW was controlling 99.9% of how you talk to device, what you get... sometimes outside the spec. the case we are talking is the same. OZW was "performing" extra actions outside spec. In the other hand zwave-js is keeping bit 99,999% if n

[2021-02-08 09:00] #384 closed

[2021-02-08 09:14] LordMike commented on #492
Does this setting affect that?

![image](https://user-images.githubusercontent.com/1027111/107199217-6f977400-69f6-11eb-93fc-28b1206aaf8d.png)

[2021-02-08 09:14] robertsLando commented on #486
After HASS first official release of zwave-js the number of issues have increased a lot. For this reason I have decided to focus on the issues related to the control panel functionalities and automatically close the ones related to MQTT discovery. I will not remove MQTT discovery support, I just prefer to focus on the control panel as the discovery is the focus of the zwavejs server now

[2021-02-08 09:22] robertsLando commented on #470
Keep it as high as you can to don't congestionate network. Usually a good poll interval is 1s for each device on your network

[2021-02-08 09:23] robertsLando commented on #492
That's just for values

[2021-02-08 09:25] robertsLando commented on #490
AFAIK logs are always in UTC format

[2021-02-08 09:26] robertsLando commented on #485
Grazie a te :pray: :)

[2021-02-08 09:29] robertsLando commented on #484
https://codepen.io/uglyhobbitfeet/pen/ExxaNGO @ahochsteger

[2021-02-08 09:50] #469 closed

[2021-02-08 09:50] #492 closed

[2021-02-08 10:02] ahochsteger commented on #484
Thanks, I already stumbled upon this one (and some others as well).
I just thought that using the columns array was a cleaner approach, since it is already persisted in the local storage and it could also fulfill the purpose of the column order as well.
It's just the problem that deactivating and activating columns does not preserve the order of the list when using `v-model` (e.g. checking a check

[2021-02-08 10:12] billiaz commented on #471
@mbrrg I will check it soon too! as this is strange

[2021-02-08 11:00] #483 closed

[2021-02-08 11:01] robertsLando commented on #484
Instead of re-arranging the columns directly we could make the sort happen on the columns menu, what do you think?

[2021-02-08 11:16] robertsLando commented on #311
PR ready

[2021-02-08 12:45] #311 closed

[2021-02-08 12:54] robertsLando commented on #385
@frenck Did you fixed this? BTW I can confirm it's not on my side

[2021-02-08 13:08] robertsLando commented on #484
We could use: https://github.com/SortableJS/Vue.Draggable

Should be quite easy

[2021-02-08 14:06] bdbogjoe commented on #471
let me know if you need anything else, i'm available for testing any fix, thanks

[2021-02-08 14:07] ahochsteger commented on #484
Yep, looks good.
I can give it a try this evening.

[2021-02-08 15:51] MikeFez opened #505 "[feat] Frontend Authentication"
**Is your feature request related to a problem? Please describe.**
This isn't a problem, but I'd like to see support for an authentication method for the UI. I plan on setting up a reverse proxy for this service, and while I can set up basic auth through NGINX, having a UI for username/password would allow for easier auth population for those of us who use password managers.

**Describe the soluti

[2021-02-08 16:56] robertsLando commented on #505
Actually this can be done by using nginx. BTW this is in my TODOs

[2021-02-08 17:04] MikeFez commented on #505
Absolutely, I also included the ability to use basic auth via nginx in the original post for the people out there who stumble across it. Great to know it's on the list of TODO's, thanks @robertsLando

[2021-02-08 17:09] AlCalzone opened #506 "Avoid stopping the container before zwave-js has shut down and saved the cache"
We should listen for the container kill command with `process.on` and try to gracefully close it there

_Originally posted by @robertsLando in https://github.com/zwave-js/node-zwave-js/issues/1578#issuecomment-775251454_

[2021-02-08 17:10] snagytx commented on #506
This might be caused by the fact that the shutdown takes more than 10 seconds.

https://docs.docker.com/engine/reference/commandline/stop/

[2021-02-08 17:54] dennuuz commented on #351
It should have it's an RGBW controller which includes white.

[2021-02-08 17:55] dennuuz commented on #351
I am using the new integration - i'll have a look in that thread.

[2021-02-08 19:12] cazador481 opened #508 "[bug] FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

### Describe the bug

out of memory error.

Logs from my docker stdout:

[code]

<--- JS stacktrace --->

[store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/594617

[2021-02-08 20:30] deccos opened #509 "[bug] Nodes report Secure mode when they were not Included Securley"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
Build/Run method

- [ X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1..0
zwavejs version: 6.1.3

### Describe the bug
Some of my sensors are showing as Security enabled, I have never enabled security on my zwave.  D

[2021-02-08 20:30] deccos opened #522 "[bug] Nodes report Secure mode when they were not Included Securely"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
Build/Run method

- [ X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1..0
zwavejs version: 6.1.3

### Describe the bug
Some of my sensors are showing as Security enabled, I have never enabled security on my zwave.  D

[2021-02-08 20:52] nau-tic opened #510 "[bug] Eurotronic Spirit devices not included"
### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.1.3

### Describe the bug

When adding multiple Eurotronic Spirit devices, some of them are included but not working and others fail to be included at all.

### To Reproduce

Steps to reproduce the behavior:

I'm setting up a Z-Wave n

[2021-02-09 00:43] maivorbim commented on #509
Can confirm I am having the same behaviour on two separate installations. It appears this happens randomly.

[2021-02-09 01:15] openfirmware opened #511 "[bug] v1.1.0 does not include upstream fixes for zwave-js, despite changelog"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.1.3 (see context section)

### Describe the bug

I downloaded the latest zwavejs2mqtt release ([v1.1.0](https://github.com/zw

[2021-02-09 04:35] chrish987 commented on #490
this is working ok for me. If I set the TZ=Pacific/Auckland env variable in the docker-compose.yaml the logs are in the correct TZ. No TZ piece to the string - but the time is right. Sorry I did not test it very well before I opened the issue.

2021-02-09 17:33:08.557 INFO ZWAVE: Node 22: value updated: 112-0-8 5 => 5
2021-02-09 17:33:08.742 INFO ZWAVE: Node 6: value updated: 112-0-103 0 => 0
2021

[2021-02-09 04:40] chrish987 opened #512 "Add a unique message id to each mqtt message [feat]"
I have some workflows that need to ensure that they are not processing an 'old' message.

I can kind of tell message uniqueness by checking for a number of fields (currently lastupdate + nodeid + property) but it would be better to have a unique message id in every message.

Maybe a UUID?

I think ok to use a new message id on restart etc when publishing all current values. So every message that i

[2021-02-09 04:45] chrish987 opened #513 "Saving config always needs to do a restart? [feat]"
It seems that any config change (and clicking save on the bottom of the config page) does a full restart and all nodes go back to RefreshFromCache / through the startup process - which can take some time.

Is it always necessary to do a restart?

For example when adding a new gateway config item. Even a simple change seems to need a restart to take affect. For example changing the retain setting (

[2021-02-09 05:38] jcam commented on #511
As you can see here, zwave-js/core is still at version 6.1.1 even in the final 6.1.3 update of node-zwave-js, so that is not a clear indication that it hasn't actually picked up the changes.
![image](https://user-images.githubusercontent.com/98744/107320637-19b2e280-6a6f-11eb-8acd-e0e0e244548d.png)

[2021-02-09 05:57] openfirmware commented on #511
Yes, that makes sense. I checked with the zwavejs2mqtt dashboard that I am running and noticed that it says App Version 1.1.0 with Zwavejs version 6.1.2, so something appears to be missing.

[2021-02-09 08:54] roflmao opened #520 "[bug] Cannot do OTA: "Unable to extract firmware from file""
### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.1.3

### Describe the bug

Trying to upgrade firmware on a IDlock 150, zwavejs2mqtt doesnt seem to understand the format.
The 1.6 firmware doesnt have a fileending, but the previous firmwares had .hex.
Tried renaming the file as well;

[2021-02-09 09:39] #490 closed

[2021-02-09 09:40] #511 closed

[2021-02-09 09:42] robertsLando commented on #513
@chrish987 Checking all config changes and apply them when possible and rtestart only in some conditions is really difficult to handle and also could cause many inconsistence problems. BTW you shouldn't need to modify those settings very often so the effort to implement such feature wouldn't be so useful

[2021-02-09 09:42] #513 closed

[2021-02-09 09:45] robertsLando commented on #512
Isn't the time in the payload like an uuid? YOu could simply store the timestamp in unix format along with the topic, if the received message in a specific topic has the same timestamp it means it's an old one

[2021-02-09 09:45] #512 closed

[2021-02-09 09:46] robertsLando commented on #509
@AlCalzone, any clue?

[2021-02-09 09:52] robertsLando commented on #508
@cazador481 Copuld you provide some more info about the error? the stack trace seems incomplete

[2021-02-09 09:53] robertsLando commented on #522
Didn't know there was also `unknown` as valid value :confused:

[2021-02-09 10:03] #522 closed

[2021-02-09 10:04] deccos commented on #522
I see the PR to fix the issue in terms of displying the Security Status correctly - Secure, Insecure or Unknown.  But why would it be Unknown in the first place ? Would that be caused by my legacy usage of the stick on other zwave platforms before zwavejs2mqtt ?

[2021-02-09 10:09] robertsLando commented on #506
@snagytx On my side I look for `SIGINT`, if you are using docker compose or docker could you set `SIGINT` as stop signal?

I remember now I already worked on this in the past and it was working: https://github.com/zwave-js/zwavejs2mqtt/blob/master/docker/docker-compose.yml#L8

Source code: https://github.com/zwave-js/zwavejs2mqtt/blob/master/app.js#L477

[2021-02-09 10:13] roflmao commented on #506
Discussion: https://stackoverflow.com/questions/50898134/what-does-docker-stopsignal-do
Docs: https://docs.docker.com/engine/reference/builder/#stopsignal

[2021-02-09 10:24] AlCalzone commented on #522
That just means we don't know **yet**

[2021-02-09 10:35] robertsLando commented on #506
I used SIGINT as that is the signal sent when you press Ctrl+C in the terminal. BTW I could add the stop signal to the dockerfile instread of just leaving it on docker compose. Like @roflmao pointed out in docs link, Thoughts?

[2021-02-09 11:04] AlCalzone commented on #520
Might be that the browser gives you an arraybuffer instead of a node.js buffer.
Should be possible to convert it though.

[2021-02-09 14:20] Thomasdmm opened #525 "settings.json scenes.json nodes.json not found please help"
sudo docker run --rm -it -p 8091:8091 -p 3000:3000 --device=/dev/ttyACM0 -v $(pwd)/store:/usr/src/app/store zwavejs/zwavejs2mqtt:latest
Password:

 ______                       _     ___                  _   _
|___  /                      (_)   |__ \                | | | |
   / /_      ____ ___   _____ _ ___   ) |_ __ ___   __ _| |_| |_
  / /\ \ /\ / / _` \ \ / / _ \ / __| / /| '_ ` _ \ / _` | __|

[2021-02-09 15:38] robertsLando commented on #525
@Thomasdmm it's just a warning, it doesn't mean it's not working, it just says that there are no settings file, just create one from the ui :)

[2021-02-09 15:38] #525 closed

[2021-02-09 16:03] maivorbim commented on #522
Is this normal to happen even after the node is complete?

![Untitled](https://user-images.githubusercontent.com/34894081/107391105-0a7c7500-6b01-11eb-85cb-37eb0c0bd70c.png)

[2021-02-09 16:19] AlCalzone commented on #522
Isn't the first "No" for secure?

[2021-02-09 16:24] robertsLando commented on #522
It is, it's not 'unknown' anymore

[2021-02-09 16:26] snagytx commented on #506
My docker-compose.yaml has `stop_signal: SIGINT` but the issue was still sporadically seen.

I can also see:

[code]

but I did not capture the logs in the bad case.

I just added `stop_grace_period: 30s` just for extra safety, in case the driver needs more than 10s to stop.

[2021-02-09 16:29] robertsLando commented on #506
If you see those lines it means I'm catchin the stop signal correctly. BTW I don't think that the driver needs more then few seconds to store its context to files. @AlCalzone ?

[2021-02-09 16:32] snagytx commented on #506
Just to clarify, the file `f4c9e959.json` is only sporadically left empty, I was not able to find a pattern.

[2021-02-09 16:36] AlCalzone commented on #506
I don't suppose that should take long, only for large networks maybe.

[2021-02-09 19:05] maivorbim commented on #522
Sorry, wrong crop 😨 Both devices were included in non-secure mode.
![Untitled](https://user-images.githubusercontent.com/34894081/107414284-77503900-6b1a-11eb-8f1f-76e95d66c084.png)

[2021-02-09 19:30] cazador481 commented on #508
Alas that is all I have, I'll close this and if I get another crash with more info I'll make a new report.

[2021-02-09 19:30] #508 closed

[2021-02-09 19:44] AlCalzone commented on #522
Can you share your cache files?

[2021-02-09 21:37] zeddski opened #526 "[question] Migrated from OpenZwave - Difficulties with almost all devices"
Last week migrated from OpenZwave to Zwave-JS. Network key seems to be correct, since the right amount of devices are listed. But, information about the devices is gone. Sometimes one of the non-battery-devices returns for a little while, then disappears again. I'm using Home Assistant too (both in a container).

I've enabled logging, which isn't helping much yet.
I'm concentrating on two devices.

[2021-02-09 22:08] maivorbim commented on #522
Nodes 24, 26, 57, 60 and 64 are trouble nodes.  Rename file to .json
[eafc1bd8.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5954562/eafc1bd8.txt)

[2021-02-09 22:12] AlCalzone commented on #522
At least node 24 claims that it is secure. Could it be that the device was once secure and you didn't hard-reset it before inclusion? Then it will still have the network key and communicate securely.

[2021-02-09 22:13] #436 closed

[2021-02-09 23:11] maivorbim commented on #522
The devices are brand new and this is the first time they were included in a network. Unless they were factory tested with security enabled...

I have attached zwave logs. Relevant excerpts are:

00:37:49.471 DRIVER » [Node 024] [REQ] [SendData]
                      │ transmit options: 0x25
                      │ callback id:      162
                      └─[SecurityCCNonceGet]

00:37:50.792 DR

[2021-02-09 23:28] joselito11 commented on #477
Any news on light colors support? Have tried today on 1.1.0 version, still no colors. The light is listed as supported: https://devices.zwave-js.io/?selectedPath=0x0131:0x0003:0x0002:0.0 ?

[2021-02-10 02:14] jmgiaever commented on #85
@robertsLando  PS! The snap package is now live: https://community.home-assistant.io/t/zwavejs2mqtt-snap-package/278994 / https://snapcraft.io/zwavejs2mqtt

[2021-02-10 07:15] robertsLando commented on #85
Thanks @jmgiaever ! If you would like to add it to docs feel free to open a PR :)

[2021-02-10 07:23] AlCalzone commented on #522
Hm okay - they respond to the nonce report and then don't respond to the query of secure commands - but at that point the node is already assumed to be secure. I'll revert https://github.com/zwave-js/node-zwave-js/pull/1569, that causes this issue.

[2021-02-10 07:30] robertsLando commented on #477
@billiaz ?

[2021-02-10 07:35] kpine commented on #351
I didn't said zwave-js links these, I said HA links them. HA will not consider an endpoint with _only_ color CC values as a light, it requires a multilevel CC value as well. In HA multilevel CC means "light". A "light" with color CC means an RGB light.

Z-Wave Plus v1 and 2 require Color Switch DTs to support either binary switch or multilevel CCs in addition to color, which is probably what the m

[2021-02-10 08:36] ahochsteger commented on #484
@robertsLando, @crxporter the feature is implemented in PR #534 - give it a try!
![image](https://user-images.githubusercontent.com/207989/107484221-6affc680-6b82-11eb-904e-5b05769ea902.png)

[2021-02-10 09:17] #484 closed

[2021-02-10 10:41] billiaz commented on #477
@joselito11 I have no news yet! I will need to dig into it. Still trying to fix some other hass issues, which are affecting more broad patterns.

I also do not Own any RGBW device (yet) which makes it more difficult! But I will try to get back to you next few days

@scyto I will also look the 351 together with this!

[2021-02-10 10:47] billiaz commented on #477
@joselito11 I took a quick look. Sorry for my ignorance

Do you miss the Blue color from settings? Does Zipato combine the Blue with white somehow? More info there would help me

[2021-02-10 10:48] billiaz commented on #351
@kpine @dennuuz @scyto I am going to be looking this

[2021-02-10 10:55] AlCalzone commented on #477
👆🏻

There are currently more pressing issues than to work around stuff the device manufacturer fucked up. Accepting PRs if anyone wants to tackle support for such a compat flag.

[2021-02-10 10:58] billiaz commented on #351
@scyto this is interesting:
[code]

[2021-02-10 11:05] joselito11 commented on #477
@billiaz thank you for helping. Yes there is no blue color settings. Only white, wharm white, red and green.
Some good news is that temperature picker is working now, and if I set cold-get the cold blue color.

[2021-02-10 11:11] robertsLando commented on #477
@billiaz This need to be fixed on the device config file, not there. As @AlCalzone said this is a devicefirmware issue, needs a compat flag

[2021-02-10 11:51] awulf commented on #136
Saw that 6.2.0 has it in it now, built a new docker container and it works under zwavejs2mqtt for my garage door controller

[2021-02-10 12:17] billiaz commented on #136
once you ahve this, can you export the node from zj2m. Then i can make the HASS payload and test it!
we will manually add it here, once is working as expected. I will make a Zj2m patch

[2021-02-10 12:41] jmgiaever opened #537 "[change request] Wrong filename for homehex-cache files when downloading"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )
- [x] Snap package

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.1.3

### Describe the bug

Not directly a bug, more a change request.

Downloading a file from the «file e

[2021-02-10 13:38] #537 closed

[2021-02-10 13:38] jmgiaever opened #539 "[feat] Only reload Zwave driver if changes to Zwave-partition in settings were made"
**Is your feature request related to a problem? Please describe.**

It seems like the zwave driver is destroyed and re-initialized whenever you update any settings in the UI. Is this necessary?

**Describe the solution you'd like**
E.g fiddling with the settings in general, MQTT Gateway and Home Assistant sections shouldn't require this action, since a restart can take a long time.

[2021-02-10 13:42] robertsLando commented on #539
I got this question many times. The short answer is Yes, it is. The effort to make updates based on the changed settings is huge and still could create some other bugs I want to prevent. In general settings should never change once you set the correct driver path. The only thing that could someway be loaded without a restart is the zwavejs2mqtt logs settings. All the others settings require a rest

[2021-02-10 13:46] jmgiaever commented on #539
I see. Thanks for clearing this up. :)

[2021-02-10 13:53] #539 closed

[2021-02-10 15:13] crxporter commented on #484
This is very cool, @ahochsteger - excellent work. Thank you!

[2021-02-10 15:34] NINE78 opened #540 "ZMNHDA Qubino Flush Dimmer multilevel switch current value not propagating from zwavejs to zwavejs2mqtt"
### Version

Build/Run method

- [X] Docker -> running a Home Assistant supervised add-on

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.1.3

### Describe the bug

For my Qubino (GOAP) ZMNHDA dimmers, I see multilevel switch ("current value") updates sent to Endpoints 0 and 1, but only Endpoint 1 is received in zwavejs2mqtt, this when manually toggling the light switch.

From zwavejs log:
[code]

[2021-02-10 16:53] erichiller opened #541 "[feat]"
This isn't a feature nor a bug I think. In reference to #483 , I would appreciate if what this meant was documented, in the UI and the docs. Currently the docs just say:

[2021-02-10 16:56] robertsLando commented on #541
In the ui, when you focus the target input, there is a description that explains the target mean

[2021-02-10 17:04] Balooforever opened #542 "ZMNHUD Temperature issue"
Hi all,

I use your fantastic ZwaveJS2MQQT with my Home Assistant instance.

i m a French user and I use a Qubino ZMNHUD for my climate.

With this ZMNHUD, I have a Wired Temperature Sensor and it s work with ZwaveJS2MQTT but it s not the good value remote to Home Assistant (Two value in config panel but  it s not the correct send to HA :(

Can you help me ?

thank a lot :)

[2021-02-10 17:07] lolouk44 opened #543 "[feat] Add Yale Connexis L1 Lock additional Statuses"
**Is your feature request related to a problem? Please describe.**
Home Assistant User.  I used to get extra information about the door lock (Yale Conexis L1) such as Locked by RF, Jammed, etc.
I can't see this info present in the logs, but I see the "id": "5-113-0-alarmType" block holds a value that would represent the lock state (found for Yale Conexis L1 so far):
9: Lock is jammed
21: Locked ma

[2021-02-10 19:24] warllo54 opened #544 "ZSE40 No Longer Working After Version 1.0.5 [bug]"
I have a Zooz ZSE40 that was working great in version 1.0.5. After upgrading to 1.1.0 the device appears to be no longer working. The device show's offline in Home Assistant and is missing a device id in zwavejs2mqtt.

The device doesn't appear to have a device id anymore and doesn't seem to be setup however in the debug logs I can see the sensor is reporting data as node 11. I have include a devi

[2021-02-10 19:37] Travis-Prall opened #545 "[bug] Update T6 Pro Z-Wave Programmable Thermostat"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.2.0

### Describe the bug

The zwave controls for T6 Pro Z-Wave Programmable Thermostat are missing some features. The fan controls are not existent as well as some other features seem to be missing.

### Additional context

OpenZwave

[2021-02-10 20:08] dennuuz commented on #351
@billiaz , happy to support as well - what do you mean with node data only? Does below help? NodeId 6 is the Fibaro RGBW controller

`{"k":"{\"nodeId\":6,\"commandClass\":114,\"endpoint\":0,\"property\":\"manufacturerId\"}","v":271}
{"k":"{\"nodeId\":6,\"commandClass\":114,\"endpoint\":0,\"property\":\"productType\"}","v":2304}
{"k":"{\"nodeId\":6,\"commandClass\":114,\"endpoint\":0,\"property\":\

[2021-02-10 20:08] jmgiaever opened #546 "[bug] Battery devices shows as powered in mesh"
### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )
- [x] Snap package

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.2.0

### Describe the bug

![Screenshot from 2021-02-10 21-05-12](https://user-images.githubusercontent.com/7188121/107565324-db8aff80-6be3-11eb-9872-1227dd5302f7.png)

This is a Fibaro door/window sensor

Let me kn

[2021-02-10 20:21] razvanws commented on #493
It seems that it's the same issue with v3.02 EU firmware of Aeotec ZW132. Please see the firmware below:
https://aeotec.freshdesk.com/helpdesk/attachments/6120512641

[2021-02-10 20:31] chrish987 commented on #512
can you guarantee that the timestamp is unique? there are multiple nodes sending to the same topics. I know that you can be 'fairly certain' be comparing a few fields (timestamp, nodeid, property) that the message is unique - but I guess it is pretty easy to add a unique message id - then we can be sure.

[2021-02-10 21:06] billiaz commented on #351
@dennuuz this is the cache of driver. use the export Node.json from this instructions: https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report

[2021-02-10 21:36] AlCalzone commented on #493
Found it - just a matter of allowing spaces in the embedded firmware name. Fix is on the way.

[2021-02-10 21:40] dennuuz commented on #351
please find attached.
[node_6.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5961694/node_6.txt)

[2021-02-10 21:43] scyto commented on #351
please find attached
[node_11 (3).json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5961723/node_11.3.json.txt)

[2021-02-10 22:15] cazador481 opened #548 "[bug] Memory leak when using with UNRAID"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

docker 1.1.1
### Describe the bug
After about 3 hours I have over a gig of memory usage used.  After about 12 hours, I have over 12 gigs.  Those numbers are reported via u

[2021-02-10 22:48] awulf commented on #136
Have attached the node copied from zwavejs2mqtt. It might already be working, haven't had the time to experiment with home assistant.
[barrier_node.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5962144/barrier_node.json.txt)

[2021-02-10 23:19] jmgiaever commented on #85
Thanks, I will. Just want to run it for some days, and fix the env.vars in the configuration script.

I also read that zwavejs is pulling device configuration, so I need to find out a solution on how I can make that directory readable in this confined environment. Do you happen to know if this is the only file zwave-js is writing to? Maybe @AlCalzone knows?

[2021-02-10 23:34] warllo54 commented on #544
I was able to resolve this by excluding the device and re-adding it. Thanks for this wonderful software!

[2021-02-10 23:34] #544 closed

[2021-02-11 07:09] AlCalzone commented on #85
The configs come from node_modules/@zwave-js/confif/config. That directory and it's sub dirs must be writable.

[2021-02-11 07:26] robertsLando commented on #512
it's a serial protocol, it's impossible that two messages are emitted with the same timestamp, at least for sure not from the same device. If you keep track of ` valueId topic ---> timestamp ` you are done.

[2021-02-11 07:30] robertsLando commented on #542
@Balooforever I think your climate has multiple endpoints, by default when I auto discover climates I use the first endpoint (0 or 1). You can try to manually edit the discovery template to fix this

[2021-02-11 07:31] robertsLando commented on #548
How many devices do you have in your network?

[2021-02-11 07:33] robertsLando commented on #136
@billiaz I think barrier operator state could be treated like notifications in discovery

[2021-02-11 07:34] robertsLando commented on #545
@Travis-Prall Actually with __MQTT__ discovery climate with fans are not supported. BTW you could try to use the zwavejs server with the hass zwavejs integration

[2021-02-11 07:35] robertsLando commented on #546
@jmgiaever a node export would be good :)

[2021-02-11 07:38] Balooforever commented on #542
Hum, i agree with you.

The debug info for this 2 values :
    {
      "id": "24-49-3-Air temperature",
      "nodeId": 24,
      "commandClass": 49,
      "commandClassName": "Multilevel Sensor",
      "endpoint": 3,
      "property": "Air temperature",
      "propertyName": "Air temperature",
      "type": "number",
      "readable": true,
      "writeable": false,
      "label": "Air temperatur

[2021-02-11 07:43] robertsLando commented on #542
Go to control panel, expand the node that controls the climate, go to home hasssistant tab of the expanded node, in the table of the discovered hass devices select the climate and then on the right you will be able to edit the discover template. IN poor words you need to only change the number of the endpoint in all the `Air Temperature` values you find there. If you want paste it here so I can sh

[2021-02-11 07:57] robertsLando commented on #548
@cazador481 Could you also provide some logs files or else?

[2021-02-11 07:57] Balooforever commented on #542
Sorry, but in "Control panel", i expand the node but no "home assistant tab", i have : "Node" / "Group" / "Debug Info"

I use ZwaveJS2mqtt without mqtt broker, only has control panel.

[2021-02-11 08:00] robertsLando commented on #542
Oooh ok so you are using the zwavejs server with zweavejs hass integration right? If so I need to move the issue there

[2021-02-11 09:33] lukaszolek opened #553 "[bug] Zwave client not connected"
### Version

Build/Run method

- [ ] Docker
- [X] PKG (Supervisor Add)
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 0.4.1
App Version: 1.1.1
Zwavejs Version: 6.2.0

### Describe the bug
After clicking Add/Remove Device, and Inclusion checkbox an error is raised: **Error while calling api startInclusion: Zwave client not connected**

A clear and concise des

[2021-02-11 09:58] robertsLando commented on #553
@lukaszolek What are your settings?

[2021-02-11 10:00] lukaszolek commented on #553
New addon installation with settings:
- device: /dev/ttyAMA0
- network key: D6F44AC1000940BEE7592007B0993A5F
- log levels for zwavejs and zwavejs2mqtt: silly

I didn't set anything else.

[2021-02-11 10:10] robertsLando commented on #553
Strange, could you export your settings and attach the file here? BTW I suggest you to remove your network key :)

[2021-02-11 11:57] lukaszolek commented on #553
I removed my network key, the problem persists.
My settings:
[code]

[2021-02-11 12:43] billiaz commented on #477
@billiaz I see!  @robertsLando is compat flag an 112 CC param as i understand?
@joselito11 then It could be tough without blue to be fixed

[2021-02-11 12:44] billiaz commented on #351
@dennuuz @scyto got em! I will take a look soon! and try to paste some example Discovery payloads to test!

[2021-02-11 13:03] ratsputin opened #554 "Shouldn't npm run build generate a new copy of bin/www?"
Okay, maybe I'm missing something here, but I follow the instructions at `https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/quick-start` and the `npm run build` isn't generating a new version of `bin/www`, nor is it generating any errors.

Here's what I'm seeing:

[code]
Note there is no fresh version of `bin/www`.

Am I missing something here?  Do I need to do something differently?  I'm

[2021-02-11 13:54] billiaz commented on #351
@dennuuz @scyto going to buy one of these controllers
I will buy the Fibaro 442 one! I think @dennuuz you are in Netherlands or Germany? I might ask some off topic questions about led strips

Having it I can make the discovery work! :) I do see some potential options! but this will work the best!

[2021-02-11 13:55] AlCalzone commented on #477
No a compat(ibility) flags are settings that enable workarounds for things that devices do incorrectly, e.g. Report wrong CC support.

[2021-02-11 13:56] ratsputin opened #555 "Cover state is not being interpreted correctly in Home Assistant"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: `1.1.1.5bba9ae`
zwavejs version: `6.1.3-0-pr-1337-77c6cad`

### Describe the bug

While new cover feature works correctly from zwavejs2mqtt control pa

[2021-02-11 14:08] robertsLando commented on #555
@billiaz

[2021-02-11 14:10] robertsLando commented on #553
strange, are you sure the path to the controller is correct? also what usb controller are you using?

[2021-02-11 14:12] robertsLando commented on #554
I don't get your question, it doesn't mean anything, what do you want to do??

The build command generates the files needed on the ffront end in dist folder

[2021-02-11 14:22] ratsputin commented on #554
Ah.  I guess I was confused.  How do I generate a fresh version of `bin/www` to use the latest version of any module (such as an updated version of zwave-js) I install?  I thought the commands in the quick start would build it.

[2021-02-11 14:27] robertsLando commented on #554
how much familiar are you with nodejs?

[2021-02-11 14:45] ratsputin commented on #554
Not at all.  While I have a development background, I have zero experience with this.

If there is a set of instructions for doing the build, I'm happy to read and follow them.  I had just expected that running the build would generate a new version of the executable.  I'm certainly not expecting you to hold my hand through learning how to build a nodejs package.

If there aren't instructions, fee

[2021-02-11 14:50] robertsLando commented on #554
The project has a frontend and a backend. When you need to run the application in a production environment you have to build the frontend (in poor words all the vue stuff is translated intto css/js/html files) to do this you run `npm run build` and you will see all the generated files in `dist` folders. Now to run the server just run `npm run start` and a server listening on portr 8091 will be sta

[2021-02-11 14:50] #554 closed

[2021-02-11 14:54] lukaszolek commented on #553
I'm using RaZberry connected directly to my RPi4. I'm pretty sure that the path is correct.
https://www.home-assistant.io/docs/z-wave/device-specific/#razberry-board
It was working before, on deprecated Z-Wave integration (now uninstalled).

[2021-02-11 15:02] billiaz commented on #555
@ratsputin we need to replace strings with numbers in statuses
Reading the states from mqtt:
[code]

[2021-02-11 15:13] robertsLando commented on #553
Could you also get the zwavejs log output please?

[2021-02-11 15:39] ratsputin commented on #555
Okay, I updated as suggested:

[code]
The current state is now reporting correctly:
![image](https://user-images.githubusercontent.com/32401888/107659693-052c4100-6c4d-11eb-9f22-07e70c29b3b2.png)

So, that is fixed.

I cannot, however, _control_ the cover.  Sending an open command doesn't do anything.  Would you prefer I open a separate issue?

[2021-02-11 15:43] ratsputin commented on #555
Oh, and thank you for responding so quickly.

I think I may see the issue.  Here is the MQTT command that was sent:

![image](https://user-images.githubusercontent.com/32401888/107660091-7ff55c00-6c4d-11eb-929f-7667ba4d6187.png)

However, the ZwaveJS2Mqtt control panel says this:

![image](https://user-images.githubusercontent.com/32401888/107660159-94d1ef80-6c4d-11eb-8dd0-eba255bca040.png)

[2021-02-11 15:45] ratsputin commented on #555
Never mind.  I manually set targetState to "Open" via MQTT Explorer and it didn't open the garage door.

[2021-02-11 15:48] ratsputin commented on #555
Oh!  This does seem to be related.  I manually set `targetState` to 255 and the door opened.

[2021-02-11 15:52] lukaszolek commented on #553
@robertsLando  I'm sorry, but I cannot save zwavejs log:
<img width="800" alt="Zrzut ekranu 2021-02-11 o 16 51 28" src="https://user-images.githubusercontent.com/48291/107661325-7984d580-6c89-11eb-8581-f1300c649530.png">

[2021-02-11 16:02] ratsputin commented on #555
Okay, adjusting the payload values in the same way fixed the opening/closing.  Note that I have no idea what the proper value is to do a "stop" so I didn't adjust that value.

[code]

Thanks again for the quick response and help!

[2021-02-11 16:09] robertsLando commented on #553
select it and press on the bottom right fab button to download it in a zip

[2021-02-11 16:13] Thomasdmm opened #557 "[question] : Can you help me to check my configuration: I have this error : Driver: Failed to initialize the driver: Timeout while waiting for an ACK from the controller"
Hello Every Body, I try to create a docker for zwavejs2mqtt But I have this Error
"Driver: Failed to initialize the driver: Timeout while waiting for an ACK from the controller"

Can you help me to check my configuration
Here screeshoot of my docker config :
![image](https://user-images.githubusercontent.com/53251953/107663383-9a4e2a80-6c8b-11eb-8f43-58cc2961a601.png)
![image](https://user-images.

[2021-02-11 16:51] billiaz commented on #555
@ratsputin please try to build my pr. It will use only numeric for all commands. or change these based on the pr changes I made

[2021-02-11 16:53] decairn commented on #557
I have it running on Synology.  Differences in my setup are no need for the '--device' environment line, I leave the ports as standard (don't have any overlap with other services), and I set '/usr/src/app/store' to a specific location only.  Serial port location is same as you have set within zwavejs2mqtt.

[2021-02-11 17:11] Thomasdmm commented on #557
Hello Decairn Thanks but I don't understand:(
it's possible to see your screenshoot ? the docker is on synology too

[2021-02-11 19:45] chrish987 commented on #546
i see this as well on Aeon/Aeotec MultiSensor 6 devices. Icon is correct in the graph, but hovering over a mains node shows power source as battery in the popup.

![snip](https://user-images.githubusercontent.com/77754678/107690171-a29b7980-6d0e-11eb-878a-ec16c8045d56.JPG)

[2021-02-11 20:04] dennuuz commented on #351
Awesome, let me know if i need to test anything. Happy to help, but not sure where to start. I'm in the netherlands indeed.

[2021-02-11 20:08] atterdal commented on #493
I've pulled the latest Docker image (master, updated 8 hours ago) but I still get the same error message.

Is the Docker not in sync with this repo?

[2021-02-11 21:06] ratsputin commented on #555
@billiaz This addressed that issue.  Here is the updated discovery payload:

[code]

What is odd, however, is I just saw the same issue someone else mentioned when I sent a command to open the garage door.  It opened successfully; however, the position of the garage door still showed shut (0).

This fix does, however, address the issue where Home Assistant wasn't seeing the status correctly.

[2021-02-11 21:25] ratsputin commented on #554
Understood.  As far as I can tell, behind the scenes, `npm run start` just executes `bin/www`.  Apparently, the release process is creating a new version with the appropriate `zwave-js` libraries that provides `bin/www`.  I noticed the following when I was testing `fix-555`:
[code]
Looking at the `Dockerfile.contrib` file, it looks like I need to build the latest `node-zwave-js` first by running a

[2021-02-12 00:09] decairn commented on #557
Sure - Synology docker like this.  ZWavejs2mqtt settings are same except I have Disable Gateway set (as WS Server is set).

![1](https://user-images.githubusercontent.com/15806011/107714834-cca75a00-6c82-11eb-9f8c-295286a057e1.PNG)
![2](https://user-images.githubusercontent.com/15806011/107714845-d03ae100-6c82-11eb-8a84-13c656bd7f6d.PNG)
![3](https://user-images.githubusercontent.com/15806011/1077

[2021-02-12 00:14] Travis-Prall commented on #545
Tried still no fans. I do get more entities with the zwavejs server ,but not the fans like I had before.

[2021-02-12 07:44] robertsLando commented on #546
Strange, so the hover shows it's battery, the icon is wrong. Could someone send me a node export?

[2021-02-12 08:20] robertsLando commented on #557
Thanks for the help with this issue @decairn

[2021-02-12 10:57] aretakisv commented on #555
@ratsputin I believe this is a bug on Hass too, as it does not support intermediate state

Can you open or Clsoe the door, stuck it on a percentage and post a node export? I want to see some details!

It might be possible to make the value to show OPEN if it is not closed! as default state! this way  we make the user aware that something is wrong!

Cover is not supporting position, from what I kno

[2021-02-12 11:55] jmgiaever commented on #85
Noted and fixed! Thanks :)

[2021-02-12 11:59] jmgiaever commented on #546
Hi, which file would that be? HomeHex.json?

[2021-02-12 12:54] robertsLando commented on #546
I think that could be due to this statements:

`forwards: node.ready && !node.failed && node.isListening`

`entity.shape =
            entity.forwards || batlev === undefined ? 'rect' : 'battery'`

Based on this it could be that `forwards` is evaluated to `true` even if the device is a battery device. @AlCalzone AFAIK a battery device cannot forword packets, so based on this what do you think it's

[2021-02-12 13:00] AlCalzone commented on #546
I think this is another case of that sensor thinking it is USB powered:
https://github.com/zwave-js/node-zwave-js/issues/1578
https://github.com/zwave-js/node-zwave-js/issues/1504

It was likely included with USB and then used with Batteries - but as far as the Z-Wave network is concerned, it looks like a listening device.

[2021-02-12 13:00] robertsLando commented on #493
@atterdal Docker image is sync with zwavejs2mqtt master branch, and latest zwave-js __release__

[2021-02-12 13:02] robertsLando commented on #546
Humm, I think that instead of doing that check, I will just check if battery CC exiusts, in that case I will use the battery shape...

[2021-02-12 13:17] jmgiaever commented on #546
Mine is a Fibaro Door/Window sensor 2, and it wasn't included with USB (it doesn't have any).

@robertsLando Let me know if you need files. :)

[2021-02-12 13:35] AlCalzone commented on #546
Does zwave-js know the battery level yet?

[2021-02-12 14:03] oleynikandrey opened #565 "Nodes constantly become dead"
Hello, I have pretty small z-wave network: z-way controller (RaZberry Controller 2016 ZWave+), 2 channel wall switch (Shenzhen Neo Electronics EU-2) and dimmer (McoHome Technology MH-P220). All devices are located in one room.

I'm constantly see error messages about timeouts, unexpected responses or nodes becoming dead.

Here is a part of the log:
[code]

Could someone help me to find a reason fo

[2021-02-12 16:04] cts1085 opened #566 "[question] Is there a setting to enable scenes on dimmers/switches?"
I am not sure if this is part of the devices config migration or not.  I have two types of devices, Zooz and Innoveli that have the capability under OZW1.6 / Zwave2MQTT to pass scene events to Home Assistant. Under Zwave2MQTT this is since under the node information "scene_state_2", etc.  Under ZWaveJS2MQTT I only am seeing "light_dimmer" or "switch" nothing about scenes.

Is there something that

[2021-02-12 18:04] unehab opened #567 "[question] Lost connection with battery powered devices after docker restart"
I am running zwavejs2mqtt on docker (running on Ubuntu) everytime the docker restarts I lose the connection to all battery powered sensors and I need to re-join them to the network - is there a way to avoid this?

[2021-02-12 18:16] billiaz commented on #351
@dennuuz i found out, that I need to perform debugging while device is generating payload. the Only way to do so is to have an RGBW device myself here! I ordered an AEOTEC E27 bulb multi-color I wish this is exposing the same CCs (color switch)
I found a probable issue but I need to go on to the application in Inspect mode with one line at time executed. and find out What is going on. this will ma

[2021-02-12 21:37] ivdimitro commented on #567
Hi, have you given them time to reappear in the network? Also depending on the battery devices. If they are "sleeping" device they can be interviewed only when they are awake and the interview might not end in one wake up period. The frequency of waking up might be configurable on the device so you can make them wake up more often or give them more time to finish the interview.
Also you can share

[2021-02-12 22:21] radiocolin opened #569 "[bug] Schlage BE468 doesn't respond to some commands"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1.17b5041
zwavejs version: 6.2.0

### Describe the bug

My Schlage BE468 lock seems to sometimes ignore MQTT messages and remain in its current s

[2021-02-12 22:24] tradergene commented on #567
I was seeing this behavior as well but after waiting for a bit (10-20 minutes), the devices appeared normally.  I am running zwavejs2mqtt 1.1.1 and zwavejs 6.2

[2021-02-12 22:29] radiocolin commented on #569
Also worth noting that I saw this behavior with OpenZwave + Zwave2mqtt as well

[2021-02-13 06:22] unehab commented on #567
I am using mostly Fibaro motion sensors and a few Sensitive strips door sensors, it doesn't take 10-20 minutes it takes several hours and some just stay undetected, I looked at the configuration options but didn't find something that seems to me relevant to the wake up interval.
Are you familiar with these modules? Can you point me in the right direction for optimal configuration options for these

[2021-02-13 09:46] MaxVonEvil opened #572 "[bug] Silicon Labs UZB controller being reported as a humidity sensor?"
Build/Run method: [X] Manually built (git clone - npm install - npm run build )
zwavejs2mqtt version:  1.1.1.94ff7ed

### Describe the bug
While it's working as expected, z-wave controller is identified wrongly on both manufacturer and product description. This shows both in the console log:
   Node 1 ready: Sigma Designs (Former Zensys) - M417_9E (Smart Temperature & Humidity Sensor)
And in the w

[2021-02-13 15:38] ratsputin commented on #555
@aretakisv Apologies but I really can't test this.  The reason is, my garage door isn't truly integrated.  I have a third-party controller that has a physical tilt switch attached to the garage door itself.  It can't detect intermediate (partially open/closed) states.  Just whether the door is completely open or completely closed.

[2021-02-13 16:54] xstream25 commented on #567
Same behavior - just got all of my devices to show up after a week and decided to try a reboot of the docker image, but now all of the battery powered devices that wake once a day are missing (Aeotec Dry Contact, Ecolink PIR Motion Sensors, Aeotec Minimote). Should the default behavior be to cache the device info after discovered?

[2021-02-13 21:36] scyto commented on #569
FWIW i have has years of issues with my BE469NX and FE599NX with different hardware/controller stacks (ISY994i, a razberry awave pi hat) and i see lots of threads on hubitat and smart things too.  I have spent about a week trying to figure these two locks out - here is how i fixed it.

I just started my zwave fresh with a SLUSB001A controller and my NX Schlage devices now work perfectly.  I still

[2021-02-13 21:39] gravyflex opened #576 "[bug] Schlage BE469 lock status not updating."
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.2.0

### Describe the bug

The binary_sensor.schlagebe469_the_current_status_of_the_door remains in that state when I close

[2021-02-14 11:28] ttcole1254 commented on #576
I actually had this issue when I originally switched from OZW to this, but found that simply excluding and including it again fixed the issue. I also restarted zwavejs2mqtt and home Assistant afterwards if that matters. Not that it's a great solution, but it seemed that any device that I "carried over" from OZW had a similar issue.

[2021-02-14 16:03] gravyflex commented on #576
I had excluded and included the lock before creating this ticket.

I upgraded from zwave2mqtt where I was never able to include the lock securely as I had the security key in the wrong format.  I did several rounds of restarts of both hass and zwavejs2mqtt with no success.

I'm using the hass integration with MQTT disabled.

[2021-02-14 16:32] JWise1203 opened #579 "[feat] Add support for Eaton Z-Wave Outlet Model: RFTR9605-TAW"
Please add support for this device. It currently shows up as Unknown for the Product and Code columns.

Also, Home Assistant control is buggy.

I have attached the JSON file

[node_5.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5978053/node_5.txt)

[2021-02-14 17:42] kaplan-max commented on #576
I have the same exact issue with a Kwikset 910 lock. Whether I lock/unlock manually or via home assistant the state doesn't change. I ended setting up polling on the lock status in ZwaveJS2MQTT to help with the issue but that's far from ideal.

[2021-02-14 18:18] blhoward2 commented on #579
Please open this issue at the node-zwave-js project. Device support lives in that project.

[2021-02-14 18:20] blhoward2 commented on #576
Please reopen this issue at the node-zwave-js project. Lock statues updating for some devices was recently updated. For other older models like the 910 it is in progress. Regardless that support lives in the other project.

@robertsLando Please close.

[2021-02-14 18:21] blhoward2 commented on #572
Please reopen at the node-zwave-js project. Device support lives in that project.

@robertsLando Please close.

[2021-02-14 18:26] Andoramb opened #580 "[question] Possible to connect to websocket with Node-Red?"
Is it possible to connect directly to the websocket with Node-Red?
This way the network/automations could be independent of Home Assistant (in case it is down).

So far I've got (changed the websocket port in docker compose to 3333 for testing):
![image](https://user-images.githubusercontent.com/3399628/107885392-51e87400-6efa-11eb-8f61-b5be0a4c246a.png)
But there's no other activity reported for

[2021-02-14 20:42] ivdimitro opened #581 "[feat]Better visualization for partial parameters"
**Is your feature request related to a problem? Please describe.**
Currently the [partial parameters (bit fields)](https://zwave-js.github.io/node-zwave-js/#/development/config-files?id=partial-parameters) in device configuration are represented as any other configuration parameter which creates clutter in GUI and it is a bit confusing. For example in order to describe on which alarms a switch sho

[2021-02-14 20:43] kpine commented on #580
This is question for zwave-js-server project, but you need to setup the connection handshake as documented: https://github.com/zwave-js/zwave-js-server/#api

Send a JSON payload to the server to start listening:
[code]

[2021-02-15 01:14] scyto opened #583 "[bug] logging doesn't respect containers time / time zone settings"
Before submitting a bug please read:

### Version
App Version
1.1.1+94ff7ed.94ff7ed

Zwavejs Version
6.3.0-8f22052

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

### Describe the bug

I use the following in docker-compose to ensure the containers time matches the host.
[code]
This is correctly setting the date and time inside the containe

[2021-02-15 01:29] scyto commented on #583
hmm adding this worked (as it is another solution to TZ)
What I don't get is why this wasn't needed on the containers for the last week or so, but is now.
I will retest once next official dockerhub master comes out and see if it is new behavior or dependent on build process.

[code]

[2021-02-15 07:53] Andoramb commented on #580
But of  course! 👍
Thanks!

[2021-02-15 07:53] #580 closed

[2021-02-15 08:29] robertsLando commented on #583
The TZ var has always been there in Docker containers

[2021-02-15 08:29] #583 closed

[2021-02-15 08:34] haavardNO commented on #486
@billiaz Did you have a chance to look at this?
I have had to disable my garage remote due to this behavior.
Can't risk my garage open in the middle of the night 😊

[2021-02-15 08:51] aretakisv commented on #486
@haavardNO you are using MQTT discovery i suspect?
if so please export the Node using export button, next to the node causing this issue.
I remember we need to set a default value for HASS to understand if state is 0! but I am curious how HASS stays on 0

Giving me that ZIP can probably help me get it

[2021-02-15 08:52] billiaz commented on #486
@haavardNO you are using MQTT discovery i suspect?
if so please export the Node using export button, next to the node causing this issue.
I remember we need to set a default value for HASS to understand if state is 0! but I am curious how HASS stays on 0

Giving me that ZIP can probably help me get it

[2021-02-15 08:54] haavardNO commented on #486
Can get you that zip later today.

[2021-02-15 08:55] robertsLando commented on #581
@AlCalzone Are there any work in progress to make those booleans?

[2021-02-15 08:55] #572 closed

[2021-02-15 08:55] robertsLando commented on #572
Thanks @blhoward2

[2021-02-15 08:56] billiaz commented on #351
@dennuuz I will probably have the bulb this wednesday! this means I will get to play with it thursday and after!

[2021-02-15 09:02] robertsLando commented on #566
@AlCalzone are scenes 100% supported in zwave-js?

[2021-02-15 09:04] #576 closed

[2021-02-15 09:06] robertsLando commented on #567
Usually you have to wait even some hours before them come back

[2021-02-15 09:07] robertsLando commented on #569
@radiocolin Could you attach zwavejs logs please? @AlCalzone thoughts on this?

[2021-02-15 09:54] AlCalzone commented on #581
https://github.com/zwave-js/node-zwave-js/issues/1717

Also related:
https://github.com/zwave-js/node-zwave-js/issues/1347
https://github.com/zwave-js/node-zwave-js/issues/1644
and https://github.com/zwave-js/node-zwave-js/issues/1675 - I want to allow setting the values as either one compound value or the partial params

[2021-02-15 09:58] AlCalzone commented on #566
We should clarify first what is meant with scenes:
* `Central Scene`? --> supported, is emitted as `"value notification"` event ✔
* `Scene Activation`? --> supported, is emitted as `"value notification"` event ✔
* Something device specific that is called "scene" in the manual? ❌

@robertsLando you should also take a look at https://github.com/zwave-js/node-zwave-js/issues/1560#issuecomment-7750577

[2021-02-15 10:00] robertsLando commented on #566
I already do that

[2021-02-15 10:09] #546 closed

[2021-02-15 10:10] AlCalzone commented on #569
I see no errors above, so I'm guessing the lock accepts the command and chooses to ignore it sometimes 🤷🏻‍♂️

[2021-02-15 11:41] ivdimitro commented on #581
Wow, great minds think alike :). I understand sooner or later this issue will be addressed. Thanks.

[2021-02-15 11:41] #581 closed

[2021-02-15 12:41] cts1085 commented on #566
Here are two screen shots - First from Zwave2MQTT second from ZwaveJS2MQTT - the different is in the node json created for the scenes for the device.  I believe the devices/configs are similar between OZW and Zwave-js as far as I can tell. Note: I am running both via docker on a raspberry pi. No HW changes between screenshots - just downed one container and started the other.

![image](https://use

[2021-02-15 15:26] apaperclip opened #592 "[bug] vision 2102-5 door/window sensor showing alarm type and event but no values"
### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.2.0

### Describe the bug

A Vision 2102-5 (labeled as monoprice) door/window sensor has 4 items in the notification section. All are CC 113.
Alarm Type, Alarm Level,  Home Security (property), and Door State. The two alarm events nev

[2021-02-15 16:07] robertsLando commented on #592
If you are using ws server integration you shgould open the bug on hass repo not here

[2021-02-15 17:12] robertsLando commented on #566
@cts1085 Did you also tried the hass ws server integration?

[2021-02-15 17:30] cts1085 commented on #566
Same:
![image](https://user-images.githubusercontent.com/30473948/107977711-8f481280-6f89-11eb-9c1c-08f16e230605.png)

[2021-02-15 18:36] scyto commented on #583
i know i think i didn't explain myself

The TZ is a fine workaround to a regression i am observing.
On master container from 4 days ago
[code]
works to set time zone for container AND logging was using this time

on the containers i built using Dockerfile.contrib it works to set the timezone in the container but logging ignores container time and uses UTC.

[2021-02-15 19:20] apaperclip commented on #592
I am using WS, but my observations are the zwavejs2mqtt ui and with the zwavejs discovery.

[2021-02-15 19:55] zeddski commented on #567
Please be aware that "waking up" isn't always the same as triggering a device.
A motion sensor, for example, will not wake up when it detects motion. You'll have to check the manual, though ususally a "re-associate" action (i.e. press button 3 times) will awaken the device.

[2021-02-15 19:59] kidcoma commented on #553
I have the same problem. Using an Aeotech Z Stick Gen 5 on /usb/ttyAMA0; RPi 4 8GB.

[2021-02-15 20:35] zeddski commented on #553
He meant, remove the network key before posting them here. Not to remove it from your configuration completely.

Just a hunch: what user is the software running under and has that user got permission to connect to /dev/ttyAMA0?

If all this doesn't help, what has worked for me: install, run and remove z-way-server
You can download it from here: [https://webcache.googleusercontent.com/search?q=cach

[2021-02-15 23:35] kidcoma commented on #553
I had forgotten that I needed to reinstall the Integration (was using the regular z-wave addon). I wasn't able to get the integration working with /usb/ttyAMA0, but /dev/serial/by-id/usb-0658_0200-if00 worked.

[2021-02-15 23:52] unehab commented on #567
@zeddski - this is not very practical I have about 20 motion sensors in different locations in my house - I cannot run around resetting them every time a docker restarts (which happens on power outages or code updates).
The sensative strips modules are great for window\door state detection but they have no buttons so you have to pass a magnet on them to wake up - I can't even start to describe how

[2021-02-16 01:40] scyto opened #595 "[bug] Aeotec Switch 6 - binary switch doesn't work any more as it has wrong (light) domain."
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.1.1+94ff7ed.94ff7ed

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1+94ff7ed.94ff7ed
zwavejs version: 6.3.0-8f22052

### Describe the bug

The Aeotec Switch 6 - binary switch doesn't work any

[2021-02-16 01:44] scyto commented on #595
[node_11.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5985276/node_11.json.txt)

[2021-02-16 03:32] scyto commented on #595
I note the whole device is now in the light discovery section, on previous versions it was in the switch discover section (which would be correct, this is a switch not a light).

![image](https://user-images.githubusercontent.com/11369180/108015189-7dd02c00-6fc4-11eb-83f6-e81d57504334.png)

[2021-02-16 04:57] scyto commented on #595
With help from RobC pretty certain it is these changes that caused this. One can't assume a device with a switch and rgbw is an rgbw dimmer / light https://github.com/zwave-js/zwavejs2mqtt/pull/290/files.

The switch in this device just controls the 120v outlet on it.

[2021-02-16 06:01] haavardNO commented on #486
@billiaz see below.
[node_71.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5986426/node_71.json.zip)

[2021-02-16 09:45] robertsLando commented on #566
@AlCalzone I have a feel that the device isn't reporting the meter CC correctly, maybe it requires a compat flag?

[2021-02-16 09:49] robertsLando commented on #592
@AlCalzone

[2021-02-16 09:50] AlCalzone commented on #566
Can't say anything without a log 🤷🏻‍♂️

[2021-02-16 09:51] robertsLando commented on #583
That file is to build images for testing purposes and it's not really maintained, @larstobi look at this if you want/have time, nothing so important btw :)

[2021-02-16 09:52] robertsLando commented on #566
@cts1085 Please add logs file... sorry @AlCalzone Thought them was there

[2021-02-16 09:58] AlCalzone commented on #592
I'm not sure why the empty values are displayed in zjs2m. At least I see no message in the log where a V1 value is received. Might have to do with how zjs2m decides what to display. Since the device claims it supports V1 alarms, we cannot be sure that it does not use them in some situation.

[2021-02-16 10:10] billiaz commented on #595
I am going to test thorrowly once the RGB light is here. the change made on pr, is a Draft and needs work!

I already expected some mixup.

@scyto if this outlet has already an color switch CC! and is not a Colorswitch device.. then probably they do something wrong. But want to be sure for this. Good to know something is broken, to take a look on this

[2021-02-16 11:06] larstobi commented on #583
I think using the TZ variable is not only a workaround, but the correct solution. :-)

[2021-02-16 12:26] AlCalzone commented on #381
https://github.com/zwave-js/node-zwave-js/pull/1782 for anyone who wants to try

[2021-02-16 12:38] HWL1968 opened #599 "[bug] Fibaro Roller Shutter 3"
Build/Run method

- [ ] Docker

App Version
1.1.1
Zwavejs Version
6.2.0

### Describe the bug
Hi all,

I am using a Fibaro roller shutter 3 (FGR223) to control my roller shutter ( :-) ). Through the webinterface everything is working fine:
- positioning (including the update of the currentValue)
- moving up / down

Also the control via MQTT works fine:

positioning:
ZWAVEMQTT/RolluikWoonkamer/swit

[2021-02-16 12:55] cts1085 commented on #566
My apologies - logs and other files located in ../store attached...

[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5988665/zwavejs2mqtt-store.zip)

[2021-02-16 13:29] AlCalzone commented on #566
"Secure: unknown" makes me suspicious. Try re-interviewing it and send me a log of that if it doesn't work afterwards.

[2021-02-16 13:39] cts1085 commented on #566
Just to be clear - I did select "Rediscover Node" before I downloaded the logs - is there another command you want me to run?

[2021-02-16 13:42] AlCalzone commented on #566
I'm not sure where the "re-interview" button is hidden now - @robertsLando ?

[2021-02-16 13:45] cts1085 commented on #566
I found it under Node Actions - I will select that and re-collect the logs.

[2021-02-16 13:59] cts1085 commented on #566
Now - is there anything I need to do to see the scenes in HA via WS integration?

[2021-02-16 14:14] apaperclip commented on #592
Ok, thanks guys -
so,
```14:29:59.398 CNTRLR   [Node 005] [+] [Notification] supportsV1Alarm: true    [Endpoint 0] [internal] ```

Tells us the device says it supports Alarm V1 and therefor the alarm level and alarm type. This results in type/level showing up, even if the device never sends anything to them.

What about the note in the device config:

[code]

Shouldn't the device already support b

[2021-02-16 14:19] TheMrAnderson commented on #567
I moved from Home Assistant's integrated Z-Wave to this and none of my battery operated devices have shown up even after 2 weeks.  Just last night I excluded and secure included one of the door sensors and still nothing came in.  I'm very disappointed this is the path Home Assistant has chosen to go because this is a move backwards because like @unehab said Home Assistant would not lose the manufa

[2021-02-16 14:20] AlCalzone commented on #592
It does, but zwave-js hides the Basic CC by default if there's a more specific actuating CC supported. That compat option forces it not to be hidden.

[2021-02-16 17:15] scyto commented on #595
Yes it is interesting. I think this device is doing it right.  It has a binary switch - which is just that a plain binary switch for controlling any binary load connected to it.
It also has a color switch which controls the rgb color indicator on it. this seems right to me.
Lastly it has a multi level switch that does ¯\(°_o)/¯ (so maybe it doesn't do it right, lol).

At least on this device each

[2021-02-16 18:29] scyto commented on #583
cool, glad i got an explanation :-)

@larstobi  i like the file mapping as in a pre-defined docker-compose it works for just about every system

but happy to snap to TZ as that seems to be the consensus, i can add TZ to our example dcker-compose in the repo.

[2021-02-16 19:07] larstobi commented on #583
Great idea! 😊

[2021-02-16 22:32] Mark612 commented on #569
Previous to zwavjs2mqtt, same controller, same setup; I didn't have issues with my Schlage locks.

Now I'm seeing the same issue. Sometimes the locks work, sometimes they don't with zwavejs2mqtt.

[2021-02-16 22:52] scyto commented on #569
sounds like some of the weirdness i have seen.
1) are we talking about BE469NX or BE469ZP
2) have you reproduced when the controller is right next to the lock
3) some of the NX locks don't seem to get association group set right, you might want to check that in the groups tab
4) what controller are you using

[2021-02-16 23:13] rccoleman opened #600 "[bug] Dependabot "updated" from Debian Buster to Alpine, which breaks the custom container build"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.3.0

### Describe the bug

It looks like dependabot "upgraded" the base docker image from Debian to Alpine, which broke the c

[2021-02-17 00:12] Mark612 commented on #569
Not sure. BE469, Product ID 20548, Zwave chip firmware 128.22

I had some issues when setting up, took a few tries. However, it seems to work fine when right next to the lock. So, I'm using several 'secure' AEON range extenders close to the lock that seem to help.

Nortek HUSBZB-1 GoControl

[2021-02-17 00:35] scyto commented on #569
That's an NX, non-zwave plus.  They seem to be flaky for lots of folks.  On two controllers i owned they wouldn't include at all (ISY994i and raZberry pi hat). One person on a zooz series 500 controller had issues like yours.  They got theirs to work through re-interviewing multiple times when controller was next to lock and the healing network back when back in correct locations.  My NX not worki

[2021-02-17 04:31] balloob opened #602 "[bug] Do not start ZJS Server before the `driver ready` event"
### Version

Build/Run method

- [x] Docker
- [x] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.4.0

### Describe the bug

Z-Wave JS 2 MQTT will start the Z-Wave JS Server before the Driver object has emitted the `driver ready` event. This is causing bad information to be sent by Z-Wave JS Server. This is not supported.

Related

[2021-02-17 04:35] balloob commented on #602
An alternative could be that we update [`Server.start`](https://github.com/zwave-js/zwave-js-server/blob/master/src/lib/server.ts#L251) to not start the server until the driver is ready. However that seems weird because `start` then doesn't automatically start.

We could update `Server.start()` to raise if the driver is not ready maybe. That would help make it clear we're not ready to serve yet.

[2021-02-17 07:50] robertsLando commented on #600
@rccoleman You are speaking about the Dockerfiule.contrib right?

[2021-02-17 07:54] robertsLando commented on #583
@scyto Go for it! Thanks :)

[2021-02-17 07:55] robertsLando commented on #602
Let me fix this :)

[2021-02-17 07:55] #600 closed

[2021-02-17 08:32] #602 closed

[2021-02-17 10:59] robertsLando commented on #599
Could you try to send 'start' and 'stop' via mqtt?

[2021-02-17 11:22] HWL1968 commented on #599
"ZWAVEMQTT/RolluikWoonkamer/switch_multilevel/endpoint_1/Down/set" -m "stop" / "start" actually moves up (and stops). Moving down via true / false is working fine (as expected). Weird.

Moving up via true / false or start / stop also works as expected.

However: no update of the switch states is being performed (on the webpage) nor is a message send to MQTT about the switch being changed. It can b

[2021-02-17 12:25] billiaz commented on #555
Then I suspect this is somethign we can accept as is. I will check the FGR222, separately

[2021-02-17 12:39] robertsLando commented on #599
Humm this could be due to some device settings about reports. @AlCalzone ?

[2021-02-17 12:52] AlCalzone commented on #599
Do I understand correctly, you want to display somehow that the `UP/DOWN` command is in progress or not?
So far that is not intended as the buttons are writeonly. It **might** be possible that it is possible for some devices (like this one) due to Supervision support, but I'd need to see a zwave-js log.

[2021-02-17 13:44] robertsLando commented on #599
I think that the problem is that the state change is not reported by the device while it's going up and down

[2021-02-17 13:50] atterdal commented on #493
Too be safe I waited for new release and updated to latest master on docker. Still get this message when trying to update:

[code]

Is it related to the node I'm trying to update register as "Unkown product 111" from "Unkown Manufacturer 134"?
<img width="1564" alt="Skärmavbild 2021-02-17 kl  14 50 15" src="https://user-images.githubusercontent.com/2734444/108213580-7b3e1580-712f-11eb-9851-8afd7e6

[2021-02-17 13:53] AlCalzone commented on #493
Hmm, my test case with current node-zwave-js master still works. So there's probably some version mismatch.

[2021-02-17 13:55] atterdal commented on #493
It says "App version: 1.1.1" "Zwavejs Version: 6.4.0"

[2021-02-17 13:57] AlCalzone commented on #493
You did load the exe from the zip file above?
@robertsLando maybe another artefact of the duplicate dependencies due to zwave-js-server?

[2021-02-17 13:58] AlCalzone commented on #599
Well that is entirely possible.

[2021-02-17 13:59] atterdal commented on #493
Yes, same .exe as I sent before. Is it expected that the node shows up as "Unkown product 111" and "Unkown manufacturer 134"?

[2021-02-17 14:20] robertsLando commented on #493
I'm waiting for the new beta 7 release, that should be fixed then

[2021-02-17 14:21] robertsLando commented on #493
@atterdal just to be sure, are you using `master` or `dev` tag ?

[2021-02-17 14:22] atterdal commented on #493
@robertsLando master

[2021-02-17 14:26] robertsLando commented on #493
Ok that should have the latest things so. Sincerly I dunno what's wrong here :(

[2021-02-17 15:32] Wojcioo opened #607 "[question] Danfoss LC13 not discovering all values"
Hello
I have 3 different Danfoss Living Connect Z Thermostat. For two of them all values are identified properly and I can see them in the ZWaveJS2MQTT Control Panel. This are:
climate_thermostat
sensor_battery_level
binary_sensor_battery_islow

But for one I can only:
sensor_battery_level
binary_sensor_battery_islow

I've installed this on RPI3 using this instruction: https://flemmingss.com/how-t

[2021-02-17 15:38] robertsLando commented on #607
@Wojcioo Logs please

[2021-02-17 16:37] HWL1968 commented on #599
If the device doesn't report it, it is indeed no bug, but I don't know if it is reported nor do I know how to see that.

What I noticed is that the webinterface doesn't change when I send the up or down command via MQTT. I would expect that to be shown (and the device should report the state as an currentValue or something). Also I would expect that the webinterface should send an update when I 'p

[2021-02-17 16:42] balloob commented on #602
Thanks!

[2021-02-17 16:47] balloob commented on #602
@zwavejs/server 1.0.0-beta.7 will now raise if the driver is not ready when the server starts.

[2021-02-17 17:18] Wojcioo commented on #607
@robertsLando
[zwavejs2mqtt.log](https://github.com/zwave-js/zwavejs2mqtt/files/5997384/zwavejs2mqtt.log)

[2021-02-17 17:48] ggruner opened #610 "[bug] Add AEON Labs ZW112 Door Window Sensor 6 Sensor Support"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
Home-Assistant: 2021.2.3

Build/Run method

- [ X ] Docker

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.2.0

### Describe the bug
I have switched from the "old" Zwave 1.4 Migration to the new ZwaveJS2MQTT Migration in Home Assistant. I am using the "AEON Labs ZW112 Door Windo

[2021-02-17 17:52] ggruner commented on #610
Here is also the zwavejs2mqtt.
[zwavejs2mqtt.log](https://github.com/zwave-js/zwavejs2mqtt/files/5997612/zwavejs2mqtt.log)

[2021-02-17 17:57] Mark612 commented on #569
Thank you for the input. It seems these Schlage locks are buggy if you and others have had issues also.

Both my locks are secure. I did several more 'heal network', and 're-interview node', and haven't had any issues since. Will keep testing.

I tried using the group setting, but it does not save. Appears I need to set a target to apply it. What target, just another node?

[2021-02-17 19:46] AlCalzone commented on #599
@HWL1968 lets put it this way: Your device supports Supervision CC, which tells us if the device accepted the Up/Down command. If it does not accept the command, setting the value will fail (unless zwavejs2mqtt ignores that for writeonly values).

[2021-02-17 20:10] Torrent007 commented on #553
Any update @lukaszolek  on this error ? I'm in the same case.... :(

[2021-02-17 20:23] HWL1968 commented on #599
@AlCalzone: off course. It took me quite some time to figure out which command is accepted to move the shutter. But since the shutters move on the mqtt command, I assume it is accepted. Or do I understand your reaction wrong? Therefor I think the issue of not changing the website of zwavejs2mqtt (the controlpanel view) is the issue.

Just for better understanding by me: if I issue a command toward

[2021-02-17 20:50] dennuuz commented on #351
@billiaz sounds good! let me know if there is anything i can do meanwhile.

[2021-02-17 20:59] billiaz commented on #610
@ggruner can you share also an node export from the node itself?

do you see multilevel sensor discovered?

Manual too! I think this is for Zwavejs, to be included as device but also I want to see if Hass works

[2021-02-18 03:59] scyto commented on #569
Target should be the controller.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Mark612 <notifications@github.com>
Sent: Wednesday, February 17, 2021 9:58:04 AM
To: zwave-js/zwavejs2mqtt <zwavejs2mqtt@noreply.github.com>
Cc: scyto <lx_b@msn.com>; Comment <comment@noreply.github.com>
Subject: Re: [zwave-js/zwavejs2mqtt] [bug] Schlage BE468 doesn't respond to some

[2021-02-18 05:52] rotem925 commented on #567
I have the same issue..
After docker restart, some of my battery powered still not available. Shouldn't this being loaded from the cache??

[2021-02-18 07:06] ggruner commented on #610
@billiaz Thanks for the quick response. I have attached the manual and the debug info "node export?" of the Node itself. I hope this is the requested node export that you want.

[ES - Door Window Sensor 6.pdf](https://github.com/zwave-js/zwavejs2mqtt/files/6000826/ES.-.Door.Window.Sensor.6.pdf)
[node007.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6000827/node007.json.txt)

[2021-02-18 07:11] robertsLando commented on #553
@Torrent007 In this cases it must be something weird with the controller path or the controller itself

[2021-02-18 07:11] #553 closed

[2021-02-18 07:14] robertsLando commented on #599
@HWL1968 After sending the command, try to refresh the page,, you will see that the on/off comes back to the previous value

[2021-02-18 07:36] robertsLando commented on #567
With version 6.4.0 of zwavejs this should be fixed. Could you try touse dev tag if you are using docker?

[2021-02-18 07:38] robertsLando commented on #607
[code]

Do you have any air temperature value id in your values?

[2021-02-18 07:38] robertsLando commented on #607
cc @billiaz

[2021-02-18 07:51] Wojcioo commented on #607
Do you mean in this place?
![image](https://user-images.githubusercontent.com/33394332/108323009-72e4e980-71c6-11eb-80f8-cc462d2d7c7d.png)
I've got 21.

[2021-02-18 09:04] robertsLando commented on #607
Nope, it's a mulilevel sensor CC, do you have any sensor multilevel defined? Try to send me a node export

[2021-02-18 09:07] billiaz commented on #607
Danfoss has no feedback of temp.
I will test my lc13 i have and try to make a patch

[2021-02-18 09:08] robertsLando commented on #607
Lol so we need to patch the discover climate funcion to work even without a temp

[2021-02-18 10:21] robertsLando commented on #607
Yep the temperature is missing, that's why the climate device isn't discovered. As I said this requires a patch in Gateway discoverClimate function to allow create climate devices without a temperature

[2021-02-18 11:07] RezzZ commented on #485
you mean disable this in mosquitto or in the settings inside zwavejs2mqtt.
it's a bit hard to disable in zwavejs2mqtt if it crashes on start.

I'll try to edit the settings.json then.
TIP: perhaps the file can be properly formatted as json instead of a 1liner?
makes it easier to edit.

[2021-02-18 11:45] robertsLando commented on #485
@RezzZ Glad you fixed!

[2021-02-18 12:16] gilbertand commented on #610
@ggruner running a very similar set up to you with a ZW112. I had to do a long wake up the device and interview the node again from zwavejs and it came good.

`Press and hold the Action Button on the back of theSensor unit until the LED turns yellow (3 seconds in), then your Sensor will wake up for 10 minutes. During this time, the orange LED will fast blink while it is awake.`

[2021-02-18 12:54] Illsley opened #613 "[question] Disable zwave logging completely"
Hi,

It seems that values are logged to the xxxxx_values.jsonl file in the store despite zwave (and all other logs) logs being disabled in the settings. Is this an expected behavior?

/J

[2021-02-18 13:03] robertsLando commented on #613
That is used as cache by zwavejs

[2021-02-18 13:03] #613 closed

[2021-02-18 13:09] Illsley commented on #613
Ok thanks. Is it possible to disable the zwavejs cache?

[2021-02-18 13:23] robertsLando commented on #613
Nope AFAIK. @AlCalzone

[2021-02-18 13:29] AlCalzone commented on #613
That doesn't make sense. You don't want to re-query everything on every restart.

[2021-02-18 13:54] #505 closed

[2021-02-18 15:33] TheMrAnderson commented on #567
@robertsLando I'm running Docker on unRAID and I switched to the dev tag.  After 11 minutes the web UI is still spinning and saying Loading.  Looking at the logs, it's interviewing everything and hit it's max failed interviews on the battery operated nodes.  It's doing partial interviews on the nodes it can reach.  It will log a lot of lines, then stay idle for a while, then log several more.  I'm

[2021-02-18 16:30] ggruner commented on #610
@gilbertand I did a long wake up twice now and I see in the logs some information like:

15:24 - > First long wake up
15:24:18.984 CNTRLR « [Node 007] received response for manufacturer information:
                        manufacturer: AEON Labs (0x86)
                        product type: 0x02
                        product id:   0x70

15:57 - > Second long wake up

In the GUI I do not see any

[2021-02-18 16:50] mgriffin13 opened #621 "[feat] Targeted debug logs"
**Is your feature request related to a problem? Please describe.**
I'm trying to debug a specific node, so I want to enable debug logs, but I get flooded with debug logs from every node

**Describe the solution you'd like**
The ability to enable debug logs for anything regarding specific nodes, while leaving the rest of the nodes as INFO logging

**Describe alternatives you've considered**
I can u

[2021-02-18 17:06] drjjr2 opened #622 "Dashboard stuck on loading screen 1.2.0"
Just updated to 1.2.0 and now my dashboard is stuck on "Loading." The container logs show that it is running. I just can't access the dashboad.
Any suggestions would be welcome.

[2021-02-18 17:18] hareve commented on #622
I also get this. In dev-tools I see this error: Could not load content for webpack://zwavejs2mqtt/static/js/app.d0932a2a2f1c71b1d987.js (HTTP error: status code 404, net::ERR_UNKNOWN_URL_SCHEME)

[2021-02-18 17:26] decairn commented on #622
Chrome F12 adds further context to that error before the dev-tools error: Uncaught (in promise) Error: Redirected when going from "/" to "/settings" via a navigation guard

[2021-02-18 17:49] Swiftnesses commented on #622
I know it adds little value, but I have the same issue.

[2021-02-18 18:05] drjjr2 commented on #622
This looks like it was fixed with 1.2.1

[2021-02-18 18:20] robertsLando commented on #622
Fix on 1.2.1

[2021-02-18 18:20] #622 closed

[2021-02-18 18:26] Swiftnesses commented on #622
Thank you @robertsLando - super fast as always!

[2021-02-18 18:28] drjjr2 opened #624 "Garage Door Openers/Kwikset 910 locks"
Hello,
I know there was an open zwavejs issue about barrier operators not returning the proper states to Home Assistant. After updating to 1.2.1 with zwavejs 6.4, what do I need to do in order to update the device for HA? I thought re-interview node might do it, but that doesn't seem to update the MQTT payload.
Separately, way back in the day there was an openzwave fix for the Kwikset 910s that us

[2021-02-18 18:30] BluGeni commented on #610
I have this exact  door/window sensor and it came in perfect.

[2021-02-18 18:30] robertsLando commented on #622
Sorry for the inconvenience 🙏🏻

Unfortunately as I said in slack channel this bug was not happening on my tests as it was depending on the missing auth property in settings (undefined). I check it to be true or false, this is the purpose of the spinner, it waits to check the auth to show you the login or directly login you but was returning undefined

[2021-02-18 19:27] ggruner commented on #610
@BluGeni thanks also for your feedback and confirmation that this is working.

@ALL I have excluded and included the sensor on my zwave stick and now it seems to working fine and it was recognized on the webui.

[2021-02-18 19:27] #610 closed

[2021-02-18 21:29] PatrickNByrne opened #626 "Issue with climate entity discovery after updating to 1.2.1"
Great work with this so far! Most of my devices are working quite well but I seem to be having a minor issue with HASS discovery of climate devices after updating to 1.2.1.

Discovery worked in version 1.1.1, but after updating, the existing climate entities are marked unavailable. I have tried re-interviewing the node (works fine), rediscovering it (again seems fine), removed the entity in hass (

[2021-02-18 21:32] PatrickNByrne commented on #626
Adding node dump.

[zwave_js_dump.jsonl.zip](https://github.com/zwave-js/zwavejs2mqtt/files/6006028/zwave_js_dump.jsonl.zip)

[2021-02-18 21:42] zeddski opened #627 "[question] Home-assistant (docker) zwavejs integration will not start"
It has worked before, but after a restart of both HA and zwave-server, HA-integration seems unwilling to start. My zwave units are no longer available from HA.
Relevant logs:

port 3000 is reachable from HA (as stated it worked before).
Any idea on how to go debug this?

[2021-02-18 21:48] otherwish commented on #626
Updated to 1.2.1 as well and the climate entity is not being discovered by HA. Exclude and include did not help. Thermostat is Honeywell TH6320ZW.

[2021-02-18 23:55] kpine commented on #626
zwave-js 6.3.0+ is not compatible with the current release of HA, in regards to thermostats and some RGB devices. If you need the functionality, aside from modifying HA code yourself, you must run the dev version of HA, or rollback to the 6.2.0 version of zwave-js.

[2021-02-18 23:56] kpine commented on #626
FYI, if you are using the Z-Wave JS HA integration, then the MQTT discovery is not used at all.

[2021-02-19 00:11] drjjr2 commented on #624
OK, I see that the barrier operator fix isn't implemented yet.

[2021-02-19 00:11] #624 closed

[2021-02-19 01:42] scyto commented on #506
I have seen the same issue, when it happens to me the main cache file is not left empty, rather it is zeroed on next start with this error
[code]
This was generated using docker-compose stop and docker-compose start.
I had `stop_signal: SIGINT` in my docker-compose.yml
I did NOT have `stop_grace_period: 10s` in my docker-compose.yml  (off to test that now, just need to wait 30 mins)

(as an aside

[2021-02-19 02:07] scyto commented on #506
and on my second test after adding `stop_grace_period: 10s` the file was zeroed after doing docker-compose stop

I also notice that after i stopped the container something was writing to zwavejs2mqtt.log - for like a minutes or two after the container was stopped and reported as `stopped by docker container ls` how is that possible?  (i was running tail -f against both logs).

[2021-02-19 02:09] scyto commented on #506
did you manage to stop this happening?

[2021-02-19 03:49] PatrickNByrne commented on #626
@kpine Ah, that would explain it. Thank you!

I replaced my local instance of discovery.py for the zwave_js integration with the one from this PR: [46355](https://github.com/home-assistant/core/pull/46355) and they are now being discovered as expected.

Thank you again for pointing me in the correct direction. I will mark this solved.

[2021-02-19 03:49] #626 closed

[2021-02-19 05:48] unehab commented on #567
@robertsLando I haven't tagged the dev branch but I have version 6.4.0 running now at my setup for the last 4 hours and still most of my battery powered sensors are undetected.
I reduced their wakeup interval to 15m (instead of 2h) but it doesn't seem to be very helpful 😞

[2021-02-19 07:37] robertsLando commented on #567
@AlCalzone ?

[2021-02-19 07:44] robertsLando commented on #506
@scyto I don't think this is something on my side, maybe the driver destroy method isn't waiting enough? @AlCalzone

SIGINT detected: https://github.com/zwave-js/zwavejs2mqtt/blob/master/app.js#L850
Gsateway close is called: https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L940
Zwave client close and driver destroy: https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/ZwaveC

[2021-02-19 07:47] AlCalzone commented on #567
Good thing I have this reply saved:
Please make a zwave-js log, loglevel `debug` or `silly` and attach it here as a file. Make sure to mention which Node IDs are affected.

If nothing else is going wrong, battery-powered nodes should be **immediately available** for use after a reboot if they have been interviewed prior. They will still be queried for updated values, but that happens in the backgr

[2021-02-19 07:59] AlCalzone commented on #506
Hmm, to debug you could try adding a log message just before the driver destroy method ends:
`node_modules\zwave-js\build\lib\driver\Driver.js`, line 874 (probably)

[code]

From the log above it does look like it all goes through. Would be interesting to see what exactly is logged after the container is stopped.

[2021-02-19 08:21] #506 closed

[2021-02-19 09:08] robertsLando commented on #627
Please open this on hass side

[2021-02-19 09:08] #627 closed

[2021-02-19 09:49] syphernl opened #643 "[bug] The module '/opt/zwavejs2mqtt/bindings.node' was compiled against a different Node.js version"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.1
zwavejs version: 6.x

### Describe the bug

After upgrading from v1.1.1 to v1.2.1 I am now getting an error while starting up:

[code]

### To R

[2021-02-19 10:11] espen4001 opened #644 "[bug]Thermofloor Heatit Z-TRM3 wrong sensor showing"
### Version

Build/Run method

- [x] Docker

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.1.3

### Describe the bug

Using zwavejs2mqtt in docker container on a RaspberryPi, and HomeAssistant in docker container on different server, with the Z-Wave JS instegration setup and working. When adding my Thermofloor Heatit Z-TRM3 thermostate to ZWave-network, it shows up in Home Assistant as expected.

[2021-02-19 10:13] #643 closed

[2021-02-19 10:14] HWL1968 commented on #599
@robertsLando: tried it just now, and you are right. Seems there is no feedback from the fibaro? Can I somehow check it (in a logfile?) as far as you know? Then we would know for sure that 'no feedback' is a feature by Fibaro.

[2021-02-19 10:18] robertsLando commented on #644
@espen4001 Unfortunally there is no way AFAIK to understand what's the sensor used, what you can do btw is to manually edit the discovered template of the climate and change the endpoint number. By default we use the first endpoint available, in your case you should use the endpoint 4. after this remember to persist the discovered entities by pressing on store so on reboot them are not rediscovere

[2021-02-19 10:27] robertsLando commented on #599
I think it's not really a feature or bug of the device, that value just don't expect a feedback at all, the feedback you can check is the current value of the multilevel sensor

[2021-02-19 10:38] AlCalzone commented on #599
Up/Down is just a command that tells the shutter to move. If the command succeeds and the device supports Supervision (like this one), that is positive feedback. If the command fails, that is negative feedback.

Not sure how that translates over to the MQTT API though.

[2021-02-19 11:04] robertsLando commented on #621
this is actually possible in zwavejs side using the nodes array env var, btw this is difficult to apply on my side as logs most times has no idea about the node, is the zwavejs side enough?

[2021-02-19 12:36] espen4001 commented on #644
Ok, I will try this.

But earlier, when using the "old" OpenZWave(beta) integration in Home Assistant and the ozwdaemon this was not an issue. How come this method works and is able to read which sensor is used?

Is it related to the earlier integration using an separate MQTT broker, and this zwavejs2mqtt is using websocket?

[2021-02-19 12:40] robertsLando commented on #644
Ops sorry, you are using thje zwavejs server integration, I was speaking about the mqtt integration btw... This is something that you need to open on hass side, I cannot do anything on my side to fix that

[2021-02-19 12:40] #644 closed

[2021-02-19 13:06] JAAlperin opened #648 "[bug] climate.thermostat entity became unavailable after install hass.io addon 0.4.2"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker (via hassio addon)
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.1
zwavejs version: 6.0.0 ???

### Describe the bug

climate.thermostat entity of Nortek Security & Control LLC Z-Wave Plus Ther

[2021-02-19 13:19] robertsLando commented on #648
Please opne this kind of errors on hass core repo, it's not an error on my side :)

[2021-02-19 13:19] #648 closed

[2021-02-19 13:22] robinsmidsrod opened #649 "Thermofloor Z-TRM3 thermostat climate entity unavailable in version 1.2.1 (working in 1.1.1)"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.1
zwavejs version: 6.2.0
Home Assistant Core (in Docker) 2021.2.3
Thermofloor Z-TRM3 thermostat firmware version 4.0.33 (config/devices/0x019b/z-trm3.json)

### Describe the bug

My Z-TRM3 thermostat (climate entity) is no longer visible in Home Assistant

[2021-02-19 13:33] JAAlperin commented on #648
The hass core repo did not change, only the addon did.  Frenck maintains addon, commented it only wraps the application, and suggested opening the issue with you.

[2021-02-19 13:36] hmorkemo commented on #648
FWIW: The same happened recently with Heatit thermostats too. Both versions 2 and 3. The error's there at least on version 2012.02.09

[2021-02-19 14:00] JAAlperin commented on #648
2012.02.09 is a supervisor version not core.  Was the Heatit problem resolved?  Got a link?

[2021-02-19 15:00] mgriffin13 commented on #621
Right now, we can change the log level in real time via the control panel, right? Would there be a way to update that array from the UI without requiring a modification of my docker-compose file?

[2021-02-19 15:05] robertsLando commented on #621
Changing the env var on fly isn't so good. @AlCalzone We could support that as a log configuration

[2021-02-19 15:09] hmorkemo opened #651 "IDLock 150, erratic behaviour"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.1
zwavejs version: 6.4.0

### Describe the bug

IDLock 150 often doesn't come in as expected.
One came in fine (227), another (10) was very spars

[2021-02-19 15:10] AlCalzone commented on #621
👍🏻 - wanna make a PR? :)

[2021-02-19 15:21] robertsLando commented on #651
are you using zwavejs integration?

[2021-02-19 15:41] hmorkemo commented on #651
zwavejs2mqtt and zwavejs integration.

[2021-02-19 15:48] HWL1968 commented on #599
@robertsLando @AlCalzone : feature was not meant as a positive thing. If you control it by 2 different instances (which is the clue while using mqtt) you lose the current value. How can I use Supervision? If I turn on to send all events, none of them relate to the button used (on/off).

Can we conclude: no bug but a feature (as a joke) and the only way to know whether a button is pressed: use the

[2021-02-19 15:51] robertsLando commented on #651
ok so please open this issue on home assistant repo. It's not something that I can fix on my side

[2021-02-19 15:51] #651 closed

[2021-02-19 15:53] robertsLando commented on #621
issue for now :laughing:

[2021-02-19 16:01] AlCalzone commented on #599
It is used under the hood automatically if supported by the device.

What do you mean by that?

[2021-02-19 16:46] prilly-dev opened #652 "ID Lock 150 - Nonce problem"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.7
zwavejs version: 6.4.0

### Describe the bug

Adding id lock 150 with zwave module to zwave-js with aeotech gen5 usb stick is causing so

[2021-02-19 17:08] prilly-dev opened #653 "Rediscover nodes under Home assistant tab"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.7
zwavejs version: 6.4.0

### Describe the bug

When runing rediscover nodes under home assistant tab for a lock device (Danalock V3 and I

[2021-02-19 19:24] billiaz commented on #607
I will look into this, probably tomorrow After I fiind one LC13/12 which has the same CC/values

[2021-02-19 19:25] billiaz commented on #607
@Wojcioo can you also export node 3? It will help me understand why one works, when the other just not

[2021-02-19 19:29] billiaz commented on #380
@DamianFlynn can you please send me the node export? want to see some details of this

[2021-02-19 19:33] Wojcioo commented on #607
Thank you :)

[2021-02-19 21:12] rccoleman commented on #600
It just did it again: https://github.com/zwave-js/zwavejs2mqtt/commit/1bb27519c0b92a63621f15116c83f118e7e8949a#diff-4ddc2e10398d5c169795b7937f893ec72d2619b395259c592156a5dd0b476c9f

[2021-02-19 23:01] jasonwragg opened #657 "[bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.2
zwavejs version: 6.4.0

On Secure Meters (UK) Temperature sensor the external tank sensors all report the same value as the main sensor

A clea

[2021-02-19 23:09] chrish987 opened #658 "Notifications not sent when node not completed interview stage [bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Latest release

### Describe the bug

Not sure if this is a bug, or working as designed, but causes usability issues.

When a node has not completed the interview process

[2021-02-20 00:17] crxporter opened #659 "[question] Best way to update when building from git?"
I'm running this with the `git clone ...` then manual build way. I'm wondering what the preferred way to update would be. I've tried a few things and always manage to get things updated - but I often get an error that `package-lock.json` has been changed locally.

Today I did a 2 step before the pull:
[code]

Before restarting my system service. Is there a better recommendation to trash the locall

[2021-02-20 01:24] blhoward2 commented on #659
I always just clone again. Otherwise you need to re-merge the upstream master into your master.

[2021-02-20 01:29] blhoward2 commented on #595
The color switch here is to control the LED color when it's off or under load. It doesn't affect the load.

[2021-02-20 02:46] Kyle-Falconer commented on #541
I'm also confused about how to do an upgrade. I don't know what "focus the target input" means or how I "select the controller action". These terms should be explained more clearly.

[2021-02-20 06:34] HWL1968 commented on #599
@AlCalzone : losing the current value (better should have been 'current state' since it is a switch). If I press in the first instance of my home automation (let's say: openhab) the shutter has to move down, than I can keep a record of that and the state will represent the state of the switch in the fibaro. However if I choose to move the shutter up in another instance (for example Home Assistant)

[2021-02-20 09:19] AlCalzone commented on #599
There exists no command from devices that can tell us that it **started** moving. So if your two instances use different drivers, you're out of luck.

Like I outlined above, what could be done is update the value you set, so there is a notification for all mqtt listeners.

[2021-02-20 09:39] OlliF69 opened #660 "[question] Setting Up ZWAVE network with 15 components - I‘m in trouble"
Hi,
since a few days I try to set up my zwave network. But I don‘t understand, how...
First - firts I drove with ZWAVE QS - now I try to switch to zwave JS.
I installed the zwave JS addon - it works, most of my nodes were found.
As I understood now I need a MQTT broker for cummunications with home assistant. Therefore I installed zwavejs2mqtt add-on. And here is my problem:
I started the addon and

[2021-02-20 10:01] HWL1968 commented on #599
@AlCalzone : thx. I was looking for something which showed that the up/down button is on or off. But since it is no bug, I will close it. Thanks to both for helping.

[2021-02-20 10:01] #599 closed

[2021-02-20 10:07] haavardNO commented on #486
@billiaz Did you get the needed info from the zip? Let me know if there is anything else I can do to help

[2021-02-20 10:10] billiaz commented on #486
omg! I forgot this! yes and no.  let me make a payload patch( and see if works). Will try to post asap the new payload

[2021-02-20 14:04] johanko opened #661 "[question] ThermoFloor Z-TRM2fx climate/thermostat"
I moved from a dev env to docker and also made the migration to Zwavejs2mqtt. First tried with websocket and all devices except my ThermoFloor Z-TRM2fx worked fine.

I run the thermostat in Floor sensor mode(F-mode, floor sensor mode(Default). However there are two Multilevel sensors in the device config:
[7-49-2-Air temperature] Air temperature  and [7-49-3-Air temperature] Air temperature(this o

[2021-02-20 14:06] johanko commented on #661
Also, great work on this repo :)

[2021-02-20 16:54] wranglatang opened #662 "How to update value_template"
Hi, Im trying to update the the value template of a device I have from what is in the attached screen grab to:

`"value_template": "{% if (value_json.value | int) == 21 %} 'Locked Manually' {% else %} 'other' {% endif %}",`

Im able to update and store it but HA doesn't seem to pick up the change. Any ideas?

<img width="1213" alt="image" src="https://user-images.githubusercontent.com/30660751/108

[2021-02-20 21:18] prwood80 commented on #652
Did you set the time zone for your docker container?  Early on, I was seeing something similar and I noticed the time stamps were off.  My issue went away went I set the time zone in my docker compose file.

[2021-02-20 21:48] prilly-dev commented on #652
Yes, it is set for europe/oslo

[2021-02-21 02:11] avanstiphout opened #667 "[question] How to enable the Home Assistant tab in Control Panel"
I apologize if I missed something obvious, but how does one enable the Home Assistant "tab" in the control panel?

I see Node, Groups and Debug Info, but not Home Assistant? I am running the "latest" docker.

Great work by the way on the project! Being able to restart HA without bringing down and restarting the ZWave network is a huge change!

[2021-02-21 03:06] #667 closed

[2021-02-21 03:07] avanstiphout commented on #667
I answered my own question. But, for anybody else, the answer is in the documentation (where else?) :)

https://zwave-js.github.io/zwavejs2mqtt/#/guide/homeassistant

[2021-02-21 05:05] rccoleman opened #669 "[bug] The new json-logic-js dependency from node-zwave-js isn't being picked up in a custom docker image"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

Manually built docker image as per instructions at https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/docker_custom_builds

zwavejs2mqtt version: 1.2.2
zwavejs versi

[2021-02-21 05:17] scyto commented on #669
this fixed the alpine issue, but not the other issues https://github.com/zwave-js/zwavejs2mqtt/pull/666

[2021-02-21 10:30] avanstiphout opened #670 "[bug] Docker: Adding "HTTPS = true" as environment variable throws an error causing the docker to crash upon startup"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.2
zwavejs version: 6.4.0

### Describe the bug

Adding HTTPS=true as an environment variable in docker-compose leads to the following error (as per the docker log):

2021-02-21 18:26:19.785 INFO APP: HTTPS is enabled. Loading cert and keys from store...

[2021-02-21 12:24] 1iveowl commented on #626
How exactly did you do this? I'm running HASS.IO and I can't find the directory with the zwave_js integration. In fact I can find any of the integrations. Is the directory accessable from the Home Assistant Command Line?

[2021-02-21 12:35] haavardNO commented on #486
I have now actually put a small test environment with a dedicated pi and z-stick, so I can test on these devices without messing with the live z-wave network. So I am ready :)

[2021-02-21 12:35] michelwilson commented on #661
I have a similar issue with a Z-TRM3, it has an internal air sensor, external air sensor, and external floor sensor. The climate device via websocket in Home assistant uses the first sensor to show the current temperature. The second and third sensor are shown as sensor device. I'm trying to get the climate device to use the 3rd sensor (the floor one) instead, but not having much success so far, a

[2021-02-21 13:27] prilly-dev commented on #652
It seems this issue has resolved itself, have not had any issues last days. Closing.

[2021-02-21 13:27] #652 closed

[2021-02-21 13:28] prilly-dev commented on #653
I did try rediscover once more and the missing entitys are now back, closing

[2021-02-21 13:28] #653 closed

[2021-02-21 13:28] ivdimitro commented on #660
Hi, The home assistant zwave JS integration and zwavejs2mqtt bring their own separate zwave JS servers. I guess that's why you are having problems.
The zwave GUI in HA quite limited but if it is sufficient for your needs you do not need to do anything else.
If need finer grain control of your devices ot better visualization of your network, I would recommend to install zwavejs2mqtt and pass the us

[2021-02-21 13:29] ivdimitro commented on #662
Have clicked "rediscover node"?

[2021-02-21 14:19] mpuff opened #671 "[bug] no node info of the Aeotec Z-Stick Gen5 ZW090-B in the GUI"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.2
zwavejs version: 6.4.0

### Describe the bug
i use a Aeotec Z-Stick Gen5 ZW090-B and in the GUI i dont see the node info like manufacturer, the

[2021-02-21 16:01] pavel-z1 commented on #671
I have Z‐Stick Gen5 USB Controller model ZW090-C

zwavejs2mqtt version: 1.2.2
zwavejs version: 6.4.0
Inside docker

WebUI don't discover device model, manufacture and all other z-wave device parameters.
For example, device Fibaro Door Sensor 2 that equal to configuration https://github.com/zwave-js/node-zwave-js/blob/3af02ff618ccd3f5aa3ad4bcc9fb9d624acde4e1/packages/config/config/devices/0x010f/fg

[2021-02-21 16:15] wranglatang commented on #662
Yes I have. This seems to just reset all the settings back to what they were by default.
On 21 Feb 2021, 13:29 +0000, ivdimitro <notifications@github.com>, wrote:

[2021-02-21 16:17] scaarup opened #672 "[question] Missing entities on switch"
Hi.
It is suggested here https://community.home-assistant.io/t/logic-group-zdb5100-matrix-switch/144295/79 that I should modify some discovery package to get missing LED entities on my wall switch.

[code]
I am not using mqtt for discovery. How do I accomplish this?

Thanks.