[2021-02-21 16:48] mpuff commented on #671
these are my Logs:
`6:46:03.646 CNTRLR   received version info:

                        controller type: Static Controller

                        library version: Z-Wave 3.95

16:46:03.648 CNTRLR   querying controller IDs...

16:46:03.683 CNTRLR   received controller IDs:

                        home ID:     0xdf3a84a5

                        own node ID: 1

16:46:03.685 CNTRLR   querying con

[2021-02-21 17:23] mpuff commented on #671
and the secound problem is now that zwavejs2mqtt will always interview Node1, i can see it in the logs

[2021-02-21 18:26] pavel-z1 commented on #671
My logs, Fibaro sensor - this is node 15:
[code]

[2021-02-21 19:47] michelwilson opened #673 "[bug] Manufacturer/product names missing on all nodes"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [X ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.2.80163d1
zwavejs version: 6.4.0

### Describe the bug

After updating to the latest git version (including `npm install`) _none_ of my nodes sho

[2021-02-21 22:33] johanko commented on #661
I just made the following in customDevices.json, which works for me using websockets.
[code]
Might be some firmware update on the device. But doublecheck in your nodes in zwave2mqtt for the complete "topic". Eg. [49-3-Air temperature] which atleast for me is the Floor sensor.

[2021-02-21 23:32] AlCalzone commented on #669
Does this also happen if you run `yarn install` after pulling the latest changes from Github?

[2021-02-21 23:54] rccoleman commented on #669
Yes, it does.

[2021-02-22 03:57] nooogs commented on #673
Seeing this as well. I will note that everything appears to work properly and all values/attributes are pulled from the respective devices. It just seems as though translation between the manufacturer and product IDs and their corresponding names is broken.

[2021-02-22 06:45] ahochsteger opened #675 "[bug] Page deep-links and browser reloads always switch to control panel"
### Version

Build/Run method: Docker
zwavejs2mqtt version: 1.2.2
zwavejs version: 6.4.0

### Describe the bug

When I reload a page other than the control panel it always switches back to the control panel.

### To Reproduce

Steps to reproduce the behavior for browser reload:

1. Go to any page other than the control panel (e.g. the settings page)
2. Click on reload in the browser
3. The browser

[2021-02-22 06:47] ahochsteger commented on #675
The fix will also be required to be able to allow more fine-grained deep links in z2m e.g. direct link to certain nodes or tabs in the control panel to allow switching between mesh graph and control panel or direct link from other smart home systems to manage a specific node.

[2021-02-22 07:21] pavel-z1 commented on #671
Today morning I have found that Fibaro Door Sensor finally discovered, all items received from device:
[code]

In the logs I see next records:
[code]

I correctly understand that device interview operation is possible only when z-wave device is in awake state and this state related to the Wake Up interval?

[2021-02-22 07:23] billiaz commented on #672
@scaarup How do you discover your devices? with the server?

[2021-02-22 07:33] billiaz commented on #607
I see, the Air temp is hardcoded to Climate control, which makes no sense to me

can you delete from device 11 the  discovery payload and add a new one as the one i paste here?

[code]

this should create a thermostat_test !!!! if this works, I will need to look into automating this

[2021-02-22 07:54] Wojcioo commented on #607
this works with 11

![image](https://user-images.githubusercontent.com/33394332/108678585-8c01d900-74eb-11eb-9d95-7327ccb984b3.png)

but 2 was working wrong....

[2021-02-22 08:10] scaarup commented on #672
Yeah I am using ws and the zwavejs integration (default discovery). I found out, that I could create my missing light entities manually as mqtt lights - but I really think they should be discovered in stead.

[2021-02-22 08:20] billiaz commented on #607
@Wojcioo knowing how HASS works! i believe node 11 will work until for some reason is unregistered from HASS
they have the same payload.
is thei thermostat_test showing in HASS?

if so I will send you also a test for node 3! and then we will delete them and try a patch.

[2021-02-22 08:25] Wojcioo commented on #607
Yes, it is.
![image](https://user-images.githubusercontent.com/33394332/108681770-d422fa80-74ef-11eb-9e5f-da088a0f3336.png)

Thank you.

[2021-02-22 08:37] billiaz commented on #607
seems nice! I think it is easy to fix in short term. Do you know how to run/build from branch? @Wojcioo
do you use docker?

[2021-02-22 08:48] HannesDi opened #682 "[bug] Cannot find module '/usr/src/app/bin/www'"
Probally my fault but i cannot get it to start..

at startup i got the following log infos:

----------------------------------------------------------------------------------------------------------------
node:internal/modules/cjs/loader:926
throw err;
^

Error: Cannot find module '/usr/src/app/bin/www'

at Function.Module._resolveFilename (node:internal/modules/cjs/loader:923:15)
at Function.Mod

[2021-02-22 08:49] robertsLando commented on #682
I need to know how you build the app. Docker? Git clone and npm run build ?

[2021-02-22 08:53] robertsLando commented on #667
Thanks !

[2021-02-22 08:59] Wojcioo commented on #607
I'm using docker.....

[2021-02-22 09:00] billiaz commented on #607
@Wojcioo I will try to make a docker image for testing! but It will take a bit as I need to test the source code works myself, to submit in one go.

[2021-02-22 09:14] HannesDi commented on #682
Hello, t think i found the Problem...

I running the "Unraid" Docker Container and  in the Settings for persistant path there are 2 Entrys...

Initial both empty:

"Appdata:"
Container Path: /usr/src/app/store ->

"Zwavejs Log:"
Container Path: /usr/src/app/bin ->

and i filled up the to:

"Appdata:"
Container Path: /usr/src/app/store -> /mnt/user/appdata/zwavejs2mqtt

"Zwavejs Log:"
Container Pat

[2021-02-22 09:15] robertsLando commented on #682
No worries, glad you fixed the problem :)

[2021-02-22 09:15] #682 closed

[2021-02-22 09:25] robertsLando commented on #671
@AlCalzone @blhoward2  Is the device config missing?

[2021-02-22 09:31] robertsLando commented on #669
@AlCalzone ?

[2021-02-22 09:33] robertsLando commented on #661
You are speaking about websockes and also mqtt discovery, I don't understand which one discovery methoid you are using. If it works with the custom devices it means you are using mqtt discovery

[2021-02-22 09:33] robertsLando commented on #662
pressing rediscover should do the trick.

[2021-02-22 09:36] robertsLando commented on #670
PR created

[2021-02-22 09:38] #670 closed

[2021-02-22 09:47] #555 closed

[2021-02-22 09:48] robertsLando commented on #659
[code]

[2021-02-22 09:48] #659 closed

[2021-02-22 09:52] robertsLando commented on #675
About the main issue, I think this is something that only happens in production right? as I'm not able to repro this in my dev env

[2021-02-22 09:54] robertsLando commented on #658
This is intended

[2021-02-22 09:56] robertsLando commented on #673
Please add logs

[2021-02-22 09:57] robertsLando commented on #541
Focus means press on the input, when youp press on it you will see this helper:

[code]

[2021-02-22 10:00] AlCalzone commented on #669
I'm honestly confused here. json-logic-js is a dependency of `@zwave-js/config`, there is no package-lock.json that says otherwise and `json-logic-js` is included in `yarn.lock`.

[2021-02-22 10:13] wranglatang commented on #662
Thanks Robert - However it doesn't, it just overwrites my update. Please take a look at the at the attached screen recording.

https://user-images.githubusercontent.com/30660751/108694140-95447300-74f6-11eb-9348-815f20ba1596.mov

[2021-02-22 10:17] AlCalzone commented on #671
Nope: https://devices.zwave-js.io/?jumpTo=0x010f:0x0702:0x1000:0.0

BTW, why is the product id in the order manufacturer-prodid-prodtype? it should be type, then ID.

[2021-02-22 10:19] AlCalzone commented on #671
@mpuff why does the stick and a thermostat both have node ID 1?
[code]

I'm guessing there's something messed up in your network.

[2021-02-22 10:19] daballiemo commented on #471
I think I have the same problem.
I have a number of FDG211 and FDG212 and have recently migrated to zwavejs2mqtt.

I see in the zwave log
 `10:14:34.112 CNTRLR « [Node 015] TODO: no handler for application command
10:14:35.488 CNTRLR « [Node 015] TODO: no handler for application command`

When I press the button that is connected to the second input, but nothing more.
Previously this would trigger

[2021-02-22 10:20] AlCalzone commented on #671
@pavel-z1 Battery powered devices need to wake up before we can query their info. That is normal.

[2021-02-22 10:30] robertsLando commented on #671
Hummm I sincerly never changed anything there, so no clue :confused:

[2021-02-22 10:35] robertsLando commented on #662
Try to press on rediscover first and then on update

[2021-02-22 10:38] wranglatang commented on #662
Okay, that seems to have got the configuration to stick. But home assistant is not reflecting that change.

[2021-02-22 10:41] robertsLando commented on #662
If you have mqtt explorer you could check the payload sent to hass, if it matches the one you inserted the problem is in hass side (check hass logs to see if the template contains errors

[2021-02-22 10:43] AlCalzone commented on #671
Maybe it always was that way but we didn't notice

[2021-02-22 10:43] wranglatang commented on #662
Im not using MQTT - Im using the web server integration.

[2021-02-22 10:48] robertsLando commented on #662
LOL so you are wasting your time here, that's for MQTT discovery, hass zwavejs integration uses the zwave js server

[2021-02-22 11:24] wranglatang commented on #662
Doh!

So how do I update the configuration for ZWave JS Server?

[2021-02-22 11:40] mpuff commented on #671
I have reset the stick, but the result is the same

[2021-02-22 12:00] bdbogjoe commented on #471
i just tested with latest (1.2.2), we have still same issue

for info using FGS223 (double switch) scene is published, but not with FGD212 (dimmer)

[2021-02-22 12:22] robertsLando commented on #471
@AlCalzone any clue what could be wrong here? Seems like the valueId isn't created for that, but it was on old version, maybe a regression?

[2021-02-22 12:22] AlCalzone commented on #671
0 is not a valid node ID. I don't know where that comes from.

[2021-02-22 12:24] robertsLando commented on #662
You can't AFAIK, it is plug and play

[2021-02-22 12:26] AlCalzone commented on #471
I need to see a zwave-js log of a re-interview of the affected devices.

[2021-02-22 12:37] mpuff commented on #671
Node 0 is a hidden node

[2021-02-22 12:44] robertsLando commented on #471
@bdbogjoe Could you provide it?

[2021-02-22 12:44] daballiemo commented on #471
This is a zwave-js log of a re-interview of Node 15 which in my case is a FDG211. Hope I cathed what you wanted. I put it in "silly" mode. Devices 13,14,20,21 and 22 are dead nodes that have to be replaced.
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6021971/zwavejs_1.log)

[2021-02-22 12:50] AlCalzone commented on #471
[code]
Scene Activation CC is not listed as supported, so we don't automatically create values for it.
So our only option is to react dynamically once the scene is triggered once.

[2021-02-22 13:01] blhoward2 commented on #671
It can't match a device file without the productId and such populated.

[2021-02-22 13:25] daballiemo commented on #471
Is this something I have to do?

[2021-02-22 13:26] bdbogjoe commented on #471
strange why was ok with 1.0.0 ? do you need anything else from my side ?

[2021-02-22 13:52] robertsLando commented on #671
you should't see it, you should have pressed on 'show hidden nodes'

[2021-02-22 14:34] AlCalzone commented on #471
Could be due to https://github.com/zwave-js/node-zwave-js/pull/1207 maybe.
I don't know which zjs2m version includes that.

[2021-02-22 15:36] bdbogjoe commented on #471
hum don't know how to do this, how to get the command hex code ? where to put this file ?

[2021-02-22 15:46] AlCalzone commented on #471
I can do it, which firmware version does your device have?

[2021-02-22 15:58] bdbogjoe commented on #471
[node_54.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6023223/node_54.json.txt)

as i can see from UI firmware is 3.5

[2021-02-22 15:59] daballiemo commented on #471
I use on/off switches also as dimmers, there is a difference between the physical world and how the inputs are being used. Usecase, a FGS212 (on/off) is used to dim a light attached to a FGD211 ...

[2021-02-22 16:06] bdbogjoe commented on #471
from my side, sometimes using dimmer FGD212 as single switch because i don't need dimmer feature

there is a flag in config to disable dimmer

[2021-02-22 16:38] AlCalzone commented on #471
@bdbogjoe can you test the branch from the linked PR to see if that helps?

[2021-02-22 16:51] michelwilson commented on #673
Unclear which logs you're looking for, but here are some snippets that seem like they could be of interest. This is the controller:

[code]

And for another node:

[code]

I also have some zwavejs snippets, this is the controller manufacturer and product id, they match with what zwavejs2mqtt shows:
[code]

I also tried triggering an interview for node 5, the zwavejs log shows, among a lot of other

[2021-02-22 16:52] robertsLando commented on #673
@AlCalzone missing config?

cc @blhoward2

[2021-02-22 16:53] michelwilson commented on #661
I am using the websocket connection method between HA and zwavejs2mqtt. But from what you're saying I understand that using custom devices does not work at all for websockets? So with this method the default behavior is it, no customization? That kinda explains that nothing seems to change even if the json is parsed correctly ;)

[2021-02-22 17:03] bdbogjoe commented on #471
how can i test this modification ?

[2021-02-22 17:05] robertsLando commented on #661
@michelwilson There are 2 ways to discover devices, using MQTT discovery or using zwave js integration (with zwavejs server option enabled on settings). In theory you coul duse both, but they could have some conflicts/dups in entities created

[2021-02-22 17:06] robertsLando commented on #471
Using Dockerfile.contrib

[2021-02-22 17:18] michelwilson commented on #661
So, sorry for asking possibly stupid questions, but: if I use websocket integration, zwavejs "decides" which devices HA sees, based on ... some kind of internal device library?, and if I use MQTT discovery, zwavejs2mqtt "decides" which devices HA sees, based on for example `customDevices.json`?

[2021-02-22 17:19] bdbogjoe commented on #471
i mean is there any branch which includes this fix of zwave-js inside zwavejs2mqtt ?

[2021-02-22 17:58] rccoleman commented on #669
Are either of you able to repro it?  It was just a matter of following the instructions for generating the container build, with the slight complication that dependabot keeps breaking Dockerfile.contrib and needs to be manually fixed. I'll run through a clean install later today and capture the results.

[2021-02-22 18:35] AlCalzone commented on #471
No

[2021-02-22 18:37] AlCalzone commented on #673
Nope: https://devices.zwave-js.io/?jumpTo=0x019b:0x0003:0x0203:0.0

[2021-02-22 18:46] michelwilson commented on #673
Ah, I just noticed that all the config parameter descriptions are also suddenly gone. These used to be there! So looks like something breaks in the interaction between zwavejs and zwavejs2mqtt?

[2021-02-22 18:56] AlCalzone commented on #669
Yeah, I can reproduce

[2021-02-22 19:05] blhoward2 commented on #673
According to discord the current Zwave2jsmqtt doesn't work with the js server and isn't meant to, right? They need to change some things.

[2021-02-22 19:08] rccoleman commented on #669
That's good, I guess.  I'm now getting a new error when I create a test dir and clone master of both repos from scratch:

[code]

Looks like that showed up with the move from erbium-buster to erbium-buster-slim originally from here: https://github.com/zwave-js/zwavejs2mqtt/commit/f4ff24add9721e81f4cf401d304ddfbbf75f4c65.  I switched back and at least the container build succeeds.

[2021-02-22 19:16] scyto commented on #669
i built a repro this morning, image is at scyto/zwavejs2mqtt:patch-2 if anyone wants it.

[2021-02-22 19:23] michelwilson commented on #673
In `lib/ZwaveClient.js` I added some debugging code in `onNodeReady`, and there I see that `zwaveNode.deviceConfig` is `undefined`. So the problem is probably in zwavejs then?

[2021-02-22 19:25] thundergreen commented on #351
Just updated to latest version but unfortunately still no color wheel. I made re discover but still same issue. one switch for each color . :(

[2021-02-22 19:31] AlCalzone commented on #669
I have two theories why this is happening:

a) The problem has to do with the version magic the dockerfile does. This is the end of the `npm ls` command inside the container @scyto built:

[code]
According to this theory, the local version has been changed to the prerelease version `zwave-js@6.4.0-b358ce7`, but zwavejs2mqtt or the server wants `zwave-js@^6.4`, which `zwave-js@6.4.0-b358ce7` does *

[2021-02-22 19:33] rccoleman commented on #669
(a) looks like it may be an artifact of the custom build.  All version numbers get (I think) the commit number added to them, and that shows up in the UI.

[2021-02-22 19:47] michelwilson commented on #673
So, I also tried downgrading to the latest version of zwavejs2mqtt using zwave-js 6.3.0, and 6.2.0, neither of those had any effect. I'm starting to doubt my sanity, I'm pretty sure that at the point of my unadvised update to the latest version of master I had manufacturer and product types and all the config settings working just fine!

[2021-02-22 19:59] AlCalzone commented on #669
I've removed the version magic and it still fails.

[2021-02-22 20:07] michelwilson commented on #673
Ok, I want to apologize for wasting any of your time looking into this. I feel pretty stupid right now. After the update I did a rebuild under my user account, not under the user account running zwavejs2mqtt, and apparently `@zwave-js/config` requires _write_ access to the `node_modules/@zwave-js/config/devices` directory. Seems a bit odd that it's writing here, but at least it's working properly

[2021-02-22 20:07] #673 closed

[2021-02-22 20:14] syphernl commented on #673
Weird. I'm having the same problem but am using the pkg version. Started since 1.2.0, wasn't a problem before that. All files and folders are owned and accessible for the user that runs the app...

But if it wants to write to files included in the `bindings.node` or `fibers.node` that would be a bit problematic...

[2021-02-22 20:16] AlCalzone commented on #673
Yes. The index file used to look up configuration files is generated on demand to avoid permanent conflicts on git.

[2021-02-22 20:18] dnakamura opened #691 "[feat] Indicate FW update progress in the node details"
**Is your feature request related to a problem? Please describe.**
Location of current firmware update progress is not immediately obvious if the "Controller Status" text box is scrolled out of view

**Describe the solution you'd like**
Add a progress indication in the node details right by the button to start the firmware update. Ideally a nice graphical progress bar, but a simple text status wou

[2021-02-22 20:54] billiaz commented on #607
@Wojcioo can you try container `varet/zj2m:fix-607`

and give me feedback

[2021-02-22 21:28] joselito11 commented on #351
Same problem here, still no colors.

[2021-02-22 21:32] billiaz commented on #351
@joselito11 @thundergreen
Will continue tomorrow woth the or, now a third change took place.

Can you post your node exports, if you haven't done it till now, would help me to identify possible issues early in my pr.

[2021-02-22 21:48] DanielWinks opened #693 "[bug] Gateway not listening on proper topic after node rename unless container is restarted"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version 1.2.2

Build/Run method

- [ X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

When adding a new node (a lock in this example), I am unable to set any values until I res

[2021-02-23 00:54] scyto commented on #669
i just tried it figure out how to build from master and master into my own container
this isn't pretty or small or elegant- that wasn't the goal (and i haven't attempted multistage builds before)
it seems to work - no errors on start
however i am unclear how to tell if it really is master/master of each branch; if i shell in is there a way?
i also have no idea what about this is different other th

[2021-02-23 02:44] randyg503 commented on #567
running 6.4.0 and still experiencing the behavior in question

[2021-02-23 05:15] nooogs commented on #673
@syphernl, are you still seeing this? I know this is closed but I'm actually still seeing this using the packaged version. I've tried redownloading and re-extracting it, making sure owner on all files is the user the service is running as, and even changing the user it's running as and updating the permissions accordingly. I'm not sure what I'm missing here. There's nothing that I can see in my lo

[2021-02-23 06:59] AlCalzone commented on #567
Please make a zwave-js log, loglevel `debug` or `silly` and attach it here as a file.

[2021-02-23 07:24] syphernl commented on #673
@nooogs Yes, I am still seeing this problem with the packaged version as well.  Hoping this can get fixed.

[2021-02-23 07:32] AlCalzone commented on #673
I guess we could ignore write errors during index generation. The downside is that the index will be regenerated on every restart.

[2021-02-23 07:34] syphernl commented on #673
@AlCalzone Wouldn't it be possible to write the index to the store directory instead? That one exists for all run methods.

[2021-02-23 07:34] michelwilson commented on #673
@nooogs to be sure you're having the same problem, enable zwave-js logging, and look for `CONFIG` entries in the zwave-js log file. Mine contained a pretty obvious "no access" error, including the path to the file.

[2021-02-23 07:35] AlCalzone commented on #673
@syphernl it should be, but it is a bit more difficult to do. Since I'm looking to release today, I'm going with the quick fix for now.

[2021-02-23 07:59] robertsLando commented on #661
@michelwilson both try to guess the correct entities to create based on different things (CC, property, device class etc). On my side to fix some devices incompatibilities there are the custom devices files, it's like a db for non compatible devices

[2021-02-23 08:02] robertsLando commented on #691
Added to todos :)

[2021-02-23 08:09] michelwilson commented on #661
Clear. I've currently set things up using mqtt and that works like a charm, after manually adding a temperature sensor for the air temperature (which is normally provided via the climate entity), and changing the climate entity to use the floor temperature as current temperature.
Before I start trying something impossible: is there a way to dynamically select the current temperature topic (using a

[2021-02-23 08:34] SeraphimSerapis opened #704 "[bug] Can't remove failed node: Timeout while waiting for an ACK"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.1
zwavejs version: 6.2.0

### Describe the bug

I have one single dead node that I seem to fail from my Z-Wave network. I tried marking it as fail

[2021-02-23 08:37] bdbogjoe commented on #471
with the new branch here the result :

from UI  :

![image](https://user-images.githubusercontent.com/1301462/108818921-668fd080-75ba-11eb-897c-77d3f195752e.png)

Maybe the value should not be writable

And when i double click :

2021-02-23 09:32:01.926 DEBUG MQTT: Publishing to zwave/maison/escalier/lumiere-rampe/43/0/sceneId: 14 with options { qos: 1, retain: false }
2021-02-23 09:32:01.927 INFO

[2021-02-23 08:37] robertsLando commented on #693
@DanielWinks Yep right

[2021-02-23 08:43] robertsLando commented on #661
Unfortunally nope, configuration values are device specific and so If I would add the support for this device that would not work with another one that has multiple sensors for temperature. The best thing you can do in this case if you have multiple deivces like that is to create an entry in customDevices so this will be applied to all them

[2021-02-23 08:44] robertsLando commented on #704
@SeraphimSerapis Please add logs file

[2021-02-23 08:48] robertsLando commented on #471
If it is stateless (as I think) set it to undefined is made innternally by z2m to clear the state so you can detect the change

[2021-02-23 08:49] AlCalzone commented on #471
That's a current limitation => https://github.com/zwave-js/node-zwave-js/issues/528

[2021-02-23 08:55] SeraphimSerapis commented on #704
@robertsLando Thanks for the swift response. Here we go -- please let me know if these are the logs you are looking for:

Taken from zwavejs_1.log
[code]

Taken from zwavejs2mqtt.log
[code]

[2021-02-23 09:02] robertsLando commented on #704
Is zwavejs log level set to debug? Please follow https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report

BTW this colud be a communication issue with the device

[2021-02-23 09:37] Wojcioo commented on #607
@billiaz it looks ok.
![image](https://user-images.githubusercontent.com/33394332/108825006-be323a00-75c2-11eb-8a5d-21b3d17c118d.png)
![image](https://user-images.githubusercontent.com/33394332/108825272-18cb9600-75c3-11eb-837a-c372653e947d.png)

[2021-02-23 09:41] billiaz commented on #607
@robertsLando we need to wait a bit for this
On Eurotronic, modes are not properly populated, when I remove the hardcoded device! I will also fix that! and then we can merge!

Testing with
- Danfoss
- Eurotronic

This was never tested as there was a `hass/device.js` declaration! which I try to also cleanup :)

[2021-02-23 09:58] SeraphimSerapis commented on #704
I pulled the node's JSON for you and set the logging to debug:

[code]
[zwavejs.log](https://github.com/zwave-js/zwavejs2mqtt/files/6028087/zwavejs.log)

To be honest: I don't think this is an actual device -- rather something I replaced/removed while using OZW with Home Assistant's "old" Z-Wave integration.

[2021-02-23 10:08] SeraphimSerapis opened #705 "[feat] Clean-up log files regularly"
**Is your feature request related to a problem? Please describe.**
While checking out my zwavejs2mqtt log files, I noticed that both `zwavejs2mqtt.log` and my `zwavejs_1.log` seem to grow in size quite rapidly. I only just started using zwavejs2mqtt with Home Assistant's latest release and wonder what the filesize for both logs will look like after 3, 6, or 12 months of usage.

This is with log le

[2021-02-23 10:44] rotem925 commented on #567
On the latest release, everything is scanned immediately from the cache, So currently my issue is solved!
And I don't have to wait anymore for the scan to complete.

[2021-02-23 12:00] daballiemo commented on #471
So if I understand correctly, this update will correct problems for FDG212.
Does this have an effect on the FDG211 as well, or is it necessary to go down the "commandclassadd" way?

tia

[2021-02-23 12:45] thundergreen commented on #351
{"id":14,"deviceId":"271-4096-2304","manufacturer":"Fibargroup","manufacturerId":271,"productType":2304,"productId":4096,"name":"LEDStrip","loc":"LivingRoom","values":[{"id":"14-114-0-manufacturerId","nodeId":14,"commandClass":114,"commandClassName":"Manufacturer Specific","endpoint":0,"property":"manufacturerId","propertyName":"manufacturerId","type":"number","readable":true,"writeable":false,"la

[2021-02-23 12:46] thundergreen commented on #351
I got this ```{"id":"14-51-0-hexColor" ```

[2021-02-23 12:51] AlCalzone commented on #471
If the problem with FGD211 was that it also just controls the CC, the PR should affect that device too.

[2021-02-23 13:19] roflmao opened #706 "[bug] lock Access_Control-Lock_state not updated upon lock change"
### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3
zwavejs version: 6.4.0

### Describe the bug

Using ID Lock 150: https://products.z-wavealliance.org/products/3450?selectedFrequencyId=1

The locks' accesscontrol attributes are not updated on MQTT:

This shows a complete mqtt flow of a unlock, open doo

[2021-02-23 13:27] roflmao commented on #706
There are some awkward notification under this namespace which looks relevant, but not in the same format as the rest of the command classes:

[code]

[2021-02-23 13:40] nooogs commented on #673
@michelwilson it's definitely the same issue. Here's the associated logs.
`08:37:14.673 DRIVER   version 6.4.0
08:37:14.674 DRIVER
08:37:14.674 DRIVER   starting driver...
08:37:14.678 DRIVER   opening serial port /dev/ttyACM0
08:37:14.693 DRIVER   serial port opened
08:37:14.693 SERIAL » [NAK]                                                                   (0x15)
08:37:16.197 DRIVER   loading c

[2021-02-23 14:01] #693 closed

[2021-02-23 14:06] #607 closed

[2021-02-23 14:09] robertsLando commented on #705
@SeraphimSerapis Logs are intended to be used only for debug purposes. If you want to keep them on set loglevel to error, otherwise you should setup some logrotate rule

[2021-02-23 14:19] roflmao commented on #706
zwavejs log:
https://gist.githubusercontent.com/roflmao/5210e0be58825cd3e13f714729af5ca8/raw/816a56f4dadf8bafef898ab47050ddc44d77ef9c/gistfile1.txt

[2021-02-23 14:22] robertsLando commented on #706
@AlCalzone I remember an old issue like that where notifications where not sent on notification CC but as node notifications. Could be this something like that?

[2021-02-23 14:31] robertsLando commented on #704
I just saw that you are using an old version (1.1.1) could you try to update to latest please?

[2021-02-23 14:32] robertsLando commented on #567
Closing for now so

[2021-02-23 14:32] #567 closed

[2021-02-23 14:48] AlCalzone commented on #706
I'll need to look at the attached logs later, but I'm seeing both V1 (alarmType/Level) and V2+ values (Access Control/...) for the same node. Something seems fishy.

[2021-02-23 14:50] AlCalzone commented on #706
Although that might be our fallback attempt where we treat V1 alarms that could be a V2 notification as such. That does not seem to be correct for this log. You'd need https://github.com/zwave-js/node-zwave-js/issues/1713

[2021-02-23 14:51] AlCalzone commented on #706
The notification values (userId) come from the notification event's event parameters. Seems you're putting them under the incorrect topic @robertsLando

[2021-02-23 15:07] robertsLando commented on #706
That events are from `zwaveNode.on('notification'` and I have reserved a special topic for this

[2021-02-23 15:12] AlCalzone commented on #706
Yup, but the other values should come from the same notification. E.g. you'll get a notification with `notificationEvent` "Keypad lock operation" and the userId is part of that notification.

[2021-02-23 15:35] SeraphimSerapis commented on #705
Sounds great. Thank you!

[2021-02-23 15:35] #705 closed

[2021-02-23 15:40] robertsLando commented on #706
Also needs https://github.com/zwave-js/node-zwave-js/issues/1869 ?

[2021-02-23 15:43] AlCalzone commented on #706
Depends on what command version the device actually sends

[2021-02-23 15:46] SeraphimSerapis commented on #704
Done! It seems while I used :latest, for some reason my compose setup didn't bother updating the container. The node is now correctly showing as "removed". Thank you for your help!

[2021-02-23 15:46] #704 closed

[2021-02-23 16:30] daballiemo commented on #471
I just checked. I can see the same as @bdbogjoe on my FGD212, but nothing on my FGD211; not in UI or in zwave log.
![Screenshot 2021-02-23 at 17 25 31](https://user-images.githubusercontent.com/16369502/108874479-7a5c2680-75fc-11eb-9fdf-7be3c354b2d1.png)
![Screenshot 2021-02-23 at 17 25 58](https://user-images.githubusercontent.com/16369502/108874499-7f20da80-75fc-11eb-8d3a-f9dc322c57eb.png)

Beca

[2021-02-23 16:37] AlCalzone commented on #706
So it looks like we are receiving V2+ commands, but I have no clue where Lock_state comes from

[2021-02-23 16:39] AlCalzone commented on #706
@roflmao did you remove some lines? I'm missing the SERIAL data for security encapsulated NotificationCCReports

[2021-02-23 16:42] AlCalzone commented on #471
Did you reinterview the affected device?

[2021-02-23 16:45] daballiemo commented on #471
yes, a couple of times. I will now first start another instance as a test enviroment with said FDG211 and a spare controller. Just not to lose out on WAF ;-)

[2021-02-23 16:51] AlCalzone commented on #471
And you are sure you're running the master branch of zwave-js? @bdbogjoe also had some problems earlier but got it to work.

[2021-02-23 16:54] daballiemo commented on #471
BTW thanks for all the help sofar. I think.. I am running the right version, started a new container this afternoon.
![Screenshot 2021-02-23 at 17 53 02](https://user-images.githubusercontent.com/16369502/108878106-33703000-7600-11eb-9dd5-498dd56c7408.png)
I am not an expert on this ;-)

[2021-02-23 16:56] AlCalzone commented on #471
@robertsLando?

[2021-02-23 16:59] djaydev opened #709 "[question] Zwave network stall after pressing Zwave remote button"
Using a Zwave remote to send a "Central Scene" to Home Assistant.  After pressing any button on the remote, HA sees the scene and sends a command back to zwavejsmqtt to turn on or off a light.  The problem is the command to toggle the light is stalled until these response attempts messages timeout.  Sometimes it's stalled/delayed, sometimes the command is just never executed.  Is there a way to av

[2021-02-23 17:35] 0x0a11c0de opened #711 "Yale lock YRD226, but it has a new product ID that doesn't exist in the z-wave DB"
I have a Yale lock `YRD226-ZW2-619`. The `YRD226` is in the [z-wave product database](https://products.z-wavealliance.org/products/1878?selectedFrequencyId=2) with a product type of `0x8002` and a product ID of `0x0600`. However, my `YRD226` is reporting a product ID of `0x4600`, which means it shows up in `zwavejs2mqtt` as unknown. The problem is I cannot find this product ID in the z-wave produc

[2021-02-23 17:43] roflmao commented on #706
[node40.lock.log](https://github.com/zwave-js/zwavejs2mqtt/files/6030856/node40.lock.log)

Sorry, my grep foo failed again

[2021-02-23 17:48] daballiemo commented on #471
I started a new container with another controller and added the FDG211 with the same result as before. I re-interviewed the node (logging in attachment)
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6030895/zwavejs_1.log)

[2021-02-23 18:03] bdbogjoe commented on #471
unfortunately i don't have FDG211 to try myself

As it is the latest version of zwavejs2mqtt does not include this fix, we need to do custom build using master branch of node-zwave-js

[2021-02-23 18:05] daballiemo commented on #471
I will start a new bug report for my FDG211

[2021-02-23 18:16] daballiemo opened #712 "FDG211: Scene notification not working and not published to either zwavor or MQTT"
### Version

Build/Run method

- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.3.0
zwavejs version: 6.4.0

### Describe the bug

The FIBARO FDG211 has scene capabilities, as an example: when pressing one of the buttons 2/3 times quickly after eachother will generate a scene event being transmitted. This works with HA 2021.1.5 and the

[2021-02-23 19:49] daballiemo commented on #712
Made a new zwave.log from start, then click twice on the switch that has a light fitted and then twice on the switch without light (my "scene" switch).
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6031479/zwavejs_1.log)

[2021-02-23 20:20] bdbogjoe commented on #712
but did you run using master branch of zwavejs ?

some commit in master branch are not yet released

[2021-02-23 21:19] AlCalzone commented on #712
@daballiemo your log does not indicate that a Scene Activation command was received.

[2021-02-23 21:27] deccos opened #713 "[bug] failednodes wont remove from control panel, same as closed bug #318"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.3.0

Build/Run method

- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.3.0
zwavejs version: 6.4.0

### Describe the bug

I have a number of nodes that are totally dead.  Tehy show up in the control panel when I e

[2021-02-23 21:41] #662 closed

[2021-02-23 21:41] wranglatang commented on #662
Thanks fo your help!

[2021-02-23 21:43] PatrickNByrne commented on #626
@1iveowl I believe HASS.IO is container based, which means you wouldn't have direct access to the native integration code directories. I suspect that it would be possible to copy the full integration into your local integrations folder however, and update the discovery there.

[2021-02-23 21:44] deccos commented on #713
[zwavejs2mqtt-store- SILLY log mode.zip](https://github.com/zwave-js/zwavejs2mqtt/files/6031969/zwavejs2mqtt-store-.SILLY.log.mode.zip)

Just got new log dump in Silly mode.  Have done another IsFailedNode and attempted Remove Failed Node at end of log

[2021-02-23 22:02] daballiemo commented on #712
How can I check this besides running the latest docker container? I am not a pro at this subject

[2021-02-23 22:07] daballiemo commented on #712
@AlCalzone, that is exactly my problem; a double click or triple click should fire a scene. But I see nothing, not in zwave so surely not in MQTT.

[2021-02-23 22:12] AlCalzone commented on #712
Yeah, but if the command does not reach zwave-js, the device does not send it. Or you need to add an association.

Then you're likely not running the latest master. I'm not involved with the docker releases, so you'll have to wait for @robertsLando to respond.

[2021-02-23 22:12] daballiemo commented on #712
Hold the presses! With moving to a new controller I thought it made sense to reset the node. After that is is ofcourse a good idea to enable scenes again.....

I know see the following in the log:
[code]

[2021-02-23 22:12] #712 closed

[2021-02-23 22:13] daballiemo commented on #712
@AlCalzone & @bdbogjoe thanks for helping out another poor soul ;-)

[2021-02-23 22:21] AlCalzone commented on #712
💪🏻

[2021-02-23 22:24] daballiemo commented on #712
Still wondering though were it ends up in MQTT because I only see some stuff

 nodeID_2-43-0-dimmingduration {"time":1614118695044,"value":"default"}

not really any info that relates to the scenes. We'll back to the books again

[2021-02-23 22:27] AlCalzone commented on #712
As soon as you have the updated version of zwave-js it should show up.

[2021-02-23 22:29] daballiemo commented on #712
thx again and great support 🙏🏻

[2021-02-24 01:36] scyto opened #714 "[feat]replace failed node should use the new include UI."
The replace failed node UI doesn't use the new inclusion UI but the old one.
This has the following problems:

- confusing start / cancel option to the question 'do you want to start secure inclusion` - needs to be option to do secure, insecure or cancel.
- clicking cancel to do non-secure results in the dialog disappearing; this means you don't know if system is ready to start inclusion or if tim

[2021-02-24 01:41] scyto commented on #671
every zwave controller I have used with zwavejs2mqtt shows as node 1 on fresh install and there is always a hidden node 0.  I gave up worrying about it, but it was confusing as a new user back in Dec :-)

[2021-02-24 01:51] scyto commented on #669
are these still failing for you?
my github actions build using dockerfile.contrib just worked and gave me a working build with

App Version 1.3.0+fec72b7.fec72b7
Zwavejs Version 6.5.0-e0b52b1
Zwavejs-server Version 1.0.0-beta.9

[2021-02-24 01:59] rccoleman commented on #669
I'm getting the same python error with the latest pull from both repos that I posted [here](https://github.com/zwave-js/zwavejs2mqtt/issues/669#issuecomment-783604273).  I was able to fix it before by not using the `-slim` image.

[2021-02-24 02:41] miguelarios opened #715 "[bug] Issues with Trane XL624 climate entity in Home Assistant being unavailable but other entities work"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.3.0

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.4.0

### Describe the bug

A clear and concise description of what the bug is.

In home assistant I am seeing the clima

[2021-02-24 03:05] Lopton opened #716 "[question] Debug tab doesn't show any info?"
Is anyone else not seeing any data in the new debug tab? I click start, but no messages ever appear in the debug tab now that it has been moved to the left bar and given its own page.

I was used to using this to monitor z-wave traffic in past versions, helpful troubleshooting tool.

[2021-02-24 03:10] miguelarios commented on #715
It use to work. I just tried to regress to a previous docker image, but I can't get it to work now.

[2021-02-24 05:33] macf0x commented on #592
Appears the Vision Security ZG8101 has the same issue. At least the symptoms are the same. Values are populate in the Node view (notifications), but the values aren't shown in HA. The initial entities are hidden in HA, when I exclude/include.

Happy to provide more detail if below is insufficient.

[265-2562-8202 (Node23).txt](https://github.com/zwave-js/zwavejs2mqtt/files/6033575/265-2562-8202.No

[2021-02-24 07:31] AlCalzone commented on #671
https://github.com/zwave-js/zwavejs2mqtt/pull/710
That is an implementation detail because @robertsLando used arrays :D

[2021-02-24 07:35] AlCalzone commented on #592
@macf0x zwave-js translates the Basic Set into a Binary Sensor Report, so there's no need to expose it:
[code]

[2021-02-24 07:53] robertsLando commented on #471
Try to update to latest 1.3.0 version

[2021-02-24 07:56] robertsLando commented on #716
![Schermata da 2021-02-24 08-55-42](https://user-images.githubusercontent.com/11502495/108966152-2134d700-767e-11eb-8d5a-e970d5c882ad.png)

It is woorking on my side, it could be that there are no messsages coming?

[2021-02-24 07:57] robertsLando commented on #714
I add this to my todos :)

[2021-02-24 07:59] scyto commented on #714
sorry, i can't helping being a PM (i am terrible at everything else)

[2021-02-24 08:01] robertsLando commented on #714
No worries :) @jarrettv if you can check this before me feel free to submit a PR :)

[2021-02-24 08:02] robertsLando commented on #715
@miguelarios Please open this bug on hass core repo, I don't handle the zwavejs integration

[2021-02-24 08:02] #715 closed

[2021-02-24 08:04] macf0x commented on #592
@AlCalzone Thanks for the prompt response.

The ZG8101 has 3 inputs. The tilt sensor (shown in HA), a reed switch and tamper. It these latter two that aren't exposed into HA.

I apologies if this isn't related.

These are the specific values and clearly zwavejs2mqtt receives the updates via BasicCC, but HA never gets the value.

15:59:22.447 CNTRLR [Node 023] treating BasicCC Set as a report
2021-

[2021-02-24 08:05] robertsLando commented on #713
Could you show me a screenshot of what you see? BTW you shouldn't enable that flag 'show hidden nodes' in most cases it just cause confusion, I will remove it in next major

[2021-02-24 08:35] AlCalzone commented on #592
No, it receives them via the Notification CC (113)

means "intrusion"

means "Tampering, product cover removed"

So as far as I can see, they are received correctly, but aren't correctly discovered by HA. I suggest you open an issue in the HomeAssistant repo, so they can track it down.

[2021-02-24 08:41] daballiemo commented on #471
I have updated to the latest version (docker: 1.3.0 in dashboard), I see scene information in debug, but no scene information in MQTT. Is there any logging I can provide?

[2021-02-24 09:35] deccos commented on #713
![zw-controlpanel](https://user-images.githubusercontent.com/35493983/108980355-7a533980-7683-11eb-83ba-2eb9387d0154.PNG)
Enclosed screengrab.  I an see the node is "REmoved" accoring to the column, but I was trying to get it to fully remove entirley.  I may be trying to do somethign that doesnt make sense.  my OCD just kicking in wanting things to be "clean".

[2021-02-24 09:53] macf0x commented on #592
Thanks AlCalzone.

[2021-02-24 09:59] adamlogan73 opened #727 "Network Key Conversion"
In the existing zwave2mqtt it supports the network key ax 0xAA, 0xBB etc. Whats the conversion to the 32 character version? Just truncate the 0x and concatenate?

[2021-02-24 10:01] robertsLando commented on #727
It's explained in docs, btw yes, delete `0x` `,` and spaces chars from the old key

[2021-02-24 10:01] #727 closed

[2021-02-24 10:09] macf0x commented on #592
Where can one find the info such as Cover status (3) = Tamper?

[2021-02-24 10:14] robertsLando commented on #471
Please upload log files as described in bug issue template

[2021-02-24 10:42] robertsLando commented on #713
Shold be fixed in #710

[2021-02-24 10:52] robertsLando commented on #621
Closed bt #728

[2021-02-24 10:52] #621 closed

[2021-02-24 11:03] AlCalzone commented on #592
That should be included in the metadata for the value ID. HA has access to that. zwavejs2mqtt should already display it on the UI (maybe not in the logs).

[2021-02-24 11:04] deccos commented on #713
thanks

[2021-02-24 11:12] cbho commented on #713
Isn't that inherent z-wave behaviour?
As far as I remember, it works (on a controller-level) like this:
When you remove a node, the ID is not "reused" initially - when adding a new node, it will get the highest "never-used" available node-ID - until you reach the limit of 254 nodes - then adding a new node will result in using the "once-used" node-IDs from the beginning

[2021-02-24 11:18] daballiemo commented on #471
@robertsLando, please find logfiles attached.
Actions performed:
1) re-interview of node 2 (FGD211)
2) single click of second switch (the one not carrying load)
3) double click of second switch
4) triple click of second switch

thanks in advance!
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6035514/zwavejs_1.log)
[zwavejs2mqtt.log](https://github.com/zwave-js/zwavejs2mqtt/files/6

[2021-02-24 11:43] AlCalzone commented on #471
The values get received and published as events. But I'm not sure if zwavejs2mqtt sees the value ID, because
[code]

[2021-02-24 11:56] robertsLando commented on #713
This is not really a bug, it's kind of an UI issue due to the fact on UI side and backend I was using an array for nodes where the index was the nodeId. As you said when a user removes/add a new node it takes the highest id (or he could use the replceFailed to give the node a specific id of a failed node), the node you see as removed are dummy nodes I add in the positions I don't have anything.

[2021-02-24 11:57] daballiemo commented on #471
@AlCalzone because version 6.4.0 is not the right version?

[2021-02-24 12:09] AlCalzone commented on #471
6.4.0 was released **before** the fix. I'm not sure if the docker image 1.3.0 was built with the master branch after the fix was merged 🤷🏻‍♂️

[2021-02-24 12:27] daballiemo commented on #471
Ok no big problem, I just have to wait till it pops up then I guess. When I see driver 6.5.0 then its included?

[2021-02-24 12:32] AlCalzone commented on #471
yep

[2021-02-24 12:41] #669 closed

[2021-02-24 12:42] towerhand commented on #691
If you look here: https://github.com/zwave-js/zwavejs2mqtt/discussions/461 there are plans to move the “controller status”  and always have it visible.

[2021-02-24 12:43] robertsLando commented on #691
If that is enough for you I can reference it to that PR. I though you was looking for something more like a progress bar

[2021-02-24 13:39] robertsLando commented on #675
I'm unable to reproduce this on my instance in dev or production env :man_shrugging:

[2021-02-24 13:39] #671 closed

[2021-02-24 13:40] #658 closed

[2021-02-24 13:55] robertsLando commented on #672
If you are using the zwave js integration there is nothing I can do here to help. You should instead open this bug on hass repo

[2021-02-24 13:55] #672 closed

[2021-02-24 14:24] #385 closed

[2021-02-24 14:25] #548 closed

[2021-02-24 14:27] robertsLando commented on #253
@lucguinchard is your issue fixed?

[2021-02-24 14:28] #253 closed

[2021-02-24 15:10] syphernl commented on #673
Appears to be working fine now with `App Version 1.4.0 | Zwavejs Version 6.5.0 | Zwavejs-server Version 1.0.0`

[2021-02-24 16:14] #713 closed

[2021-02-24 16:41] syphernl opened #734 "[bug] All devices but 2 are missing in HA since updating to 1.4.0"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [X] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.4.0
zwavejs version: 6.4.0

### Describe the bug

After updating from `1.3.0` to `1.4.0` my devices have a Manufacturer and Product name (which was

[2021-02-24 16:41] syphernl commented on #673
@AlCalzone Unfortunately 1.4.0 seems causing some issues here, I've created a new issue for that: #734

[2021-02-24 16:53] robertsLando commented on #734
@syphernl Please attach logs

[2021-02-24 16:59] robertsLando commented on #734
AFAIK there is a patch needed on hass integration in order to make it working with latest zwavejs version so please wait

[2021-02-24 16:59] #734 closed

[2021-02-24 17:00] syphernl commented on #734
That probably explains this HASS log entry..
[code]

[2021-02-24 17:29] daballiemo commented on #471
@AlCalzone, just respun my docker container. My driver version is now 6.5.0.
I now see the scene information in MQTT and I am able to catch it in HA.
As soon as the message with the scene information arrives, its overwritten by a new message. I don't if this behaviour is intended. Was also mentioned by @bdbogjoe.

![Screenshot 2021-02-24 at 18 26 02](https://user-images.githubusercontent.com/16369

[2021-02-24 19:03] aneisch opened #735 "[bug] 1.4.0 breaks Home Assistant integration through WS"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.4.0
zwavejs version: 6.5.0

### Describe the bug

The bump to zwave-js/server 1.0.0 https://github.com/zwave-js/zwavejs2mqtt/commit/a89643eb72b30d09

[2021-02-24 19:04] aneisch commented on #735
This issue might be more appropriate in the downstream https://github.com/zwave-js/zwave-js-server repo, but I've submitted here as this I believe it is applicable.

[2021-02-24 19:32] AlCalzone commented on #471
The entire MQTT part is handled by zwavejs2mqtt, so you'll have to talk this through with @robertsLando.

Essentially this value is stateless, so it is not meant to be retained. zwavejs2mqtt resets it to undefined after a second.

[2021-02-24 19:43] ggruner commented on #735
My Z-Wave setup is also broken after updating from zwavejs2mqtt 1.3.0 -> 1.4.0 in latest Home Assistant version. All my entities are in an "unavailable" state.

[2021-02-24 20:07] daballiemo commented on #471
I can work with that I think. Thx!

[2021-02-24 20:11] prilly-dev commented on #735
I can confirm

[2021-02-24 20:30] towerhand commented on #735
You gotta wait for the HA beta release in a few hours since the WS 1.0.0 is already in zjs2m.

[2021-02-24 20:35] towerhand commented on #716
Since I ran into the same issue in the past thinking the debug window wasn't working when in fact it was, I would like to take this opportunity to request some short of feedback from the system when we press the start and stop button, maybe just a message saying "debug starting now...." when pressing start and "debugging ended" when pressing stop or something like that.

[2021-02-24 22:00] dgooglr commented on #735
My zwave is also down now, any workaround?

[2021-02-24 22:02] aneisch commented on #735
I'm using `image: zwavejs/zwavejs2mqtt:sha-fec72b7` in my compose file to revert to 1.3.0

[2021-02-24 22:06] towerhand commented on #735
The HA beta images are already building, should be available pretty soon.

[2021-02-24 22:09] dgooglr commented on #735
Thanks, worked for me

[2021-02-24 22:09] dgooglr commented on #735
Not going to beta with my main setup :) Thanks!

[2021-02-24 23:21] brianhanifin commented on #735
@aneisch, @towerhand Thank you for explaining why I was having problems. And thank you for the downgrade id!

_I've been banging my head against the wall all day today. I was having problems so I poked around and ended up deleting some of my devices so I decided to start from scratch._

[2021-02-24 23:22] marcelveldt commented on #735
Please do NOT update to zwavejs2mqtt 1.4 if you're running the stable version of HA due to a version incompatability.
Next version of HA (beta released today) 2021.3 will be compatible again.
Thanks!

[2021-02-24 23:27] eddiezane commented on #735
@robertsLando any chance you can add that disclaimer to the 1.4.0 release notes to help out some future folks?

[2021-02-25 02:02] Lopton commented on #716
Hmm, there are messages I should be seeing, if I go look in the new store file viewer I can see the messages logged there. But nothing ever shows in the debug tab for me. I've tried chrome and firefox. I've upgraded to the latest version also. Since it's just me I'll close the issue and look more at my end.

[2021-02-25 02:02] #716 closed

[2021-02-25 03:50] awilliams opened #736 "[feat] Standarized Topics"
**Is your feature request related to a problem? Please describe.**
I'm developing a client library for use with zwavejs2mqtt's MQTT API. I'd like the client to be able to set values of ZWave nodes via the MQTT API.

The client is able to discover nodes and their attributes using the `getNodes` API. Using the `getNodes` response, I'd like to know how to set values. The issues is that, depending on

[2021-02-25 04:10] joshewing02 opened #737 "Loosing ALL settings and Node info after each docker versions update"
I have 27 nodes that I have had to rebuild multiple time now.  Not sure what I am doing wrong when upgrading but is there a way to backup and or save all the Node info?  I have to run around the house and reintegrate every battery device to get them to repopulate.

Here are my docker install settings
![image](https://user-images.githubusercontent.com/30333859/109101830-5e2fb680-76dc-11eb-9d4e-c7e3

[2021-02-25 04:23] BluGeni commented on #735
I am now running core-2021.3.0b0 on docker with zwavejs2mqtt at 1.4 with the same issue.

[2021-02-25 05:32] prilly-dev commented on #737
Set up a persistant store for your container,

[2021-02-25 05:35] bs42 commented on #735
Yeah, just found this out the hard way.  Also tried the beta docker image which didn't communicate, additionally after reverting back both HA and zwavejs2mqtt I have a ton of excess orphan entities attached to my devices now.  Thankfully the original ones are still there.

![image](https://user-images.githubusercontent.com/611706/109108329-8d502300-76f0-11eb-90da-b9221a823ea0.png)

[2021-02-25 06:08] karl-gustav commented on #735
I just updated HA docker to run `:beta` and I also ended up with the orphaned etries; but it looks like the orphaned entres are the originals, and I have gotten new entries that works... I.e. I need to rename all my entries again.

[2021-02-25 07:06] robertsLando commented on #735
Will add this disclaimer:

[2021-02-25 07:06] #735 closed

[2021-02-25 07:09] robertsLando commented on #737
As @prilly-dev said you can both use volumes or map a local folder to a folder in docker to store persistent files. You can find everything needed here: https://github.com/zwave-js/zwavejs2mqtt/blob/master/docker/README.md#install

[2021-02-25 07:09] #737 closed

[2021-02-25 07:11] robertsLando commented on #716
@Lopton Do you see any error in console? Also you colud try to open dev tools and go to Network tab to see the incoming packets from WS

[2021-02-25 07:16] robertsLando commented on #736
The mode wouldn't be enought as there are also some flags like 'use node name instead numeric id` or `ignore location` that could change the topic.

Also support both topic formats isn't really an option. What I can suggest is to make the settings strict and tell your users to use those settings when using with your library. Otherwise you could get the configuration using an api request to get all

[2021-02-25 07:33] #471 closed

[2021-02-25 08:09] labaland commented on #735
Lastest HA Beta 2021.2.3, and latest zwavejs

[2021-02-25 08:11] labaland commented on #735
Okay, so a second beta will be today?

[2021-02-25 08:36] bushvin opened #739 "[question] Network Graph is a flat line"
I have recently adopted ZwaveJS2MQTT, and everything seems to work.

I took the time to perform cleanups, as previous Zwave Control Panels lacked some cleanup features.

My network Graph is a flat line with the controller to the left (in the right purple colour) and all other nodes to the right in grey.
Grey seems to indicate they are not connected, however I can assure you they are, as I can cont

[2021-02-25 09:01] robertsLando commented on #739
Could you also attach a screenshot?

[2021-02-25 09:13] bushvin commented on #739
![detail](https://user-images.githubusercontent.com/4785760/109130530-206d7500-7752-11eb-826f-59ea4a31769d.png)
![overview](https://user-images.githubusercontent.com/4785760/109130534-21060b80-7752-11eb-8b34-5ad12bded3d8.png)
Here you go

[2021-02-25 09:22] robertsLando commented on #739
@bushvin While you have browser open try to press F12 (chrome) and check if there are errors on console. If so send me a screenshot or the logs you find there

[2021-02-25 09:30] bushvin commented on #739
There are no messages whatsoever.
I should have mentioned that I made sure there were none. Apologies.

[2021-02-25 09:47] robertsLando commented on #739
Hummm strange. I would need a nodes dump so, you could use mqtt apis and require `getNodes` api https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=apis

[2021-02-25 11:20] bushvin commented on #739
I'm afraid that doesn't seem to get any result except for a 404
![API](https://user-images.githubusercontent.com/4785760/109145922-74348a00-7763-11eb-8c48-54cd3b087068.png)

I got the MQTT name from the settings page
![MQTT_name](https://user-images.githubusercontent.com/4785760/109146223-d4c3c700-7763-11eb-82ed-e57b459e1405.png)

[2021-02-25 11:50] cts1085 commented on #566
I am going to close this as this original issue seems to be resolved with the re-interview.  I will open another issue on ZWave-JS-Server regarding the scenes not showing up via WS integration.

[2021-02-25 11:50] #566 closed

[2021-02-25 12:32] robertsLando commented on #739
@bushvin Sorry maybe I didn't explained it well, that needs to be called using MQTT

[2021-02-25 12:45] towerhand commented on #735
Looks like a PR was merged to fix the broken migration https://github.com/home-assistant/core/pull/47031

[2021-02-25 12:45] labaland commented on #735
New Beta update now, now i also get vocer Up/stop/Down buttons! Awesome!

[2021-02-25 13:20] bushvin commented on #739
Ah... my bad... :/

For future reference these were the commands executed:

**To log to file:**
`mosquitto_sub -h mosquitto -p 1883 -u zwavejs2mqtt -P ******** -t 'zwave/#' -d |tee -a zwavejs@mqtt.log`

**To send the command:**
`mosquitto_pub -h mosquitto -p 1883 -u zwavejs2mqtt -P ******** -t 'zwave/_CLIENTS/ZWAVE_GATEWAY-zwavejs2mqtt/api/getNodes/set' -m "{args: []}"`

[zwavejs@mqtt.log](https:/

[2021-02-25 13:50] robertsLando commented on #739
@bushvin How are you building z2m? Git clone?

[2021-02-25 14:04] bushvin commented on #739
not building, running it in Docker

[code]

[2021-02-25 15:30] alterbridge86 opened #758 "Door Lock not reporting User Code used for keypad unlock"
**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I am **not** using ZWaveJS2MQTT. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

**Describe the bug**

I have a Yale YRD216 deadbolt

[2021-02-25 17:23] robertsLando commented on #739
@bushvin Could you try using version 1.4.0?

[2021-02-25 18:41] jmgiaever commented on #739
This happens to me whenever the neighbors are unknown. What happens if you perform a heal?

[2021-02-25 18:56] awilliams commented on #736
Thanks for the information.

My goal is to provide a simple client for z2m. Specifically,
* I'd like to use the `getNodes` API to populate the client with a list of nodes + values.
* I'd like the client to have a method to set node values. For example:
[code]
  This is difficult to implement, as described in the original issue, since the topic to [set values](https://zwave-js.github.io/zwavejs2mqt

[2021-02-25 19:02] cts1085 opened #748 "How to configure HTTPS access with Docker [question]"
I have attempted a few different ways to get the openssl running in a docker container so that accessing the UI from HA (which currently is accessed via HTTPS) works...  I am using a YML file with docker-compose and I just can't seem to get the right combination of environment variables and cert locations.

I have the certs located on PI in /ssl and i have tried mapping that to /ssl and /etc/ssl/p

[2021-02-25 19:04] joshewing02 commented on #737
Thank you both.  I was able to map the Appdata to a share I can access through the Unraid shares.  Thanks for the point in the correct direction.

[2021-02-25 19:14] cts1085 opened #749 "[bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version 1.4.0

Build/Run method

- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.4.0
zwavejs version: 6.5.0
Zwavejs-server Version: 1.0.0

### Describe the bug

A clear and concise description of what the bug is.
After re-

[2021-02-25 21:26] towerhand commented on #749
Did you press the green "rediscover node"? I have had to do that in the past.

[2021-02-25 21:55] cts1085 commented on #749
When I did the re-interview then the scene's showed up in ZwaveJS2MQTT, but they did not show up in HA - I will try what you suggested and see if that helps however.

[2021-02-25 21:59] cts1085 commented on #749
no change with the "rediscover node"

[2021-02-26 05:20] xImportExportx opened #750 "[bug]"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 6.5.0
zwavejs version: 1.0.0

### Describe the bug

When using my SmartLock (910 Smart Code with Home Connect Technology from Kwikset) manual state changes are not reflected in the mqtt topic 98/0/currentMode. I see that the lock actually reports in 113/0/ala

[2021-02-26 08:17] bushvin commented on #739
@robertsLando
Running 1.4.0 now, and still the same result

@jmgiaever Running that now. keep you posted

[2021-02-26 08:19] bushvin commented on #739
@jmgiaever I do see your point in having bad nodes not reporting correct info, but why would that impact **all** nodes?
Just a thought...

[2021-02-26 09:23] bushvin commented on #739
The "Network Heal" didn't "cure" the issue.
But what I did discover, is that 2 nodes seem to be *off*
They do not report, and I cannot *heal* them
28 and 48.
Is it possible these are causing the issue?

[2021-02-26 09:54] robertsLando commented on #739
I sincerly never faced this problem. @AlCalzone ?

[2021-02-26 09:56] robertsLando commented on #736
As I said I really suggest you to use Plugins for this

[2021-02-26 09:56] robertsLando commented on #748
LOGs please

[2021-02-26 10:45] #477 closed

[2021-02-26 10:46] robertsLando commented on #381
Fixed by #568

[2021-02-26 10:46] #381 closed

[2021-02-26 10:46] robertsLando commented on #351
Fixed by #568

[2021-02-26 10:46] #351 closed

[2021-02-26 10:47] robertsLando commented on #595
Fixed by #568

[2021-02-26 10:47] #595 closed

[2021-02-26 11:14] AlCalzone commented on #739
Please make a zwave-js log, loglevel `debug` or `silly` and attach it here as a file.

[2021-02-26 12:32] cts1085 commented on #748
the log is very short - the container seems to restart after just a few seconds.  I let it run for a minute to get multiple cycles.
The only change I made from the previous yml was to uncomment - HTTPS='true'

[zwavejs2mqtt-store-https.zip](https://github.com/zwave-js/zwavejs2mqtt/files/6049656/zwavejs2mqtt-store-https.zip)

[2021-02-26 12:50] robertsLando commented on #748
@cts1085 The keys are automatically genereted and stored on `store` folder. By checking your logs I can only see it stops when it tries to generete the keys but I don't see the error causing the restart

[2021-02-26 13:32] cts1085 commented on #748
So I should not be placing any cert files in the store folder? I will remove those and see if that helps.

so I commented out hostname/domainname, removed the storage reference to /ssl and it seems to start now.

However, the certificate is just for localhost and accessing it from other devices/locations does not seem to work. Is there a way I can use my own certs that include the hostname of the

[2021-02-26 13:32] #748 closed

[2021-02-26 13:48] AlCalzone commented on #758
Anyways, not a bug in node-zwave-js, so I'm transferring the issue.

[2021-02-26 14:05] alterbridge86 commented on #758
Ahhh I see it now. I was thinking this value would be stored in an entity somewhere, but once I listened to the zwave_js_event i see the user ID being passed in the unlock. The logs made it look like something wasn't being parsed but it's just not being printed there.

{
    "event_type": "zwave_js_event",
    "data": {
        "type": "notification",
        "domain": "zwave_js",
        "node_id

[2021-02-26 14:05] #758 closed

[2021-02-26 14:11] AlCalzone commented on #758
Just a little background: events are mostly used for values that only have a meaning **in the instant** they are received. So nothing is or should be stored permanently for those.

[2021-02-26 14:38] alterbridge86 commented on #758
Got it, and that makes sense, just a change in behavior from what I had been used to with OZW 1.4/1.6.

For my own purposes I like to keep track of who opened the door when, but I will just capture the event and record the relevant info into my own entity in hass.

Thanks again!

[2021-02-26 20:07] thundergreen commented on #351
Just updated to version 2.0.0 via Hassio ADDOn but my rgb controller still has one switch for each color. What steps are neccessairy to get this rgb running? i tried re-nterview but without success. :( Any hint. ?

[2021-02-26 20:56] awilliams commented on #736
Thanks for the suggestion. I imagine that a plugin would work, but I'd rather not go that route for two reasons:
 - This would force users of my client library to install a plugin, which I'd like to avoid
 - It would be a significant effort on my part to maintain in addition to the client library (which is not written in Javascript)

I've started to use the `writeValue(valueId, value)` MQTT API an

[2021-02-26 21:07] billiaz commented on #351
can you share the node.json (export the node having this issue.
are also your devices stored? if you retain/store you might still have these due to that.

Just if you upload this node export, I can get an idea

[2021-02-26 21:12] thundergreen commented on #351
Well i made a complete re-interview of all nodes. What else can I try?

please fin the problem node:

[node_14 (2).json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6052492/node_14.2.json.txt)

[2021-02-26 21:16] NicoLeOca opened #759 "[bug] climate missing for Eurotronic Spirit since recent update"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Installed Z-Wave JS to MQTT addon in Home Assistant

zwavejs2mqtt version: 2.0.0
zwavejs version: ?

### Describe the bug
Equipement: Eurotronic Spirit
The climate entity b

[2021-02-26 21:17] billiaz commented on #351
@thundergreen are you using hass discovery or zwave-js server?

[2021-02-26 21:28] thundergreen commented on #351
how u mean? I use hass addon but not mqtt but ws

[2021-02-26 21:59] thundergreen commented on #351
here the logs when re-inteview the node: https://pastebin.ddns.me/ruzosireto.cs

[2021-02-26 22:40] PhAzE-Variance opened #760 "[bug] Unable to set config parameters on Dome DMS01 Siren"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.5.0

### Describe the bug

When trying to set any of the config parameters for the Dome DMS01 Siren, the settings instantly r

[2021-02-27 00:13] Lopton commented on #716
@robertsLando No errors in the console, no traffic in the network, it's as if nothing happens when I click the start button. I cleared the cache and force reloaded the page, nothing.  I'll dive into the JS further later. So weird.

[2021-02-27 08:44] joselito11 commented on #477
@robertsLando tried now with latest 2.0.0, 6.5.0, 1.1.0 and still no color wheel:
[zwavejs2mqtt-store (8).zip](https://github.com/zwave-js/zwavejs2mqtt/files/6053996/zwavejs2mqtt-store.8.zip)
Please for help

[2021-02-27 08:50] NicoLeOca commented on #759
node.json
[node_14.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6054007/node_14.txt)

[2021-02-27 10:02] billiaz commented on #477
@joselito11 please export the node itself, as it is not clear to me what the problem is. and going through all logs i cannot easily pin the issue.

[2021-02-27 10:37] robertsLando commented on #736
Hummm I don't get your points, with a plugin you can directly access all the instances of z2m like the client, mqtt and also the express instance and use the express instance to create the apis and the client to have a direct access to zwave stuff. IMO this is the easier solution but it's your choice I don't mind sincerly do what you prefer and ask me if you need some other help :)

[2021-02-27 12:07] NYZack opened #763 "[bug] Options for configuration values not handled properly"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.3.0
zwavejs version: 6.4.0

### Describe the bug

When options are listed for configuration parameters in device configuration files on zwavejs and

[2021-02-27 13:20] etamminga opened #764 "[HASS] Entity Name Template - Index missing in Friendly Name"
### Version

zwavejs2mqtt version: 2.0.0
zwavejs version: 6.5.0

### Describe the problem
When discovering a device with multiple similar entities the Friendly name of the entity cannot be configured to include the index of the entity.

We'd like to have the option to specify the Index in the "Entity Name Template" in Settings->Home Assistant of ZwaveJs2Mqtt.

Example: on a Greenwave Powernode wit

[2021-02-27 16:26] joselito11 commented on #477
@billiaz is this ok?
[code]

[2021-02-27 17:46] ropeguru commented on #759
Not sure if it is related, but climate for my Honeywell TH6320ZW has disappeared also

[2021-02-27 22:03] radiationnow opened #766 "[BUG] Display bug in associations"
Description:
Using the ZwaveJS2MQTT HomeAssistant addon (V0.5.0), the control panel shows lifeline associations to node 2, not to node 1.  The associations themselves appear to be made to node 1, so this seems to be purely a display bug.

Describe the bug
Lifeline group associations show association to node 2, instead of the expected association to the controller (node 1).  Removing the associatio

[2021-02-28 02:38] osenft opened #767 "[bug] Cannot import nodes.json that was previously exported."
### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.0 (server) / 2.0.0.c2e3e82 (app)
zwavejs version: 6.5.0

### Describe the bug

Cannot import nodes.json that was previously exported.

The log is full with errors like these:
[code]

### To Reproduce

Steps to reproduce the behavior:

1. Go to 'Control Pa

[2021-02-28 02:39] osenft commented on #767
When setting the node name manually, the log prints this:

[code]

Note that the different type (number vs string) of the first argument to setNodeName.

[2021-02-28 02:40] osenft commented on #767
I'm not sure if the bug is on the export or the import side. I'll attach a PR to fix the bug on the import side to not break existing nodes.json export files.

[2021-02-28 04:38] osenft commented on #766
Please see proposed fix in PR #769.

[2021-02-28 04:39] osenft commented on #766
This problem is caused by looking up by index, rather than ID. The off-by 1 was pure coincidence: while the array is indexed from 0 and IDs start at 1, this breaks if an ID is skipped. The lookup was plainly wrong.

[2021-02-28 09:25] ahochsteger commented on #675
@robertsLando sorry, for the late reply - here is some more information that may help to reproduce the issue:
* I can reproduce the issue in production (rpi4 using docker) as well as running it on a dev setup (without docker)
* I have the internal auth mechanism disabled, since I'm using traefik with forwarded auth to Google Authentication instead for all of my apps
* When I enter the URL `/settin

[2021-02-28 20:08] jack-apple-sr opened #770 "[HASS]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

If you are using Zwave-js integration please add a full dump:

Home Assistant --> settings --> Integrations --> Z-Wave JS --> Configure --> Create dump --> zip the json file and post it here.

### Version

Build/Run method

Docker **[X]**  on Raspberry Pi 3+ /  Buster 5.10.11-v7+ #1399   w/

[2021-03-01 09:02] robertsLando commented on #763
@NYZack did you try to re-interview your device?

[2021-03-01 09:03] robertsLando commented on #759
@NicoLeOca Are you using zwavejs integration or mqtt discovery? If you are using zwavejs integration please close this issue and open it in hass repo

[2021-03-01 09:04] robertsLando commented on #477
@joselito11 Are you using zwavejs integration or mqtt discovery?

[2021-03-01 09:10] joselito11 commented on #477
zwavejs, tried and tested also with mqtt

[2021-03-01 09:11] robertsLando commented on #764
@billiaz

[2021-03-01 09:12] billiaz commented on #764
I am thinking! not sure yet what is best to be used.
Maybe exposing the ability to include Entrypoint or property key might help.

[2021-03-01 09:12] robertsLando commented on #477
If it's working with MQTT I cannot do anything on zwavejs integration as it's not maintained by me

[2021-03-01 09:13] joselito11 commented on #477
ok, thank you!

[2021-03-01 09:19] razvanws opened #778 "[bug] ZW132 MeterCCReport not published to mqtt"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.0.0
zwavejs version: 6.5.0

### Describe the bug

Aeotec ZW132 dual nano switch meter reports are not published to mqtt. Please see below an example

[2021-03-01 09:43] AlCalzone opened #779 "[feat] Offer auto-complete suggestions for config parameters with `allowManualEntry: true` that have `options`"
**Is your feature request related to a problem? Please describe.**
Some `zwave-js` config params have both `allowManualEntry: true` and `options`. These options are meant to give the user some guideline or point out special values like "Off".

**Describe the solution you'd like**
We should offer auto-complete suggestions in this case that can be selected in addition to manually entered values.

**

[2021-03-01 10:24] robertsLando commented on #778
@razvanws In the logs search for `Node 13: value updated: 50-1-value`. You wiull see that the event is catched, you may have gateway disabled

[2021-03-01 10:26] bushvin commented on #739
Apologies for my absence.
I made sure all dead nodes are gone, so now I only have live nodes.

The graph still shows a "flatline"

Which logs would you like me to put to "silly"?
- General
- Zwave

Are there any particular tasks you want me to perform while logging?

[2021-03-01 10:33] robertsLando commented on #739
Zwavejs

[2021-03-01 10:34] robertsLando commented on #779
@AlCalzone Is options like states?

[2021-03-01 10:35] razvanws commented on #778
@robertsLando I don't have the gateway disabled. See attached screenshot.
Also, I believe that the event you saw catched was from the time that zwavejs2mqtt started. I provided the logs as soon as I restarted zwavejs2mqtt. Whenever I restart zwavejs2mqtt or do a "refresh values" node action, the value gets published.

<img width="1645" alt="Screenshot 2021-03-01 at 12 32 06" src="https://user-imag

[2021-03-01 10:38] robertsLando commented on #778
Please delete actual logs file, set general loglevel to debug and restart the application and send me logs again

[2021-03-01 10:43] #767 closed

[2021-03-01 10:49] #766 closed

[2021-03-01 10:53] razvanws commented on #778
Please see attached the new log file. It's a brand new file which shows everything from the start of the app until the Interview stage is complete for all nodes (+ a couple of minutes after just to get enough data) except of the battery powered ones.

Node 13 is reporting the meter value each 10 seconds so I believe we should see a `Node 13: value updated: 50-1-value` message in the log file each

[2021-03-01 10:55] robertsLando commented on #749
I dunno if you are aware of this but mqtt discovery != zwavejs integration, them are two different things and they essentially prtovide two different ways to integrate your zwave devices with hass.

[2021-03-01 11:00] robertsLando commented on #778
@razvanws please search for `Publishing to zwavejs/dormitor_mic/lustra_si_scafa/50/1/value/` in your logs, the messages are sent, maybe you are checking the wrong topic?

[2021-03-01 11:18] AlCalzone commented on #779
Blocked by https://github.com/zwave-js/node-zwave-js/issues/1927

[2021-03-01 11:18] AlCalzone commented on #779
You need to check the configuration parameters' metadata for these properties. `options === states`

[2021-03-01 11:19] AlCalzone commented on #739
Yep, re-interview one or two of the affected nodes.

[2021-03-01 11:28] razvanws commented on #778
I'm actually subscribing to `zwavejs/#` so that I can see all the messages sent by zwavejs and nothing comes on `zwavejs/dormitor_mic/lustra_si_scafa/50/1/value/` except the first time the app is starting.

Which are the messages that you saw in the logs?

I did the following:
[code]

There are only 4 messages which are sent in a 3 seconds interval. Those messages are the initial messages from the

[2021-03-01 12:04] razvanws commented on #778
I'm just wondering, could it be related to the fact that the values that are showed in the "Meters" tab of zwavejs2mqtt are also not updated?
See attached screenshot, it says "Electric consumed [w]: 0W", while as you can see below, the last value showed in zwavejs log (see below) is 16.61.

[code]

<img width="1237" alt="Screenshot 2021-03-01 at 14 01 08" src="https://user-images.githubusercontent

[2021-03-01 12:36] cts1085 commented on #749
I do understand and I am planning on migrating to use zwavejs integration. I am just wanting to make sure that I am not losing any functionality.  It appears the only item left is the scene events being seen by hass.  Unless there is a different method or implementation to use scenes from these devices into hass via zwavejs?

[2021-03-01 12:45] NYZack commented on #763
Yes. This is the issue in #779 so closing this one.

[2021-03-01 12:45] #763 closed

[2021-03-01 12:48] NYZack commented on #779
I believe there's also an issue in reporting read-only values if options are set in the config file but the device can also return values outside one of the options; in this case, the field ends up showing up as blank.  (The flip side of the issue reported here.)

[2021-03-01 13:26] robertsLando commented on #749
I cannot answer to this question as I'm not using zwavejs integration and I dunno its support, I can only speak about the mqtt discovery that is maintained by me

[2021-03-01 13:31] robertsLando commented on #778
@AlCalzone IS there any reason why that event could not be emitted by zwavejs? Maybe some regression in latest releases? Because this issue makes no sense to me

[2021-03-01 13:32] robertsLando commented on #779
The fix is ready in #781, just need to wait a new release of zwavejs with https://github.com/zwave-js/node-zwave-js/issues/1927 fixed

[2021-03-01 13:34] AlCalzone commented on #778
Is there a full zwave-js log?

[2021-03-01 13:35] bushvin commented on #739
Here's the log file. Hope this helps.
[zwavejs_1.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/6061935/zwavejs_1.log.gz)

[2021-03-01 13:37] robertsLando commented on #778
Like all other values, the event `value updated` is emitted and I publish the packet to mqtt

[2021-03-01 13:44] cts1085 commented on #749
ok - so is there a different place I should be posting this issue or question?

[2021-03-01 13:57] lolautruche opened #782 "[question] Enrollment codes for BeNext/Zipato Keypad"
Hello

Sorry in advance if this question has already been posted/answered.
I have a BeNext/Zipat mini-keypad that I used to use with Domoticz/OZW. I am now using ZWaveJS2mqtt with HomeAssistant, and I'd like to use my tags. I can see in the UI that I can manually add user codes (most likely including the tags codes), but I can't figure out how to enroll my tags. I tried to press home/away on my ta

[2021-03-01 14:23] AlCalzone commented on #778
I meant on the device. Those meters have options to configure what gets reported and when.
Also which associations exist? @razvanws

[2021-03-01 14:25] AlCalzone commented on #739
Seems that at least node 6 knows its neighbors:
[code]
Not sure if it was this way before too.

[2021-03-01 14:30] razvanws commented on #778
Those are the associations:
<img width="1610" alt="Screenshot 2021-03-01 at 16 28 03" src="https://user-images.githubusercontent.com/8041398/109510974-45901980-7aab-11eb-8882-46fcffebb7a4.png">

Those are the relevant configured options:
<img width="1224" alt="Screenshot 2021-03-01 at 16 28 27" src="https://user-images.githubusercontent.com/8041398/109511032-55a7f900-7aab-11eb-801b-cf2f5c73d90d.pn

[2021-03-01 14:33] razvanws commented on #778
I don't know if it makes any sense but here there is the same report by a ZW111 which is successfully published to mqtt:

[code]

Here it is the ZW132 report that it's not published to mqtt:
[code]

The only difference between them is the 22 bytes vs 18 bytes, don't know if it makes sense.

[2021-03-01 14:44] bushvin commented on #739
Well, that was also in one of my original posts here.
The debug information of the nodes show they do know their neighbours.Is there a way to debug the graph through the web console?

[2021-03-01 14:44] robertsLando commented on #749
Home assistant core github repo

[2021-03-01 14:44] #749 closed

[2021-03-01 14:46] AlCalzone commented on #739
Oh sorry I didn't see that. Not a problem on my end then :)

[2021-03-01 14:49] robertsLando commented on #782
@lolautruche Could you attach a gif showing what you are actually try to do on the UI and also both z2m and zwavejs logs?

[2021-03-01 14:50] #779 closed

[2021-03-01 15:45] AlCalzone commented on #778
@razvanws The ZW132 has 2 endpoints, which should both have Meter support. Since it also supports Multi Channel Association CC V3, the reports to the root endpoint are not automatically mapped to endpoint 1 (spec requirement).

However it seems like the device incorrectly uses the root endpoint to report combined meter reports for both channels - which are hidden, because they should not be sent.

[2021-03-01 15:51] AlCalzone commented on #778
@razvanws do you have the option to test the config files in https://github.com/zwave-js/node-zwave-js/pull/1966?
Should I make you a test release?

[2021-03-01 15:52] razvanws commented on #778
@AlCalzone you can make me a test release if possible. Right now I'm using the hassio addon but I could spin a separate docker instance for testing.

[2021-03-01 15:55] AlCalzone commented on #778
The bot should comment with an install command in the PR soon. Alternatively you can build a custom zjs2m container against the PR branch: https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/docker_custom_builds

[2021-03-01 16:18] NicoLeOca commented on #759
@robertsLando
Thanks for your reply
I use zwavejs integration.
So I close this issue

[2021-03-01 16:18] #759 closed

[2021-03-01 17:02] Laynezilla opened #783 "[feat] Run Docker container as non-root user"
**Is your feature request related to a problem? Please describe.**
The Docker container is currently running as root which is a security issue.

**Describe the solution you'd like**
Have environmental variables specify UID and GID similar to [this](https://github.com/linuxserver/docker-homeassistant#parameters).

**Describe alternatives you've considered**
Hardcode user 1001 or something similar t

[2021-03-01 17:17] bushvin commented on #739
I have now!

[2021-03-01 22:06] mullender opened #784 "[ux] No Visual Indicator for Scrollable Dropdown Menu"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version 2.0.0

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.1.0
zwavejs version: 6.5.0

### Describe the bug

The controller actions dropdown menu is not obviously scollable
It took me looking at the pa

[2021-03-01 22:36] towerhand opened #785 "[question] Docker dev tag"
Dev tag seems to be behind by a few days. It used to be cut daily so I'm just wondering if there was a change of plans.

Thanks for all your hard work.

Currently:
dev tag - App version 1.4.0, Zwavejs Version 6.5.0 and Zwavejs-server Version 1.0.0
and
latest tag - App version 2.0.1, Zwavejs Version 6.5.1 and Zwavejs-server Version 1.1.0

[2021-03-01 23:27] NYZack opened #786 "[feat]Data loss when zwavejs2mqtt restarted during RestartFromCache"
**Is your feature request related to a problem? Please describe.**
If zwavejs2mqtt is restarted while a device is in "RestartFromCache" status, all data for the device are lost after the restart (the device is listed as "Unknown," all values and metadata are lost, and the status is changed to "ProtocolInfo").  The device data only repopulate once the device interrogation is completed, which can be

[2021-03-01 23:27] NYZack opened #893 "[feat]Prevent data loss when zwavejs2mqtt restarted during RestartFromCache"
**Is your feature request related to a problem? Please describe.**
If zwavejs2mqtt is restarted while a device is in "RestartFromCache" status, all data for the device are lost after the restart (the device is listed as "Unknown," all values and metadata are lost, and the status is changed to "ProtocolInfo").  The device data only repopulate once the device interrogation is completed, which can be

[2021-03-02 07:53] robertsLando commented on #785
@towerhand Dev tag is died in favour of `master` tag, I wrote a post about this in slack channel :)

[2021-03-02 07:53] #785 closed

[2021-03-02 07:56] robertsLando commented on #783
@Laynezilla Would you like to submit a PR for this?

[2021-03-02 08:48] #784 closed

[2021-03-02 09:03] robertsLando commented on #739
@bushvin Ok seems I have found the problem here but I'm not 100% sure about the solution. ATM to draw a connection I check if a node can forward packets, the forward property is evaluated by `` the problem is that ALL your devices have the property `isListening` set to `false`. If I remove `isListening` from the previous formula I get this chart:

![Schermata da 2021-03-02 10-00-35](https://user-i

[2021-03-02 09:05] AlCalzone commented on #739
It might give a false sense of safety if you think Node X is reachable via Y and Z, although it is actually not because Y and Z are sleeping 99.9% of the time.

[2021-03-02 09:22] robertsLando commented on #739
Update: Based on my last finding seems the main problem is that the controller actually has `isListening` set to `false`, If I manually set the controller isListening property to true everything is fine. The question so now is: Why does the controller has that property set to false??

@bushvin Please attach a zwavejs log with loglevel set to debug so @AlCalzone can understand if it's a device issu

[2021-03-02 09:26] razvanws commented on #778
@AlCalzone I just tested it and it looks like it's working properly.
Please see below, the values are published each 10 seconds. Perfect!
I also attached 2 screenshots so that you can see the mqtt messages themselves. The meters values in the UI also update properly. Everything looks very good!

[code]

<img width="793" alt="Screenshot 2021-03-02 at 11 23 56" src="https://user-images.githubusercon

[2021-03-02 09:28] ldymek opened #793 "[bug] Fibaro FGT-001 Thermostat no setpoint in HA"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.7
zwavejs version: 6.4.0

### Describe the bug

Fibaro FGT001 Thermostats are discovered correctly by zwavejs2mqtt, including setpoint of t

[2021-03-02 09:43] AlCalzone commented on #778
Seems pointless to have two endpoints that support Meter CC then 🤷🏻‍♂️

[2021-03-02 09:47] AlCalzone commented on #739
That information only appears if the controller is re-interviewed. I'm not certain that it is important. Maybe a portable controller stick that started the network while not USB powered?

[2021-03-02 09:58] bushvin commented on #739
This is really weird... I have [this stick](https://z-wave.me/products/uzb/), but lsusb tells me it's [this one](https://aeotec.com/z-wave-usb-stick/)

I did have the aeotec a long time ago, but I migrated off to this new one after the aeotec started to go faulty...
But maybe the chipset is just the same or similar?

This is what lsusb tells me about the stick: Aeotec Z-Stick Gen5 (ZW090) - UZB
[c

[2021-03-02 11:04] robertsLando commented on #793
@ldymek Could you attach zwavejs logs please?

[2021-03-02 13:22] ldymek commented on #793
hello, please find logs below
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6068897/zwavejs_1.log)

[2021-03-02 13:34] robertsLando commented on #793
@AlCalzone I think this could be something related to the other bug about root endpoints?

[2021-03-02 13:38] robertsLando commented on #739
@bushvin I could do a brutal fix and say that controller always forward but I think this could be both a device issue or something not correctly handled on zwavejs side. @AlCalzone ?

[2021-03-02 13:45] towerhand commented on #785
Ok, thanks. I’m not on slack.

[2021-03-02 13:52] AlCalzone commented on #793
I see it here ^

[2021-03-02 13:53] AlCalzone commented on #739
tbh, you should assume that the controller always listens.

[2021-03-02 14:00] robertsLando commented on #739
PR ready. @bushvin Could you give it a try?

[2021-03-02 14:02] robertsLando commented on #793
@ldymek could you explain what you mean with

Also are you using zwavejs integration or MQTT discovery? Have you tried to check the MQTT traffic using tools like MQTT explorer?

[2021-03-02 14:03] robertsLando commented on #785
Yep not everyone is there, hope that next ones will see this issue :)

[2021-03-02 14:11] ldymek commented on #793
@robertsLando I tried MQTT and zwavejs integration, same story. But as I said "full" zwavejs addon from supervisor does not have this problem, but have no control panel for the devices. I could try MQTT explorer, never done that, have to google it.

[2021-03-02 14:18] robertsLando commented on #739
@bushvin I have merged it with master so you can use tag `master` to test it. I'm quite sure that will fix your problem as it was fixed on my side

[2021-03-02 14:19] robertsLando commented on #793
But at least could you change the setpoint from the zwavejs2mqtt ui? If so there must also be a topic for it

[2021-03-02 14:22] lolautruche commented on #782
Hi @robertsLando

On the UI, I couldn't figure out how to do or what value to inject in the "user codes" section.

I checked if the user code from my badge would appear in the logs but I had no luck.

Here are the logs from z2m:

[code]

With another badge:

[code]

Please note that I included the tag reader with secure inclusion.

The zwavejs log doesn't have relevant information:

[code]

[2021-03-02 14:24] ldymek commented on #793
I can set it from zwavejs2mqtt ui

[2021-03-02 14:29] robertsLando commented on #782
@lolautruche Please attach to your issue all logs needed: https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report?id=bug-report

I never used those devices but I think a manual would be useful in this case. BTW @AlCalzone said to me that other users having the same devices had no issues using them

[2021-03-02 14:31] lolautruche commented on #782
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6069327/zwavejs_1.log)
[zwavejs2mqtt.log](https://github.com/zwave-js/zwavejs2mqtt/files/6069328/zwavejs2mqtt.log)

[2021-03-02 14:33] lolautruche commented on #782
If others can use it, then I'm pretty sure I can :-)
It's just that I don't understand how I can add the code of my badges as I don't know them, unfortunately. And I'm not sure what value to add (I'm suspecting this should be hex value)

[2021-03-02 14:34] robertsLando commented on #782
@lolautruche What version are you using? Could you update to latest please? 2.1.0 ATM

[2021-03-02 14:34] AlCalzone commented on #782
That's not loglevel debug nor silly 🤷🏻‍♂️

Afaik the new codes should appear as user code 0 or something and you have to manually copy them to another user code where you want to use them.

[2021-03-02 14:35] lolautruche commented on #782
Oh my... Sorry, I was convinced that I set it to debug. Let me try again :-)

[2021-03-02 14:37] lolautruche commented on #782
@robertsLando
<img width="825" alt="Capture d’écran 2021-03-02 à 15 36 47" src="https://user-images.githubusercontent.com/313528/109664184-2d80ce80-7b6d-11eb-9296-b8ce5daa0b3a.png">

I did a `docker-compose pull` this morning.

[2021-03-02 14:40] robertsLando commented on #782
app version 1.0.5, latest is 2.1.0, I think something isn't wrong in your docker compose, what tag are you using? latest?

[2021-03-02 14:43] lolautruche commented on #782
Weird...
I'm indeed using the `latest` tag.
Here is my `docker-compose.yml`

[code]

[2021-03-02 14:45] lolautruche commented on #782
@AlCalzone I indeed figured out using silly log level that the user code does appear in the log (see attached). In the UI I have the following:

<img width="759" alt="Capture d’écran 2021-03-02 à 15 44 06" src="https://user-images.githubusercontent.com/313528/109665175-31f9b700-7b6e-11eb-911c-1f1d8c6ec12a.png">
[zwavejs_1(1).log](https://github.com/zwave-js/zwavejs2mqtt/files/6069405/zwavejs_1.1

[2021-03-02 14:49] lolautruche commented on #782
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6069447/zwavejs_1.1.log)

[2021-03-02 14:49] AlCalzone commented on #782
With the newest zwavejs2mqtt (I think @robertsLando is doing one more change though), the `[object ArrayBuffer]` should become a HEX string which you can copy to the desired user code #

[2021-03-02 14:50] robertsLando commented on #782
@lolautruche could you click on the button `Dump` in the top of control panel nodes table and attach here the nodes dump?

[2021-03-02 14:51] robertsLando commented on #793
Ok so there must also be a value in mqtt, I think that you problem may be with zwavejs integration, that is not handled by me

[2021-03-02 14:52] AlCalzone commented on #782
Oh and you should probably re-interview Node 25, zwave-js couldn't read the user codes so far.
I've deleted your previous log since it contains the user code you tried to teach in.

[2021-03-02 14:52] lolautruche commented on #782
@AlCalzone That's cool, thanks!
@robertsLando do you mean the "export" button?

[2021-03-02 14:54] robertsLando commented on #782
![Schermata da 2021-03-02 15-53-28](https://user-images.githubusercontent.com/11502495/109666447-79cd0e00-7b6f-11eb-9708-e0afdd38df00.png)

The yellow one, `DUMP`

[2021-03-02 14:54] lolautruche commented on #782
Yes I know, it seems that there was an unexpected restart or something. This occurs quite a lot these days.

@robertsLando How can it be that I'm using the `latest` tag but I'm still getting `1.0.5`? I can switch to the `2.1.0` tag, but still I don't understand.

[2021-03-02 14:54] lolautruche commented on #782
I don't have this yellow button. Probably because of the version

[2021-03-02 14:58] lolautruche commented on #782
OK, I was able to force the update. Let me try again...

[2021-03-02 15:04] robertsLando commented on #782
Remember to re-interview your device (by sending re-interview action)

[2021-03-02 15:05] lolautruche commented on #782
[nodes_dump.json.gz](https://github.com/zwave-js/zwavejs2mqtt/files/6069548/nodes_dump.json.gz)

[2021-03-02 15:30] #782 closed

[2021-03-02 15:31] robertsLando commented on #782
@lolautruche Please try to use `master` tag, just wait 30 mins until https://github.com/zwave-js/zwavejs2mqtt/runs/2014457862?check_suite_focus=true ends

[2021-03-02 15:33] lolautruche commented on #782
Awesome thank you

[2021-03-02 15:33] lolautruche commented on #782
Now that I have the user code in hex (thanks to the logs), I tried to set the first user code "slot" and I have this message:

[code]

[2021-03-02 15:35] AlCalzone commented on #782
well, what did you write in there?

[2021-03-02 15:36] lolautruche commented on #782
The hex code.
I know I didn't wait, I tried before getting the message from @robertsLando ^^

[2021-03-02 15:36] ldymek commented on #793
As I wrote earlier, Setpoint is also not visible in MQTT. Firstly I used MQTT integration and saw missing Setpoint, so I moved to websocket and got the same issue. I started with beta6, updated to beta7 today without luck. Who should be addressed then with this issue?

[2021-03-02 15:37] bushvin commented on #739
I run docker... is it the 2.1.0 ?

[2021-03-02 15:45] robertsLando commented on #739
Instead of `2.1.0` use `master` tag in your docker-comopse

`image: zwavejs/zwavejs2mqtt:master`

[2021-03-02 15:46] robertsLando commented on #793
Try to update to 2.1.0, I think that's the zwavejs server version BTW

[2021-03-02 15:55] robertsLando commented on #782
@lolautruche Available now

[2021-03-02 15:57] bushvin commented on #739
I updated to `master`.
The web ui tells me it's 2.1.0, I imagine that is right, but the graph is still a flatline.
The devices are still being refreshed after the restart, maybe I should wait until that's completely done?

[2021-03-02 16:06] lolautruche commented on #782
Thank you

However, I don't see anything now 😭 :
<img width="718" alt="image" src="https://user-images.githubusercontent.com/313528/109677040-8d7d7200-7b79-11eb-8a1f-9477416db5ae.png">

[2021-03-02 16:13] robertsLando commented on #782
Ops, I fixed it on backend side but forgot to add the parsing on ui side, it's a matter of a line of code, let me fix this (but you will have to wait new build)

[2021-03-02 16:16] lolautruche commented on #782
No problem, I understand 😄
What is supposed to appear is a string like `0x0000000000000000`, right? Because, even by doing so, I'm still getting the error I mentioned above:

[code]

[2021-03-02 16:17] lolautruche commented on #782
This occurs when I select "Enabled" and then I click send. Beforehand I paste my hex code in the "user code" field + send

[2021-03-02 16:25] ldymek commented on #793
How to update only zwavejs server in zwavejs2mqtt docker image? Can you share guide?

[2021-03-02 16:30] AlCalzone commented on #782
That is an 8-byte buffer as hex, so it should work if zwavejs2mqtt converts it correctly

[2021-03-02 16:43] robertsLando commented on #782
Wait until this ends: https://github.com/zwave-js/zwavejs2mqtt/actions/runs/614731828 then repull `master`

[2021-03-02 16:43] robertsLando commented on #739
Wait until this ends: https://github.com/zwave-js/zwavejs2mqtt/actions/runs/614731828 then repull `master`

[2021-03-02 16:45] robertsLando commented on #793
You should just updatre zwavejs2mqtt, the server comes with it always upated

[2021-03-02 16:46] BluGeni opened #799 "Firmware upgrade on Inovelli light switches"
### Version

I am on
App Version
2.1.0
Zwavejs Version
6.6.0
Zwavejs-server Version
1.1.0
Running via docker.

### Describe the bug

I am trying to do a firmware upgrade on my inovelli light switches.
If I try target 0 with the .ota
I get Failed to start the update: Firmware target #0 is not upgradable!

Also if I try target 1 with the .bin file I get:
Error while calling api beginFirmwareUpdate:

[2021-03-02 16:49] BluGeni commented on #799
A while ago I was able to update 1 switches ota target 0 but there was issues with target 1. I think this bug is related: https://github.com/zwave-js/zwavejs2mqtt/pull/601. Now I can not upgrade anything.

[2021-03-02 16:53] ldymek commented on #793
well I updated it today to latest version from docker, and have 1.0.0-beta7

[2021-03-02 16:58] robertsLando commented on #793
Please check that you are pulling the correct image. The latest is app version 2.1.0 and zwavejs server 1.1.0

[2021-03-02 16:59] robertsLando commented on #799
Could you attach logs please as described in the link on the top?

[2021-03-02 17:27] lolautruche commented on #782
It's back on "[object ArrayBuffer]"

<img width="392" alt="image" src="https://user-images.githubusercontent.com/313528/109688713-dedf2e80-7b84-11eb-81ec-9fbc1876bc43.png">

[2021-03-02 17:50] lolautruche commented on #782
nvm, I finally got the user code appearing correctly. Not sure why I had the ArrayBuffer string though.
Now I have to figure out how to use the keypad with Home Assistant, as I don't see any value updating changing using MQTT or the ZwaveJS integration.

Thanks a lot for your help=

[2021-03-02 17:57] ldymek commented on #793
You're correct, I had to delete existing image and pull again. Now I have:

App Version
2.1.0
Zwavejs Version
6.6.0
Zwavejs-server Version
1.1.0

but the problem is still the same. I re-interviewed all nodes, result is the same on HASS, still no setpoints from FGT001 thermostats. I attached updated logfile
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/6070742/zwavejs_1.log)
[zwave

[2021-03-02 18:00] robertsLando commented on #782
You can easily integrate them in this way:

https://zwave-js.github.io/zwavejs2mqtt/#/guide/homeassistant?id=manually-create-entities

I also suggest you to use mqtt explorer to find the usercode topics and make some tries with the payload to send

---

Daniel

[2021-03-02 18:10] BluGeni commented on #799
Ok so this is very weird. I turned on logging to file to get zwavejs2mqtt-store log and saved. That looked like it restarted the zwave network. - everything restored from cache. I then captured the errors by doing firmware upgrades. It errored as expected and can be seen in the attached logs. I then realized I didnt turn on logging for the zwave server I think its called.. So i turned that on so i

[2021-03-02 18:19] lolautruche commented on #782
Thank you so much @robertsLando

[2021-03-02 18:23] BluGeni commented on #799
That was short lived. Only one switch upgraded. and I am back to the same errors. Here are the logs
[zwavejs2mqtt-store (2).zip](https://github.com/zwave-js/zwavejs2mqtt/files/6070877/zwavejs2mqtt-store.2.zip)

[2021-03-02 18:26] BluGeni commented on #799
I think I am figuring something out. I just reinterviewed a node and ran the update and it appears to be working.

[2021-03-02 18:47] bushvin commented on #739
It seems the graph works now! Yay.
Any idea when it will become *stable*?
I prerer to *fix* my versions in docker

[2021-03-02 18:56] robertsLando commented on #739
Starting from 2.1.1

[2021-03-02 19:12] dfiore1230 commented on #477
I just got one of these bulbs installed and included in my zwavejs instance.  I am using HA as a front end via MQTT (with no zwave plugin installed).

I can turn the light on and off but cannot set the color temp nor color of the bulb. (the color wheel does show in HA)

Device Info shows the bulb has firmware v2.26

Log Snip on attempted color change
`2021-03-02 19:07:52.680 INFO MQTT: Message rec

[2021-03-02 19:28] dfiore1230 commented on #477
I can see the color change on HA and ZWaveJS but the bulb never changes.

[2021-03-02 21:25] NYZack commented on #779
@robertsLando I still don't think this is working correctly for read-only parameters with options.  I'm attaching a config file that has read-only parameters with options, but values that are outside the options can also be returned by the device.  When values are outside the options, they don't appear.

[zse29.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6071879/zse29.json.txt)
[node_

[2021-03-02 21:25] NYZack commented on #779
Here's a screenshot:
![image](https://user-images.githubusercontent.com/8227920/109717352-ee09b080-7b73-11eb-9e6b-b1450a7e26c6.png)

[2021-03-02 21:53] billiaz commented on #477
@dfiore1230 can you please uplpad a node export?

Do you see all three colors populated on zwavejs2mqtt console?

[2021-03-02 21:55] dfiore1230 commented on #477
@billiaz  I think this should cover it.

[node_83.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6072039/node_83.txt)

![Untitled](https://user-images.githubusercontent.com/3728160/109720388-02e84300-7b78-11eb-9dc7-c5069a16f59a.png)

[2021-03-02 22:09] #778 closed

[2021-03-03 03:29] BluGeni commented on #799
Things seems to work for the most part after re-interviewing. Some have gotten stuck with a firmware is already in progress but I can get around that by restarting. Closing.

[2021-03-03 03:29] #799 closed

[2021-03-03 09:09] robertsLando commented on #779
@NYZack The problem is that those values have allowManualEntry set to false:

[code]

If you check the other values with `allowManualEntry` set to true are correctly rendered (when you add a custom value the label will be `Custom: <value>`

[2021-03-03 09:11] robertsLando commented on #793
I see setpoint updates in logs, I'm quite sure the problem is with zwavejs integration

[2021-03-03 09:19] AlCalzone commented on #779
@robertsLando Since that is a **readonly** parameter, it doesn't really make sense to offer a dropdown.
IMO you should simply display the value and use `states` to translate it to a label if possible.

[2021-03-03 11:20] NYZack commented on #779
@robertsLando Sorry, you're right. I had an old version of the config file. It does return the value when allowManualEntry is set to true.

[2021-03-03 11:43] ldymek commented on #793
I can confirm that via MQTT setpoints are avaible now.

[2021-03-03 14:31] robertsLando commented on #793
Ok so closing this as the problem is not on my side

[2021-03-03 14:31] #793 closed

[2021-03-03 19:36] wigster opened #806 "Eurotronic Spirit Z-Wave temperature offset parameter no longer integer"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ x] Docker (hass.io)
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.1.0
zwavejs version: 6.6.0

### Describe the bug

Affected device: Eurotronic Z-Wave Spirit Plus TRV
Config parameter: temperature offset

[2021-03-03 20:49] barti04 opened #807 "Node interview fails"
### 2.1.0

Build/Run method

Home Assistant addon

zwavejs2mqtt version:  2.1.0
zwavejs version:  6.6.0

### Describe the bug

First Interview of all nodes except the z-wave stick is not working, also re-interview fails.

[2021-03-03 21:16] AlCalzone commented on #807
Please make a zwave-js log, loglevel `debug` or `silly` and attach it here as a file.

[2021-03-03 21:22] AlCalzone commented on #806
According to our config file (https://github.com/zwave-js/node-zwave-js/blob/2a13c7de52b070a0ab0216293169b614d44adf2f/packages/config/config/devices/0x0148/spirit.json#L151-L167), the field should accept the values -128 to 50 (which is in 1/10 °C), with an option for the external sensor (-128).

You don't have to compute the HEX values, that's done automatically.

[2021-03-03 21:57] wigster commented on #806
Indeed the config looks good. But there seems to be some problem with the GUI then. I'm attaching a part of the log where I am trying to write various integers in the range (-25,25) into the parameter, while ZJ2M in the log seems to always be writing 0. This is not the case for any other parameters (e.g. 112-0-5) which respond correctly.

[code]

[2021-03-03 22:02] AlCalzone commented on #806
Certainly looks like it

[2021-03-03 22:05] wigster commented on #806
In fact, there is a similar issue with the parameter [5-112-0-2] LCD Timeout, which should give me, according to the config, a field to enter 0-30, and instead there is one option forom a dropdown menu, which is a string and selecting it sends a NaN to the node. This used to work before the upgrade to 2.1.0.

![image](https://user-images.githubusercontent.com/10956987/109878599-c5b5ab00-7c74-11eb-

[2021-03-03 22:17] robertsLando commented on #806
Are you using latest or master tag with docker? If you are using latest could you try to pull master ?

[2021-03-03 22:23] wigster commented on #806
I have Z2M installed on hass.io through the Supervisor add-on.

Not sure how I would switch the branch there, but if you point me to some instructions I can try.

[2021-03-04 01:20] bs42 opened #808 "[bug] zwave-js fatal error on replace failed node"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.1.0
zwavejs version: 6.6.0

### Describe the bug

2021-03-03 18:12:45.564 INFO ZWAVE: Calling api replaceFailedNode with args: [ 6, false, [length]: 2 ]
2021-03-03 18:12:50.116 INFO ZWAVE: Controller status: Non-secure inclusion started
2021-03-03 18:12:50.

[2021-03-04 04:08] srirams opened #809 "[bug] CT200X Thermostat Unreliable communication / not getting updates"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

-  [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.1.0
zwavejs version: 6.6.0

### Describe the bug

CT200X Thermostat status switches between Alive / Dead constantly. Setting setpoint from zwavejs

[2021-03-04 07:04] robertsLando commented on #806
I dunno how the supervisor addon works, btw in docker it's as I explained, you just have to use `master` tag instead of `latest`

[2021-03-04 07:11] robertsLando commented on #808
Oh that's from zwavejs server

[2021-03-04 09:05] lolautruche opened #815 "[bug] ZwaveJS server crashing/not responding after container restart"
### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.1.0 (master tag)
zwavejs version: 6.6.0
zwavejs server version: 1.1.0

### Describe the bug

When zw2m container is restarted (stop/start, computer reboot...), it often happens that the zwavejs server (websocket) is not available. As a result, the zwavejs i

[2021-03-04 09:26] robertsLando commented on #815
I need some logs

[2021-03-04 10:39] lolautruche commented on #815
I know, I needed some time to get them :wink:
Here you go.
[zwavejs2mqtt.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/6082907/zwavejs2mqtt.log.gz)
[zwavejs_1.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/6082908/zwavejs_1.log.gz)

[2021-03-04 10:40] lolautruche commented on #815
I stopped my containers as described and started them over, and noted the issue

[2021-03-04 10:57] robertsLando commented on #815
@lolautruche Are you sure the server is enabled in settings? I cannot see anything that says the server is started in logs

[2021-03-04 11:15] lolautruche commented on #815
Yes I'm sure, it's a must in my installation.
I had to disable/enable it to make it work (I ensured to have the logs enabled when I did it)

[2021-03-04 12:52] robertsLando commented on #815
When zwavejs server is started a log like this should be shown:

`INFO ZWAVE-SERVER: ZwaveJS server listening on port`

Now I dunno what could prevent it to start, it's the first user that reports this problem

[2021-03-04 13:08] lolautruche commented on #815
That's weird, indeed. But I can confirm from within my settings.json.

[code]

[2021-03-04 13:15] lolautruche commented on #815
Is there a way to check if it's started from within the container somehow?
Could you point me in the code where this is handled? I might be able to help here :)

[2021-03-04 13:49] robertsLando commented on #815
https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/ZwaveClient.js#L1754
https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/ZwaveClient.js#L187

[2021-03-04 14:12] lolautruche commented on #815
I might be wrong, but as I understand it, ZWaveJSServer is instantiated using a different log channel (`Zwave-Server`), not the same than zw2m or zwavejs. However I cannot control where the corresponding logs are dumped (log file, stdout...), nor the verbosity.
AFAIU, the zwavejs log doesn't show the server logs.

Furthermore, something I didn't mention in the description, this issue occurs since

[2021-03-04 15:43] robertsLando commented on #815
On my instance the server is logging correctly when starts listening and also when I close it, I really dunno why this isn't happening on your side BTW

[2021-03-04 17:15] Wojcioo commented on #607
I've uploaded new version, and this node is correct discovered both in zwavejs2mqtt and in Home Assistant, but in HA in logs there is an error
[code]

I can't also find battery level in mqtt integration / devices.

![image](https://user-images.githubusercontent.com/33394332/110002314-88552a00-7d15-11eb-8ed6-728abf841623.png)

I've check all entities and I can't find more then one NodeID: 2. Where

[2021-03-04 17:49] Masterz69 opened #818 "[bug]"
### Version

HA OS 5.12 on RPi4 4G

![image](https://user-images.githubusercontent.com/15225823/110006099-e425b000-7d21-11eb-801d-5a1301f84381.png)

### Describe the bug

UNKNOWN entries in Plug device METER section.
Initially no one, but now 9.

### To Reproduce

When device paired - no UNKNOWN entries.
After several Core & Host restart - appears.

### Expected behavior

Only entries actually exp

[2021-03-04 18:56] billiaz commented on #607
LC 13 has one battery level. therefore what you see is right.
the ID is uniquie.

can you please export the node you receie this message from?
also would be nice if this issue was separate

[2021-03-04 19:19] Wojcioo opened #819 "Platform mqtt does not generate unique IDs. ID zwavejs2mqtt"
I've uploaded new version, and this node is correct discovered both in zwavejs2mqtt and in Home Assistant, but in HA in logs there is an error
[code]

I can't also find battery level in mqtt integration / devices.

![image](https://user-images.githubusercontent.com/33394332/110002314-88552a00-7d15-11eb-8ed6-728abf841623.png)

I've checked all entities and I can't find more then one NodeID: 2. Wher

[2021-03-04 19:20] Wojcioo commented on #819
But I've got three LC13 for two I can see battery level and for one not?

![image](https://user-images.githubusercontent.com/33394332/110017546-9fe8de80-7d26-11eb-9073-ece973f5cadc.png)

I've attached node with the issue.
[node_2.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6086078/node_2.txt)

[2021-03-05 02:20] scyto opened #820 "[bug]replace failed node not working with lock"
### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

App Version 2.1.1+92d502a.92d502a
Zwavejs Version 6.6.0-fc5492f
Zwavejs-server Version 1.1.0

### Describe the bug

I removed a zwave module from my already included kwikset 910 and with a zwave+ module and attempt to do a replace failed node.
Pressing the include button the lock

[2021-03-05 05:41] dennuuz commented on #351
Hi folks, really appreciate all the hard work you are putting into this. Can you confirm this was only fixed for mqtt? I'm using the ws:// - are you suggesting i should move to mqtt to make this work?

[2021-03-05 06:42] thundergreen commented on #351
I confirm this only fixes in mqtt but no stress. I just activated the mqtt
gateway and had the RGB running.of course I have to rename your entities
again but I think for the last time in your setup now. It works reall
rocksolid

dennuuz <notifications@github.com> schrieb am Fr., 5. März 2021, 06:41:

[2021-03-05 08:14] robertsLando commented on #819
@billiaz ?

[2021-03-05 08:22] billiaz commented on #819
I am going to see that.
I faced it before, it was 99% issue of discovery on HASS side. I had to:
1. Delete all topic on Mqtt server,
2. cleanup hass mqtt topics from entities and put it back online!
I then move to retained HASS discovery and stopped having this.

you could probably @Wojcioo do cleanup this node from your hass (by removeing the discovery only for this node and then cleanup failed e

[2021-03-05 08:25] billiaz commented on #819
@Wojcioo checked the file, i find no duplicate on this discovery! I seriously believe it is stuck on hass side

can you also aupload another LC-13 node? like the one with 53% battery.
I want to compare payloads

[2021-03-05 08:27] Wojcioo commented on #819
@billiaz
[node_3.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6089131/node_3.txt)

[2021-03-05 08:28] billiaz commented on #764
@etamminga currently friendly names 1-6 are not always calculated based on endpoint.
can you share the specific device node export? I want to figure out the posibilities...

Would be interesting to include the endpoint as suffix on names. And this way we could "separate" devices or reuse the discovered name (%o in your suggestion).

[2021-03-05 08:32] billiaz commented on #819
@Wojcioo looking this file too, it clearly is a hass mixup with cached discoveries

node 2 unique_ids:
[code]

node 3 unique_ids:
[code]

[2021-03-05 08:35] Wojcioo commented on #819
so I've to remove the discovery for this node in Zwavejs2mqtt, then cleanup failed entities in HASS, and restart discovery in Zwavejs2mqtt?

[2021-03-05 09:16] etamminga commented on #764
@billiaz here you go, node 34 export.

Have the endpoint id as a separate item to put in the template would be sufficient in my opinion. As most devices only have 1 endpoint adding it a s suffix to all names would not be beneficial I guess.

[node_34.zip](https://github.com/zwave-js/zwavejs2mqtt/files/6089411/node_34.zip)

[2021-03-05 09:52] wigster commented on #806
I've looked around but I cannot see how I could ssh into the HASS.IO host of the docker that is running HASS. I can only ssh into the HASS, which does not see Z2M since it is running in a docker on that same HASS.IO host.

[2021-03-05 09:55] robertsLando commented on #806
@wigster I cannot help here as I'm not an hass io user. You should try to ask this question in therir forum or wait until the addon releases a new version with the updated z2m (2.1.1 today)

[2021-03-05 10:48] billiaz commented on #819
I do it differently.
I delete the topics from mqtt `homeassistant/*`
only for node 2!
then i clean the mqtt entities once they become with a RED symbol (meaning unavailable)

and send `online` to `homeassistant/status`

[2021-03-05 11:21] paszczaq opened #824 "[bug] NAS-WR01ZE - Configuration values arent show on control panel"
### Version

HA Supervised on RPI4/4GB
core-2021.3.1
supervisor-2021.03.4

- [x] Docker - Z-Wave JS to MQTT: 0.6.0
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

App Version: 2.1.0
zwavejs2mqtt version: 1.1.0
zwavejs version: 6.6.0

### Describe the bug

When setting parameters in Config section for Neo Coolcam Power Plug (NAS-WR01ZE - Device ID
600-4135-512 (0x0258-0x0

[2021-03-05 11:48] Wojcioo commented on #819
sorry for stupid questions - I should remove in Zwavejs2mqtt for this node from json  lines with "state_topic"  and  "discoveryTopic" for both sensors that are not correct discovered in HA.
Than I should wait until they will be unavailable in HA, to remove this entities, and again I should restore json with this two lines.

I'm still new in this topics....

[2021-03-05 12:10] billiaz commented on #819
@Wojcioo No!
you do not need to touch zj2m!

you need to access HASS configuration - >entities
you need to access the MQTT

clean mqtt, clean hass, if the nodes are red (on side) then run the topic i told you (this will fake the HASS been restarted) you can ofcourse restart HASS

Alternative:
Stop MQTT access for HASS, clean entities failed and reconnect it! but up to you how you want it.

Both ar

[2021-03-05 14:52] eyager1 opened #826 "[bug] Polling timer resets on any node report, not targeted value"
### Version

Build/Run method

- [ x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.1.0
zwavejs version: 6.6.0

### Describe the bug

I have enabled polling in zwave2mqtt with the following configuration.

```[134-45-2] Water Sensor (AEON Labs)	Battery level (128-0-level)		No operation	Interval: 3600s```

Ideally this means that the comma

[2021-03-05 15:44] ahochsteger commented on #675
@robertsLando I just found some time to debug this issue and added some logs to output variables that affect the control flow. This is the log output when accessing the settings page:
[code]
I'm not really sure about the meaning of all variables but as you can see the router redirects form /settings to / and stays there.

It's only happening, if auth is disabled (since I offload auth to traefik).

[2021-03-05 15:53] robertsLando commented on #826
Working on the fix

[2021-03-05 16:08] #826 closed

[2021-03-05 16:35] Laynezilla commented on #783
I don't have time at the moment to work on this but I can give it a shot at some point. Also, I don't have any coding background, only tinkering, so if anyone else wants to attempt that might be better haha.

[2021-03-05 19:50] robertsLando commented on #675
I think your problem could be that the user is not found in localstorage, this happens in router/index in beforeeach functuon, I suggest you to put a breakpoint there and see if the user is found

[2021-03-05 20:17] ahochsteger commented on #675
Yes, there is no user found in localStorage, but I don't get why it should find one, since I'm running zjs2m with authentication disabled (as I already pointed out before).
These are the log outputs from the relevant locations:
[code]

[2021-03-05 20:23] NYZack commented on #779
OK, I'm still not sure this is resolved.  When I enter a manual value for a parameter that also has options set (where allowManualEntry is set to true), the value is ignored, and instead the existing parameter (corresponding to an option) is re-written.  In this case, the value 1 corresponded to the already-set option.  I changed it to 500, and the log showed this:

2021-03-05 15:17:17.543 INFO ZW

[2021-03-06 03:47] towerhand commented on #819
I have this happen when adding new devices.

For settings in zjs2m I'm using MQTT discovery with the retain discovery on, what happens is that the devices get auto discovered right away after adding the node (example "homeassistant/switch/node 22"), then when you rename the node in zjs2m a new discovery topic gets published (example "homeassistant/switch/kitchen light), if you rename it again then

[2021-03-07 00:04] NYZack opened #829 "[bug]Custom values not being set when configuration parameter has options"
Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 2.1.1
zwave-js version: 6.6.0

### Describe the bug
Reposting an issue with the closed feature request [https://github.com/zwave-js/zwavejs2mqtt/issues/779](url) - not sure if this is still monitored.  When I enter a manual value for a parameter that also has options set (

[2021-03-07 05:52] matejdro opened #830 "[HASS] Covers do not work in Home Assistant 2021.3.2"
### Version

Build/Run method

Docker

zwavejs2mqtt version:  2.1.1
zwavejs version: 6.6.0

### Describe the bug

When attempting to use native Home Assistant MQTT discovery with 2021.3.2, cover position will not be read. Logs are complaining about values not being numeric:

[code]

More info from Home Assistant folks: https://github.com/home-assistant/core/issues/47132#issuecomment-787070899

[2021-03-07 07:26] matejdro opened #831 "EU ZW111 (Aeotec Nano Dimmer) not detected"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-07 15:53] haavardNO commented on #434
@billiaz has there been any development on this issue?
I find it curious that no one else is struggling with this. At the moment all my z-wave scene controllers are retriggering after restart.

[2021-03-07 18:03] XtremeOwnageDotCom opened #832 "[Bug] Inovelli LZW36 Light+Dimmer discovered in Home Assistant as two lights"
Device is properly populated in ZWave, and contains the proper settings for both light and fan. However- when discovered in Home Assistant, appears as two light switches instead.

It technically works- however, this is not ideal.

Relavent setup guide from Inovelli.
https://support.inovelli.com/portal/en/kb/articles/installation-setup-lzw36-fan-light-red-series-gen-2-home-assistant-hass-io

Device

[2021-03-07 23:30] br0nd opened #833 "Replace Failed Node Command replaces the wrong node!"
I have several failed nodes in my network including Node 51 and Node 54.
I requested a replace failed node for Node 51.. and tried to include the switch (Zooz Zen26 if it matters)
The application ended up replacing the failed node 54 instead of 51 with this new switch.

My version info is
App Version - 2.1.1
Zwavejs Version - 6.6.0
Zwavejs-server Version - 1.1.0

I did not capture debug logs - I c

[2021-03-08 00:06] br0nd commented on #833
Will open with right format

[2021-03-08 00:06] #833 closed

[2021-03-08 02:07] br0nd opened #834 "[bug] Replace failed node replaces incorrect failed node"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-08 08:30] robertsLando commented on #675
Sorry I misunderstood the problem, I thought the problem was with auth enabled. Let me check this again

[2021-03-08 08:31] robertsLando commented on #834
@br0nd Do you have full zwavejs logs? @AlCalzone That's so strange...

[2021-03-08 08:32] robertsLando commented on #829
You have to enter your custom value, press Enter and then press the icon on the right of the input to send it

[2021-03-08 08:39] AlCalzone commented on #834
@br0nd Was the node you were trying to include reset to factory defaults?
Otherwise it could be that it still had the ID 54 stored and did not accept the ID 51 which the controller tried to give it.

[2021-03-08 08:43] robertsLando commented on #832
@billiaz

[2021-03-08 08:45] robertsLando commented on #779
Firstly ensure you are running the very latest version of z2m. Then to send a custom value write it on the input, press enter and then press the button on the right side to send the value

[2021-03-08 08:45] robertsLando commented on #830
@billiaz

[2021-03-08 10:30] billiaz commented on #830
@matejdro can you please post the node export? I am interested on this node! and try to understand what causes it

[2021-03-08 10:38] matejdro commented on #830
Here you go:
[shutter_node_export.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6100724/shutter_node_export.txt)

[2021-03-08 11:12] darootler commented on #830
@billiaz

Please take a look at my comment [here](https://github.com/home-assistant/core/issues/47342#issuecomment-791947214)

I thinks this has something to do with a recently added breaking change.

Regards
Richard

[2021-03-08 12:26] billiaz commented on #830
@darootler if devices returns the numbers, numbers should be supported.

Template supports on pushing the "expected" values to HASS, if something is changed, we probably need to update or change too.

from the export of node:
[code]
as you can see we pash the expected values

and current value:
[code]

to me it looks like, HASS is not parsing the json value using:

[code]

but reads the json a who

[2021-03-08 12:54] darootler commented on #830
@billiaz

[Here](https://github.com/home-assistant/core/pull/46059) is the breaking change from HASS. If i understand that correctly the problem is that "state_topic" and "position_topic" is reporting the same numeric value (position of the shutter). HASS is expecting a state like "open, closed, opening, closing or stopped".

A potential fix is explained [here](https://github.com/home-assistant/co

[2021-03-08 13:44] NYZack commented on #829
I understand about pressing the icon to submit the value.  As I mentioned above, when there is an option value already set, if I enter a manual value (and press the "submit" icon), the *existing* value is resubmitted, and the manual value is ignored.  I don't know whether it is relevant that the parameter value starts out with an option value set, because I can't experiment by changing it to a man

[2021-03-08 14:10] robertsLando commented on #829
You have to type, press enter or outside the input and then press the arrow icon. BTW I fixed this on master now and press enter is no longer needed

[2021-03-08 14:15] NYZack commented on #829
Yes! That works.

[2021-03-08 14:15] #829 closed

[2021-03-08 16:19] br0nd commented on #834
Unlikely, but possible, here is some more detail that could help
TLDR - Node 51 was a working switched, I firmware upgraded it and it became dead, I tried to replace failed node with the same switch (after firmware upgrade) and first try it made the container crash, 2nd time it replaced the wrong node.

I do have another Zooz Zen21 I need to firmware upgrade, I can put both log levels to silly.. a

[2021-03-08 16:57] wigster commented on #806
@robertsLando The HASS team has just pushed out the add-on update upgrading to Z2M 2.1.2 hopefully with the changes you wanted me to check.

Unfortunately, the behaviour is not fixed. The situation has changed, since now selecting the text option corresponding to -128 now sets that, instead of giving a NaN. However, writing in any other valid number (from 1-50, 206-255) instead passes 0 to the nod

[2021-03-08 17:04] robertsLando commented on #806
ATM the steps to send a 'Custom' value are:

1. Digit the value in the field
2. Press Enter
3. The field should show `Custom: <your value>`
4. Press the airplane icon to send the value

Today I just pushed a change in master to skip the point 2/3 so you can then just digit and send it

[2021-03-08 17:17] wigster commented on #806
OK, indeed that works at least on the Z2M side. Great! Now I need to make sure my automations in hASS work.

[2021-03-08 19:58] br0nd commented on #834
I tried to firmware update Node 50 (another Zooz Zen21 switch), and while the firmware update was successful, when I went to try replace failed node, the container crashed.

I have included two sets of log files (container log, general log and zwave log) for both the firmware update (which was successful) and the replace failed node (which crashed the container).
[Logs.zip](https://github.com/zwav

[2021-03-08 20:30] billiaz commented on #477
from the Json I suspect you run an old version?
can you tell me what is your zwavejs2mqtt @dfiore1230 ?

[2021-03-08 20:36] billiaz commented on #832
@XtremeOwnageDotCom can you kindly upload your node export.

exporting the specific now will show values discovered And the hass payloads

[2021-03-08 20:37] billiaz commented on #830
@darootler Thank you for pointing out,
I will post a payload for discovery! if you can add it on your zwavejs2mqtt and check that device, if works! will help me make a patch.

[2021-03-08 20:38] dfiore1230 commented on #477
App Version
2.1.2

Zwavejs Version
6.6.1

Zwavejs-server Version
1.1.1

[2021-03-08 20:42] billiaz commented on #830
@darootler
I named the device: Cover_test
uniqueid is:

[code]

can you try adding this as a new device in your home assistant tab! and then delete it if works

[2021-03-08 20:44] billiaz commented on #819
@robertsLando maybe worth adding devices with disabled discovery. or have the option to add them with disabled discovery (when included) and users to enable it afterwards?
I have similar issues but I am faster than device can interview! to rename etc.

[2021-03-08 20:48] billiaz commented on #477
@dfiore1230 2.1.2 was released today! and the file is from 6 days ago.

can it be the new payload is different?

under homeassistant tab on the node
you should find something different than:

[code]

especially values should have a `-0` (in some cases) also you should have `color_temp_command_template`

[2021-03-08 20:49] billiaz commented on #764
@etamminga will look into this soon!
been a few days with a broken laptop! just installed basic tools

[2021-03-08 20:51] dfiore1230 commented on #477
Watchtower FTW :)

Heres that tab.

[code]

[2021-03-08 20:52] billiaz commented on #486
@haavardNO I am still scrambled :)

[2021-03-08 20:53] AlCalzone commented on #834
The crash is this: https://github.com/zwave-js/zwave-js-server/issues/149 which has been fixed.

Also in your latest log, Node 50 gets replaced with 50 - so that seemed to work. I can only assume that your stick was in a weird state where both Node 51 and 54 were the same node - although I don't know how that could happen.

Generally during inclusion, the controller tells the node "you're Node XYZ

[2021-03-08 21:04] Masterz69 opened #844 "[bug] Device Configuration - not working"
Issue about changing device configuration from ZWaveJS Control Panel - IMHO there is nothing about HA.

Version info: HA Core 5.12 on RP4 4G + Aeotec Z-Wave Stick Gen5.
![image](https://user-images.githubusercontent.com/15225823/110380479-d6916280-8060-11eb-88e0-2b91e40a81c6.png)

ZWave device: Shenzhen Neo Electronics Co., Ltd. NAS-WR01ZE
See attached JSON ZiP:
[node_2.zip](https://github.com/zwa

[2021-03-08 21:08] darootler commented on #830
I am not sure how to add a device with this payload. I am able to publish a packet to topic „homeassistant“, but i am receiving the following error:

'value_json' is undefined

Regards
Richard

[2021-03-08 21:13] cbho commented on #819
That would definitely be nice... (@billiaz' suggestion, I mean)

To avoid trouble, I'm stopping Home Assistant when adding devices and only restarting after renaming them etc. in zwavejs2mqtt (and cleaning up MQTT (that is, before I just went for using the js server-function)).

[2021-03-08 21:51] XtremeOwnageDotCom commented on #832
[node_dump.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6104369/node_dump.txt)

Attached.

[2021-03-08 21:55] XtremeOwnageDotCom commented on #832
I believe the key areas, would be......

Line 1,848

[code]

And, line 1,954
[code]

[2021-03-08 22:13] XtremeOwnageDotCom commented on #832
Also- Here is the manufacturer provided config file (for OpenZWave):

https://raw.githubusercontent.com/InovelliUSA/OpenZWave/master/config/inovelli/lzw36.xml

[code]

It appears to expose three separate entities.

[2021-03-09 05:04] jonathanware commented on #624
@drjjr2 I have a Kwikset 910 and am having some issues. Can I pick your brain on a few things?

[2021-03-09 06:32] br0nd commented on #834
Thank you, you are right that Node 50 was successfully replaced, no idea what happened last time. And I have updated docker to get the new version of zwave-js-server. I will log a new issue if I see the container crashing or replacing the wrong node id.

Thanks for your help!

[2021-03-09 06:32] #834 closed

[2021-03-09 07:23] robertsLando commented on #844
@Masterz69 That's strange. Could you attach a full `silly` level log of zwavejs?

[2021-03-09 07:26] robertsLando commented on #806
This is already fixed on master so I close this

[2021-03-09 07:26] #806 closed

[2021-03-09 07:27] robertsLando commented on #819
We could a dd an option like `Manual Discovery`, with that no discovery payload will be sent automatically but you will have to discover them manually

[2021-03-09 10:08] robertsLando commented on #844
@AlCalzone Seems like the config options values are out of the range of the allowed options, the strange thing is that the allowManualEntry is not true and also when he try to set a value the feedback tells another value is set (try to write 0 and updates it to 13)

[2021-03-09 10:20] AlCalzone commented on #844
I can't make out which device that is exactly, but our config file seems to be wrong. Config parameter #5 returns a value of 120 but our config thinks this stands for Enabled/Disabled.
@Masterz69 please share the device ID or our config browser link and the firmware version.

No, the 0 is being set but the device does not accept it and returns 13 instead

That being said - zwavejs2mqtt **needs** t

[2021-03-09 10:22] robertsLando commented on #844
Yep I'm on this right now :+1:

[2021-03-09 11:04] Masterz69 commented on #844
Both right now connected devices are identical. Tried to configure node 2.

As far I see in json file: deviceId":"600-4135-512",
"manufacturer":"Shenzhen Neo Electronics Co., Ltd.",
"manufacturerId":600,"productType":512,"productId":4135, ...
"productLabel":"NAS-WR01ZE","productDescription":"Wall Plug Switch",

Purchased it from [that Ali seller](https://aliexpress.ru/item/32868985571.html) - ther

[2021-03-09 11:10] Masterz69 commented on #844
Pls see information about same plug from Hubitat Elevation:
deviceId: 4135
deviceType: 512
manufacturer: 600
inClusters: 0x5E,0x98,0x9F,0x55,0x73,0x86,0x85,0x8E,0x59,0x72,0x5A,0x25,0x32,0x71,0x70,0x6C
zwNodeInfo: D3 9C 00 04 10 01 5E 98 9F 55 73 86 85 5C 8E 59 72 5A 25 32 71 70 6C 68 23
properties: measure-power
firmwareVersion: 2.23
protocolVersion: 6.04
hardwareVersion: 16

deviceId, deviceType,

[2021-03-09 11:22] Masterz69 commented on #844
Found previously created issue "[Add missing Neo Coolcam device (INFO ZWAVE: Node 6 ready: Unknown manufacturer 600 - Unknown product 4135 (512))](https://github.com/zwave-js/node-zwave-js/issues/1283)" & "[Add missing Neo Coolcam devices](https://github.com/zwave-js/node-zwave-js/issues/1221)".

In @ookonbekend comment I see link to
https://github.com/OpenZWave/open-zwave/blob/master/config/shenz

[2021-03-09 11:27] Masterz69 commented on #844
Looks like I found config link; https://devices.zwave-js.io/?jumpTo=0x0258:0x0200:0x1027:null

Probably there must be a new config for V2.

Kindly asking to add it, it would be great !

Thank You in advance.

[2021-03-09 11:43] AlCalzone commented on #844
Duplicate of https://github.com/zwave-js/node-zwave-js/issues/1221

[2021-03-09 12:36] #844 closed

[2021-03-09 12:38] #819 closed

[2021-03-09 13:06] robertsLando commented on #675
I have submitted a fix for this, try it out

[2021-03-09 14:02] drjjr2 commented on #624
Certainly. I ended up doing template binary sensors to track the lock/unlock states of my 910s until they get it working right in zwavejs.

[2021-03-09 14:23] #675 closed

[2021-03-09 14:29] robertsLando commented on #675
It should also don't break when it is enabled. Could you double check? :)

[2021-03-09 15:02] ahochsteger commented on #675
@robertsLando it works with auth enabled and disabled :-).
What I don't understand is, why there is some difference when auth is disabled that causes opening `/settings` to redirect to `/` and than back to `/settings`. Are they required?
I don't see these redirects when auth is enabled.

[2021-03-09 15:29] ahochsteger commented on #675
I see - so you're currently using a workaround to solve this problem until a better solution can be found.
Thanks - it works now again as expected :-).

[2021-03-09 16:39] ldymek opened #855 "Node management from HA"
Hello,

Is it possible to create scripts from Home Assistant to update node settings values from device control panel? I have fibaro wallie dimmers switches and outlets with configurable color led circles on devices. I would like to set color on device based on air quality sensor which is not zwave device.

Thanks

[2021-03-09 17:12] ldymek commented on #855
To be more clear, I want to pass device Configuration to HASS excactly this:

![image](https://user-images.githubusercontent.com/56914130/110509801-cd58d200-8102-11eb-92fe-37715649fd2d.png)

- [2-112-0-11] LED frame – colour when ON
- [2-112-0-12] LED frame – colour when OFF

This can be done from manual entity creation as you pointed above? Can you share one example of above?

[2021-03-09 22:53] jonathanware commented on #624
So my initial problem was not being able to actually unlock/lock via MQTT but it turns out I was just missing the final /set on the targetMode topic.

My next step is probably what you are talking about. I've found that in the alarm topic (I can't remember the exact one, I'm not at home right now) I'm able to see state changes in the lock. I'm using MQTT-Thing in HomeBridge to control/manage the l

[2021-03-10 03:42] PhAzE-Variance opened #856 "Sunricher RGBW controller super slow color switch"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.
- [X] I am using Home Assistant but the issue exhibits from the ZwaveJS2Mqtt UI

Build/Run method

- [X] Docker
- [ ] PKG
-

[2021-03-10 06:57] Madelaide commented on #739
Is this meant to be fixed? I have the latest public updates (my app says v2.2.0, zwjs 6.6.1, zwjs server 1.1.1) but I still have a flat line. If I hover ona node they indeed list all the node's neighbours.

I note this error when I reload the graph page, but I don't know if it is related.
PS: my controller node is 94, not 1.

[Violation] 'setTimeout' handler took 86ms
[Violation] Forced reflow whi

[2021-03-10 07:10] robertsLando commented on #855
Yes, the examples are in the docs I linked

[2021-03-10 07:11] robertsLando commented on #856
@AlCalzone thoughts about the delay?

[2021-03-10 07:12] robertsLando commented on #739
That's the problem so, ATM I assume controller node as always 1. Could you change it's id anyway?

[2021-03-10 07:21] AlCalzone commented on #856
I think there are two things at play here.
1. Short term solution: use the configuration parameters to change the default dimming duration that gets used when zwave-js specifies no dimming duration
![grafik](https://user-images.githubusercontent.com/17641229/110591477-69252500-8179-11eb-8654-c9a7d30b6584.png)
2. Wait for https://github.com/zwave-js/node-zwave-js/issues/1321 to get implemented to s

[2021-03-10 10:13] Madelaide commented on #739
Okay good to know, I would love to change it back to 1, but although aeotec say it is possible, it is also likely to nuke the network as it would require removing and adding the device back (to a second zstick) until it cycles (roughly 140 times) back to node 1. So I think I'll wait until you can update it, or I eventually do it myself.

I previously managed to write a chord network graph with ozw

[2021-03-10 12:54] robertsLando opened #862 "[bug] Network graph not working when controller id != 1"
Ref #739 @Madelaide

[2021-03-10 13:04] PhAzE-Variance commented on #856
So, the dimming duration listed there is only for "stage mode" which is the mode where the lights are continuously transitioning like a light display.  It doesn't affect the regular color switch speed.

[2021-03-10 13:10] AlCalzone commented on #856
tbh that sounds like a device bug. From your log, the only thing I can imagine that could cause this is that 2-3 times you just update the color and after that the brightness also gets changed. Maybe the device does not like doing two different transitions at once?

[2021-03-10 14:29] #862 closed

[2021-03-10 14:36] jonathanware commented on #624
Ok, I was able to come up with a similar looking script in my homebridge MQTT plugin (Just last night actually! It was a glorious moment,) but I only noticed the 21, 22, 24, and 25 states. What are 18 and 19? Locked or unlocked from the keypad?

[2021-03-10 15:14] drjjr2 commented on #624
Exactly, 18 is locked at keypad and 19 is unlocked from keypad

[2021-03-10 19:11] Keldandorin opened #865 "Cant find my removed nodes anymore"
After one of the latest updates I can no longer see my removed nodes. Is that intended or bug?
What I like to do is to tap replace node and get the nod back in normal view. For some reason that I dont know the node got diasble/removed
thx
/Håkan

[2021-03-11 07:49] kpine commented on #832
You need to specify a device specific override to configure the 2nd endpoint as a fan, such as:

https://github.com/zwave-js/zwavejs2mqtt/blob/9669cce977e1412023c7bc9b53c9981ded1f225f/hass/devices.js#L338-L340

The endpoint would need to be specified in this case to avoid converting the light to fan, so it requires some new logic to handle the endpoint.

ZWave Plus V2 doesn't have a fan device typ

[2021-03-11 09:25] robertsLando commented on #865
@Keldandorin the approach has changed, removed nodes doesn't really exists was just dummy nodes I added on the missing ids. Just ignore this :) If you need to replace a node just call the replace from the controller action dropdown and it will ask you to type the id of the node you want to replace

[2021-03-11 19:13] Keldandorin commented on #865
@robertsLando
Hi! problem is that my node for some reason was removed and is no longer available to pic in dropdown. If I take My aeon Stick and look at it from Aeon IMA tools its there "but in removed state". Any chance to get that node back with same ID so I don't have to redo all my automations in HASS?

[2021-03-12 07:29] haavardNO commented on #486
I am running the latest version.
When I was using zwave2mqtt the scene state would be set to "inactive" until a button was pressed, then it would represent pressed / hold / release etc...

[2021-03-12 08:14] robertsLando commented on #865
Like I said, just send the "Replace Failed Node" action from the controller actuons dropdown (it's on the top of the nodes table), it will ask you the node id you want to replace and if you want to include the new device securely

[2021-03-12 09:12] ulfur8149 opened #872 "Using the mqtt broker [question]"
Hi,

I migrated with zwave fully to zwavejs2mqtt and have it running via docker and zwave js plugin in Home Assistant on my raspberry pi.
I have version zwave js server 1.1 and app version 2.1.1
Now I wanted to go a step further and use the mqtt also for other published services.
I understood that in the settings tab, that I have to leave the button 'Disable MQTT gateway' to off.

However In Home

[2021-03-12 09:13] haavardNO opened #873 "[question] Changing from mqtt to WS Server"
I am trying to change from mqtt to WS server for my Home assistant communication setup.
I am running zwavejs2mqtt on a rpi 4 with docker. Have tried to install on HASS side but I am not able to connect.
Is there any settings that I need to do on docker to expose the server?
I am also not able to reach the ws server from a browser via ws://ip_rpi:3000

Can anyone point me in the right direction?

[2021-03-12 09:26] Madelaide opened #874 "[question] Where did the debug menu/button go on the Control Panel?"
There used to be Node Groups and Debug buttons, now the Debug button has disappeared and it was very useful, especially showing the node's neighbours and other low-level details.

Please advise how to access the same information, or how to get the button/control back?

[2021-03-12 10:12] Madelaide opened #876 "[bug] Heal on a single node seems not to work"
## System Health

version | core-2021.3.3
-- | --
installation_type | Home Assistant OS
dev | false
hassio | true
docker | true
virtualenv | false
python_version | 3.8.7
os_name | Linux
os_version | 5.4.99
arch | x86_64
timezone | Australia/Adelaide

<details><summary>Home Assistant Cloud</summary>

logged_in | false
-- | --
can_reach_cert_server | ok
can_reach_cloud_auth | ok
can_reach_cloud | ok

[2021-03-12 11:03] haavardNO commented on #873
I managed to figure it out. As expected I had to expose the 3000 port on the docker image.

[2021-03-12 11:03] #873 closed

[2021-03-12 11:05] ivdimitro commented on #872
zwavejs2mqtt is a client. You do not have to expose the 1883 port on the zwavejs2mqtt container.
For other services to use the MQTT broker you should give them the IP you have given the zwavejs2mqtt configuration.
zwavejs2mqtt does not influence how you use your broker with other MQTT clients.

[2021-03-12 11:17] matejdro commented on #399
This is still broken in  2.1.1:

![output](https://user-images.githubusercontent.com/507922/110933373-f78dd800-832c-11eb-847b-3ca793caf522.gif)

[2021-03-12 13:03] ulfur8149 commented on #872
For my understanding.
The Docker Zwave js 2 mqtt image does not contain an mqtt broker?

[2021-03-12 14:20] robertsLando commented on #872
No it doesn't. You can use your own broker or use the one provied by hass mqtt integration.

[2021-03-12 14:23] robertsLando commented on #399
@matejdro Try to hide some columns from the table, the bug will fix in this way

[2021-03-12 14:25] robertsLando commented on #874
@ahochsteger It was there ?

[2021-03-12 14:37] matejdro commented on #399
It helps, but it is only a workaround, not a fix. What if I want to see all columns?

[2021-03-12 15:01] bogdanr opened #877 "[bug] The location field doesn't allow to use a space in the name"
Pretty much everywhere in HA I can use location fields with a space. And I have a bunch defined like this. But in the zwavejs2mqtt UI I can't do that so when I migrate it creates a bit of a mess.
![b](https://user-images.githubusercontent.com/1079875/110957706-ca005900-8343-11eb-80f7-93f3dc558a6a.png)
Can we allow a space in the location and the name?

[2021-03-12 15:03] robertsLando commented on #877
@bogdanr Could you use underscores? The problem is that locations are then used on topics, even if spaces are allowed in topics I would prefer not have them...

[2021-03-12 15:06] robertsLando commented on #399
the problem is that if there are too much columns we can't show all the content and the table becomes scrollable causing this kind of issue. Even if we submit a fix to this the fix would be to hide some columns on lower screens sizes. Another fix woulud be to remove the expandable rows and put all the content in a window. But this will make loose the possibility to have more then one node properti

[2021-03-12 15:10] matejdro commented on #399
What if you disable scroll-to-swipe-through-tabs if width of the table exceeds width of the screen? I can still manually tap on Home Assistant tab to get there.

[2021-03-12 22:29] Madelaide commented on #874
Debug button? Yes, listed the node’s json. Was very useful for me.

[2021-03-12 22:40] ahochsteger commented on #874
@robertsLando yes, I just found out as well that it's not there anymore and miss it too - was very helpful to debug node data that is otherwise not visible in the UI.
It was this PR: https://github.com/zwave-js/zwavejs2mqtt/pull/462

[2021-03-12 23:02] ahochsteger commented on #399
@matejdro, @robertsLando the PR #878  should fix the annoying behavior by annotating `<v-tabs-items>` with `touchless`.

[2021-03-13 02:38] kevinkahn opened #879 "Log Rotation[feat]"
**Is your feature request related to a problem? Please describe.**
Log files can grow pretty large after things are running for an extended time

**Describe the solution you'd like**
Either add log rotation to the server and have it move  log files to .1, .2 etc, as say Linux syslog does, or failing that, don't keep the log file open between entries.  As things stand, you can't easily do the rotat

[2021-03-13 03:09] Madelaide commented on #874
Yes, that is it, "Debug Info" - was useful to check neighbours without switching to the nodes-graph

[2021-03-13 05:46] bogdanr commented on #877
I actually used underscores, then moved every device in the locations with
space and then deleted the locations with underscores. I belive that since
HA allows using space, for the sake of consistency, we should allow the
same here.

On Fri, Mar 12, 2021, 17:03 Daniel Lando ***@***.***> wrote:

[2021-03-13 13:57] legomind opened #880 "[bug] inovelli scenes not working properly"
### Version

**Checklist:**

- [x] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-13 21:13] darootler commented on #830
@billiaz

I was able to "fix" this with [MQTT Explorer](http://mqtt-explorer.com/) and by just removing "state_topic":

![image](https://user-images.githubusercontent.com/11849583/111044486-5ea0af00-8449-11eb-97b4-7adcd7b5b489.png)

Regards
Richard

[2021-03-13 21:31] legomind commented on #351
This is still an issue for me on 2.2.0. Using the websocket. Any suggestions?

[2021-03-13 22:01] jcam commented on #351
I'd recommend opening a ticket against the home-assistant/core project, because the problem you're encountering is with discovery, which is over there for the websocket integration.

[2021-03-13 22:29] thundergreen commented on #351
Enable mqtt and you are good ..I must rename all your entities but it's
worth that

legomind ***@***.***> schrieb am Sa., 13. März 2021, 22:31:

[2021-03-14 04:06] legomind commented on #351
@thundergreen Considering I have over 200 entities, and have already migrated all my integrations away from mqtt, I wont be doing that if I can help it.
@jcam  Thanks for the info, I will do that.

[2021-03-14 10:53] billiaz commented on #830
Thank you! I posted a patch!

[2021-03-14 10:58] darootler commented on #830
Nice, thank you. Did you also replace "value_template" with "position_template?

Regards
Richard

[2021-03-14 12:20] billiaz commented on #830
@darootler no! pff! just pushed a commit for that!

[2021-03-14 12:29] darootler commented on #830
Great, thank you!

Regards
Richard

[2021-03-14 17:00] Keldandorin commented on #865
Like I said, That dos not make me choose the same Id the device hade before so all my HA automations need to be reconfigured. To bad I would say :(

[2021-03-14 23:35] scyto commented on #351
There is already a ticket open with ha core, pile on!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: legomind ***@***.***>
Sent: Saturday, March 13, 2021 8:07:09 PM
To: zwave-js/zwavejs2mqtt ***@***.***>
Cc: scyto ***@***.***>; Mention ***@***.***>
Subject: Re: [zwave-js/zwavejs2mqtt] [bug] Fibaro RGBW v1 controller (FGRGBWM-441) module shows up as switch and di

[2021-03-14 23:55] legomind commented on #351
@scyto what issue did you find?

[2021-03-15 01:35] dwradcliffe commented on #877
I agree, I had spaces in names and locations before (in ozwd and HA) and this is going to create a mess if we have 2 versions of the same name/location. Please allow spaces for both of these fields.

[2021-03-15 03:03] shillingcl opened #882 "[bug] Intermatic CA3750 Appliance Switch not configuring correctly"
### Version 0.6.2

**Checklist:**

- [x] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqt

[2021-03-15 08:21] robertsLando commented on #877
From: https://www.hivemq.com/blog/mqtt-essentials-part-5-mqtt-topics-best-practices/

I have no problem adding spaces on location, it's just not a good practise when it needs to be used with mqtt.

[2021-03-15 10:24] robertsLando commented on #879
Duplicate of #298

[2021-03-15 10:24] #879 closed

[2021-03-15 10:25] #865 closed

[2021-03-15 10:26] #24 closed

[2021-03-15 10:32] #874 closed

[2021-03-15 10:50] #872 closed

[2021-03-15 10:50] #807 closed

[2021-03-15 10:59] #856 closed

[2021-03-15 11:01] robertsLando commented on #706
@roflmao Is this fixed?

[2021-03-15 11:02] #660 closed

[2021-03-15 11:03] #569 closed

[2021-03-15 11:04] #855 closed

[2021-03-15 11:48] roflmao commented on #706
@robertsLando Same on 2.1.2, will test 2.3.0 tonight

[2021-03-15 11:59] AlCalzone commented on #706
If it persists, please make logs with the new version and keep track which notification events do not update the status.

[2021-03-15 12:37] robertsLando commented on #706
@roflmao Any time to also give a try to #864 ?

[2021-03-15 13:39] AlCalzone commented on #893
@robertsLando since this has to do with Docker, I'm moving the issue over.

[2021-03-15 13:43] dwradcliffe commented on #877
Perhaps a different compromise would be to allow spaces but then translate to underscores for MQTT topics? That doesn't completely solve this but at least fixes it for users that don't need MQTT.

[2021-03-15 16:03] scyto commented on #351
@legomind i pinged you on the issue, good news it got fixed in mqtt, the issue is the assumptions made about how to identify  a true rgbw device and what is key is to differentiate a true device like the fibaro rgbw controller from say an aeotec binary switch with an rgbw status light. @kpine not sure if it is worth you looking at billaz's code chjanges.

[2021-03-15 16:35] #557 closed

[2021-03-15 21:17] darootler commented on #830
I just upgraded to version 2.3.0 and the cover topics now look like this one:

[code]

And i am receiving the following warning:

`2021-03-15 21:32:37 WARNING (MainThread) [homeassistant.components.mqtt.cover] Payload is not supported (e.g. open, closed, opening, closing, stopped): 99`

"state_topic" and "value_template" is still there, but "position_template" now seems correct. Is there anything

[2021-03-15 21:38] roflmao commented on #706
@robertsLando Will have to build it first.

First off zwavejs2mqtt 2.3.0/zwave-js 6.6.2:

First off; MQTT on unlock (with autolock after 5 secs)
Nothing on ```z2m/nodeID_40/113/#"```
This on ```"z2m/nodeID_40/notification/#"```:
[code]
zwave-js log:
[node40.lock.log](https://github.com/zwave-js/zwavejs2mqtt/files/6144668/node40.lock.log)

[2021-03-15 22:16] roflmao commented on #706
zwavejs2mqtt  2.3.0+5a726f9.5a726f9  / zwave-js  7.0.0-beta.0-d5cf49b :

[code]

Nothing for ```z2m/nodeID_40/notification/#```

zwavejs2mqtt crashed:
[code]

zwavejs log:
[node40.lock.log](https://github.com/zwave-js/zwavejs2mqtt/files/6144828/node40.lock.log)

[2021-03-16 07:13] robertsLando commented on #830
I think that the problem is you are receiving `99` as payload but it expectes `open` `closed` etc... Maybe hass has also changed something else with the update?

[2021-03-16 07:16] robertsLando commented on #706
@AlCalzone It's happening here:

https://github.com/zwave-js/zwavejs2mqtt/pull/864/files#diff-517f45dc25a0d4f803722882eff496478dbc7e2e775fe485d049b5dec1185641R682

Could it be that args are undefined?

[2021-03-16 07:54] AlCalzone commented on #706
The `notification` event is only used in two locations within zwave-js, both times with a value for `args`.
This is line 2391 which causes the error above:

![grafik](https://user-images.githubusercontent.com/17641229/111274400-3ecdde80-8635-11eb-8607-c3a865fdfc3f.png)

🤷🏻‍♂️

[2021-03-16 07:58] robertsLando commented on #706
So what why that error? I cannot explain...

[2021-03-16 08:02] #877 closed

[2021-03-16 08:05] robertsLando commented on #706
@roflmao Fixed, please try to rebuild and test :)

[2021-03-16 08:24] darootler commented on #830
If i remove "state_topic" and "value_template" from the payload no more warnings or errors are logged. But for sure both topics will be added again after a while.

Regards
Richard

[2021-03-16 08:46] darootler commented on #830
I just reviewed "configurations.js" and "devices.js". There are also cover configurations, maybe this also has to updated?

[code]

[code]

Regards
Richard

[2021-03-16 16:14] haavardNO commented on #434
I have moved to the new WS Server option.
So I am no longer using these devices in the same way. Investigating more pressing issues with my z-wave network at the moment, so I think we can push this issue further ahead.

[2021-03-16 16:30] CarsonF opened #901 "[bug] Failed to initialize the driver sometimes"
### Version

**Checklist:**

- [ ] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-16 17:12] robertsLando commented on #901
Could you show me that log please?

[2021-03-16 17:13] robertsLando commented on #434
Ok @haavardNO, let me knoe!

[2021-03-16 18:18] haavardNO opened #903 "[bug]"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-16 20:45] Madelaide commented on #862
Thankyou for the fix, the graph indeed works for me now, thankyou.

Please note though, that this ticket is about Healing not working, specifically single node-healing.

[2021-03-16 21:24] roflmao commented on #706
Version 2.3.0+c5f0c92.c5f0c92 / zwavejs 7.0.0-beta.0-8a504ba
crashes even worse on every start:

[code]

[node40.lock.log](https://github.com/zwave-js/zwavejs2mqtt/files/6152306/node40.lock.log)

[2021-03-16 21:25] AlCalzone commented on #706
That's a bug in zwave-js-server 1.2.0. Not sure what they did there.

[2021-03-16 21:31] WebhandsNL opened #904 "Keeps Crashing.. :("
Hi Guys,

Trying to get it working but unfortunately it doest for me..

This error originated either by throwing inside of an async function without a catch block, or by rejecting a promise which was not handled with .catch(). The promise rejected with the reason:
TypeError: Cannot read property 'type' of undefined
    at Object.dumpMetadata (/zwavejs2mqtt/node_modules/@zwave-js/server/dist/lib/st

[2021-03-16 21:48] aveseli opened #905 "[bug] Qubino Flush Dimmer - using I2 status updates are not triggered after restart"
### Version

**Checklist:**

- [x] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-17 07:28] robertsLando commented on #904
This is a problem on hass zwavejs server side. Should be fixed on next release

[2021-03-17 07:28] #904 closed

[2021-03-17 08:28] astrandb opened #908 "[bug] Garbage characters in name property"
### Version

**Checklist:**

- [x] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [ ] Docker
- [x] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt vers

[2021-03-17 08:55] robertsLando commented on #908
Did you try to override them?

[2021-03-17 09:15] astrandb commented on #908
I did now.
Entered a new name in zw2m -> New name appears in HA after restart
Removed the new name in zw2m -> "4 button keyfob" appears as name in HA

The workaround is simple - but there must be a bug somewhere. I see same phenomenon with two device types (Popp wall plug) and Z-Wave.me KEYFOB) in two different Zwave-js/Homeassistant installations in different houses.

[2021-03-17 10:14] robertsLando commented on #908
By looking at this it's difficult to understand the root cause of the issue. Nodes name and locations are stored in a json file named `nodes.json` in `store` directory. You could take a look at that file when the bug shows up to see if it comes from there, it maybe that your sd card is corrupted (if you are using an rpi) or something else, that's strange

[2021-03-17 10:17] robertsLando commented on #893
I did everything I can on my side to detect container stops and gracefully close all clients instances, I have no clue about where the error could come from

[2021-03-17 16:22] astrandb commented on #908
Nothing of interest in nodes.json. There are no sd cards in my setup. I'm running HA core and zwavejs2mqtt in VM:s on new HP ProLiant servers.

I found this in one of the zwave logs:
[code]

[2021-03-17 16:24] robertsLando commented on #908
@astrandb Lol that's coming from zwavejs it means that for some weird reason is the node reporting that name... @AlCalzone ?

[2021-03-17 16:30] astrandb commented on #908
I dont know how the messages are routed but you obviously clean out the garbage for use in zw2mqtt while it is passed along unaltered to HA.

[2021-03-17 17:03] AlCalzone commented on #908
[code]
That is just a raw buffer:
[code]
Wonder why the device is reporting that - maybe the old integration set some weird value on the device?

[2021-03-17 20:11] roflmao commented on #706
Ok, will test again when its sorted out then :+1:

[2021-03-17 20:13] AlCalzone commented on #706
1.2.1 is out

[2021-03-18 09:15] mew1033 commented on #347
@bachya Did your Schlage BE469 ever go back to reporting correctly? Mine was working fine for a while, then stopped. It's no longer reporting the manufacturer information, and a bunch of the Home Assistant entities it had have been disabled/made unavailable.

[2021-03-18 11:07] robertsLando commented on #706
Also available in zjs2mqtt 2.4.0

[2021-03-18 11:12] bushvin opened #913 "[question] USB power switch to Battery"
I have the AEON Labs Multisensor 6 device.
It can be connected to USB for power, or have internal batteries.

When pairing them to a controller they advise powering over USB, and then change to battery once paired.

I have noticed when adding them using USB differs from adding them on Battery.
A device paired with USB and then switched to Battery' status is `Dead` upon restart of the controller. I

[2021-03-18 12:36] robertsLando commented on #913
I think this is normal but for sure let's see what @AlCalzone says about this

[2021-03-18 12:36] #913 closed

[2021-03-18 14:18] dfiore1230 commented on #477
@billiaz sorry to be a bother, any further feedback here?

[2021-03-18 15:14] CarsonF commented on #901
Will post it when it happens again. I restarted too quickly this time and didn't grab it before it was replaced.

[2021-03-18 15:43] dfiore1230 commented on #477
Ok so i removed and readded the bulb. it was still not working. then from zwave2mqtt web interface set the color and it changed. Once i did that it started working in HA, as if it just needed to clear some flag.

[2021-03-18 17:05] billiaz commented on #477
hmm.. I suspect some ha discovery issue. is this now working @dfiore1230 ?

[2021-03-18 17:17] dfiore1230 commented on #477
Yes it is working now

[2021-03-19 08:14] roflmao opened #916 "[feat] Make versions copyable by information button"
**Is your feature request related to a problem? Please describe.**
Cannot copy the version info, hard to create issues with manual typing of sha-lalal

**Describe the solution you'd like**
Make the text selectable or make a copy button

[2021-03-19 22:26] astrandb commented on #908
@AlCalzone A zero-terminated empty string??

[2021-03-19 23:10] chrish987 opened #917 "nodeName and nodeLocation missing from update messages [bug]"
### Version

**Checklist:**

- [x ] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [ x] I have checked the troubleshooting section and my problem is **not** described there.
- [ x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [x ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run bui

[2021-03-20 06:57] matejdro commented on #830
Can confirm findings from @darootler. Getting same warnings in 2021.3.2.

Covers do seem to work mostly. One thing that does not work is the reported state (it is always "unknown"):

![image](https://user-images.githubusercontent.com/507922/111861866-cd9e6c00-8951-11eb-9ad8-78d5bdda5b9c.png)

However, note that `current_position` on the right is registered fine (which is enough for my use case).

[2021-03-20 09:40] Isilorn opened #918 "[question] Stuck on "Loading""
Hello,

I've created zwavejs2mqtt container and the web page is stuck on "loading" when I access it.

Here is my docker-compose file :

[code]

(the /dev/Zstick2 is a device created via a Udev rule file)

Some files are created within the data folder :

[code]

Any clue ?

Thanks

[2021-03-20 15:18] CarsonF commented on #901
I found some logs in journalctl. It hasn't happened in 4 days though.
[code]

[2021-03-20 17:00] TheDK commented on #385
Just FYI: It is not fixed, workaround is downloading the files.

[2021-03-20 17:11] Isilorn commented on #918
Ok after some tests...

Safari, normal mode, stuck on "loading"
Firefox, normal mode, it works
Reboot in failsafe mode, it works with Safari in failsafe mode
Back in normal mode and the it works

I don't really understand but it's working now... Strange

Anyway

[2021-03-20 17:12] Isilorn commented on #918
Ok after some tests...

- Safari, normal mode, stuck on "loading"
- Firefox, normal mode, it works
- Reboot in failsafe mode, it works with Safari in failsafe mode
- Back in normal mode and then it works

I don't really understand but it's working now... Strange

Anyway, sorry for this 😄

[2021-03-20 19:10] lolautruche opened #919 "[bug] Danalock V3 Status and Control Not Working"
### Version

**Checklist:**

- [ ] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
☝️ I checked that the issue was not coming from HomeAssistant
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
-

[2021-03-20 19:53] benquan commented on #347
I have something similar:

Zwave JS integration reads the device just fine. But the addon dashboard shows as Unknown Manufacturer:

<img width="349" alt="Screen Shot 2021-03-20 at 1 49 51 PM" src="https://user-images.githubusercontent.com/3030645/111883816-3225ef00-8983-11eb-8a63-8f51772db152.png">

<img width="1123" alt="Screen Shot 2021-03-20 at 1 48 56 PM" src="https://user-images.githubusercon

[2021-03-20 22:45] darootler commented on #830
I am facing the same behavior, covers work (open/close/move slider) but the state is not reported correctly.

Should i open a new issue or should this issue be reopened?

Regards
Richard

[2021-03-20 23:59] AlCalzone commented on #908
I would agree normally, but zwave does not do zero termination and the command tells us how long the string is supposed to be.

[2021-03-21 11:01] robertsLando commented on #385
@TheDK if you install z2m not with the addon it works. I tried to say this to @frenck, it’s not on my side, cannot reproduce it outside the addon

[2021-03-21 11:03] robertsLando commented on #918
@Isilorn it may be caused by missing localstorage? Did you try to press F12 to see if there are errors in browser console when this happens?

[2021-03-21 11:14] Isilorn commented on #918
F12 on a Mac will be a bit complicated 😄

What I see in Safari console when trying to reload is a "network error"

And it's working fine on Firefox (still on Mac)

[2021-03-21 13:20] NYZack commented on #829
@robertsLando Sorry, I still think this doesn't work properly.  Here I start at a custom value of 1:

![image](https://user-images.githubusercontent.com/8227920/111905981-d14ef300-8a24-11eb-9d31-a62843dd2baf.png)

I change it to 10:

![image](https://user-images.githubusercontent.com/8227920/111906186-c34da200-8a25-11eb-9502-60df05db1fcd.png)

And the log confirms the change.

Now I change my mind

[2021-03-21 20:31] roflmao commented on #706
[node40.log](https://github.com/zwave-js/zwavejs2mqtt/files/6178352/node40.log)

Lock is suddenly unknown manufacter, product etc.

[2021-03-21 23:37] blhoward2 opened #921 "[bug] Parameters blank after interview"
### Version

**Checklist:**

- [ X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [ X] I have checked the troubleshooting section and my problem is **not** described there.
- [X ] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run bui

[2021-03-22 07:59] robertsLando commented on #830
@billiaz

[2021-03-22 08:07] robertsLando commented on #919
Could be related to #921 but sincerly I have no clue why this is happening... @AlCalzone Any clue?

[2021-03-22 08:09] robertsLando commented on #706
Argg.. :confounded: @AlCalzone ?

[2021-03-22 08:10] robertsLando commented on #918
@Isilorn I cannot reproduce this, btw a network error is something that isn't application related but maybe there are problem with the connection

[2021-03-22 08:10] lolautruche commented on #919
As for the undefined parameters, maybe. But could the lock/unlock action be related as well?

[2021-03-22 08:12] robertsLando commented on #921
Yeah that's because I try to add the actual value on values that allow manual entry but forgot to skip values that are undefined. Btw that's not the problem here, seems that for some reason I'm not getting all values back. Are you using latest ot zjs7 branch?

[2021-03-22 08:13] robertsLando commented on #908
@AlCalzone Is this fixed? I remember you pushed some changes on your side

[2021-03-22 08:14] robertsLando commented on #917
Is `Include Node info` enabled in your settings?

[2021-03-22 08:17] robertsLando commented on #901
@CarsonF This happens to me too when I start the application and the usb stick has just been plugged in, it requires some time on startup but then it should start. @AlCalzone Do you have some kind of retry strategy when this happens?

[2021-03-22 08:23] chrish987 commented on #917
I don't see a setting for that. but under the gateway setting:
Ignore Location: off
Ignore Status Updates: off
Send Zwave Events: off
Publish node details: on

attached settings.json (renamed as settings.txt)

[settings.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6180532/settings.txt)

[2021-03-22 08:30] robertsLando commented on #917
@chrish987 I have found an UI issue and submitted a fix for that. For now try to do this: Set gateway type to something different then manually configured, the `Include node info` should show up, set it to true, set the gateway type back to manually confugured and press save

[2021-03-22 09:25] #917 closed

[2021-03-22 09:26] robertsLando commented on #829
Fixed in https://github.com/zwave-js/zwavejs2mqtt/pull/925

[2021-03-22 09:45] atterdal opened #926 "[bug]"
Hi!

Non-updated Aeotec Nano Dimmers register as "Unknown product 0x006f" by "Unknown manufacturer 0x0086".

This makes it so that it's not possible to update firmware OTA.

<img width="1647" alt="Skärmavbild 2021-03-22 kl  10 45 16" src="https://user-images.githubusercontent.com/2734444/111970579-b8654100-8afb-11eb-9591-d030dbc6d943.png">

[2021-03-22 09:48] AlCalzone commented on #908
That was a different CC. Imo the correct thing here would be to manually set a no-nonsense name for the device.

[2021-03-22 09:54] #916 closed

[2021-03-22 09:56] atterdal commented on #926
`zwavejs2mqtt     | 2021-03-22 09:55:46.812 INFO ZWAVE: Calling api beginFirmwareUpdate with args: [
zwavejs2mqtt     |   13,
zwavejs2mqtt     |   'Nano Dimmer_OTA_EU_C_V2_03.exe',
zwavejs2mqtt     |   <Buffer 4d 5a 90 00 03 00 00 00 04 00 00 00 ff ff 00 00 b8 00 00 00 00 00 00 00 40 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 ... 820397 more bytes>,
zwavejs2mqtt

[2021-03-22 09:57] atterdal commented on #926
![Uploading Skärmavbild 2021-03-22 kl. 10.57.13.png…]()

[2021-03-22 11:57] lolautruche commented on #919
I did a re-interview with debug log on:

[code]

[2021-03-22 12:42] blhoward2 commented on #921
I'm probably a few days behind. I can try again on the latest.

[2021-03-22 15:05] robertsLando commented on #921
I see another user is having similar problems in #919 but it was working before so I'm thinking about a possible regression in zwave-js? @AlCalzone

[2021-03-22 15:23] AlCalzone commented on #901
You're seeing it in the last few lines of the log. Nothing aside from that.

[2021-03-22 15:29] TheDK opened #928 "[question] Simple way to backup setup / move to other host?"
I am currently running zwavejs2mqtt as an add-on on Home Assistant on a RasPi3b. I can use the Snapshot und Restore function of HAss to backup the whole system and recover more or less on any hardware I can run HAss on - also can use this to migrate to different host.

Now the open issues on HA (store access not working, problem with OTA updates, etc.) for the add-on seem to show that this is not

[2021-03-22 15:39] CarsonF commented on #901
I haven't unplugged my stick. Just restarted the process.

Could it be left over messages from the previous run that scramble the init message?

[2021-03-22 16:15] robertsLando commented on #901
HUmm I don't think so it depends on how you start it

[2021-03-22 16:16] robertsLando commented on #928
Just backup everything that you actually have in the `store` folder of the project and restore it on the new instance and you are done

[2021-03-23 02:09] blhoward2 commented on #921
Confirmed this is still happening on the latest image. Note that it is only this device as far as I know. The rest seem fine. So does that suggest we have a bug, or the device doesn't report correctly?

zwavejs2mqtt: 2.4.1
zwave-js: 6.6.3

[2021-03-23 02:30] blhoward2 opened #929 "[bug] heal node doesn't do anything"
### Version

**Checklist:**

- [ X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [ ] I have checked the troubleshooting section and my problem is **not** described there.
- [ ] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build

[2021-03-23 06:27] robertsLando commented on #929
Do you see at least the api call on z2m logs?

[2021-03-23 09:48] Madelaide commented on #929
Duplicate of [2114](https://github.com/zwave-js/node-zwave-js/issues/2114)?

[2021-03-23 10:03] AlCalzone commented on #901
Not sure - do you have logs with a higher loglevel?

[2021-03-23 10:07] AlCalzone commented on #919
@lolautruche please share a zwave-js logfile (loglevel debug) of such a re-interview from start to finish. The pasted log output from the zwavejs2mqtt UI is hard to read.

[2021-03-23 10:16] robertsLando commented on #929
@Madelaide I don't think so. I need to know if at least the call appears in log like:

[code]

[2021-03-23 10:21] AlCalzone commented on #921
@blhoward2 do you have a log with a higher loglevel? Either some messages are being dropped or not all messages find their way to the controller - example:
[code]
Can't be sure that the problem is not a result of that.

[2021-03-23 10:24] lolautruche commented on #919
[zwavejs_1.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/6188677/zwavejs_1.log.gz)
Here it is. Look for Node 43 :slightly_smiling_face:

[2021-03-23 11:55] AlCalzone commented on #919
Hm, there's a bit of chaos now because you triggered the re-interview while the previous one was still going on.

Please wait until there's nothing happening in the logs anymore (except the nodes reporting by themselves every now and then), then restart the interview and post the log of that.

[2021-03-23 13:28] lolautruche commented on #919
[zwavejs_1.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/6189963/zwavejs_1.log.gz)
Here you go

[2021-03-23 13:40] AlCalzone commented on #919
Ok that is better!

When asked for the supported CCs, the lock returns a pretty short list:
[code]

That's usually the case if it has been included securely (which makes sense for a lock). However it does not respond when the driver queries the securely supported CCs - as a result the driver assumes that the device is not secure.

Most of the following queries then time out, because the driver att

[2021-03-23 13:48] AlCalzone commented on #706
[code]
No response when zwave-js requests the list of secure commands. As a result, zwave-js assumes the device is insecure, when it is not. ==> No responses to anything.

@roflmao did you change the network key or something?

[2021-03-23 13:51] roflmao commented on #706
Nothing changed im afraid, only 6.x to 7.x zwavejs and zwavev7 branch for zwavejs2mqtt

[2021-03-23 13:51] roflmao commented on #706
It worked fine on first beta IIRC

[2021-03-23 13:53] blhoward2 commented on #929
I see literally not one line in the log. Tail doesn't move at all.

[2021-03-23 14:05] AlCalzone commented on #706
Then it might just be a temporary RF problem. IMO zwave-js is doing the correct thing here, given the information it has. The only situations where the response to `SecurityCCCommandsSupportedGet` can be expected to time out is when the device isn't actually secure (we use the command to test for secure inclusion) or when the response gets lost due to bad connectivity or bad routes.

[2021-03-23 14:07] blhoward2 commented on #921
The node has gone dead once during the interview but I can't heal it at the moment due to a bug in the UI.

[code]

This was the very first interview when I added it the first time, while it was about 3' from the stick:

[code]

[2021-03-23 14:13] AlCalzone commented on #921
No idea. NameReports with just 4 bytes seem awfully short, too, but that's what the device decided to send. I guess you should report the entire thing to Zooz - maybe the firmware trips over something and does this weird stuff as a result.

[2021-03-23 14:55] lolautruche commented on #919
OK, it might be that I included the node with regular inclusion...
I excluded it, re-included it (but securely this time), and now everything is working fine!

Thank you, and sorry to have bothered you for such a thing 😓

[2021-03-23 14:55] #919 closed

[2021-03-23 14:58] robertsLando commented on #929
It is triggered on my side, I did that test on my latest version :confused: Could you try to open browser console to see if there are errors in console?

[2021-03-23 14:58] blhoward2 commented on #921
This still happens after a factory reset and inclusion anew.

[2021-03-23 14:59] blhoward2 commented on #929
@AlCalzone Just told me this is a bug at the node level, fixed in one of the v7.0 betas.

[2021-03-23 15:09] lolautruche commented on #815
Hello @robertsLando

It seems that my last update fixed the problem. I don't have any issue any more.

[2021-03-23 15:09] #815 closed

[2021-03-23 15:10] robertsLando commented on #815
Good! Thanks for reporting :)

[2021-03-23 15:23] blhoward2 commented on #929
Confirmed this is fixed when I build off the v7 branch.

[2021-03-23 18:13] carfnann opened #935 "[bug] MQTT client offline/closed/reconnecting"
Hi

I'm getting a lot of connection issue between ZwaveJS and MQTT

2021-03-23 19:11:25.611 INFO MQTT: MQTT client offline
2021-03-23 19:11:25.612 INFO MQTT: MQTT client closed
2021-03-23 19:11:26.612 INFO MQTT: MQTT client reconnecting
2021-03-23 19:11:26.617 INFO MQTT: MQTT client connected
2021-03-23 19:11:26.643 INFO MQTT: Message received on homeassistant/status, 'online'
2021-03-23 19:11:26.

[2021-03-24 02:09] blhoward2 commented on #921
This seems better now on v.7 after healing this device and a nearby one from which it is likely hopping. Unless it resurfaces I think this is closed.

[2021-03-24 02:09] #921 closed

[2021-03-24 04:01] bburan opened #936 "[bug] Ecolink DWZWAVE2 shows up as unknown manufacturer"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build )

[2021-03-24 04:04] bburan commented on #936
Output of the nodes.json file:

[nodes.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6194286/nodes.txt)

[2021-03-24 08:06] robertsLando commented on #935
I think you have multiple clients with the same id connected to your broker

[2021-03-24 08:51] roflmao commented on #706
Fun story; the battery was drained so it was without power. The lock had 45% before upgrading so something fishy happened, also the lock prints as alive and does respond for so very strange.

[2021-03-24 09:30] carfnann commented on #935
hi
indeed, I was using same id for multiple client and had an old zwave2mqtt docker running.
sorry about opening a bug

[2021-03-24 09:30] #935 closed

[2021-03-24 10:19] Micka41 opened #938 "[question] Use "Manufacturer specific" in Spirit Eurtronic valve"
Hi,

How can I use the "Manufacturer specific" mode in Spirit Eurotronic valve ?

Thanks

[2021-03-24 10:27] Micka41 commented on #938
Well, it's work directly in MQTT command

[2021-03-24 10:27] #938 closed

[2021-03-24 10:31] ivdimitro commented on #938
You can define custom device which overwrites the default "climate" and define the missing options there. For example here is how i do it:
[code]

[2021-03-24 16:49] phipolis opened #939 "[HASS] Honeywell T6 Pro Temperature sensor not appearing in HA"
### Version

Build/Run method - Docker

zwavejs2mqtt version: 2.4.1
zwavejs version: 6.6.3

[node_2.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6198779/node_2.json.txt)
[zwave_js_dump.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/6198780/zwave_js_dump.json.txt)
![Screenshot from 2021-03-24 12-48-30](https://user-images.githubusercontent.com/6742702/112349664-4cbbd900-8c9f-1

[2021-03-24 17:15] robertsLando commented on #939
Temperature is discovered in climate device, ATM you cannot discover multiuple entities with the same value

[2021-03-24 21:27] phipolis commented on #939
That's strange, because it definitely used to work. Both the temperature and humidity sensors were exposed by older verzions of zwavejs2mqtt. I don't know exactly when because I ignored the entity showing up as "not found" for several weeks.

[2021-03-24 23:51] ivdimitro opened #940 "[bug] Nodes table not displayed in Control-Panel (v.3.0.0)"
Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 3.0.0
zwave-js version: 7.0.0

### Describe the bug

In Vivaldi browser the control-panel is NOT fully loaded. The table with the nodes is not shown but the rest of the GUI elements are loading and working correctly.
The error visible in the developer c

[2021-03-25 03:32] crxporter commented on #940
Just installed 3.0.0 with `git pull` method - can confirm this issue. I came to see if anyone had reported.

Like @idyedov , I can see the nodes list in private browser mode but not in regular mode. Screenshot with private on the right:
![Screen Shot 2021-03-24 at 10 30 18 PM](https://user-images.githubusercontent.com/38265886/112414823-bdd7ac80-8cf0-11eb-89f2-99edd3a9853d.png)

Sorry I don't have

[2021-03-25 03:49] bburan commented on #936
Potentially relevant (from HA):
[code]

[2021-03-25 06:11] raman325 opened #941 "Release notes for v3.0.0 are incorrect"
Hi,

The last bullet about zwavejs2mqtt 3.0.0 not being compatible with current versions of HA is incorrect. zwave-js-server 1.3.0 added backwards compatibility so that current versions of HA will play nicely with zwave-js 7.0.0. Can we remove this bullet?

Thanks!

[2021-03-25 07:16] ivdimitro commented on #940
One more clarification - the Vivaldi that is having the problem is on Linux. I tested with Vivaldi on Windows and it was working.
@crxporter I assume you are running MacOS?

[2021-03-25 08:45] #941 closed

[2021-03-25 08:47] ivdimitro commented on #940
@Zaibot  yup this fixed it. I have hidden the beaming column.
Should I close the issue? In my opinion such error cases should be handled by automatically reset the setting.
@robertsLando  do you see any improvement necessary?

[2021-03-25 08:49] robertsLando commented on #940
Like @Zaibot said the problem is with the localstorage. ATM it contains all user preferences like table filtering/sorting and with 7.0.0 lot node properties have changes. This could cause some inconsistences with the localstorage that I didn't noticed on my development instance but:

This is the reason. What you could do is to clear localstorage to fix the probelm, I need to check this to see if I

[2021-03-25 08:51] robertsLando commented on #939
@phipolis Never tried to use zwavejs integration?

[2021-03-25 08:53] robertsLando commented on #936
PLease try to update to version 3.0.0

[2021-03-25 09:54] robertsLando commented on #940
I have submitted a fix #940, anyone can gives it a try?

[2021-03-25 10:25] robertsLando commented on #347
Try yo manually wakeup your devices

[2021-03-25 12:44] #940 closed

[2021-03-25 12:53] crxporter commented on #940
I'm running on raspberry pi.

Just updated to latest on GH- looks good.

Thanks as always!

[2021-03-26 05:40] crxporter opened #948 "[bug] Error related to smoke detector CC Notification"
**Checklist:**

[x] I am **not** using HomeAssistant.
[x] I have checked the troubleshooting section and my problem is **not** described there.
[x] I have read the changelog problem was **not** mentioned there.

Build/Run method

[ ] Docker
[ ] PKG
[ ] Snap package
[x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 7.0.0
zwave-js version: 3.0.1

### Describe the b

[2021-03-26 07:16] robertsLando commented on #948
Fix in PR

[2021-03-26 07:25] #948 closed

[2021-03-26 13:28] macf0x opened #952 "[bug] Log nodes not filtering log"
**Checklist:**
- [X ] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [ X] I have checked the troubleshooting section and my problem is **not** described there.
- [ X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2m

[2021-03-26 13:28] macf0x commented on #952
I should add restarting to docker container has no impact.

[2021-03-26 13:34] robertsLando commented on #952
That setting only affect nodejs logging not zwavejs2mqtt logging, does this happen also on zwavejs side?

[2021-03-26 14:13] crxporter commented on #948
Thank you sir! It's working much better with 3.0.2.

[2021-03-26 14:25] Pentelfrost opened #953 "[feat] Possible interface changes related to HASS discovery"
This could be a totally personal interface issue/suggestion and if so feel free to tell me so and close the issue :)

Under each device on the control panel is a Home Assistant tab which I think should have a little more functionality than it does.

My first thought here is that for the objects in the table I can enable or disable, discovery and/or Persistence, which is true I can but only for all

[2021-03-26 15:10] macf0x commented on #952
If you are referring to the actual log files (exported from the storage tab), no they continue to log all nodes. As far as I can see this log nodes option has no effect.

[2021-03-26 15:19] robertsLando commented on #952
Show me the log files. cc @AlCalzone

[2021-03-26 15:45] macf0x commented on #952
[zwavejs_369.log](https://github.com/zwave-js/zwavejs2mqtt/files/6212882/zwavejs_369.log)

[2021-03-26 15:46] macf0x commented on #952
That was with Log Nodes 24

[2021-03-26 16:15] AlCalzone commented on #952
Please try with zwave-js 7.0.0 to make sure we're not hunting ghosts

[2021-03-26 16:25] macf0x commented on #952
Happy to give that a go. This option hasn't worked in recent version, as I was seeking to use it to trim down log during debugging.

Just to be clear this option should filter the debug console/tab output, or only the log file?

[2021-03-26 16:32] AlCalzone commented on #952
It should affect all logs

[2021-03-26 18:14] Goldwing1973 opened #956 "Network not meshing?"
Yesterday i started moving (unpairing/pairing)my devices from Z-Wave 1.4 in Home Assistant to Z-WaveJS2MQTT running in a Docker Container on a Synology DS1821+ (zwave stick is a Aeon Labs GEN5 ZW090)
So far so good, but when i look at the graph all the nodes are behind each other and i'm having difficulty to add a node on the other side of my house.
Between the node i'm trying to add there are mul

[2021-03-26 21:23] Stickshift87 opened #957 "[bug] Zooz ZEN25: toggling 2nd switch shows both as on/off"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build )

[2021-03-27 02:04] blhoward2 commented on #957
This should be fixed by https://github.com/zwave-js/node-zwave-js/pull/2160

[2021-03-27 02:06] blhoward2 commented on #936
This typically occurs when the interview hasn't completed. Try waking up the device a few times.

[2021-03-27 07:28] macf0x commented on #952
Was there a specific fix in 7.0.0 for this? I had a search and couldn't see any reference.

As I'm running HA Core + Docker will need to wait for the next release to test.

[2021-03-27 07:52] robertsLando commented on #952
3+ versions are with zwavejs 7

[2021-03-27 09:18] Shaft405 opened #958 "[bug] Getting unexpected currentValue message for a level change with Qubino Flush Shutter"
### Version

**Checklist:**

- [X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build )

[2021-03-27 11:43] AlCalzone commented on #952
https://github.com/zwave-js/node-zwave-js/blob/master/CHANGELOG.md#bugfixes
first bullet point

[2021-03-27 14:07] drjjr2 commented on #624
Heads up, I just upgraded to v3.0.2 and the lock status is now properly reported. But the alarm types are not begging updated so my binary sensors quit working. Not a big deal because now I can just use the lock state like the old days.

[2021-03-27 14:51] TheDK commented on #928
Is it also possible to move between the HA add-on and the stand-alone version as long as it is the same version?

I am new to docker and tried to find out how to cop files out of / into a container and it seems to be rather tricky (either by installing SSH or a storage driver). In another issue you considered providing an upload option - together with the existing batch download as an archive that

[2021-03-27 16:22] AlCalzone opened #959 "[bug] unhandledPromiseRejection in `ZwaveClient.stopInclusion`"
The corresponding controller method in zwave-js may throw/reject, but not all code paths in zwavejs2mqtt guard against that.

https://sentry.iobroker.net/share/issue/339ad2d6f7b4468aaae2bbe404cdce19/

Call sites which may throw:
* ZwaveClient.prototype.replaceFailedNode -> setTimeout
* ZwaveClient.prototype.startInclusion -> setTimeout

[2021-03-27 21:24] steve28 opened #975 "Replace Failed Node does not re-inteview the new device"
**Checklist:**

- [x] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I am **not** using ZWaveJS2MQTT. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem was **not** mentioned there.

**Describe the bug**

When using "Replace Fa

[2021-03-28 01:47] blhoward2 opened #960 "[bug] volume doesn't allow entry for sound switch device"
### Version

**Checklist:**

- [ X] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [ ] I have checked the troubleshooting section and my problem is **not** described there.
- [ ] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - npm install - npm run build