[2020-11-02 13:52] robertsLando opened #7 "TODOs"
- [x] Fix hass discovery: everything is using valueId index, need to support the new property/propertyKey, also some valueIds use different topics for read/write (like `currentValue` and `targetValue`)
- [x] Docs: general docs fix
- [x] Scenes
- [x] Zwave events
- [x] Basic MQTT Gateway and Control Panel functions
- [x] Docker setup
- [ ] Rgb colors management: https://github.com/zwave-js/node-zwa

[2020-11-03 16:39] crxporter opened #9 "[question] Migration from openzwave/zwave2mqtt?"
Is there a recommended or "easy" migration path from zwave2mqtt to zwavejs2mqtt? I'm very interested in getting more of my system moved to javascript and hopefully leaving behind the bug which is making my setup struggle.

Thanks! I'm excited for this project!

[2020-11-03 16:45] robertsLando commented on #9
@crxporter Unfortunally nope, and I don't think there will be one in the near future, it depends if you are interested in hass discovery or not

[2020-11-03 16:53] crxporter commented on #9
I do not want or need hass discovery. I'm integrating with node-red.

I guess the more important question is whether a fresh install of this will bring in all of my paired devices from the z-stick database? I've only set up zwave2mqtt once so I'm not especially familiar with what's stored in config files and what's stored on the stick itself.

[2020-11-03 17:12] robertsLando commented on #9
It should without any problems :) Just run the project and fill the settings in settings ui (just the zwave settings are a little bit different but the rest is almost the same)

Let me know!

[2020-11-10 22:18] crxporter opened #14 "[question] Adding device is not discovering which device is being used"
I'm trying to add a zooz 4-in-1 sensor. It's adding fine but there are a few errors in the log. The device is communicating properly (motion shows in the log as expected) but the device name is not discovered.

I've included, then excluded, then included again the device. No change. I've also restarted the program.

Do I need to add to the device database like in openzwave times or is there someth

[2020-11-13 11:06] ODINServ opened #15 "[bug] semver package missing in docker image"
podman run --rm -it -p 8091:8091 --device=/dev/ttyACM0 -v zwave-js:/usr/src/app/store zwavejs/zwavejs2mqtt:dev

Results in an error:
Error: Cannot find module 'semver'

Workaround for me was to rebuild the image and add the semver package:
[code]

[2020-11-13 14:26] ODINServ opened #16 "[bug] No "currentValue" update when Fibaro Roller Shuter FGR223"
Hi,

I am migrating from openhab zwave implementation via zwave2mqtt to zwavejs2mqtt (I was pointed to here via an other issue).

My environment:
I am running zwavejs2mqtt ("patched" dev image see #15) in a docker (podman) container on my linux pc.
For testing purposes i've removed one of my Firabro Roller Shutter 3 units (FGR223) from the wall and put it next to me.

I have a Aeotec Z‐Stick Gen5

[2020-11-13 15:04] AlCalzone commented on #16
zwavejs2mqtt does not use OpenZWave.

[code]
I didn't see a single SupervisionCCReport that had status `Success` in that log, so something is fishy. Might be worth to request an update in the failure case too - the driver doesn't do this yet.

AFAIK with StartLevelChange it is not possible to get automatic reports when the level change is completed. For StopLevelChange, it could make sense to requ

[2020-11-13 16:37] ODINServ commented on #16
Ah good to know!, i do like the new log format as well.

From the zwave2mqtt issue:

And this issue:

I think I've found the fish .. well in my (test) case there is no motor ..
So i've also disabled the Motor operation detection (112/0/155) parameter.., which did work with the zwave2mqtt version, to have at least my sliders updated in openhab..
 to 0..

I'd reconnect the FGR223 to the blind and pu

[2020-11-16 08:21] robertsLando commented on #16
Closing this so :+1:

[2020-11-16 08:21] #16 closed

[2020-11-16 08:22] robertsLando commented on #15
@ODINServ I think this isn't a bug anymore as it was caused by a broken zwave-js version. Feel free to reopen if I'm wrong

[2020-11-16 09:26] ODINServ commented on #15
Hey,

It is still not working for me, i also see that the image was lased pushed 4 days ago on docker hub?

I did remove the old "dev" image locally, see commandline output:

[ltm ~]# podman run -it zwavejs/zwavejs2mqtt:dev
Trying to pull docker.io/zwavejs/zwavejs2mqtt:dev...
Getting image source signatures
Copying blob 9287919c3a0f skipped: already exists
Copying blob cbdbe7a5bc2a skipped: alread

[2020-11-16 09:32] robertsLando commented on #15
@ODINServ

[2020-11-16 09:47] robertsLando commented on #15
@ODINServ try in 30 minutes when the build finish

[2020-11-16 11:23] ODINServ commented on #15
It works!

The dev image and the last tag!

Thnx

[2020-11-16 11:23] #15 closed

[2020-11-16 13:14] robertsLando commented on #15
@ODINServ You welcome! Keep testing and let me know if you find some other bugs

[2020-11-16 19:11] crxporter commented on #9
Alright I've stopped the OZW docker and started the JS program (using npm start). The first start up took a while, as expected, to learn about all of my devices. Things look good though! I haven't tested mqtt yet, I'll get to it as I have time.

My dimmer switches are unknown product, this also happened with OZW... Apparently I have a new and uncommon version of the common honeywell/jasco dimmers

[2020-11-16 21:29] AlCalzone opened #18 "Display manufacturer and product type/id as 4-digit hex"
as discussed in https://github.com/zwave-js/node-zwave-js/pull/1125

[2020-11-17 07:16] robertsLando commented on #9
I think you know now right? :) I saw your pr on zwave-js, thank you!

[2020-11-17 07:16] #9 closed

[2020-11-17 08:40] #18 closed

[2020-11-23 20:26] ODINServ opened #21 "[bug] TypeError: Cannot read property 'join' of undefined"
Hi,

I've ran into a crash which happens sometimes when the container is starting, or when I apply some configuration to the zwavejs project it self (not node configuration) which seem to trigger some restart.

I have now 14 nodes in the network
12 frg223
1 fgs222
1 fgs223

Still running the latest dev container.

Output podman logs
`
-23T20:01:38.616Z z2m:Zwave Node 14: value updated: 142-0-maxNo

[2020-11-24 09:52] ODINServ opened #22 "[bug] Unhandled error "ZWaveError: Timed out while waiting for a response from the node""
Hi,

So,,, you've asked to keep testing,,, apparently i ran into a new issue.
Still running the latest dev container.

Only seen once, when sending a scene while zwave-js is still resuming from cache:
[code]

I guess when resuming from cache the network is pretty busy and not able to reach this node.
At least it should be handled.

I don't see strange things in the zwave-1 log file
[zwave-1.log](h

[2020-11-24 09:54] robertsLando commented on #22
@AlCalzone I think this is for you

[2020-11-24 09:54] robertsLando commented on #22
@ODINServ Yep keep testing this issues are so useful! :)

[2020-11-24 11:17] AlCalzone commented on #22
Hm - I can't see where this is coming from :(
The driver tries to attach the source (where a transaction was created) to the errors but it is not included here.

[2020-11-24 12:39] robertsLando commented on #22
@AlCalzone  could this be the reason?

[2020-11-24 13:03] ODINServ commented on #22
Not sure if it helps but here is the "podman logs" output.

[podman-logs-22.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5590008/podman-logs-22.txt)

[2020-11-24 13:03] AlCalzone commented on #22
If that is a command that was triggered by the user, zwave-js does not catch promise rejections. The calling application is supposed to catch if a command fails.

[2020-11-24 13:10] robertsLando commented on #22
What is strange here to me:

[code]

Does some valueUpdate events have that format for previous/new values? I mean, ob ject format

[2020-11-24 13:13] robertsLando commented on #22
@ODINServ Is this caused by a specific command or randomly?

[2020-11-24 13:25] AlCalzone commented on #22
The duration class has a pretty JSON representation.

[2020-11-24 13:31] ODINServ commented on #22
Before the timestamp below the shutters 12 (FGR223) shutters were closed.

2020-11-24T09:30:45.587Z z2m:App Zwave api call: _activateScene [ 2 ]
I'd tried to open them by activating a scene using the website (since that is for now the only way to control them, i did not finalized the openhab integration)

For some reason some did not respond:
[code]

I did a request again to open the other shutter

[2020-11-24 13:42] robertsLando commented on #22
Apart from this do you know that you could also use broadcast apis for such things?

[2020-11-24 14:35] AlCalzone commented on #22
From my perspective it looks like some command error is not handled in zjs2mqtt, but I can't say for sure.

[2020-11-24 14:37] ODINServ commented on #22
No, can you elaborate that or do you have some documentation i have some more questions, like:

It would be nice if i can create a group, i am also using zigbee2mqtt to control zigbee lights, so you can send one command and everything response at the same time, it will broadcast it to that group and all lights will pick them up at the sametime.

Is that the same to groups / associations in zwave?

[2020-11-24 14:49] AlCalzone commented on #22
In Z-Wave you can either send all commands individually (which has the most flexibility), send one command to all nodes (using the broadcast Node ID 255) or send one command to several nodes via multicast (using an array of Node IDs).
Using broadcast/multicast you cannot target different endpoints per node, but if all commands should go to the same endpoints it should work.

[2020-11-24 14:59] robertsLando commented on #22
I think that groups managements is internally managed and it's not something related to zwave protocol. I mean when you create a group X essentially you have an array of ids and you send commands to all them when sending commands to that group

[2020-11-24 15:06] robertsLando opened #23 "[feat] Better zwave-js logging options"
Is there a way to speficy the location of the log file? @AlCalzone

[2020-11-24 15:09] AlCalzone commented on #23
Nope, added it to this list:
https://github.com/zwave-js/node-zwave-js/issues/1062

[2020-11-24 15:21] ODINServ commented on #22
@AlCalzone that sounds what i want to do indeed, multicast the close command to a subset of nodes, not all since i don't want my lights to turn on so broadcast sounds not so nice, is that functionality available via mqtt ? (Example close all shutters at the same time)

So the question is then, how to send a multicast via mqtt to for example node 2,3,4,5?

In the zigbee project i have to set this u

[2020-11-24 15:24] robertsLando commented on #22
I could easily implement this, let's create a separete issue

[2020-11-24 15:24] robertsLando opened #24 "[feat] Multicast commands"
Ref: https://github.com/zwave-js/zwavejs2mqtt/issues/22#issuecomment-733043629

[2020-11-24 15:47] robertsLando commented on #22
@ODINServ Try with https://github.com/zwave-js/zwavejs2mqtt/pull/25

[2020-11-24 16:22] ODINServ opened #26 "[bug] Timed out while waiting for a response from the node, but command seems to be send"
Hi,

Well, i got this message in the log [podman-zwave.log](https://github.com/zwave-js/zwavejs2mqtt/files/5591199/podman-zwave.log)

[code]

How-ever the command was received since the node 007 (I should call that one James i guess) did close the shutter.

And i looks like the command send is also logged:
[zwave-1.log](https://github.com/zwave-js/zwavejs2mqtt/files/5591201/zwave-1.log)

[code]

A

[2020-11-24 18:36] billiaz opened #27 "[bug] node process exit when saving config."
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: master

When saving the configuration on zwavejs2mqtt web interface process exits

running npm with trace-exit
[code]
i receive as error

[2020-11-24 18:37] ODINServ commented on #22
That's fast!

I Will try tomorrow, is there a docker image available ?
Or do i have to build it from the branch ?

[2020-11-24 18:49] robertsLando commented on #22
No docker image for now, docker builds are only for master branch, could you manually build it or even better use nodejs way?

[2020-11-25 07:01] petrovcicklemen opened #29 "Unable to run via docker - manifest unknown"
While attempting to run the platform via docker, the following message is printed out:

[code]

[2020-11-25 07:05] ODINServ commented on #22
Alright, i moved it into a VM and build it there from the feat#multicast branch.

I ran into a package issue
```## There is an issue with `node-fibers` ##```
i'd installed in manually
```npm install fibers```

It is now running that branch.

I will do the actual test this afternoon.

[2020-11-25 07:06] robertsLando commented on #29
@petrovcicklemen If you check dockerhub, there isn't a `latest` tag yet as there isn't any release, use `dev` tag for now :)

[2020-11-25 07:06] #29 closed

[2020-11-25 07:09] petrovcicklemen commented on #29
Already am. Just wanted to alert you to this, since the instructions point to the `latest` tag.

[2020-11-25 07:14] robertsLando commented on #29
@petrovcicklemen You right, sorry for this

[2020-11-25 07:55] robertsLando commented on #27
18:27:41.269 DRIVER   destroying driver instance...
18:27:41.270 DRIVER   destroying driver instance...

I don't understand why there are 3 logs, like that, also seems something related to `@sentry` module used by zwave-js, @AlCalzone do you have any idea?

[2020-11-25 08:05] AlCalzone commented on #27
The destroying driver instance **should** be no problem, but we can just avoid executing the method multiple times.

About sentry: I haven't seen that warning before. It is probably because it was trying to send an error log while shutting down the process.

[2020-11-25 08:33] roflmao commented on #9
@robertsLando Is zwave2mqtt superseded by this project now? What is the reasoning around creating a new project?

[2020-11-25 09:37] robertsLando commented on #27
The problem is that based on what @billiaz said to me that caused the process to exit

[2020-11-25 09:39] robertsLando commented on #9
It will, but I will keep maintaining z2m until this will be mature enought (and tested) :)

You can find the reasons here: https://github.com/zwave-js/zwavejs2mqtt/pull/20/files#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5R165

(Sorry it's a work in progress so I have pointed you to a change in a pr that hasn't been merged yet)

[2020-11-25 11:06] AlCalzone commented on #27
Sentry should do nothing **until** a fatal error occurs (or I tell it to capture a message).
So it is more likely that something crashed, sentry tries to capture the error, then calls `process.exit(1)`.

[2020-11-25 12:15] ODINServ opened #30 "[feat] Ability to send a stop value to the same topic as position request"
Hi,

Im am slowly integrating into openhab, i want to use the openhab model "RollerShutter" to control my shutters.

It has 3 buttons -> up (value 99) -> stop ( value stop / or custom) -> down (value 0), i can also send a level in the form of a number between 0 - 100 (which is than mapped the openhab mqtt config to 0-99).

What is does is sending a request to the ```zwavejs2mqtt/study/switch_multi

[2020-11-25 13:19] robertsLando commented on #30
@ODINServ YOu can do such things by using custom send/receive functions provided in gateway values table. You can write a function that parse the payload as you want

[2020-11-25 13:25] robertsLando commented on #27
Ok what I'm missing so is that fatal error, cannot see any stack trace of that and that's why I don't understand where it's coming from :confused:

@billiaz Does this happens EVERY time you save new settings?

[2020-11-25 13:27] robertsLando commented on #26
@AlCalzone Could this be caused by too quick write request set in sequence? Because I'm not awating them

[2020-11-25 13:35] AlCalzone commented on #26
No, the driver queues the requests and makes sure there are no overlaps. Whats happening here is that the driver requests updates regarding the command progress (using the Supervision CC), but that update does not come.
Supervision is used by default for Multilevel Switch CC (if Supervision CC is supported), because some devices only report the final values after the transition is complete, e.g. F

[2020-11-25 13:36] AlCalzone commented on #26
So the observation is correct that the command is sent and acknowledged by the node, but the expected reply never comes.

[2020-11-25 15:23] ODINServ commented on #26
So the "Time out" message is a little bit to early?

So does that mean that it is to busy at the network, or is it firmware related?

Because if a get (by restart the app) will get the correct value.
Can i trigger a get to the node ? by a /get on the currentValue

[2020-11-25 15:25] ODINServ commented on #30
I see i will give it a try, maybe the docs can be updated with an example?

I will figure it out and try to update them my self, that would be my first commit on github.

[2020-11-25 15:36] robertsLando commented on #30
@ODINServ The function will be like:

[code]

This will return `"start"` instead of `1` and `"stop"` instead of `0`

[2020-11-25 15:46] AlCalzone commented on #26
node-zwave-js might be a bit too [strict](https://github.com/zwave-js/node-zwave-js/issues/997) sometimes, but since no command is returned at all it is correct in saying this is a timeout.

I'm not sure. The others seem to come through, so maybe it is firmware related.

It would probably also get the correct value if you request one manually after the set. However when using Supervision, the driv

[2020-11-25 16:07] robertsLando commented on #26
Nope this isn't supported

[2020-11-25 17:08] billiaz commented on #27
@robertsLando noticed it happens 99% of the times.

[2020-11-25 17:12] AlCalzone commented on #27
That does sound like something crashes. I've never seen the warning before

[2020-11-25 17:38] billiaz commented on #27
i had to run and get this using the --trace-exit command or something similar in node, otherwise logs where giving nothing.

[2020-11-25 18:25] AlCalzone commented on #27
Any chance to narrow down where the error is coming from? E.g. an unhandledException handler in z2m? @robertsLando

[2020-11-25 19:37] ODINServ commented on #30
I'm not sure if this is what i want, but i can indeed use that for something else.

So when i press the stop button on the openhab interface, it should stop the movement of the blinds.
openhab will send "stop" to the /targetValue/set topic

So from your example and what is on the gateway values table.
I guess i need then the parse receive
```Create a function that parse the received value from MQT

[2020-11-25 19:41] ODINServ commented on #26
Yes by get i mean it should get the actual value from the node, which sounds the same to me as value refresh indeed.

[2020-11-25 20:06] billiaz opened #31 "[bug] Sound Switch and other User params show under System"
zwavejs2mqtt version: hass#discovery - lastest

My Aeotec ZW164 is a sound switch device (I would say). Many executeable commands under CC 121 (sound switch) are showing under system tab and not user or config.

Can this be corrected somehow?
Attached a screen shot, used a tool to capture while scrolling

![screencapture-z2m-rb11-eu-2020-11-25-21_03_48](https://user-images.githubusercontent.com/40

[2020-11-25 20:23] AlCalzone commented on #26
I think we should try to figure out why this is happening instead of hacking workarounds. Are nodes 6 and 7 different from the others that work?

[2020-11-25 20:47] AlCalzone commented on #26
And would you mind trying this experimental PR?
https://github.com/zwave-js/node-zwave-js/pull/1153

[2020-11-26 06:53] ODINServ commented on #26
I'm running it now, i'll let you know, but also still on the multicast branch of the mqtt project, i guess i do live on the edge now.

So my blinds are on the outside of the house, not playing that much with them.

As you asked,

I bought all 12 fgr223 nodes at the same time.
And are build in there own plastic i guess junction box. https://upload.wikimedia.org/wikipedia/commons/8/8a/Junction_box_1

[2020-11-26 06:58] ODINServ commented on #26
So my first test dont have those error, but i've also disabled all energy reports, i will enable them again, i dont have more time now :) will report back later

[2020-11-26 07:26] robertsLando commented on #30
If you need to parse the received commad from openhab and the command is "stop" the function will do the opposite of the one I have wrote:

[code]

[2020-11-26 07:51] robertsLando commented on #31
@billiaz Thanks for this issue, it's not really a bug, actually I'm looking for a way to identify `system` command classes, actually I'm doing it like this: https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/ZwaveClient.js#L656

But It was a guess, do you know if there is a list of 'system' command classes?

[2020-11-26 08:48] aretakisv commented on #31
@robertsLando I can Read the spec classes from the Excel file they have and add exception for  any >=94 that is not system in this ZwaveClient.js, to their category.
then only new CC will need adjustment

[2020-11-26 10:37] robertsLando commented on #27
@billiaz Could try with https://github.com/zwave-js/zwavejs2mqtt/pull/32 ?

[2020-11-26 13:07] robertsLando commented on #31
@aretakisv Fixed!

[2020-11-26 13:07] #31 closed

[2020-11-27 08:50] ODINServ commented on #26
Hey, i did get the timeout but now after i send a broadcast, (indeed again on node 6 which is also interesting to me) but now the target value was correct in the end. 👍

I will keep testing for the coming days.

I have some questions if you wont mind?:
* How does the driver / application know when to re request the value? Is that based on time , or some other event?
* Why do i get this timeout whe

[2020-11-27 09:25] AlCalzone commented on #26
When talking to a single node, the current value is requested...
* ...directly after a SET
* (if supervised) ...when a Supervision Report indicates success (the change is complete) or working (the change is in progress)
* (if supervised and with experimental PR 1153) ...after each supervision report

---

Is it a real broadcast (target node 255)? Then you shouldn't get a timeout.
If it is "multica

[2020-11-27 10:41] AlCalzone commented on #27
@robertsLando did you find out whats happening?

[2020-11-27 10:43] AlCalzone commented on #26
Uh, you're right, that doesn't work through the commandClasses API either. Only if you `sendCommand` manually. I'll add it to the feature request.

[2020-11-27 13:07] robertsLando commented on #27
@AlCalzone Not sure but I'm trying :)

[2020-11-27 14:17] #27 closed

[2020-11-27 14:17] robertsLando commented on #27
Now it's fixed :tada:

[2020-11-28 07:57] ODINServ commented on #22
Hey,

I got a new / same crash as the initial ticket.

Running now in a manjaro vm on the mqtt multicast branch and running de node-zwave-js " supervision/refresh" branch.

Now the system was running normally not resuming from cache.
Id cached when i send a command (open/99) to 8 of the fgr223 modules

Console output: [console-output.log](https://github.com/zwave-js/zwavejs2mqtt/files/5610223/cons

[2020-11-29 15:18] ODINServ commented on #30
Yes currently im using the dimmer as a work around which indeed has no stop button.

So i want to use this model:
![Screenshot from 2020-11-29 16-05-00](https://user-images.githubusercontent.com/10348749/100545704-7159f400-325d-11eb-830c-3d2fe08059cc.png)

When i press the STOP button it send STOP to the targetValue topic.
Which is translated to 0 by zwave-js.

But what it should do is stop the mo

[2020-11-29 16:04] ODINServ commented on #30
I have this python script now running in the background as a man in the middle and handles this model:
[code]

[2020-11-30 07:57] robertsLando commented on #30
Is there another valueId that could handle the stop?

[2020-11-30 08:39] larstobi opened #37 "[feat] Support .hec firmware format from Aeotec devices"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
When I try to update Aeotec Smart Switch 6 ZW096 with firmware downloaded from Aeotec n .hec format, I get the error message:

[code]

**Describe the solution you'd like**
Correctly detecting the format and converting it to a usable format,

[2020-11-30 08:41] robertsLando commented on #37
@AlCalzone This is for you :) Also I suggest to move the `guessFirmwareFormat` function in zwave-js

[2020-11-30 08:46] robertsLando commented on #22
@billiaz

[2020-11-30 08:46] robertsLando commented on #22
@AlCalzone ?

[2020-11-30 09:08] AlCalzone commented on #37
`*.hec` files are firmware files that were encrypted with the Homeseer encryption utility. Both the utility and the code to decrypt that is closed source. I've seen threads where it has been speculated that they use a simple encryption with a fixed key, but no hard evidence.
So in short: nothing we can do until someone reverse-engineers the encryption.

You can however ask the Aeotec support for t

[2020-11-30 09:13] robertsLando commented on #37
Or ask them to give us the docs to do it :smile:

[2020-11-30 09:17] ODINServ commented on #30
I guess, the answer could be yes? I found a spec but not sure if it is still valid, and if i look at the right versions of things.

I found a/some zwave spec (not sure of this is still a valid one?): https://www.silabs.com/documents/login/miscellaneous/SDS13781-Z-Wave-Application-Command-Class-Specification.pdf

It seems that 255 is a thing to set in the targetValue which means "Restore most recen

[2020-11-30 09:44] AlCalzone commented on #22
Not sure where that lib comes from - I don't use it.
[code]

Regarding the log: It seems like Node **2** doesn't answer to a `Multilevel Switch Get` (refresh after set) which causes the transaction to be rejected. These transactions are created outside zwave-js and errors must be handled there. My guess is that @robertsLando forgot a try-catch somewhere.

@ODINServ You seem to have quite some conn

[2020-11-30 09:48] AlCalzone commented on #37
Except Homeseer !== Aeotec. As far as I understand, they provide manufacturers with an encryption utility so they can upload encrypted firmware. Only the Homeseer software can decrypt these files.
From my experience, they'll give you the updater exe when you ask for it. In my case I wanted to update my WallMote but didn't find the files to do that.

[2020-11-30 12:56] roflmao commented on #37
The exe is bundled here: https://aeotec.freshdesk.com/support/solutions/articles/6000134294-smart-switch-6-firmware-update-3-26-2018-

[2020-11-30 13:32] robertsLando commented on #37
I think that we can close this so?

[2020-11-30 14:03] robertsLando commented on #22
node-fibers is a dev deps of zjs2m but it shouldn't break anything

[2020-11-30 14:04] robertsLando commented on #22
It could be but I need to know the event that throws that error in this case, or some more details as I don't understand where it comes from

[2020-11-30 14:05] robertsLando commented on #30
You mean that if you send 255 it will stop it?

[2020-11-30 14:12] AlCalzone commented on #22
Is [this](https://github.com/zwave-js/zwavejs2mqtt/blob/3794e342b0e8141328fb85ad1f8e99857f7a7cd3/lib/ZwaveClient.js#L1907) the only location where you tell zwave-js to write values?

Or could you add an unhandledRejection handler to the zjs2m and log `error.transactionSource` if that exists? That could give us a lead where the transaction comes from.

[2020-11-30 14:15] robertsLando commented on #22
Yes it is

I can

[2020-11-30 14:19] AlCalzone commented on #22
Hmm maybe it **is** a bug in zwave-js then. But the location I'm suspecting has a `.catch()` call.

[2020-11-30 14:30] robertsLando commented on #22
I think that almost everything on the code has a try catch block, also it's strange that in the stack there is no reference to my code

[2020-11-30 14:37] ODINServ commented on #30
Nope,

When sending 255 via mqtt it should also send 255 to the device, the device will (should) then return according to that spec it's previous position.

I would like to send the "STOP" string to targetValue, and then it would be nice that zwave-js is sending the "SWITCH_MULTILEVEL_STOP_LEVEL_CHANGE" command to the device.

It is also in the code in some:
![Screenshot from 2020-11-30 15-36-01](

[2020-11-30 14:47] ODINServ commented on #22
@AlCalzone alright, i _might_ include them unsecure in the future, but i hope the broadcast / multicast change request can help here.

I do agree with the strange network behavior, for now i do disable again all power reports (i don't care about them), and will update my OpenHAB rule to sleep a bit before sending the next command.

I wont report new issues regarding device timeouts.

I leave it up

[2020-11-30 15:17] robertsLando commented on #30
This is something that cannot (and shouldn't) be handled by zwave-js, is that valueId showing on ui? I mean the SWITCH_MULTILEVEL_STOP_LEVEL_CHANGE ?

[2020-11-30 15:48] ODINServ commented on #30
I looked in the node-zwave-js code i want to be able to call this: https://github.com/zwave-js/node-zwave-js/blob/master/packages/zwave-js/src/lib/commandclass/MultilevelSwitchCC.ts#L215

When "STOP" is received on the targetValue topic

HASS "cover" model stop button on UI:  https://community-assets.home-assistant.io/original/3X/a/7/a734d7af96795576ddd092345f84e3f78971fe07.png
And the openhab "Ro

[2020-11-30 15:52] robertsLando commented on #30
Let's see what @AlCalzone think about this

[2020-11-30 18:18] AlCalzone commented on #22
I'll leave this open since I want to find out where this comes from.

[2020-11-30 18:25] AlCalzone commented on #30
Stopping should be possible with stopLevelChange, which **is** a different command. @robertsLando You are already exposing this as a switch (perform a level change) so it should just be a matter of setting the correct value.

The value 255 can be used to turn a light that was at 60 for example and then was turned off back on to 60.

[2020-11-30 19:33] ODINServ commented on #22
Regarding the node fibers:

[code]

[code]

[2020-11-30 19:55] robertsLando commented on #30
@AlCalzone could you show me an example of how I could trigger a stopLevelChange command?

[2020-11-30 20:23] AlCalzone commented on #30
e.g. by setting the value for value ID
[code]
to false.

Or:
[code]

[2020-11-30 20:58] roflmao opened #38 "[bug] climate hass discovery"
**Version**

Build/Run method
- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 0.0.0 latest master (how to show?

**Describe the bug**
No climate object for hassdiscovery discovered by z2m

**To Reproduce**
Steps to reproduce the behavior:

mqtt settings:
https://www.jottacloud.com/s/0067ee8821ea95340c89bee59db6a360528

device:
https:/

[2020-11-30 21:10] roflmao commented on #38
More mqtt state topic:

[code]

[2020-11-30 22:42] roflmao commented on #38
Latest update; everything is working besides current_temperature with the following customDevices.json:

[code]

just lacking air temperature:
[code]

setting:
[code]

from mqtt:
[code]

looks like current_temperature_topic isnt populated correctly?

[2020-12-01 07:15] robertsLando commented on #38
@roflmao Humm strange, could you try to press 'rediscover' on the ui?

I do the check here: https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L1060

If it's not translated it means it's not found in node values but your log says the opposite

[2020-12-01 07:27] roflmao commented on #38
Its not shown in the webgui, but logs says otherwise.

Rediscover is still the same:
[code]

[2020-12-01 07:30] roflmao commented on #38
Refresh node:

[code]

Still no show in webgui.

[2020-12-01 07:44] robertsLando commented on #30
@ODINServ Could you try #40 ?

[2020-12-01 07:48] robertsLando commented on #22
Could you give me some more info? What's the arch? arm32 arm64, amd64? Are you running it on docker? What's the OS? alpine, ubuntu, windows, mac? I think that error is not a bug with z2m or zwavejs but something system related as no one is reporting it

[2020-12-01 07:49] robertsLando commented on #38
49-3-Air temperature
49-4-Air temperature

@roflmao But you see `49-2-Air temperature`, right?

[2020-12-01 07:52] roflmao commented on #38
@robertsLando zwavejs2mqtt webgui shows me none of these, but the logs of zwavejs2mqtt shows them:

[code]

[2020-12-01 07:54] ODINServ commented on #30
I will try later today

[2020-12-01 08:09] robertsLando commented on #38
@roflmao Could you try with #40 ?

[2020-12-01 08:11] ODINServ commented on #22
I'm running manajro linux (gnome version) on my amd64 based laptop and installed zwave-js using the node way.

I do think it indeed needs something for from the OS, because i have to install all development tools (compilers / Linux header) before installing node fibers. Also it does seem to do some compiling after i execute npm install fibers.

I will spin-up a ubuntu vm later to see if i can repr

[2020-12-01 08:51] robertsLando commented on #22
@ODINServ Have you tried to install it manually? What's the output of `npm install node-fibers`?

[2020-12-01 09:19] roflmao commented on #38
Success!

[code]

https://www.jottacloud.com/s/00664ac03dda12f4120be9de0098cba0abe

[2020-12-01 09:35] roflmao commented on #38
A minor thing is that discovery only created temp sensors for two of the sensors:
[code]
Not:

[code]
https://www.jottacloud.com/s/0063b256aa529134efb865baedbbf8b89e1

[2020-12-01 10:15] robertsLando commented on #38
@roflmao Could you show me the startup logs? I would like to see how the interview of that node goes

[2020-12-01 10:17] roflmao commented on #38
[code]

[2020-12-01 10:23] robertsLando commented on #38
@roflmao Could you try now please?

[2020-12-01 11:40] roflmao commented on #38
Still only two of the temperature sensors:
https://www.jottacloud.com/s/006497a76403aa94813b0822870cdcaabf6

[2020-12-01 11:54] roflmao commented on #38
Also nice if ```50-1-value-66049``` get sexposed, since its shows watt usage of the thermostat.

```50-1-value-65537``` aka kWh total usage is already exposed as electricity_kvah_meter which is wrong unit for the entity name, but the entity shows kWh.

[2020-12-01 12:28] ODINServ commented on #22
Well, i did the test with the ubuntu vm.. it seems that is manjaro related issue (Long live all linux distributions)

npm install (Error details in one of the comments above):
![install](https://user-images.githubusercontent.com/10348749/100739989-45af4900-33d8-11eb-9488-d72d00a4da60.png)

npm run build:
![build](https://user-images.githubusercontent.com/10348749/100740000-4c3dc080-33d8-11eb-9613-

[2020-12-01 12:55] robertsLando commented on #22
No worries @ODINServ I thought that because most times such problems are os related. Can we close this?

[2020-12-01 12:56] robertsLando commented on #38
I think that could be a device error because AFAIK the property id identifies the meter type (and the units) @AlCalzone

[2020-12-01 13:04] AlCalzone commented on #38
Probably - I can take a look at the zwave-js logs of the interview (or startup) to know for sure.

[2020-12-01 13:25] ODINServ commented on #22
Well i've mixed to much into this issue, the fiber thingy is fine for now.

If i quote @AlCalzone

Don't know i'll live it to you two, i think the actual crash (first post) should be handled somehow.
I know you my network is magic (lots of timeouts as you pointed out) but zwavejs should not crash if you ask me.

[2020-12-01 13:41] ODINServ commented on #30
I seem only to be able to add logging here: [zwave-1979.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5622926/zwave-1979.txt)

[2020-12-01 13:49] robertsLando commented on #38
https://github.com/zwave-js/node-zwave-js/blob/master/packages/config/config/meters.json#L14

[2020-12-01 13:59] AlCalzone commented on #38
Yes, kVAh is defined in the specs as a possible meter type. Just wanna make sure it is no bug.

[2020-12-01 15:20] larstobi opened #42 "[bug] crash when refreshing /settings and /mesh"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: c762a85 (master)

**Describe the bug**
When I click on the settings icon, I am sent to /settings. This works. If I then click refresh page, it crashes. The same happens with /mesh.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on the settings sym

[2020-12-01 15:25] robertsLando commented on #42
@larstobi That should be handled by `connect-history-api-fallback`, let me investigate what's happening

[2020-12-01 15:37] robertsLando commented on #42
@larstobi FIxed! This has been broken some months ago in z2m, strange no one has never reported it before now

[2020-12-01 15:37] #42 closed

[2020-12-01 15:58] ODINServ commented on #30
[zwave-2466.log](https://github.com/zwave-js/zwavejs2mqtt/files/5623785/zwave-2466.log)

[2020-12-01 16:06] #30 closed

[2020-12-01 16:09] robertsLando commented on #30
@ODINServ I have closed this for now but just to let you know I have reverted the change on code to use the `stopLevelChange` command. THis needs to be sorted on zwavejs side so don't use the code from master or it will not work.

[2020-12-01 17:19] AlCalzone commented on #22
I agree but I need some kind of idea where the transaction is created to figure out why rejecting it causes a crash.

[2020-12-01 19:54] roflmao commented on #38
@AlCalzone https://gist.github.com/roflmao/274e02e75bf1ef838bf64108b0cfede7
Will this do?

[2020-12-01 21:45] AlCalzone commented on #38
Sorry no. Needs loglevel "debug", so I can see the raw messages.

[2020-12-02 01:45] chilicheech opened #43 "[bug] Door sensor has not value in payload"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**
I have Vision Security Recessed Door Window Sensor (ZD2105) that has command class 113 with `26-113-0-Access Control-Door state` and `26-113-0-Home Security-Cover status`. The mqtt payload for both of these have no `value` field. He

[2020-12-02 06:48] roflmao commented on #38
@AlCalzone i have set logLevel to debug in zwavejs2mqtt under zwave, how do i set it for zwave-js?

[2020-12-02 06:54] robertsLando commented on #38
That's for zwavejs

[2020-12-02 06:57] roflmao commented on #38
Guess it was my grep foo: https://gist.github.com/roflmao/f0e79010b8a30d9aeb25e57f018d9ab1

Node 003 in this case.

[2020-12-02 07:28] roflmao opened #44 "[bug] cannot trigger siren alarm through mqtt"
**Version**

Build/Run method
- [ x ] Docker
- [ ] PKG
- [ x ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 0.0.0

**Describe the bug**

Triggering switch for the sirene in hass:
[code]

Startup:
[code]

hass discovery:
[code]

**Expected behavior**
Trigger sirene as in the webgui which works.

[2020-12-02 07:31] robertsLando commented on #44
@roflmao I need to see the logs when you send the command from hass

[2020-12-02 07:32] roflmao commented on #44
[code]

[2020-12-02 07:40] robertsLando commented on #44
Should be z2m/nodeID_5/37/0/targetValue/set

[2020-12-02 07:43] roflmao commented on #44
Yes. Manual fix in customDevices.json?

[2020-12-02 08:25] robertsLando commented on #44
@roflmao was that auto discovered? anyway yes it needs a manual fix in this case but I need to understand why

[2020-12-02 08:28] roflmao commented on #44
@robertsLando Yes, see first issue comment:

What more data do you need?

[2020-12-02 08:33] robertsLando commented on #44
@roflmao Maybe I have found the bug, try to pull master

[2020-12-02 08:46] roflmao commented on #44
Success:
[code]

[2020-12-02 08:51] #44 closed

[2020-12-02 08:52] robertsLando commented on #44
@roflmao Thanks!

[2020-12-02 09:17] ODINServ commented on #30
[zwave-4554.log](https://github.com/zwave-js/zwavejs2mqtt/files/5628130/zwave-4554.log)

[2020-12-02 10:13] AlCalzone commented on #38
Btw, you can attach logs as logfiles here directly. Makes it easier to open them.

[2020-12-02 10:14] roflmao commented on #38
@AlCalzone i have to copy them over ssh anyways. Gist has download as zip so you can open the file in your $EDITOR

[2020-12-02 10:22] AlCalzone commented on #38
It does make it harder for me. A bunch more clicks and page loads until I get to the file, after downloading as zip, the file gets opened as a txt file in the Windows editor, instead of VSCode. When attached it just takes a single click 😅

[2020-12-02 10:27] AlCalzone commented on #38
Ok so the unsolicited reports from your nodes only use the scales V, W and kWh. It might be that the kVAh report is requested during the initial interview. To confirm that I would need a log where you refresh the node info.

[2020-12-02 10:28] AlCalzone commented on #38
Btw:
[code]
didn't know zwave-js could show the commit 😮

[2020-12-02 10:36] roflmao commented on #38
Here it is. Dragging and dropping like its 1999 :dancers:
[node3.refreshinterview.log](https://github.com/zwave-js/zwavejs2mqtt/files/5628618/node3.refreshinterview.log)

[2020-12-02 10:48] Altycoder opened #45 "Docker pull manifest unknown error"
`docker pull zwavejs/zwavejs2mqtt:latest` or `docker pull zwavejs/zwavejs2mqtt` gives the following error:

`Error response from daemon: manifest for zwavejs/zwavejs2mqtt:latest not found: manifest unknown: manifest unknown`

I can pull other images from other developers no problem

[2020-12-02 10:53] robertsLando commented on #45
Pull `dev` tag

[2020-12-02 10:53] #45 closed

[2020-12-02 10:58] robertsLando commented on #38
Alternative: https://hastebin.com/

[2020-12-02 10:59] Altycoder commented on #45
I suggest you update readme to state this :-)  currently the readme says to pull latest

[2020-12-02 11:03] robertsLando commented on #38
@roflmao If you are using docker you could also use `docker cp` command to move the log file from the container to your local disk

[2020-12-02 11:16] roflmao commented on #38
@robertsLando TIL: kubectl cp :)

[2020-12-02 11:22] AlCalzone commented on #38
But then I cannot use VSCode search regexes :(

[2020-12-02 11:23] AlCalzone commented on #38
[code]

No kVAh either. Wonder where that came from 🤔

[2020-12-02 11:27] AlCalzone commented on #38
@robertsLando where do the `electricity_kvah_meter` strings come from? Do you build them from information exposed by zwave-js or yourself?

[2020-12-02 11:31] robertsLando commented on #38
Some informations are from zwavjs others are from hass configurations, I build them to identify hass entities

[2020-12-02 11:32] AlCalzone commented on #38
But where does the `kvah` part come from exactly?

[2020-12-02 12:34] robertsLando commented on #38
@AlCalzone no worries it's something on my side, I need to check the meters entity names for hass

[2020-12-02 12:42] robertsLando commented on #38
Ref:
https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L1475
https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L1514

In specific it comes from here: https://github.com/zwave-js/zwavejs2mqtt/blob/eac3095907362da5c9998b0494422d843c5e20a4/lib/Constants.js#L53

I think I could use the meter `ccSpeific.scale` to get the scale? Is there a way to get the scale string

[2020-12-02 14:06] AlCalzone commented on #38
lookupMeterScale is the way to go.

[2020-12-02 15:00] robertsLando commented on #38
@roflmao Could you try now with master?

[2020-12-02 15:14] roflmao commented on #38
Yes: https://www.jottacloud.com/s/0062b474479d7404e429139e04248d58096

[2020-12-02 15:15] #38 closed

[2020-12-02 15:17] AlCalzone commented on #38
@robertsLando did you see my comment on the commit?

[2020-12-02 15:51] robertsLando commented on #38
@roflmao Could you try again with latest commit from master please? (entities names could change)

[2020-12-02 17:51] roflmao commented on #38
It breaks climate autodiscovery:
```2020-12-02T17:48:10.432Z z2m:Gateway Unable to discover climate device, there is no valid temperature/thermostat mode valueIds```

https://www.jottacloud.com/s/0064ad2ebd70f114941ad9cf9d60b69bcc1

[2020-12-03 07:33] robertsLando commented on #38
@roflmao I don't think that commit has broken that as I only changed the meters names

[2020-12-03 07:55] roflmao commented on #38
@robertsLando Hmm, i build latest zwave-js from master as well. Could that be the issue?

[2020-12-03 07:57] roflmao commented on #38
https://hastebin.com/ifemodexov.apache

[2020-12-03 08:12] robertsLando commented on #38
Does it show up on startup?

[2020-12-03 11:32] AlCalzone commented on #26
Is there something left to do here? The multicast API is tracked in a different issue. And I think we have one for the timeout errors that aren't caught?

[2020-12-03 11:36] ODINServ commented on #26
That's true, I'll wait for the new API

[2020-12-03 11:36] #26 closed

[2020-12-03 14:58] ODINServ opened #48 "[bug] Cannot send association to battery device becouse it is sleeping, but it's not"
Hi :),

Running the NPM way 3th december master (no more links to the node-zwave-js project)

Well i've got a new device (According to gateway webpage):
ThermoFloor | Wall Mounted Switch | Heatit Z Push Button 8

I want to create an association but it is not working, because the z wave software states that the device is asleep:
```zwavejs2mqtt/landing_buttons/status``` is ```{"time":1607006651989,

[2020-12-03 15:10] robertsLando commented on #48
@AlCalzone CC

[2020-12-03 15:56] AlCalzone commented on #48
Battery-powered devices often send notifications or sensor readings while still asleep. When they do wake up, they send a `WakeUpNotification` (or sometimes a node information frame), after which the driver knows it can send its queued messages.

It is a common misconception that sending messages equals awake, although it might be true for this device. The manual is terrible in this regard. Please

[2020-12-03 16:47] ODINServ commented on #48
Ah well indeed #RTFM, i was indeed misled from the fact it was reporting values!

Thnx for the support..

[2020-12-03 16:47] #48 closed

[2020-12-04 06:12] billiaz opened #50 "[bug] Binary Switch - Hass Discovery issue after start/restart"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: latest Master

When you .first start the application. A first discovery is generated by the app. On Binary switches this looks like:
[code]
As we can see commandTopic is wrong, as currentValue is read only, and does not accept set commands
Once we click redisc

[2020-12-04 08:31] robertsLando commented on #50
@billiaz I think it may be related to #38

[2020-12-04 11:35] larstobi commented on #37
@AlCalzone I asked Aeotec for the unencrypted firmware files, but they don't wish to give access to those files, because that will expose the source code, they say, and it's confidention to Aeotec.

I'm not sure how firmware upgrade is implemented on the devices, but I would think there at least should exist a public key in the devices that can verify a signature on the firmware code in order to v

[2020-12-04 12:31] AlCalzone commented on #37
If you have an updater exe, you can probably just plop it into the zwave-js update method. It will try and extract the firmware for you.

[2020-12-04 13:18] robertsLando commented on #37
@AlCalzone What if he just rename the `.hec` to `.exe`?

[2020-12-04 13:26] larstobi commented on #37
@robertsLando Probably not, since it's encrypted, or at least obfuscated.

@AlCalzone so, you mean the format guesser will search through and look for the start of the Intel Hex file? I decompiled the  .exe and found lots of references to Intel hex.

[2020-12-04 15:11] AlCalzone commented on #37
Yes, the format guesser will check if the exe file has two markers we expect and `extractFirmware` will then look for the firmware where it usually is in the file.

[2020-12-04 20:25] billiaz commented on #50
pull request to fix the issue
https://github.com/zwave-js/zwavejs2mqtt/pull/52

[2020-12-07 12:59] Diddlik opened #53 "[feat] Get Zwave2Mqtt version over MQTT"
Is it possible to send a version of currently installed zwave2mqtt to mqtt?

The Idea is to create one atomation / notification if there are a new version

 Ideal would be a topic with the current version and the currently available master/dev. But the current one would be very helpful.

[2020-12-07 14:38] robertsLando commented on #53
Done

[2020-12-07 14:38] #53 closed

[2020-12-07 14:43] robertsLando commented on #50
Fixed by #54

[2020-12-07 14:43] #50 closed

[2020-12-07 15:15] Diddlik commented on #53
When I update docker, is the new version automatically downloaded or only when it is released?

[2020-12-07 15:20] robertsLando commented on #53
@Diddlik If you are using `dev` tag that is always synced with latest master commit. Just wait 30 min after the commit is done to let the build create and push the image to dockerhub

[2020-12-07 17:21] larstobi commented on #37
@robertsLando @AlCalzone
I tried to update the Aeotec Smart Dimmer 6 right now and just dropped the `SmartDimmer_6_EU_C_V1_07.exe` file directly to the "Begin firmware upgrade" function. It Just Worked. Wow. :-D

[2020-12-07 19:34] larstobi commented on #37
However, `ZW096_Smart_Switch_6_EU_V1_04.exe` does not work. I get "Error while calling api beginFirmwareUpdate: Unable to extract firmware from file: could not detect firmware format"

[2020-12-07 19:49] AlCalzone commented on #37
Could you send me that file please?

[2020-12-08 07:26] larstobi commented on #37
https://aeotec.freshdesk.com/helpdesk/attachments/6107410725

[2020-12-08 07:26] larstobi commented on #37
@AlCalzone you can easily get it from the above link, but if there are problems, I can send it to you on Slack. :-)

[2020-12-08 07:28] larstobi commented on #37
Link for other countries as well, in the bottom of this page https://aeotec.freshdesk.com/support/solutions/articles/6000235856-how-to-update-smart-switch-6-z-wave-firmware-

[2020-12-08 13:48] #37 closed

[2020-12-08 19:12] chilicheech opened #59 "[bug] Missing CC 113-0-Home_Security-* in dashboard"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: master

**Describe the bug**
Missing the 113-0-Home_Security-* command classes in the dashboard for motion and door sensors.

![Screen Shot 2020-12-08 at 11 10 00 AM](https://user-images.githubusercontent.com/732659/101529810-edcb9180-3945-11eb-8dcf-6db20800aa

[2020-12-08 19:20] chilicheech opened #60 "[bug] Hass Discovery Motion Sensor & Cover Status name issues"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: master

**Describe the bug**
Some devices create `113-0-Home_Security-Motion_sensor_status` and `113-0-Home_Security-Cover_status` values. Hass discovery creates `sensor_notification_Home_Security` for motion and `sensor_notification_Home_Security_Home Securit

[2020-12-09 04:17] Lopton opened #61 "[bug] Bad network key will crash docker image with no UI message"
**Version**

Build/Run method
- [ X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.0

**Describe the bug**
1.) The Network Key auto-generation (I'm assuming that is what the recycle symbol to the right is) did not do anything in Firefox
2.) If the user enters a Network key that is "3DMM7Z359G253QL0OHK1F2TUGT3IEKD5" there is an

[2020-12-09 07:22] robertsLando commented on #59
@chilicheech Could you tell me what's the `type` of that valueId? I think that type may not be supported [here](https://github.com/zwave-js/zwavejs2mqtt/blob/master/src/components/ValueId.vue)

[2020-12-09 07:32] robertsLando commented on #60
@chilicheech Notifications are discovered [here](https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L1447), could you play around with those 3 lines of code until you make it work? I don't own any device that sends notifications and I cannot debug this :( Also could it be that them are not showing because the object_id has a space? Maybe not all chars are allowed in object_id?

[2020-12-09 07:37] robertsLando commented on #60
Also I think that notifications could be improved by using this: https://github.com/zwave-js/node-zwave-js/blob/master/packages/config/config/notifications.json. We could lookup for notification type and based on it set the correct icon for the sensor

[2020-12-09 07:58] larstobi opened #63 "[bug] unsupported valueIds should be hidden (Single Switch 2)"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: master

**Describe the bug**
The switch is identified as a dimmer, and I cannot turn it on of of.
I can set Target value and Transition duration in the zwavejs2mqtt web UI, which doesn't work. The same happens in Home Assistant.

**To Reproduce**
Steps to repr

[2020-12-09 10:53] QNimbus commented on #63
Can confirm the same issue with my Fibaro FGS213 & FGS223 (Single and double switch, built in wall box)

![image](https://user-images.githubusercontent.com/3206309/101620544-f63ecd80-3a14-11eb-966d-08f38ead3e13.png)

![image](https://user-images.githubusercontent.com/3206309/101620356-bbd53080-3a14-11eb-910f-0c2b11abf998.png)

![image](https://user-images.githubusercontent.com/3206309/101620441-d5

[2020-12-09 11:45] AlCalzone commented on #37
@larstobi the failing exe files should be handled by zwave-js/node-zwave-js#1194. Since that branch depends on the GBL one, I'll either have to merge them without waiting for your test or just wait for confirmation.

[2020-12-09 12:31] AlCalzone commented on #61
@robertsLando this call
https://github.com/zwave-js/zwavejs2mqtt/blob/03d4d0e6cb69a82156f588346ede71572ca85a2a/lib/ZwaveClient.js#L1301-L1304
should probably be guarded with a try-catch. It will throw if any of the options are outside the allowed range.

[2020-12-09 12:44] AlCalzone commented on #59
https://github.com/zwave-js/node-zwave-js/blob/3b5d62549b47eb3c6ca2eba311831ff7d6bb5afb/packages/config/config/notifications.json#L642-L648

https://github.com/zwave-js/node-zwave-js/blob/3b5d62549b47eb3c6ca2eba311831ff7d6bb5afb/packages/config/config/notifications.json#L650-L661

both are numbers

[2020-12-09 16:57] robertsLando commented on #59
So the type of the valueId is `number` ? If so it's strange it doesn't appear. @chilicheech Could you check please?

[2020-12-09 17:04] robertsLando commented on #61
This needs both a fix on the backend and on the frontend as I shouldn't allow such chars in network key

[2020-12-09 17:09] robertsLando commented on #63
@larstobi Wait but it's reported as CC 38 that means it's a multilevel switch not a binary switch, or am I missing something? @AlCalzone

[2020-12-09 17:22] larstobi commented on #63
It's definitely a regular switch, on or off, nothing in between.

[2020-12-09 17:34] AlCalzone commented on #59
They should be... Maybe they are "any", I gotta check

[2020-12-09 17:37] chilicheech commented on #59
So here's what *z2m/ozw* shows in the dashboard:

![Screen Shot 2020-12-09 at 9 34 23 AM](https://user-images.githubusercontent.com/732659/101665408-cb974980-3a01-11eb-8473-6428527b57ed.png)

It has all many more values in the user section than *zjs2m/zjs*. The way it's organized in a single column is also much nicer, with the proper labels/titles.

I'm rebuilding the image right now. I had to upg

[2020-12-09 17:38] AlCalzone commented on #63
Certainly looks like it. I'll need to see the zwave-js log of the interview to know for sure 😬

[2020-12-09 18:54] AlCalzone commented on #59
That is not always a good thing. zwave-js tries to hide unnecessary ones. The information for the labels is also there:
![grafik](https://user-images.githubusercontent.com/17641229/101674085-5440d480-3a58-11eb-8487-a13ba5ae70a4.png)

[2020-12-09 19:11] chilicheech commented on #59
My opinion is different. As a user of zwave I want all values to be exposed to me so I can do what I please with them. That is one of the reasons I stopped using home assistant's zwave integration in favor of `z2m/ozw`. Home assistant hides values it thinks are unnecessary but that prevents users from hacking/doing what they want. So, I switched to `z2m/ozw` to gain access to those unnecessary val

[2020-12-09 19:20] chilicheech commented on #59
Here's the MQTT payload for the motion sensor value:
[code]
Here's the MQTT payload for the cover value:
[code]
Both of them report type `number`.

Cheers.

[2020-12-09 19:44] larstobi commented on #63
[zwave-9.log](https://github.com/zwave-js/zwavejs2mqtt/files/5668264/zwave-9.log)

Look for Node 64.

[2020-12-09 19:45] larstobi commented on #63
@AlCalzone And Node 28 is the Aeotec Smart Switch 6.

[2020-12-09 20:06] AlCalzone commented on #59
zwave-js doesn't hide values when there's no other (intended) way of accessing them. But some values just don't make sense in a vacuum and would just litter the UI. For example associations (which can be managed with an API), CC versions (which are used internally for checks), alarm type when there is a matching notification, root endpoint values that mirror a non-root endpoint value, etc...
If th

[2020-12-09 20:09] AlCalzone commented on #63
Sorry, I wasn't clear. I need a fresh interview (refreshInfo or what its called here).

[2020-12-09 20:12] AlCalzone commented on #61
Still there are a bunch of reasons why that call can throw

[2020-12-09 20:21] larstobi opened #64 "[feat] Enable/disable logging to file without restarting network"
**Is your feature request related to a problem? Please describe.**
When I need to provide debug logs to debug an issue, I need to enable logging and bump up the log level to debug. When I hit "save" the zwave network restarts and we need do interview all nodes again. This takes a while.

**Describe the solution you'd like**
It would be great if I could enable and disable logging, and change loglev

[2020-12-09 20:56] larstobi commented on #63
[zwave-10.log](https://github.com/zwave-js/zwavejs2mqtt/files/5668612/zwave-10.log)

Here you go, @AlCalzone :-)

[2020-12-10 07:15] robertsLando commented on #63
@larstobi In your image I don't see only the light dimmer but also 2 switch discovered `switch_switch` and `switch_switch2`.

[2020-12-10 08:08] larstobi commented on #63
When I add it to a Fibaro Home Center Light gateway, the switch actually shows two devices there: one is the switch and one is displayed as a "remote control".  I'm not sure what the purpose of this is.

[2020-12-10 08:14] AlCalzone commented on #63
@larstobi I don't see a fresh interview of nodes 28 or 64 in that log. @robertsLando how can he restart the interview through the dashboard?

[2020-12-10 08:34] robertsLando commented on #63
@AlCalzone `refresh node info` ?

[2020-12-10 08:37] larstobi commented on #63
I did a fresh "Refresh info", and I watched it happening in the log. I can see it at "20:52:29.593 CNTRLR" in the -10 log.

[2020-12-10 08:46] robertsLando commented on #64
@larstobi this is a WIP, I have submitted a pr on zwave-js that will be released with verison 6.0.0, once that is ready this will be fixed

[2020-12-10 08:49] robertsLando commented on #59
@chilicheech They should be reported as list as they both have `"list": true,`. Could you check the chrome debugger console if there are errors?

I can revert to the old disposition using a single column if you think it was better :)

[2020-12-10 09:31] larstobi commented on #64
#47

[2020-12-10 09:37] robertsLando commented on #64
Nope, it's not #47, that is for z2m logging. Check pr for 6.0.0 draft on zwavejs

[2020-12-10 11:23] AlCalzone commented on #63
Eh, something is wrong with that log. I can't see the messages and some of the info logs half the time - that's why I didn't notice that there's a complete interview.

[2020-12-10 14:07] AlCalzone commented on #63
I can check later if that is a problem on my end. But as far as I remember my console outputs during local testing were complete 🤷🏻‍♂️

[2020-12-10 14:10] AlCalzone commented on #63
What I can tell from that file:
Node 28 seems to support Multilevel Switch and responds to the Multilevel Switch interview.
Not sure about 64, I couldn't find any mention of Multilevel Switch that in the log.

[2020-12-10 14:13] AlCalzone commented on #23
for reference: this will be supported in zwave-js@6.0.0:
https://github.com/zwave-js/node-zwave-js/pull/1167

[2020-12-11 08:59] AlCalzone commented on #37
I've merged the branches, so the current zwave-js master should work.

[2020-12-11 09:17] robertsLando opened #66 "[feat] Add download button on node tab to download node json"

[2020-12-11 14:40] aretakisv commented on #66
I can try to build this

[2020-12-12 05:32] Lopton opened #69 "bug: Named Topics missing endpoint in topic"
I am trying out Zwavejs2mqtt and thought that this time I'd try Type: "Named Topics" in the Gateway.

It worked find for sending data to Home Assistant, but when I tried to send commands (like toggling a switch) I could see the commands being received in the console output (I am attached to the docker container and I would set "z2m:Mqtt: Message received on zwavJs2Mqtt/Patio/Shades_Ext_South_West/

[2020-12-12 06:53] ODINServ commented on #69
Hi,

I guess you might miss the endpoint in the topic:

So your request:
```zwavJs2Mqtt/Patio/Shades_Ext_South_West/switch_multilevel/targeValue/set```

Beside the type in ```targeValue```i guess it should be:
```zwavJs2Mqtt/Patio/Shades_Ext_South_West/switch_multilevel/endpoint_1/targetValue/set```

I also have lots of multi level switches and this is working for me:
```zwavejs2mqtt/bathroom/swit

[2020-12-12 07:01] ODINServ opened #70 "[feat] Ability to create (multicast) groups using the gateway website."
Since https://github.com/zwave-js/zwavejs2mqtt/pull/25 is about to be merged.

It would be nice that we can create multicast groups using the gateway website.

The idea is to rename groups to association (since that is the current behavior of the groups tab).
After that then we could see a multicast request to a selection of nodes as a group.

The website should make sure that the correct nodes ar

[2020-12-12 19:33] katiuskt commented on #44
Sorry to hijack this issue but using "zwavejs2mqtt:latest" docker image (pulled today) I'm facing the same issue with several Fibaro FGWPF-102 power outlets: when I try to toggle their state through HA GUI (1.0.0b5 docker image) I can see into the zwavejs docker log something like this:

I had to adjust the "command_top" of all of them from xxxxx/currentValue/set to xxxxx/targetValue/set and after

[2020-12-13 02:33] Lopton commented on #69
Thanks, I was just using the auto generated discovery values, so I kinda expected them to be correct. I may trying adding the endpoints manually and seeing if that works.

[2020-12-13 08:09] robertsLando commented on #69
This is actually a bug, the gateway is actually missing endpoints in named mode. Thanks for the issue will fix this tomorrow!

[2020-12-13 08:37] katiuskt opened #71 "[bug] GreenWave Multi-socket PowerNode 6 missing Watt meters for sockets 2-6"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: I'm not sure how to get this. I'm using zwavejs/zwavejs2mqtt:dev pulled on 12th Dec

**Describe the bug**
GreenWave Reality Inc. Multi-socket PowerNode (6 plugs) - Manufacturer ID=153, Product Type=3, Product ID=4 doesn't report Watt meter for sockets 2, 3, 4,

[2020-12-13 08:57] katiuskt opened #72 "[bug] Aeotec Z-Stick Gen5+ has no configuration options"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: I'm not sure how to get this. I'm using zwavejs/zwavejs2mqtt:dev pulled on 12th Dec

**Describe the bug**
Newest Aeotec Z-Stick Gen5+ (https://aeotec.com/z-wave-usb-stick/) has no configuration options at zwavejs2mqtt GUI
![image](https://user-images.githubuse

[2020-12-13 09:30] katiuskt commented on #63
Same issue reported by @larstobi and @QNimbus here with my Fibaro Single Switch FGS213.
It is detected a light_dimmer object I think shouldn't be there.
![image](https://user-images.githubusercontent.com/75622100/102008035-f220f180-3d2d-11eb-902e-9ba5238ef315.png)

Node 8: [json_values.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5684398/json_values.zip)

[2020-12-13 10:18] larstobi commented on #64
zwave-js/node-zwave-js#1062

[2020-12-13 11:27] katiuskt commented on #71
Closing, not a bug, sorry!

Added another Greenwave Powernode it shows W_metter objects properly. This one has older firmware (4.21) then the one not showing W_metters (4.28) but I didn't think it could make such difference.

So, I've tried Healing the node -> No success
Refreshing info node -> It did the trick. W_meter objects are now discovered.

[2020-12-13 11:27] #71 closed

[2020-12-13 18:32] AlCalzone commented on #63
@katiuskt Your cache files show the root endpoint **controls** `Multilevel Switch` in version 3, but does not **support** it. In this case, the value ID probably shouldn't be returned.

[2020-12-13 18:38] AlCalzone commented on #63
https://github.com/zwave-js/node-zwave-js/pull/1207 should fix the issue for some of the devices here (including the one from @katiuskt)

[2020-12-13 18:43] AlCalzone commented on #64
@robertsLando I think that PR was missing an export for `updateLogConfig` from `zwave-js`

[2020-12-13 21:49] katiuskt commented on #60
+1 Same issue reported by @chilicheech here with Fibaro Motion Sensor (FGMS001): Sensor detects there is motion (light is on when its does) but there is no HASS discovered object to manage it:
![image](https://user-images.githubusercontent.com/75622100/102024763-42329f00-3d94-11eb-81bc-de0da308cc47.png)

In zwavejs2mqtt GUI there are two sensors created both for cover status (blue marked) and for

[2020-12-13 22:02] katiuskt commented on #59
+1

I guess the missing isn't specific for some brands or products but, just in case: I also miss information reported by @chilicheech for a Fibaro Motion Sensor (FGMS001):
![image](https://user-images.githubusercontent.com/75622100/102025097-f5e85e80-3d95-11eb-94b5-cfa1dc226e34.png)

My 2 cents: current implementation (several columns) makes harder to find things on devices with a lot of objects.

[2020-12-14 08:43] robertsLando commented on #63
@AlCalzone @larstobi Can I close this as it's not something on my side? or should we move the issue to zwave-js repo?

[2020-12-14 08:46] robertsLando commented on #64
@AlCalzone because the updateLogConfig is called when creating a new driver instance, but if you want to expose it to users so yes I think it's not exposed

[2020-12-14 08:48] robertsLando commented on #72
@katiuskt Are you using openzwave?

[2020-12-14 08:54] robertsLando commented on #59
@katiuskt Could we speak about the best way to show values? I'm open to improve UI but I need some ideas :)

[2020-12-14 08:55] robertsLando commented on #60
@katiuskt When a discovery fails there is an hass log that explain what's wrong. That could help me to fix the disovery of such devices, could you check it please?

[2020-12-14 09:38] larstobi commented on #63
It's okay with me to close it here. I will include the Fibaro Switch into my Fibaro Home Center Light gateway, and take screenshots of how it looks there. Then I'll open an issue in zwave-js repo. I'll link back here.

[2020-12-14 09:38] #63 closed

[2020-12-14 09:46] robertsLando commented on #63
@larstobi Have you tried the fix proposed by @AlCalzone ?

[2020-12-14 09:49] larstobi commented on #63
No, not yet. Will do!

[2020-12-14 10:01] robertsLando commented on #69
Can someone try with #74

[2020-12-14 10:08] #61 closed

[2020-12-14 10:22] AlCalzone commented on #64
I mean if you want to change the logging on the fly, you'll need to use that method from outside zwave-js. Or we need to expose it through the driver class (which probably makes sense if we plan to refactor the logging to be instance-scoped)

[2020-12-14 10:22] AlCalzone commented on #59
I think grouping related values would go a long way.

[2020-12-14 10:27] robertsLando commented on #59
@AlCalzone Grouping based on which logic?

[2020-12-14 10:29] robertsLando commented on #64
Personally I would prefer this solution!

[2020-12-14 10:36] AlCalzone commented on #59
E.g. grouping by CC (which is how it is done in ioBroker - although that is a treeview):

![grafik](https://user-images.githubusercontent.com/17641229/102071181-675cf700-3e00-11eb-8b3e-dc3f21a69490.png)

In zwave2mqtt, I think having a block of cells for each CC with a matching headline could work.

[2020-12-14 10:53] robertsLando commented on #59
I will ask in slack what users prefer, I'm +1 for everything

[2020-12-14 13:08] katiuskt commented on #60
@robertsLando : As @chilicheech said, I'm not able to find relevant information in HASS logs regarding this :-(

Regarding that node (Motion sensor) I only see these messages:

Also another error involving another a Fibaro FGS213 node:

But I'm afraid nothing else

[2020-12-14 13:08] katiuskt commented on #59
+1 for @AlCalzone suggestion

[2020-12-14 15:46] ODINServ commented on #69
I can but not sure how, i have them inside the discovery topic already.
I''m running master a little bit behind @ ```64dbcd5902d30b2fc5320011f9d0b92efa235379```

look: ```hass/cover/bedroom_left/position/config``` contains already:
* ```"command_topic":"zwavejs2mqtt/bedroom_left/switch_multilevel/endpoint_1/targetValue/set"```
* ```"set_position_topic":"zwavejs2mqtt/bedroom_left/switch_multilevel/

[2020-12-15 07:02] billiaz commented on #66
Pull request: https://github.com/zwave-js/zwavejs2mqtt/pull/76

[2020-12-15 07:03] billiaz commented on #66
mistake :)

[2020-12-15 07:17] #66 closed

[2020-12-15 07:24] robertsLando commented on #69
@ODINServ Because when endpoint is > 1 it was already added, with that fix it is always added in the topic

[2020-12-15 11:02] billiaz opened #77 "[feat] Ability to manage better State Sensitive Command Classes"
## Issue

We currently face an issue, which the previous driver solved with it's own internal process.

The new driver (zwave-js) does manage all the value updates from different command classes. There are specific classes which might enter a state, but have no signal of exiting this state. This is by design of Z-wave and unfortunately we cannot avoid it. The reason usually is for saving energy.

[2020-12-15 13:45] AlCalzone commented on #77
I still have some questions which haven't been answered yet:
**Why** do we need to emit an update for the values which are read from cache on startup/restart? What happens if we don't?
Or is that due to MQTT retention (which seems to be on for all values)?

---

**If** it is due to the latter, handling this shouldn't happen on a per-CC basis but rather on a per-value basis (e.g. by adding a new me

[2020-12-15 14:41] robertsLando commented on #77
We could skip publish when value is coming from cache, usually this is done because for some reason user could have cleaned all the retained values on broker and this would init them.

Then to fix the retain problem of such values we should firstly identify them and then set the retain flag to false when publishing them.

FYI @AlCalzone retain flag is a flag set when publishing a message to mqtt,

[2020-12-15 14:59] AlCalzone commented on #77
Ok so in other words:

If we don't, the broker might not have all values, since they might have been cleared. Is it possible to feed the values to the broker **without** causing it to emit an event for that? Or does that have other downsides?

So okay to what I wrote above?

[2020-12-15 15:09] robertsLando commented on #77
Nope, this cannot be done.

Absolutely! In poor words the only problem remains how to handle values coming from cache on startup. IMO for this the only way would be adding a flag into the payload `"fromCache": true`.

[2020-12-16 16:50] robertsLando commented on #64
@larstobi I will close this in favor of: https://github.com/zwave-js/zwavejs2mqtt/issues/23

[2020-12-16 16:50] #64 closed

[2020-12-16 16:51] #7 closed

[2020-12-16 16:51] robertsLando opened #78 "[feat] Rgb colors management"
zwave-js/node-zwave-js#806

[2020-12-16 16:52] robertsLando opened #79 "[feat] Improve UI user values"
Nodes values should be grouped In sections and command classes

[2020-12-16 16:55] robertsLando commented on #59
Opened an issue for that #79 , can this be closed?

[2020-12-16 16:56] robertsLando commented on #22
@ODINServ Can this be closed?

[2020-12-16 17:43] katiuskt commented on #59
I think this issue and the #79 are different ones.

This case was raised by @chilicheech because Home_Security-Motion_sensor_status and Home_Security-Cover_status information aren't shown into User section of the GUI.
Yesterday I've updated the docker image (dev tag) and still that information was missing for my Motion Sensor (Fibaro FGMS001)

Issue #79 seems to be more related with the way to dis

[2020-12-16 17:54] larstobi opened #80 "[bug] Network key generator doesn't work when previously empty"
**Version**
master

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

**Describe the bug**
When the network key field is empty, and you click the generate key button, it doesn't work. If you manually put in a key, save, and then try to regenerate the key, it works.

**To Reproduce**
Steps to reproduce the behavior:
1. Have empty network key fi

[2020-12-17 05:42] billiaz commented on #23
We also have no way to get driver logs on Console (when docker is involved) it would be nice to be able to see the driver logs there @robertsLando

[2020-12-17 06:26] robertsLando commented on #23
Hummm really? Does this also happen with z2m logs? Because yesterday we switched to winston logger... could you give it a try with docker? It's on master

[2020-12-17 06:40] billiaz commented on #23
I will give it a try, I suspect I have already this.

[2020-12-17 07:07] billiaz commented on #23
@robertsLando the change does not show in console the driver logs when run on docker. The only way to debug driver logs is through store to file.

[2020-12-17 08:15] robertsLando commented on #23
@billiaz my question was not if that change fixed the zwavejs side but it may broke also z2m logs as we have moved to winston too and that may be the root cause of the problem. If you still see z2m logs in docker logs it's ok, the problem is something on zwavejs side or maybe it's something related to some env vars wrongly set?

[2020-12-17 14:08] cinadr opened #81 "[bug] AEOTEC Range Extender 7 is not identified."
**Version**

Build/Run method
- [ ] Docker
- [x] PKG - running on Windows Server 2019 core
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: latest alpha

**Describe the bug**
former ZWave2MQTT identified my zwave repeater. This version says unknown manufacturer 881, under Product states number 4, and product code is Unkown Product 189
Tried to Heal and request

[2020-12-17 17:04] #80 closed

[2020-12-17 21:29] katiuskt commented on #59
Just in case it helps, in ZWave2MQTT the information for the Fibaro FGMS001 is shown in GUI:
![image](https://user-images.githubusercontent.com/75622100/102545936-3823df80-40b7-11eb-9c02-dec4b31498db.png)

[2020-12-17 21:34] katiuskt commented on #60
Just in case it helps: Using ZWave2MQTT the information for all the entities of the Fibaro FGMS001 are shown properly in HASS:
![image](https://user-images.githubusercontent.com/75622100/102546243-a072c100-40b7-11eb-8add-7f54bfb728a4.png)

[2020-12-18 03:14] jmgiaever opened #85 "[feat] store directory env var"
How to change the path where the store-data is stored?

[2020-12-18 06:31] robertsLando commented on #85
Why would you need this?

[2020-12-18 07:40] jghaanstra opened #87 "[bug] Network graph breaks when nodes are removed"
**Version**

Build/Run method
- [*] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.0 (dev tag)

**Describe the bug**
A removed node breaks the network mesh graph with the following error in the console.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Exclude a node from the mesh
2. Open the network graph option

**Ex

[2020-12-18 08:18] jghaanstra opened #88 "[feat] Add missing Neo Coolcam devices"
**Is your feature request related to a problem? Please describe.**
I'd like to see some missing Neo Coolcam devices to the database.

* NEO Coolcam plug V2 NAS-WR02ZE with ID 600-4135-512 (0x0258-0x1027-0x0200)
* NEO Coolcam plug of unknown type with ID 1050-8-512 (0x041a-0x0008-0x0200)

[2020-12-18 09:29] billiaz opened #89 "[bug] Driver logs are not pushed on main STDOUT/STDERR"
We face an issue with the zwave-js Driver logs. When running the command in our Shell, we can see all logs from zwavejs2mqtt and zwave-js driver in console.
Once we run a Docker container *OR* push stdout/stderr logs to a file, Driver logs missing

Testing this:
Console output:
[code]

Pushing STDOUT to a file (like docker does)
[code]

[code]
b file is STDERR and is empty

[2020-12-18 09:39] jmgiaever commented on #85
I want to make a snap package of it, but all the system-files lives in a read-only mount and I will need to specify where the store directory, that needs to be in a writable mount, is located. It's common to be able to set "config directories" through a flag or something?At the moment it will try to write to this directory in the r/o space, and fail. On Dec 18, 2020 7:32 AM, Daniel Lando <notifica

[2020-12-18 09:50] robertsLando commented on #85
@jmgiaever You could create a symlink ?

[2020-12-18 10:18] jmgiaever commented on #85
No, the path to the writable directory is changed for every revision of the snap, and the symlink will break. The symlink must also be created after installation to determine the writable location, and then the filesystem is readable and not possible to add a symlink to. On Dec 18, 2020 10:50 AM, Daniel Lando <notifications@github.com> wrote:
@jmgiaever You could create a symlink ?

—You are recei

[2020-12-18 14:08] jghaanstra commented on #87
Seems fixed with `1.0.0-alpha.1`

[2020-12-18 14:08] #87 closed

[2020-12-18 16:28] robertsLando commented on #85
@jmgiaever I could make it configurable using env vars. Would it be ok for you?

[2020-12-18 16:29] robertsLando commented on #85
It comes from: https://github.com/zwave-js/zwavejs2mqtt/blob/master/config/app.js#L4

[2020-12-18 17:04] oxgl opened #91 "[bug] Entities missing in Home Assistant"
Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.1

**Describe the bug**
Some entities are missing in Home Assistant. The problem is that zwavejs2mqtt is creating topics in MQTT with spaces in topic name. As an example, one of sensor configurations is under topic
`homeassistant/sensor/n015_ws_boilerw/notifica

[2020-12-18 17:06] jmgiaever commented on #85
That would be perfectly fine :D Highly appreciated! :)

[2020-12-19 01:47] kpine opened #92 "[bug] Thermostat operating state value is not displayed as text"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: v1.0.0-alpha.1

Using tag `latest` so I'm not sure the exact build.

**Describe the bug**
For a climate device, the control panel is not displaying the "Operating state" text value (Heating, Cooling, etc), instead it is an integer. Compare that with the "Therm

[2020-12-19 16:51] praveen12bnitt opened #93 "[bug] Unable to add inovelli switch to zwavejs2mqtt"
**Version** Version: 1.0.0-alpha.1

Build/Run method
- [ ] Docker

zwavejs2mqtt version: 1.0.0-alpha.1

**Describe the bug**
Unable to add inovelli switch to zwavejs2mqtt

**To Reproduce**
Set the controller to inclusion mode and add the zwave device. The device show up in the UI, but it does not show the manufacture, product or other info.

[2020-12-19 19:13] katiuskt commented on #60
The root cause of this is the same issue as it has been reported in https://github.com/zwave-js/zwavejs2mqtt/issues/91. Removing the blank space in the Discovery topic the entities are detected by HASS finally

Still missing several entities detected by OZW and not reported now (those relative to X, Y, Z acceleration or seismic sensor) but I guess it deserves another issue report.

[2020-12-20 03:14] Lopton opened #94 "[bug] 113-0-Access Control-Door state not sending MQTT message (spaces in topic?)"
**Version**
Build/Run method
- [ X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha

**Describe the bug**
When my Aeotec door sensor reports a notification that the door is open, no MQTT message appears to be generated.

**To Reproduce**
Steps to reproduce the behavior:
1. Add Aeotec Door Sensor 7
2. Open door, observe debug log

[2020-12-20 09:00] robertsLando commented on #94
Thanks for the issue @Lopton ! Will fix it tomorrow :)

[2020-12-20 14:47] sieukrem opened #95 "[bug] docker run fails on raspberry pi"
**Version**

Build/Run method
- [x] Docker (Digest  sha256:3b37d20d1f5b2e508ee8a261101b22d825ced779a6ca772719452a6c9f0e21ae)

zwavejs2mqtt version:  1.0.0-alpha.1

**Describe the bug**
I start the fresh loaded docker image zwavejs/zwavejs2mqtt with folder mount, where no files currently exist.

I see following output.

[code]

**Expected behavior**
* Zwave2mqtt starts without any errors and does n

[2020-12-20 17:09] sieukrem commented on #95
@ahochsteger I assume the error I am observing relies on changes from #67. Is there  a workaround for missing settings?

[2020-12-20 20:06] ahochsteger commented on #95
@sieukrem thanks for reporting - yes this bug has been introduced with #67.

A simple workaround is to create the file `store/settings.json` with at least the following contents:
[code]

A bugfix will be available shortly.

[2020-12-20 20:18] billiaz commented on #91
I will test this

[2020-12-20 20:54] billiaz commented on #94
I am already testing a small fix @robertsLando please check my pull request once i post it for comments

[2020-12-21 08:22] jghaanstra opened #101 "[bug] UI doesn't show some states in lists values"
**Is your feature request related to a problem? Please describe.**
Greenwave sockets have an annoying feature where the LED on the socket starts blinking after a configurable time of inactivity. The highest value you can set this to is however 255 minutes (setting 112-0-1). For sockets that are not used that much or for instance at night this blinking occurs after this time. To avoid the LED from

[2020-12-21 09:00] #95 closed

[2020-12-21 09:03] #60 closed

[2020-12-21 09:03] #91 closed

[2020-12-21 09:03] #94 closed

[2020-12-21 09:12] robertsLando commented on #92
@kpine Thanks for the issue, I'm not able to repro this on my side (I don't have a thermostat). Could you show me a screenshot? Could you also try to use `dev` tag instead?

[2020-12-21 09:15] robertsLando commented on #59
I'm a bit lost here, @chilicheech is this fixed oin latest version? is this something on my side or related to zwavejs? Do you see that value added in console logs and it's not showed on UI ?

[2020-12-21 10:37] robertsLando commented on #92
Dup of #101 , @kpine follow updates there

[2020-12-21 10:37] #92 closed

[2020-12-21 10:38] robertsLando commented on #101
@kpine Also reports some strange behaviour on ui with thermostat operating state

[2020-12-21 10:42] jghaanstra commented on #101
It's not just the UI I think. It looks to update the value when I edit the setting in the UI but on reloading the page this config value is empty again. This setting is also not published on the MQTT server.

![image](https://user-images.githubusercontent.com/4710062/102768500-91bf2f00-4381-11eb-9f4b-90b76a98352c.png)

[2020-12-21 10:46] robertsLando commented on #101
@j9brown Do you press the send button when you change it from the select?

[2020-12-21 10:53] jghaanstra commented on #101
I assume you wanted to mention me. Yes, I did press the send button. Tried multiple times.

[2020-12-21 10:54] robertsLando commented on #101
I think I know what's going on, let me try to submit a fix for this

[2020-12-21 10:56] jghaanstra commented on #101
There is actually another setting right next to it for the power on state (112-0-3) which shows the same behaviour. Also a select list that does not seem to do anything. If the fix is generic this will be fixed as well, if not you might need to look into that as well.

[2020-12-21 12:43] robertsLando commented on #101
The strange thing here is that those values doesn't have a  `value` and `newValue` props

[2020-12-21 12:50] robertsLando commented on #101
@jghaanstra @kpine could you give a try to #102?

[2020-12-21 12:53] jghaanstra commented on #101
I'm running a Docker container. Not sure how to test a single commit.

I just noticed something else. The controller status is reporting `Driver: Configuration: "4" must be of type "number", received "string"` after trying to update one of the mentioned settings. It seems it's trying to save the string from the list. Is that what you fixed with the latest commit?

[2020-12-21 14:26] robertsLando commented on #101
@jghaanstra could you show me the z2m output? it should output something like `unable to write value xx to yyy`

[2020-12-21 14:32] jghaanstra commented on #101
I made a video showing what is going on.

https://user-images.githubusercontent.com/4710062/102787674-bb884e00-43a1-11eb-9aec-2348671ff3eb.mp4

[2020-12-21 14:41] robertsLando commented on #101
@jghaanstra thanks for the video, now it's more clear! firstly I thought that you didn't see the option but now I see that the options are there but the problem is that the write request fails for some reason. Anyway you will never see the log in this way as the log only works while the debig tab is active. YOu should check logs using docker logs command

[2020-12-21 14:45] jghaanstra commented on #101
Ok, that's good to know. If I have two tabs open I see some logging when editing one the mentioned configuration values. This is waht is says:

[code]

[2020-12-21 14:55] aretakisv commented on #101
@jghaanstra can you enable log to file! set it to silly and restart your container?
then under bin/zwave-1.log (1 stands for the PID of your node) you will see the logs of the Driver.

Once everything settles try to tail the log and send the same command, then paste here the logs!

We will see what driver replies

[2020-12-21 15:19] jghaanstra commented on #101
Here you go.

[code]

[2020-12-21 15:24] AlCalzone commented on #101
That looks like the set command goes through, but the followup get to verify the change doesn't work.

[2020-12-21 15:32] AlCalzone commented on #101
Just tested again with my device (without the zjs2mqtt though) and the get request gets a response 🤷🏻‍♂️

[2020-12-21 15:33] robertsLando commented on #101
@AlCalzone Do you think it's something caused by z2m? could you give it a try?

[2020-12-21 15:35] AlCalzone commented on #101
let me try

[2020-12-21 15:45] AlCalzone commented on #101
Works like a charm 🤷🏻‍♂️

[2020-12-21 16:00] jghaanstra commented on #101
Ok, that's weird. What version of zwavejs2mqtt are you using and how does it look like on the MQTT server?

[2020-12-21 16:30] AlCalzone commented on #101
I compiled and ran the version from github master. I normally don't use mqtt or the dashboard, what do you mean with

[2020-12-21 16:37] jghaanstra commented on #101
Do you see the configured values of these setting on a connected MQTT server? Because I'm not seeying anything there. The configuration values are missing completely.

![image](https://user-images.githubusercontent.com/4710062/102799663-1eceac00-43b3-11eb-89e0-d969bb33b9c7.png)

[2020-12-21 17:13] katiuskt commented on #59
@robertsLando , I think the first issue reported by @chilicheech is those 113 objects aren't shown into zwavejs2mqtt "User" section.

In fact, I also expect to find them there (as they are there into Zwave2MQTT, see screenshots above). *But* taking a look deeper I see they are under "System" section! Is that place the expected one?

![image](https://user-images.githubusercontent.com/75622100/10280

[2020-12-21 18:29] chilicheech commented on #59
hey @robertsLando the issue is as @katiuskt describes. I didn't look under the system section so i missed that they were already there. but, as @katiuskt mentioned, in z2m it shows up under the user section, which makes more sense. it would be nice to move them to the user section in zjs2m as well.

[2020-12-21 18:32] katiuskt opened #104 "[bug] FGMS001 motion detection does not update MQTT sensor state (48-0-Any)"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: I'm not sure how to get this. I'm using zwavejs/zwavejs2mqtt:dev pulled on 21st Dec

**Describe the bug**
ZwaveJS2MQTT is not updating the motion information (topic 48-0-Any) for the Fibaro FGMS001 motion sensor.

If I understand properly, for this device Zwav

[2020-12-21 18:53] billiaz commented on #104
I fae the issue with the same sensor. and sometimes becomes true. and stays true.
Reading debug log of the driver, Notification is the command class they update when motion is detected. and not the binary.

I do not know the reason but seems device is not sending to driver. I use the Notification CC for motion detection.

[2020-12-21 18:54] katiuskt commented on #104
Based on the latest comment at the above mentioned OZW case where this very same behavior was discussed:

I'm not sure if I want the "older sensor reports" but I would like to have a binary_sensor with a boolean behavior for HASS so I think "let's try it".
So, taking a look at the sensor documentation, it seems like you could set some associations for it as mentioned into the OZW case:
![image](ht

[2020-12-21 18:57] billiaz commented on #104
this morning on dev branch we released a patch, which creates the notification entity.
I am also working on introducing human readable payload to HASS which instead of 0/8 shows the state per the Specification of Z-wave

[2020-12-21 18:57] katiuskt commented on #104
Thank you @billiaz !

If you don't mind: I understand you are using the CC 113 reports, right? Is there a way to map them into a boolean binary_sensor to be discovered by HASS?

[2020-12-21 19:01] katiuskt commented on #104
Oh, great news! Would that mean a tipical binary_sensor in HASS could be used? Or it means those 0/3/8 values will be reported in a more understandable words ("Tampering, product covering removed", "Motion Detection, unknown location")?

[2020-12-21 19:04] billiaz commented on #104
you can create your own Binary sensor with custom devices. and Zj2m will create this entity.
copy another binary sensor and post it. If you give me a bit of time I can help you on this.

an example would be:
[code]
this is a sensor, binary supports vlue_on and value_off
you need to fix static point with the full name of 113 class, and values! also attach thsi under the list of the Id of the device

[2020-12-21 19:56] #79 closed

[2020-12-21 22:35] AlCalzone commented on #101
Hmm that's all I see there:
![grafik](https://user-images.githubusercontent.com/17641229/102828493-2dce5200-43e5-11eb-82af-07169059fa48.png)

[2020-12-22 07:00] kpine commented on #101
Here's what the UI looks like for my thermostat:
![image](https://user-images.githubusercontent.com/791794/102858086-851cf400-43de-11eb-8596-9c837c6b4c46.png)

Note I am just observing how the values are displayed, I'm not trying to set anything. The Operating state shows 0 but I would expect "Idle". It is a list, according to the MQTT data I posted in #92. Similarly, the mode value is a list, cur

[2020-12-22 07:48] robertsLando commented on #101
Ooh got it, operating state is read only, that’s why you see a number. It’s an easy fix so

---

Daniel

[2020-12-22 13:08] robertsLando commented on #59
I have submitted a patch yesterday that now groups valueids by cc, check master or use `dev` tag if you are using docker :)

If this is the only one issue you are expecting I'm 99% sure that it's fixed now. Try master and let me know, if not fixed feel free to reopen it

[2020-12-22 13:08] #59 closed

[2020-12-22 13:34] #101 closed

[2020-12-22 13:34] robertsLando commented on #101
@jghaanstra Check master :)

[2020-12-22 13:36] jghaanstra commented on #101
Thanx, I''m running a Docker container though and need to wait till `dev` or `latest` has been updated.

[2020-12-22 13:37] robertsLando commented on #104
@AlCalzone

[2020-12-22 13:37] #22 closed

[2020-12-22 13:38] robertsLando commented on #101
`dev` will be updated once this is completed: https://github.com/zwave-js/zwavejs2mqtt/runs/1595051810

[2020-12-22 16:35] AlCalzone commented on #104
Yes? What?

[2020-12-22 16:45] robertsLando commented on #104
@AlCalzone this remeber me another issue

[2020-12-22 16:48] katiuskt commented on #104
Thank you @billiaz: I'll try to figure it out to create a boolean device. If not, I guess I could create a binary_sensor in HASS with values taking from template of the autodiscovered from ZwaveJ2MQTT.

Regarding the option mentioned in Sensor documentation (and also into the OZW issue) about the posibility to include the sensor into group 4 which: In OpenHAB (completely different ZWave stack than

[2020-12-22 17:13] robertsLando commented on #104
@katiuskt Did you try to do it from groups tab? There you can manage associations

[2020-12-22 17:20] AlCalzone commented on #104
That are the associations. You can add the controller node (usually 1) to the node's group.

[2020-12-22 18:39] chilicheech commented on #59
hey @robertsLando , thanks for your work on this. I built a new container from master and this is what i now see:
![Screen Shot 2020-12-22 at 10 32 52 AM](https://user-images.githubusercontent.com/732659/102921442-39e7fd00-4441-11eb-88df-e5e27b8fb091.png)
So the CCs are all grouped which is very nice. But the main issue still persists. The issue is that we believe the CC 113 should show up in the

[2020-12-22 19:16] chilicheech commented on #60
Sweet, this fixed made the entities show up in hass for me. I now have motion detection and door open/closed status :)

[2020-12-22 21:26] jghaanstra commented on #101
I updated to latest `dev` but my issue is not resolved unfortunately. What can I do?

[2020-12-22 21:48] jghaanstra commented on #101
And here is the log from the file.

[code]

[2020-12-23 07:23] robertsLando commented on #101
Nope is the log that is showing undefined because the value sent there hasn't a property `id`. Now I have submitted a fix to show the correct id there.

Based on your logs seems the command isn't received but it's sent correctly, @AlCalzone device issue?

[2020-12-23 07:40] jghaanstra commented on #101
I have multiple Greenwave devices that behave the same way and which are working fine on zwave2mqtt (including this setting that allows me avoid the blinking of the LED). That does not indicate a device issue. What would be the correct topic for updating this config value through MQTT, perhaps that works?!?

[2020-12-23 07:59] robertsLando commented on #101
It depends on your gateway configuration, do you have mqtt explorer? If so just find the topic where that configuration is published, add `/set` to the end and publish the value you want to set. Anyway I don't say it's your device bugged but maybe it needs a compatibility flag or something else in order to make this working, your previous logs seems truncated, could you send a full log of a write

[2020-12-23 08:38] AlCalzone commented on #101
Can you show me a log of that please? Looking at the log above it seems like the set command is acknowledged, but verifying the change fails because the device doesn't answer for some reason.

Also: which firmware versions do your devices have? Mine is on 4.28.

[2020-12-23 09:38] robertsLando commented on #60
@chilicheech with last commit from @billiaz now notifications also reports the string and not the numeric value :tada:

[2020-12-23 09:39] robertsLando commented on #59
@chilicheech I'm not really sure that is from muster, them are not grouped by CC.

[2020-12-23 10:05] robertsLando opened #106 "[feat] HASS Suport list values to use mapped templates"
Related to #105

[2020-12-23 10:05] robertsLando opened #107 "[feat] Support all notification types with custom icon"
Related to #105

[2020-12-23 10:23] jghaanstra commented on #101
When I try to set it with `zwave/logeerkamer/crosstrainer/112/0/4/set` the result is:
![image](https://user-images.githubusercontent.com/4710062/102983445-60269f00-450c-11eb-9f8f-6a42de634e32.png)

As you can see there are also two setting topics under `zwave/logeerkamer/crosstrainer/112/0/` and `zwave/logeerkamer/crosstrainer/112/ /` . Especially this last one seems strange to me with an empty va

[2020-12-23 10:27] robertsLando commented on #101
@jghaanstra What's the payload type you choosed in settings? Json time-value, raw value, valueId?

[2020-12-23 10:33] jghaanstra commented on #101
Hmm, thought I'd set to raw but was using json. Tried it as raw now though but there is no difference in result. The value in the UI stays empty. What I'm seeying though is that the manually  set value of `zwave/logeerkamer/crosstrainer/112/0/4` is removed after restarting the container while the value `zwave/logeerkamer/crosstrainer/112//4` is maintained. Not sure if that means anything.

[2020-12-23 10:52] robertsLando commented on #101
@jghaanstra are you using valueId topics or named? Anyway I suggest to use json-time value or valueId payloads, and remember that when you send commands you have to use that payload, you cannot use raw payload for commands if you have set json payloads

[2020-12-23 10:57] robertsLando commented on #101
@jghaanstra If you were using named topics there was a bug fixed with this PR: https://github.com/zwave-js/zwavejs2mqtt/pull/74

[2020-12-23 11:30] jghaanstra commented on #101
I'm using ValueID topics with "Just value" as payload type.

I'm about to give up on this though. I'll just put some duck tape over the LED or replace them with other sockets.

[2020-12-23 11:45] AlCalzone commented on #101
Uhh I just found something:
![grafik](https://user-images.githubusercontent.com/17641229/102993001-aa178100-451c-11eb-9405-01f1cfaf258b.png)

That explains why you had to frequently change parameter 1 to keep the light off...

[2020-12-23 11:51] jghaanstra commented on #101
Oh wow, that explains why I cant set these values. Nice find.

It's still strange though that trying to set this value within the timeout on zwave2mqtt actually resulted in the LED never blinking while I have not been able to achieve this on zwavejs2mqtt. I'll see if I can find a different configuration value that I can change every 4 hours to avoid the blinking.

Case closed and sorry for wasting

[2020-12-23 12:28] AlCalzone commented on #101
I can't explain that. Both drivers send the same (standardized!) commands, so there shouldn't be any difference.

[2020-12-23 17:40] katiuskt commented on #104
Thank you all

@robertsLando : Thank you, I didn't notice about the "Group" option into the GUI. Still not understanding well how to put the sensor on group 4 (Motion BC) but I'll figure it out.

@billiaz : Thank you for your tip. In first place I wasn't able to create the HASS Device JSON properly in ZwaveJS2MQTT so I created a binary_sensor directly into HASS with templates to map de values (0/8

[2020-12-23 18:13] AlCalzone commented on #104
No, you don't put the sensor there. These are the device's groups. You put the controller (node 1) there so it receives the messages from group 4.

[2020-12-23 21:47] chilicheech commented on #59
Ah, i forgot to build the image without using the cache. I was able to build a new one and i now see everything grouped by CC. Looks great!

[2020-12-24 13:24] katiuskt commented on #104
Thank you @AlCalzone! It makes totally sense to me now!

[2020-12-24 13:48] katiuskt opened #108 "[bug] Missing sensors for three (of four) of the Octan NodOn Remote Controller scenes"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: I'm not sure how to get this. I'm using zwavejs/zwavejs2mqtt:dev pulled on 24th Dec

**Describe the bug**
Missing HASS devices for NodOn Octan Remote Controller CRC-3100.
Manufacturer ID: 357
Product Type: 2
Product ID: 1

Once you hace included your Noctan Oc

[2020-12-24 16:56] katiuskt opened #109 "[bug] Wrong topics for autodiscovered devices of Greenwave PowerNode 6-plug"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: I'm not sure how to get this. I'm using zwavejs/zwavejs2mqtt:dev pulled on 24th Dec

**Describe the bug**
Autodiscovered devices for Greeenwave PowerNode 6-plugs are using wrong topics
Manufacturer ID: 153
Product Type: 3
Product ID: 4
![image](https://user-im

[2020-12-25 05:33] billiaz opened #110 "[bug] When refreshing a node, values are empty"
After a Refresh Info command, values are empty

trying to fix this as also
1. UI has empty values
2. Log shows no values in console

[2020-12-26 10:45] robertsLando commented on #110
Could you show me the logs when you send a refresh info command?

[2020-12-26 10:46] robertsLando commented on #110
I think this is caused by some `logger.info(a,b,c)` that should be `logger.info(${a} ${b} ${c})`, something missed in the swtich to winston logger

[2020-12-26 10:54] robertsLando commented on #109
@billiaz I think this has been broken by one of the last changes, could you investigate?

[2020-12-26 10:57] robertsLando commented on #109
Or maybe @AlCalzone Did you changed something on your side that could have messed up units?

[2020-12-26 11:00] robertsLando commented on #108
@katiuskt Is there a valueId in control panel for those values? Could you shwom me the console log? Also could you export the node from the contorl panel and attach it here?

[2020-12-26 11:02] robertsLando commented on #104
Basically something like the JSON I've defined (with improvements if they are needed).

Is this always like that? I mean is that value always used for such purposes? If so we can do it

[2020-12-26 11:03] billiaz commented on #109
This behaviour was observed also on 5.5.0 driver.

But I ignored it for a bit, as we where still focusing on other bits

[2020-12-26 11:05] AlCalzone commented on #109
Nothing that comes to mind. I'll need to see the usual files to investigate (log and cache)

[2020-12-26 11:05] billiaz commented on #104
Most gateways use the unlnown soec binary, of this type as contact. I believe any behaves as should

[2020-12-26 11:07] AlCalzone commented on #104
The "any" sensor comes from an older CC version that does not specify the sensor type.
I don't think it is correct to always map that to motion.

[2020-12-26 11:08] robertsLando commented on #104
That's what I was thinking

[2020-12-26 11:09] robertsLando commented on #59
I'm not really sure that would improve visualization, what's the benefit?

[2020-12-26 13:40] billiaz commented on #110
i made this change too, but still that was not the case. as node is not ready. values never updated in ui

[2020-12-26 16:28] katiuskt commented on #108
Yes, in control panel I can see the 4 scenes and a switch/option I didn't saw before at OZW. Only one scene + that switch creates a HASS device:
![imagen](https://user-images.githubusercontent.com/75622100/103155264-4a300d00-479e-11eb-9400-ee52a0c41b7d.png)

Here you have the node JSON exported from GUI:
[node_9.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5743328/node_9.zip)

Regarding the

[2020-12-26 16:33] katiuskt commented on #109
I think it is only related with the autodiscovered devices for HASS provide by ZWaveJS2MQTT, not ZWaveJS itself because at Meter CC you can get all the information (timeDelta, Previous values, current values,...). The point is the generated JSON for HASS devices is a little bit messy: object_id names mention"w_meter" or "kwh_meter" and their topics pointed out to deltaTime ones and things like tha

[2020-12-26 16:50] katiuskt commented on #104
OK, thanks, understood.

I'll close this issue and I'll create manually the device to map the CC-113 message (notification_home_security_motion_sensor_status) to a boolean binary_sensor (device_class = motion) as suggested by @billiaz

[2020-12-26 16:50] #104 closed

[2020-12-26 17:23] billiaz commented on #109
I will take a look.
I suspect you talk about hass discovery,

If you are on slack, also ping me to talk/debug this

[2020-12-26 18:55] billiaz commented on #108
@katiuskt is this the soft remote?
An node export would help

[2020-12-26 18:56] billiaz commented on #108
@robertsLando I observe the same behaviour on my NodOn soft remote. I will debug further with it.
@katiuskt

[2020-12-26 19:01] billiaz commented on #109
@katiuskt I can reproduce this on my Fibaros. Therefore I can debug it there
@robertsLando

[2020-12-26 19:31] billiaz commented on #109
I found the issues causing this. When I discover a node this happens in "milliseconds"
first write on discovery topic:
[code]
second:
[code]
and third:
[code]

in total 6. The discovery topic does not contain the deltaTime and 65573, where unique id does
MQTT topic: homeassistant/sensor/Guestroom-switch/electric1_kwh_meter/config
this should be also causing the other issue #108 @robertsLando

[2020-12-26 19:51] billiaz commented on #109
@robertsLando I suspect this change caused it: https://github.com/zwave-js/zwavejs2mqtt/commit/311d0b446977acd05aba736abbbef0e8e897523a#diff-f8b02b650fe9a88dd67e7f9f1264bc28fa5868c6e99ac5c47962f04037c4329c

Suspect cause the constants.js does not return the full object id.

To be presise:
Tracing back the cfg.object_id I found `constant.meterType` (for instance) do not include on id the propertyNa

[2020-12-26 21:01] billiaz commented on #109
I believe having the same solution as notifications (for sensors) :https://github.com/zwave-js/zwavejs2mqtt/blob/35e755ef1904daf327ecbd954bbc3a0c9ca6933c/lib/Gateway.js#L1509
would be the solution.

[2020-12-26 21:41] billiaz commented on #109
@katiuskt if you can test the #112  and report back would be helpful

[2020-12-28 10:05] robertsLando commented on #109
Let me investigate, I think too

[2020-12-28 11:29] #110 closed

[2020-12-28 13:34] #108 closed

[2020-12-28 13:34] #109 closed

[2020-12-28 21:08] blhoward2 opened #115 "[bug] Cannot startup clean docker image -- "Cannot read property 'logEnabled' of undefined"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**
Upon a first-time install of the current docker image the docker image cannot start (either with docker-compose or just docker). It exits with the following error:

 ______                       _     ___                  _   _
|___

[2020-12-28 21:19] robertsLando commented on #115
@blhoward2 have you used dev tag?

[2020-12-28 21:20] blhoward2 commented on #115
No, I pulled the latest image and ran the docker command straight from the readme.

[2020-12-28 21:26] blhoward2 commented on #115
Cloning and building a custom docker image starts fine. Bad build?

[2020-12-28 22:17] robertsLando commented on #115
So you used latest tag, try to pull `dev` tag. I think that was a problem we have fixed some weeks ago

[2020-12-28 23:31] blhoward2 opened #116 "[bug] GE dimmers/switches do not reflect double taps and take the device dim out of sync in HA"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**

GE dimmer/switches are capable of double tap events. In zwave2mqtt these show as events under the node, with 255 indicating double tap up and 0 indicating double tap down. (My ozw device files were set to ignore the command mapping

[2020-12-29 04:07] decairn opened #117 "Monoprice door sensor no autodiscover of 2 entities in HA [bug]"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.1 from log, Docker is dev tag in place 12/28
HA: Hassio 2020.12.1

**Describe the bug**
Auto-discovery on HA finds the device and battery sensor but misses the door open/close sensor, and cover open/close sensor.

**To Reproduce**
Steps to reproduc

[2020-12-29 04:10] blhoward2 commented on #116
Note that these are older zwave plus models of the GE14294, not the newer models with Central Scene states.

[2020-12-29 04:46] blhoward2 commented on #116
More info from logs.

Double tap up:

[code]

Double tap down:

[code]

[2020-12-29 05:49] t00 commented on #115
I had the same problem and using a dev tag instead of latest works. Alternative would be probably to create a dummy settings.json file:

{"mqtt":{},"gateway":{},"zwave":{}}

By the way - is it possible to disable storing d8d2dd23.values.jsonl on disk? Constant disk writes add wear to storage for embedded devices...

[2020-12-29 06:02] blhoward2 opened #118 "[bug] Aeotec Water Sensor 6 does not discover binary sensors necessary for water detection"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**
The Aeotec Water Sensor 6 is detected as the correct model and some sensors setup, but the two binary sensors are not discovered by HA for the two water probes (using the dock). This worked correctly in 1.6.

The two notification cl

[2020-12-29 06:18] blhoward2 commented on #118
There are two sensors detected upon further investigation, and they correctly respond to water detection, but there should also be binary sensors created for consistency with other water sensors (as my others (Aeotec DSB45s) setup binary sensors even with zwavejs2mqtt). Having binary sensors also makes automations much easier.

[2020-12-29 07:17] robertsLando commented on #118
@blhoward2 What docker tag are you using? `latest` ? If so try first to use the `dev` tag

[2020-12-29 07:19] blhoward2 commented on #118
I built one off a clone I made this afternoon (using the command on the docker page). That should be at least as fresh as dev, no?

[2020-12-29 07:19] robertsLando commented on #115
node values are not stored on disk, there is a store handled by zwave-js, I dunno if writes can be reduced, need to ask to @AlCalzone that is the author of zwavejs

[2020-12-29 07:21] robertsLando commented on #115
@t00 I have created https://github.com/zwave-js/node-zwave-js/issues/1255 So I can close this one

[2020-12-29 07:21] #115 closed

[2020-12-29 07:22] robertsLando commented on #118
Nope. `dev` is builded on every commit on master, `latest` is builded on every release.

[2020-12-29 07:25] blhoward2 commented on #118
Got it. I’ll try that this weekend and then update all of the bugs I’ve filed.

[2020-12-29 07:26] robertsLando commented on #116
@blhoward2 Could you also show me the console logs of zjs2m?

[2020-12-29 07:27] robertsLando commented on #118
@blhoward2 I think that also other issues you have found may be resolved with that

[2020-12-29 07:29] robertsLando commented on #117
@decairn Do you see those sensors in control panel? Could you send me a screenshot of the node tab or the json export of the node?

[2020-12-29 08:05] decairn commented on #117
Currently none of those sensors show in the control panel.  All 3 did originally (and HA had 1 device 1 battery sensor discovered) but after a couple of restarts of HA and ZWJS the control panel changed. The control panel is now missing manufacturer, product and product code for the node, it is responding as the last activity date is from just now when I opened/closed the door. The JSON above is c

[2020-12-29 08:12] robertsLando commented on #117
@decairn It seems that your device is stucked in protocol info stage. @AlCalzone Ideas?

[2020-12-29 08:45] decairn commented on #117
Isn't that a side-issue? I see these staying on Initializing on regular HA ZWave integration and sensors are found and updated OK, so why not here? I'm still back at HA is not discovering 2 sensors using ZWJS2MQTT.  When I look at MQTT activity and ZWJS logs the open/close of a door is clearing publishing data to a topic.  My question would be what should the topic be to be discovered?

[2020-12-29 08:50] robertsLando commented on #117
The screenshot you provided isn't showing me node values, expecially I need to see the values you are missing from discovery.

Also a console log of zwavejs2mqtt output would be useful

[2020-12-29 11:50] AlCalzone commented on #117
The Screenshot shows that the device is asleep. Wake it up manually.

[2020-12-29 15:59] decairn commented on #117
I excluded the device from network, factory reset it, and re-added it.  It now imports all 3 sensors so I guess this is solved.
These particular devices don't respond to wake up (even the manual method from their manuals, a bunch of internet posts bitching about this are out there).
I have 3 more of these to do, if they fail I now have logging / steps to provide better info in future in case there

[2020-12-29 15:59] #117 closed

[2020-12-29 16:23] decairn commented on #117
Attaching "good" node json export while I have it.
[node_7.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5751353/node_7.zip)

[2020-12-30 07:30] robertsLando commented on #117
@decairn let me know if you still have this problems. If so attach both zwavejs and z2m logs so we can debug this

[2020-12-30 07:32] robertsLando opened #119 "[feat] Move docs to github pages"
Use [docsify](https://docsify.js.org/#/?id=docsify)

[2020-12-30 07:53] decairn commented on #117
I got 30 devices added today - switches, dimmers, motion sensor, door sensors, double plugs, high power plugs. Definitely something not working right on rediscovery after a node rename but I have a workaround; will add details tomorrow. Have a couple more devices to add so can get clean logs.

[2020-12-30 08:47] robertsLando commented on #117
If the node name is included in the topic you must press on rediscover node in order to fix discovery

[2020-12-30 10:05] cbho opened #120 "[bug] Endpoint 0 not exposed (Logic-Group ZHC 5010)"
**Version**
ZWave2MQTT v1.0.0-alpha.1 (from image zwavejs/zwavejs2mqtt:dev)

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

**Describe the bug**
When including [ZHC5010](http://ww.logichome.dk/index.php/10-support-categories/5-zhc5010-technical-information), only endpoints 1-4 are exposed (in the control panel as well as when inspecting the

[2020-12-30 10:51] robertsLando commented on #120
@cbho Essentially you don't see endpoint 0 values on UI right? If so It measn that zwavejs is not sending me them for some reason. COuld you attach the zwavejs logs here? Set the log level (of zwavejs in zwave settings) to debug, enable log to file and send us that file here.

[2020-12-30 11:24] cbho commented on #120
@robertsLando:
Correct, endpoint 0 aren't shown in the UI.
I've tried with MQTT Explorer if I could trigger the relay. If it is possible, I haven't been able to figure out the right command :-(

Regarding logfiles: Where are they located? I've mounted the /usr/src/app/store externally, but don't find any there...

[2020-12-30 13:26] robertsLando commented on #120
zwavejs log files are in `bin` folder (this is not correct but we need to wait next major release in order to make this available). All other files are in store folder, in order to have zjs2m log to file you need to enable it on gateway settings

[2020-12-30 14:05] billiaz opened #121 "[feat] Home Assistant Discovery improvements"
As a heavy user of Home assistant, I would like to have more integration with Home assisstant.
For instance, we can probably support assigning Devices (nodes) to current Areas (locations), when area exist.
Also would be easier for me to see the wording Device(node), Entity(device) and Area (location) under gateway configuration/hass discovery

### Proposal feature 1 (Support Area/Device config)
On

[2020-12-30 14:45] #121 closed

[2020-12-30 16:03] Swiftnesses opened #123 "[question] How to hide devices?"
Good day,

New user here 👍

I was wondering how I make changes to ID's permanent. For example on my Philio 4-in-1 sensor it shows the contact sensor as ""object_id": "contact_0" (hence it shows as this in HA). How can I change it to just "contact"?

Further, I'd like to hide certain items, i.e. stop them being discovered (which don't appear to work). I know I can do this in HA, but would rather do

[2020-12-30 17:41] katiuskt commented on #109
Tested latest docker dev version, it is working now and all devices are autodiscovered.
Thank you!

[2020-12-30 18:56] mcowger opened #124 "[bug] missing support for Inovelli Black Series Dimmer"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: Release 1.0.0-alpha.2

**Describe the bug**
Missing data for Inovelli Black Series Dimmer (see attached JSON export)>

**To Reproduce**
Steps to reproduce the behavior:
NA

**Expected behavior**
Inovelli Black Series DImmer is recognized

**Additional context*

[2020-12-30 19:14] billiaz opened #125 "[bug] Battery Low Binary sensor not discovered"
The binary sensor of battery low (128-*-isLow) is not showing in home assistant

It is under CC Battery but not a sensor. it is a binary sensor.

[2020-12-30 21:11] decairn commented on #117
On initial inclusion to zwjs the new node is pushed over to hassio, it creates a device called "node34" and has 3 similarly prefixed sensors.  All good. When the rename and rediscover of the node is done in zwjs side, the device name is updated in hassio but its 3 sensors do not change their name; I am expecting the sensors to update their name prefix in hassio
[node_34 exports.zip](https://github

[2020-12-31 03:53] blhoward2 commented on #123
Highlight the node, go to the bottom of the screen. Click Store. Click the sensor and makes our changes. Then save it.

[2020-12-31 04:33] scyto opened #127 "[feat] support for secondary controllers (and maybe transfer etc?)"
**Is your feature request related to a problem? Please describe.**
I want to add an ISY 994i as a secondary controller (i already have it as my current home automation engine)

**Describe the solution you'd like**
I would like the same option as in zwave2mqtt on the controller node - where there were options for multiple controller management (i would have to respin the docker to get the exact nam

[2020-12-31 05:06] scyto opened #128 "[feat]provide option for z-wave logs to be written to /store instead of /usr/src/app/bin"
**Is your feature request related to a problem? Please describe.**
attaching to the docker containers console to look at zwave logs is a minor annoyance

**Describe the solution you'd like**
let me write logs to /store - this means logs are persistent over time even if destroy the container, also means it is more transparent if logs are bloating vs hidden in the container (i connect to the docker

[2020-12-31 05:13] blhoward2 commented on #128
I second this though if you aren't on the dev image it looks like there are committed logging changes. In any event you can map just the log file instead of the directory in docker compose.

[2020-12-31 10:15] Swiftnesses commented on #123
I've done that, how do I get the changes to push back to HASS (in the right way)? I can delete the node from the MQTT integration and 'refresh the node', but that's not easy for battery sensors? If I click rediscover node, it's rediscovered but my changes to 'ignoreDiscovery' for each item are lost.

[2020-12-31 11:28] Swiftnesses opened #129 "[bug] Philio fails to report item to HASS (caused by '/' ?)"
Running latest docker dev.

My Philio 4-in-1 sensors fails to report an item to HASS.

`{
  "type": "binary_sensor",
  "object_id": "contact_0",
  "discovery_payload": {
    "payload_on": true,
    "payload_off": false,
    "value_template": "{{ value_json.value }}",
    "device_class": "door",
    "state_topic": "zwavejs2mqtt/44/48/0/Door/Window",
    "json_attributes_topic": "zwavejs2mqtt/44/48/

[2020-12-31 11:35] Swiftnesses commented on #129
I can confirm how I fixed it, I changed:

`"discoveryTopic": "binary_sensor/nodeID_44/contact_0/config"`

TO

`"discoveryTopic": "binary_sensor/nodeID_44/contact_zero/config"`

I assume a quirk of HASS MQTT discovery?

[2020-12-31 12:45] cbho commented on #120
Have enabled the "Log to file" but don't get any in the store-folder.
Instead, I,ve captured the log "live" in Portainer ([gist here](https://gist.github.com/cbho/5efc50104d1ed2961f04d5bdbe9798fc)).

The log includes starting the container, interviewing all nodes (which is at present only the controller and a Fibaro Dimmer 2) and the inclusiong process of the ZHC5010.

Hope this can help.
If you n

[2020-12-31 13:35] blhoward2 commented on #123
Do you have retain discovery turned on? If so you need to delete the MQTT topic. Then restart HA.

[2020-12-31 18:50] scyto commented on #128
@blhoward2 i looked at the log and it had a -1 at the end, i assumed (maybe incorrectly) that this indicated rolling logs where that number changes?  if not they yes i can map the log file as a bind mount.

[2020-12-31 20:21] johntdyer opened #130 "zwavejs2mqtt unofficial add-on for hassos installs"
I would love to run zwavejs2mqtt on my HassOS install.

**Describe the solution you'd like**
The typical approach would be an add-on, and I am hoping for an unoffical add-on repository

**Describe alternatives you've considered**
n/a

[2020-12-31 21:38] rwa opened #131 "[question] Logging and cache file"
First, amazing project! I am really glad there's an alternative developing to OZW. Looks like really solid work.

I'm testing this out on my zwave network by running the control panel.  I installed from source, and started the control panel using npm. I was initially getting very detailed logging under the "debug" tab - down to specific frames. I then changed the configuration to specify the loggi

[2020-12-31 22:23] rwa commented on #131
I think I figured out the cache thing. I noticed that a fresh checkout has nothing under store/, and if I blew away everything under there, it seemed to start fresh.

[2021-01-01 18:13] Swiftnesses opened #132 "[question] Philio PAN in-wall-relay workaround that worked in OZW, how to implement?"
Hello,

One of my Philio PAN in wall switches requires polling to ensure the correct switch states.

I previously used Node Red to call the Home Assistant zwave refresh for the endpoints. How can I achieve this?

BTW - Spent the day setting this up and getting everything working right in HASS (needed some minor persistent tweaks, but nothing too major!). Thank you for creating such a solid platfor

[2021-01-02 09:59] robertsLando commented on #131
Everything is located in store folder, except the zwavejs log file that is located in bin folder (there is an open pr on zwavejs repo to fix this)

[2021-01-02 10:02] robertsLando commented on #131
Just for info:
There are 2 loggers, one for zeavejs (zwave driver that replace ozw) and one for z2m.
Everything is store in store folder, settings.json contains the settings (gateway, zwave and mqtt), scenes contains scenes and other files are ozw cache files and start with the home hex number as prefix

[2021-01-02 10:02] #131 closed

[2021-01-02 10:10] robertsLando commented on #130
I think this is wasy to do by forking the existing addon for the Zwave2Mqtt , are you able to do it?

[2021-01-02 10:11] robertsLando commented on #128
@scyto there is an open pr for this, I was waiting zwavejs 6 to be released as it needs configurable logging options that was not available right now in zeavejs

[2021-01-02 10:12] robertsLando commented on #123
There is an ignore discovery flag on the discover json

[2021-01-02 10:13] Swiftnesses commented on #123
@robertsLando found it after posting (tested, works OK), will close now. Thanks!

[2021-01-02 10:13] #123 closed

[2021-01-02 10:19] robertsLando commented on #129
@Swiftnesses so you confirm it's not cause by the slash in the unique id? @billiaz thoughts on this?

[2021-01-02 10:20] robertsLando commented on #127
I think this is something that needs to be implemented on zwavejd and I think there is already an open issue. @AlCalzone

[2021-01-02 10:24] #125 closed

[2021-01-02 10:28] AlCalzone commented on #127
Yup https://github.com/zwave-js/node-zwave-js/issues/1070
Main problem is, this will require quite some manual testing and I do not have a secondary controller.

[2021-01-02 10:34] #119 closed

[2021-01-02 14:57] blhoward2 commented on #130
Just a note that you can do so even without an add on. Just install portainer and then install the docker image.

[2021-01-02 17:22] Lopton opened #133 "[feat] Target Value should be selectable by user"
**Is your feature request related to a problem? Please describe.**
Currently the targetValue is a toggle switch. This toggle is (by design?) out of sync with the current state of the switch. So what happens is that the "current value" will show true, but the target value will show false. Now to turn off the switch I have to issue two commands, once to toggle the target value on then, then another

[2021-01-02 17:59] scyto commented on #127
Happy to do some testing I have multiple (isy994i and a vera and an aeon/aeo stick or two)

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: AlCalzone <notifications@github.com>
Sent: Saturday, January 2, 2021 2:28:23 AM
To: zwave-js/zwavejs2mqtt <zwavejs2mqtt@noreply.github.com>
Cc: scyto <lx_b@msn.com>; Author <author@noreply.github.com>
Subject: Re: [zwave-js/zw

[2021-01-03 00:14] blhoward2 opened #134 "[feat] and [bug] Nowhere to see what version you are running?"
**Is your feature request related to a problem? Please describe.**

As far as I can tell, there is nowhere easily accessible to determine your build date. Additionally, where it is meant to display the major version number is cut off by the fixed width of the sidebar.

![Screen Shot 2021-01-02 at 7 12 43 PM](https://user-images.githubusercontent.com/33612110/103469107-85968280-4d2e-11eb-8768-211b9

[2021-01-03 02:00] Lopton opened #135 "Troubleshooting: MQTT message recieved but no Z-Wave command sent."
I'm looking for any advice on how to provide meaningful data for a problem I'm having with a multiswitch relay (1 device 3 binary switches) where I see Zwavejs2mqtt get a mqtt message but then does not do anything (ie. does not send a zwave command). This is the log message
`2021-01-03 01:57:31.663 INFO MQTT: Message received on zwaveJs2Mqtt/Backyard/24/37/3/targetValue/set`
I can get the switch t

[2021-01-03 02:07] Lopton commented on #135
I looked at the MQTT messages and don't see much difference, could it be that the switch I'm working with has multiple endpoints?

MQTT for currentValue for switch that doesn't work:
`{"id":"24-37-3-currentValue","nodeId":24,"commandClass":37,"commandClassName":"Binary Switch","endpoint":3,"property":"currentValue","propertyName":"currentValue","type":"boolean","readable":true,"writeable":false,"l

[2021-01-03 03:22] blhoward2 commented on #116
I can confirm that the same issue persists on the most recent dev image, pulled today.

Double-tap up (from a prior double-tap up state, hence 255-->255):

![Screen Shot 2021-01-02 at 10 13 38 PM](https://user-images.githubusercontent.com/33612110/103471023-a8ce2b80-4d48-11eb-9303-8abb1f56e357.png)

Double-tap up from off, just in case being in a former double-tap state affects it (note this one i

[2021-01-03 03:30] blhoward2 commented on #118
I can confirm that this issue persists on the most recent dev image, pulled today. The only binary sensor created is for the battery level. There should be two binary sensors created as this sensor has two probes.

![Screen Shot 2021-01-02 at 10 30 19 PM](https://user-images.githubusercontent.com/33612110/103471132-1f1f5d80-4d4a-11eb-8281-9cbb6e82b132.png)

[2021-01-03 04:24] blhoward2 commented on #116
I opened an upstream bug as I believe this results from this: https://github.com/zwave-js/node-zwave-js/issues/388

[2021-01-03 06:49] awulf opened #136 "[bug] COMMAND_CLASS_BARRIER_OPERATOR not showing for Aeotec Garage Door Controller"
Hi, not sure if this is a bug, help, or feature request issue. But the barrier operator function seems to be missing from the device control panel.
I'm just looking to migrate from using Home Assistant OZW to this, if I can get the garage door barrier working it looks like it be the way to go, as all the other devices seem to be working fine, and much more responsive than in Home Assistant.

Brows

[2021-01-03 07:20] bachya opened #137 "[bug] Can’t lock/unlock Schlage BE469 (via HASS Discovery)"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2

**Describe the bug**
Connected to Home Assistant via HASS Discovery. When HASS loads, the lock shows an `unlocked` state no matter what. When I attempt to lock/unlock the lock, I get an error:

[code]

[2021-01-03 10:07] dvbit opened #138 "[question] fibaro223 not properly discovered"
Ciao
As per the title I have a couple or fibaro 223 that are not fully discovered. Just one sub device is presented (one out of two devices).
I see at the Zwjs level they have just ine switch. Not only at hass. It was previously correctly enumerated on other integrations (I have done no reinclusion).
Already tried node refresh , heal rediscover and network heal.  Unfortunate no success. Thanks for

[2021-01-03 13:28] dvbit opened #139 "[feat] Provide a way to distinguish changes"
Include a field in mqtt set message to differentiate UI/Automation  originated state changes vs Physical pressure originated
Include a field in mqtt status  to differentiate mark how sttus was set UI / Automation vs Physical pressure

Objective: Provide a simple way for automation override

[2021-01-03 14:02] billiaz commented on #138
I have multiple 223 and work as expected. Are you running the latest build from dev ?
can you give some examples what is missing? Also you can export the node json from the nodes themselves!

If you provide with a json export of the node, and some more specific example I might be helpful

[2021-01-03 14:07] billiaz commented on #137
I want to help fix this discovery
I suggest
1. to export the node json and post it. I am interested to find out where it stucks.
2. enable log to file forl the driver and add silly as mode, then once everything is interviewed exeute the command and send us the driver output. until new version (6.0) is added, we will need to get these info from the `bin/zwave-<pid>.log` of your docker container. <p

[2021-01-03 15:10] dvbit commented on #138
Ok . I will try to switch to dev .
Try because I am using a docker is there a dev image available?

By The way : I have checked that the devices are not recognized completely also in Zwave2mqtt and OpenZwave (Hass component),

That is strange as, before having to reformat due to a problem, they were correctly recognized

[2021-01-03 15:13] dvbit commented on #138
Ok Just read the instructions to build the docker.
git clone https://github.com/zwave-js/zwavejs2mqtt.git
cd zwavejs2mqtt/docker
docker build -f docker/Dockerfile --build-arg Z2M_GIT_SHA1=master -t zwavejs/zwavejs2mqtt:latest .

[2021-01-03 15:40] dvbit commented on #138
Uhm. Which branch is the dev? I see just 3 tags alpha-0 - 1 -2
Alpha 2?

[2021-01-03 15:58] pbathuk opened #140 "[bug]"
latest from docker : zwavejs/zwavejs2mqtt:latest

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: Alpha - sorry did not grab the version number (but I've updated the docker today if that helps - problem has been there since first docker version of zwavejs

**Describe the bug**
When using Nano Dimmers by Aeotec the switc

[2021-01-03 17:58] bachya commented on #137
Thanks, @billiaz. Appreciate your help.

Nodes: https://gist.github.com/bachya/0954e9827cd4466a2f36110cc6cc9ac8

Log: https://gist.github.com/bachya/07d984a1f9dedf58bc3d1ca6cf002503

[2021-01-04 00:40] Lopton commented on #135
Well, today it started working. Shrug. I'll close this issue.

[2021-01-04 00:40] #135 closed

[2021-01-04 08:17] billiaz commented on #138
I meant to use the Docker from dev (build form master branch)! alpha.2 would also do the work
Now on the other hand is this a HASS issue or the webinterface is not identifying the device?

can you post a screenshot? also when you click on a device can you post the information below ?

I have 5 FGS 223 without any issues

![Screenshot 2021-01-04 at 09 16 53](https://user-images.githubusercontent.co

[2021-01-04 10:07] billiaz commented on #137
i suspect something needs to be fixed on targetMode! we faced a similar in climate.
Can you help me a bit with

1. get an export of the node and not the whole list, as the whole list shows only highlevel info
![troubleshoot_export](https://user-images.githubusercontent.com/4048920/103523856-d5835f80-4e7c-11eb-9510-c8804c44bf54.png)

2. can you paste the   `zwavejs2mqtt/16/98/0/targetMode` payload

[2021-01-04 10:10] billiaz commented on #124
We need this to be added on driver side!. I will take a look

[2021-01-04 10:15] billiaz commented on #124
@mcowger is the red and black series the same device (happens to know)?

[2021-01-04 10:23] billiaz commented on #124
@mcowger made a pull request: https://github.com/zwave-js/node-zwave-js/pull/1281

[2021-01-04 10:29] billiaz commented on #129
i have encounterednoumerous issues with slashes on hass. Sanitising the names even more is good to have.
Unique_id should use only underscores and hyphens. but we need to confirm.

[2021-01-04 13:00] billiaz commented on #136
@awulf this is not supported yet by the driver https://github.com/zwave-js/node-zwave-js/issues/6

I believe @AlCalzone looks for contributors to implement classes, also made a nice documentation (how to) https://zwave-js.github.io/node-zwave-js/#/development/implementing-cc

[2021-01-04 13:11] awulf commented on #136
Thanks that would explain it, so nothing to be done in this project for now. I might take a stab and try to implement that command class.

[2021-01-04 13:11] #136 closed

[2021-01-04 13:14] billiaz commented on #136
I am also looking to implement some of these! I am really happy to work together and learn this implementation process. I've been busy with some Hass details so took me a bit time to focus on implementing CC

Disclaimer: I am not the author of node-zwave-js nor zwavejs2mqtt! just helping out, as Much as I can

[2021-01-04 13:37] towerhand commented on #116
I think this works in out of the box in zwave2mqtt without the user having to make any special changes unlike in qtozw.

[2021-01-04 14:28] blhoward2 commented on #116
I’m working with AlCalzone in the upstream bug report. He’s already committed a change to try to provide a compat flag to fix this. The devices are non-compliant with the standard and when the standard itself became publicly available the projects made changes to how things worked to comport with the standard. Hence why it works in the older projects and not the newer ones.

I’ve left this bug rep

[2021-01-04 14:42] dvbit commented on #138
I have done a fresh install of the latest image in docker and I can now see two switches.
The value report the correct value (i.e. when I press the physical switch the software twin status updates correctly).
The actuation however does not work: if, from control panel, I set the value of one of the switches I have a toast of "Correctly written value from the API but the switch does not turn on and

[2021-01-04 14:45] towerhand commented on #116
Thanks, I’m keeping my eye on this. I’ll switch over from z2m once this issue is resolved.

[2021-01-04 14:51] blhoward2 commented on #116
For now I’ve just removed the controller from group 3 and am relying solely on direct association and those devices calling in their state change. It mostly works fine that way except for a few odd devices I use to refresh after a double-tap event for reliability.

[2021-01-04 15:08] bachya commented on #137
@billiaz Here you go!

Schlage BE469 Node Info: https://gist.github.com/bachya/bfaa5a32776f00873ddf3353b5115eac

When I lock/unlock the lock, this is the only payload that appears under `zwavejs2mqtt/16/98/0/targetMode`:

[code]

[2021-01-04 15:12] billiaz commented on #139
can you explain more in this request? some detailed example could help.

[2021-01-04 15:16] billiaz commented on #137
targetmode supports the following:
[code]

what value do you try to set?

from the currentValue topic i can see ```      "value": 255,``` which reflects Secured
can you send a command to topic `zwavejs2mqtt/16/98/0/targetMode/set` and the text `plaintext` be `Unsecured`.
And tell me what happened

[2021-01-04 15:23] aretakisv commented on #140
looking into CCs Hail command class is obsolete. This command class is not currently implemented in the driver.
document source https://github.com/zwave-js/node-zwave-js/blob/master/specs/SDS13548%20List%20of%20defined%20Z-Wave%20Command%20Classes.xlsx

[2021-01-04 15:24] billiaz commented on #138
@dvbit i cannot find the message you posted, although i received a mail :\

[2021-01-04 15:27] dvbit commented on #138
I deleted... since I had an update in progress.
So:
repulled fresh latest image
recreated docker
rediscoverd nodes
and 223 seem now to be there and complete.
They take sometime to be updated / reactive (always happened to me also in other implementation with "secure" nodes)
So I would say this issue can be closed.
Thanks for the support : keep on zwavejs2mqtt is really promising to be THE integrat

[2021-01-04 15:27] mcowger commented on #124
They are not the same device.  The black series is non-neutral dimmer like
the red, but lacks the scene control and notifications that the red has.

On Mon, Jan 4, 2021 at 2:15 AM V Aretakis <notifications@github.com> wrote:

--
-- Matt

[2021-01-04 15:29] dvbit commented on #138
uhm... too fast.
Works in the panel
not in homeassistant.
Homeassistant Software Switch is not sending signal to zwavejs (or is not received,,,)

[2021-01-04 15:38] robertsLando commented on #127
Closing this, comment on that issue so :)

[2021-01-04 15:38] #127 closed

[2021-01-04 15:40] robertsLando commented on #133
@Lopton Thanks for your issue, @AlCalzone I don't remember our last discussion about target/current values but shouldn't (at least on startup) targetValue be equal to current?

[2021-01-04 15:42] robertsLando commented on #132
@Swiftnesses Unfortunally polling is not supported by zwavejs yet :(

[2021-01-04 15:44] robertsLando commented on #120
@AlCalzone Seems enpoints 0 are marked as internal, is that the reason why values are not reported?

[2021-01-04 15:45] robertsLando commented on #138
@dvbit I think @billiaz means you should try with `dev` tag instead of `latest`

[2021-01-04 15:45] #124 closed

[2021-01-04 15:52] robertsLando commented on #116
@AlCalzone

[2021-01-04 15:54] robertsLando commented on #129
@billiaz We should have a sanitize function, we could add sanification also for `/`. Can you make this in a PR?

[2021-01-04 16:07] AlCalzone commented on #120
Good thing I documented the compat flags yesterday. The expected behavior is not spec-compliant and needs this compat flag to work with zwave-js:
https://zwave-js.github.io/node-zwave-js/#/development/config-files?id=preserverootapplicationccvalueids

[2021-01-04 16:09] AlCalzone commented on #133
Guess I need a log to know why they aren't in sync. IMO it should be possible somehow to re-send the same target value through the UI for exactly this case.

[2021-01-04 16:09] robertsLando commented on #118
@billiaz COuld you take a look at this?

[2021-01-04 16:10] AlCalzone commented on #116
@robertsLando We're already on it and need your help:
https://github.com/zwave-js/node-zwave-js/issues/1277

[2021-01-04 16:10] robertsLando commented on #133
@AlCalzone Maybe they could be out of sync when the switch is switchef manually and not from hass or ui

[2021-01-04 16:12] robertsLando commented on #120
@cbho Essentially you should edit the device configuration file to add a compat flag, follow docs and ask if you need help. FIrstly identify your dievice from the id shown in web interface

[2021-01-04 16:12] AlCalzone commented on #133
Might be, depending on the device configuration.

[2021-01-04 16:13] AlCalzone commented on #120
And please report back if that helps so we can edit the included config files

[2021-01-04 16:17] robertsLando commented on #116
@AlCalzone Sorry, catching up missed notifications :smile:

[2021-01-04 16:19] robertsLando commented on #134
@blhoward2 It's there but since it also has `apha.X` the text is too long now. Would you like a tooltip?

[2021-01-04 16:25] dvbit commented on #138
Ok I switched to dev.
All properties are exposed to HassOS MQTT broker Addon but just for 223 switch is not actuating on zwavejs2mqtt side.
From zwavejs2mqtt control panel same 223 is reacting (fast!) to commands
this is an example of the json object for one of the two switches in zwavejs2mqtt panel
`{
  "type": "switch",
  "object_id": "switch",
  "discovery_payload": {
    "payload_off": false,

[2021-01-04 16:28] dvbit commented on #138
and I can see in the debug log that I receive an mqtt message to set the switch
`2021-01-04 16:26:34.677 INFO ZWAVE: Node 15: metadata updated: 49-0-Illuminance
2021-01-04 16:26:34.693 INFO ZWAVE: Node 15: value updated: 49-0-Illuminance 38 => 0
2021-01-04 16:26:35.062 INFO ZWAVE: Node 15: metadata updated: 48-0-Any
2021-01-04 16:26:35.070 INFO ZWAVE: Node 15: value updated: 48-0-Any false => true

[2021-01-04 16:32] blhoward2 commented on #134
Perhaps. I just think it would be easier for testing to ask people what version they’re running...

[2021-01-04 16:33] cbho commented on #120
Ok, will do.
Just a little uncertain about where the edit should be, since there are no config files are not stored in the zwavejs2mqtt volume...
Is it a matter of making a custom xml-file and place there - or should I find the config file somewhere inside the docker container?
(Might be a trivial question, but just to try and do it right from the beginning...)

[2021-01-04 16:33] bachya commented on #137
@billiaz The Home Assistant MQTT Discovery configuration for this node (`homeassistant/lock/nodeID_16/lock/config`) shows this:

[code]

When I attempt to lock the lock and look at the command topic (`zwavejs2mqtt/16/98/0/targetMode/set`), I see:

[code]

So, to your point, that looks like the issue: we need to be sending an integer that corresponds to the lock state. I will test shortly and follo

[2021-01-04 16:39] robertsLando commented on #137
@billiaz can we customize the template to make it send a number instead of lock and unlock? otherwise we need to parse the value on gateway side, if the value has states look for states text matching and take the state text value as valid value

[2021-01-04 16:41] robertsLando commented on #120
@cbho Here everything is well documented: https://zwave-js.github.io/node-zwave-js/#/development/config-files?id=device-configuration-files

[2021-01-04 17:04] robertsLando commented on #134
@blhoward2 PR ready: https://github.com/zwave-js/zwavejs2mqtt/compare/uiVersion?expand=1

[2021-01-04 17:05] blhoward2 commented on #134
Thanks! The speed with which you and @AlCalzone approach these changes is impressive. Thanks for your hard work.

[2021-01-04 17:08] bachya commented on #137
Okay, additional follow-up. Here are the results of my tests (posting various raw payloads to `zwavejs2mqtt/16/98/0/targetMode/set`):

* `0`: unlocked the door (but no update of the `lock` entity's state in Home Assistant)
* `255`: locked the door (but no update of the `lock` entity's state in Home Assistant)
* `Unsecured`: no change (and the same Docker console log: `"targetMode" must be of type

[2021-01-04 17:08] robertsLando commented on #134
Just tring to make things better :) thanks to user issues

[2021-01-04 17:10] cbho commented on #120
@robertsLando: I did read that :-)
It's a matter of finding `packages/config/config/devices/<manufacturerID-as-hex>/<device-name>[_<firmware-range>].json`
Again, it may be kind i trivial - but unfortunately not to me :-(

[2021-01-04 17:34] AlCalzone commented on #120
Once installed, the config files are located in `node_modules/@zwave-js/config/config/devices/...`

[2021-01-04 18:10] billiaz commented on #137
you do not this complexity if you only use the 255 and 0

reading this https://www.home-assistant.io/integrations/lock.mqtt/ should be easy to patch payloads for lock. i need a bit of time and setup this.

[2021-01-04 18:25] billiaz commented on #138
do you send on both endpoints a set value? or you click once and changes both at once?

I also edited your comments and changed the code snippet (sorry for this, they where more readeable that way)

Can you send me the second switch (switch_2) and also:
when you press the actuator from HASS do you see two payloads set? or one?

[2021-01-04 18:26] billiaz commented on #132
@robertsLando @Swiftnesses I think v6 supports it right @robertsLando ?

[2021-01-04 18:27] bachya commented on #137
@billiaz Great! Let me know how I can support you: I'm a core Home Assistant member and obviously have this lock, so I'm at your disposal.

[2021-01-04 18:27] billiaz commented on #129
it is obvious topic creates a subtopic due to slash! we need to change it

@Swiftnesses can you show a list of topics under `zwavejs2mqtt/44/48/0`

[2021-01-04 18:30] billiaz commented on #133
I face the same issue, but I never use the UI here.
Can be also that is easier to use a Dropdown than slider and dorce the command, or even better 2 buttons! true/false!

[2021-01-04 18:44] billiaz commented on #129
@Swiftnesses I have the same sensor Philip PTS02A but I have no CC 48! is the dipswitches the ones i need to change for this to appear?

[2021-01-04 18:58] robertpeteuil commented on #128
Agreed this would be great.  Looking forward to zwavejs 6.

[2021-01-04 22:45] dvbit commented on #138
Ok. I finally nailed down the cause of unresponsiveness on hass commands.
Somehow the entiry created in Homeassistant was inconsistent (half of it was named after renamed node in zwjs2mqtt the other half with the original naming).
After deleting the entity and rediscovering it everything fine.
regarding the original problem after rediscovering nodes properties all was populated properly.
In the in

[2021-01-05 00:16] mcowger commented on #124
Awesome - as soon as this is in a :dev build I'll pull it and give it a shot.

[2021-01-05 01:26] rwa opened #144 "[question] entity names"
I am considering trying to migrate from ozw, but it appears that all of my entities would change names to do so.  In order to ease that transition, I was wondering if it was even theoretically possible to change out the entity names auto-generated by zwavejs2mqtt to be the same as what I customized them to in ozw.

Looking at the code, it kind of looks like entity names are possibly not arbitraril

[2021-01-05 02:21] rwa opened #145 "[question] recommended settings for broker"
I think the documentation could be improved by giving default suggestions for the following settings, for ease of giving things a spin when you're just learning MQTT (or just prefilling defaults).

"Reconnect period: Milliseconds between two reconnection tries"
I don't know what to put here.  10? 1000? How do I know what's a reasonable setting?

"Prefix: The prefix where all values are published"

[2021-01-05 02:41] scyto opened #146 "[bug]on pi4 shows connected but never gets data from zwave module"
**Version**

Build/Run method
- [ X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**
I moved my SD card and z-wave module from pi3 to a pi4 and while the light and main log indicate it is connected to /dev/ttyAMA0 the z-wave log insists the port is open.

I don't know why

**To Reproduce**
1. Install pi3 latest ras

[2021-01-05 03:01] blhoward2 opened #147 "[feat] Add recommended values for HA to project documentation (or default setup?)"
**Is your feature request related to a problem? Please describe.**

A few people have mentioned to me that they didn't know what to pick for the various settings. The documentation explains what each does but not necessarily what the most recommended default set of settings is.

**Describe the solution you'd like**

Amend the project documentation to specify the settings that are likely to be most

[2021-01-05 03:09] blhoward2 opened #148 "[feat] Provide a database of known working, "supported" devices"
**Is your feature request related to a problem? Please describe.**

As it stands, people frequently don't know whether a device is supported until after they purchase it. This leads to frustration and increased pressure on the project, as users press for rapid changes to incorporate new devices. Additionally, it is difficult for someone in the market for, say switches or water sensors, to determin

[2021-01-05 03:12] scyto commented on #146
Well i solved it - seems on a pi4 Bluetooth takes over the AMA0, i have no clue where the serial ports on the GPIO route to when it is like this?

Adding the following to `/boot/config.txt fixed the issue

[code]

[2021-01-05 03:13] #146 closed

[2021-01-05 03:37] rwa commented on #144
Working on this a bit further, it looks I can indeed edit the entity names however I like within HA, and these are stored for HA purposes.

So I was trying to see if I could dump out my ozw entities, and programmatically generate a mapping from their names to the default names I could expect from this package. For a switch, this was easy, it was (for example):

switch.nodeID_2_switch

but with mor

[2021-01-05 05:40] phrz opened #149 "[feat] add a brief explainer for zwave2mqtt users"
**Is your feature request related to a problem? Please describe.**
I was kindly pointed to this repo by [the author](https://github.com/OpenZWave/Zwave2Mqtt/issues/257#issuecomment-753451720), but arriving here left me unsure about this project's relationship to zwave2mqtt, and the migration pathway. By default, in the Home Assistant and Homebridge automation worlds, zwave2mqtt gets brought up, an

[2021-01-05 07:22] robertsLando commented on #149
@phrz You can find most answers:

https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/why
https://zwave-js.github.io/zwavejs2mqtt/#/guide/migrating

It is started to completely replace the old Zwave2Mqtt that is based on OZW. The reason of this switch is well explained in the `why` section. About stability it is stable enought, it's alpha for now but all the features of z2m are already avail

[2021-01-05 07:22] #149 closed

[2021-01-05 07:30] billiaz commented on #124
@mcowger if you run docker, you can build your own image with a database update from Master! and test

if you clone zwavejs2mqtt and run

[code]

it will download the latest device tree and put it in container! this way you can confirm if everything is ok!

[2021-01-05 07:31] robertsLando commented on #144
@rwa Did you try with https://community.home-assistant.io/t/qt-openzwave-beta-vs-zwavejs2mqtt/263801/14?

[2021-01-05 07:32] robertsLando commented on #148
@AlCalzone Thoughts? I think it could be added to docs, but should be keep updated by users

[2021-01-05 07:35] robertsLando commented on #145
I think this is a dup of #147 that is more generic. CLosing this and continue there. I think the solution to this is to provide some defaults values and improve the docs

[2021-01-05 07:35] billiaz commented on #137
@bachya
[code]
can you try this?
How can you try this?

on the bottom of Zj2m interface you can on the right side ADD a new device.. if you paste this code and click ADD you should be able to add this! it is temporary. this will give it an entity name in HASS `test_lock`
if this works I can then make a patch in z2m! but testing it will help me!

[2021-01-05 07:42] #145 closed

[2021-01-05 07:49] robertsLando commented on #133
We could use 2 buttons for this, and make target value stateless ?

[2021-01-05 08:01] robertsLando commented on #132
@billiaz No, AFAIK. There is no work in progress in polling

[2021-01-05 08:13] #134 closed

[2021-01-05 09:10] robertsLando commented on #133
@billiaz @Lopton COuld someone give me a feedback about https://github.com/zwave-js/zwavejs2mqtt/pull/151 ?

[2021-01-05 09:43] AlCalzone commented on #148
I thought about this shortly yesterday. What we could do is auto-generate an overview from the config files and use a flag in there to tell if it was verified by users that the device works with zwave-js.
However we'd need a comfortable way for users to say "this device works", or that will never be up to date.
Maybe some feedback button in the UI?

[2021-01-05 10:03] AlCalzone commented on #133
targetValue is not stateless. Some devices do report both current and targetValue (so you know where the transition is going to)

[2021-01-05 10:13] ikkemaniac opened #152 "[bug] README missing info"
**Version**

**Describe the bug**
None of the readme modules are linked/loaded. I need to browse to the docs folder and open subfolders/md files to read the info

**To Reproduce**
[click](https://zwave-js.github.io/zwavejs2mqtt/#/) and [click](https://github.com/zwave-js/zwavejs2mqtt)

**Expected behavior**
Show all the readme

[2021-01-05 10:46] robertsLando commented on #148
I'm +1 about adding a flag like `tested` that marks a device as tested. Then we should create something like the openhub table you linked that will be auto generated by reading config files

[2021-01-05 10:49] #147 closed

[2021-01-05 10:50] billiaz commented on #152
@ikkemaniac I cannot reproduce it, can you give some more details on how the problem arrises?

[2021-01-05 10:52] robertsLando commented on #152
@ikkemaniac Because I think you are exloring docs from github and not from https://zwave-js.github.io/zwavejs2mqtt/#/

[2021-01-05 10:52] #152 closed

[2021-01-05 10:56] robertsLando commented on #133
@AlCalzone You right, I have added state to the new implementation. If you have any suggestion let me know :)

[2021-01-05 13:14] phrz commented on #149
Thank you for taking the time to clarify! Apologies for not seeing the getting started page, I did not see the website's menu button while on mobile. And thanks for your work on this great project!

[2021-01-05 15:34] #133 closed

[2021-01-05 16:15] johnsonnc commented on #137
I got this to work - but the state topic isn't read correctly, so hass shows it still unlocks.

[code]

[2021-01-05 16:29] bachya commented on #137
@billiaz When I select my node, input that JSON, click "Add," then click "Rediscover," I don't see the new entity in Home Assistant. Did I miss a step?

[2021-01-05 18:02] billiaz commented on #137
change `value.x` on template with `value_json.value`

also delete the discovery and readd

[2021-01-05 18:12] phrz opened #156 "nodes.json import fails due to empty JSON object"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: zwavejs/zwavejs2mqtt:latest as of today (2021-01-05)

**Describe the bug**
Following migration instructions [here](https://zwave-js.github.io/zwavejs2mqtt/#/guide/migrating), I took my `nodes.json` file from my previous z2m installation and imported it in the

[2021-01-05 18:14] johnsonnc commented on #137
This appears to be working for me now! Thanks @billiaz @bachya !

[code]

[2021-01-05 18:18] bachya commented on #137
@billiaz Sorry, I'm still not clear. Your payload is different from what @johnsonnc posted; yours still doesn't work for me.

Am I supposed to add @johnsonnc's payload as a new device under the actual lock node (`16` in my case)?

[2021-01-05 19:00] billiaz commented on #118
What we see in these logs is, a multi level sensor (notification report) which has different values. the sensor can support any possible value exposed by the device.

usually 0 = idle and 1-255 is a value. this works as intended. Water sensor 6 reports notification sensors and not binary sensors as I can see @blhoward2 do you also have binary sensors discovered? can you see these on your ui?

[2021-01-05 19:06] blhoward2 commented on #118
In ozw 1.4 and 1.6 binary sensors are discovered that report on/off for water detected or not. This fits nicely with HA’s binary sensor platform for water, which makes it water detected or not, and simplifies automations. It is also consistent with other water sensors. Whether the device reports it or ozw simply changes the values based on whether it is receiving 0 or not, I don’t know. I can inve

[2021-01-05 19:08] mcowger commented on #124
I built the image and deployed.   So the device is now detected, but it doesn't show any of the configuration options:

See attached JSON export and screen shot.
![Screen Shot 2021-01-05 at 11 08 01 AM](https://user-images.githubusercontent.com/1929548/103688214-56f2f480-4f46-11eb-802c-f2e971fb299e.png)
[node_25_update.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5772101/node_25_update

[2021-01-05 19:10] billiaz commented on #118
ozw 1.4 and 1.6 does a lot of changes on how sensors translated from notificationreports to binary sensors. On the other hand other devices like zipato, do show the notification report label.
we till now have implemented the direct translation and a bit of labeling based on the Driver labels exposed.

It is easy to setup a custom device to also generate binary sensor on HASS. as probably will show

[2021-01-05 19:12] blhoward2 commented on #118
I’m not the expert, but if you look at whatever is feeding the sensor I quoted above that only seems to present 0 or 2 according to the value template.

[2021-01-05 19:13] blhoward2 commented on #118
Couldn’t you define one in the same was the sensor above, but instead of the text make it report on/off?

[2021-01-05 19:16] billiaz commented on #118
I understand the confusion, most of these are implemented as in specification. there is a list of possible values on each propertyKey on notificationreports, which makes it a long list to support, and programmatically probably a bit confusing.

an example from the excel: https://www.silabs.com/documents/login/miscellaneous/SDS13713-Notification-Command-Class.xlsx

![CC notification example](https:

[2021-01-05 19:19] billiaz commented on #118
i understand what you mean! that was my first thought, a binary (on/off) state. reading the spec more and more becomes complicated.

the more devices move to multilevel notification reports, the more we will see this changing from on/off states to
off/leak/low level/hot water etc...

[2021-01-05 19:19] blhoward2 commented on #118
Even still from an automation perspective, all of those would benefit from a binary in idle/alert status just to trip an alarm. Then you’d have the sensor indicating the exact message.

[2021-01-05 19:20] billiaz commented on #118
for automation, i use also nodered! as it posts to my telegraf and is fast. you could always test the state if is 0 or false (value_json.value) is always numeric. or report.

I do not know how difficult is to report if sensor is not Idle (0) as an alarming state

[2021-01-05 19:24] blhoward2 commented on #118
Bah, Appdaemon all the way. In any event, maybe expose both a sensor and binary_sensor and let the user hide one if they want? What is most annoying is that automating off water sensors means that some need to be on/off, some tested against text. As many people use a group to ease automation, that means two automations or manually defining a binary sensor in HA and then using that.

[2021-01-05 19:27] billiaz commented on #118
I get it. i would personally overcome this with: if value != "0" || value != false - alarm
i am not fun of appdaemon :) but is personal preference.

it is easy to generate a binary sensor for devices. using customDevice.json. you can (before we get a reply from @robertsLando 's opinion) a binary_sensor discovery for all devices of same model

[2021-01-05 19:29] blhoward2 commented on #118
Yes, I know that I can personally override this. I’m on a mission of trying to make as many things work out-of-the-box in a similar way (where it makes sense) to ease transitions and reduce tech support type issues. As it is done this way now, telling people that switch to redo all of their automations is just more work.

[2021-01-05 19:43] gdt commented on #118
A perspective from outside; I have used echolink flood sensors under the old integration.   I found that they support binary sensors natively in zwave, which is somehow an older scheme.  They also support sensors with values that are 2 for flood, maybe 8 for not, and 3 for tamper, 8 for not.  These are apparently the newer zwave way.   So I create a template sensor to make  a binary sensor for thi

[2021-01-05 19:51] billiaz commented on #137
yes! once you do this! and you both confirm works as expected. I will add this on one of the next releases (create patch)

[2021-01-05 20:13] bachya commented on #137
@billiaz Sorry to be such a noob, but it's not working. Here's what I'm doing, explicitly:

1. I click on Node 16, which is this lock.
2. I paste this JSON into the `Hass Device JSON` text area:

[code]

3. I click `ADD`. Nothing happens (i.e., I don't see this new `test_lock` device in the list to the left).
4. I click `REDISCOVER NODE`. No change.
5. I try restarting the Docker container. No cha

[2021-01-05 20:48] AlCalzone commented on #120
Can you run zwavejs2mqtt without docker? Then it should be relatively easy

[2021-01-05 20:56] mcowger commented on #124
Confirmed this correctly identified and talks to my LZW-30 devices.

[2021-01-05 20:59] johnsonnc commented on #137
delete `"state_topic": "zwavejs2mqtt/16/98/0/currentMode",`
and change `"value_template": "{{ if value_json.value }}",` -> `"value_template": "{{ value_json.value }}",`

In then click "Update", click the local entity again, click 'Rediscover' next to 'Update'.

I would then check under the device in HA, under 'MQTT Info' and look for the Lock Entity Discovery payload and see if it updated.
![Scree

[2021-01-05 21:13] bachya commented on #137
@johnsonnc Here's what I did:

1. Click on Node 16.
2. Click on the existing lock device `lock_lock`.
3. Updated the `Hass Device JSON` to mirror your suggestion above.
4. Clicked `UPDATE`.
5. Clicked `REDISCOVER`.

No change: I went to Home Assistant, attempt to lock/unlock the lock and there was no response. I went into the `lock_lock` device and saw the old `Hass Device JSON`.

I don't know whe

[2021-01-05 22:13] ikkemaniac commented on #152
Right, both links i provided i don't see the full docs. Turns out after further testing that the io domain issue is on my side with all the js that gets loaded, sorry.

On the GH page only readme.md get's loaded. There's a ton of badges and links to other stuff but no link or explanation at all where to go for documentation, found the domain via google.

[2021-01-05 23:08] johnsonnc commented on #137
Those steps with this version. If it doesn't work, I am curious if you have discovery on in HA and zwavejs2 on?

[code]

[2021-01-05 23:47] bachya commented on #137
That payload "worked" (in that it was saved and updated), but then, back in Home Assistant, nothing happens when I try to unlock/lock.

Discovery is enabled, yes?

<img width="1133" alt="Screen Shot 2021-01-05 at 4 46 22 PM" src="https://user-images.githubusercontent.com/47216/103711901-a6044e00-4f75-11eb-9fbb-938f332654e2.png">

[2021-01-06 00:14] blhoward2 commented on #116
Ok, the changes made upstream now work (I'll do a PR to add the compat flag to the device files.) I'm receiving the basic set events on command class 32 for double-up and double-down. I tried refreshing the node info but no sensors are added within the ui. What do we need to change to define a sensor or something so HA more readily receives these events?

[2021-01-06 01:23] AlCalzone commented on #120
I've created a PR for you to test. In a couple of minutes there should be a new build available to install and test:
https://github.com/zwave-js/node-zwave-js/pull/1302

Hope that makes it easier.

[2021-01-06 01:36] johnsonnc commented on #137
This is what mine looks like.

<img width="1821" alt="Screen Shot 2021-01-05 at 5 36 20 PM" src="https://user-images.githubusercontent.com/1338373/103718830-89b7df80-4f7c-11eb-9e8e-edf49d86c058.png">

[2021-01-06 02:57] towerhand commented on #116
@blhoward2 Thanks for the heads up. I'll be installing zj2m in the next release if this is working properly. Hopefully the basic cc doesn't get activated during HA restart like Kpine mentioned in the other issue. Glad to see bug getting addressed so quickly, main reason I kept using z2m after a short trial with qtozw.

[2021-01-06 03:43] bachya commented on #137
Thanks for your help, @johnsonnc.
I'll get back on this tomorrow.

[2021-01-06 05:31] blhoward2 commented on #116
PR for the final change upstream submitted (modifying the device files to take advantage of the new compat flag). https://github.com/zwave-js/node-zwave-js/pull/1303

[2021-01-06 06:31] billiaz commented on #137
@bachya do not spend time struggling with, with the positive reply from @johnsonnc I am going to write the patch! and ask for review through that. If you have patience a few days! :)

I am also sometimes struggling with entities, as HASS do not really update them.

The setting I see posted are for Auto generated ones! and how topics stored. to avoid going into a mess of your setup do not change th

[2021-01-06 11:23] kaaelhaa opened #158 "[bug] Removed node breaks network graph"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: v1.0.0-alpha.2

**Describe the bug**
A removed node (node id 5 was excluded) breaks the network graph. Seems to be similar to the closed issue #87.

Frontend console throws this exception:

[code]

**To Reproduce**
Exclude a node from the network.

**Expected

[2021-01-06 13:34] kaaelhaa commented on #158
A network heal and then restart of the Docker container brought back the network graph and made the exception go away.

[2021-01-06 15:10] bachya commented on #137
Sounds good, @billiaz – I am relieved. 😂 I'll await the official release and will test then. Thank you!

[2021-01-06 18:21] jkaberg opened #160 "[bug] Unable to properly include Thermofloor Z-TRM2FX thermostats"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: develop

**Describe the bug**
Unable to properly include [Thermofloor Z-TRM2FX thermostats](https://github.com/zwave-js/node-zwave-js/blob/9fa9a67cd52321de801efdb4d324dfe023759e86/packages/config/config/devices/0x019b/z-trm2fx_3.0.json) using the normal inclus

[2021-01-06 19:46] scyto opened #161 "[feat] change entity type sent to hass - for example a switch becomes a light"
I am new to hass, apologies if I get terminology wrong.

**Is your feature request related to a problem? Please describe.**
I have jasco in wall z-wave switches that control a load that is only a light.
These get called switch.name in entity, i think this means they are in the switch domain.
I downloaded a blue print that turns lights on at sunset for a defined area and all devices in it that are

[2021-01-06 19:49] scyto commented on #161
this the hass json created by zwavejs2mqtt
[code]

[2021-01-06 19:53] scyto commented on #161
and extra credit - does hass differentiate lights that support only binary state vs  can be dimmed - if so i would want hass to see this as a binary light.

[2021-01-06 20:04] chilicheech opened #162 "[bug] hass entity names are now being prefixed with `-`"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0.alpha.2

**Describe the bug**
Before this version HASS entity names were being reported correctly, for instance, `patio_lights_dimmer`. In this version the name is being prefixed with a dash, `-patio_lights_dimmer`. This is probably due to the introducti

[2021-01-06 20:08] chilicheech commented on #161
@scyto, zjs2m is reporting it correctly to HASS. The device you have is a switch. I also have a switch that I use to control a light. To get around that issue I used the HASS light switch integration. https://www.home-assistant.io/integrations/light.switch/ .. It creates a light in HASS that is controlled by a switch. So, you can use that light switch integration to create a "light" device that us

[2021-01-06 20:39] jaburges opened #163 "[feat] - exportable zwavejs log in the UI (for Docker)"
**Is your feature request related to a problem? Please describe.**
Especially in the early days accessing the log regularly to debug is painful.
Referring specifically to the Zwavejs (not the zwavejs2mqtt log)

**Describe the solution you'd like**
someway of either writing the log to the `/store` mapped volume (not /bin) - or symlink to the bin folder to a bin folder in the /store directory
or a w

[2021-01-06 20:40] scyto commented on #161
@chilicheech looks like that integration isn't one of the in UI ones?  I tend to stay away from the ones I manually have to do in YAML as I see they keep deprecating them. Either way this seems like a double hop of manual effort not to mention won't this result in a duplicative entity or device?  I am already struggling with entity / device sprawl in the UI :-(

Another question that springs to mi

[2021-01-06 21:05] scyto commented on #161
i guess my real issue here is hass inability to differentiate outlet switch, in-wall light switch, bulb, light with switch (like a table lamp)

The in-wall switch example i gave is just one of a few scenarios based on my experience with other home automation systems reclassification is a useful feature. I note hass has such a feature https://www.home-assistant.io/docs/configuration/customizing-dev

[2021-01-06 21:20] scyto commented on #161
extra data on my confusion - the ISY integration sends wall switches (dimmers) as lights :-)  which is why I (wrongly?) had a mind state that in-wall light switches should be represented as lights...

![image](https://user-images.githubusercontent.com/11369180/103820827-d7d2ee80-5021-11eb-862d-d70363cb1aeb.png)

[2021-01-06 21:54] dvbit commented on #138
reopening...

[2021-01-06 21:57] dvbit commented on #138
I have most  of the sensor loaded in HassOs with custom naming (according to template).
And most of it under the internal "node" nomenclature.
That part is unresponsive.
The other 223 that I have is working fine.

[2021-01-06 23:37] chilicheech commented on #161
I think the ability to optionally classify it as either a light switch or a switch (a.k.a, light vs switch domain in HASS) would be an awesome feature to add. I think z2m can't assume by default that all in-wall switches are light switches, as some folks may be switching other types of loads with them. The option to have HASS discover it as a light or a switch would solve the issue.

[2021-01-07 00:29] scyto commented on #161
Totally agree on the assumption part, assuming it is switch makes total sense, letting one override that in z2m would be sweet.
If i could code i would contribute, but i am just one of those annoying product managers who thinks "its code, it's all doable" ;-)

For example if the drop down to override was light, fan (other domains basically) it would give a lot of flexibility (i have a switch unit

[2021-01-07 00:57] scyto commented on #163
i like the idea of all longs being in one place and easily accessible (there are a couple of other issues and prs floating around for the zwave log).

it would be great if the UI had a place for each log with say a tail of each log of 50 or 100 (or whatever) lines and that this refreshed as needed and an export button for folks who really hate command line.

[2021-01-07 06:48] billiaz commented on #138
@dvbit As much as I would like to help. It makes no sense to me what the issue currently is.

If the discovery of one device works the other device might face:
1. stored Hass discovery under zwavejs2mqtt, this could be fixed by pressing `delete store` and rediscover node
2. broken HassOs discovery storage, which needs cleanup

[2021-01-07 07:12] robertsLando commented on #163
I'm thinking about a way to access everything on store folder, with a basic editor

[2021-01-07 07:22] robertsLando commented on #161
@scyto You should be able to change the default device class by adding that value to gateway values table and set a custom device class.

[2021-01-07 07:28] robertsLando commented on #162
@chilicheech Essentially the problem is that location is missing, did you tried to remove %loc from the entity name plaeholder?

[2021-01-07 07:33] robertsLando commented on #152
The side menu?

[2021-01-07 08:13] #156 closed

[2021-01-07 09:19] robertsLando commented on #158
@AlCalzone I have a feeling that this is caused by node `neighbors` not updated when a node is removed

[2021-01-07 10:21] #158 closed

[2021-01-07 10:57] billiaz commented on #137
@bachya pushed a pull request based on @johnsonnc payload. this should fix it.
feel free to compile branch fix-137 and give feedback.
Alternatively you can use the docker from : docker hub `varet/zwavejs2mqtt:fix-137`

[2021-01-07 11:02] AlCalzone commented on #158
Yeah basically we would have to tell all nodes to update their neighbors when a node is added or removed

[2021-01-07 11:03] robertsLando commented on #158
I already have created an issue to track this

[2021-01-07 11:58] billiaz commented on #162
IT would be a good idea to check the name and remove the `-` when is first letter, but some people might need to keep it.
another way is to ahve a "default" room/location set when no location exists

@chilicheech does all your entities not use location?

[2021-01-07 14:23] AlCalzone opened #169 "onNotification does not handle all parameter types correctly"
https://github.com/zwave-js/zwavejs2mqtt/blob/8f326de2a8c4f6dcce49180c7b8c6d772128558b/lib/Gateway.js#L330-L346

`.toString()` doesn't cut it, since the parameters can be different things and even CC instances or Records. Here's my reference implementation:

https://github.com/AlCalzone/ioBroker.zwave2/blob/9504bc06a1747913c76da940574646e07fdb7472/src/lib/objects.ts#L453-L558

[2021-01-07 14:27] AlCalzone commented on #169
Note that this doesn't actually handle CommandClass payloads - I should probably convert them to a record inside zwave-js

[2021-01-07 14:30] robertsLando commented on #169
OMG... :cry:

[2021-01-07 14:31] robertsLando commented on #169
@AlCalzone Is this documented? What could I get specifically in that field? Could I treat it as an object and pass the entire payload?

[2021-01-07 14:33] AlCalzone commented on #169
Isn't that what types are for?
![grafik](https://user-images.githubusercontent.com/17641229/103904527-adeefa00-50fd-11eb-90ab-af10989871a7.png)
![grafik](https://user-images.githubusercontent.com/17641229/103904559-b8a98f00-50fd-11eb-8179-4d7f91a2b191.png)

[2021-01-07 14:35] AlCalzone commented on #169
IMO:
* Buffer: no clue what's in there -> I would export as hex or raw
* Duration: depends on how you want to display it
* CommandClass: 🤷🏻‍♂️, should probably convert it before exposing
* Record: export each property separately

[2021-01-07 14:47] robertsLando commented on #169
@AlCalzone In docs it says just Buffer for parameters

[2021-01-07 17:03] bachya commented on #137
@billiaz Used the `varet/zwavejs2mqtt:fix-137` image and can confirm: I can lock/unlock my locks from Home Assistant and the state is updated immediately! 🥳 Well done!

[2021-01-07 17:06] #137 closed

[2021-01-07 20:24] cbho commented on #120
@AlCalzone & @robertsLando:
Ended up setting up a new VM with only node.js and the PR mentioned above.

Can confirm, that the root device is now exposed - and the relay can be switched independently of the four buttons 👍

[2021-01-07 21:24] dvbit commented on #138
Thanks for trying.
First workday so..can answer just now.
What would be the right process to reimport just those two devices as freshly as possible (they are now both unresponsive).
I am going to try the following:
- delete store
- stop zj2m
- delete mqtt entties from ha
- start zj2m
- rediscover node
- store
- restart ha

Should discover flag in zj2m be enabled or not?

[2021-01-07 21:31] dvbit opened #171 "[feat] Distinguish between automation/gui value updates and physical actuations"
I would like to have a way to understand if a device has been actuated physically or through GUI/Automation.
I know that in the first case there's no mqtt set message and this could be "reconstructed" but it would be nice to have it already in a "side property" of the value.

Could be useful in automations where a "human override" feature is desired.

[2021-01-07 21:44] #120 closed

[2021-01-07 22:07] dvbit commented on #138
no success.
What is also strange is that I could delete the device in hass without it complainng (usually hass complains if the corresponfing integration is still pushing info and will not let you delete a device.

[2021-01-07 22:22] dvbit commented on #138
Final update...
Heal node + refresh info and the nodes are now responsive.
There is still one entity missing in both *.slowrefresh
but , for now, I will leave it as is since I do not use that info currently

[2021-01-07 23:59] bachya opened #172 "[bug] Building36 T10 (ADC T-2000) thermostat fails to load climate entity for Home Assistant"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2

**Describe the bug**
I am attempting to get my [Building 36 T10 thermostat](https://products.z-wavealliance.org/products/1161) working with Home Assistant and am unable to see the `climate` entity as a device within z2m.

First, I gather from th

[2021-01-07 23:59] bachya opened #375 "[bug] Building36 T10 (ADC T-2000) thermostat compat flags"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2

**Describe the bug**
I am attempting to get my [Building 36 T10 thermostat](https://products.z-wavealliance.org/products/1161) working with Home Assistant and am unable to see the `climate` entity as a device within z2m.

First, I gather from th

[2021-01-08 05:17] blhoward2 commented on #163
Just please make sure it isn't super resource intensive! I tried running the vscode-server within HA and it makes my Pi 4 sit proc sit at ~85% vs 5% normally.

[2021-01-08 06:09] blhoward2 opened #173 "[bug] Two sets of device files exist in docker images and most recent device files from node-zwave-js are not used"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**
In a docker image built on the cc/hail node-zwave-js branch, and the #84 branch, two copies of the device files exist within the docker image. (I believe this exists in all of the images I've built off the recent node-zwave-js maste

[2021-01-08 06:10] blhoward2 commented on #173
@AlCalzone I'm unsure if this lies with node-zwave-js or zwavejs2mqtt. I opened it here since I suspect it is a docker issue.

[2021-01-08 06:59] kaaelhaa opened #174 "[bug] Application stops responding with CPU stuck at 100%"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2

**Describe the bug**
Few minutes after starting the application (ranging from 10-30 minutes) it will stop responding and hog one CPU thread at 100%.

This always happens when zwavejs2mqtt has logged the following:

[code]

I have uploaded an exp

[2021-01-08 07:07] robertsLando commented on #174
@AlCalzone I see a tons of:

[code]

This happens for multiple nodes. What could it be?

[2021-01-08 07:11] robertsLando commented on #163
@blhoward2 For now I have added a button to export them, the problem is that there is no way to delete them atm

[2021-01-08 07:14] robertsLando commented on #172
@bachya Now climates devices should be auto discovered, did you try to remove that custom device and let z2m do it for you? Do you see anything in console log?

[2021-01-08 07:20] robertsLando commented on #171
I dunno how we could distinguish them

[2021-01-08 08:26] AlCalzone commented on #173
I assume it has to do with the docker build process which seems a bit funky. The double node modules happen usually when a different version of a lib is installed later with different dependencies that can't be deduplicated.

[2021-01-08 08:33] AlCalzone commented on #174
Once we've sorted out the logging issue, I'll need a zwave-js log to see exactly what is going on.
I'm suspecting that the device is spamming, but cannot confirm right now.

[2021-01-08 12:25] jaburges commented on #163
What's the desired behavior of the average user?
1. Spend 99% in the UI and export/ download the log when there is an issue?
2. Rummage in the docker mapped folder?

I'm assuming ideally, once set up it would be best to keep the user in the UI.

[2021-01-08 12:34] robertsLando commented on #163
For sure the answer is 1, I know this

[2021-01-08 13:22] blhoward2 commented on #174
What make/model is node 54? Those three values are typical of an energy report being sent.

[2021-01-08 13:28] kaaelhaa commented on #174
It's a Qubino ZMNHBD2 Flush 2 Relays with temperature probe. Firmware 1.02.

Is there anything I can do to get more informative logs?

[2021-01-08 13:33] blhoward2 commented on #174
@AlCalzone Separate from this specific issue... Obviously the controller can’t do anything about a device flooding the mesh itself, but is it feasible to throttle misbehaving devices and drop excessive messages in some manner? Or to drop meter-type reports altogether if the system gets under too heavy of a load? The idea being that the mesh may go to hell but at least the broker stays running and

[2021-01-08 13:33] AlCalzone commented on #174
Wait for us to fix logging :)
@robertsLando is working on it right now, I will review and merge it tonight

[2021-01-08 13:35] AlCalzone opened #175 "throttle misbehaving devices and drop excessive messages"
---

This should be done generically. Detect floods of identical unsolicited messages and ignore them. Maybe issue a warning so users know what their devices do.

[2021-01-08 13:35] AlCalzone commented on #174
@blhoward2 good idea ==> https://github.com/zwave-js/node-zwave-js/issues/1318

[2021-01-08 14:24] blhoward2 commented on #174
@kaaelhaa Is this a new device? Was it working previously with another platform (without any config changes)?

[2021-01-08 14:32] kaaelhaa commented on #174
@blhoward2 The device have been in the network for at least a few years. It has always been very chatty though. Same goes for node 36 which is also another type of Qubino device (ZMNHAD1 Flush 1 Relay).

Have been in use on Z-way, HASS and qt-openzwave previously without issues.

[2021-01-08 15:47] AlCalzone commented on #174
@kaaelhaa Are you able to run the application without Docker and capture a profile like its described [here](https://nodejs.org/en/docs/guides/simple-profiling/) (the parts with the `--prof` and the ` --prof-process` params).

Would be intersting to know what's hogging the most performance here.

[2021-01-08 16:16] bachya commented on #172
@robertsLando I just spun up a fresh z2m instance (including a fresh store and no custom devices). Unfortunately, the `climate` device never appears; I only see the `binary_sensor`/`sensor` devices mentioned previously:

<img width="602" alt="Screen Shot 2021-01-08 at 9 14 14 AM" src="https://user-images.githubusercontent.com/47216/104037370-e3452780-5191-11eb-924f-c1381ad5ec05.png">

Here are the

[2021-01-08 16:19] onedr0p opened #177 "[feat] Create supported-devices in docs"
It would be nice in the docs if we mirrored something like

https://www.zigbee2mqtt.io/information/supported_devices.html and https://www.zigbee2mqtt.io/devices/MCCGQ11LM.html

Supported Devices Page:

[code]

Device Page:

[code]

[2021-01-08 19:18] towerhand commented on #116
Would this be available if I install zj2m wiith docker using the dev tag?

[2021-01-08 19:44] blhoward2 commented on #116
Not yet, no. @AlCalzone can correct me if I’m wrong but I believe the patch is built on top of zwave 6.0, which was incorporated by the pending #84 PR.

[2021-01-08 20:30] dvbit commented on #138
Give it time... today also the last property appeared.
I close the issue.
Once again thanks for the perfect tool.
a zwaver since 2010

[2021-01-08 20:30] #138 closed

[2021-01-08 21:25] kaaelhaa commented on #174
So, I executed `node --prof bin/www` and waited for the process to lock up (took approx. 15 minutes or "normal" operation) and then let it stay consuming 100% CPU for 10 minutes after that.

Processed the profiler output and put it in this Gist: https://gist.github.com/kaaelhaa/4ce04c21554d69082cbb1a48aaa248d3

Do not I got several errors logged by the processor like

[code]

Haven't investigated

[2021-01-08 21:28] AlCalzone commented on #174
My guess is on this loop:
https://github.com/zwave-js/zwavejs2mqtt/blob/04952ea13414e6a2d075dc2e07ec610ff4f066fc/lib/Gateway.js#L1262-L1280

There's probably a more performant way than looping through all values (which can be many) every few ms.

[2021-01-08 22:20] martindlarsson opened #178 "[bug] ID Lock 150 not locking"
**Version**

Build/Run method
- [ x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: latest at 8th january 2021.

**Describe the bug**
I have an ID Lock 150 and trying to lock it over zwave has no effect. I get an error message in the debug log. Im not sure what more information you need to fix this issue or if this is something I can fix?

*

[2021-01-08 23:44] towerhand commented on #116
Thanks @blhoward2, I'll wait until that issue is resolved before jumping in the testing wagon.

[2021-01-08 23:55] AlCalzone commented on #116
@all you could try if the double config issue is gone with https://github.com/zwave-js/zwavejs2mqtt/pull/181. I must admit I have no clue how to run it with Docker for Windows.

[2021-01-09 00:37] dvbit commented on #171
Thanks for the feedback
I  thought that having access at the direct communication between controller and automation software you had a privileged hook / information.

[2021-01-09 00:37] #171 closed

[2021-01-09 00:46] blhoward2 commented on #116
I’ll do so tonight.

[2021-01-09 00:54] AlCalzone commented on #178
Thats a UI bug. zwave-js does not accept the string, so the command is never sent to the log.

[2021-01-09 00:56] blhoward2 commented on #177
This is already open at the node-zwave-js level, where support for devices lives.

[2021-01-09 03:48] blhoward2 commented on #173
@AlCalzone I can confirm that #181 results in only one set of device files, but they are stale files. The recent changes for double-tap switches are not included.

[2021-01-09 04:33] blhoward2 commented on #173
@robertsLando @AlCalzone I built the docker image command by command. The correct device file exists in the node-zwave-js folder upon cloning, but then there are two after I run yarn install. The zwavejs2mqtt folder has no device files, but then after yarn install it has a stale copy of the device file. So that is where the stale device files are being introduced.

[2021-01-09 05:56] blhoward2 commented on #173
@AlCalzone @robertsLando I've run this down. It is an error introduced in #181. I posted the correction in a comment there to be incorporated.

[2021-01-09 07:08] martindlarsson commented on #178
The state of the device (lock entetie) in Home Assistant is also incorrect.
This worked in the stock zwave integration in HA.
Is there some configuration I can change to make it work?

[2021-01-09 09:32] AlCalzone commented on #178
I'd wait for #84 to be merged, then we can debug this further with a working log.

[2021-01-09 13:57] billiaz commented on #178
at #137 we changed the way lock works as due to payload. can you share with me the node exported in json?
you can do that https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/node_export
@martindlarsson

[2021-01-09 16:40] martindlarsson commented on #178
Here is my exported node information. Thanks!

[node_22.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5791413/node_22.json.zip)

[2021-01-09 18:28] billiaz commented on #178
@martindlarsson your lock seems to be the same as the other locks. and I do see the old payload (before the patch)

[code]
this means you are not running a newer than a few days version, which contains the patch I mentioned, if you move to latest release this payload should update to the new one.

[2021-01-09 18:30] martindlarsson commented on #178
Im running :latest which is 11 days old

[2021-01-09 18:32] billiaz commented on #178
can you try the :dev ? this is the one compiles every night from master

[2021-01-09 18:35] martindlarsson commented on #178
Ill try :)

[2021-01-09 18:43] martindlarsson commented on #178
Now it wokrs!! Thank you all for super wokrk! Im really impressed with how zwavejs works at this early stage.

[2021-01-09 18:43] #178 closed

[2021-01-09 19:02] AlCalzone commented on #178
Well, it has been in development for 3 years ;)

[2021-01-09 19:26] jcam commented on #23
@robertsLando the way that loadMeters in lib/Constants.ts accesses config no longer works. Will likely need to be refactored to query the ConfigManager from the zwave-js driver.

In https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Constants.js there is a reference:
const { lookupMeterScale, lookupMeter } = require('@zwave-js/config')

TypeError: lookupMeter is not a function
at Object.mete

[2021-01-09 21:00] kaaelhaa commented on #174
@AlCalzone I tried adding some extra logging to that loop and the 20 node values for node 48 is looped through in an instant.
Adding some more logging to the function to see if I can triage this, especially this loop is of concern now:

https://github.com/zwave-js/zwavejs2mqtt/blob/04952ea13414e6a2d075dc2e07ec610ff4f066fc/lib/Gateway.js#L1338-L1364

[2021-01-09 21:01] robertsLando commented on #23
@AlCalzone how can I access the config manager? Could you give me a snippet?

[2021-01-09 21:46] LordMike opened #182 "[feat] Logs are currently multiple lines and inconcistent formats"
**Is your feature request related to a problem? Please describe.**
Some users will probably try to store logs in databases for long term archiving and searchability. Some of the log output is currently in two lines and with multiple formats, which makes it tricky to interpret and search through.

F.ex. grepping through syslog storage is made difficult with the current output.

That being said. It'

[2021-01-09 21:48] LordMike commented on #182
I've just noticed that there are multiple timestamp formats too. I think the ozw logs are different from the zwavejs logs?... or perhaps the zwavejs2mqtt logs are different from the zwavejs logs?

I'll amend this request to be more about consistency.

[2021-01-09 22:21] LordMike opened #184 "[bug] getNodes JSON properties with multiple types (string/int)"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: v1.0.0-alpha.2

**Describe the bug**
When devices have not yet been discovered, some properties in the nodes json will be of a string type rather than integers. I'm calling `getNodes` to dump the nodes.

Example discovered:
![image](https://user-images.githubu

[2021-01-09 22:23] jcam commented on #23
^^ resolved this lookupMeter error here: https://github.com/zwave-js/zwavejs2mqtt/pull/183

[2021-01-09 22:32] LordMike opened #185 "[bug] UI for a dimming duration shows "[object Object]""
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: v1.0.0-alpha.2

**Describe the bug**
A wall switch with built in dimmer (ZDB5100 Matrix) has a multilevel switch section in ZJS2M. In the UI, the duration parameter shows up as `[object Object]`. In the `getNodes` json, I see that the value of this field is:

[2021-01-09 22:37] LordMike commented on #78
Quick question. If i set the current RGB colors (three values), will there be three messages over ZW?

From the other projects, I expect the actual color value to be one value, meaning one message is more than enough to set it. Sending three is really wasteful.

[2021-01-09 22:51] LordMike opened #186 "[feat] Add API to configure associations to a final state"
**Is your feature request related to a problem? Please describe.**
I maintain a desired state configuration for my z-wave items besides OZW/Z2M/ZJS2M .. this configures my devices (we've discussed templated configurations before) and configures HASS with desired discovery documents. What I haven't currently got, is associations between devices.

**Describe the solution you'd like**
I'd like an API

[2021-01-09 22:53] LordMike commented on #186
I also think that this API could help reduce chatter on the z-wave networks.

It's my impression that the defaults of many devices, is to send all updates to node 1 (the controller).. This makes the networks "just work", but also introduces a lot of potentially unnecessary messages.

Removing the node 1 from many of the groups would go a long way to reducing this. :)

[2021-01-09 23:07] kaaelhaa commented on #174
My testing confirms this loop is infinite:

https://github.com/zwave-js/zwavejs2mqtt/blob/04952ea13414e6a2d075dc2e07ec610ff4f066fc/lib/Gateway.js#L1346-L1351

That's what causes everything to freeze.

Is it necessary to have this stanza as it seems #68 improved the logic quite a bit?

[2021-01-09 23:40] LordMike opened #187 "[bug] Configuration seems to be empty / not show current values?"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: v1.0.0-alpha.2

**Describe the bug**
When looking into a device that is completely discovered / interviewed, the configuration tab has all empty input boxes for various configs. In Z2M, this would show the current values.

Is this a missing feature, a bug, or

[2021-01-09 23:51] LordMike opened #188 "[feat] Show message queue for nodes, potentially a log of messages"
**Is your feature request related to a problem? Please describe.**
When troubleshooting, operating, or working with my z-wave network, I find myself constantly wanting more technical information. Right now, when migrating from Z2M, I had a number of un-interviewed nodes (battery operated), which I went around and woke up.

Some of the devices became interviewed, but most did not. I do not know, at

[2021-01-09 23:54] robertpeteuil opened #189 "[bug] Failed with error: ZWAVE: Controller status: Driver: Failed to initialize the driver: dest already exists"
Version = 1.0.0-alpha.2  (most recent dev container, created at 2021-01-07T17:24:48)

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 5.7.0?  (the version in the dev container specified above)

**Describe the bug**
- zwavejs2mqtt stopped processing ZWave and container log had error `ZWAVE: Controller status: Driver: Fai

[2021-01-09 23:55] LordMike commented on #188
For lights, information on when messages were queued and delivered would help immensely at identifying slow devices. If a device is noticeably slow, I'd like to know if I should fix something myself, or complain to the vendor to have them make it faster..

F.ex., if the command to turn on was received via MQTT at T+0ms, delivered and acked at T+60ms, but first turn on at T+500ms.. then I know the

[2021-01-10 00:03] LordMike opened #190 "[feat] Formatting of timestamps (and other values)"
**Is your feature request related to a problem? Please describe.**
Timestamps are currently formatted as AM/PM and some variation of dates.. I'd like to be more ISO8601-ish.

I tried setting my browser language to danish, which shouldn't use AM/PM, but with no change on the site.

I'm using `v1.0.0-alpha.2`

**Describe the solution you'd like**
Formatting configuration for units / dates / times ..

[2021-01-10 01:47] tommyjlong opened #191 "[question] Best way to deal with device file that didn't migrate"
I'm looking to migrate over from ZWave2MQTT to ZWavejs2MQTT.
I'm looking at the device files and it appears that all my devices are supported except for one.

[zwave-js FortezZ devices](https://github.com/zwave-js/node-zwave-js/tree/master/packages/config/config/devices/0x0084)
versus
[OpenZWave FortrezZ devices](https://github.com/OpenZWave/open-zwave/tree/master/config/fortrezz)

In particular t

[2021-01-10 06:00] jcam commented on #191
Best would be for you to make a device file! There isn't clarity from the OZW guy yet whether we can bulk import OpenZWave device configs (see https://github.com/zwave-js/node-zwave-js/pull/1112), which is why it hasn't happened yet. Unfortunately the licenses are not currently compatible.

[2021-01-10 08:38] Swiftnesses opened #193 "[bug] - HASS entity naming convention not respected..."
Running latest docker 'dev' version.

I've set the entity naming convention of 'zwave_%nid_%o', but when I add a name and location (to be sent as part of the info), it renames the entities too?

I'd expect that the name and location appears in the dashboard and is sent when the option 'include node info', but the entities follow the naming convention set...

[2021-01-10 09:01] Swiftnesses opened #194 "[feat] How can we reset energy meters?"
Running latest docker 'dev' version.

Using the old Home Assistant zwave implementation it was possible to reset energy meters (for example, Aeon smart switches) using a service, for example:

[code]

Is this achievable via zwavejs2mqtt, or on the roadmap?

[2021-01-10 09:01] Swiftnesses commented on #194
Example of how I achieved this in Node Red.

<img width="532" alt="Screenshot 2021-01-10 at 09 01 29" src="https://user-images.githubusercontent.com/1001877/104118633-71e8ae80-5322-11eb-9c6e-549a603165cd.png">

[2021-01-10 12:48] #173 closed

[2021-01-10 13:00] robertsLando commented on #194
@Swiftnesses I think there should be a dedicated valueid for this? DId you checked the UI control panel?