[2021-09-20 16:03] MYeager1967 commented on #1640
The log has entries in it, it just took a bit for them to show up in my monitor window. I edited the post with that and a better log. The device is working, now it's an issue of why it's not firing the scene.

[2021-09-20 16:07] MYeager1967 commented on #1640
This is the current scene list if it helps spot a problem..
[scenes.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/7197074/scenes.json.txt)
.

[2021-09-20 16:37] blhoward2 commented on #1640
That’s not how these work. The Scene inside zjs2mqtt has nothing to do with the scene event the device is sending out. You’d need to automate off the scene message coming in and have HA or whatever fire the scene.

[2021-09-20 16:46] MYeager1967 commented on #1640
Gotcha. Can I build the scenes in zwavejs2mqtt or do I build them in HA? Each scene has multiple devices in it and this device only sends an "on", there is no off. That being the case, unless there's a way to specify the desired state in a direct association, I'm out of luck....

[2021-09-20 16:48] blhoward2 commented on #1640
I don't believe so. You may be able to activate the scene in zjs2mqtt through mqtt but that would be it. It would be cleaner just to do it where you're automating.

With the VRCS4, it restores the device to whatever state/level it was in when you added it as I recall. It's not perfect.

[2021-09-20 18:14] HubertusH opened #1712 "I would like to see the COMMAND_CLASS_CLOCK at LC-13"
**Is your feature request related to a problem? Please describe.**
The danfoss device "living connect" LC-13 supports the device class COMMAND_CLASS_CLOCK becouse the device made a check once every week

**Describe the solution you'd like**
It would be great if the COMMAND_CLASS_CLOCK with the parameters get/set day / hour / minute to read and reset the clock.

In the "older" gateway Zwave2MQTT wi

[2021-09-20 22:57] MYeager1967 commented on #1640
Success! I managed to figure out how to grab the data I needed from the node_value_updated key buried under events. I used this to automate the scenes that I originally had assigned to this switch. It's still a temperamental little bastard, sometimes needing several presses before it registers, but I think that may be a locational thing. Either way... Was there supposed to be a newer version with

[2021-09-20 23:12] AlCalzone commented on #1640
No its not released yet

[2021-09-20 23:30] MYeager1967 commented on #1640
Ok. I look forward to seeing it. Any idea why the data from the event stream isn't populated into the MQTT data tree? It puts the 44/43/0/sceneId entry in, but only time shows. There's quite a bit more under 43/0/sceneId.....

[2021-09-21 06:21] AlCalzone commented on #1640
@robertsLando ?

[2021-09-21 06:30] robertsLando commented on #1640
@MYeager1967 Are you using Mqtt explorer? BTW I publish everything I receive as valueId and notifications to mqtt, you should enable debug logs and check when the event occurs if you see the log that shows the publish

[2021-09-21 06:38] robertsLando commented on #1704
Hi @jasonkelly214 , for HASS I really suggest you to enable zwavejs server in settings and use it with hass zwavejs integration, mqtt discovery is limited comprared to that

[2021-09-21 06:56] robertsLando commented on #1712
@AlCalzone

[2021-09-21 11:10] AlCalzone commented on #1712
The driver supports `Clock CC` and automatically corrects the clock on the device if it receives a clock report that's off too much. If I understand your comment

correctly, this should happen already. We don't have separate values for each property, but you can use this API to set the clock manually:
https://zwave-js.github.io/node-zwave-js/#/api/CCs/Clock?id=set

The weekday must be one of those

[2021-09-21 11:12] AlCalzone commented on #1712
If this is a request to have UI to get/set the clock, zwavejs2mqtt should handle it.

[2021-09-21 11:24] MYeager1967 commented on #1640
Absolutely running MQTT Explorer. Wouldn't be without it. This is the entire tree for the device. Unfortunately, there's nothing in the last line that's useful either... I'll Try to check the debug for that later. Right now, I'm working off the event itself. Would be much better if it showed up in the tree. I'm guessing it's probably got something to do with the device itself though...
![Capture](

[2021-09-21 11:33] AlCalzone commented on #1640
By the driver, `sceneId` is treated as an event and not a persisted value. I think zwavejs2mqtt resets the values it creates for those back to `undefined` after a second, @robertsLando ?

[2021-09-21 12:00] MYeager1967 commented on #1640
No idea. It doesn't show up in the data tree anywhere so I can't even tell you it's undefined.

[2021-09-21 12:04] AlCalzone commented on #1640
![grafik](https://user-images.githubusercontent.com/17641229/134167167-478bf6f0-4f38-4a51-97da-03a9bb01c727.png)
What about this?

[2021-09-21 12:07] MYeager1967 commented on #1640
That's part of the data. There's quite a bit more under that key...

[2021-09-21 12:20] MYeager1967 commented on #1640
When I get back on the computer later, I'll copy the whole event that I'm catching. There's plenty there..

[2021-09-21 15:48] tommyjlong commented on #1712
If you are interested in more details for setting the clock using the API, here is a thread that ended up working for me (using ZwaveJS2MQTT)....(just jump to the last couple of discussion points):
https://github.com/zwave-js/zwavejs2mqtt/issues/1386

[2021-09-21 16:34] AlCalzone commented on #1712
I KNEW it had to be somewhere - didn't remember if it was on Slack or here

[2021-09-21 16:57] daphatty opened #1713 "[feat] Z-wave logging and log to file enabled by default"
**Is your feature request related to a problem? Please describe.**
Depends. Could be yes, could be no.

**Describe the solution you'd like**
I'd like to request that Z-wave logging and log to file for Z-wave events be enabled and set to Debug/Silly log level by default.

**Describe alternatives you've considered**
A forced UI element during initial set up of the AddOn that prompts a user with the

[2021-09-23 10:59] HubertusH commented on #1712
Perfect! Thank you all.

[2021-09-23 15:38] slippern commented on #1670
Im now running
zwavejs2mqtt: 5.6.0
zwave-js: 8.3.1

and im still having the same issue.

[2021-09-23 16:04] robertsLando commented on #1701
The not documented alternative would be to use the websocket that is actually used on client side to retrieve those informations, BTW making an api for this is really easy so I would go for it, just give soem days as I will be back from Holidays on Monday :)

[2021-09-24 08:07] Micka41 opened #1728 "[bug] The icons are no longer displayed"
### Version

**Checklist:**

- [x] I am **not** using HomeAssistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog problem was **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Snap package
- [x] Manually built (git clone - yarn install - yarn run build

[2021-09-24 08:10] Micka41 commented on #1728
![Sans titre](https://user-images.githubusercontent.com/10485916/134640989-f54cd25b-b572-4f3f-9188-81887cc62455.png)

[2021-09-24 08:14] mamoel666 commented on #1728
I can confirm this.

[2021-09-24 09:22] bburgschat commented on #1728
Same on Docker Images

[2021-09-24 11:45] ScratMan commented on #1728
Confirmed here on a docker container.
Seems that the ZWave network is still working, and I could not find errors in log about missing icons.
[_zwave-js_logs.txt](https://github.com/zwave-js/zwavejs2mqtt/files/7225377/_zwave-js_logs.txt)

[2021-09-24 11:49] mupsje commented on #1728
pfiew, I thought I was the only one :)

Here same issue.......
Docker

[2021-09-24 13:00] tprelog commented on #1728
Hi, I have the same issue after upgrading to `5.6.1`

![image](https://user-images.githubusercontent.com/35702532/134678037-8581b376-600b-46f8-bf27-a61278340a58.png)

I'm also using the Docker container

[2021-09-24 13:06] MastrUsr commented on #1728
Docker image. Same for me...

[2021-09-24 13:19] ahochsteger commented on #1728
This PR fixes the issue:
https://github.com/zwave-js/zwavejs2mqtt/pull/1729

[2021-09-24 14:06] HubertusH commented on #1712
i try the api call 0x81 (129) to get the clock of the device - i get one! But it's wrong.
When the driver automatically corrects the clock?

BR
Hubertus

[2021-09-25 06:01] #1728 closed

[2021-09-26 07:02] AlCalzone commented on #1712
When the device sends the driver an unsolicited Clock Report. After a Get, it won't react automatically. If it's that off, it doesn't seem like the device requests the current time on its own, so you'll have to issue a Clock Set yourself.

[2021-09-26 16:39] GaTechThomas opened #1735 "[bug] Confusing thermostat mode_command_topic field."
The Home Assistant MQTT documentation on this repo has unclear info for mode_command_topic. The specific page is:

https://github.com/zwave-js/zwavejs2mqtt/blob/master/docs/guide/homeassistant-mqtt.md

The description for mode_command_topic says,
```"If true this values are subscribed to this topics to send commands from Hass to change this values."```

This field is particularly nuanced, so it wo

[2021-09-27 07:35] robertsLando commented on #1735
Hi @GaTechThomas, did you ever considered to move to hass zwave js integration? You can enable it from hass settings and it's the raccomended way now, mqtt is much more limited and I don't plan to keep it supported in the future as it's frequently broken by hass updates

[2021-09-27 08:13] robertsLando commented on #1670
Considered to swith to official hass integration? Just need to enable zwavejs server in hass settings

[2021-09-27 08:23] robertsLando commented on #1713
@daphatty enable logging by default actually could cause some unexpected side effects expecially with zwavejs2mqtt logs as them have no limits and have no rotation. @blhoward2 @AlCalzone thoughts on this?

[2021-09-27 09:08] AlCalzone commented on #1713
I think this is about the driver logs which already use logrotation. I absolutely agree with `debug` level by default. I can't count how often I've asked for logs to diagnose an issue, only to be presented with useless info level logging.

[2021-09-27 09:41] robertsLando commented on #1713
Done here: https://github.com/zwave-js/zwavejs2mqtt/pull/1746/files/bdb203df29a5b06c01d89323a87c185766f7ddf1..3ac098859af9a08a2b948b794820067b4633498b

[2021-09-27 09:42] #1158 closed

[2021-09-27 09:42] #1713 closed

[2021-09-27 10:04] #1701 closed

[2021-09-27 11:58] lddubeau commented on #1701
I got busy but the change sounds good. Thank you!

[2021-09-27 12:07] frenck commented on #1158
This is not something an application should solve. The OS support things like logrotation.

[2021-09-27 12:11] robertsLando commented on #1158
@frenck I know but most users haven't much experience to do it, so after many and many requests I decided to implement it (it's just few lines of code)

[2021-09-27 12:15] frenck commented on #1158
Sorry, but that makes no sense in my universe.
Instead of adding "fluff" to an application that it shouldn't have, you could teach, document or explain how it should be done. Now you are going to get stuck with stuff that doesn't belong here.

I think you should strongly consider reverting this change.

[2021-09-27 12:16] blhoward2 commented on #1158
You can't rotate the log file in the OS. The driver fails to write to it after you do so even if it's recreated.

[2021-09-27 12:17] frenck commented on #1158
?! I'm sorry, I'm not even going to try to respond to that insanely wrong answer.

[2021-09-27 12:25] blhoward2 commented on #1158
You have your theory of application design, evidently. There is nothing that says an application that provides for its own logging abounding provide maintenance feature around that logging. That's absurd.

[2021-09-27 12:27] frenck commented on #1158
I would recommend reading a book or two on the subject.

Anyways. I'll deal with it don't give a darn 👋

[2021-09-27 12:29] chennin commented on #1158
You can: that's what the `copytruncate` directive in `logrotate` is for.

[code]

[2021-09-27 12:38] robertsLando commented on #1158
@frenck @chennin As I said I implemented this just because many users where asking for it, also zwave-js has this feature implemented in the driver when log to file is enabled. I suggest to let users decide?

I mean we could create a pool here give it a week and check the number of thumbs up/down?

[2021-09-27 12:43] chennin commented on #1158
I don't have strong opinions on its existence, but I did already implement OS-level rotation and I do have a question: can I disable this feature? I did check the docs, for reference:
[code]
and from `winston-daily-rotate-file`:
[code]
Does that mean if I set both env vars to `"null"`, it will be disabled, or will the string not pass through correctly?

[2021-09-27 12:47] robertsLando commented on #1158
Nope, if them are not set they will use the default value. @chennin If you are interested I could add a env var to disable the log rotation

[2021-09-27 12:47] blhoward2 commented on #1158
Ultimately, this is a decision that must accommodate different installation methods. If we don't do it (as the driver already does), then WE have to worry about supporting it across multiple operating systems and installation methods and explaining how to do it. And lots of users use docker volumes which makes it even more complicated. It's just not worth it. MANY other applications all provide fo

[2021-09-27 12:49] chennin commented on #1158
Yeah, I'd appreciate a way to disable it since I already have OS-level set up!

[2021-09-27 12:50] blhoward2 commented on #1158
It may make sense to allow it to be disabled. I don't know what they involves.

[2021-09-27 12:56] robertsLando commented on #1158
@chennin https://github.com/zwave-js/zwavejs2mqtt/pull/1755

[2021-09-27 13:00] blhoward2 commented on #1158
I'd also add, we need to consider the average user's expectations here. Currently, users turn on log to file then come back months later to a 10 GB log file. Sometimes it fills the SD card and crashes the whole thing. Pointing such users to documentation about something else they need to install to fix the issue creates a negative impressions of the project. If we create the file, an average user

[2021-09-27 15:19] #982 closed

[2021-09-27 15:57] frenck opened #1756 "[bug] X-External-Path header ignored in some cases."
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Snap package
- [x] Manually built (git clone - yarn install - yarn ru

[2021-09-27 15:58] robertsLando commented on #1756
@frenck Could you show me if you have warnings or errors in console log?

[2021-09-27 16:07] frenck commented on #1756
No, no warnings in the console. Only a 404 on the path, as the external path header was ignored when retrieving the woff2 files

[2021-09-27 16:33] trueppp opened #1757 "[question] S2 Keys in docker-compose"
How do you include your S2 keys into docker-compose.ymal? Example only populates S0 key

[2021-09-27 19:28] luzik commented on #1416
Mine graph in safari shows only upper part of image. On the preview window it is ok.

[2021-09-27 19:54] luzik opened #1758 "[bug] Configuration params inputs"
### Version

Build/Run method

- [ x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zwavejs2Mqtt version: 5.7.0
Z-Wave JS version: 8.4.0

### Describe the bug

Using [this](https://github.com/zwave-js/node-zwave-js/blob/master/packages/config/config/devices/0x0258/nas-pd07z.json) device as reference I found that:

1. I do believe that negati

[2021-09-28 05:53] slippern commented on #1670
I have switched to the official hass integration, and the thermostat card is now working as expected..

[2021-09-28 06:25] #1670 closed

[2021-09-28 06:29] robertsLando commented on #1704
You should set the ignore disvovery flag in the discovery json to true in the devices you don't want to discover and store them in nodes.json by pressing the store button from hass devices table

[2021-09-28 06:32] robertsLando commented on #1757
You mean env vars? Actually there is no env var to set them, would you like it to be implemented?

[2021-09-28 06:58] robertsLando commented on #1758
Humm strange, when you send -20 do you see a log in console that says -20 is received? It could be that the device is refusing the value and so it reports 0. Needs logs

The custom chip is there because them have a list of supported values and `allowManualEntry` option is true, in this case the input used is a combobox, it allows you to send custom values but also suggest you a list of predefined

[2021-09-28 07:01] robertsLando commented on #1756
Quite sure it's something related to https://github.com/zwave-js/zwavejs2mqtt/commit/c2bd96784ab34a48757f1cd1a02c805e10b812cc.

If I open a PR could you test it? @frenck

[2021-09-28 07:23] frenck commented on #1756
Yes

[2021-09-28 08:04] robertsLando commented on #1756
@frenck PR ready

[2021-09-28 08:06] frenck commented on #1756
Installing...

[2021-09-28 08:20] frenck commented on #1756
Some changes visible, but no sigar

![image](https://user-images.githubusercontent.com/195327/135050353-566e7ccc-5fc1-4286-a701-34b5eb7a4f10.png)

![image](https://user-images.githubusercontent.com/195327/135050331-9c45431e-8930-40b2-9233-0162aed03e07.png)

The filenames have changed, there is a notable double dot (`.`) before the filename extension. However, as you can see on the right side, the

[2021-09-28 09:32] robertsLando commented on #1756
Sincerly I have no clue why that happens, I will do another try, if still not working I will revert the css-loader to previous version

[2021-09-28 09:32] robertsLando commented on #1756
Try last commit please

[2021-09-28 12:08] luzik commented on #1758
1. In log there was -20 as send, but 0 while read configuration. I will check it again and send logs.

2-3. Ok, but number of supported values is always one, so there is no point to use v-combobox with integer, it is not any kind of list. Maybe I do not understand something right. Looking at ValueId.vue component it would be ok if it jump into v-if="!value.list && value.type === 'number'". Why doe

[2021-09-28 13:19] robertsLando commented on #1758
Could you send me a dump of that node? I would like to see the valueIds array to check the props

This really depends on your device, I mean what you see there is what I receive from zwavejs that is declared in zwavejs devices config database, it could be that there is a typo in docs and maybe they have set the unit to % but the input value is in decimals (or viceversa). To fix that just write her

[2021-09-28 13:37] trueppp commented on #1757
Please as when I update the container, I lose the S2 Keys i've put into the config. I then need to reimport the config.

[2021-09-28 15:23] robertsLando commented on #1757
Why?? This means you haven't setup a volume

[2021-09-28 16:44] AlCalzone commented on #1758
Our config files merely mirror what the devices expect. A lot devices have config params like this where a value of 60 means 6%, so we added a multiplier into the unit string to at least show this somewhere. I'm not very happy about it, but there are more important issues at the moment.

If you can't wait, feel free to provide a PR to https://github.com/zwave-js/node-zwave-js adding support for a

[2021-09-28 19:50] luzik commented on #1758
Ad.1 There is error in device documentation. I will send fix for it. I was trying set -20 to param that do not support negative values, due to this bug in doc. Never mind, and sorry for taking time on that.

Ad.4 Thank You for explanation. I did not consider that such change can affect existing inconsistent config files.

Ad.2-3

While You look at this please also help me understand why device is

[2021-09-28 20:31] AlCalzone commented on #1758
Please make a [driver log](https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report?id=driver-logs) of a re-interview, loglevel `debug` or `silly` and attach it here as a file.

[2021-09-28 20:56] luzik commented on #1758
Not to many debug logs, but here
[zwavejs2mqtt_2021-09-28.log](https://github.com/zwave-js/zwavejs2mqtt/files/7247233/zwavejs2mqtt_2021-09-28.log)

[2021-09-29 06:33] robertsLando commented on #1758
Ok I may have found the problem here:

[code]

Seems that states are reported as an empty array and this makes me think it's a list value. Let me submit a fix for this

[2021-09-29 06:44] robertsLando commented on #1758
The states problem has been fixed on master, reopening this for the others

[2021-09-29 06:57] AlCalzone commented on #1758
Not that I know of - especially not an empty array. TypeScript would shout really loud if I did that.

[2021-09-29 07:08] robertsLando commented on #1758
Nope sorry, them are `undefined` but the property is in the record, some versions before it wasn't there at all in the object, not it is there but is set to `undefined`

[2021-09-29 07:49] AlCalzone commented on #1758
Do you have an example?

[2021-09-29 09:07] robertsLando commented on #1758
Seems to happen only with configuration valueIds BTW not a big deal is fixed now

[2021-09-29 10:34] AlCalzone commented on #1758
Which ones? If this is something on my end, I'd like to fix it

[2021-09-29 17:43] frenck commented on #1756
@robertsLando I'm still recovering from surgery, so not full-time online. At this point, I'm working towards the Home Assistant beta, which has a higher priority. I'll get back to this asap.

[2021-09-29 17:53] jmgiaever opened #1762 "[feat] Store UI: Ignore path in ZWAVEJS_EXTERNAL_CONFIG when set"
**Is your feature request related to a problem? Please describe.**
The UI takes a lot of time to load when the `ZWAVEJS_EXTERNAL_CONFIG` is set to something else than the docker default path `/usr/src/app/store/.config-db`.

This wasn't clear from the docs and path was set to something else for the snap-version of `zwavejs2mqtt`. The store takes very long to load as traverse the whole hierarchy of

[2021-09-30 06:16] robertsLando commented on #1756
I'm sorry, hope you are well. Don't worry take your time

[2021-09-30 07:48] kvaster opened #1765 "[feat] Multiple batteries per node"
Zwavejs2mqtt show battery status in control panel. Currently it is supposed that device may have only one battery, but there are some devices which may have two batteries on different endpoints.

Fibaro FGT001 have it's own battery (on endpoint 0 or 1) and may have external sensor's battery on endpoint 2.

It will be good to show icon for lowest value and to show text for all values (i.e. 52%/63%)

[2021-09-30 08:11] robertsLando commented on #1765
@ahochsteger thoughts on this?

[2021-09-30 10:13] frenck commented on #1756
The last commits make no difference in terms of visible results and in results in the browser debugger.

![image](https://user-images.githubusercontent.com/195327/135436840-8547860c-227d-4290-a394-ec7d7b959d69.png)

[2021-09-30 14:16] robertsLando commented on #1756
Cannot detect why this is happening BTW I know that the only thing I touched is webpack build to update css-loader here c2bd96784ab34a48757f1cd1a02c805e10b812cc so I have reverted that commit. Try now please

[2021-09-30 16:21] hi-flyer opened #1768 "[question] mqtt code 112 not translated to text"
Just curious and It is not a problem for me but I notice that all of the 112/0/# are not translated to text like all the other codes e.g 98/0/currentMode. Is there a real reason for this?

[2021-09-30 17:44] frenck commented on #1756
Yep... works

![image](https://user-images.githubusercontent.com/195327/135504894-80376754-e5df-4546-9b0a-7a3a12f311c9.png)

[2021-09-30 17:50] ahochsteger commented on #1765
@kvaster thanks for your suggestion, this sounds like a reasonable improvement to me.
Would you be able to share the debug info JSON?

[2021-10-01 06:22] robertsLando commented on #1768
Because configuration CC parameters are provided by manufacturers and are only identified by a number

[2021-10-01 06:30] #1756 closed

[2021-10-01 07:54] kvaster commented on #1765
Attached debug JSON:

[debug.txt](https://github.com/zwave-js/zwavejs2mqtt/files/7265250/debug.txt)

[2021-10-01 17:55] nfrntrd opened #1769 "[bug] Enabling zwave-js integration in HA causes WS client socket disconnects UNTIL a network re-interview is performed in the control panel"
Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

zwavejs2mqtt: 5.7.2
zwave-js: 8.4.1
home id: 3897765872
home hex: 0xe8532ff0

### Describe the bug

Recently I moved from legacy zwave 1.4 integration and moved to the zwave-js integration.  In my development system which has an identical Aeotec Gen5 stick with one device

[2021-10-01 18:05] nfrntrd commented on #1769
In the zwavejs2mqtt log at 16:58:20 this might tell you something, but I don't know what it means.  I know that's the time I instructed the re-interview.

2021-10-01 16:54:39.160 INFO ZWAVE: Node 4: value updated: 38-0-currentValue 99 => 0
2021-10-01 16:54:46.626 INFO ZWAVE: Node 4: value updated: 38-0-currentValue 0 => 99
2021-10-01 16:56:47.367 INFO ZWAVE: Node 2: value updated: 32-0-currentValu

[2021-10-01 18:54] GaTechThomas commented on #1735
Well that's disappointing. The zwave js integration has been a massive disaster for me. I spent many fully weekends over this year trying to piece together enough info to get it working. Only when I dumped the zwave js integration altogether and started using zwavejs2mqtt's MQTT devices directly did things start working again. (FWIW, I have 20+ years of systems software development, so I'm pretty

[2021-10-02 00:20] kpine commented on #1769
This problem is because you have several nodes (I couldn't count them all) that support the Scene Actuator Conf CC. Because of a change in zwave-js 8.4.0 it has greatly increased the amount of data that is sent out to websocket clients when they first connect to the server, in. In this case it's the HA Python client, and it is not configured to handle the payload size. You can see this in the node

[2021-10-02 00:31] kpine commented on #1769
As a workaround, I think you could temporarily edit the file `/home/ha/homeassistant/lib/python3.8/site-packages/aiohttp/client_ws.py`. In the `connect()` function you can disable the message size limit, or so to whatever size you want.

[code]

[2021-10-02 00:52] nfrntrd commented on #1769
Thank you so much for looking into it.  I will file it in HA.  This seemed so specific to my migration, but thank you for directing me to the right place.

[2021-10-02 00:59] #1769 closed

[2021-10-02 00:59] nfrntrd commented on #1769
Closing and moving over to HA core integration.
https://github.com/home-assistant/core/issues/56922

[2021-10-02 13:52] amclean1980 opened #1770 "2021-10-02 07:26:27.627 INFO ZWAVE: Controller status: Driver: Failed to initialize the driver: Cannot read property 'valueDB' of undefined"
Hi,

I'm running HA with zwavejs2mqtt ver 5.4.5 and I'm using the zooz s2 700 usb controller (switching over from the Aeotec gen5+ stick).

The new set up was going fine, and I was able to include most of my devices.  I had some issues including my Schlage Connect door locks as one almost always does.... Because they had unknown manufacturer info the first time including, i tried to re-interview a

[2021-10-02 18:04] amclean1980 commented on #1770
Update:  I'm going to close this.  Some combination of physically unplugging the z-stick (as opposed to just disconnecting from the VM) and recreating the docker containers on the VM seems to have fixed the connection issue.

[2021-10-02 18:04] #1770 closed

[2021-10-03 07:22] robertsLando commented on #1735
@GaTechThomas I'm sorry for that, in docs we clearly Say that the preferred way it's the zwavejs integration: https://zwave-js.github.io/zwavejs2mqtt/#/homeassistant/homeassistant-mqtt. MQTT discovery it's just an alternative

[2021-10-03 13:28] mriksman opened #1771 "[bug] Interview stuck at ProtocolInfo. Device shows Unknown but exists on ZWavejs Database"
**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ ] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zw

[2021-10-03 17:23] rvb89 opened #1772 "[question] Zwave not working after config files update"
Hello,

after I ran an update of the config files using the web control panel and then later rebooting the server it seems something is not working anymore.
It says: Driver: Failed to initialize the driver: Timeout while waiting for an ACK from the controller
The list of zwave equipments is empty.
When I checked the zwave configuration it shows the following details which are different of the menu

[2021-10-03 17:46] wilmardo opened #1773 "[question] Fibaro Dimmer 2 FGD212 isn't turning the lights on"
Sorry if there is a better place for this issue, please let me know if this is the case!

I have a problem with my Fibaro FGD212 since I switched from Zwave2MQTT to ZwaveJS2MQTT. It just doesn't turn the lights on anymore.
When I switch the light on I see the update in the logs:
[code]
And the currentValue in the webinterface shows indeed 99 after I switch the light on. But the bulbs themselves ar

[2021-10-03 21:01] mriksman commented on #1771
I added S2 and S0 keys, and then Excluded and Included it again. It has picked up everything, including additional items like Battery.

[2021-10-03 21:01] #1771 closed

[2021-10-04 02:09] GaTechThomas commented on #1735
"Alternative" is not nearly as strong as "deprecated". If it's going to be discontinued soon, then it would be helpful to users to see it described as deprecated.

The good news is that I have it working fully with zwavejs, no MQTT at all. It seems that switching from Aeotec Z-Stick Gen5 to Gen5 Plus did the trick.

[2021-10-04 02:09] #1735 closed

[2021-10-04 06:33] ahochsteger commented on #1765
@kvaster thanks for the debug output, that helps a lot!
Have a look at PR #1777 where a first draft can already be tested.

[2021-10-04 07:43] mazmar opened #1782 "[feat] S2 DSK database"
Would it be possible to create a txt/json S2 DSK database providing full 16 numbers in a file (or UI i don't mind) when device is then added via inclusion it would check if the DSK is in the database and automatically setup S2 without PIN request.

This might sound stupid but I'll explain what happened to me:
I bought 23 Fibaro Walli Switches which are S2 enabled. I Installed all of them on ZwaveJ

[2021-10-04 07:48] mazmar opened #1783 "[question] Changing security without node removal (keeping location/name and ID)"
Is there an easier way of changing security on existing device? I kinda understand that the device has to be excluded and then included in order for S2 to work but this means all node ids will change and that will messup with my hass.io and I will need to organise all switches again?

[2021-10-04 07:59] robertsLando commented on #1782
Could make sense. BTW I would also know @blhoward2 and @AlCalzone opinion about this

[2021-10-04 08:00] robertsLando commented on #1735
I will fix the docs to make it more clear so. Thanks 🙏🏼

[2021-10-04 08:06] robertsLando commented on #1783
Thre is a step by step guide written by @blhoward2 but I cannot find the link to it. Maybe colud be worth adding it to docs? @blhoward2

[2021-10-04 08:23] robertsLando commented on #1772
I dunno what's the default folder for snap users. @jmgiaever ?

[2021-10-04 08:26] #1762 closed

[2021-10-04 08:26] #1768 closed

[2021-10-04 12:10] blhoward2 commented on #1783
https://github.com/zwave-js/node-zwave-js/issues/3227

Others have also said that you can use a second stick to exclude it, if you have one, in lieu of these.

[2021-10-04 14:02] AlCalzone commented on #1782
That's basically SmartStart. It's on my to do list.

[2021-10-04 15:33] HubertusH commented on #194
Can we reopen this issue?

How can i reset the meter with MQTT (without using has).
In ZwaveJS2MQTT the parameter is "[72-50-0-reset] Reset accumulated values" the 72 is the deviceid.
The "old call" via API do not work.

BR
Hubertus

[2021-10-04 15:35] robertsLando commented on #194
https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=set-values

[2021-10-04 15:57] HubertusH commented on #194
SetValue did not work - but i found the way:
xxx/_CLIENTS/ZWAVE_GATEWAY-ZwaveJS2Mqtt/api/sendCommand

`{ "args": [
  {
    "nodeId": msg.payload,
    "commandClass": 50,
    "endpoint": 0
  },
  "reset",
  [{}]
  ]
}`

with the nodeid in msg.payload it runs perfect.
Thank you

[2021-10-04 17:22] blhoward2 commented on #1782
I thought SmartStart required you to have the QR available? He's saying let the user create a database of them that the front end then searches and returns from if there is a match.

[2021-10-04 17:56] rvb89 commented on #1772
After a few reboots it now shows a different error:

[2021-10-04 18:13] #1704 closed

[2021-10-04 18:13] jasonkelly214 commented on #1704
That worked thanks

[2021-10-04 19:10] jmgiaever commented on #1772
Hi sorry my delayed reply. I've been away for the weekend and just returned. Have you tried to do a reboot?

[2021-10-04 20:01] rvb89 commented on #1772
I tried a few reboot of the ESXI VM without success also tried to reboot the whole host, no success at this time.

[2021-10-04 20:40] Gis70 commented on #1220
Hello @robertsLando I come back to you regarding my needs, getNodes is to huge, would it be possible to get at least getNodes(myNode) ? and in an ideal world getNodes(myNode,myParams) ==> example getNodes(21, lastActive)
It would be very useful, light and simple for us (users). Thank you

[2021-10-04 23:05] jado opened #1785 "[bug]"
- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [x ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zwavejs2Mqtt vers

[2021-10-05 06:13] robertsLando commented on #1785
Could you show me the entire service file?

[2021-10-05 07:41] AlCalzone commented on #1782
SmartStart requires you to enter the DSKs of the devices to be included. You can do that with QR codes or by hand.

[2021-10-05 07:44] AlCalzone commented on #194
How did you use the setValue call?

[2021-10-05 08:21] mazmar commented on #1782
Just to be sure, smartscan does not require scanning/inputting the DSK just before inclusion? Because that would not solve the issue when i have multiple QR codes and no idea which switch belongs to which box. I want to be able to input all DSK at the same time and then start inclusion so DSK would be auto matched.

[2021-10-05 12:26] jado commented on #1785
My zwavejs.service is

[code]

[2021-10-05 12:31] robertsLando commented on #1785
I dunno what are the limits on a pkg application. could you also try to run the command by passing env vars like this:

`ZWAVEJS_EXTERNAL_CONFIG=/mnt/zwavejs2mqtt/config-db ./zwavejs2mqtt`

Just to see if this works

[2021-10-05 13:06] jmgiaever commented on #1772
That is strange.

Can you try
1. Stop zwavejs2mqtt with `sudo snap stop zwavejs2mqtt`,
2. delete the `.ext-config` folder in `/var/snap/current/` (can be different if your OS is not debian based), with `rm -rf /var/snap/zwavejs2mqtt/current/.ext-config/`
3. and do a full power cycle?

[2021-10-05 13:50] jado commented on #1785
I tried that, it did not work.
I know that it is recognizing the ENV var since it wipes the content of any dir that I pass as a parameter.
I successfully installed via source, and it is working fine with the same service file but using
[code]

[2021-10-05 14:09] robertsLando commented on #1785
Dunno why, I always use pkg executable and they all take env vars but I usually use pm2 to run them

[2021-10-05 15:16] AlCalzone commented on #1782
Startsmart works like you described in the OP. You can enter a list of DSKs beforehand and you don't need to know which node is which.

[2021-10-05 16:46] crazypyro136 opened #1786 "[bug] Garage door is not showing the open\close cover status."
### Version

**Checklist:**

- [ X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ X] I have checked the troubleshooting section and my problem is **not** described there.
- [ X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yar

[2021-10-05 17:05] rvb89 commented on #1772
Before getting your last message, I solved it by unplugging the USB dongle for a couple of minutes.
It already happened once that the dongle became unresponsive, it is an Aeotec Z-Stick gen 5, is there anything I could do to avoid this problem in the future ?

Thanks

[2021-10-05 17:20] jmgiaever commented on #1772
Ah, I swapped that plug out a year ago. I had so many issues with it. And I guess the built-in battery might be causing it to «keep alive» even when unplugged. But I'm happy that you solved it! :)

[2021-10-05 23:24] mriksman opened #1787 "[question] How do you set/change a value via MQTT topics!?"
I have everything working well. I can change the state of the device in the zwavejs2mqtt GUI no problem.
![image](https://user-images.githubusercontent.com/20112339/136115960-40f3508c-1b98-4bb2-9a60-e32e6897a37b.png)

But I can't work out what topic/message to send to MQTT. Shouldn't I be writing to targetValue..??
![image](https://user-images.githubusercontent.com/20112339/136116068-55229178-e895

[2021-10-06 06:19] robertsLando commented on #1787
https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=set-values

[2021-10-06 06:25] robertsLando commented on #1786
@crazypyro136 If you are using mqtt discovery I really suggest you to enable zwavejs server in settings and use zwavejs integration, If you really want to fix this you should edit the discovery payload and set a custom 'open' 'closed' etc states based on values sent

[2021-10-06 09:19] mriksman commented on #1787
That link/documentation talks about `/set`, but that topic doesn't exist for me. It doesn't seem to relate at all...?

I tried writing `false` raw and json  `{"value": false}` to `targetValue`, but nothing happens.

[2021-10-06 09:31] robertsLando commented on #1787
If you read the docs, it says that in order to send write requests you have to manually add `/set` to the topic

[2021-10-06 09:49] mriksman commented on #1787
Ugh. Thanks. I feel like an idiot. I'm a pretty clever guy, but I didn't find this to be clear...
![image](https://user-images.githubusercontent.com/20112339/136180076-3eabfcb0-68bc-488b-ae48-c7fd6379e7ea.png)

What confused me is that using the GUI, there was only a `targetValue` topic. There was no `set` topic. And `targetValue` never seemed to update/change. So I couldn't 'reverse engineer' whe

[2021-10-06 09:49] #1787 closed

[2021-10-06 09:50] robertsLando commented on #1787
Nope gui is using socket.io to communicate with the backend :)

[2021-10-06 19:16] Veldkornet opened #1790 "[question] Fibaro Door Window 2 with S2 security"
The Fibaro Door WIndow 2 supports S2 security, but whenever I add it in the preferred mode (S2 and only fall back if needed); but they keep getting added with no security.

How can I get it added with S2?

[2021-10-07 04:24] syphernl commented on #1324
I believe this is still relevant?

[2021-10-07 07:42] jerome6994 opened #1791 "[bug] Serial port conflict between zigbee2mqtt and zwavejs2mqtt which changes regularly"
**Control List :**

- [X] I don't ** not ** use Home Assistant. ** Or: ** a developer told me to come here.
- [X] I checked the troubleshooting section and my problem is ** not ** described there.
- [X] I have read the changelog and my problem is ** not ** mentioned there.

Construction / execution method

- [] Docker
- [] PKG
- [X] Instant package
- [] build manually (git clone - fil install - fi

[2021-10-07 08:22] robertsLando commented on #1791
I think you can, yes, you just need to replace the `/dev/ttyACM0` with the serial by id path to your controller

[2021-10-08 00:41] scyto commented on #1783
@blhoward2 i assume that means reset the zwave end point device not zwave js right?

[2021-10-08 01:04] blhoward2 commented on #1783
Correct.

[2021-10-08 06:18] robertsLando opened #1794 "[feat] NVM backup/restore"
https://zwave-js.github.io/node-zwave-js/#/api/controller?id=nvm-backup-and-restore

cc @darkbasic

[2021-10-08 06:22] robertsLando commented on #1791
You can't see it in list because that list comes from serialport list and custom serials sommetimes are not found by that method, just write the path manually if not present in the list, it's a combobox not a select

[2021-10-08 06:32] XLDom commented on #1791
Ok, we can put it in the configuration file and it's ok, but when we save the configuration on the UI, the parameter is back to the value in the list.
How to ask an update of zwave2mqtt for two solutions ?
- Show the parameter on the list (simply add the port configured on the select list if not exists on the port list)
- or list all port with "ls /dev/tty* -al" and fill the list with the result.

[2021-10-08 09:32] #1794 closed, assigned to robertsLando

[2021-10-08 19:46] Gis70 commented on #1303
@robertsLando I don't see the 2 plugins mentionned above in the plugin list in the UI, did you add them ?

[2021-10-09 01:49] i8beef opened #1798 "[question] Current value vs Target value"
I am converting to Zwavejw2mqtt from ZWay, and I have a few hopefully easy questions that I can't find documented...

1. This is a much more "bare metal" exposure of the ZWave implementation it seems? Meaning its fairly 1:1 with the zwave command class exposed parameters?
2. When I tried the basic named MQTT topic mapping, it spammed thousands of topics into my MQTT server (I imagine because of it

[2021-10-09 09:46] vladbabii opened #1799 "When using tcp://ip:port as connection, when driver has ETIMEDOUT error, it never recovers"
**Checklist:**

- [ X ] I am **not** using Home Assistant.
- [ X ] I have checked the troubleshooting section and my problem is **not** described there.
- [ X ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ X ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zwavejs2Mqtt version: 5.8.0
Z-Wave JS ve

[2021-10-09 14:13] vladbabii opened #1800 "[bug] When using tcp:// connection, NVM read fails with Error while calling api backupNVMRaw: The length must be between 1 and 6553"
**Checklist:**

- [ X ] I am **not** using Home Assistant.
- [ X ] I have checked the troubleshooting section and my problem is **not** described there.
- [ X ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ X ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zwavejs2Mqtt version: 5.8.0
Z-Wave JS ve

[2021-10-10 05:43] matejdro commented on #1578
I'm experiencing same issue with the 5.8.0, even though quotes are there:

` "mode_state_template" : "{{ {\"0\": \"off\", \"1\": \"heat\", \"11\": \"cool\"}[value_json.value] | default('off') }}"`

Maybe Home Assistant does not unescape the quotes well? What if we just switched to the single quotes like the example in the first post?

[2021-10-10 05:50] matejdro opened #1803 "[bug] mode_state_template has modes in strings, while they should be numbers"
zwavejs2mqtt: 5.8.0
zwave-js: 8.4.1
home assistant: 2021.10.2

It appears zwave currently encodes mode ids inside `node_state_template` as numbers:

![image](https://user-images.githubusercontent.com/507922/136684079-bef7d6dd-1367-4e5b-8b80-87a9c994032d.png)

This causes mode to not be properly detected by the home asssistant (it is always off):

![image](https://user-images.githubusercontent.com/

[2021-10-10 06:18] matejdro opened #1804 "[Home Assistant] Full Power mode for is missing from Home Assistant for Spirit Eurotronic valve"
### Version

Build/Run method:

[X] Docker
[ ] Git Clone + yarn install + yarn run build + yarn start
[ ] Pkg

Zwavejs2Mqtt version: **5.8.0**
Z-Wave JS version: **8.4.1**
Home assistant: 2021.10.2

Running with MQTT discovery, no Zwave JS integration.

### Describe the bug

Spirit Eurotronic valves have extra full power mode:

![image](https://user-images.githubusercontent.com/507922/136684865-5c

[2021-10-11 12:52] robertsLando commented on #1303
@kvaster are those plugins available on npm? BTW @Gis70 you can use them by just installing them somewhere and enter in plugins settings the path to the folder where the plugin is installed.

Example:

Let's say you create a `plugins` directory on `store`, you can git clone and compile the two plugins here and then in plugins write the path to that folder (better if using a absolute path like `/us

[2021-10-11 12:58] AlCalzone commented on #1800
I should have made a video. Of course I can't reproduce now

[2021-10-11 12:58] robertsLando commented on #1791
What do you mean?

[2021-10-11 12:59] robertsLando commented on #1800
So what?

[2021-10-11 15:21] AlCalzone commented on #1800
Any chance there is a stack trace?

[2021-10-11 15:30] AlCalzone commented on #1044
Depends on the device 🤷🏻‍♂️
Please open an issue in node-zwave-js and attach a driver log of a re-interview and reports which show the behavior.

[2021-10-11 15:39] robertsLando commented on #1800
@vladbabii Please ensure you have set the zwave log level to silly level and retry to call the backupNVM

[2021-10-11 18:47] Gis70 commented on #1220
This is what i tryied but without success that why I asked :

Result in debug :

Topic to publish :

`zwave/_CLIENTS/ZWAVE_GATEWAY-zwavejs2mqtt/api/driverFunction/set`

[code]

[2021-10-11 19:19] Gis70 commented on #1220
OK i found the problem, it's because of line break. It doesn't work in a json string, we must add dot comma. Like this it's work :-)
`{"args":["const nodeId = 26; const node=this.zwaveClient._nodes.get(nodeId); return node.lastActive"]}`

[2021-10-11 20:14] #1800 closed, assigned to robertsLando

[2021-10-12 05:19] matejdro commented on #1804
Completely understandable. Thanks for your work so far.

[2021-10-12 06:59] robertsLando opened #1831 "[feat] Move to ESM"
https://gist.github.com/sindresorhus/a39789f98801d908bbc7ff3ecc99d99c

[2021-10-14 07:06] #1712 closed

[2021-10-14 07:06] robertsLando commented on #714
It has been fixed when including new S2 inclusions mode

[2021-10-14 07:06] #714 closed

[2021-10-14 08:02] robertsLando opened #1840 "[feat] Driver status to mqtt"
Ref: https://github.com/zwave-js/node-zwave-js/issues/3509#issuecomment-943095220

- [x] driver status when service is working normally --> normal updates to mqtt
- [ ] driver status when service gets killed/times out --> set last will on that topic to set the driver status to false

- [ ] driver status when service exists normally --> before mqtt disconnect set that status to false

[2021-10-14 08:08] robertsLando commented on #1840
@vladbabii about points 2/3 here, what mqtt broker are you using?

[2021-10-14 09:52] vladbabii commented on #1840
I don't see how last will would not be published unless
1. broker dies - in which case all clients should assume the zwave is dead (unreachable by clients anyway)
2. you normally disconnect and don't publish anything before

$SYS is a good alternative if you know the client id or some other information about  that client, but last will works very well.

Some background:
I've been running something

[2021-10-14 09:55] robertsLando commented on #1840
@vladbabii I know how MQTT works, and also brokers (I help maintain some brokers and mqtt related stuff here in github too) I just prefer to avoid will topics when possible as I had problem in past expecially because when you send the message before disconnect there could be delays in client close process (or stuck the process at all) expecially when using persistent mqtt stores.

BTW the client i

[2021-10-14 12:11] #1840 closed

[2021-10-14 13:26] robertsLando commented on #1416
<img width="640" alt="Zrzut ekranu 2021-10-11 o 15 11 08" src="https://user-images.githubusercontent.com/11502495/137326665-b58fba8a-1eb2-4086-bed3-6211ee0c16f0.png">

[2021-10-15 06:12] robertsLando opened #1842 "[feat] Expose softReset and add enableSoftReset option"
Ref: https://github.com/zwave-js/node-zwave-js/pull/3525

[2021-10-15 09:47] Micka41 opened #1843 "[bug] the driver is unknown"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Snap package
- [X] Manually built (git clone - yarn install - yarn ru

[2021-10-15 12:24] luzik commented on #1416
Upgraded to 5.9.0 and It is working now

[2021-10-15 14:53] #1842 closed, assigned to robertsLando

[2021-10-15 15:21] AlCalzone commented on #1831
FYI: TypeScript only fully supports ESM in 4.5. Some tooling might not yet.

[2021-10-15 15:45] #1843 closed, assigned to robertsLando

[2021-10-15 20:50] i8beef commented on #1798
Ok. I ended up just going with separate topics anyway as it seemed like how it would set it up normally and I don't want to deviate from defaults too much if I can help it. Thank you!

[2021-10-15 20:50] #1798 closed

[2021-10-16 16:34] flavio-fernandes opened #1849 "[zwave-js] Configuration Value removed from devices after reboot"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

If you are using the Home Assistant Z-Wave JS integration, please add a full dump:

Home Assistant --> settings --> Integrations --> Z-Wave JS --> Configure --> Create dump --> zip the json file and post it here.

### Version

Build/Run method:

[ ] Docker
[ ] Git Clone + yarn install + yar

[2021-10-16 16:58] flavio-fernandes commented on #1849
Attaching logs in silly level
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7357911/zwavejs2mqtt-store.zip)

[2021-10-17 02:44] ProjectPatatoe opened #1851 "[bug] 5.9.0 crashes on startup"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [x] PKG (if this means the zip?)
- [ ] Snap package
- [ ] Manually built (git clone

[2021-10-18 07:25] #1851 closed, assigned to robertsLando

[2021-10-18 07:30] robertsLando commented on #1851
Let me know and if needed open a new issue

[2021-10-18 07:43] Altycoder opened #1863 "5.9.0 not sending data to Home Assistant"
### Version

**Checklist:**

- [x ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ x] I have checked the troubleshooting section and my problem is **not** described there.
- [ x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yar

[2021-10-18 12:44] AlCalzone commented on #1849
No, both are used. The `external configuration dir` is where the embedded configuration files (and the downloaded ones) are stored and should be automatically synced to. The `Priority device configuration directory` is checked first when resolving a config file. If a device's configuration is found there, the `external configuration dir` is ignored.

[2021-10-18 12:58] jmgiaever commented on #1849
I could write a post-refresh hook, and change the path instead, to point to the new revision. In case the user decide to change this path, an env.variable shouldn't override the user setting?

[2021-10-18 13:23] jmgiaever commented on #1849
Yeah, there is, `rootDir`. So I have to rewrite all those entries?

[2021-10-18 13:48] jmgiaever commented on #1849
@robertsLando I think I've solved this part, regarding the `Priority device configuration directory`

[2021-10-19 14:26] HubertusH opened #1865 "DRIVER the node is unknown or not initialized yet, discarding..."
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [X] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-10-21 06:27] robertsLando commented on #1863
let's wait for new zwavejs update to see if it's still broken or not

[2021-10-21 23:23] frantathefranta opened #1868 "[question] Adding duration to Nortek lightbulb"
Hi, I'm trying to add a transition duration to my Nortek LBR30Z-1 lightbulb. I've seen that it was an issue earlier this year but it was fixed sometime around July. Currently I'm using zwavejs2mqtt: 5.9.0 and zwave-js: 8.5.0. Running on RPi 4 with the RazBerry hat.
First off, I'm confused which option I should use for the transition option. Is it the top or the bottom one?

<img width="1190" alt="

[2021-10-22 13:12] davidwaze opened #1872 "[question] Unable to upgrade from zwavejs2mqtt 5.8 to 5.9"
Hello,

Sorry if my question is stupid but i'm lost to upgrade zwavejs2mqtt from 5.8 to 5.9 correctly.

I always upgrade my version like this since few months :
_systemctl stop zwavejs2mqtt.service
cd /opt/zwavejs2mqtt
curl -s https://api.github.com/repos/zwave-js/zwavejs2mqtt/releases/latest  \
| grep "browser_download_url.*zip" \
| cut -d : -f 2,3 \
| tr -d \" \
| wget -i -
unzip zwavejs2mqtt-v*

[2021-10-22 16:33] #1872 closed, assigned to robertsLando

[2021-10-23 13:34] rr326 opened #1874 "[feat] Documentation for docker-compose needs improvement"
**Is your feature request related to a problem? Please describe.**
I tried to get zwavjs2mqtt running with home assistant and docker-compose while following the description [here](https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/docker). It didn't work properly. I finally got it working after a lot of trial and error and changing my docker-compose.yml file.

**Describe the solution you'd

[2021-10-25 15:19] kpine opened #1885 "[bug] Z-Wave Classic devices showing "Unknown" for Z-Wave+ column attribute"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-10-25 15:32] kpine opened #1886 "[feat] Mark some column attributes in the control panel as N/A for controller nodes"
**Is your feature request related to a problem? Please describe.**
There are several columns in the control panel that are not applicable to controller nodes, including:

- Security
- Beaming
- Z-Wave+

A common user question is something like "Why doesn't my controller support <Security/Beaming/Z-Wave+" because the control panels tells them that. The fact is these attributes don't apply to contro

[2021-10-26 12:36] lpaso opened #1889 "[bug] FGS221 does not report switches status"
### Version

**Checklist:**

- [ ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [ ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [] PKG
- [x] Snap package
- [ ] Manually built (git clone - yarn install - yarn run

[2021-10-26 12:48] nicolaasuni opened #1890 "[bug] Broken configuration on snap update"
**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [X] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zw

[2021-10-26 17:33] guystreeter opened #1894 "[bug] container has no permissions on USB device"
### Version

**Checklist:**

- [ x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.  I am running the docker image standalone, HA is not a part of the problem.
- [x ] I have checked the troubleshooting section and my problem is **not** described there.
- [x ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ x] Docker
- [ ]

[2021-10-27 16:04] jmgiaever opened #1895 "[feat] DSK input improvements"
**Is your feature request related to a problem? Please describe.**

There seems to be a very short time-frame (down to 8 seconds) to enter the DSK and confirm it, when adding some device with S2_*.

**Describe the solution you'd like**

Suggest the following UI improvements, to be able complete the process more quickly:

- Auto focus the DSK input field when it appear
- Allow submitting the DSK wi

[2021-10-27 16:20] kpine opened #1896 "[bug] UI check for S2 keys is missing S2_AccessControl, checking S2_Authenticated twice"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

N/A, code inspection

### Describe the bug

A user in HA discord reported a warning message about

[2021-10-28 00:05] jbardi opened #1897 "Mini Motes and CommandClass 48 no longer reporting to MQTT"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ ] I have checked the troubleshooting section and my problem is **not** described there.
- [ ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-10-28 08:04] #1894 closed, assigned to robertsLando

[2021-10-28 08:05] #1890 closed, assigned to robertsLando

[2021-10-28 09:38] #1896 closed, assigned to robertsLando

[2021-10-28 09:42] #1885 closed, assigned to robertsLando

[2021-10-29 00:23] rvb89 opened #1904 "[question] _Driver: Thermostat Mode: "mode" must be of type "number" keep showing"
Hello,
I'm running the snap version of zwavejs2mqtt,
zwavejs2mqtt: 5.10.1.91ef490
zwave-js: 8.6.1
home id: 3379395313
home hex: 0xc96d7af1

I'm getting on the top right corner the following message and it stays in it:
_Driver: Thermostat Mode: "mode" must be of type "number", received "undefined" (ZW0322)_

If ZW0322 is a module the problem is that I don't have any module or thermostat with that n

[2021-10-29 10:58] ScratMan opened #1905 "[question] Issue when selecting USB port "by-id""
Hello,

After updating zwavejs2mqtt to 5.10.1, and rebooting my system (Raspberry Pi 4 running Raspbian Buster with Home Assistant and zwavejs2mqtt in docker containers), I faced some issues with the zwavejs2mqtt server, saying the /dev/ttyACM0 was busy. A restart of the Zwave docker container fixed the issue, but as I read in the changelog of the latest version that it was recommended to map the

[2021-10-29 14:41] #1889 closed, assigned to robertsLando

[2021-10-29 16:53] #1905 closed, assigned to robertsLando

[2021-10-29 22:14] rvb89 opened #1907 "[question] Error ENOENT no such file or directory, for a few hours"
Hello,

For a few hours my setup of zwavejs2mqtt installed with snap, shows the following error when trying to access it's webpage.
I tried to restart it with snap restart zwavejs2mqtt and also reboot the server but no success.

How can I solve this ?
Thanks

[2021-10-30 08:50] Altycoder commented on #1863
I haven't dared upgrade beyond 5.8.0 yet as upgrading this image is always potluck.

Whilst I appreciate your efforts on making zwavejs2mqtt available for free ( :-) ), there needs to be a beta channel for testing before you push things out to latest.  I run around 20 docker containers and this one is by far the most unreliable with quite frequent breakages.

I should be able to test the latest la

[2021-10-30 09:38] rvb89 commented on #1907
The error is gone

[2021-10-30 09:38] #1907 closed

[2021-11-01 10:30] davidwaze opened #1915 "[bug] Interview not completed for Fibaro motion sensor FGMS001 (missing alarm sensor menu)"
**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [X] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

##

[2021-11-01 20:32] hanerd commented on #1895
Adding the DSK as a field when starting inclusion would be brilliant.

I'm also curious how you'll be handling SmartStart (which it appears made it out today). Will that be accessible via mobile devices?

[2021-11-02 07:09] robertsLando commented on #1863
@Altycoder I'm sorry for this, there is some things BTW that doesn't depend on me, most of this is caused by changes on the underlying zwave-js

[2021-11-02 07:10] robertsLando commented on #1895
We are still thinking about the best way to integrate smart start in application :)

[2021-11-02 08:07] robertsLando opened #1916 "[feat] Smart start support"
Ref: https://zwave-js.github.io/node-zwave-js/#/getting-started/security-s2
https://zwave-js.github.io/node-zwave-js/#/api/controller?id=provisionsmartstartnode

[2021-11-02 08:09] Altycoder commented on #1863
@robertsLando I understand that, that's why moving to a beta release, with a corresponding stable release after 1-2 weeks of testing would be beneficial?

I've tried 5.10.1 this morning and it seems to work so far (2 min of testing)

[2021-11-02 08:21] robertsLando commented on #1863
Could make sense, yes :) I need to understand how I could manage this on docker as now tags point to releases

[2021-11-02 08:26] Altycoder commented on #1863
@robertsLando could you not tag each new release as "beta" and move the previous release from "beta" to "stable" rather than "latest" once you know that there aren't any issues?  That way most users can track "stable" rather than "latest" which can be a bit too bumpy.  I now pin my zwavejs2mqtt container to a specific release (e.g. 5.10.1 now) and then check on here for issues before I move up a r

[2021-11-02 08:45] Altycoder commented on #1863
Hi, I think I spoke too soon, 5.10.1 still isn't sending data to home assistant correctly.  I've just moved to the new HA stable image and all my zwave sensors are unavailable after 10 min.  Moving back to 5.8.0 fixes immediately.

[2021-11-02 09:04] jmgiaever commented on #1895
Ok. Does it mean that the PIN way of doing thing, will disappear?

We'll see how Smart Start work. I understand there's two ways of inclusion with Smart Start. One with the QR code and one where a button push to confirm the inclusion (or something) on the device?

I would prefer the PIN over the QR code, as the QR code way would require me to partly unmount most S2 main powered devices if I want t

[2021-11-02 12:54] davidwaze opened #1918 "[feat] Duplicate configuration from device to another devices"
**Is your feature request related to a problem? Please describe.**
No related problem

**Describe the solution you'd like**
I'm using jeedom and my previous solution (openzwave), i was able to copy selected or all parameters from a device to another (of course same type of device, device such as fibaro motion sensor have a lot of parameters)
Into actions / advanced, we could have an icon to duplic

[2021-11-02 19:41] ncdaol opened #1919 "[question] See full version of trunctade text."
The UI seem to really like to truncate text which makes it hard to configure nodes. E.g.
![image](https://user-images.githubusercontent.com/37809874/139941085-5ff49901-8844-40ff-bd0a-35e6f220d20a.png)

Any way to see the full text?

[2021-11-02 22:04] Ascariota commented on #1889
Not working for me :

zwave-js: Current version: 0.1.45
core-2021.10.7
supervisor-2021.10.8

[2021-11-02 22:24] lpaso commented on #1889
The same. Still does not work. No status report on any of my 5 fgs-221 on firmware 1.4.
Also, another « bug », they’re marked as dead at least once a day, and they can only be revived after a reboot (cut the power, and apply again).

[2021-11-03 00:07] Botched1 opened #1920 "[bug] No configuration options on specific device (exists on others)"
### Version

**Checklist:**

- [x ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x ] I have checked the troubleshooting section and my problem is **not** described there.
- [x ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yar

[2021-11-03 02:35] lpaso opened #1921 "FGS-221 do not report status"
Ok, I’ve installed the last updates, and it still does not work : nothing happens on ZwaveJS2MQTT when I switch manually either the relay 1 or the relay 2.
I’ll add another issue : many of these FGS-221 with firmware 1.4 are reported « dead » from time to time, and I can’t seem to get when nor why. The only way to revive them, is to shut them off the grid, then back again and ping them…

Quote fro

[2021-11-03 03:11] lpaso commented on #1921
To add some leads to the « dead » issue, I browsed the silly logs I happened to log when two modules went dead, and from « node 56 ready » to « node 56 is now dead », nothing is logged, at all. No error, no command sent that the module ignored. Nothing. It just went « dead ». The same for another module.

[2021-11-03 03:14] lpaso commented on #1921
Another thing I think might be related to the report issues : the « targetvalue » for the relays are « undefined » on the FGS-221 with firmware 1.4. As it’s this value that seems to be subscribed (instead of currentvalue, that is correct and I poll right now as a workaround), maybe it’s the culprit ?

[2021-11-03 07:20] robertsLando commented on #1919
@ncdaol Need to add a tooltip

[2021-11-03 08:56] bpolanec commented on #1889
@lpaso

I have 2x FGS 221 but firmware 2.1 maybe that is the cause.

Or that I also have manually setup group association for the module:
Endpoint 0 -> Controller updates -> (Aeotec zwave stick) Controller

No problems with dead nodes

[2021-11-03 09:01] #1895 closed

[2021-11-03 09:44] AlCalzone commented on #1921
Did you try re-interviewing the node?

[2021-11-03 10:20] lpaso commented on #1921
I did, on all FGS-221 modules :)

Le 3 nov. 2021 à 10:44, AlCalzone ***@***.***> a écrit :

﻿

nothing happens on ZwaveJS2MQTT when I switch manually either the relay 1 or the relay 2.

Did you try re-interviewing the node?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://github.com/zwave-js/zwavejs2mqtt/issues/1921#issuecomment-958

[2021-11-03 10:23] lpaso commented on #1889
Indeed, I got a FGS-211 with firmware 2.1 and I got no issue with it. It seems to be related to the 1.4 firmware, as the « targetvalue » seems to be not populated.

[2021-11-03 10:27] robertsLando commented on #1889
Please try disable mqtt store option in settings

[2021-11-03 10:34] AlCalzone commented on #1921
Then please make a [driver log](https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/generating-logs?id=driver-logs), loglevel `debug` or `silly` and attach it here as a file.

The log should include:
- zwavejs2mqtt startup
- Re-interview of one of the affected nodes
- manual switching attempt of both relays

[2021-11-03 10:38] lpaso commented on #1889
You mean to check the « disable MQTT gateway » option ? If so, it’s disabled since I installed ZwaveJS2MQTT 😉

[2021-11-03 11:08] lpaso commented on #1921
Ok, here we go, two log files.
The first one, from yesterday, shows two nodes (56 and 33) that are going dead without any logged reason.

the second one, from today, shows, as asked :
- the driver startup
- The reinterwiew of one of the affected nodes (here node 58)
- @11:47, I switch each relay manually (nothing appears in the logs, as I previously said)
- @11:48, I manually refresh the values
-

[2021-11-03 13:35] AlCalzone commented on #1921
These are not driver logs. Please read the link I posted above.

[2021-11-03 14:23] #1916 closed

[2021-11-03 14:30] robertsLando commented on #1918
It could be possible, dunno if there is any internal method on zwave-js to easily handle this @AlCalzone

[2021-11-03 14:47] lpaso commented on #1921
Oh my bad, I’m sorry.
Here it is :
https://1drv.ms/u/s!Ao4M9pUUIkuugampWjGjD0jnA78LOvM?e=YAIDda

Hopefully it’ll be what you need 😅

I browsed it too and can’t seem to find any trace of the status report.
(Again, it’s node 58 I’m interviewing and using).
I switch it on (1st relay then 2nd about 1s later) during 14:32 and switch them back off during 14:33.

[2021-11-03 16:20] AlCalzone commented on #1918
nope, this is outside the driver scope IMO

[2021-11-03 16:35] robertsLando commented on #1918
So a possible implementaion of this could be parsing all actual configuration values and send write requests one by one?

[2021-11-03 16:51] lpaso commented on #1921
Yes indeed, I now got working status report ! Hopefully, it’ll also correct the dead nodes status I got. Was it also due to the fact that the nodes were grouped to the node 64 instead of the node 1 ?

[2021-11-03 16:53] robertsLando commented on #1897
This should be fixed on master now

[2021-11-03 16:53] #1897 closed

[2021-11-03 16:56] robertsLando opened #1923 "[bug] Smart start fixes"
- [x] Rename smart start in Inclusion by QR Code
- [x] Replacing a node by scanning a QR code should never add the QR code to the provisioning list. You'll end up with two nodes, one of which is dead and the other has a new ID. Instead just do an S2 inclusion even if the QR code is SmartStart
- [x] Can't replace a failed node that has a DSK. It will tell me that the node is already added, although

[2021-11-03 17:47] AlCalzone commented on #1921
No that's more likely a connection problem

[2021-11-04 09:26] #1904 closed

[2021-11-04 09:28] robertsLando commented on #1889
Please reference to issue #1921 the fix has been made on zwave-js side and should be available on next release

[2021-11-04 09:28] #1921 closed

[2021-11-04 10:38] AlCalzone commented on #1923
See Slack, issue 2 isn't solved :)

[2021-11-05 10:17] robertsLando commented on #1863
@Altycoder JTK are you using mqtt discovery or hass integration?

[2021-11-05 13:12] Altycoder commented on #1863
mqtt discovery (Mosquitto broker)

[2021-11-05 13:46] HubertusH opened #1931 "interview for steinel lamps rarely reaches the status complete"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [X] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-05 15:30] robertsLando commented on #1863
Is store flag enabled under mqtt settings?

[2021-11-05 15:33] #1923 closed

[2021-11-05 16:02] Altycoder commented on #1863
Yes

[2021-11-05 16:06] robertsLando commented on #1863
Ok that's the problem. Iin 5.9.0 I swithed from mqtt nedb store to level store because nedb is bugged and the package wasn't maintained anymore, turns out also level store is bugged, in next releases I simply disable persistent storage on backend side until I found a working store (I think I may need to implement my own as there aren't other alternatives right now).

[2021-11-05 18:07] sofakng opened #1934 "[question] Possible to convert values from 0-99 to 0-100? (ie. force 0-100 value range?)"
Is it possible to have zwavejs2mqtt force/convert a value range of 0-100 instead of 0-99?

For example, I have several Z-Wave bulbs (Zooz) that only support a maximum brightness of 99.  There is a configuration parameter to modify this but it doesn't support value 100.

The problem is that another system I'm using (Homebridge MQTT-Thing) only supports a value range of 0-100.  The other problem is

[2021-11-05 18:12] stu247 opened #1935 "[feat]"
**Is your feature request related to a problem? Please describe.**
The description on how to set up docker container at (https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/docker) allows anyone in the network to control Z-Wave WS Server.

**Describe the solution you'd like**
If the service connecting to Z-Wave WS Server is on the same host as the Z-Wave to MQTT container, then the docker co

[2021-11-05 20:43] kpine commented on #1934
99 is the maximum level brightness defined by the Z-Wave Specification, which is why it doesn't work. It's not just Zooz.

[2021-11-05 20:53] sofakng commented on #1934
Ahhh, OK ... Thanks for the information!

[2021-11-05 20:53] #1934 closed

[2021-11-05 21:11] kpine commented on #1934
I don't use MQTT, but you can parse incoming values. If you want to send 100, just setup a parser to convert 100 to 99, or whatever logic you want. I haven't tried it, but I think that's the purpose.

![image](https://user-images.githubusercontent.com/791794/140579073-e62c2e98-48a5-4082-a8b0-e7760ba14533.png)

[2021-11-05 21:11] jmgiaever opened #1936 "[bug] Import QR opens the camera"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-05 22:36] sofakng commented on #1934
Oh, that's interesting and I didn't know about it.  Thanks so much!

I wonder why Z-Wave chose 99 instead of 100 as the maximum.  It seems to make more sense to set something to 100% brightness rather than 99.

I understand 0-99 is actually 100 values, but 0 brightness should be the same as 'off'.

[2021-11-06 01:39] mwolter805 opened #1937 "[bug] Show 100% instead of off immediately after dimmer is turned on"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-06 05:04] kpine opened #1938 "[bug] Provisioning information is lost when editing an entry"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-06 16:54] blhoward2 opened #1942 "[feat] Allow import of exported provisions info"
Presently, you can export the provision information but there is no way to re-import that, such as if you were changing sticks. Suggest renaming Import (for photos) to upload, then making an import button for this.

[2021-11-06 17:06] crzykidd opened #1943 "[bug] Smart Start name and location doesn't flow to device on auto add."
**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn run build )

Zw

[2021-11-06 17:14] usrstephan opened #1944 "zwavejs2mqtt not working in lxc"
I used zwave2mqtt for years in an lxc under proxmox ve with usb-passthrough and had no issues.
Now I changed to zwavejs2mqtt and there seems to be a permissions issue to connect to the zwave-adapter.
Does anyone else have the same problem/a solution?

[2021-11-06 17:36] kpine commented on #1944
Did you read this? https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/app_crash?id=application-does-not-start-after-updating-to-version-510x-or-higher

[2021-11-06 18:12] usrstephan commented on #1944
yes I did. It claims: "Driver: Failed to open the serial port: Error: Permission denied, cannot open /dev/serial...."
The strange thing is everything works on a vm but not in a lxc - that's why I asked for this issue.
short addition: in pve it is possible to map serial devices to specific device names inside the container. so I tried different ways before raising this topic.
the listing of ls -l s

[2021-11-06 18:19] kpine commented on #1944
How about the part where it says:

Did you try disabling soft-reset to see if it makes a difference?

It seems you also didn't fill in the issue template which [requests logs](https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report). Without logs it's hard to assist. It could be the soft-reset, or it could be something else.

[2021-11-07 02:18] blhoward2 commented on #1937
This is a known issue and isn't ours. This is an HA UI issue.

https://github.com/home-assistant/core/issues/47388#issuecomment-791820724

[2021-11-07 02:18] #1937 closed

[2021-11-07 02:36] blhoward2 commented on #1935
Eh, there are lots of different ways to secure containers and we generally don't weigh into that. The UI isn't even password protected by default so I'm not sure what the WS really exposes beyond that. I'm also not sure that we can assume its coming from localhost, as many people address the container using their device IP from within the integration and what this is really doing is binding to 127

[2021-11-07 02:48] blhoward2 commented on #1874
I did go ahead and fix the link and the volume issue, that was an oversight.

[2021-11-07 04:49] mwolter805 commented on #1937
Hello @blhoward2,
Thank you for the reply. Wouldn’t a fix be zwaveJS2mqtt assuming 100% until the actual brightness is received from the device? Imagine this could be helpful for mqtt integrations as well.

[2021-11-07 09:35] usrstephan commented on #1944
the soft-reset actually made the difference - now it works.
Thanks very much!!!
What are the restrictions of disabling soft-reset?
Are you interested in extending the getting started section for lxc under proxmox (I could send you mine by mail)

[2021-11-07 15:11] stu247 commented on #1935
Sounds great.  Thanks.

[2021-11-07 15:11] #1935 closed

[2021-11-07 15:40] blhoward2 commented on #1937
Us assuming 100% would fix it, but we're not going to do that. We have to maintain compatibility with different UIs and it's an HA issue. The driver isn't going to report false information.

[2021-11-08 09:10] #1874 closed

[2021-11-08 09:15] robertsLando commented on #1934
You should use `value` instead of `v` but what @kpine suggested is correct

[2021-11-08 09:16] robertsLando commented on #1936
@jmgiaever Are you on an iphone or an android phone? From iphone you should be able to press on bottom left bottom to add it from library

[2021-11-08 09:21] jmgiaever commented on #1936
Android 😅

[2021-11-08 15:00] Altycoder commented on #1863
So those of us using home assistant should stay pinned to 5.8.0 or should it work if we disable the store flag?

[2021-11-08 15:00] jmgiaever commented on #1936
![Screenshot_20211108-155924.jpg](https://user-images.githubusercontent.com/7188121/140765195-cacc9aec-1a33-46c9-9cb6-10165f2057f1.jpg)

Is the icon you're referring to here? I've tried to click the "drop here" icon, but that's what opening up the camera app.

[2021-11-08 16:13] robertsLando commented on #1863
Last version should work as I have disabled store

[2021-11-08 17:56] blhoward2 opened #1947 "[feat] Add HTTPS control within the UI Settings"
Presently, you can enable https only via an environment variable. Addon users cannot set the environment variable, though, and https is likely to be of greater interest to support cameras for SmartStart.

I think that we should add options to enable https, and to specify the SSL cert/key (to enable central certificates to be used) to the Settings UI.

If a user clicks to use the camera and we aren

[2021-11-08 18:35] xImportExportx opened #1948 "zwavejs2mqtt beyond 5.9.0 (5.10.0 and above) breaks usbip service"
I am sharing my wave controller via usbip on an rPI.

When I use the docker image with tag 5.10.0 or above as soon as the container starts the usbip service fails and the usb device is no longer shared to the target host. I need to do this as I run docker on a VM in my environment and just have the rPI closer to the wave devices I am trying to control.

This worked perfectly since you released zwa

[2021-11-08 20:04] mwolter805 commented on #1937
created https://github.com/home-assistant/core/issues/59379 🤞

[2021-11-08 23:05] giovi321 opened #1949 "[Home Assistant] Cannot include any other device after update of zwavejs2mqtt"
### Version

Build/Run method:

[x] Docker
[ ] Git Clone + yarn install + yarn run build + yarn start
[ ] Pkg

Zwavejs2Mqtt version: **5.10.1.91ef490**
Z-Wave JS version: **8.6.1**
### Describe the bug

Information that could be useful:
- running on raspberry pi3b+
- home assistant on venv 2021.9.3

Whether I try to include a new device to the network (both in secure and insecure ways, both from h

[2021-11-09 02:25] silverl commented on #1905
I'm in a similar situation. A few days ago my Z-Wave network started getting hinky. I run zwavejs2mqtt inside Home Assistant as a supervisor add-on. I've always had my Aeotec Z-Stick 5 set up using `/dev/serial/by-id/usb-0658_0200-if00`.

Last few days, it runs for a while, then it seems connectivity to the stick just fails.

Switching it to `/dev/tty/ACM1` and saving will jolt it back to life. Sw

[2021-11-09 03:34] blhoward2 commented on #1948
If you're running zjs2mqtt, you need to disable soft reset in the settings or set the environment variable to do so. This is a known issue caused by the new soft reset functionality.

[2021-11-09 03:36] blhoward2 commented on #1944
Without soft reset only a few things don't work, mainly changing the region or backing up or restoring the stick.

You're welcome to PR changes to the docs if you want to suggest any. They're in the repo under docs like all of the other code.

[2021-11-09 06:35] xImportExportx commented on #1948
Thank you that resolved my issue

[2021-11-09 06:35] #1948 closed

[2021-11-09 07:36] robertsLando commented on #1905
@silverl All this issues are caused after the new zwave-js feature called soft reset. Following zwave specs soft reset should be performed on startup on every controller stick, after introducing this we realized that some controllers just don't like that and also that this could cause some sticks changing the serial path (this is why we suggest to use the serial by id path).

This said, what I can

[2021-11-09 07:38] robertsLando commented on #1949
Are you using snap?

[2021-11-09 08:53] giovi321 commented on #1949
@robertsLando yes, I am

[2021-11-09 09:18] robertsLando commented on #1949
Could be something related to it, I mean about the disk usage. Could you attach some logs please? You have attached nodes bump but it's not useful here.

cc @jmgiaever

[2021-11-09 09:20] giovi321 commented on #1949
Logs such as? Syslog?

[2021-11-09 09:30] jmgiaever commented on #1949
Hi, no. Those "devices" is the read only filesystems that the system files of the snap lives in. It doesn't make sense that these filesystems should have any space left since they are RO.

The RW filesystem should be something /var/snap/zwavejs2mqtt/<revision number> while the RO is /snap/zwavejs2mqtt/<revision number>.

But I don't understand. Do you use docker or the snap package or z2m? The iss

[2021-11-09 09:33] jmgiaever commented on #1949
PS! If you're running the snap package, could you give the release in the channel `latest/candidate` a try

[code]

The security bootstrapping seems much faster within this release.

[2021-11-09 09:54] giovi321 commented on #1949
@robertsLando, please find attached the logs as requested
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7503735/zwavejs2mqtt-store.zip)

@jmgiaever to be completely honest I was sure I installed through snap, but now you're making me doubt it.
I have tried:
[code]
and this is the output:
[code]
Should I maybe reboot?

[2021-11-09 09:59] robertsLando commented on #1949
There is a ton of

`2021-11-09T09:49:39.089Z DRIVER   Dropping message because the driver is not ready to handle it yet.`

In zwavejs logs. Dunno what's happening here as logs seems to be inclomplete (there si no startup logs). Could you try to drop your logs, restart application and try again to add a node?

cc @AlCalzone

[2021-11-09 10:12] giovi321 commented on #1949
Here is the log after a complete reboot of the machine and one try of adding a device
[zwavejs2mqtt-store1.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7503847/zwavejs2mqtt-store1.zip)
.

[2021-11-09 10:17] jmgiaever commented on #1949
Can you give me the versions you're at now?

[2021-11-09 10:19] giovi321 commented on #1949
@jmgiaever
zwavejs2mqtt: 5.11.0.474d303
zwave-js: 8.7.5
home id: 3623972245
home hex: 0xd8016d95

[2021-11-09 11:04] AlCalzone commented on #1949
Please set the loglevel to "debug". The interesting parts are missing.

[2021-11-09 11:04] jmgiaever commented on #1949
That is latest. I think @AlCalzone must do the digging of the logs.

[2021-11-09 11:36] giovi321 commented on #1949
Let me know if this is what you expected, and thank you for your help.
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7504317/zwavejs2mqtt-store.zip)

[2021-11-09 15:34] silverl commented on #1905
@robertsLando Beautiful! Thank you! I'm disabling it now.

[2021-11-10 00:19] #1539 closed

[2021-11-10 05:09] fgonza2 opened #1952 "[bug]"
### Version

**Checklist:**

- [x ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ x] I have checked the troubleshooting section and my problem is **not** described there.
- [ x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yar

[2021-11-10 07:34] AlCalzone commented on #1949
The serial logs are still missing for some reason. Are you sure that's loglevel debug for the driver?

[2021-11-10 08:35] giovi321 commented on #1949
@AlCalzone sorry, for some reason I didn't apply the new log configuration. Here's the log level "silly".
Thank you if you could have a look at it :)
[zwavejs2mqtt-store(1).zip](https://github.com/zwave-js/zwavejs2mqtt/files/7511081/zwavejs2mqtt-store.1.zip)

[2021-11-10 09:01] AlCalzone commented on #1949
I can't see anything definite why the inclusion doesn't work, but my money is on the flood of messages bringing the network to its knees.

Nodes 22-24 send all their measurements (temperature, humidity, brightness, battery, UV) every 2 seconds or so.
Node 11 isn't even known to the controller but still sends its measurements happily every couple of seconds.

Most likely the communication necessary

[2021-11-10 09:06] giovi321 commented on #1949
Thank you @AlCalzone I will give it a try. It's very weird htough because it has been working for over a year with this set-up

[2021-11-10 09:56] #1943 closed

[2021-11-10 09:59] Ascariota commented on #1921
JSZwave Current version: 0.1.47
Version core-2021.11.2

But I still have the issue

[2021-11-10 10:08] giovi321 commented on #1949
No success :( I tried to reduce the measurements frequency but still no success... and how is it possible that there's a node 11 that is not even in the table?
What would you recommend me to do?

[2021-11-10 10:10] robertsLando commented on #1949
Dunno how many devices you have but IMO ecluding all them, hard reset stick and add them back one by one would be the cleanest solution

[2021-11-10 10:11] giovi321 commented on #1949
I forgot to mention that when I add a device I get the following message:
`Some security keys are missing: S2_Unauthenticated, S2_Authenticated, S2_AccessControl, S0_Legacy. Please check your zwave settings.`

[2021-11-10 10:18] giovi321 commented on #1949
I have merely 5 devices + usb stick

[2021-11-10 10:21] robertsLando commented on #1949
Go to settings and add missing keys please, zwave section :)

[2021-11-10 10:21] #1938 closed

[2021-11-10 10:38] AlCalzone commented on #1949
Please post the entire log of the inclusion process. Keys are only needed after the actual inclusion so this can't be the issue.

[2021-11-10 10:43] giovi321 commented on #1949
Ok, I just excluded and re-included a working node and everything went smoothly. I'm starting to think that the two nodes I can't include are too far from the receiver but this surprises me because they are zwave+ so they can work as a "hop" like in my previous network graph (that now has changed with no "hops").
Concerning node 11, I have no clue who might it be!

[2021-11-10 10:53] giovi321 commented on #1949
Ok it's not the distance. I moved one of the two devices that I'm trying to include closer to the zave stick and made no difference. I'm officially desperate.

[2021-11-10 10:59] jmgiaever commented on #1949
Hi. Did you do a HARD RESET of the stick, and re-included the devices?

It sounds like there's something fishy going on since you have a node 11 that neither you or the controller knows about.

[2021-11-10 11:10] giovi321 commented on #1949
I have performed a hard reset and I tried to add a factory reset device to the network (that was working till few days ago regularly) and this is the log I get. Any clue?

[code]

[2021-11-10 11:11] AlCalzone commented on #1949
Driver logs please

[2021-11-10 11:12] AlCalzone commented on #1921
Did you re-interview the problematic nodes since upgrading?

[2021-11-10 11:12] giovi321 commented on #1949
@AlCalzone yes sorry made a mistake :)

[2021-11-10 11:15] AlCalzone commented on #1949
The inclusion process is stopped after 30 seconds without any message reaching the controller at all. To be sure, let's exclude a common issue: controller placement.

Z-Wave sticks in particular are prone to interference by USB ports, especially by USB3 ports. We recommend putting the stick in a suitable location:

-   on an **USB extension cord** (this works wonders!)
-   away from other USB port

[2021-11-10 11:24] giovi321 commented on #1949
I tried the USB extension cord and I even placed the device 50cm away from the usb stick - no success.
What other option do I have?

[2021-11-10 12:08] giovi321 commented on #1949
Ok I tried hard reset, switching cable, now it's not even including nodes that were working 60 minutes ago... maybe a reinstall could be helpful?

[2021-11-10 12:46] jmgiaever commented on #1949
Try to do a re-install;

[code]

When you see that everything runs fine, exit process and demonize it with

[code]

[2021-11-10 12:56] giovi321 commented on #1949
@jmgiaever thank you for the instructions.
I could wun with `/snap/bin/zwavejs2mqtt.exec` but i could not demonize with `zwavejs2mqtt.enable` nor with `/snap/bin/zwavejs2mqtt.enable`

[2021-11-10 13:20] Altycoder commented on #1863
Just moved to 5.11.0 and store is enabled under z-wave settings, does this matter or should I turn it off?

I'll report back later or tomorrow if it works with HA or not as sometimes it takes a little while to fully test.

[2021-11-10 13:29] robertsLando commented on #1863
Nope, it's disabled at all in MqttClient code, so enabled or not in settings it doesn't change

[2021-11-10 14:56] giovi321 commented on #1949
Ok I managed to reinstall with the specific procedure for Snap package for Raspberry PI. Still not getting any luck on adding most of the devices (mostly the Danfoss LC13 and, especially, the AEOTEC multisensor 6.

[2021-11-10 15:02] Altycoder commented on #1863
Seems to be working fine now, thanks

[2021-11-10 15:02] #1863 closed

[2021-11-10 15:11] firstof9 opened #1955 "[bug] Replace failed node missing"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-10 15:27] firstof9 commented on #1955
Never mind it was moved to `Manage Nodes`

[2021-11-10 15:27] #1955 closed

[2021-11-10 15:48] AlCalzone commented on #1949
Do you have a spare Z-Wave stick that you could flash with the Zniffer firmware to see what's actually happening on the radio?

[2021-11-10 16:03] giovi321 commented on #1949
I don't know how, why, what have I done but now everything is back to normal and works. Installed through the specific procedure for Snap package for Raspberry PI and worked out of the box. I don't have the courage to update even if it shows the icon
![image](https://user-images.githubusercontent.com/6443515/141148497-560d9565-3f37-4f07-9afe-e8f794d97687.png)

[2021-11-10 23:46] jmgiaever commented on #1949
I'm sure it's fine to do the update. That's just configuration files.

But out of curiosity; which stick do you use?

[2021-11-11 00:43] giovi321 commented on #1949
Everspring Z-Wave (on amazon [B01LQZ9BLH](https://www.amazon.it/dp/B01LQZ9BLG))

I updated and I'm having troubles again... some thermostatic valves are loosing their capabilities and the driver keeps going offline, they show "Unknown manufacturer 0xXXXX", another device shows capabilities on ZwaveJS2mqrtt but not on home assistant.

[2021-11-11 03:34] ArchLayperson opened #1957 "[feat] Select camera when scanning a QR code"
**Is your feature request related to a problem? Please describe.**
On my machine, I have four video input devices, only one of which is a webcam. When I attempt to scan a QR code, the first camera (in this case, a virtual camera) is activated, and there is nothing in the UI to switch to the actual camera.

**Describe the solution you'd like**
If multiple cameras are available, display a combobox t

[2021-11-11 05:14] doug62 commented on #1936
I am an iPhone user, SCAN doesn't do anything, IMPORT and then click Drop.... Turns camera on and takes a photo (not properly labeled but I like this).

**** HOWEVER! - It fails to recognize/find a QR/DSK code.

[2021-11-11 05:16] doug62 commented on #1957
On iPhone, camera is activated when you click drop area, doesn't find/recognize a QR/DSK.

[2021-11-11 05:19] jmgiaever commented on #1949
Could you try to do a restart of the app?

`sudo snap restart zwavejs2mqtt`

[2021-11-11 05:27] doug62 opened #1958 "Smart Start: iPhone - Fails to find a QR/DSK code"
### Version

**Checklist:**

- [ x ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ x ] I have checked the troubleshooting section and my problem is **not** described there.
- [ x ] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ x ] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install -

[2021-11-11 07:21] robertsLando commented on #1958
@doug62 Duplicate of #1936

[2021-11-11 07:34] AlCalzone commented on #1949
@giovi321 unfortunately your log includes neither a restart nor the config update, so it's unclear what is happening there.

[2021-11-11 07:46] doug62 commented on #1958
To be clear - this bug is about how images acquired either by direct cam or file fail to be recognized - not the process of acquiring images

[2021-11-11 08:41] robertsLando commented on #1958
Humm do you get any error on console? I cannot reproduce it with my codes. Could you send me your qr code via email?

[2021-11-11 09:01] jmgiaever commented on #1936
Scan should work as you like the import feature. The camera should open. Have you maybe denied access to the camera?

The first time you've visited the scan section it (z2m in your browser) will ask for permission to use your camera. If you deny access it will not load.

[2021-11-11 09:04] stomko11 opened #1959 "[bug] Some devices show "unknown" status and need to be reinterviewed after restart/save"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-11 09:07] giovi321 commented on #1949
Sure, here it is.
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7519137/zwavejs2mqtt-store.zip)

[2021-11-11 09:08] robertsLando commented on #1936
Please give a try to https://github.com/zwave-js/zwavejs2mqtt/pull/1956

BTW Are you running it using https?

[2021-11-11 09:11] jmgiaever commented on #1949
Did you try a simple restart?

And can you share your settings file? Remove your network keys first.

+ The output from `sudo snap info zwavejs2mqtt`

[2021-11-11 09:19] giovi321 commented on #1949
I tried a simple restart and reboot, no change.

[settings.json.txt](https://github.com/zwave-js/zwavejs2mqtt/files/7519227/settings.json.txt)

[code]

[2021-11-11 09:40] AlCalzone commented on #1949
Ok, installing the config update seems to be working okay. The restart at `2021-11-11T08:55:54.925Z` in combination with securely included multisensors then seem to overwhelm your stick.

We're back to my comment earlier https://github.com/zwave-js/zwavejs2mqtt/issues/1949#issuecomment-964916577, but even worse.

Node 3 and 5 are sending all their measurements (temperature, humidity, UV, luminance

[2021-11-11 09:50] giovi321 commented on #1949
@AlCalzone @jmgiaever @robertsLando I wish I could offer you at least a beer (let me know if you have a patron or something).
Thank you so much for supporting me in problem solving z-wave, a technology I'm barely aware of.

@AlCalzone, do you think that getting a better (more expensive controller) could improve the situation?

Many many thanks again.

[2021-11-11 09:57] robertsLando commented on #1949
@giovi321 Sure, just press on sponsor button in our profile and you will see all the options available.

![Schermata da 2021-11-11 10-57-17](https://user-images.githubusercontent.com/11502495/141277935-0dfe97ef-c5f2-4aad-adf8-b7a402ba6c29.png)

My patron is: https://patreon.com/user?u=16906849
Or also: https://www.buymeacoffee.com/MVg9wc2HE

[2021-11-11 10:22] jmgiaever commented on #1936
Me or @doug62 ? I'm running it behind a reverse proxy. Z2m itself is http, but I always request it over the reverse proxy since I've blocked every other ports on this device.

[2021-11-11 10:37] AlCalzone commented on #1949
@giovi321 maybe a new controller (not necessarily expensive, but the new 700 series if they are available) can help a bit. But the original problem will also be detrimental on a new network.
If you like to sponsor me, here you'll find the links (PayPal or Github Sponsors): https://github.com/zwave-js/node-zwave-js

[2021-11-11 10:47] giovi321 commented on #1949
@AlCalzone I offered a beer, hope to be able to do it in person one day.
The 700 series what brand is it?

[2021-11-11 11:05] robertsLando commented on #1949
https://aeotec.com/z-wave-home-automation/z-wave-700-series.html

[2021-11-11 11:14] robertsLando commented on #1936
It was for @doug62

BTW the PR attached should fix all the issues expect the `**** HOWEVER! - It fails to recognize/find a QR/DSK code.` , I have no clue about that as all my qr codes are correctly parsed. I would need the qr code to test

[2021-11-11 11:15] robertsLando commented on #1957
PR ready

[2021-11-11 12:49] giovi321 commented on #1949
I found it here if you're interested :)
https://www.fatelettronica.it/index.php?option=com_virtuemart&view=productdetails&virtuemart_product_id=877146&virtuemart_category_id=2756&Itemid=1&gclid=EAIaIQobChMI-oW1uKqQ9AIVweN3Ch1lRwWWEAQYAiABEgKEb_D_BwE

[2021-11-11 12:54] robertsLando commented on #1949
Yep I will get one soon, grazie Giovanni 🙏🏼 😄

[2021-11-11 13:00] giovi321 commented on #1949
Least I could do!

[2021-11-11 13:09] doug62 commented on #1936
![t](https://user-images.githubusercontent.com/5632034/141303345-e97a5c21-c118-4ce0-93d9-53c7da87e83d.jpg)
@robertsLando I attached the file to an earlier bug #1958 but attached here as well, I have tried 5 different codes, my phone parses them but zwavejs2mqtt doesn't.  Thanks for your awesome work, I'm hankering to contribute when i get more up to speed w HA

[2021-11-11 13:16] doug62 commented on #1958
![t](https://user-images.githubusercontent.com/5632034/141304593-07b1f4ac-3e4f-40d2-b6d8-1b96edf6ef68.jpg)

[2021-11-11 13:17] robertsLando commented on #1936
@doug62 In fact I'm able to add it when scanning from camera but not when adding it as an image (weird). Let me investigate

[2021-11-11 13:24] robertsLando commented on #1936
@doug62 I have a feel the problem is that the QR code is too big in the image and the detect fails, just to make a double check could you try to make a new picture of it?

[2021-11-11 13:26] robertsLando commented on #1936
Just tried to use this (simply reduced browser zoom and made a screenshot and it is working:

![Schermata da 2021-11-11 14-25-43](https://user-images.githubusercontent.com/11502495/141306065-6d9232e9-e579-4774-b644-cafd4dda5489.png)

[2021-11-11 15:43] #1936 closed

[2021-11-11 15:43] #1947 closed

[2021-11-11 15:43] #1957 closed

[2021-11-11 15:43] #1958 closed

[2021-11-11 15:44] robertsLando commented on #1944
Closing this for now as it's not a bug with application

[2021-11-11 15:44] #1944 closed

[2021-11-12 08:55] Ascariota commented on #1921
Yes I Do - and same issue

Node 15 --> Dump file

[zwave_js_dump (5).txt](https://github.com/zwave-js/zwavejs2mqtt/files/7526137/zwave_js_dump.5.txt)

[2021-11-12 10:17] AlCalzone commented on #1921
Ok, then please re-interview one again, capture that in a [driver log](https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/generating-logs?id=driver-logs), loglevel `debug` or `silly` and attach it here as a file.

[2021-11-13 10:36] johanschelin commented on #1366
Yes this would be really nice, for example as I have 50+ units where I would like to change the temp/watt change reports to be less frequent to easen the network traffic.

[2021-11-13 19:16] jandado commented on #1921
Hi there. I have the same problem, though with a FGS211 (Fibaro 1x3kW relay switch). I have the latest HA, latest Z-Wave JS to MQTT. This bug has been present for several months now. It had first appeared over 5-6 months ago, then disappeared for a short period, and returned to never disappear again. I have 8 of these relays, but only two of them are used using the physical switch inputs on the de

[2021-11-13 20:15] AlCalzone opened #1962 "Reporting on Fibaro FGS211 does not work"
Hi there. I have the same problem, though with a FGS211 (Fibaro 1x3kW relay switch). I have the latest HA, latest Z-Wave JS to MQTT. This bug has been present for several months now. It had first appeared over 5-6 months ago, then disappeared for a short period, and returned to never disappear again. I have 8 of these relays, but only two of them are used using the physical switch inputs on the de

[2021-11-13 20:16] AlCalzone commented on #1921
@jandado I've opened https://github.com/zwave-js/node-zwave-js/issues/3703 for your issue, since it is about another device. Let's continue there.

[2021-11-15 09:38] robertsLando commented on #1366
I still dunno what could be the right way to implement this on the UI. BTW you already can do this by using a driver function :)

[2021-11-15 16:10] CWSpear commented on #1468
Along these lines, I have the same physical device being used for fans, switches and lights. So it'd be nice to override that `device_class` arbitrarily on a per-device level.

I'm specifically using the websockets API to sync devices, if that makes a difference.

[2021-11-15 16:12] DTTerastar commented on #1468
Customize.yaml can fix that.  There is no fix for the wrong domain tho...

[2021-11-15 16:13] CWSpear commented on #1468
Er, I did mean `domain`.

Ok, shucks... I guess `template`-workarounds for now.

[2021-11-15 20:52] AlCalzone commented on #1782
solved, right?

[2021-11-16 07:18] robertsLando commented on #1782
Yes, I think :)

[2021-11-16 07:18] #1782 closed

[2021-11-16 07:36] #1949 closed

[2021-11-16 21:39] kpine opened #1967 "[bug] Power status values in the control panel UI are set "Battery level: unknown" after restarting"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-16 21:44] kpine commented on #1967
Strangely enough, a battery device waking up will update the Power status, even if no battery information is provided. I guess it's triggering some kind of internal refresh in z2m? After this event the battery level is shown correctly:

[code]

Pinging or refreshing CC values on a mains-powered node has no effect.

[2021-11-17 00:36] mdegroux opened #1968 "Nodes stuck in protocolinfo/nodeinfo state"
Hello,

In a fresh install of zwavejs2mqtt 5.12.0 on docker, with a zwave controller having an existing network

My previous software was runnin openzwave 1.4 and I had custom network key
In zwavejs2mqtt, I have copied the network key in S0 legacy and generated new S2 keys

In the control panel,:
- all electric powered nodes are in nodeinfostate
- all battery powered nodes (node 18 - fibaro FGMS-0

[2021-11-17 07:25] robertsLando commented on #1967
@ahochsteger I think maybe the power status is only updated when battery CC event is catched?

[2021-11-18 06:09] kpine commented on #1967
I checked today and all the icons were correct. So I looked a bit more, and it appears to _only_ be an issue after you restart and keep the same browser window open. If you reload the page, or open a new tab, the icons and status will load correctly. I've updated the reproduction steps in the original issue.

The other icons and statuses update, it's only the power ones that do not.

[2021-11-18 06:23] ahochsteger commented on #1967
@kpine could you confirm that the battery status is already up-to-date if you reload the UI a minute or two after the restart?
@robertsLando I've observed this behavior on my side es well and I think it has to do that the UI doesn't get informed about the updated power status information.
Relevant are the values `isBatteryPowered`, `minBatteryLevel` and `batteryLevels`.
Any idea what the problem c

[2021-11-18 07:28] robertsLando commented on #1967
IMO the problem is that the event that updates those info is for value updated and the value that updates node is node update so when those values are update we should send that event instead

[2021-11-18 08:03] kpine commented on #1967
I don't have to wait anytime at all. Once I see the battery icons go unknown, I just open another browser window or refresh the current one and they will be correct, no waiting necessary. It's only the browser window that was open _during_ the restart that never updates.

[2021-11-18 08:05] robertsLando commented on #1967
Yeah like I said it's just a matter of events, there is no event that updates the node

[2021-11-18 08:50] mdegroux opened #1969 "[bug] Protection values not refreshed"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-18 08:50] mdegroux opened #1971 "[bug] Protection values not refreshed"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-18 09:49] robertsLando commented on #1969
If the value isn't updated It means I don't receive a value updated event. This could happen when the device isn't reporting it to zwave and the reason could be on device configurtations or a bug in device firmware.

cc @AlCalzone

[2021-11-18 10:05] mdegroux commented on #1969
An additional information, before I was on OZW 1.4 and when I was changeng the protection, I had the new new value

[2021-11-18 11:11] robertsLando commented on #1967
Fix ready in #1970. @kpine @ahochsteger could you  test that when you have a moment? much have changed and I want to be sure I didn't break anything

In my tests everything seems working BTW

[2021-11-18 11:22] AlCalzone commented on #1969
Hm, seems like that value is actually not refreshed.

[2021-11-18 12:08] AlCalzone commented on #1971
This is not actually a driver bug. There are several non-critical values that aren't refreshed after a SET and have to be assumed to be successfully set.

@robertsLando `setValue` updates the value in the Value DB but does not emit an event because it would spam unnecessary updates. After all the application knows which value it just set.
If the `setValue` call resolves to `true`, you need to upda

[2021-11-18 15:40] #1967 closed

[2021-11-18 15:58] robertsLando commented on #1849
Is this still an issue

[2021-11-18 16:11] #1971 closed

[2021-11-18 16:28] #1886 closed

[2021-11-19 03:06] flavio-fernandes commented on #1849
As far as I can tell, this issue has been resolved.
@jmgiaever may we close it?

[2021-11-19 08:32] ahochsteger commented on #1967
@ahochsteger I can confirm that it's working now - all battery information is updated in the UI at the same time as other columns (e.g. 'Last active').

[2021-11-19 08:44] ahochsteger opened #1977 "[bug] Sorting the node table has problems with certain edge cases"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker

Zwavejs2Mqtt version: Current master branch (based on 5.12.0)
Z-Wave JS version: 8.7

[2021-11-19 09:17] robertsLando commented on #1967
In general now control panel should also be much more responsive as data sent to websockets arejust the essential ones (in the previous implementation I was always sending the entire node object when a node had an update and some nodes are huge considering also the values)

[2021-11-19 09:24] robertsLando commented on #1849
Closing for now so, feel free to reopen if needed

[2021-11-19 09:24] #1849 closed

[2021-11-19 09:27] robertsLando commented on #1977
@ahochsteger FYI if you don't see some columns in controller node is because now I'm hiding them

[2021-11-21 21:20] Aesculapius opened #1980 "[bug] Driver 8.7.6 Serial port errored: The socket closed unexpectedly! (ZW0100)"
### Version

**Checklist:**

- [ ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-23 20:14] titidnh opened #1988 "No more action from zwavejs2mqtt to my iot devices"
Dear,

Since xxx days (not really knows how many :(), I'm not able to switch on/off my iot devices. I received the informations from the device to home assistant via zwavejs but I can not turn on/off my iot devices directly from the dashboard of zwavejs2mqtt.

Any idea which action I need to take ?

2021-11-23T20:09:38.880Z CNTRLR [Node 010] [~] [Binary Switch] currentValue: true => false [Endpoin

[2021-11-25 05:07] tboyko opened #1990 "[question] Aeotec Nanomote Quad zwave events being blocked?"
First, thank you for your work on this project. It's so much snappier than the old z-wave implementation.

I have an Aeotec Nanomote Quad z-wave device. When I press one of the keys, the logs show the following:

[code]

In HomeAssistant, monitoring for `*` events in the developer tool section produces no result.

What can I do so that these value changes are not skipped? Any help is much apprecia

[2021-11-25 14:01] robertsLando commented on #1990
@tboyko Are you using mqtt or zwavejs integration?

[2021-11-25 15:37] giovi321 opened #1992 "[Home Assistant]"
### Version

Build/Run method:

[ ] Docker
[ ] Git Clone + yarn install + yarn run build + yarn start
[x] Pkg (Snap)

zwavejs2mqtt: 5.11.0.474d303
zwave-js: 8.7.5

### Describe the bug
I replaced my cheap chinese made zwave stick with a brand new AEOTEC 7. However, I encounter two problems (of two orders of magnitude)
1) I cannot include some devices that were included before
2) Suspicious behavio

[2021-11-25 16:05] robertsLando commented on #1992
Zwavejs log please

[2021-11-25 17:18] tboyko commented on #1990
@robertsLando In the settings section I have Z-wave and HomeAssistant enabled. I've disabled the MQTT gateway by toggling the "Disable MQTT" gateway option.

[2021-11-25 20:51] giovi321 commented on #1992
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7605174/zwavejs2mqtt-store.zip)

[2021-11-26 08:00] robertsLando commented on #1990
If you mean you have zwave js server enabled it means this is handled on hass side and not by me. You should open an issue there. Dunno if @AlCalzone can help in this too but you can ignore those logs as them are on z2m side

[2021-11-26 08:07] robertsLando commented on #1992
Did you firstly exclude them from your previous controller? If not you should, otherwise you have to reset your devices to factory settings and try to include them to your new controller

The name is stored in a json on z2m side, that's why when you changed the controller the name was still there, the reason why it is different it's that the name is associated with a specific node id (that is assi

[2021-11-26 08:11] robertsLando opened #1996 "[feat] Alway show configuration CC get/set inputs even when no configuration CC is present"

[2021-11-26 12:01] chorus12 opened #1997 "ZME_UZB1 is identified as UZB with no zwave plus and security support"
- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker

Zwavejs2Mqtt version: 6.0.1
Z-Wave JS version: 8.8.1
### Describe the bug
I am using a ZME UZB1 usb stick from zw

[2021-11-26 14:09] robertsLando commented on #1997
In latest version those columns (and others) have been hidden for controllers as them don't make any sense for a controller node. Check latest changelog

[2021-11-26 14:09] #1997 closed

[2021-11-26 16:26] giovi321 commented on #1992
I did not exclude them priorly to change the controller, but I have factory reset every single device.

[2021-11-26 17:28] tboyko commented on #1990
@robertsLando I may be misspeaking as I'm not totally familiar with how this project works. My understanding is that it bridges z-wave interactions to MQTT, but that it can also bridge straight to HomeAssistant using some other sort of non-MQTT protocol. I'm not positive on how I have it set up, either, which is why I shared my settings in qwavejs2mqtt, above. I believe I'm doing a z-wave (js) to

[2021-11-26 20:05] chorus12 opened #2000 "[feat] ZME_UZB1 to change RF region"
I am using ZME_UZB1 stick which is capable of changing the RF region (and it works fine for close frequencies like EU and Russia).
When calling a code to change the RF region
`const region = await driver.controller.getRFRegion();`
get response:
`Error while calling api driverFunction: Your hardware does not support getting the RF region! (ZW0105)
`
Please advise if that can be fixed via configurat

[2021-11-27 15:10] psychogun opened #2003 "[bug] AEON Labs Z‐Stick Gen5 USB Controller ZW090 fails firmware update"
### Version

**Checklist:**

- [ ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-27 16:50] tungmeister commented on #2003
Just attempted this myself with the same results.

[2021-11-28 01:05] kpine commented on #2003
At this time you cannot upgrade the firmware of a USB controller zwavejs2mqtt/node-zwave-js, that functionality is only for other nodes. You'll need to use the software provided by Aeotec.

[2021-11-28 12:51] tamahau30494 opened #2006 "Is there a way to control priority for network meshing? [question]"
I have two battery devices that are being used as 1 hop devices in my mesh. It's killing their batteries and I just had batteries go dead and had network issues because of it.

My question is, can I change the controller or zwave-js settings to not use battery devices as major mesh points?

[2021-11-29 14:43] robertsLando commented on #2006
I don't think so. cc @AlCalzone

[2021-11-29 14:56] robertsLando commented on #1990
This project can actually be used as control panel, mqtt gateway (if you have mqtt enabled, that's not your case), and could also init zwavejs server that can be used paired with hass zwavejs integration to control your devices directly from hass. If the problem is that

It means it is something related to the zwavejs server that is not forwarding events to the hass integration and I have no contr

[2021-11-29 14:58] robertsLando commented on #1992
From the UI go to store and check for nodes.json file

[2021-11-29 16:01] AlCalzone commented on #2006
That cannot be. Only permanently-listening devices can and will be used for meshing.

[2021-11-29 17:13] giovi321 commented on #1992
thanks!

[2021-11-29 20:06] robertsLando commented on #2006
@tamahau30494 could you share your z2m version and a screenshot of your network map please? A nodes dump would be good too

[2021-11-29 22:22] giovi321 commented on #1992
I am still unable to include a Danfoss LC13. I followed the manual for the factory reset and for the inclusion, but no signs of it
[zwavejs2mqtt_2021-11-29.log](https://github.com/zwave-js/zwavejs2mqtt/files/7621506/zwavejs2mqtt_2021-11-29.log)
.

[2021-11-29 22:47] tboyko commented on #1990
Ok, I see what you are saying, but still a bit confused on why "the logic inside it is out of z2m control" since it's in the codebase, [here](https://github.com/zwave-js/zwavejs2mqtt/blob/b18067abf095b12f6262b673210fc469c1f87362/lib/Gateway.ts#L1855). But, since I already shared that, I'm guessing that I'm missing something.

In the event that it is out of this project's control, should I be conta

[2021-11-29 22:58] tboyko commented on #1990
I re-paired the device with my z-wave network and the issue seems to have resolved itself. 🤦 Apologies for the trouble!

[2021-11-29 22:58] #1990 closed

[2021-11-30 07:30] robertsLando commented on #1990
You right in fact that comes from the codebase, but the events I manage on my side are also managed by zwavejs server: https://github.com/zwave-js/zwave-js-server

On startup of zwave client on my side if zwavejs server option is enabled I start it passing zwavejs driver as argument then everything they send to hass is managed by them, not z2m :) Glad you fixed your problem BTW, hope I have been m

[2021-11-30 07:41] robertsLando commented on #1992
cc @AlCalzone

[code]

[2021-11-30 07:45] AlCalzone commented on #1992
While the inclusion is active, no messages from the device requesting inclusion are received. This **might** be a connectivity problem. Z-Wave sticks in particular are prone to interference by USB ports, especially by USB3 ports. We recommend putting the stick in a suitable location:

-   on an **USB extension cord** (this works wonders!)
-   away from other USB ports
-   away from metallic surfac

[2021-11-30 08:32] heaven988 opened #2007 "[bug] Qubino ZMNHJD1 flush pilot with ZMNHEA1 Sensor - no automatic refresh"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-11-30 10:27] giovi321 commented on #1992
Tried again this morning and it worked. No idea why or how.
Thank you all for the help, once again

[2021-11-30 12:22] psychogun commented on #2003
@kpine Thank you for your answer.

[2021-11-30 18:24] giovi321 commented on #1992
What should I do if entities are not showing all the features / they don't show only on hass and I have already tried re-interview and refresh valules? How do you debug this from the logs?

[2021-12-01 02:00] slashfoo opened #2010 "[feat] Allow API_KEY or USER/PASS for WS gateway"
**Is your feature request related to a problem? Please describe.**
I see a way to guard the mqtt gateway, as well as http UI behind user/password, but don't see a way of guarding the WS gateway on port 3000

**Describe the solution you'd like**
Setting the gateway to authenticate against a valid HA api key, or have WS authenticate with HTTP credentials defined in the app.

**Describe alternatives

[2021-12-01 06:17] jmgiaever commented on #2010
Hi, I think you'll have to report this directly to the HA core team. This is related to the zwave-js-server which they maintain.

It's btw mentioned there, in it's repo, that they do not offer security.

[2021-12-01 06:45] kpine commented on #2010
You can use Basic Auth + HTTPS, and a proxy frontend like Nginx or Traefik (I use the latter). Basic Auth works with the HA integration, although it's not documented because it's not an explicitly supported feature, it just happens to work. I suppose z2m could also implement Basic Auth, but I'm not sure it's worth it to do so since any proxy can do it.

Any other kind of authentication scheme woul

[2021-12-01 07:16] jmgiaever commented on #2010
Didn't know this actually. Great to know!

I've simply just blocked outside connections to the WS instance by blocking the port to it in ufw, since my WS instance is running on the same machine as HA.

Only a few ports are open from the outside.

[2021-12-01 07:29] kpine commented on #2010
I'd say most people are running the server and HA on the same network. I think HA devs have prioritized work in regards to HAOS users, which means everything is on the same host and network.

To use basic auth you just set the WS URL in the integration configuration as `wss://user@password:hostname:port`. Use `ws` if you don't use HTTPS, but I wouldn't recommend that with basic auth. The only down

[2021-12-01 07:50] jmgiaever commented on #2010
Ok. Good to know, and now the TS have a few options to choose from.

I'd recommend just blocking the port, from the outside, if it runs on the same **host**. If it's on the same network I would control access by (static) IPs.

(Even better to block every port and just open up those that are needed, but that is another chapter)

[2021-12-01 09:57] davidwaze commented on #1918
Hello,

Anys news ?

Thanks

[2021-12-01 21:52] giovi321 opened #2011 "[Home Assistant]"
[zwavejs2mqtt-store(1).zip](https://github.com/zwave-js/zwavejs2mqtt/files/7637324/zwavejs2mqtt-store.1.zip)

### Version

Build/Run method:

[ ] Docker
[ ] Git Clone + yarn install + yarn run build + yarn start
[x] Pkg

Zwavejs2Mqtt version: zwavejs2mqtt: 5.11.0.474d303
Z-Wave JS version: zwave-js: 8.7.5

### Describe the bug

Two main issues:
1. Nodes 8, 11, 13, 15 keep showing "unavailable" and

[2021-12-02 09:04] robertsLando commented on #2011
It may be related to a known issue on zwavejs side. Wait for next update

[2021-12-02 09:04] robertsLando commented on #2011
cc @AlCalzone

[2021-12-02 09:05] robertsLando commented on #2011
@giovi321 Could you submit silly level zwavejs logs please?

[2021-12-02 09:20] Martijn02 opened #2012 "TypeError: endpointGroups is not iterable"
### Is your problem within Home Assistant (Core or Z-Wave JS Integration)?

NO, my problem is NOT within Home Assistant or the ZWave JS integration

### Is your problem within ZWaveJS2MQTT?

NO, my problem is NOT within ZWaveJS2MQTT

### Checklist

- [X] I have checked the [troubleshooting section](https://zwave-js.github.io/node-zwave-js/#/troubleshooting/index) and my problem is **not** describe

[2021-12-02 09:43] AlCalzone commented on #2011
Every now and then? That sounds more like the cache files are getting deleted.

[2021-12-02 09:49] AlCalzone commented on #2012
@robertsLando you should really turn on TypeScript's strict mode:
![grafik](https://user-images.githubusercontent.com/17641229/144398267-002ea196-8604-422a-b3c2-71a656642f90.png)

[2021-12-02 10:20] giovi321 commented on #2011
Isn't it already at silly level? That's what I can see from the UI

[2021-12-02 10:44] AlCalzone commented on #2011
It is, yeah. There are some strange things going on:

zwave-js doesn't use octal literals anywhere, so this must have something to do with pkg.

Then there's this constellation of commands that shouldn't happen:
[code]
which might be a bug in the driver => https://github.com/zwave-js/node-zwave-js/issues/3833

Not sure where the cache files are located with pkg, but you should have three files wit

[2021-12-02 11:13] giovi321 commented on #2011
Any clue on where to start to look for these files?

[2021-12-02 11:16] giovi321 commented on #2011
Or maybe downgrade the package?

[2021-12-02 11:39] AlCalzone commented on #2011
@robertsLando Can you help?

[2021-12-02 12:36] robertsLando commented on #2011
pkg is just a packaged version of the application, the store folder should be in the same folder of the executable so the cache files should be there

[2021-12-02 12:59] giovi321 commented on #2011
Another hint would be super helpful!

[2021-12-02 12:59] giovi321 commented on #2011
I tried /snap/zwavejs2mqtt/current/bin but can't find cache there

[2021-12-02 13:23] giovi321 commented on #2011
The sockets keeps connecting and disconnecting now...

[2021-12-02 13:37] #2012 closed

[2021-12-02 13:38] robertsLando commented on #2011
Oh so it's snap not pkg 😕 . I dunno about snap, should ask to @jmgiaever that is the snap package author

[2021-12-02 13:38] robertsLando commented on #1918
No time right now

[2021-12-02 13:50] robertsLando commented on #2011
I think the repo is this: https://git.giaever.org/joachimmg/zwavejs2mqtt

The store folder is the mentioned `$SNAP_DATA` but I cannot find where it is set

[2021-12-02 13:52] giovi321 commented on #2011
@jmgiaever let me know if you need a summary of what's going on.

[2021-12-02 15:46] jmgiaever commented on #2011
Hi,

It's the read only filesystems in `/snap/zwavejs2mqtt/[...]`.

The store is in `/var/snap/zwavejs2mqtt/<revision>/`.

You can swap `<revision>` with `current` if you don't know the revision you're on.

Sorry my late response, but I've been super busy today.

[2021-12-02 15:57] giovi321 commented on #2011
No worries, actually thanks for the response.
I restarted zwavejs2mqtt and this is the log, the situation is not looking good as every node is showing no info at al
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7643299/zwavejs2mqtt-store.zip)
.

[2021-12-02 16:33] jmgiaever commented on #2011
Did you delete the cache, as @AlCalzone? Make sure you're logging to file with the level `debug` under the Z-Wave field under settings in z2m

Stop zwavejs2mqtt

[code]

Delete cache

[code]

And start zwavejs2mqtt again

[code]

Could you also dump the information from

[code]

[2021-12-02 19:38] Martijn02 commented on #2012
Thank you very much for the quick fix. I updated my container to sha-6886825 and can confirm that this fixed the issue I had.

You guys are awesome. I'm extremely grateful for your work.

[2021-12-03 07:25] robertsLando commented on #2012
@Martijn02 Thanks 🙏🏼 😄

[2021-12-03 10:35] giovi321 commented on #2011
That's what  I tried but all the info of all the nodes have disappeared. After some hours they started to reappear except for one Danfoss LC13 (that shows E5 on the display btw). On home assistant all the vautes are unavailable intermittently

[2021-12-03 10:44] jmgiaever commented on #2011
What is the **interview** status on all nodes?

[2021-12-03 10:51] giovi321 commented on #2011
NodeInfo on 3,4,5,6,8,15,16
ProtocolInfo on 11
Sometimes some of them are Complete bu tthen go back to NodeInfo

[2021-12-03 11:06] giovi321 commented on #2011
[zwavejs2mqtt-store(1).zip](https://github.com/zwave-js/zwavejs2mqtt/files/7649000/zwavejs2mqtt-store.1.zip)

[2021-12-03 11:14] jmgiaever commented on #2011
Do they go from complete randomly during run-time or between restarts?

How large is your network? How many main powered devices and how many battery powered?

[2021-12-03 11:19] jmgiaever commented on #2011
PS! Can you do an update `sudo snap refresh zwavejs2mqtt` and then give me the output from `snap info zwavejs2mqtt`

[2021-12-03 12:54] AlCalzone commented on #2011
I asked for a log directly after you delete the cache files. I'm not seeing that in the files you posted.
I am seeing many, many startups, all seemingly from the same half-interviewed state.

Please:
1. stop zwavejs2mqtt
2. delete the cache files, delete the logs
3. start zwavejs2mqtt and wait a bit
4. do nothing else
5. post the new log

[2021-12-03 13:19] giovi321 commented on #2011
To answer to everyone:
@jmgiaever: completely randomly they change state, this is a gist of what you asked https://gist.github.com/giovi321/fb5aa7d5b92e4f3bdd5ba906161980a5
@AlCalzone: I followed your instructions very closely and here you can find attached the new log, hopefully I did everything right.
[backup-OpenWrt-2021-11-25.tar.gz](https://github.com/zwave-js/zwavejs2mqtt/files/7649860/backu

[2021-12-03 13:25] giovi321 commented on #2011
To answer to everyone:
@jmgiaever: completely randomly they change state, this is a gist of what you asked https://gist.github.com/giovi321/fb5aa7d5b92e4f3bdd5ba906161980a5
@AlCalzone: I followed your instructions very closely and here you can find attached the new log, hopefully I did everything right
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7649922/zwavejs2mqtt-sto

[2021-12-03 13:26] jmgiaever commented on #2011
Did you do the refresh?

[2021-12-03 13:29] giovi321 commented on #2011
Yes I did the refresh
[code]

[2021-12-03 14:41] Alan-Guggenheim opened #2018 "ZWave JS suddenly losing devices and entities names . System renaming them by itself!"
On my standard Raspberry 4 hass.io ZWave JS integration, Nortek HUSBZB-1 my automations have started suddenly to fail to execute.

I noticed then that the entities have changed name in many devices
out of 81 devices and 425 entities, about half of them show now renamed to some default name like GE Quick-fit Smart In-Wall Paddle Switch, In-Wall Smart Fan Control, In-Wall Smart Switch,...
What is ca

[2021-12-03 14:45] robertsLando commented on #2018
@Alan-Guggenheim It's not something on my side, I don't have any control of what happen on hass side it looks something related to hass integration or maybe with latest zwave-js-server update. What version are you running?

cc @raman325

[2021-12-03 14:49] Alan-Guggenheim commented on #2018
@robertsLando
Driver Version: 8.7.7
Server Version: 1.12.0
Do you know where and by what module the devices and entities names are saved?

[2021-12-03 15:02] robertsLando commented on #2018
Home assistant repo

[2021-12-03 15:18] jmgiaever commented on #2011
Hmmm something isn't right in your system. I recommend that you purge your install and install it again:

[code]

Then connect:

[code]

[2021-12-03 15:20] giovi321 commented on #2011
Will do!

[2021-12-03 15:25] giovi321 commented on #2011
Thanks for the help @jmgiaever, but unfortunately I get this error message:
[code]

[2021-12-03 15:33] jmgiaever commented on #2011
Which operating system is this? There's something fishy with your setup. Never seen this error before.

[2021-12-03 15:37] Alan-Guggenheim commented on #2018
@robertsLando  Thanks a lot

[2021-12-03 15:39] giovi321 commented on #2011
Debian 11.1
Linux 5.10.63-v7l+ #1459 SMP Wed Oct 6 16:41:57 BST 2021 armv7l GNU/Linux

[2021-12-03 15:42] #2018 closed

[2021-12-03 15:49] jmgiaever commented on #2018
@raman325 can this be related to the issue where the there's a cache-crash, and HA loose track of custom naming etc?

[2021-12-03 15:50] jmgiaever commented on #2018
https://github.com/home-assistant/core/issues/58874

[2021-12-03 15:53] jmgiaever commented on #2011
It's strange that you have been able to install it in the past, and now you don't have access to the logger.

Have you tried to power off and do a cold boot?

[code]

Unplug the power for a few seconds and plug it in again.

[2021-12-03 16:00] giovi321 commented on #2011
I just tried to reboot earlier. Now I tried to cold boot but nothing changed :(
I don't fully understand what is the problem here...

[2021-12-03 16:06] raman325 commented on #2018
Yes it could be related to that PR

[2021-12-03 16:44] giovi321 commented on #2011
I even tried to purge snapd and reinstall everything with no success... But what is the error message saying basically? I can't get it

[2021-12-03 17:17] jmgiaever commented on #2011
Hi,

can you test running this: `logger "Hello" && journalctl -xefg "Hello"`

[2021-12-03 17:19] jmgiaever commented on #2011
https://unix.stackexchange.com/questions/317064/how-do-i-restore-dev-log-in-systemdrsyslog-host

[2021-12-03 17:21] giovi321 commented on #2011
logger: socket /dev/log: Connection refused

[2021-12-03 17:30] jmgiaever commented on #2011
Then it's an issue outside of the Snap environment, it's actually something that is broken in your system.

Follow my previous link and try to solve that issue first.

[2021-12-03 18:11] AlCalzone commented on #2011
@giovi321 after the fresh start, the communication looks a bit better. The interview wasn't done yet when you posted the file, but until then there was nothing that stood out.

You should still try to fix the system, in case this is the root of the issue.

[2021-12-03 20:52] giovi321 commented on #2011
Ok it was as easy as a system upgrade that was very painful.
However, I cannot start zwavejs2mqtt now:
[code]

[2021-12-03 21:17] jmgiaever commented on #2011
Connect them, as described in the output, and in my previous post.

[2021-12-03 21:34] giovi321 commented on #2011
I get the following error:

[code]

[2021-12-03 21:37] jmgiaever commented on #2011
/var/liv/docker? Are you inside a docker container?

[2021-12-03 21:39] jmgiaever commented on #2011
Drop the space between `:` and `hardware-observe`

[code]

[2021-12-03 21:54] giovi321 commented on #2011
Sorry for going back and forth, now I'm getting the following error when I execute `sudo zwavejs2mqtt.exec`
`2021-12-03 21:52:53.879 ERROR GATEWAY: Zwave settings are not valid`

[2021-12-03 22:00] AlCalzone commented on #2011
Open the zwavejs2mqtt control panel and check the settings

[2021-12-03 22:07] giovi321 commented on #2011
I can't connect to it

[2021-12-03 22:21] jmgiaever commented on #2011
[code]
to listen on any interface, I guess.

Not sure how your network is, but there might not be a loopback to 127.0.0.1.

[2021-12-03 22:48] giovi321 commented on #2011
it has always been listening to every interface... I usually connect to the local network 192.168.1.65

[2021-12-03 22:59] jmgiaever commented on #2011
Ok.

[2021-12-03 23:00] giovi321 commented on #2011
Success. Don't know how, don't know why. I have restored the nodes from the backup as well as the settings, let's see how it goes as the nodes talk.

[2021-12-03 23:10] jmgiaever commented on #2011
Good. Please close this issue now.

[2021-12-03 23:14] #2011 closed

[2021-12-03 23:51] elcosmelco opened #2020 "Stuck in loop on getting Command class 44 until it runs out of memory"
Hi!

On a clean and updated install of **Raspbian Lite** (bullseye) on an **RPi2B** with a freshly installed docker and **ZwaveJS2MQTT** container, as soon as I add a my device and gets to the command classes it floods everything with 100's upon 100's of entries to do with **command class 44** (Scene Actuator Configuration) mostly of ever increasing and repeating `id: '5-44-0-level-41', `and `id:

[2021-12-04 09:54] pabatribick opened #2021 "[feat] Transmit data via HTTP"
It is possible, to transmit data as HTTP requests instead of MQTT?

Your platform works perfectly and without problems, so I want to use it without HomeAssistant and other things as standalone software to direct data to a website.

Or is there a known workaround for it?

[2021-12-04 11:01] jmgiaever commented on #2021
Hi, why not use the websocket to connect to HA?
And then you can query the API of HA for whatever you want. Or you can make your website talk directly with the same websocket.

There's an own section under settings that is just for the HA integration (zwave-js-server).

[2021-12-04 13:25] robertsLando commented on #2021
I agree with @jmgiaever, mqtt isn't something related to hass, this software is firstly born as zwave2mqtt gateway, it means you can use mqtt to do everything you need, mqtt discovery is something hass related but you can use the application without enabling it

[2021-12-04 13:28] robertsLando commented on #2020
@elcosmelco could you upload here your settings? Try to set log level to warn both in zwave and general sections in settings

[2021-12-04 15:15] elcosmelco commented on #2020
Ok let me try - I suppose by restarting the docker container and pulling the z stick out before it gets to gathering metadata?
Currently I can't even do that because the endless loop has apparently filled my drive space up so I have to figure out how to clear that first

[2021-12-04 15:19] elcosmelco commented on #2020
Ah I did back up the settings before adding the device
[settings_main.txt](https://github.com/zwave-js/zwavejs2mqtt/files/7654144/settings_main.txt)

[2021-12-04 16:10] elcosmelco commented on #2020
Ok I set the log level as suggested (and also disabled send Zwave Events for now) and it seems to initialize and behave as expected now.
The default log level was set to "silly" by the way. Do you wish to investigate further?

Cheers,
Elco

[2021-12-05 09:25] robertsLando commented on #2020
@elcosmelco IMO the problem is that you have lot of nodes and there are too much logs when log level is set to silly on both driver and application and the process goes out of RAM as your device is limited (1/2GB of RAM I think?).

[2021-12-05 10:13] thekoma opened #2024 "[bug]"
This bug has returned: https://github.com/zwave-js/node-zwave-js/issues/2267

### Version
zwavejs2mqtt: 6.0.3
zwave-js: 8.8.3
home id: 3550669033
home hex: 0xd3a2e8e9

**Checklist:**

- [ ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x ] I have checked the troubleshooting section and my problem is **not** described there.
- [x ] I have read the changelog and

[2021-12-05 15:55] pabatribick commented on #2021
Thanks for your fast response!

Right, I don't want to use HA because I don't need these unnecessary functions and won't overload my raspberty.

This Websockets must be connected permanently to get data, right? Are there only "Webhooks" available to send data on for example a door sensor sends action for open/close and transmit it to a website via HTTP?

[2021-12-05 16:48] jmgiaever commented on #2021
You should probably look online for a MQTT to HTTP bridge or something. Something that can stay connected to your MQTT broker and send those requests whenever changes are made.

[2021-12-05 22:21] elcosmelco commented on #2020
That controller only has 1 node added though, but command class 44 is a bit insane where it has it seems 2 properties; `dimming duration` and `level` but each has 255 entries, one for each level value and duration value. This feels wrong as even the web UI barely manages on that CC. I've included a screenshot of the MQTT and web UI - those go on for 255 entries, and again for the other property.

[2021-12-06 11:04] pabatribick commented on #2021
Okay I found a "half solution" with websocket. It is possible to get the output of the websocket as JSON format?

[2021-12-06 12:48] robertsLando commented on #2021
@pabatribick What websocket are you speaking about? Zwavejs server websocket or the one used by the frontend?

[2021-12-06 12:53] robertsLando commented on #2020
Humm yeah never seen something like that, I dunno how this could be improved BTW

[2021-12-06 16:03] pabatribick commented on #2021
Oh sorry, i forgot to write that. I meant the zwavejs server websocket. Is there a possible output for JSON format?

[2021-12-06 16:16] robertsLando commented on #2021
@pabatribick I don't maintain that and it's totally out of control the data sent. Try asking in their repo: https://github.com/zwave-js/zwave-js-server

[2021-12-06 16:28] kpine commented on #2021
The websocket API is JSON.

[2021-12-06 19:24] elcosmelco commented on #2020
Thanx Knipe, good to know!

Then I suppose there is still the question of whether I was stuck in a loop with the log settings at their default, or if it just never finished due to limited resources of the device (a RPi2B ). It went on for minutes though, and I'm pretty sure I saw the same entries multiple times, but I can't be 100% sure at this point.

I'll see if I want to go the custom config fi

[2021-12-08 01:00] LinuxLover9 opened #2037 "[bug] INFO ZWAVE: Controller status: Driver: Failed to open the serial port: Error: No such file or directory, cannot open /dev/ttyACM0 (ZW0100)"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-12-08 04:09] LinuxLover9 commented on #2037
Solved it finally. Needed to change in zwavejs2mqtt settings page the device to **/dev/zwave**, as that was set in the docker-compose.yaml file.

[2021-12-08 04:09] #2037 closed

[2021-12-08 11:46] giovi321 commented on #2011
Yes I did

[2021-12-08 13:10] giovi321 opened #2038 "[Home Assistant] Cannot add devices that were previously removed"
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7676172/zwavejs2mqtt-store.zip)

### Version

Build/Run method:
[ ] Docker
[ ] Git Clone + yarn install + yarn run build + yarn start
[x] Pkg

Zwavejs2Mqtt version: zwavejs2mqtt: 5.12.0.060278d
Z-Wave JS version: zwave-js: 8.7.6

### Describe the bug

After excluding a node (TVR valve Eutronics Spirit) I am unable to include t

[2021-12-10 15:27] robertsLando commented on #2020
@elcosmelco If you agree we could close this issue :)

[2021-12-10 15:27] #2003 closed

[2021-12-10 20:50] #2020 closed

[2021-12-10 20:51] elcosmelco commented on #2020
If you don't think the apparent loop is a bug but more likely the limited resources of the device - we can close

[2021-12-10 21:20] john55021 opened #2040 "can't connect to stick"
I'm not a Linux guy by any stretch. But got zwavejs2mqtt going via docker.
I used this command to download and start:
docker run --rm -it -p 8091:8091 -p 3000:3000 --device=/dev/ttyUSB0:/dev/zwave -v $(pwd)/store:/usr/src/app/store zwavejs/zwavejs2mqtt:latest

what do I use on subsequent starts?

Is it possible to make it start if the system reboots?
Thanks
John

[2021-12-12 10:39] hestiap opened #2047 "[bug] Qubino Flush Dimmer does not send off topic"
Hi,
I have an issue with 2 Qubino Flush Dimmers as there are no OFF messages sent to Dz

### Version
Build/Run method: [ ] Docker
Zwavejs2Mqtt version: 5.12.0
Z-Wave JS version: 8.7.6

### Describe the bug
When I switched OFF the Qubino Flush Dimmer Plus  ZMNHDD (in the wall) there are no message OFF in mqtt
The light in real life is switched OFF
It was ok when it's switched ON

### To Reproduce
S

[2021-12-13 08:18] robertsLando commented on #2020
The loop was due to the fact your server was completely flooded by logs making it impossible to update them correctly :) If you still expect this problem in normal conditions feel free to reopen this issue, thanks :)

[2021-12-13 08:24] robertsLando commented on #2040
@john55021 First question is if your device is mapped to `/dev/ttyUSB0` (you should prefer using /dev/serial path instead) also did you set the  `/dev/zwave` path in UI Zwave settings?

[2021-12-13 15:52] bushvin opened #2051 "[feat] Support Home Assistant Energy"
**Is your feature request related to a problem? Please describe.**
No, not really an issue.
Home Assistant Energy has been introduced in one of the latest HASS releases. It allows for tracking your energy generation and consumption without the need to create elaborate sensors, and whatnot.

**Describe the solution you'd like**
Apparently only devices that follow this guide, are supported to be add

[2021-12-13 16:26] robertsLando commented on #2051
@bushvin You want to introduce this on mqtt discovery?

[2021-12-13 16:31] bushvin commented on #2051
I have no idea if it has already been implemented through the js websocket. But yes, it would be nice to have on the MQTT discovery.

Unless there's another way this can be achieved? I wouldn't mind setting this manually.

[2021-12-13 16:38] robertsLando commented on #2051
@bushvin As I explained in docs I have no plan right now to keep mqtt discovery supported in future due to the lack of features it has and that zwavejs integration already covers that needs (and it's integrated on z2m with the zwavejs server). I would ask that question on zwavejs server or hass core repository

[2021-12-13 16:41] bushvin commented on #2051
ah, my apologies, I somehow missed that. Never mind me then.

[2021-12-14 07:53] robertsLando commented on #2040
@john55021 I suggest you to use this method: https://zwave-js.github.io/zwavejs2mqtt/#/getting-started/docker?id=run-as-a-service

[code]

Steps:

1. Create a folder, let's call it 'z2m'
2. Create the docker-compose file inside it
3. Start application using `docker-compose up` command

Now your application will automatically start on startup

[2021-12-14 16:12] kdknigga opened #2056 "[feat] Export/Import device configuration"
Some device models (particularly Aeotec and Inovelli products) have so many configuration options, which is good, but it makes it a chore to get all of the config settings just the way you want them.  And then, after I spend a bunch of time configuring a device, let's say an LZW31-SN, if I have to exclude and reinclude the device for some reason I have to spend that time again getting the settings

[2021-12-14 16:32] robertsLando commented on #2056
Duplicate of #1918 . Follow updates there

[2021-12-14 16:32] #2056 closed

[2021-12-14 16:33] kdknigga commented on #2056
Oh, I didn't see that one.  Sorry about that.

[2021-12-14 16:35] robertsLando commented on #2056
No worries :) This helps me to know where I need to focus, if it's so demanded I will give that more priority

[2021-12-14 16:36] robertsLando commented on #2056
@kdknigga BTW right now you could do that using a driver function if you are interested doing some experiment with that.

[2021-12-14 16:37] kdknigga commented on #1918
As mentioned in #2056, a more broad approach could be to export/import configuration values to/from a file.  That would make it possible to back up device configs as well as copy configs from one device to another.

[2021-12-14 16:43] robertsLando commented on #1918
What you could do right now is to copy the values of a node from the node debug tab and use them inside a driver function

[2021-12-14 16:45] kdknigga commented on #1918
I'll look into driver functions.  Thanks!

[2021-12-14 16:47] pifou25 commented on #477
Hello,

I have an issue with this light Zipato bulb v2, it seems all correct but I can't have the blue color. Every else works fine, there are 4 values in the color switch panel, that are warm white, cold white, green and red. But no blue slider :/
I tried to send a custom json value like `{"warmWhite":0,"coldWhite":0,"red":0,"green":0, "blue": 255}` or I also tried to send a custom topic `locatio

[2021-12-14 16:50] robertsLando commented on #1918
[code]

[2021-12-14 23:13] Swallowtail23 opened #2057 "[question] NVM backup error - Error while calling api backupNVMRaw: Could not turn off the Z-Wave radio before creating NVM backup!"
Aeotec Z-Stick Gen5+, pass-through USB (KVM/virtio) to Home Assistant - works fine for control.

When I try and run an NVM backup in the ZWave JS to MQTT Control Panel, I get the following error:

```Error while calling api backupNVMRaw: Could not turn off the Z-Wave radio before creating NVM backup!```

How do I work around this to be able to backup the NVM?

[2021-12-15 00:33] john55021 commented on #2040
I so appreciate your response.First, it took several hours to get docker-compose installed. Evidently there are hardware considerations. And various suggestions failed here and there but I eventually found one command that worked. I have no idea what that was anymore. But I also have no idea how much code has been loaded onto the system from failed attempts.
So I created a file named docker-compos

[2021-12-15 07:45] robertsLando commented on #2040
@john55021 AFAIK docker on windows doesn't allow you to map COM ports to docker container, at least this is what some users told me some time ago but maybe could be fixed now.

If you are using an Rpi in order to install docker you can use this command:

[code]

To clean up your docker you could do (BE AWARE THIS WILL REMOVE EVER DOCKER CONTAINER/IMAGE/VOLUME)

[code]

Now that your docker instanc

[2021-12-15 07:48] robertsLando opened #2058 "[feat] Store localstorage backup to settings"
localstorage could be backupped when storing settings and restored when settings are fetched from UI, this could fix problems for users using private browsing mode that cleans up cache

[2021-12-15 07:54] robertsLando commented on #477
@pifou25 Strange the blue color is not there, @AlCalzone ?

[2021-12-15 08:18] AlCalzone commented on #477
@robertsLando if you read above, this is a device bug. It doesn't report support for the blue channel. Other integrations worked around it.
The linked issue for a more generic workaround is still open.

[2021-12-15 09:25] robertsLando commented on #1918
@kdknigga Is that working? Did you test it?

[2021-12-15 09:38] Moffus opened #2059 "[bug] climate CC discovery on some devices"
### Version

**Checklist:**

- [X ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
(Problem found with HA or without HA.)
- [X ] I have checked the troubleshooting section and my problem is **not** described there.
- [ X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Docker
- [ ] PKG
- [X] Snap package
- [ ] Manually

[2021-12-15 13:50] john55021 commented on #2040
Hi Daniel,I guess I'm confused if this is in response to my email from about 12 hours ago.  As i mentioned,  I did get docker-compose eventually installed. I followed your directions, i used the folder z2m instead of zwavejs2mqtt but everything failed as the logs showed.Are you saying i do need to clean all this up before it will work?And as I also asked, in a round about way,  where should all th

[2021-12-15 15:18] Altycoder opened #2060 "Lots of attribute value warnings in Home Assistant"
Pinned to docker version zwavejs/zwavejs2mqtt:5.11.0

Zwavejs2Mqtt version: 5.11.0
Z-Wave JS version: 8.7.5

However this issue has been present for 6-9 months now and I expect it will cause some problems in the new year with Home Assistant 2022.1 as explained below.  I note that related issues have been raised on here in the past but they don't seem to have been resolved (?).

Lots of missing att

[2021-12-15 16:16] kdknigga commented on #1918
Doesn't look like it worked.  I tried your example and got this in the logs:

[code]

Then, based on the example function provided by the GUI, I tried:

[code]

And got this:

[code]

[2021-12-15 16:24] john55021 commented on #2040
I see others are also having problems with git, but evidently it doesn't matter.scenes.json & git not found - githubmemory

-----Original Message-----
From: Daniel Lando ***@***.***>
To: zwave-js/zwavejs2mqtt ***@***.***>
Cc: john55021 ***@***.***>; Mention ***@***.***>
Sent: Wed, Dec 15, 2021 7:58 am
Subject: Re: [zwave-js/zwavejs2mqtt] can't connect to stick (Issue #2040)

Some of the directions

[2021-12-15 16:26] john55021 commented on #2040
Followed your directions below, other than install docker since I have it installed, and got this, same error.
***@***.***:~/zwavejs2mqtt $ docker-compose upCreating network "zwavejs2mqtt_zwave" with the default driverPulling zwavejs2mqtt (zwavejs/zwavejs2mqtt:latest)...latest: Pulling from zwavejs/zwavejs2mqtt420c7481a3a7: Pull complete42c5f0fd37b3: Pull completef87d282ad34c: Pull complete9b943cd

[2021-12-15 16:29] robertsLando commented on #2040
@john55021 I don't see any error in those logs, did you try to open a browser to the application?

[2021-12-15 16:30] robertsLando commented on #1918
@AlCalzone Any tips ?

[2021-12-15 16:33] john55021 commented on #2040
I wonder if some of the stuff I'm sending you doesn't get there. This is the log:
Attaching to zwavejs2mqttzwavejs2mqtt    | /bin/sh: git: not foundzwavejs2mqtt    | 2021-12-15 16:27:21.927 INFO APP: Version: 6.1.0zwavejs2mqtt    | 2021-12-15 16:27:21.934 INFO APP: Application path:/usr/src/appzwavejs2mqtt    | zwavejs2mqtt    |  ______                       _     ___                  _   _   zwav

[2021-12-15 16:39] robertsLando commented on #2040
Them just means that for some reason the settings.json  file in your store directory/volume is not valid but the application should be running so you should be able to edit settings from ui

[2021-12-15 16:43] AlCalzone commented on #1918
The usual: Look at driver logs :)

[2021-12-15 16:51] john55021 commented on #2040
I think you're giving me too much credit. When I ran straight Docker within the folder 'store', which works, there is a settings.json file along with a bunch of other files and folders. However within the zwavejs2mqtt folder, where I'm trying to start with 'docker-compose up', there is absolutely nothing other than the docker-compose.yml file.

-----Original Message-----
From: Daniel Lando ***@***

[2021-12-15 16:54] john55021 commented on #2040
Also, with usr/src folder, the only folder is 'sense-hat'. There is not 'app/store folder which I would expect to see.

-----Original Message-----
From: Daniel Lando ***@***.***>
To: zwave-js/zwavejs2mqtt ***@***.***>
Cc: john55021 ***@***.***>; Mention ***@***.***>
Sent: Wed, Dec 15, 2021 10:39 am
Subject: Re: [zwave-js/zwavejs2mqtt] can't connect to stick (Issue #2040)

The last line seems to be

[2021-12-15 17:00] robertsLando commented on #1918
@AlCalzone I mean if you have tips about the driver function, it should work like that right?

[2021-12-15 17:02] AlCalzone commented on #1918
I thought so, but on 2nd glance there is a typo:
[code]

[2021-12-15 17:03] robertsLando commented on #1918
Ok @kdknigga I have fixed my previous function, try it. Thanks @AlCalzone for spotting that :)

[2021-12-15 17:10] AlCalzone commented on #1918
Hm, he already did use `v` if I'm not mistaken.

[2021-12-15 17:33] hestiap commented on #2047
@robertsLando
I'll redo the log.
Before, just to be sure, I've done another quick test with this log

Initial context: the switch is off in real and in dz
To ON
2021-12-15 17:25:22.056 INFO ZWAVE: Node 113: value updated: 38-0-currentValue 0 => 99
2021-12-15 17:25:23.095 INFO ZWAVE: Node 113: value updated: 50-0-value-66049 0 => 4.5
OK : 38-0-currentValue 0 => 99

To OFF
2021-12-15 17:25:33.109 IN

[2021-12-15 17:41] john55021 commented on #2040
Now I'm really confused. I ran the three commands to clear out the docker files that your sent.
I changed docker-compose.yml to this:
version: "3.7"services:  zwavejs2mqtt:    container_name: zwavejs2mqtt    image: zwavejs/zwavejs2mqtt:latest    restart: always    tty: true    stop_signal: SIGINT    environment:      - SESSION_SECRET=mysupersecretkey      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/sto

[2021-12-15 18:19] john55021 commented on #2040
OK, forget everything in the past. I finally got it working.
Thank you for the help and patience.John

-----Original Message-----
From: Daniel Lando ***@***.***>
To: zwave-js/zwavejs2mqtt ***@***.***>
Cc: john55021 ***@***.***>; Mention ***@***.***>
Sent: Wed, Dec 15, 2021 10:39 am
Subject: Re: [zwave-js/zwavejs2mqtt] can't connect to stick (Issue #2040)

The last line seems to be a major error, a

[2021-12-15 21:02] kdknigga commented on #1918
[code]

totally worked!  Thanks!

@davidwaze , here's the method for cloning a device's config to another.

[2021-12-15 22:32] rct opened #2061 "[bug] Security key used multiple times isn't clearly identified as a fatal error"
### Version

**Checklist:**

- [ ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-12-15 22:32] rct opened #2063 "[bug] Security key used multiple times isn't clearly identified as a fatal error"
### Version

**Checklist:**

- [ ] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-12-16 00:07] danielbrunt57 opened #2062 "FortrezZ MimoLITE: Discovery for value Value(value_id='9-49-0-Water Chlorine level') on device 'Garage Door Opener' (Node(node_id=9)) will be skipped"
This has been bugging me for months.  I've re-interviewed the node but the ERRORS persist...
[code]
![image](https://user-images.githubusercontent.com/49846893/146284001-cd83c41c-e76f-49fa-91ec-701cc600dfe3.png)

[2021-12-16 00:10] danielbrunt57 commented on #2062
![image](https://user-images.githubusercontent.com/49846893/146284382-d82a3003-2264-4457-a5ec-3b251ce13836.png)

![image](https://user-images.githubusercontent.com/49846893/146284427-f7f5fcdc-b07a-497a-a33b-0ea2ab3c0cd8.png)

[2021-12-16 05:34] joselito11 commented on #477
@pifou25 you must edit the zwave file to get blue color. But I can not find that post, if I find I send you the data.

[2021-12-16 07:47] robertsLando commented on #2040
Glad you made it :)

[2021-12-16 07:47] #2040 closed

[2021-12-16 07:49] robertsLando commented on #2062
@danielbrunt57 you are using hass integration, right? If so you should open an issue on hass core

[2021-12-16 08:02] AlCalzone commented on #2063
Sorry bud, this is on your turf.

The driver does throw in the constructor with `Driver_InvalidOptions`. Everything else is UI / z2m related.

[2021-12-16 08:20] robertsLando commented on #2063
Humm so the question would be back to the user, @rct how do you expect this error to be handled by the app (different then showing you there is that error)?

[2021-12-16 08:28] danielbrunt57 commented on #2062
Yes, it it is hass integration, thanks.

[2021-12-16 08:56] Altycoder commented on #2060
The same issue is present in 6.1.1

[2021-12-16 09:05] stomko11 opened #2064 "[question] Support for room thermostat Danfoss DRS11"
I am wondering if it would be possible to somehow add support for Danfoss DRS11 room thermostat. I am able to pair it, but sits at unknown product

  "hexId": "0x0002-0x8003-0x8001",
  "dbLink": "https://devices.zwave-js.io/?jumpTo=0x0002:0x8003:0x8001:0.0",
  "productLabel": "Unknown product 0x8001",
  "productDescription": "0x8003",
  "manufacturer": "Danfoss",

It is not fully paired, because t

[2021-12-16 09:39] Moffus opened #2065 "[bug] Illuminance sensor found at pairing, never updated and lost after re-interview"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
Problem not depends on HA, every interface, including conrol panel and MQTT are affrcted
- [X] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [X] Doc

[2021-12-16 09:48] robertsLando commented on #2060
@Altycoder never considered to use zwavejs server to deal with Hass? Just enable it in zwavejs settings and use it with zwavejs integration. As I wrote on docs I don't have plans right now to keep mqtt discovery updated

[2021-12-16 09:49] robertsLando commented on #2062
Ok will close this so, please open the issue on the other repo and let me know if you need help with z2m :)

[2021-12-16 09:49] #2062 closed

[2021-12-16 09:59] Altycoder commented on #2060
When I started with home assistant ~2 years ago, the docs stated that when using HA on docker, to get zwave working you needed to implement MQTT hence this is where I am.  Now if the new zwavejs integration can pick up my attached usb zwave controller and I could cut out MQTT (I don't use it for anything else) I will look into that.

However this page: https://www.home-assistant.io/integrations/zw

[2021-12-16 10:00] Altycoder commented on #2060
from the link above:

3. The Z-Wave JS to MQTT Docker container
This is the recommended approach if you’re running Home Assistant Container. See the zwavejs2mqtt documentation for instructions.

After installing the Docker image, make sure you enable the Z-Wave JS Server in the configuration.

[2021-12-16 10:06] robertsLando commented on #2060
@Altycoder Maybe I didn't explained it well, I don't mean you should drop zwavejs2mqtt, I just mean you should disable mqtt gateway and enable zwavejs server setting under Home Assistant section. In this way, by installing zwavejs integration on HA, your entities will be automatically created by that and will communicate with zwavejs2mqtt using zwavejs server (no mqtt at all)

[2021-12-16 10:44] luzik opened #2066 "[bug] refreshInfo resetSecurityClasses: true --> TypeError"
### Version
6.1.1

- [x] Docker

### Describe the bug
After interview with 'reset security classes' got this

[code]

[2021-12-16 10:53] robertsLando commented on #2066
@luzik That's something that should be fixed in zwavejs beta 2 Could you try to pull `master` tag?

[2021-12-16 11:25] Altycoder commented on #2060
Right ok, I'll check that out thanks.

[2021-12-16 11:37] Altycoder commented on #2060
This is all very pooly documented, what do I enter in the box below for example?

![image](https://user-images.githubusercontent.com/1990152/146364808-5beb269c-8c69-48d0-b9ca-09add3216d7f.png)

 zwavejs2mqtt uses port 8091 but can get it to accept anything with localhost, full IP, ws or http or https

[2021-12-16 11:42] Altycoder commented on #2060
OK nevermind, google has saved the day

[2021-12-16 11:44] jmgiaever commented on #2063
Could it be an idea to apply the settings to the driver and then store them if everything goes well?

[2021-12-16 11:46] Altycoder commented on #2060
Now my HA logs are full of:

`2021-12-16 11:41:10 ERROR (MainThread) [homeassistant.components.zwave_js] Discovery for value Value(value_id='19-50-0-value-589825') on device 'EnergyMeter' (Node(node_id=19)) will be skipped: Value Value(value_id='19-50-0-value-589825') has unknown data in the following location: metadata.cc_specific.meterType. A reinterview of node Node(node_id=19) may correct this

[2021-12-16 11:49] luzik commented on #2066
There Is no exception right now so this is fixed, but now with beta.2 I am not able to finish my interview :-/

[code]

[2021-12-16 11:59] jmgiaever commented on #2066
@AlCalzone I guess that is an issue related to zwjs? He's running the beta 2.

[2021-12-16 12:16] luzik commented on #2066
Yeah I know ..driver log ..doing it :)
btw - I was able to fully interview that node with beta.1 ..even with that exception (probably only frontend issue)

OK, after turning on driver log zwjs restarted and everything started working fine ..almost

While interview:
- there are multiple "metadata updated" with same value
- there is some timeout that reseting interview that is on the way (look for "

[2021-12-16 12:37] AlCalzone commented on #2066
I don't see driver logs, so I can't say what this is :)

[2021-12-16 12:47] luzik commented on #2066
[zwavejs_2021-12-16.log](https://github.com/zwave-js/zwavejs2mqtt/files/7727350/zwavejs_2021-12-16.log)

[2021-12-16 13:12] robertsLando commented on #2063
I could just add a validation on settings that checks security keys to not be equals for now. Then I could add an errors array on client side to get the last 10/20 errors thrown by driver and show them somewhere on control panel

[2021-12-16 13:13] Altycoder commented on #2060
@robertsLando that log comes from home assistant but refers to a set of "upstream issues" hence I raised it on here

[2021-12-16 13:20] robertsLando commented on #2060
@Altycoder The upstream for them is zwave-js-server, that's why I have tagged @raman325 that it's zwave-js-server maintainer :)

[2021-12-16 13:24] Altycoder commented on #2060
Thanks, I've re-interviewed the device in HA and the issue seems to have gone away.  If it comes back I'll raise it on the HA github page instead.  Thanks for all your help :-)

[2021-12-16 13:24] #2060 closed

[2021-12-16 13:26] robertsLando commented on #2060
@Altycoder Glad you fixed the issue, let me know :)

[2021-12-16 13:30] Altycoder commented on #2060
@robertsLando thanks, that issue looks fixed now and I was about to report a clean HA log for the first time in 9 months but another, unrelated, issue has just cropped up aaargghh!

[2021-12-16 13:44] jmgiaever commented on #2066
I guess the node is spamming those values then. This log doesn't tell much. You should provide the zwjs log, and not from z2m.

[2021-12-16 14:19] AlCalzone commented on #2063
Are you handling `Driver_InvalidOptions` errors during driver creation somehow? Because that definitely means that the configured settings are wrong and should be made clear to the user.

[2021-12-16 14:26] john55021 commented on #2040
Thanks for your help Daniel. All my issues were Linux, Docker and Docker-Compose related. It turns out so many of the instruction and/or suggestions one finds are tied to hardware and OS versions. Especially with Docker-compose. I thought one of the purposes of Docker was to manage that. zwavejs2mqtt is wonderful.Sent via the Samsung Galaxy S10, an AT&T 5G Evolution capable smartphone
-------- Ori

[2021-12-16 14:32] AlCalzone commented on #2066
Actually the metadata stuff is working as intended. The device supports Configuration CC V3+, so the driver requests some info about config params directly from the device. This happens in 2-3 separate queries and each one updates part of the metadata.

The failed interview is due to a collision where both the node and the driver sent a message at the same time, using the same encryption state. Un

[2021-12-16 15:26] luzik commented on #2066
Thank's for investigation and explanation !
Communication with this nodes is not as smooth as it should. For example when it stuck - there is no way to update config value. If you are interested I can upload such logs to zwjs issue you raised

[2021-12-16 15:30] AlCalzone commented on #2066
Please upload such a situation here, I'd like to take a look before it ends up in an issue that's maybe unrelated.

[2021-12-16 15:48] luzik commented on #2066
First two writes to node 27 was successful (43 and 111) but then Writing 0 to 27-112-0-81 ended that way:

[zwavejs_2021-12-16-2.log](https://github.com/zwave-js/zwavejs2mqtt/files/7728677/zwavejs_2021-12-16-2.log)

[code]

[2021-12-16 15:52] AlCalzone opened #2070 "[feat] Add activity indicator to nodes"
**Is your feature request related to a problem? Please describe.**
From the node overview it isn't possible to see if anything is going on, e.g. during the interview. Having an activity indicator next to the nodes would help.

**Describe the solution you'd like**
I have something like this in iobroker.zwave2. Here is a situation where two nodes just sent a command:
![grafik](https://user-images.gi

[2021-12-16 15:55] AlCalzone opened #2071 "[bug] Node overview shows battery status for always-listening (mains powered) node"
Zwavejs2Mqtt version: latest / github
Z-Wave JS version: 8.9.0-beta.something

### Describe the bug

This multisensor was included on USB power and is therefore an always listening node (at least until it is re-included on battery):
![grafik](https://user-images.githubusercontent.com/17641229/146404484-d605e447-b3a3-473c-aed1-0ec28d233955.png)

It does not have a battery.

### Expected behavior

S

[2021-12-16 15:57] AlCalzone opened #2072 "[feat] Use a monospace font and preserve spaces in the log"
This looks like shit
![grafik](https://user-images.githubusercontent.com/17641229/146405039-97c1b1fb-5596-49c2-befa-0d9c2ac2ff92.png)

compared to this
![grafik](https://user-images.githubusercontent.com/17641229/146405182-f7ba25e6-e556-4ffb-83dc-43a35b881e12.png)

[2021-12-16 16:15] robertsLando commented on #2071
Actually we only check for battery cc presence to say if it's battery powered or not, should be check for that property instead?

[2021-12-16 16:30] luzik commented on #2066
I also found that "is away" is without sync with device state.
1. I awake device, zwjs notice it and changing state to awake
2. Device is going to sleep (by observing diodes) zwjs ignore it (or don't get noticed) and show awake state
3. Requesting refreshCCValues
4. I awake device, zwjs ignore it, after a moment shows that is asleep (while device awake), refreshCCValues still pending
5. Device is

[2021-12-16 16:57] AlCalzone commented on #2072
yep

[2021-12-16 16:58] AlCalzone commented on #2071
That's what I'm proposing

[2021-12-16 17:02] AlCalzone commented on #2066
Ok that's https://github.com/zwave-js/node-zwave-js/issues/3914

[2021-12-16 22:23] AlCalzone commented on #2066
I believe all of this is fixed or has a more specific issue now.

[2021-12-16 22:23] #2066 closed

[2021-12-16 23:54] kpine commented on #2071
I have the opposite issue. My old Aeon Minimote, which is a battery device but doesn't support the Battery CC (but does have `isListening: false`), shows up as mains-powered:

![image](https://user-images.githubusercontent.com/791794/146465851-ca351bdc-25f3-4f3b-bc78-9a049c1bc916.png)

[2021-12-17 00:42] danielbrunt57 commented on #2062
It's no longer an issue now...
Go figure!

[2021-12-17 16:23] rct opened #2073 "[question] BE469ZP undefined values, refresh doesn't seem to do anything."
Interviewing 24 out of 25 devices other than 1 out of 2 Schlage (Allegion) BE469ZP deadbolts completed successfully. Since one of the BE460ZPs seems more reliable than the other, I'm assuming it's somewhat communications related. Statistics shows a number of `timeout response`.

![image](https://user-images.githubusercontent.com/38770/146569107-49ea0efc-5dd2-45b2-bd64-134fe0b9dd7c.png)

The deadbo

[2021-12-17 18:01] kmwoley opened #2074 "[bug] neighbors not appearing on boot, disappearing over time"
### Version

**Checklist:**

- [x] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [x] I have checked the troubleshooting section and my problem is **not** described there.
- [x] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Snap package
- [ ] Manually built (git clone - yarn install - yarn ru

[2021-12-17 19:50] henrikrox opened #2075 "[question] What is the correct way of integrating this with the official zwavejs?"
Hi, I have 40 devices in zwave js, but I wanted another frontend/gui for control of the zwave network, from reading the documentation this will be possible with zwavejs2mqtt.

However I don't quite fully understand how am I supposed to set it up, it mentions use of port 3000.

Is the official zwavejs supervisor add-on supposed to be stopped, deleted?
is the zwavejs2mqtt need to have the zwave usb

[2021-12-17 20:02] Moffus commented on #2059
Looks like i found 2 bugs and fixes in Gateway.js.
1. Mode mapping from Z-wave to HA. Simple coding bug
[code]
availableModes[m] not good, because we already in loop:
[code]
Now it filled.
mode_map:

Was:
[code]
Now:
[code]

2. Logical problem
Now, Zwavejs2mqtt assumed:
a) "All setpoint types always have t's own setpoint"
Not always. Some heating thermostats have only 1 heating setpoint for all mo

[2021-12-17 23:50] rct opened #2076 "[question] More than one WS connection / Multiple Home Assistant WS connections to one Zwave2MQTT instance?"
Is it possible to have more than one WS connection to ZwaveJS?

Would two Home Assistant instances connecting simultaneously be somewhat expected to work?

I realize It isn't a tested (or supported) configuration, but wanted to know if there were any reasons to avoid that.

My first use case is simply, can both my "test" and "production" Home Assistant instances access my Zwave network?

Thanks!

[2021-12-18 02:35] kpine commented on #2076
It has always worked fine for me. Did you try it?

[2021-12-18 12:07] giovi321 opened #2077 "[Home Assistant] Cannot add node that was previously in network"
[zwavejs2mqtt-store.zip](https://github.com/zwave-js/zwavejs2mqtt/files/7739191/zwavejs2mqtt-store.zip)

### Version

Build/Run method:

[ ] Docker
[ ] Git Clone + yarn install + yarn run build + yarn start
[x] Pkg

Zwavejs2Mqtt version: zwavejs2mqtt: 6.1.0.19e2052
Z-Wave JS version: zwave-js: 8.9.0-beta.3

### Describe the bug

I had a thermostatic valve in my network but the batteries died, so I

[2021-12-18 13:37] rct commented on #2076
Ok thanks.   I had tried it.  I had started to see some strange behavior where turning lights on and off in home assistant seemed to be failing silently when I had both connected but probably something else was going on.

I’ll try it again.

[2021-12-18 14:46] jmgiaever commented on #2077
Have you tried to actually perform the factory reset on the device yourself too after you removed the dead entity in Z2M? Check the manual on it, do the factory reset and try again.

A restart of Z2M + unplugging the USB stick might help too.

By devices I mean the thermostatic valve, not your USB stick.

[2021-12-18 15:29] kmwoley commented on #2074
Update. After running for several hours, messages stopped being delivered to my zwave devices. It happened overnight around 10pm.

For example, triggering a binary switch from ZwaveJS2MQTT shows this in the ZwaveJS2MQTT log. Note that it never gets a return for the `writeValue` call. This is the last thing I see.
[code]

However, there is nothing logged in the ZwaveJS logs corresponding to that ac

[2021-12-18 16:40] giovi321 commented on #2077
1) yes i did factory reset correctly the device
2) I was trying to unplug and replug the usb stick but i get the following message
[code]

[2021-12-18 16:55] jmgiaever commented on #2077
Yes, but you don't need that plug if you're using the raw-usb plug. It's _optional_

[2021-12-18 16:56] jmgiaever commented on #2077
It's more important to see your zwjs logs. Not z2m logs.

[2021-12-18 16:57] giovi321 commented on #2077
[zwavejs2mqtt-store(1).zip](https://github.com/zwave-js/zwavejs2mqtt/files/7739605/zwavejs2mqtt-store.1.zip)

[2021-12-18 23:03] mbbush opened #2078 "[feat] Support for Ultraloq zwave locks"
**Is your feature request related to a problem? Please describe.**
When I connect my ultraloq u-bolt pro zwave lock to zwavejs, it shows up as an unknown device from an unknown manufacturer. The interview process doesn't result in a working device, probably because this is the first zwave device this manufacturer has made and it doesn't seem to completely follow the spec.

https://products.z-wavea

[2021-12-19 02:45] kpine opened #2079 "[feat] Inclusion timeout should be more obvious"
**Is your feature request related to a problem? Please describe.**
The inclusion dialog does not have a good indication that a timeout has occurred. It should be more obvious.

- The countdown timer gets stuck at a non-zero time, I usually see it stop at 2 seconds
- The flashing "spinner" at the top of the dialog continues to flash, as if something is happening
- The dialog text says "Inclusion is

[2021-12-19 14:02] mphemma commented on #2074
I have the exact behavior to. After a couple of days my network graph will look like this:
<img width="1228" alt="Zwavejs2Mqtt no neighbors" src="https://user-images.githubusercontent.com/52647237/146677505-85019b5a-c97a-417e-918c-5f34d1cbb9a4.png">
To get it to work again I need to restart the docker container or just go to ZWave Settings and press save. After aprox. one minute the network is up

[2021-12-19 16:08] jmgiaever commented on #2077
@AlCalzone

[2021-12-19 20:03] mundschenk-at opened #2080 "Should releases using node-zwave-js 8.9.0betaX really be marked "stable"?"
I'm not sure that packaging the beta releases of the driver as "stable" is correct (e.g. the official HA addon gets tagged from the latest no-pre-release of zwavejs2mqtt).

[2021-12-19 21:29] baahver opened #2081 "[question] ZwaveJS2MQTT looses connection to controller"
zwavejs2mqtt: 6.1.1
zwave-js: 8.9.0-beta.1
running in docker on Ubuntu 21.04
I have a strange problem since an earlier update of the docker container.
ZWaveJS2MQTT looses its connection to the controller.
I can not switch any device in ZwaveJS2MQTT web interface nor in HomeAssistant.

I can´t find anything in the docker log, nor in the ZWaveJS2mqtt log. It just looks like everything is running.
Wh

[2021-12-19 21:45] baahver commented on #2081
I just found something about softreset that was implemented short time ago. And I see the new setting: Soft Reset. That can me disabled. The info there:
`Soft Reset is required after some commands like changing the RF region or restoring an NVM backup. Because it may cause problems in Docker containers with certain Z-Wave sticks, this functionality may be disabled.`
Is that the problem I have?
I j

[2021-12-19 23:02] geekofweek commented on #2081
I seem to be having the same issue and was about to open an issue myself.  Devices just randomly stop responding, mostly some of the binary switches and locks.  I haven't been able to find anything in the debug logs and a restart of the container seems to solve it.  I did disable soft reset but just a bit ago I was having the issue again and notice it was re-enabled.  I've been really dumbfounded

[2021-12-19 23:06] geekofweek commented on #2081
@baahver What z stick do you have?  I have the Aeotec Z-Stick 7, just looking for some sort of correlation.

[2021-12-20 01:31] doug62 commented on #2074
I have EXACT same issues, I have Aeotec Gen 5, this started occurring around the time the below update might have occurred, other notes:
1) I can most often see neighbors but at some point they go away.
2) Works ok, perhaps slow after a server reboot - slowly degrades and looses touch w devices.
3) I node will report a change to HA and HA will update it in the UI, However - HA can't control a devi

[2021-12-20 01:34] doug62 commented on #2081
I have EXACT same issues, I have Aeotec Gen 5, this started occurring around the time the below update might have occurred, other notes:

I can most often see neighbors but at some point they go away.
Works ok, perhaps slow after a server reboot - slowly degrades and looses touch w devices.
I node will report a change to HA and HA will update it in the UI, However - HA can't control a device.
Dire

[2021-12-20 04:17] geekofweek commented on #2081
@doug62 do you have soft reset enabled?

[2021-12-20 04:51] doug62 commented on #2081
@geekofweek - I have that enabled, the description for that feature is vague so not sure what it would acheive/affect - thoughts?

[2021-12-20 05:58] mkurilov commented on #2081
Same issue here with Aeotec Z-Stick 7. Ready to diagnose if someone can tell me what to try.

[2021-12-20 06:18] baahver commented on #2081
I have an Aeotec Gen 5, disabling SoftReset seems to work. This morning it was still working.

[2021-12-20 06:42] geekofweek commented on #2081
@doug62 agreed what it does seems vague but I know it can cause issues within a container.  I disabled it to see if I still have the issue.

[2021-12-20 07:24] baahver commented on #2081
Did you forgot to hit the save button ;)

[2021-12-20 09:25] robertsLando commented on #2075
In order to make integration work with zwavejs2mqtt you have to enable zwavejs server flag in Settings Tab

[2021-12-20 09:26] jmgiaever commented on #2081
Hi, yes there's an issue with the 700 series. There's a pinned post on it in the issue tracker of zwavejs.

[2021-12-20 09:27] jmgiaever commented on #2081
https://github.com/zwave-js/node-zwave-js/issues/3906

[2021-12-20 09:36] baahver commented on #2081
Are you sure this is related to: AEON Labs | Z‐Stick Gen5 USB Controller | ZW090 | Z-Stick Gen5 too?
usb-0658_0200-if00
That is the stick I use and are having trouble with.

[2021-12-20 09:43] robertsLando commented on #2081
I think it could be due to soft reset, try to disable soft reset from zwave options

[2021-12-20 09:45] robertsLando commented on #2074
Does reverting to a previous version fixes the problem? Try with 6.0.3

[2021-12-20 09:45] baahver commented on #2081
That is what I said and have done already. Till now disabling SoftReset does work.

[2021-12-20 09:47] robertsLando commented on #2059
@Moffus Could you submit a PR with the fix?

[2021-12-20 09:50] robertsLando commented on #2081
Yeah that was for the other user :) Some sticks simply don't like the soft reset on startup (even if it's defined in specs), disabling it doesn't cause so much problems, in order to fix it you should check if you arte using serial by id path for the controller and not path like /dev/ttyACM0

[2021-12-20 09:51] robertsLando commented on #2080
@mundschenk-at That has been a mistake on my side, the automated release action didn't picked the beta tag correctly

[2021-12-20 09:53] baahver commented on #2081
I'm using /dev/serial/by-id/usb-0658_0200-if00
And even then I have this problems. Will there be a solution to this problem later on?

[2021-12-20 09:53] mphemma commented on #2074
I reverted to 6.0.1 with same problem. Did that test in the end of November.

[2021-12-20 09:57] robertsLando commented on #2077
@giovi321 If you aren't able to add it back to the controller the only reason I can find is that you didn't reset it correctly and it still thinks to be connected to the stick

[2021-12-20 10:04] robertsLando commented on #2074
no clue, I tried to check the nodes dump and I cannot find any issue, @AlCalzone ?

[2021-12-20 10:07] robertsLando commented on #2081
@baahver unfortunally I don't know, it also could be something docker related as docker does some things to map the devices to the container, the softreset causes a temporary disconnection from the device and this could be the reason why docker looses the reference to it and cannot connect again.

[2021-12-20 10:08] Snapperud opened #2082 "[bug] Failed to send the command after 3 attempts (Status Fail) (ZW0202)"
Hi
I have a problem for a few months, running Z-Wave JS to MQTT 0.32.1 and HA 2021.12.3.
Zwave Controller Aeotec Z-Stick 7 (FW 7.15) Have tested with extension cable and both USB-2 and USB-3.
The only solution is to restart Z-Wave JS to MQTT Add-on, or resart the docker container(zwavejs/zwavejs2mqtt) , then everything is ok, to the next crash. it happens 2-4 times a day.

Also have tested with a

[2021-12-20 10:13] robertsLando commented on #2047
@hestiap What I don't understand here is if when you switch off the switch in real you actually see the change in UI or not

[2021-12-20 10:43] AlCalzone commented on #2074
Might be worth a test with the latest beta.3

Neighbor information is reported by the stick though, so the problem might be hardware or firmware related. See #3905

[2021-12-20 11:07] #2063 closed

[2021-12-20 11:12] baahver commented on #2081
Would it be a solution to start zwavejs2mqtt directly as packaged version? like:
[code]
I copied the content of my ealier config to store folder. And start zwavejs2mqtt. Everything runs well.
But all the log is thrown to the terminal.
Is there a way to start this via systemd in the background and log to file?

[2021-12-20 12:38] robertsLando commented on #2081
@baahver I useually use pm2, but you could also create a custom systemd service --> https://medium.com/@benmorel/creating-a-linux-service-with-systemd-611b5c8b91d6

Just use `/bin/bash /path/to/app/zwavejs2mqtt` as exec command

[2021-12-20 13:43] baahver commented on #2081
I use pkg version now. And will see of the problems exist when I enable SoftReset.
I start zwavejs2mqtt via systemd:
[code]
I've set a logrotate in this log file.

[2021-12-20 14:09] kmwoley commented on #2074
One thing I've noticed is that I see a `DRIVER » [REQ] [SendDataAbort]` message around the time communication to the zwave devices fails. I ran two experiments where I repeatedly sent an on/off every 5 min to a binary switch and tested to see if it was received. Both times I saw that the switch stopped reacting to the commands after `SendDataAbort`.

Logs are attached for both of those experiments

[2021-12-20 14:36] geekofweek commented on #2081
Had the same problem occur even with Soft Reset disabled.

[2021-12-20 14:36] #2071 closed

[2021-12-20 14:59] Beinhard commented on #2081
I have exactly the same, it has driving me nuts. I did migrate from the old legacy 1.4 and I have fixed a few issues but this one I haven´t a clue.

i have the z-stick gen5 and started with the fw 1.0 but have upgraded to 1.2.

the soft reset doesn´t makes any different and the weird thing is that in the log it always state if it´s enabled that the stick doesn´t support it.

2021-12-19T23:25:01.23

[2021-12-20 15:02] doug62 commented on #2081
@Beinhard Can we clarify/revisit your statement "And as others say, it seems to only affect switches but motion sensor is working." - Can you try to manually change the state of a switch at the switch and then notice that it does update on HA?  I'm noticing that devices can send to HA but that HA can't control them.

[2021-12-20 15:05] jmgiaever commented on #2081
Is it possible for anyone of you with a problem, to update to the release with `beta.3` (Z2M `v6.1.1`) to see if the problem is still there?

[2021-12-20 15:07] geekofweek commented on #2081
In my case I can't control them via the ZwavejstoMQTT dashboard either, I can toggle the switch but nothing happens.  Same via HA, although HA I toggle the switch and it will just toggle it back to the same position it was in.  If it was On it will toggle back On, if Off toggle back Off.

@jmgiaever I switched to the master branch a few mins ago and will test if that solves anything.

[2021-12-20 15:09] jmgiaever commented on #2081
It was a problem few version ago. I had the same. Needed to restart and sometimes unplug to get it running.

[2021-12-20 15:12] baahver commented on #2081
I was using:
zwavejs2mqtt: 6.1.1
zwave-js: 8.9.0-beta.1
As you can see at topic start. But I switched to pkg version. same version. See how that works.

[2021-12-20 15:20] Beinhard commented on #2081
When it happens again (when it stops working) I will check if it´s one way flow.

is the best way to compare the logs homeassistant.core log and zwavejs2mqtt.

the core log is showing this when it goes bad:
2021-12-20 00:17:09 ERROR (MainThread) [homeassistant.core] Error executing service: <ServiceCall switch.turn_on (c:d09d07c71e5f13486c87ad3b0d47db6e): entity_id=['switch.matsal_spegel']>
Traceb

[2021-12-20 15:26] #2080 closed

[2021-12-20 16:30] baahver commented on #2081
Just now, even with the pkg version 6.1.1 I had a freeze of z2m.
I then find out that in HA I saw that indeed HA still receives updates for motion sensors. I had not seen/noticed that before.
Switch switches in z2m has no effect in HA.
From the time that z2m 'was hanging' I do not see any switches in the log of z2m. But I do see motion sensors loglines in this log.
SoftReset was on in the pkg vers

[2021-12-20 16:45] robertsLando commented on #2081
If you mean with docker you can use `master` tag to use the version that is on master now

[2021-12-20 16:53] baahver commented on #2081
I stopped, rm docker z2m, pulled master and started. But then still:
[code]
Where do I find this beta.3 of ZwaveJS in 6.1.1 z2m?

[2021-12-20 17:01] #2072 closed

[2021-12-20 21:50] LordMike opened #2084 "[question] Backup NVM regularly?"
Hey,

I'm considering switching z-wave stick, and in that process I realized that the memory of the stick isn't backed up at all, when backing up the `store` directory. Clicking the "NVM Backup" creates a `NVM_.....bin` file in the `store` directory - but is there any way to:

* Create this file regularly? (every month/week/night/on include/exclude f.ex.)
  * I think the current API call is throug

[2021-12-20 23:10] kpine commented on #2084
See discussion https://github.com/zwave-js/zwavejs2mqtt/discussions/2068

[2021-12-21 00:56] doug62 commented on #2074
Is this related to #2081 ?

[2021-12-21 06:04] candrea77 commented on #2081
I'm quite new to zwavejs2qtt, so cannot say if this problem is new or not.

I'm using 8.9.0-beta.3 and problem still present.

It seems that this problem only concerns sending message to node, meanwhile  , receive message from the zwave controller do work anytime.

When tring to switch on a Node, I've got no error messages but node won't switch on :
[code]

I've got error when system try to send s

[2021-12-21 06:26] jmgiaever commented on #2081
@AlCalzone

[2021-12-21 06:29] jmgiaever commented on #2081
Guess it's because the driver restarts.

[2021-12-21 07:29] robertsLando commented on #2084
@LordMike Hi Mike! Join the discussion on #2068 :) We are speaking about that.

[2021-12-21 07:32] robertsLando commented on #2081
Yeah like @jmgiaever said submitting new settings restarts the Driver. BTW if you want to test beta 3 with docker you can try with `master` tag instead of latest

[2021-12-21 07:35] #2084 closed

[2021-12-21 07:37] AlCalzone commented on #2081
This issue is just chaos.

@Everyone, please state which sticks you have, make sure you're running the latest beta.3 driver and then **attach** driver logs as a file. And not just short or filtered snippets, the whole file beginning at the startup.

[2021-12-21 07:37] baahver commented on #2081
With master (beta.3) in docker and SoftReset enabled, still stable after one nicht.

[2021-12-21 08:32] AlCalzone commented on #2074
@robertsLando ?

[2021-12-21 08:39] hestiap commented on #2047
@robertsLando
After switched ON the real switch and refresh the browser
![image](https://user-images.githubusercontent.com/73014953/146897787-f8283ec6-3df9-4ea6-87a4-8b8821f40486.png)
no change in the UI.

After REFRESH
![image](https://user-images.githubusercontent.com/73014953/146897979-b0d50190-f275-427f-ad5b-71a6e139da12.png)
it's ok.

The same when switched off

So no change in UI

[2021-12-21 09:15] robertsLando commented on #2074
Use `master` tag instead of `latest`

[2021-12-21 09:50] Beinhard commented on #2081
Some update:
Before I found this thread I did one last thing and that was that I changed usb port from 3.0 to 2.0 for my z-stick (physical move only, same settings in virtualbox)

So after that this issue has not be occurring. 18h without any problems, before everything from 30min to 3 hours before the problem occur.

Just luck or does it help out in the investigation?

Current setup:
zwavejs2mqtt

[2021-12-21 09:53] andyboeh commented on #2047
Did you try the procedure listed in the Home Assistant forum at https://community.home-assistant.io/t/zwavejs2mqtt-and-qubino-flush-dimmer/278515/12? I also have ZMNHDD dimmers and the status reported does not match the actual status. However, I haven't had the time to try the linked procedure.

[2021-12-21 09:55] robertsLando commented on #2047
Most of the times this is a device issue, if you don't see the change there it means it's the device that isn't reporting it's state change to the controller. This could be solved with a firmware update, a device configuration or with group associations, it's not a bug with z2m or zwavejs.

Thanks @andyboeh for the link, let's see if that helps

[2021-12-21 10:02] baahver commented on #2081
My z-stick gen 5 is connected on USB 3. I did not change that.
(I do no use rpi4)

[2021-12-21 10:10] Moffus commented on #2059
Yes, i can.
I want to perform some additional tests at weekend before post a PR.

[2021-12-21 11:07] gzone156 opened #2085 "[bug] Cache file gets truncated upon service shutdown"
### Version

**Checklist:**

- [X] I am **not** using Home Assistant. **Or:** a developer has told me to come here.
- [ ] I have checked the troubleshooting section and my problem is **not** described there.
- [X] I have read the changelog and my problem is **not** mentioned there.

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Snap package
- [X] Manually built (git clone - yarn install - yarn ru

[2021-12-21 12:04] doug62 commented on #2081
My woes began when I power cycled my RPI/Supervised, which would have triggered an update, I have also noticed that the only way to restore functionality is to power cycle through supervisor, a simple core reset doesn't fix things.

[2021-12-21 12:15] kmwoley commented on #2074
Super - thanks. Testing this now. It may take a few days to see if it makes
a difference.

On Tue, Dec 21, 2021 at 1:15 AM Daniel Lando ***@***.***>
wrote:

[2021-12-21 12:36] AlCalzone commented on #2081
Before you start fiddling around with other stuff, I suggest upgrading to zwave-js `8.9.0-beta.3` or downgrading to `8.8.3`. `8.9.0-beta.1` is broken, plain and simple.

[2021-12-21 12:40] doug62 commented on #2081
@AlCalzone Thanks for the suggestion, Although by day I am a docker/containerd/kubernetes architect, I struggle with the design/operation of HA/Supervised mode - I have no idea how to find a bash prompt w docker and/or setting image versions for various add ons/integrations - tip most welcome.

[2021-12-21 12:51] AlCalzone commented on #2081
The guys on the HomeAssistant discord might be able to help you with that.

[2021-12-21 13:07] robertsLando commented on #2085
@gzone156 Could you try to send a SIGINT instead of a SIGTERM?

[2021-12-21 14:12] gzone156 commented on #2085
@robertsLando issuing a SIGINT via proper systemd service configuration did the trick, either during a manual service stop or a system reboot.

I noticed that the cache file is overwritten during service termination, either if no changes are made (and I can guess it is the most frequent scenario... network already setup and no changes made in nodes inclusion / exclusion or configurations). Shouldn

[2021-12-21 14:14] robertsLando commented on #2085
I think that is by design, BTW that cache file is handled by zwavejs so I left @AlCalzone answer to this

[2021-12-21 14:24] AlCalzone commented on #2085
The way the json cache is built, its not easy to detect changes atm. https://github.com/zwave-js/node-zwave-js/issues/3091 should solve this when done.

[2021-12-21 14:25] robertsLando commented on #2085
@gzone156 please close this issue if you think it's fixed

[2021-12-21 14:33] gzone156 commented on #2085
Thanks, it's all clear now.

About the handling of the SIGTERM vs SIGINT, do you think it is an open subject? Should this issue be used for a deeper analysis of that subject, or will it be more appropriate to open an issue on zwave-js project?

[2021-12-21 14:34] robertsLando commented on #2085
I actually catch both signals but maybe for some reason SIGTERM doesn't give the app the time to close gracefully: https://github.com/zwave-js/zwavejs2mqtt/blob/master/app.ts#L1220

[2021-12-21 14:35] AlCalzone commented on #2085
The driver (node-zwave-js) doesn't handle signals. When the application destroys the driver it must make sure to give it enough time to save everything to disk.

[2021-12-21 14:38] #2070 closed

[2021-12-21 14:42] gzone156 commented on #2085
Ok, I'll stick using SIGINT and close this issue.

Thanks for the wonderful job you're doing with this project! 🙇🏼

[2021-12-21 14:42] #2085 closed

[2021-12-21 17:01] candrea77 commented on #2081
I'm on :
[code]

My controller is :
[code]

I've got problem with and without SoftReset Enabled