[2021-01-10 13:03] robertsLando commented on #23
Thanks @jcam !

[2021-01-10 13:05] #23 closed

[2021-01-10 13:05] #128 closed

[2021-01-10 13:07] robertsLando commented on #189
@AlCalzone Any clue about this error?

[2021-01-10 13:12] robertsLando commented on #188
@LordMike I think that this may be more related to zwave-js lib?

cc @AlCalzone

[2021-01-10 13:55] LordMike commented on #188
I figured it might require some additional api's.. :)

[2021-01-10 14:14] Swiftnesses commented on #194
Hi @robertsLando,

I do have some seemingly useless (?) entities...

A number of "_deltatime" entities which appear to do nothing, a sensor.zwave_nodeid_12_scene_state_sceneid and a sensor.zwave_nodeid_12_scene_state_dimmingduration entity, not sure what they do either tbh, are they related?

[2021-01-10 14:17] Swiftnesses commented on #194
Just spotted the button 👍

Is there a way to reset outside of the native UI though, like through HA or Node Red like before?

<img width="1780" alt="Screenshot 2021-01-10 at 14 16 28" src="https://user-images.githubusercontent.com/1001877/104125414-6f9c4980-534e-11eb-877c-937e29df3fe3.png">

[2021-01-10 14:29] robertpeteuil commented on #189
Thanks. I realize this might be tough without all the logs. I don’t care so much about the error per se, just want to be able to make an automated way to recover for high-availability.

- I’ll continue to monitor my setup, as I think I saw this once when I was first starting.
- Next time I’ll capture the internal debug logs before terminating the container.

[2021-01-10 15:05] AlCalzone commented on #188
Depends on https://github.com/zwave-js/node-zwave-js/issues/985

[2021-01-10 15:07] AlCalzone commented on #189
Thats fixed in 6.0.0, which contains this:
https://github.com/AlCalzone/jsonl-db/issues/108

[2021-01-10 15:08] AlCalzone commented on #189
@robertpeteuil you'll find a .bak file in your store and probably a .jsonl with a similar name.
If .bak has 0 bytes size, delete it.
If .jsonl has 0 bytes size, delete it and rename the .bak.

[2021-01-10 16:28] billiaz commented on #136
Work is in progress. Draft PR: https://github.com/zwave-js/node-zwave-js/pull/1337

[2021-01-10 17:07] LordMike opened #196 "[question] MQTT topics for Configuration of devices, trouble matching values to topics"
Hi,

**Note:** Json views are from zwave2mqtt, not zwavejs2mqtt.

I'm trying to make sense of the topics available for configurations of devices. I sort of expected the same property/value setup in the 112 CC, as with other values. Below, I've looked at one specific node to match up its configuration from the getNodes json, and the topics it presents.

## Config 22, some kind of integer
From GetNo

[2021-01-10 17:08] LordMike commented on #196
I may also have misunderstood something, as the topics indicate endpoint 0, while the json indicates endpoint 1..

Did I mess up?

[2021-01-10 18:36] robertpeteuil commented on #189
Thanks @AlCalzone.
- Yes, in my old `store` directory did have several files with the suffix `.bak`  (I made a backup of it before deleting.)
- I had created these before changing the config and/or restarting (Ironically, to help track changes)
  - Fortunately, I've been copying them to another dir since this issue

I'll download the new image, restart my service, and keep ya posted.

[2021-01-10 19:13] Swiftnesses opened #197 "[question] How to correct behaviour of Philio PAN in-wall relay?"
Hi,

It seems the current behaviour of zwavejs2mqtt is the same as the 1st post here (3 switches, wrong behaviour):

https://github.com/OpenZWave/open-zwave/issues/2426

How can I correct this (with OZW I would modify the xml files), looking for some insight as to how to solve this kind of 'issue'.

Thank you in advance.

[2021-01-10 19:40] haavardNO opened #198 "[question] Trigger scene with fibaro key fob"
Just starting to play with zwavejs2mqtt, and so far so good.
But I am struggling with some of mye scene controllers. The fibaro key fob includes with no issues. And it creates several devices in Home Assistant. But when I press a button it only changes state once, and stays at that state. Before when I used zwave2mqtt it would jump back to "standby" or inactive, and just get the activated state fo

[2021-01-10 20:37] cinadr opened #200 "[bug] WebUI binary switch cannot turn off"
### **Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2.a75c112 on Windows Server 2019 Datacenter x64

### **Describe the bug**
Aeotec Dual Nano Switch Binary switch cannot be turned off through Web UI OFF button.
On MQTT it publishes true even I press OFF.

### **To Reproduce**
Steps to reproduce

[2021-01-10 20:41] cinadr commented on #200
npm ls
[code]
_npm install_ and _npm run buil_d displays no error only warnings.
Do these modules need to be installed and should be resolved manually?

[2021-01-10 21:21] cinadr commented on #200
Double post (true=>true, false=>false) is solved with updating npm to 7.4.0 from 6.14.11. I found this dependency withint zwave-js [documentation](https://zwave-js.github.io/node-zwave-js/#/development/intro).
But still On/Off button Off part is still broken.

[2021-01-10 22:21] scyto commented on #128
once these are merged whats the lag / process to the docker being updated (for example i see the dev docker was 5 days ago and the latest one 12 days ago).  is dev docker generally safe to use for external testing by folks like ourselves or should we wait for :latest to be updated.

PS didn't  realize how new this project is! I literally had not used this or the predecessor before 2 weeks ago!  Th

[2021-01-10 22:25] scyto commented on #130
the biggest reason to do the add-on is to remove the old addon if zwave2mqtt is to be deprecated, where is the addon located in terms of source (i assume it just pull's roberts container rather than anyone elses) as such can't be too hard to replicate and change - even a no-coder like me might be able to do it....

[2021-01-10 22:32] scyto commented on #130
oh, just read this https://github.com/hassio-addons/addon-zwave2mqtt/issues/70 does that mean even if we created an add-on they wouldn't take it - or just that they don't want to work on it?

[2021-01-10 22:37] blhoward2 commented on #130
You can build your own image easily. The directions are at the bottom. https://github.com/zwave-js/zwavejs2mqtt/tree/master/docker

A lot changed from that post, including the maintainer of qt-openzwave effectively stepping back. There is a proposal to change the path forward to a new server built on the same backend as this project (node-zwave-js).

[2021-01-10 22:39] blhoward2 commented on #128
You can build your own image easily. The directions are at the bottom. https://github.com/zwave-js/zwavejs2mqtt/tree/master/docker

[2021-01-10 22:39] scyto commented on #130
@blhoward2 thanks, i happy to use Roberts image for now and know how to create my own docker images if it is missing something, i was more trying to give back to community  and the code for the add-on isn't really code but mostly docker config - was willing to fork it and attempt to create an add-on... but if folks thinks thats not needed i certainly don't want to push water up hill :-)

[2021-01-10 22:41] blhoward2 commented on #130
It wouldn’t hurt for now, actually. I’ve heard no plans to make a Zwavejs2mqtt add on as the integration won’t use that project. Right now it’s difficult for people to install and they need to use Portainer.

@robertsLando @AlCalzone Have you heard differently?

[2021-01-10 23:17] robertpeteuil commented on #128
Ya, I'm new to it as well, but I've been using the dev containers from the start as they contain a couple of key fixes I need.

It's been working great, other than an occasional hiccup - usually due a mistake I've made.

[2021-01-11 03:50] tommyjlong commented on #191
OK...I'm not a node developer, so not familiar with the development environment.
Here is what I have done so far:
1. Created a new device `fts05p.json` file.
2.  Followed the [directions ](https://zwave-js.github.io/node-zwave-js/#/development/installing-from-github) for downloading and building a local zwave-js repository.
3. Placed my fts05p.json file in the same directory with all the other For

[2021-01-11 08:03] robertsLando commented on #128
It's almost always safe to use `dev`

[2021-01-11 08:11] robertsLando commented on #78
@LordMike There is an open PR on zwavejs to fix this, actually yes it is splitted in 3 (or 4 if there is alpha too) values

[2021-01-11 08:15] robertsLando commented on #184
@LordMike Would you prefer them to be undefined instead?

[2021-01-11 08:17] robertsLando commented on #184
@LordMike Just to know, are you using this in a JS application? Because you could simply check `!!node.manufacturer` to se if it is set or not as `''` is `false`

[2021-01-11 08:24] robertsLando commented on #182
@LordMike You see both zwavejs and zwavejs2mqtt logs there. About the single/multiline the only thing I can think is that we could provuide a custom winston transport to let you handle logs in your preferred way

[2021-01-11 08:26] robertsLando commented on #185
@LordMike Uh never saw this! I think it comes from last updates? I have durations values too but them were not showed in that way on ui. @AlCalzone Breaking change from 6.0.0?

[2021-01-11 08:39] AlCalzone commented on #185
Nothing changed in that regard. `Duration` is not a primitive value, but you can use `toJSON()` or work with its properties directly: https://github.com/zwave-js/node-zwave-js/blob/b1df89733dc088ae6084b6a97516db4736a5641b/packages/core/src/values/Duration.ts#L73-L80

[2021-01-11 08:40] AlCalzone commented on #185
Basically you need to select/edit both the value (0-127) and the unit (minutes/seconds)

[2021-01-11 09:24] robertsLando commented on #185
Humm I think I need to parse it in a different way. When I set it should I pass a Duration on the setValue too?

[2021-01-11 09:29] robertsLando commented on #177
@onedr0p Closing this as it's duplicated of #148. If you want you can submit a PR to start this :)

[2021-01-11 09:29] #177 closed

[2021-01-11 09:32] robertsLando commented on #200
@cinadr everything seems correct (from a command side), I don't understand why the values are reported wrongly. @AlCalzone

[2021-01-11 09:39] robertsLando commented on #130
@frenck Do you know about last news? Could you think about making a new addon now?

[2021-01-11 09:44] robertsLando commented on #186
@LordMike I don't get this. Without the lifeline association devices will not work, it's used to push changes to controller

[2021-01-11 09:47] robertsLando commented on #191
@tommyjlong There is a command that help you to start with a device config file translated from the ozw one.

Check https://github.com/zwave-js/node-zwave-js/pull/1243#issue-544762844

[2021-01-11 09:47] #191 closed

[2021-01-11 09:49] robertsLando commented on #174
Let me check this.

[2021-01-11 09:52] robertsLando commented on #174
@kaaelhaa Really bad, thanks for the issue report! Fixed on master now!

[2021-01-11 09:52] #174 closed

[2021-01-11 09:54] robertsLando commented on #194
@Swiftnesses Like normal mqtt apis. Check docs: https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=set-values

[2021-01-11 09:54] #194 closed

[2021-01-11 09:55] robertsLando commented on #194
@AlCalzone Look at that, seems we have found a button valueId :rofl:

[2021-01-11 09:55] robertsLando commented on #198
@haavardNO Could you provide some logs? BOth zwavejs and zwavejs2mqtt?

[2021-01-11 09:56] robertsLando commented on #189
@robertpeteuil If you are using docker, use `dev` tag

[2021-01-11 09:56] #189 closed

[2021-01-11 10:00] haavardNO commented on #198
Yes, I can try.
I can at least pull some logs from the UI of zwavejs2mqtt. How can I get the logs from zwavejs?

[2021-01-11 10:03] robertsLando commented on #196
@LordMike I think that config should be splitteed using partial parameters: https://zwave-js.github.io/node-zwave-js/#/development/config-files?id=partial-parameters

Also most screenshots seems about the old Z2M right? the format is not from zwavejs2mqtt. Now values are mapped as an array of object `{text: ..., value: ...}`

The things are different now, it depends on configuration file of that d

[2021-01-11 10:04] robertsLando commented on #198
@haavardNO If you are using docker `dev` tag, you will find them in store folder if you enable log to file in settings

[2021-01-11 10:06] jkaberg opened #202 "[bug] Thermofloor Z-TRM2FX not identified as climate in HASS"
**Version**

Build/Run method
- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: master branch (zwave-js from branch fix-ztrm2 - now merged into master)

**Describe the bug**
In Home Assistant my [Thermofloor z-trm2fx](https://github.com/zwave-js/node-zwave-js/blob/b1df89733dc088ae6084b6a97516db4736a5641b/packages/config/config/devices/0x0

[2021-01-11 10:09] LordMike commented on #184
I'm interpreting this in .NET / C#, it has a hard time when types change. :)

I'd prefer if the values were not present. This makes the json smaller, while also indicating that "the value was not known". Alternatively, if it's needed for discovery (that a value might exist), it could be set to `null`.

[2021-01-11 10:11] robertsLando commented on #202
@jkaberg Could you try removing it from devices.js?

[2021-01-11 10:11] AlCalzone commented on #194
Oh yeah!

[2021-01-11 10:14] robertsLando commented on #184
@LordMike Fixe on master :)

[2021-01-11 10:14] #184 closed

[2021-01-11 10:15] AlCalzone commented on #185
Probably, but you cannot set the duration yet. https://github.com/zwave-js/node-zwave-js/issues/1321

[2021-01-11 10:16] frenck commented on #130
I have no time for that at this point, furthermore, things seem to be in early development stages. Happy to jump in at some point, but not now.

[2021-01-11 10:18] AlCalzone commented on #200
Most likely the device sometimes reports the old value when it is refreshed immediately after the set and then doesn't send us the current one. Would need a zwave-js log and the device manual to confirm - maybe we just need to add another association or the device needs to be configured differently.

[2021-01-11 10:19] LordMike commented on #182
I really expected the logs to come through the same system. Log events should really have been a type with a timestamp, message etc.. Then you, as the application, would define the format that the timestamp of _all_ log message should be in, as well as the fields you'd want written out.

Anyhoo. My suggestion is to make it easier for consumers of the log, by making them more consistent. :)

There

[2021-01-11 10:21] robertsLando commented on #188
@LordMike Closing this, follow updates there :)

[2021-01-11 10:24] jkaberg commented on #202
@robertsLando I tried that just now, and when I do zwavejs2mqtt hangs on the first Thermostat it starts to interview. Adding it back lets z2m start like normal

[2021-01-11 10:25] robertsLando commented on #182
@LordMike Every module has it's own log system, mqtt uses debug for example, zwave-js uses winston and I use winston too. Winston allows to provide transports,  what I could suggest is to think about a custom transpost (shared in both zwavejs and zwavejs2mqtt that stores log in a json format in a database for example)

[2021-01-11 10:26] LordMike commented on #186
Ah yes - but if you don't need the updates of changes. This could be a way to achieve this. A device default could also be the controller in multiple other groups to "make it just work". For my power plugs, I think this is the case - they report three values (power usage W, amperage A and some other thing) in three messages.. Iirc, these came over the lifeline group with no way to choose not to ge

[2021-01-11 10:29] LordMike commented on #182
Well, sucks that some components don't use a configurable log system.

Zwavejs configures itself to use the console as a transport then? ... it shouldn't do that... it's a library..

But yea, if you, in this app, control the logging transports, then everything should work out :)

[2021-01-11 10:33] LordMike commented on #188
So when the API is created, recreate this issue to track the creation of UI elements? :)

[2021-01-11 10:35] AlCalzone commented on #196
The property in the first two screenshots is an example of partial parameters. It is cumbersome for users to calculate the value whenever they need to change parts of it. Hell, there are even tools out there which shouldn't need to exist: https://nathanfiscus.github.io/inovelli-notification-calc/

So what you're seeing in zwave-js is 4 values instead of a single one, each targeting a single byte o

[2021-01-11 10:42] LordMike commented on #196
Nope. This is `zwavejs2mqtt`. The `zwave2mqtt` topics are collapsed and not shown. I have not sent Z2M topics to the `zwavejs2mqtt` prefix, so what we're seeing should be the current layout.

[2021-01-11 10:57] LordMike commented on #196
In these instances, zwavejs2mqtt could push both the partial values, and the actual value. And then handle the subsequent set's.

Is it possible to set the whole value in one go, in zwavejs?

[2021-01-11 11:04] robertsLando commented on #196
If you check the valueId object it has `node_id` and some other props in snake case. Now all props are in camel case

[2021-01-11 11:06] robertsLando commented on #188
Sorry thought this was just releated to logging, reopening this so for when this will be implemented on zwavejs side to make the UI elements :)

[2021-01-11 11:07] LordMike commented on #196
Yeap. I found that the getNodes dump actually was from Z2M.

[2021-01-11 11:07] robertsLando commented on #182
With latest changes now I can configure both zwavejs and zwavejs2mqtt transports. So just let me know how you would like this to be implemented

[2021-01-11 11:09] robertsLando commented on #186
@LordMike I dunno about the controller id but AFAIK by default all devices need lifeline and I dunno all the possible downsides about not setting this. @AlCalzone ?

[2021-01-11 11:09] robertsLando commented on #196
Could you update your question by checking the dumps coming from zwavejs2mqtt so?

[2021-01-11 11:10] robertsLando commented on #202
@jkaberg Are you using `dev` tag?

[2021-01-11 11:11] jkaberg commented on #202
@robertsLando No, [I'm building the container myself](https://github.com/zwave-js/node-zwave-js/pull/1341#issuecomment-757685738):

`DOCKER_BUILDKIT=1 docker build --build-arg SRC=git-clone-src --build-arg Z2M_BRANCH=master --build-arg ZWJ_BRANCH=fix-ztrm2fx --no-cache -t zwavejs2mqtt .`

[2021-01-11 11:12] robertsLando commented on #130
@frenck Ok no problem. I dunno if you are aware of this but actually we are working with hass team in: https://github.com/zwave-js/zwave-js-server that will be installed in zwavejs2mqtt and will communicate with a new hass addon to create entities (something like the ozw beta integration is doing now with qt-openzwave)

[2021-01-11 11:13] robertsLando commented on #202
@jkaberg COuld you try to rebuild it now? Because I submitted a fix an hour ago about climate discovery that caused an infinite loop in some cases. So it may work now :)

[2021-01-11 11:14] robertsLando commented on #185
@AlCalzone Just to knnow but wouldn't a `type: Duration` be more appropiated instead of `any`?

[2021-01-11 11:15] robertsLando commented on #193
Yes but you need to rediscover the all nodes or restart the application (by save settings again for example) in order to get all the entities uypdated

[2021-01-11 11:17] AlCalzone commented on #196
I don't follow. What do you mean?

Yes, but not by setting a value. You'd have to go through the `commandClasses` API and provide the valueSize yourself. I don't think zwavejs2mqtt has a way to do that yet?
[code]

We can think about changing this, but I need to understand the use case first. What's the reason you want to go through the original value instead of the partial ones?

[2021-01-11 11:19] Swiftnesses commented on #193
I do that, but that's the issue. When I rediscover them it adds the name and location to the entity name -  I expect it shouldn't, as I've set a naming convention I want respected?

[2021-01-11 11:21] Swiftnesses commented on #194
Thank you both - new to zwave-js after many years using OZW, but getting there!

[2021-01-11 11:21] jkaberg commented on #202
Sure, built now with (as the fix-ztrm2fx was merged to zwave-js master):
`DOCKER_BUILDKIT=1 docker build --build-arg SRC=git-clone-src --build-arg Z2M_BRANCH=master --build-arg ZWJ_BRANCH=master --no-cache -t zwavejs2mqtt .`

with compose:
[code]

and:

[code]

And now they all exist in HASS 😄

So my local changes to hass/devices.js consists of removing [these lines](https://github.com/zwave-js/zw

[2021-01-11 11:26] frenck commented on #130
Yes, I'm part of the core team, I'm aware.

[2021-01-11 11:35] LordMike commented on #196
It's my impression that a value in Z-wave, like the configurations, actually represent one value. So for what we've seen, it's an integer (4 bytes) with 4 distinct meanings for each byte. So you decide to split up the integer to make it easier for users like me and zwavejs2mqtt - cool.

But. It's always my goal to have as little chatter as possible over a low-bandwith channel like z-wave (I aim fo

[2021-01-11 11:36] cinadr commented on #200
The real thing is that if I press the OFF button in an OFF state of the device the device turns on. So actually the OFF button publishes a true command to the device. It does not matter what device I choose. Every ZWave binary works like this.
If I press the OFF button on several NODEs this is the log:
[code]

I think it is not device related...

Apart from that I still need to publish it twice (m

[2021-01-11 11:37] AlCalzone commented on #186
If you look here (and the following lines) you will see that this is taken care of:
https://github.com/zwave-js/node-zwave-js/blob/624fe7820a253c99dbf3e51a4ed7c2bd893ba74d/packages/zwave-js/src/lib/commandclass/AssociationCC.ts#L363

The first thing when we do this is that 99.99% of our users will complain that the UI/Application they use falls out of sync with the devices.
I think the specificati

[2021-01-11 11:41] AlCalzone commented on #186
I do agree that bulk-configuring associations makes sense, but you can already do that in two commands:

https://github.com/zwave-js/node-zwave-js/blob/624fe7820a253c99dbf3e51a4ed7c2bd893ba74d/packages/zwave-js/src/lib/controller/Controller.ts#L1630-L1634

https://github.com/zwave-js/node-zwave-js/blob/624fe7820a253c99dbf3e51a4ed7c2bd893ba74d/packages/zwave-js/src/lib/controller/Controller.ts#L175

[2021-01-11 11:46] AlCalzone commented on #185
good point. I've treated `"any"` more like a: You cannot be sure what comes here, better check before assuming.
For non-primitive values it could make sense to add new keys.

[2021-01-11 11:49] AlCalzone commented on #196
Okay that is clear to me. Bulk-setting configuration params in general isn't really compatible with the `setValue` API since that is aimed at simple/primitive values. I guess this needs to be split into two issues:
1. UI/MQTT: Provide API to perform bulk-setting config params
2. node-zwave-js: Handle partial params when bulk-setting config params.

[2021-01-11 11:51] AlCalzone commented on #200
Uhh @robertsLando I think that is actually a UI bug.

[2021-01-11 12:15] cinadr commented on #200
Created a pull request [here](https://github.com/zwave-js/zwavejs2mqtt/pull/204)

[2021-01-11 12:54] robertsLando commented on #200
That's a silly bug, my fault. Thanks @cinadr

[2021-01-11 12:54] #200 closed

[2021-01-11 13:00] robertsLando commented on #190
You mean in logs?

[2021-01-11 13:01] robertsLando commented on #193
@billiaz ?

[2021-01-11 13:02] #202 closed

[2021-01-11 13:03] robertsLando commented on #202
Perfect! Thanks :)

[2021-01-11 13:03] robertsLando commented on #172
@bachya Could you retry now please?

[2021-01-11 13:16] billiaz commented on #193
@Swiftnesses Currently this is how it works, which probably is not right.
The entity name on your example should be: zwave_<1-255>_<objectId>

I will check what breaks on rediscovery! even though I did not have any issue to this!

Two questions
1. Is this a discovery from custom devices (customDevices.json), non custom or Both!?
2. What container you run on? and date of container. You can also giv

[2021-01-11 13:18] robertsLando commented on #193
Maybe would be useful to see the actual gateway settings?

[2021-01-11 13:21] billiaz commented on #193
also could be. I will test this on my nodes now!
Will perform a rediscover node and see if this happens, as I use different than standard naming setup

Tested:
In my latest dev (yesterday build) I do not face this on non CustomDevices

[2021-01-11 13:24] robertsLando commented on #185
@LordMike So keep this open until the support is available on zwave-js

[2021-01-11 14:12] onedr0p commented on #177
@robertsLando  I was hoping one of the maintainers here would kick it off, and we can add to it.

[2021-01-11 14:18] blhoward2 commented on #177
The idea is to auto generate a good portion of those from the device files and then to allow annotations wiki style I think. It’s not so easy to just kick off documentation on a couple thousand devices and we’re working on importing all certified devices in the Zwave alliance

[2021-01-11 14:40] robertsLando commented on #177
I agree with @blhoward2 here. This needs some more toughts, it should be stored in a database and we should then show it in a ui with pagination/query options

[2021-01-11 16:15] bachya commented on #172
@robertsLando Just pulled the latest `dev` Docker image and spun up a new container with a fresh `/store` volume – unfortunately, seeing the same in the Docker console logs:

[code]

[2021-01-11 16:26] robertsLando commented on #172
@bachya FOund the reason. Fix is on master now. Wait 30 minutes before doing a new pull :)

[2021-01-11 16:59] bachya commented on #172
I don't believe this is fixed quite yet. I again pulled the latest `dev` (to confirm: https://hub.docker.com/layers/zwavejs/zwavejs2mqtt/dev/images/sha256-9c77c231ace09673d4133a9bba01cd50df831a88de183826427ecf70cf799236?context=explore) and started with a fresh `/store`, but am still seeing errors (slightly different):

[code]

[2021-01-11 17:05] robertsLando commented on #172
Let me check this

[code]

@bachya What kind of thermostat is this? Does it have a setpoint topic? COuld you send me the export of node from UI control panel?

[2021-01-11 17:56] bachya commented on #172
@robertsLando This is an Building36 T-10 (more commonly marketed as an Alarm.com T-2000) – here is the corresponding entry from the OpenZWave database if it's useful: https://github.com/OpenZWave/open-zwave/blob/master/config/building36/b36-t10.xml

As you can see from command class 67, there should be two setpoints: one for heating and one for cooling. I know this doesn't help you directly, but w

[2021-01-11 18:32] chilicheech commented on #162
@billiaz that is correct. All my entities don't use location, a.k.a. the location is empty/null. I could adjust the template, but I believe the default template should produce a name that doesn't start with a dash when the location is empty, which was the behavior before we added the template feature.

[2021-01-11 18:52] billiaz commented on #162
@chilicheech if you are able to compile from a branch can you compile from  https://github.com/zwave-js/zwavejs2mqtt/tree/cleanup_hyphen
If this works, I will create a pull request

[2021-01-11 19:18] LordMike commented on #185
My 0.02$ would be not to make the available types more complex than primitives. So I wouldn't add a "duration-with-minute-and-seconds" type, that supports "minutes" and "seconds", only to add one that also supports "hours" later when a device comes along supporting that.

I would do one of two things:

* Work with a concept of "timespans", like "5s" or "10m". When you get "5 seconds" from the devi

[2021-01-11 19:19] LordMike commented on #190
No, the UI. This is Z2M, but it has the same issue.. :)

![image](https://user-images.githubusercontent.com/1027111/104227840-4b259780-544a-11eb-86b9-58ce1960eb38.png)

[2021-01-11 19:23] LordMike commented on #196
I'm not familiar enough with the z-wave protocol to know how setting values work.. Do these partial values come from z-wave (ie. "set param 22[0xff]" or your zwavejs?

[2021-01-11 19:26] chilicheech commented on #162
cool, that seems to work. here's the new discovery payload. notice the *name*:
[code]
no more dash in the beginning. and verified the name is correct in HASS as well.

thanks for this fix

[2021-01-11 19:37] LordMike commented on #186
With those two commands, in addition to `getAssociations`, I think the library has what it needs (separation of concerns and all that).

Now the request is just for zjs2m to have this feature :)

[2021-01-11 19:40] LordMike commented on #186
And I would not, of course, at any point advocate for a function that automatically removes every default configuration there is. removeAssocation should do exactly that, remove the specified associations. A high level API, like for ZJS2M, could provide a desired state API, that changes the device into whatever is needed - while doing as few API calls as possible. :)

I can probably make this API

[2021-01-11 19:58] AlCalzone commented on #185
How would you configure a value of 127 seconds with that approach?
Not trying to argue against it, just discussing the dirty details of zwave.

[2021-01-11 20:36] LordMike commented on #185
"127s" or "2m7s" .. both are identical. The tricky part (for you) is distilling that down to a value that z-wave can work with, and abiding by any limitations by the device.

You obviously can't send that as a z-wave value, in anything but seconds. If you were to send it as minutes, the best you could do was "120s" (2 minutes).. I don't imagine the message supports floats :)

[2021-01-11 21:04] joeyb opened #210 "[bug] Upgrade to 6.0.0-alpha.3 broke HASS scene sensor states"
Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: Working pre-`a75c112ce6bb52d85f75829b36e5f8fce99899a2`, broken since.

**Describe the bug**
After the zwave-js upgrade in `a75c112ce6bb52d85f75829b36e5f8fce99899a2`, the MQTT scene topics no longer contain the actual scene state, just the `time`, `nodeName`, and `nodeLocat

[2021-01-11 21:24] AlCalzone commented on #185
I'm wondering if that is intuitive that you can set 2m7s but not 2m8s (which cannot be represented and AFAIK all durations have the same encoding).

[2021-01-11 21:50] LordMike commented on #185
If they're all in the low end or represented by seconds, why not just skip the unit and go with a "number" ?

I imagine validation comes naturally for numbers, with the min/max values.

Ooh, the 128..255 values are then minutes?

If so, the seconds can still work, but validation will be trickier. You could simply log an error and not send the message, if a user puts in 179 seconds, instead of a va

[2021-01-11 22:11] AlCalzone commented on #185
Yep that is the tricky part. When setting a duration:
![grafik](https://user-images.githubusercontent.com/17641229/104243793-6bad1c00-5461-11eb-9189-61eba794e6ce.png)

and when decoding a report:
![grafik](https://user-images.githubusercontent.com/17641229/104243816-79fb3800-5461-11eb-9283-0a670591773a.png)

So just using a number won't work (well it will, but it is suuuuper unintuitive). I kinda

[2021-01-11 22:13] AlCalzone commented on #196
Correct. The necessity comes from device manufacturers creating these human-incompatible compound values that don't make sense.

[2021-01-11 22:21] LordMike commented on #185
Will all Durations be like that?... Like _all_ ? I would be worried that suddenly a device comes along, which operates in increments of 10s.

So one third way is simply to expose the 0..255 value. :) Additional metadata / functions could then help users in translating between timespans, Durations, or something else entirely.

Anyhoo, if it's always minutes and seconds, it's probably fine. Let's ho

[2021-01-11 22:26] LordMike commented on #196
I would argue they really do make sense. At this level, this is exactly what they can do to cram as much functionality into an embedded device as they can. :)

All the parts make sense to me now, so I'm covered. This issue is also off-topic, and I found that the original question was because I used old configs to match up with. Newer configs fit the topics I see.

So I'm closing this now. The idea

[2021-01-11 22:26] #196 closed

[2021-01-11 23:10] AlCalzone commented on #185
I don't like exposing values which need additional interpretation. The aim of a library is to abstract away the ugly details (or at least make them intuitive to work with). I think we're on a good way with the additions to Duration.

[2021-01-12 00:40] blhoward2 commented on #210
Thanks for reporting this. We’ve reproduced it on another switch.

[2021-01-12 04:41] jcam commented on #210
The cause of this is covered here:
https://zwave-js.github.io/node-zwave-js/#/getting-started/migrating-to-v6?id=new-quotvalue-notificationquot-event

The new event handler that was added did not account for the value being sent in a different argument, and it also did not account for the shift of CCs like Central Scene from stateful to stateless.

I have implemented an interim solution here which

[2021-01-12 05:17] jcam commented on #198
@haavardNO which version of zwavejs2mqtt are you using?

The best way for now to trigger automations on scene button presses is to read the event bus, rather than reading a state change.
Here is an example of an central scene trigger, using a zooz scene switch:
[code]

[2021-01-12 05:30] jcam commented on #130
Are all of the addons in https://addons.community managed by the core team / @frenck , or could we build out our own and have it added?

Worst case, we just set up our own addon repository that people would need to add via the interface until it becomes 'official'.

As for the timeline @blhoward2 the official integration already supports the switch, sensor, and light class, it is in the dev nightl

[2021-01-12 05:53] frenck commented on #130
It is planned for the first Wednesday of February release indeed.

The community add-ons is my private project.

We have discussed it in our team yesterday, an official, core supported and maintained, add-on will me made.

The Aim, is to have a first version ready to support the first integration version, before the February release.

[2021-01-12 06:15] billiaz commented on #162
I have created a pull request, We will need to discuss if this is the best way (for this moment) to fix this.

[2021-01-12 06:20] haavardNO commented on #198
@jcam I can try with your template. But if I have activated scene 3, it will hold that value (at least in developer tools). So if there is no change, can the trigger fire?
I am running the latest versions of both Home assistant and zwavejs2mqtt.

[2021-01-12 07:00] jcam commented on #198
Yes the trigger will still fire.
From the developer tools instead of looking at States, go to the Events tab.
In the bottom box enter state_changed, then click start listening.
When you push your scene 3 button, you should see the event trigger with each press, even if the old state and new state are the same.

[2021-01-12 07:28] #210 closed

[2021-01-12 07:29] robertsLando commented on #210
Thanks @jcam, I didn't saw the args have changed! Now it's on master.

[2021-01-12 07:36] robertsLando commented on #185
I think that Duration value is good, I just think that the type should be `Duration` and not `any`

[2021-01-12 07:41] robertsLando commented on #172
@bachya Just for info but how do you change the setpoint with this device?? Do you use the configuration values?

[2021-01-12 07:42] robertsLando commented on #172
I don't see any valueId matching command class setpoint here, this is why the discovery doesn't work as I need at least one setpoint

[2021-01-12 07:48] kipe opened #213 "[feat] Add support for '/' in MQTT prefix"
**Is your feature request related to a problem? Please describe.**
Currently the prefix for MQTT topics only allows "a-z", "A-Z", "0-9", and "_". With the current prefix limitations, it's not possible to just subscribe to `zwavejs2mqtt/+/#` (for example, using `zwavejs2mqtt/uuid` as prefix). This would be useful when implementing a server with multiple zwavejs2mqtt instances connected, allowing th

[2021-01-12 07:48] robertsLando commented on #190
Actually I'm using: https://github.com/zwave-js/zwavejs2mqtt/blob/master/src/components/nodes-table/index.vue#L88

That is: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/toLocaleString

IMO this format is mostly user friendly, would you prefer it to be 24h ?

[2021-01-12 08:05] robertsLando commented on #186
@LordMike You can call all zwave functions with: https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=zwave-apis

[2021-01-12 08:49] #213 closed

[2021-01-12 09:13] haavardNO commented on #198
@robertsLando and @jcam  I am running in to some challanges getting to that log file. I dont know how to access the store folder. I am running zwavejs2mqtt in docker. I have not been able to trigger an automation with the example above.

When I send a scene command (number 4) on the keyfob I get this in the UI debug:

`
10:00:56.692 SERIAL « 0x010b00040047055b0359800437 (13 bytes)
10:00:56.694 SER

[2021-01-12 09:33] lazyoldbear opened #216 "[bug/feat] Device files in the container"
The way the official container is created, it contains a lot of device files (created explicitly, all right). Including the essential ones, like `/dev/ttyACM[01]`.
Now, that might be convenient if one just runs the thing throught a container engine, or is fine living with `privileged` in orchestrators.
There is, however, a better way, at least for Kubernetes: [smarter device manager](https://commu

[2021-01-12 09:39] lazyoldbear opened #217 "[bug] Node rename is not always respected in MQTT"
Official container `zwavejs/zwavejs2mqtt:1.0.0-alpha.2`.
Mosquitto 2.0.4.
Gateway is set for ValueID topics with enforced using of node names.
Devices are created without names. Now, when I add a name for them, it is saved in ZWave, all good.
For some devices (smart plugs) the topics in MQTT get updated, and once I reload HomeAssistant (after killing the devices there), I get pretty names for devi

[2021-01-12 09:39] larstobi commented on #217
I get this as well.

[2021-01-12 09:56] AlCalzone commented on #217
Is there a difference in support for the node naming and location cc between the devices?

[2021-01-12 10:07] robertsLando commented on #216
Are you able to draft this in a PR?

[2021-01-12 10:18] robertsLando commented on #217
@AlCalzone No worries this is not something related to zwavejs. I never use node naming an location cc as I use my custom db for them

[2021-01-12 10:19] lazyoldbear commented on #216
Perhaps, although not instantly: I have neither any environment at hand to play with Docker, nor a registry.

However, I reckoned that whoever chose to add the devices, did it on purpose, so it would feel safer to first clarify if those reasons interfere with the current issue.

[2021-01-12 10:19] robertsLando commented on #217
@lazyoldbear Could you try to use `dev` tag? @larstobi Are you using latest version from master? Could someone show me an export of the node with this problem?

[2021-01-12 10:25] larstobi commented on #217
[node_93.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5801321/node_93.json.zip)

[2021-01-12 10:26] larstobi commented on #217
I'm currently running:
zwavejs/zwavejs2mqtt:dev                   (9ad34d1bf555)        4 days ago

[2021-01-12 10:31] larstobi commented on #217
You'll see:
[code]
but still:
[code]

[2021-01-12 10:32] larstobi commented on #217
My entity name template is just "%n"

[2021-01-12 10:51] robertsLando commented on #217
@larstobi Is this only happening on discovery topic? Or also in mqtt publish?

[2021-01-12 10:59] robertsLando commented on #198
I'm working on this: https://github.com/zwave-js/zwavejs2mqtt/pull/215

[2021-01-12 11:28] larstobi commented on #217
![Uploading Screenshot 2021-01-12 at 12.28.51.png…]()

[2021-01-12 11:29] larstobi commented on #217
<img width="1061" alt="Screenshot 2021-01-12 at 12 29 37" src="https://user-images.githubusercontent.com/64238/104309053-d72ed200-54d1-11eb-88ad-330d3fb0acb1.png">

[2021-01-12 11:31] larstobi commented on #217
<img width="1087" alt="Screenshot 2021-01-12 at 12 31 45" src="https://user-images.githubusercontent.com/64238/104309239-237a1200-54d2-11eb-84b4-151d16da1bbb.png">

[2021-01-12 12:15] joeyb commented on #210
Thanks everyone for digging into this so quickly! @jcam, I hit exactly that issue you’re talking about. If you use a `State` trigger then it does show the behavior the you mentioned. You can work around it by setting up an `Event` trigger watching `state_changed` and add some conditionals to filter it down to the correct action. That works, but it’s pretty clunky to setup correctly. I’ll definitel

[2021-01-12 12:40] robertsLando commented on #217
So to answer my question the problem seems to happen only on discovery topic. The mqtt side is ok

[2021-01-12 12:41] lazyoldbear commented on #217
Worked on `dev`.
Had to alter the name template to `%n_%o`, so that it does not put a dash (I feel better to control location in HASS) in front, but otherwise all seems good.

[2021-01-12 12:42] larstobi commented on #217
@robertsLando Yes, I think you're right.

I'll try to update to the latest dev and see if something else happens.

[2021-01-12 12:43] robertsLando commented on #217
@larstobi ALso If possible I need to see zwavejs2mqtt logs, it's strange

[2021-01-12 13:06] haavardNO commented on #198
@robertsLando excellent.
Just FYI, it is exactly the same behavior on my Aeotech Wallmote.

[2021-01-12 13:10] jcam commented on #198
the trigger condition looks like it picked up a copy paste error:
value_template: 'value_template: ''{{ trigger.event.data.new_state.state == ''0''
      }}'

it shouldn't be value_template: 'value_template ...

if you're editing it through the UI mode, set that field to just `{{ trigger.event.data.new_state.state == '0' }}`

[2021-01-12 13:47] haavardNO commented on #198
@jcam that did the trick. When I look at it now it looks obvious. I guess I should convert to just edit it the code. Right now I am doing a little of both...
Thanks for spotting it.

[2021-01-12 13:50] jcam commented on #198
I bounce back and forth between UI mode and code too. I think I prefer the UI mode, and then just look at code if UI doesn't work.

[2021-01-12 14:17] AlCalzone opened #220 "[bug] Several crashes reported by Sentry:"
- [ ] https://sentry.io/share/issue/14545ea623c548f0a3faf387e4fbc5aa/
- [ ] https://sentry.io/share/issue/15294e7c1e3e447886e605a16fa8c7f7/
- [ ] https://sentry.io/share/issue/273b2fe9411b41649258ceccada85bca/
- [ ] https://sentry.io/share/issue/05d343b7fea44ab99732c7ae319c1842/
- [ ] https://sentry.io/share/issue/d3c120760e6246559f13ea52925b058f/

[2021-01-12 14:36] robertsLando commented on #220
Hehehe that's a bug with the mqtt store module. Need to investigate. I had the same problem with another project

[2021-01-12 14:39] robertsLando commented on #220
This happens only when users enable offline persistent storage flag in mqtt

[2021-01-12 14:58] #162 closed

[2021-01-12 16:25] #169 closed

[2021-01-12 16:39] #185 closed

[2021-01-12 17:14] bachya commented on #172
@robertsLando Here's what happens when I adjust the temperature in OZW (via MQTT). This may or may not answer your question (how I change the setpoint), so let me know if I'm off base.

When I adjust the thermostat in Home Assistant (which is currently set to `heat`) from 70°F to 71°F:

**Affected MQTT topic:** `OpenZWave/1/node/2/instance/1/commandclass/67/value/281475015557138/`

**Payload befor

[2021-01-12 17:45] marcus-j-davies commented on #148
So - I want to push this, being heavily involved with web services development in my professional life, I'm quite eager.

just a few points come to mind.

 - have it as an additional page on Docs, or have it as a repo (we could link to/from), I Don't have permission on the main project, lets keep it that way ;-)
 -  Upon reading into Pages - it doesn't support server side scripts, and raising  PR'

[2021-01-12 17:49] blhoward2 commented on #148
Those are good questions. I’m in the process of processing all of the zwave alliance xml files, which will vastly expand the number of devices covered (as many as 2,000 additional devices, though it may be less once I combine variations of models into one). The xmls include within them inclusion/exclusion instructions for most, how to reset, etc. I’m not sure all of that will continue to live in t

[2021-01-12 17:56] marcus-j-davies commented on #148
I do have a host - no console access, but I do have a DB/PHP available, we could use it as a testing platform?

[2021-01-12 17:57] marcus-j-davies commented on #148
or I can put my Pi to work :smile:

[2021-01-12 17:58] blhoward2 commented on #148
At least for testing that may help. (I have a local server for testing too but don’t want to use in production.) I’ll defer to your expertise but I’m assuming given the sheer number of devices that serving this dynamically may make more sense than a series of static webpages that get updated? (Though that could be done by pulling the repo and having the import config process include adding them to

[2021-01-12 18:00] blhoward2 commented on #148
I find this ugly and hard to use: http://openzwave.com/device-database

This is also hard to navigate, but this is potentially the scope of devices we’re talking about: https://products.z-wavealliance.org/

[2021-01-12 18:00] blhoward2 commented on #148
Of course, the projects belong to @robertsLando and @AlCalzone, so their thoughts carry more weight, lol.

[2021-01-12 18:01] robertsLando commented on #172
@AlCalzone I think this may be a device issue that is not reporting some supported CC, in this case the Setpoint CC.

[2021-01-12 18:02] robertsLando commented on #172
@AlCalzone if you check the linked device manual thete are some Compatibility flags, for alla values

[2021-01-12 18:05] marcus-j-davies commented on #148
it could be static pages (as apposed to the pages being rendered behind the scene)
given the configs are in JSON, javascript could render the result client side.

The biggest hurdle is handling 'This Device Works', without leaking security information, as needed to raise PR's
if that isn't a must. - we could do all this on pages, if it is a must, we need server side.

but yes, we'll see where this

[2021-01-12 18:08] AlCalzone commented on #148
Just a thought: I'm currently experimenting with Heroku for the repo bot where you can deploy node.js apps almost plug and play (Auto-sync/deploy from github).
Maybe that is something we can consider.

[2021-01-12 18:08] blhoward2 commented on #148
One constraint is that with this many devices, there is a risk that a user could mess up a device file by modifying something if they have the ability to edit directions or anything wiki style and save back to the device file, even if in a supplementary field. Yet it may be a lot to keep up if people can’t change things. There would have to be a lot of error checking and such to ensure that anythi

[2021-01-12 18:19] blhoward2 commented on #216
The docker container contains a full Linux distribution, so the dev files are likely populated by the distribution’s setup.

[2021-01-12 18:19] marcus-j-davies commented on #148
@AlCalzone

Potentially, if these Heroku apps can host a HTTP port (allowing us to serve content), we could plug the backend of it (by way of consuming post requests) into the Github API, where all the authentication, is done 'of camera' rasing the PR.

I would want to incorporate captcha with any solution we come up with.

[2021-01-12 18:50] tommyjlong commented on #191
The following worked
`$npm run config -- import -s ozw -Dmid --ids 0x0084-0x020e-0x00a3`
This created a fts05p.json file that I have working with zwavejs2mqtt.
Shall I submit a PR for the new file?

[2021-01-12 18:51] robertsLando commented on #191
Absolutely!

[2021-01-12 19:06] marcus-j-davies commented on #148
@blhoward2

I am actually in favour of having this as more of a pretty mirror for the config package (that can be easily updated with a schedule), allowing a reference for users.

we could later - look at allowing it to have 'This Device Works' functionality.
but will need to overcome the hurdles I mentioned.

[2021-01-12 19:13] haavardNO commented on #198
Not sure if it is relevant if @robertsLando is working on a fix. But I have some strange behaviour with the solution described by @jcam . Two times today when I have restarted home assistant, the garage door has opened... The last time I checked the loggs, and found the following:

[code]

[code]

I have disabled the garage open automation for now :-). Anyone who can explain what is happening?

[2021-01-12 19:18] blhoward2 commented on #148
I defer to your experience on the best roadmap. I have no idea what it would take to transition to that versus building it with that view in mind to start.

[2021-01-12 19:30] tommyjlong opened #221 "[bug] Aeotec Smart Switch 6 - Fails to complete Interview"
**Version**
1.0.0-alpha.2.51f715c

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2.51f715c

**Describe the bug**
After a few hours, all my devices have reached "Complete" but
 the Aeotec Smart Switch 6 still never reaches "Complete".
Note: This is a case of transitioning from OZW/zwave2mqtt to zwavejs2mqtt

[2021-01-12 19:31] tommyjlong opened #222 "[bug] Aeotec Smart Switch 6 Fails to Complete"
**Version**
1.0.0-alpha.2.51f715c

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2.51f715c

**Describe the bug**
After a few hours, all my devices have reached "Complete" except for
 the Aeotec Smart Switch 6 which never reaches "Complete".
Note: This is a case of transitioning from OZW/zwave2mqtt to zwave

[2021-01-12 19:33] #222 closed

[2021-01-12 19:34] tommyjlong commented on #222
Github snafu.  Duplicate of
https://github.com/zwave-js/zwavejs2mqtt/issues/221

[2021-01-12 19:45] tommyjlong opened #223 "[bug] Aeotec Wall Mote Quad - Scene is undefined"
**Version**
1.0.0-alpha.2.51f715c
Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2.51f715c

**Describe the bug**
Central Scene showing up in logs as undefined.
_Looks like this has not yet been implemented, but thought I would raise the issue_

**To Reproduce**
Steps to reproduce the behavior:
1. Tap button

[2021-01-12 20:03] jcam commented on #198
The restart triggering the garage is due to a bug in the current version where it stores the button "pressed" state, and "sets" it again when restarting.
@robertsLando has fixed this bug with his latest commits. I am testing that build out now

[2021-01-12 20:05] tommyjlong opened #224 "[bug]Aeotec Range Extender 7 Device file migration incomplete."
**Version**
1.0.0-alpha.2.51f715c
Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha.2.51f715c

**Describe the bug**
Aeotec Range Extender 7 showsup as unknown manufacturer, type, etc.

Fix:
Add the following to device file `0x0371/zwa189.json `
[code]
Also, technically both of these types are ZW189, instead of

[2021-01-12 20:22] lazyoldbear commented on #216
@blhoward2 That is just incorrect. As a quick experiment, compare the image internals with the base (`node:erbium-alpine`). It does have _some_ devices, necessary for basic operations like tty and stuff.

Looks like this comes through Dockerfile ARG `updateDevices` (line 4), which is used to trigger a violent action on line 31.
Killing the ARG is not at all unfullfilable, but I assume that there i

[2021-01-12 20:25] blhoward2 commented on #216
The docker files build off Dockerfile.contrib as far as I know. At leas they do when you manually build them using the docker build kit.

[2021-01-12 20:36] lazyoldbear commented on #216
No, I don't even have Docker anywhere, or anything else that builds images.
Besides, I don't need to build it: I know that if "excessive" device files are removed, everything will work properly.
However, as I mentioned above, I assume that whoever started creating them devices, did it on purpose.
So I assumed that asking a question might be a quick way to bring the context in sync with possible st

[2021-01-12 20:39] lazyoldbear commented on #216
But I did try pods on `zwavejs2mqtt` and `node:erbium-alpine`, to make sure.
What I did not try is to alter `zwavejs2mqtt` specifically, for it requires building an image and putting it to some registry.

[2021-01-12 20:40] blhoward2 commented on #216
Just spin up the base image like you would the final image and see if they are there?

[2021-01-12 20:40] lazyoldbear commented on #216
Yes, that I did, in the first place. Apologies for not being clear.

[2021-01-12 20:41] blhoward2 commented on #216
And they were not in the base image? Could you list the specific device files (some examples)?

[2021-01-12 21:48] lazyoldbear commented on #216
All right, the problem was in the [chart](https://github.com/k8s-at-home/charts/blob/master/charts/zwavejs2mqtt/values.yaml). It had default `privileged: true`, and needed explicit `false`.
I am sorry for the fuzz.

[2021-01-12 21:49] #216 closed

[2021-01-12 22:09] AlCalzone commented on #148
On Heroku you have the ability to define environment variables (e.g. for authentication). The same should be true for other hosters (don't want to advocate for Heroku here), but I just found it very easy to work with, after having dabbled with Express on AWS Lambda and Glitch.

So that would probably work, but I'm not sure how to stop people from misusing/spamming that API. Maybe authenticate with

[2021-01-12 22:14] blhoward2 commented on #216
Glad you got it figured out. I was surprised it would be that breakable.

[2021-01-12 22:21] lazyoldbear commented on #216
Well, I was confused by the black magic with devices.
And the last thing I expected from a chart is to have privileged as default (working on a pull request there). :-)
Sorry again.

[2021-01-12 22:34] marcus-j-davies commented on #148
Does Heroku allow for serving up http ports?

if so, we could simply create an express app, allow it to parse the config package, creating the searchable database as such.
then on the event of someone clicking 'this works' process the PR etc etc using Gits REST API, this gives us our 'of camera'

we could use the oauth provider they have, I haven't used it myself, but have used websites that do.
t

[2021-01-12 22:51] AlCalzone commented on #148
Yep, that's probably one of the main use cases.

[2021-01-12 23:01] raymonvdm opened #226 "[question] Rediscovery of devices after HomeAssistant restart"
I have switched from zwave2mqtt to zwavejs2mqtt and it is working quite well after some trial and error in the beginning due to my own ignorance but al seems to be running well. There are only some minor issues left, and one larger issue

In the past when i restarted HomeAssistant the Zwave devices where usable as soon as HomeAssistant was started, but now they are only available after saving a se

[2021-01-12 23:02] raymonvdm opened #227 "[question] Rediscovery of devices after HomeAssistant restart"
I have switched from zwave2mqtt to zwavejs2mqtt and it is working quite well after some trial and error in the beginning due to my own ignorance but al seems to be running well. There are only some minor issues left, and one larger issue

In the past when i restarted HomeAssistant the Zwave devices where usable as soon as HomeAssistant was started, but now they are only available after saving a se

[2021-01-12 23:05] blhoward2 commented on #223
It’s been implemented. There was a recent bug that should be fixed by https://github.com/zwave-js/zwavejs2mqtt/pull/212

[2021-01-12 23:08] raymonvdm commented on #226
Sorry duplicate to https://github.com/zwave-js/zwavejs2mqtt/issues/227 due to a 404 on github

[2021-01-12 23:08] #226 closed

[2021-01-13 02:19] rwa commented on #144
Yes.  I came to the conclusion it wasn't going to be possible (or at least worth the effort). Closing.

[2021-01-13 02:19] #144 closed

[2021-01-13 03:43] carldebilly opened #228 "[question] SetOutdoorTemp for Stelpro Thermostat?"
## Introduction
I have a bunch of Stelpro Ki thermostats that I installed few years ago when I was using SmartThings. Those thermostats were always working great.

## The feature: display outdoor temperature
The have a feature to show outdoor temperature that works well with SmartThings [the code for that is here](https://github.com/stelpro/Ki-Z-Wave-Thermostat/blob/d106ec8c640d3288850e672bf88352b

[2021-01-13 03:43] carldebilly opened #336 "[feature request] add an API to execute arbitrary Z-Wave commands"
## Introduction
I have a bunch of Stelpro Ki thermostats that I installed few years ago when I was using SmartThings. Those thermostats were always working great.

## The feature: display outdoor temperature
The have a feature to show outdoor temperature that works well with SmartThings [the code for that is here](https://github.com/stelpro/Ki-Z-Wave-Thermostat/blob/d106ec8c640d3288850e672bf88352b

[2021-01-13 07:09] robertsLando commented on #198
Remember to remove the retained message from your broker. TO do this you have to use mqtt explorer

[2021-01-13 07:23] robertsLando commented on #228
@carldebilly I don't get this, did you tried to see if it works? What error do you see? Is zwavejs2mqtt creating a climate?

[2021-01-13 07:26] robertsLando commented on #227
Zwavejs2mqtt listen for hass birth and will and when he saw them it resend the discovery

[2021-01-13 07:27] robertsLando commented on #223
@tommyjlong Are you able to build a docker container from master branch of both projects?

[2021-01-13 07:28] robertsLando commented on #223
https://github.com/zwave-js/zwavejs2mqtt/tree/master/docker#building-a-container-using-dockerfilecontrib

[2021-01-13 12:29] larstobi commented on #193
After updating to yesterdays dev image, I'm not seeing this anymore. Not sure what was fixed in the last three days, but it seems to have worked. :-D

[2021-01-13 12:30] larstobi commented on #217
After updating to yesterdays dev image, I'm not seeing this anymore. Not sure what was fixed in the last three days, but it seems to have worked. :-D

[2021-01-13 12:41] robertsLando commented on #217
Sincerly I have no idea as I never edited nothing in code that could break that :man_shrugging: Glad it's working BTW

[2021-01-13 13:10] robertsLando commented on #129
I think this shuld be fixed now

[2021-01-13 13:10] #129 closed

[2021-01-13 13:11] #69 closed

[2021-01-13 13:12] robertsLando commented on #116
I think this has been opened in node-zwave-js. Closing this here

[2021-01-13 13:14] #223 closed

[2021-01-13 13:14] #193 closed

[2021-01-13 13:15] robertsLando commented on #186
@LordMike Does that solves your problem?

[2021-01-13 13:27] lazyoldbear commented on #217
I have seen it again. Sorry.
Interestingly, this time "Rediscover" helped to fix the topics.

[2021-01-13 13:38] larstobi commented on #217
@lazyoldbear What is the "Rediscover" feature? Where can I find it?

[2021-01-13 13:59] blhoward2 commented on #116
Sort of. The node fix causes the values to be sent. We still do nothing with setting up devices in HA for those, which is why I opened this one.

[2021-01-13 17:17] haavardNO opened #232 "[question] Aeon Labs Home Energy Meter G2 to much information"
One of the devices I have added recently is a Home energy meter.
I have used this device in my previous HA application (Indigo for mac) and zwave2mqtt. On both platforms the sensors made sense. But when added to zwavejs2mqtt there is a lot of sensors that I have never seen before. Like previous values and delta time etc... I sort of just want the energy readings. When created in Home Assistant it

[2021-01-13 18:32] robertsLando commented on #217
Rediscover node is a button you find on the top of hass devices table

[2021-01-13 18:48] robertsLando commented on #232
@haavardNO Could you show me the names you are getting? Have you tried to set a custom entity name? @billiaz

[2021-01-13 19:14] Swiftnesses commented on #193
I'm not convinced this is fixed, either that or my expectations are not aligned with how it should work.

<img width="585" alt="Screenshot 2021-01-13 at 19 12 50" src="https://user-images.githubusercontent.com/1001877/104498309-6ec81980-55d3-11eb-9157-c15711b7c1e5.png">
<img width="1207" alt="Screenshot 2021-01-13 at 19 12 41" src="https://user-images.githubusercontent.com/1001877/104498312-785181

[2021-01-13 19:29] Swiftnesses commented on #232
I get this with my Aeon plug, the previous value is required to store the value when you reset values (the button in your screenshot), the delta entities can just been hidden / disabled (either in the zwavejs side, or the Home Assistant side).

[2021-01-13 19:44] haavardNO commented on #232
@robertsLando no I have set a name and location in the zwavejs2mqtt UI, and I have changed the name in HA afterwards. But it is pain to find the device that gives the correct value since there is so many. This metering device has one clamp. This generates 21 devices. The other metering device I use has 3 clamps, that device generates 36 devices. I guess I can tweak it to figure out what is what.
<

[2021-01-13 19:46] robertsLando commented on #232
I think I need to configure a way to skeep discovery for some values. @billiaz I think that in case of meter CC some values should be skipped, then we could also provide a way to ignore the discovery of some specific values using the gateway values table

[2021-01-13 20:07] billiaz commented on #193
@Swiftnesses I do not understand your second and third screenshots, where these come from, they are so well cropped i need more details.

[2021-01-13 20:09] Swiftnesses commented on #193
Sorry @billiaz - 2nd screenshot is showing the mqtt topic, the 3rd shows the entity in Home Assistant.

[2021-01-13 20:13] billiaz commented on #193
I found where is happening. I will create a patch for this @robertsLando will need to review with me the solution.

[2021-01-13 20:14] Swiftnesses commented on #193
Thank you :)

[2021-01-13 20:19] billiaz commented on #193
@Swiftnesses if you can compile the branch:  `fix-hass_ignoreLoc`
it would be helpful to get your point of view

[2021-01-13 22:08] ahochsteger opened #233 "[bug] Unreliable detection of nodes (some don't show up, obsolete nodes are not shown as failed)"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.0

**Describe the bug**
I'm using zwavejs2mqtt version 1.0.0-beta.0 with about 60 Z-Wave devices but I'm having troubles with unreliable detection of nodes and inability to remove obsolete nodes.
I had this problems since switching from zwave2mqtt t

[2021-01-14 01:47] blhoward2 commented on #233
What do you get if you refresh those specific nodes to force that only the be re-interviewed.

[2021-01-14 06:34] ahochsteger commented on #233
@blhoward2 I updated the bug description to include more extracted details of the logs (open the collapsible section) which shows that I've already tried to refresh node 64 and 107 without success.

It looks to me that on restarts I often get new devices that do not become ready but devices that did not become ready on the last restart tend to stay that way until I use one of the workarounds (excl

[2021-01-14 06:48] ahochsteger commented on #233
@robertsLando, @AlCalzone I used the following command to extract interesting parts of the logs (see the collapsible section in the bug description):

[code]

I'd be interested in some more types of helpful log events for both zwavejs2mqtt and zwavejs - of which I'm sure you know from your experience - to help diagnose these type of problems better.

[2021-01-14 07:24] robertsLando commented on #233
@ahochsteger Could you also provide a splitted log? I think it's more readable both for me and @AlCalzone. Anyway I checked your log and from my side I cannot say that much, I have used your regex to search errors but I only see the interview attemps failed, IMO there is some device compatibility error that breaks the interview of some devices like I see in other issues but the expert in such thin

[2021-01-14 07:57] robertsLando commented on #193
Done

[2021-01-14 07:58] ahochsteger commented on #233
@robertsLando, yes you can find the splitted logs here: [zwavejs2mqtt-logs-splitted.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5812948/zwavejs2mqtt-logs-splitted.zip).
For me it was just easier to use the combined version to drill into the details from zwavejs2mqtt to zwavejs.

In which way do you think that device compatibility may be a problem, since I eventually had all devices fully w

[2021-01-14 08:10] robertsLando commented on #233
Didn't know that. What you could try to do is to change the timeouts in zwave settings, maybe your actual timeouts are too low and interview may work or fail sometimes? This is just a thought, check https://zwave-js.github.io/node-zwave-js/#/api/driver?id=zwaveoptions

I saw other reports like that. In this case if you have a log from zwavejs2mqtt that show this it would help to debug the problem.

[2021-01-14 08:13] AlCalzone opened #242 ""value notification" event log should not try to log the previous value"

[2021-01-14 10:15] cbho commented on #120
Hi again,
a minor detail:

In addition to the binary switch, there is also a multilevel switch created. As endpoint 0 is a relay, this doesn't really make sense.
Of course, this can be dealt with by just ignoring it - it doesn't make any harm - just thougth it could be relevant to mention.

Regards,
Chr.

[2021-01-14 11:31] lazyoldbear commented on #217
I don't know all this smart javascript stuff, but from a brief glance over the source code, here are some silly questions:

- A lot of async puts of `this.storeNodes` in `lib/ZwaveClient.js`. The whole object (which is understandable). Although not very likely, it may, theoretically, cause troubles in ordering. E.g. I change the name (it gets updated in the UI, and something else also triggers upd

[2021-01-14 11:40] AlCalzone commented on #120
I think I'm okay with that. The device has multilevel switch support, so naturally that gets exposed on the root endpoint as well. If it ever becomes a problem, we could look into removing the CC support info from the root endpoint (like we have the ability to add it through config files).

[2021-01-14 13:07] billiaz commented on #232
i found a nice way to do this. I will also add the pr here.

[2021-01-14 13:19] billiaz commented on #232
Made a small patch: #237

[2021-01-14 13:42] ahochsteger commented on #233
@robertsLando thanks for the tip with the timeouts.
In the UI I only see one timeout but that seems to have just to do with inclusion/exclusion:
![image](https://user-images.githubusercontent.com/207989/104597940-3f1e1d80-5676-11eb-889e-1df3c3962248.png)
Is that what you meant?
Or is it possible to just add additional timeout config entries from the link above to settings.json?

[2021-01-14 14:10] robertsLando commented on #217
I cannot think about a case that could cause data loss. I always write the entire object that is always updated, so two consecutive calls even if them are done in the same moment will update it based on the order they comes to js stack, nodejs it's not multi-thread process so there is not this problem

I'm looking at this too, I saw some users reported me they see unknown manufacturer and product

[2021-01-14 14:15] robertsLando commented on #233
Timeouts are only configurable by using an hidden option, it's documented here: https://zwave-js.github.io/zwavejs2mqtt/#/usage/setup?id=zwave

Check `zwave.options`, it will extend the default options. The allowed options are: https://zwave-js.github.io/node-zwave-js/#/api/driver?id=zwaveoptions

[2021-01-14 14:40] AlCalzone commented on #233
The defaults for timeouts have been increased recently. If the expected response is not received, we already waited 10 seconds. Increasing further does not seem necessary.

[2021-01-14 14:41] AlCalzone commented on #233
I'll take a look at your logs later tonight and try to figure out whats happening.

[2021-01-14 15:30] lazyoldbear commented on #217
I also often saw unknown for Fibaro button. Some back and forth requests of info usually eventually helped.

[2021-01-14 15:33] lazyoldbear commented on #217
Should this be reopened, for there might be a floating trouble?

[2021-01-14 16:07] robertsLando commented on #217
@lazyoldbear I have an idea, let me check

[2021-01-14 16:07] robertsLando commented on #217
#233  could be related also to the same problem

[2021-01-14 16:22] AlCalzone opened #239 "[bug] propertyKeyName should be used instead of propertyKey if it exists"
Found several locations where `propertyName` is used in place of `property`, but the same does not happen for `propertyKeyName`.

Also, this is completely wrong I think (`propertyName` instead of `propertyKeyName`):
https://github.com/zwave-js/zwavejs2mqtt/blob/6e2a0f726aa8f14bc06258860c002e6373697f05/lib/Gateway.js#L678

[2021-01-14 16:27] lazyoldbear commented on #217
I am just observing the same behaviour as described there. A lot of empty fields. One plug constantly turns dead.
Everything seems fine from HA, though.
This all pretty much tempts to think about loose changing sequences. Async execution has its disadvantages. :-)

In particular, one trouble is that you always store the whole node.
It might be beneficial to decouple UI from the thinking core, and

[2021-01-14 16:29] AlCalzone commented on #239
propertyKeyName is missing completely here:
https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/ZwaveClient.js#L814

This should also append the propertyKey(Name) to uniquely identify the value:
https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/ZwaveClient.js#L819

This confuses propertyKey with property (should be the other way round):
https://github.com/zwave-js/zwavejs2mqtt/blob/mas

[2021-01-14 17:11] robertsLando commented on #217
Try with #240

[2021-01-14 17:14] robertsLando commented on #239
Thanks, will look at this later

[2021-01-14 17:46] AlCalzone commented on #233
Node 37 does not respond to `ManufacturerSpecificCCGet` which tells us which device this is. Node 087 did. Could it be that this device was included securely at some point?

Node 64: Well, that is interesting... When the driver first tries to query it, it seems like your network is jammed. The message does not go out and then this flood of messages happens:
[code]
That goes on for a while, then No

[2021-01-14 18:02] towerhand commented on #116
Moving to this issue since is probably more relevant here.

I installed zjs2m this morning to test and see how things are evolving and try to provide info from a regular user point of view.

I can see the events getting triggered with the console and with mqtt explorer in the event topic in the root topic per the docs (<mqtt_prefix>/_EVENTS_/ZWAVE_GATEWAY-). In the old z2m it would publish them in

[2021-01-14 18:04] blhoward2 commented on #116
If you go to this discussion on the node-Zwave-js project, this is evolving. As of the image you should get a command class 32 after you double tap that shows the value. We’re working to change this to a value notification as presently HA won’t see subsequent double-taps of the same value

[2021-01-14 18:07] Swiftnesses commented on #193
Just reployed the dev docker and this looks fixed. Awesome work guys - thank you!

[2021-01-14 18:54] cinadr opened #241 "[bug] Invalid data with Danalock V3-BTZE"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.0.8c826f1 (Windows Server 2019 Datacenter)

**Describe the bug**
Danalock V3-BTZE not updating status.
ZWave-JS logs showing _Message with invalid data received. Dropping it_

**To Reproduce**
Manually turn Danalock or use proprietary app to change

[2021-01-14 22:06] tommyjlong commented on #223
I have been building my cloned repositories with npm.
I built today's zwavejs2mqtt with npm and tested out this fix, but it didn't work.  I checked the PR and its says the fix #212 was in lib/ZwaveClient.js and it was merged, but when I look at lib/ZwaveClient.js on my repository as well as the github master branch, I don't see the fix.

[2021-01-14 22:35] tommyjlong opened #244 "[bug] Aeotec Multisensor 6 now shows up Unknown/undefined Manufacturer/Product"
**Version**
1.0.0-beta.0.6e2a0f7

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.0.6e2a0f7

**Describe the bug**
Aeotec Multisensor6 is showing up in GUI `Unknown manufacturer undefined` and `Unknown product undefined`
There are no numbers saying what manufacturer/product was actually found.

Important Note:

[2021-01-14 22:39] blhoward2 commented on #116
@robertsLando We now have this sorted at the node level, and it works perfectly when I define a manual sensor. How do I go about defining a sensor so it is automatically created? Can it be done when it first gets a double_tap event (when the mqtt topic is created)? Or would a user now need to custom add this because there isn't a way to prevent it being doing on all switches?

[code]

[2021-01-14 22:41] AlCalzone commented on #116
heads up: I'm going to rename the /value to /event to avoid confusion with target and currentValue.

[2021-01-14 22:42] blhoward2 commented on #116
Makes sense to me

[2021-01-14 22:44] blhoward2 commented on #116
Do my changes above capture the change, or is it now 32-0-event too?

[2021-01-14 22:49] AlCalzone commented on #116
It is now `32-0-event`

[2021-01-15 01:13] blhoward2 opened #245 "[feat] Expose refreshValues() through mqtt"
**Is your feature request related to a problem? Please describe.**
There should be a method to refresh only the dynamic values of a node, on demand. Basically manual polling. There is a function refreshValues() already used in places like HailCC, which should also be exposed through MQTT.

**Describe the solution you'd like**
expose refreshValues()

**Additional context**
Necessary for various wor

[2021-01-15 07:21] robertsLando commented on #116
Can we close this so?

[2021-01-15 07:22] robertsLando commented on #242
Yep it is :laughing:

[2021-01-15 07:23] #242 closed

[2021-01-15 07:27] robertsLando commented on #244
Could you show me a log output of zwavejs2mqtt? I'm currently working on a fix for this #240

[2021-01-15 13:21] blhoward2 commented on #116
I posted two questions for you a few messages up. Can we auto-create a sensor for this or would a user have to define their own? And there is still a bug with the log that causes it to say undefined.

[2021-01-15 13:36] robertsLando commented on #116
Sorry missed them, too much notifications :cry:

undefined is the previous value, for a notification it is undefined, if you want I could remove the undefined from the log but it's not wrong as it says: I was undefined and now I'm 255

Absolutely, to cleanup some stuff would you open a dedicated issue? Like `[feat] create HASS sensor for CC 32 event`

[2021-01-15 13:51] AlCalzone commented on #116
In the context of value notifications (stateless), displaying a transition from a previous value makes no sense IMO.

[2021-01-15 13:52] robertsLando commented on #116
Ok will remove it so, no problem

[2021-01-15 14:09] blhoward2 opened #249 "[feat] create HASS sensor for CC 32 event"
**Is your feature request related to a problem? Please describe.**
Create new sensor for CC32 event notification. #116

**Describe the solution you'd like**
The following works well when manually defined:

[code]

[2021-01-15 14:10] blhoward2 commented on #116
Done

[2021-01-15 14:11] robertsLando commented on #116
The log is fixed on master closing this in favor of #249

[2021-01-15 14:11] #116 closed

[2021-01-15 14:14] robertsLando commented on #249
@blhoward2 Could you send me the valueId object? Expoirt the node from the UI and attach it here please

[2021-01-15 15:02] blhoward2 opened #251 "[bug] Malformed mqtt command crashes daemon"
**Version**

Build/Run method
- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.2.3

**Describe the bug**
Calling an mqtt command, like `homeassistant/_CLIENTS/ZWAVE_GATEWAY-11/api/refreshValues/set` with a malformed payload:

[code]

causes all of zwavejs2mqtt to crash. Shouldn't we do some sort of validation on the payload and throw

[2021-01-15 15:36] blhoward2 commented on #249
[node_3.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5821426/node_3.json.zip)

[2021-01-15 15:42] #251 closed

[2021-01-15 15:45] robertsLando commented on #249
I still don't see the value id reported :thinking:

[2021-01-15 15:48] sembeeuk opened #252 "[bug] Home Assistant Auto Discover - Danalock V3 Status and Control Not Working"
Version: 1.0.0-alpha.2

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-alpha2 (cannot get Docker to pull anything later).
Raspberry PI.

**Describe the bug**
Connecting a Danalock V3 BTZE. Connects fine and pulls in lots of information. However after running the Home Assistant Autodiscovery, the status node and c

[2021-01-15 15:53] robertsLando commented on #252
You are speaking about this right?

[code]

If so, I suggest you to try to manually edit the template and try to make it working, you can do this in control panel, when you edit it press on rediscover and see if it fix, once you find a working template send it there so I can fix it. Unfortunally I don't own a lock to test this

[2021-01-15 15:54] blhoward2 commented on #249
So, when we had the comapt flag to undo the mapping the basic value would appear in the Control Panel. Now that it is a notification not a value, it doesn't appear.

[2021-01-15 16:10] robertsLando commented on #249
@AlCalzone ?

[2021-01-15 16:12] blhoward2 commented on #249
I'm not yet running your PR, but I assume that doesn't affect the values being discovered?

[2021-01-15 16:36] robertsLando commented on #249
The problem is: https://github.com/zwave-js/node-zwave-js/issues/1406

[2021-01-15 17:42] tommyjlong commented on #244
OK...
1. I started it up (with cached files) with the logs enabled and this time it worked (it found the correct manufacturing/Product)!
2. Repeated 1) again and it worked!
3. Cleared the cache files, restarted and the problem reoccurs :( .

Here is the zwavejs2mqtt log with 'silly' level (I snipped a few of the other nodes' log entries to shorten things up)
[code]

[2021-01-15 17:58] lucguinchard opened #253 "[bug] Dimmer 2 (Fibargroup - FGD212) - Error while writing 50 on 38-0-targetValue: Timed out."
Hello Daniel, Buongiorno,

**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.0.6e2a0f7

**Describe the bug**

On my device `Dimmer 2 (FGD212)`, when I change the value `38-0-currentValue` An exception is raised:

![image](https://user-images.githubusercontent.com/17431299/104760778-2b4fe580-5762-11

[2021-01-15 18:29] dvbit opened #254 "[question] how to properly recreate from scratch an entity in homeassistant?"
What would be the right sequence?
Remove entity from ha
Remove store in z2m
Stop ha
Delete entity from
Mqtt
Update node info in z2m
Heal node ?
Check log for the above to finish
Restart ha
Rediscover node

Is that correct ?

[2021-01-16 00:04] SmartHomeNewbie opened #255 "[question] cannot get zwave2mqtt to save changes"
So i installed zwavejs2mqtt but i still have the same problem, i have attached the "info" log
[log.txt](https://github.com/zwave-js/zwavejs2mqtt/files/5823452/log.txt)

[2021-01-16 06:58] rotem925 opened #256 "After restarting, most of the devices show Unknown manufacturer undefined [bug]"
**Version**
latest docker dev build 1.0.0-beta.0
Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: latest docker dev build 1.0.0-beta.0

**Describe the bug**
Hi,
I had everything configured perfectly. All nodes were appearing with the correct manufacturer and product in the device list.
After a restart, I can see almost a

[2021-01-16 08:45] robertsLando commented on #256
So if you downgrade them are showed correctly? Could you send me a log output of both zwavejs and zwavejs2mqtt?

[2021-01-16 08:48] rotem925 commented on #256
What do you mean downgrade?
Also, can you point me to where I can find the logs please?

[2021-01-16 09:28] charlyr82 commented on #227
From the documentation here:
https://zwave-js.github.io/zwavejs2mqtt/#/guide/homeassistant
The topic that zwavejs2mqtt looks at for birth and will messages is `homeassistant/status` you need to update this in your homeassistant MQTT settings.

[2021-01-16 10:04] robertsLando commented on #256
You find logs based on the logs settings you used in setting. If you have enabled the logToFile flag in settings them will be in store folder

[2021-01-16 10:06] robertsLando commented on #256
With downgrade I mean if you try using a version before this one. Anyway does this only happens after restart so? This doesn't happen when you close and restart the entire docker container?

[2021-01-16 10:53] rotem925 commented on #256
See attached logs.
I've enabled it just now and then restarted the container.
So the logs were clean at startup.

Didn't try to downgrade...
I have restarted the container after a few hours.
All nodes were queried fine prior to the restart, and where listed fine on the device list.
The problematic devices are battery devices (were Asleep on startup).

In which file should this be cached?

[zwavejs

[2021-01-16 19:35] SmartHomeNewbie commented on #256
same happend to one of my nodes, restarting cointainer didnt help but after a reboot of my whole system it back with all info-

[2021-01-16 21:21] bdbogjoe commented on #253
i have such device, and did not face any issue with it, how can i help ?

[2021-01-16 21:43] SmartHomeNewbie commented on #255
So i tried changing the parameters alot of times yesterday, tried to combine it with refresh/heal node, restarting container & rebooting whole system and nothing was working.
But today when i woke up the parameters i had tried to change all night had changed...
So i tried again today on some other nodes that i need to adjust a bit, but ofcouse its not working :D can anyone tell me what the right p

[2021-01-16 23:50] LordMike opened #257 "[feat] Add labels to docker image linking to git hash"
**Is your feature request related to a problem? Please describe.**
When downloading a docker image, it could be useful to know exactly which commit this image was from. This goes for both `zwave-js` and `zwavejs2mqtt`.

**Describe the solution you'd like**
Add a label on builds, with the git hash of the two projects.

I'm fairly certain the change has to happen [around here](https://github.com/zwa

[2021-01-17 00:47] LordMike commented on #186
I was caught up in work the past few days.

It might.

For other interested. [This is a direct link](https://zwave-js.github.io/node-zwave-js/#/api/controller?id=managing-associations) to the associations API's @ zwave-js. (It was tricky to find .. the search isn't very helpful).

[2021-01-17 01:15] LordMike commented on #186
I can call the `getNodes` without issue. But `getAssociations` doesn't seem to work.
The logs tell me the following.

[code]

I've checked bot the zwave-js docs and the source - both place `getAssociations` in the `controller` section.

The node is fully interviewed, and the UI can show the associations for node 5:
![image](https://user-images.githubusercontent.com/1027111/104828451-c8497600-5869-

[2021-01-17 01:19] LordMike commented on #186
Ah. Apparently I was missing an `api` in my request.

https://github.com/zwave-js/zwavejs2mqtt/blob/cf71d1fa6af252c1cff156de68b13b5d7ce21137/lib/MqttClient.js#L220-L232

[2021-01-17 01:20] LordMike commented on #186
Nevermind.. I was reading the events docs.. Needed to scroll down.

[2021-01-17 01:27] lazyoldbear commented on #217
Recent dev image, same behaviour.

[2021-01-17 01:33] LordMike commented on #186
So I've been publishing to `zwavejs2mqtt/_CLIENTS/ZWAVE_GATEWAY-HomeMQTT/api/getAssociations/set` but I can't quite get it work. The response says the request was sucessful, but the results are always empty.

I found this code, which I think is being called, and it's odd - because this differs from the [zwavejs docs](https://zwave-js.github.io/node-zwave-js/#/api/controller?id=managing-association

[2021-01-17 03:00] LordMike commented on #78
I'm adjusting some entities to send color commands from HASS to ZW. HASS only sends to one topic - is it not currently possible, at all, to set one value?

I found some code that seemingly splits by commas and does RGB stuff.. but I can't find out how it's invoked, so I'm not sure what to send to.

[2021-01-17 10:24] robertsLando commented on #78
@LordMike If you check the linked pr with that there will be the support for a new valueId with colors in the hex format. That code you linked here should handle the commands that are sent from hass to mqtt when changing a color

[2021-01-17 10:28] robertsLando commented on #254
@billiaz @chilicheech I can speak about the zwavejs2mqtt side, could one of you provide a detailed answer about the complete steps? Could also be added to hass docs too

[2021-01-17 10:37] robertsLando commented on #186
You right, I could extend that to return all associations if groupId is not specified, would it be ok for you?

Because that is actually used in `getGroups` apis to popolate nodes groups. Would you like that api to be accessible too?

[2021-01-17 10:38] robertsLando commented on #217
@lazyoldbear  Yep because you have to try the branch `fix-init-node` not the dev tag (master branch)

[2021-01-17 10:40] robertsLando commented on #255
@SmartHomeNewbie YOu should attach the zwavejs log file to see what's happening on the low level

[2021-01-17 11:01] SmartHomeNewbie commented on #255
Again this morgen more(not all) changes had taken effect.
zwavejs/low level?
i can choose between error/warn/info/verbose/debug/silly, witch one would you like?

[2021-01-17 11:02] robertsLando commented on #257
@LordMike I think you mean Docker labels right? Like this:
https://github.com/zwave-js/zwavejs2mqtt/blob/master/docker/Dockerfile#L38

But with some more infos like: https://github.com/hassio-addons/addon-zwave2mqtt/blob/master/zwave2mqtt/Dockerfile#L83-L100

[2021-01-17 11:05] robertsLando commented on #255
@SmartHomeNewbie There are 2 loggers settings, one on zwave section and one on general section. YOu should enavble the one on general section and set it to silly level

[2021-01-17 11:09] robertsLando commented on #244
@tommyjlong Does this comes from a ontainer built with #240 changes or not?

Does this only happen when the caceh file is not present or after a restart?

[2021-01-17 13:09] ahochsteger opened #259 "[bug] UX issues for UI of selected nodes"
**Version**

Build/Run method: Docker

zwavejs2mqtt version: 1.0.0-beta.0

**Describe the bug**

Currently I see a few UX issues for which I'd like to propose a solution and get some feedback before starting the implementation:

1. The UI specific to a selected node is located below the nodes table which causes a lot of scrolling up and down, if you have to do changes for a lot of nodes.
2. The no

[2021-01-17 13:10] ahochsteger commented on #259
@robertsLando I'd be interested in your opinion to the proposed UI improvements.

[2021-01-17 14:20] joeyb commented on #252
I just ran into the same issue with a Schlage lock and it looks like it was resolved with a really recent commit since switching to the `dev` docker image fixed it for me. There is some additional discussion in #178.

[2021-01-17 15:46] SmartHomeNewbie commented on #255
Ok i changed to silly level and made a change to "node 11"  [11-112-0-1] motion detection sensitivity from 100 to 75, the change  had taken effect when i checked a  few hours later.
It seems when i make a change i have to wait for the node to wake up, before it updates(without restarting the container) is that correct? if so is there a way to force it to wake up?
anyway the log is here:
[log.txt](

[2021-01-17 16:13] cbho commented on #255
@SmartHomeNewbie: That is correct.
In general, battery devices only wake up once in a while - new settings will only be applied then.

Battery devices can usually be woken up by pressing the button you pressed when including the device once or three times (as stated in the manual).
To increase battery life you should go for long intervals...

(Fibaro Motion Sensors can actually be a bit stubborn s

[2021-01-17 16:49] tommyjlong commented on #244
@robertsLando .  I cloned from main last Wednesday, and changes from 240 are not present, so no I did not test with your fix.  Problem only occurs when starting with cache files **not** present.

[2021-01-17 17:17] lazyoldbear commented on #217
That might be a bit tricky to test: I don't even have Docker or something similar at home.
But if I get time, I will try to fire it up manually in a blank pod, or push retrieval before the entrypoint.

[2021-01-17 17:29] SmartHomeNewbie commented on #255
Makes sense then, screwed myself by restarting everytime it wouldnt update right away :D
Thanks alot for the help.
That book, 400 pages? think it would spare me more time asking you a question once iwahile :D

[2021-01-17 21:09] FreelancerJay commented on #255
@SmartHomeNewbie, it's time well spent, and that knowledge will help you make better informed choices on what devices to buy for what use etc. And for once for a book about networking, it's actually not a dry read ^_^

[2021-01-17 21:18] lazyoldbear commented on #217
Tried. Two fibaro buttons got back with full information. A smart plug is "unknown", but it was dead and I had to revive it.

[2021-01-17 21:58] LordMike commented on #257
Exactly. :)

Damn. That's a large set of labels for the Hassio setup :O

[2021-01-17 22:09] LordMike commented on #186
Perfect. Do you know why the results I get is always `[]` ?

I'm not interested in the API, I think.. It was more of a jab against the [statement on the docs](https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt?id=mqtt), saying "You have full access to all zwavejs APIs (and more) by simply using MQTT." ... The list of allowed apis kinda limits that :)

[2021-01-17 22:12] LordMike commented on #190
Hmm.. (I would prefer it .. but the issue is elsewhere)

I should already be seeing it in 24h, but apparently my browser doesn't think that.

[2021-01-17 22:14] LordMike commented on #190
Hillarious. Edge shows it in 24h + Day/month/year - Chrome/FF shows it in 12h (and month/date/year)..

This is likely a browser thing then.

[2021-01-17 22:14] #190 closed

[2021-01-18 06:48] jonathan-reisdorf commented on #9
Thanks @robertsLando for all your hard work you're putting into this project! And what an excellent tech stack choice, I'm really excited. :)

[2021-01-18 07:57] robertsLando commented on #259
@ahochsteger I think that the option 1 could be good but the things to show are a lot (there are also hass devices) and maybe the visualization could become even worst. I'm ok for option 2 but how do you handle the sent do multiple nodes? You should filter all the props that are in common like command classes valueids etc.

ATM I'm ok to use the row selection feature to replace the existing one, n

[2021-01-18 08:01] ahochsteger commented on #259
@robertsLando thanks for your feedback, I'll create a branch so we can better discuss it.

[2021-01-18 09:57] lucguinchard commented on #253
Hello, (Merci de ton retour)
I have 6 devices of this type. None of them work.
The program runs on an RPI4.
Node version : v10.23.1.

[2021-01-18 10:19] bdbogjoe commented on #253
you can contact me on zwave2mqtt.slack.com, we can discuss and check differences

[2021-01-18 10:22] bdbogjoe commented on #253
here my config with zigbeee2mqtt
`
version: '3.7'
services:
  zwave2mqtt:
    container_name: zwave2mqtt
    image: zwavejs/zwavejs2mqtt:1.0.0-beta.0
    restart: always
    tty: true
    stop_signal: SIGINT
    networks:
      - mqtt
    devices:
      - '/dev/ttyACM10:/dev/ttyACM10'
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
      - ./zwave/store

[2021-01-18 11:03] robertsLando commented on #253
Is this fixed?

[2021-01-18 11:05] robertsLando opened #260 "[feat] Add all supported zwave apis in mqtt docs"

[2021-01-18 11:06] bdbogjoe commented on #253
no news from him, maybe after working hours

[2021-01-18 11:08] robertsLando commented on #186
What are the args passed?

You absolutely right, in dact that comes from the old zwave2mqtt where I simply called the zwave apis without any checks, now I have encapsulated all zwave apis in other functions to better handle them, I have created this as a reminder: https://github.com/zwave-js/zwavejs2mqtt/issues/260

I will look at it once I have more free time to improve docs :)

[2021-01-18 11:13] robertsLando commented on #257
I think this could be enought:

[code]

[2021-01-18 11:50] haavardNO commented on #198
@robertsLando I see that the latest release addressed #215. So this should solve the issues with the keyfob I assume. But will I still have to listen for event change, or can it trigger on state change?
I am running zwavejs2mqtt as a docker image on a rpi, as many others I assume. What is the easies and fastest way to update the version I am running? Previously I have done it by duplicating the im

[2021-01-18 12:45] robertsLando commented on #198
It will only trigger on state change but the message will not be retained. If there was some message retained previously on your broker them should be cleaned

You should do a docker pull to get latest updated image. I suggest you to  use the `dev` tag

[2021-01-18 12:45] #198 closed

[2021-01-18 12:47] robertsLando commented on #252
So closing this for now. Try to update the docker image @sembeeuk . Thanks @joeyb  for the feedback

[2021-01-18 12:47] #252 closed

[2021-01-18 12:48] robertsLando commented on #217
@lazyoldbear Can I close this so?

[2021-01-18 12:49] robertsLando commented on #255
@SmartHomeNewbie Can I close this so? Thanks @cbho for the help

[2021-01-18 12:51] robertsLando commented on #244
I think we figured out the problem with #240 , seems that if the interview fails the `ready` event could be emitted anyway without the devive config informations. This will be fixed in next release

[2021-01-18 12:51] robertsLando commented on #256
Seems that we have figured out what's going on in #240 , please check updates on that

[2021-01-18 12:58] rotem925 commented on #256
Ok, thanks!
Will follow there. Will wait for this PT to be merged...

[2021-01-18 13:09] #217 closed

[2021-01-18 13:09] #256 closed

[2021-01-18 13:38] #78 closed

[2021-01-18 13:46] #245 closed

[2021-01-18 13:57] SmartHomeNewbie commented on #255
Yes, Thank you

[2021-01-18 13:57] #255 closed

[2021-01-18 14:02] robertsLando commented on #257
Seems label-schema is deprecated in favour of https://github.com/opencontainers/image-spec/blob/master/annotations.md

[2021-01-18 14:03] AlCalzone commented on #233
I've implemented marking a node as failed here: https://github.com/zwave-js/node-zwave-js/pull/1444

[2021-01-18 15:46] #227 closed

[2021-01-18 16:38] #260 closed

[2021-01-18 17:58] LordMike commented on #257
Oh I see - they did deprecate it .. They could've put a larger warning on the page :|

The list of labels looks good. Vcs-ref is there, along with build-date.

Would it be possible to get the git hash, of zwave-js?

[2021-01-18 18:09] LordMike commented on #186
I provided two numerics, a node id and a group id - I also tried with node id alone. But were plain numbers, in the `data` property.

Example:
![image](https://user-images.githubusercontent.com/1027111/104949915-0789db00-59c0-11eb-9c53-a0afb569d7cf.png)

Zjs2mqtt has the data. And I tried requesting it with:

* Topic: `zwavejs2mqtt/_CLIENTS/ZWAVE_GATEWAY-HomeMQTT/api/getAssociations/set`
* `{"data

[2021-01-18 18:36] LordMike commented on #186
Ooh, the code says this message appears when the nodeId in the args is undefined.. I'm seeing other code saying the input is incorrect.

[2021-01-18 18:37] LordMike commented on #186
Yeap. I figured it out.

https://github.com/zwave-js/zwavejs2mqtt/blob/a56f044f4abd24d4bb9937485c6fb3c510e7906c/lib/Gateway.js#L445

The actual input is "args". Not "data". I have no idea where I got "data" from.. :|

[2021-01-18 18:50] LordMike commented on #186
I'm getting the associations from that.. So yea, it probably works out in the end.

I would suggest that an error is returned, if the call actually doesn't work.

[2021-01-18 21:32] Swiftnesses opened #267 "Latest dev docker - what happened to my node info?"
Just updated now, control panel is now missing some node info (most battery ones, some mains powered ones).

<img width="1854" alt="Screenshot 2021-01-18 at 21 29 46" src="https://user-images.githubusercontent.com/1001877/104964532-77a25c00-59d4-11eb-8ce6-8fa07966a897.png">

[2021-01-18 21:34] Swiftnesses commented on #267
Also, when I click debug, I get:

[code]

[2021-01-18 22:03] LordMike opened #268 "[feat] Do not mark API responses as retain"
**Is your feature request related to a problem? Please describe.**
When retain is enabled in the MQTT configs, it seems API responses are _also_ retained on MQTT. I don't think this is appropriate - at least it confuses my app, since the response (from last query) is "ready" before I send a new query.

**Describe the solution you'd like**
Do not retain api responses, even when retain is enabled fo

[2021-01-18 23:13] LordMike commented on #186
Hey - just wanted to report back that I'm now using get/add/remove associations to setup my home.

In the pic below, my program took a file I created that maps desired associations, and applies them to the result of getAssociations (to get add and remove). What we see here is partly that apparently the lifeline association for the devices has *two* associations with the controller.. I tested, and

[2021-01-18 23:23] LordMike commented on #186
The warning I showed before, [comes from here](https://github.com/zwave-js/zwavejs2mqtt/blob/fe2c214f3b2270c5671f761e8818b26850dbe970/lib/ZwaveClient.js#L1457-L1472) - but even though the method threw an exception, the associations were removed from Z2M.

I've refreshed the nodes, and the associations are still gone - so I think it came through.

[2021-01-19 00:24] LordMike opened #269 "[bug] Sending '000000' to new hexColor yields error"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: `dev`, with new hexColor valueId

**Describe the bug**
The new hass templates indicated to me the format of the RGB value was all hex, ie `112233`, and not as with Z2M: `#112233`. So I went with this.

Sending f.ex. `ffffff` turns a light all white, but conver

[2021-01-19 00:25] LordMike commented on #269
I'm workarounding this by sending `#000000`, which works like in Z2M. Luckily, `#FFFFFF` also works, so all my values will be with a hashtag :).

[2021-01-19 00:32] LordMike commented on #269
@robertsLando you can optimize the template here, by not parsing the value as hexadecimal, to present as integers ... you can just return hexadecimal :)

F.ex., `{{ value_json.value[0:2] | int(0, 16) }},{{ value_json.value[2:4] | int(0, 16) }},{{ value_json.value[4:6] | int(0, 16) }}` can become: `#{{ value_json.value }}`

https://github.com/zwave-js/zwavejs2mqtt/blob/fe2c214f3b2270c5671f761e8818b

[2021-01-19 01:20] ivdimitro opened #270 "[question] Creating custom "climate" device"
In zwave2MQTT i had created custom configuration for Aeotec TRV (SPIRIT ZWAVE PLUS). But unfortunately i can't migrate the configuration. I have tried two different customDevices.json files but both of them throw different error:

[code]

[code]

Around the Node Id discovery code I found comments "// TODO: Zwavejs doesn't support polling right now"
So I am not sure if adding custom climate devices

[2021-01-19 07:09] robertsLando commented on #270
Hi @ivdimitro, in docs I have explained that the old devices need to be translated: https://zwave-js.github.io/zwavejs2mqtt/#/guide/migrating

Anyway now climate devices should be automatically discovered. Could you try to remove it from customDevices and see if it's discovered?

[2021-01-19 07:10] Swiftnesses commented on #267
Reverted back to 'latest' and it's working again - appears to be an issue with the dev docker.

[2021-01-19 07:11] robertsLando commented on #269
Are you sure about that? Did you tested it in hass?

@LordMike about the issue, are you sending the value from mqtt or from the ui?

[2021-01-19 07:29] robertsLando commented on #267
@Swiftnesses Let me check this.

cc @AlCalzone

[2021-01-19 07:30] robertsLando commented on #268
@LordMike yep seems legit :)

[2021-01-19 07:34] #268 closed

[2021-01-19 07:34] robertsLando commented on #268
@LordMike Fixed on master

[2021-01-19 08:16] robertsLando commented on #257
@LordMike See the new labels:

https://github.com/zwave-js/zwavejs2mqtt/runs/1726326203#step:7:38

[2021-01-19 08:55] ivdimitro commented on #270
Hi, the auto discovery of "climate" works OK. The issue is with applying the customDevices.json. I want to expose the valve control of the thermostat and a few values as stand alone sensors.
From the error message "Cannot read property 'id' of undefined Cannot read property 'id' of undefined" I can't understand what id it is missing. The "device ID" is clearly visible in the GUI and is the same as

[2021-01-19 09:08] LordMike commented on #269
I tested it in HASS - and the colors changed on my lights, but I _am_ seeing logs that indicate it doesn't work.. So I'm not sure why the color changes I see, happen.. :|

[2021-01-19 09:12] haavardNO commented on #198
I can confirm that both my keyfob and wallcontroller now works with standard state change in Home Assistant.
Thanks for the fix.
And I must also say that my zwave network is much more responsive with zwavejs2mqtt compared to zwave2mqtt. When activating big scenes with many nodes it act instantly, compared to the other version that is much slower.

[2021-01-19 09:17] #257 closed

[2021-01-19 09:21] robertsLando commented on #186
Humm really strang. @AlCalzone Do you know why this hjappens ?

@LordMike COuld you send me a log output of zwavejs when you send the removeAssociation command? So we can see what's going on in the lower level

[2021-01-19 09:22] robertsLando commented on #270
Send me the template you used so we can check. Anyway that errors about the undefined id means that a value id in your template is wrong

[2021-01-19 09:23] robertsLando commented on #267
@Swiftnesses Could you try to pull last `dev` tag please?

[2021-01-19 09:25] ivdimitro commented on #270
Here is template which can not add the climate object but adds the "cover" and the sensors. The topics for the cover and the sensors are not corrected as I stuck on the climate which should be correct.
[tempalte](https://github.com/ivdimitro/node-zwave-js/blob/wrong_custom_files/customDevices.json.migrated)

[2021-01-19 09:30] robertsLando commented on #270
[code]

This are wrong, if you check your valueids you will not find this ids in control panel. `heat` and `eco` should be a number property, `heat` it's `1` eco I don't remember. Check the thermostat setpoint cc in control panel and copy the value ids you see there

[2021-01-19 09:35] ivdimitro commented on #270
Thanks for the quick reply. I thought I can define more human readable values.

[2021-01-19 09:37] haavardNO opened #273 "[question] Support for ZME_054436 scene commands"
I have a ZME_054436 wall controller. Not realy sure if it is a Düwi or zwave.me product.
![image](https://user-images.githubusercontent.com/27728530/105014390-ab1ad000-5a40-11eb-86d1-820803afe70a.png)

Previously I have had this up and running when I was using Indigo as zwave controller (also aeotech usb stick)
The trick is to modify parameter 13 and 14.
It will then be possible to trigger scenes:

[2021-01-19 09:40] AlCalzone commented on #186
Which one? Which device?

[2021-01-19 09:41] robertsLando commented on #270
@ivdimitro I don't decide the valueIds, those come from zwave-js

[2021-01-19 13:20] LordMike commented on #186
ZDB5100 from Logic Group. Apparently, there are two associations to node 1 - one targeting endpoint 0, and one targeting endpoint 1. I've now removed the one targeting endpoint 1, and written to the company asking why it might be there. The device works without this association (I still get updates etc..). It's my impression that having two, just makes for double the traffic.

[2021-01-19 13:25] LordMike commented on #257
Neat. Looks cool - will definitely make it easier to know if I'm definitely running some hash.

I'm guessing that getting the hash of zwavejs is tricky?

It's my impression that the dev builds include latest/master builds of zwave-js, so in order to verify if a bugfix applies (and doesn't work), it'd be beneficial to know this hash as well.. Perhaps it could be shown in the UI / logs instead, if t

[2021-01-19 14:34] Swiftnesses commented on #267
Just pulled dev and it still crashes - I'll try and capture the error.

[2021-01-19 14:35] Swiftnesses commented on #267
@robertsLando:

[code]

[2021-01-19 14:35] Swiftnesses commented on #267
Looks to be the same error as before ^^^ ?

[2021-01-19 15:10] AlCalzone commented on #267
This means there is some wrong version of `@zwave-js/config` in the image. Don't know why though.

[2021-01-19 15:12] AlCalzone commented on #267
https://unpkg.com/browse/zwave-js@6.0.0-beta.3/build/lib/commandclass/MeterCC.js#L334
uses:
https://unpkg.com/browse/@zwave-js/config@6.0.0-beta.3/build/ConfigManager.js#L223

[2021-01-19 15:59] robertsLando commented on #257
It's showed on the UI :)

[2021-01-19 16:19] #269 closed

[2021-01-19 16:40] ivdimitro commented on #270
Thanks for the help, everything works as before.

[2021-01-19 16:40] #270 closed

[2021-01-19 17:11] bdbogjoe commented on #239
do you need any testing on this ?

[2021-01-19 17:20] LordMike commented on #257
I can't find it :O

But neat.

[2021-01-19 17:28] #163 closed

[2021-01-19 17:30] robertsLando commented on #257
Oooh nope I had to add it but I forgot, the one shown is the z2m version. Could you add an issue as a reminder?

[2021-01-19 17:59] Pentelfrost opened #275 "[question] Fibaro roller shutter unable to control using MQTT"
Not sure if this is a bug or user error on my part.

I've got a Fibaro roller shutter which I included correctly and I am able to control it from the web interface just fine. It shows up as a dimmer and a switch both of which operate as expected.

My MQTT broker gets topics added which match what is expect and I can see currentValue for both and it looks to be correct.
It also publishes the correc

[2021-01-19 18:01] Pentelfrost commented on #275
Also I'm running this using the docker container which I deployed a couple of days ago.

[2021-01-19 18:07] LordMike opened #276 "[feat] Display the git hash of zwave-js in labels/logs/ui of zwavejs2mqtt"
Oooh nope I had to add it but I forgot, the one shown is the z2m version. Could you add an issue as a reminder?

_Originally posted by @robertsLando in https://github.com/zwave-js/zwavejs2mqtt/issues/257#issuecomment-762999052_

[2021-01-19 18:19] LordMike opened #277 "[bug] Marking excluded node as failed, yields error"
**Version**

Build/Run method
- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: d98fd7e8541a722b89a0e65fcfaca14b6b589cb2

**Describe the bug**
I excluded a node, and wanted to re-include it with the same id. Couldn't do that, as the replace failed required it to be failed - so I used "mark node as failed". That in turn errored out. I have

[2021-01-19 18:36] LordMike commented on #186
Oh. Well, they've definitely been added using OZW. Re-including with zwave-js did not yield the 1.1 association.

[2021-01-19 18:44] LordMike commented on #186
### zwavejs2mqtt
[code]

### zwave-js
[code]

@AlCalzone notice the `[object Object] => [object Object]` line.. bug? :)

@robertslando here are the logs. It doesn't seem like zwave-js reports anything odd, perhaps except that the association report comes in twice?

[2021-01-19 19:19] LordMike opened #278 "[feat] Add some kind of transaction id to API responses"
**Is your feature request related to a problem? Please describe.**
When issuing `getNodes` or similar over MQTT, it can take a long time to get a response. Likewise, when issuing many commands over MQTT, like `setValue` or `getAssociations`, it can be tricky to seperate requests from responses, since the responses all look alike. At least for those with arguments, one can compare the arguments to

[2021-01-19 19:30] LordMike opened #279 "[feat] hexColor updates three times, when set - HASS jumps around"
**Is your feature request related to a problem? Please describe.**
When changing the `hexColor` (which works great, btw..), three updates are pushed back - one for each component with gradually changing hexColors.. Like, if I push out `ffffff` to something that has `000000` today.. It reports back `ff0000`, `ffff00` and finally `ffffff`.

In HASS, this means the colorpicker, and shown color bounce

[2021-01-19 19:51] dvbit commented on #139
Sure.
I mean that I would like to know if a device like a switch has changed its status due to a physical action (being pushed) or programmatically via mqtt setvalue or an automation.
I have some automation that stop working for a set time if the user pushes a button.
Example : light goes off after 5 min of no movement but if light was manually turned on that time limit is changed to say 10 min or

[2021-01-19 20:39] LordMike commented on #182
I've come to think it would be infeasible to change zwave-js' output.. It relies heavily on the formatting to be legible.

[2021-01-19 20:39] #182 closed

[2021-01-19 21:57] AlCalzone commented on #186
It does look like 20:2 was successfully removed. The duplicate report is a result of polling after the command. I'm working on a more general solution for that.

[2021-01-19 22:01] AlCalzone commented on #186
And that is totally a bug. Seems like your device only supports Multi Channel Associations, but that should not raise an error.

[2021-01-20 02:48] towerhand opened #280 "[question] GE fan switches"
This is the Hass device JSON that was created by zjs2m for the GE fan I have, which doesn't work with HA.
[code]

After changing the "command_topic" to "targetValue/set" seems to work for turning it on and off in HA and showing "99" as a Current value in the Multilevel switch info for the node (in zjs2m) but changing the speed shows 19 for low and 38 for medium instead of the 24 and 50 like the in

[2021-01-20 05:58] jcam commented on #78
I have an RGBW dimmer that I attempted to set up. It used to just show up as 4 separate "dimmers" with one master dimmer that controlled the rest.
With this RGB support I can now control the three colors from the color dial in Home Assistant, but not white. Not sure what would be needed to make that work.
Also, the off switch doesn't work :)

[2021-01-20 07:30] robertsLando commented on #78
@jcam Could you open an issue and send the node export ?

[2021-01-20 07:33] robertsLando commented on #278
Absolutely! Nice idea :)

[2021-01-20 07:45] robertsLando commented on #280
@towerhand That's a typo, fixing now, about the payload check: https://www.home-assistant.io/integrations/fan.mqtt/

COuld you try to set it as a string instead of a number? Unfortunally I don't have a fun to test so you should try to fix the template your own then I can fix it on my side once you find a working one. ATM I will fix the command template

[2021-01-20 07:46] robertsLando commented on #280
Here is the fix: 0d0fbd678070dc2e979a809363815628b5a8a5d8

[2021-01-20 07:59] robertsLando commented on #275
@Pentelfrost Firstly try to use latest `dev` docker container. Then also attach some logs here when you send commands so I can see what's happening

[2021-01-20 08:00] robertsLando commented on #277
@LordMike I think that the actual zwave js version still doesn't have the api?

[2021-01-20 08:06] #278 closed

[2021-01-20 08:09] robertsLando commented on #278
@LordMike Ready :rocket:

[2021-01-20 08:26] Pentelfrost commented on #275
Actually I'm going to close this. Late last night I pulled the docker container again using latest and now I see the correct topics under zwavejs2mqtt/Cinema_Screen/38/0/ one of which is targetValue and now publishing a set value correctly passes through to the device.

[2021-01-20 08:26] #275 closed

[2021-01-20 09:11] #276 closed

[2021-01-20 10:54] robertsLando commented on #267
I'm quite sure this is a user issue, @Swiftnesses pplease try with a clean installation to see if this happens. I have just rteleased a new version now

[2021-01-20 10:54] #267 closed

[2021-01-20 11:30] raymonvdm commented on #227
I already changed it, and yesterday i had the time to test it and is working fine :-)

[2021-01-20 11:43] LordMike commented on #278
Wouldn't this still require me to compare json objects? :)

[2021-01-20 12:36] robertsLando commented on #278
@LordMike If you add an id to the request message, you will find the same id in the response payload `origin.id`

[2021-01-20 13:05] towerhand commented on #280
Looks like the same is happening with the dimmers, for example I have the outside lights to turn on at brightness 62 and 255 depending if there’s motion or not, but it’s not activating the right value (9 and 38 instead).I think It’s due to a newer change, I think I would have noticed earlier otherwise.

[2021-01-20 13:21] jcam opened #285 "Dimmers no longer go to 100% in rc0"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.0

**Describe the bug**
Attempting to set the brightness of a standard (non-RGB) dimmer no longer will go to 100%.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy zwavejs2mqtt rc.0
2. Set the brightness of a dimmer to 87% in HASS
3. Obser

[2021-01-20 13:26] jcam opened #286 "With latest RGB updates, existing RGB dimmer stops working"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.0

**Describe the bug**
The "master dimmer" of an existing RGBW dimmer (Zooz zen31) stops working with the latest update, the entity must be removed and re-added to HA

**To Reproduce**
Steps to reproduce the behavior:
1. Get set up with the 1.0.0-bet

[2021-01-20 13:35] jcam opened #287 "RGBW Dimmer: Can't control white"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.0

**Describe the bug**
White does not show up on the color picker for an RGBW dimmer (Zooz zen31)

**To Reproduce**
Steps to reproduce the behavior:
1. Get set up with the 1.0.0-rc.0 zwavejs2mqtt
2. Rediscover a zooz zen31 RGBW dimmer
3. Open the RGB

[2021-01-20 13:40] jcam opened #288 "RGBW Dimmer: On/Off control does not function"
**Version**

Build/Run method
- [ ] Docker
- [ ] PKG
- [X] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.0

**Describe the bug**
On/Off control fails to function for an RGBW dimmer (Zooz zen31)

**To Reproduce**
Steps to reproduce the behavior:
1. Get set up with the 1.0.0-rc.0 zwavejs2mqtt
2. Rediscover a zooz zen31 RGBW dimmer
3. Open the RGB dimmer co

[2021-01-20 14:15] robertsLando commented on #278
Yep was to keep back compatibility but I could remove it

[2021-01-20 14:16] towerhand commented on #280
Which is the same as #285 so we can close this issue, I just stumbled on the same problem when trying to get my fan switch to work.

[2021-01-20 14:18] towerhand commented on #280
The docs have the same typo in the custom component fan example.
https://zwave-js.github.io/zwavejs2mqtt/#/guide/homeassistant

[2021-01-20 14:23] AlCalzone commented on #287
FYI, Z-Wave supports warm white and cold white, so you might wanna support both. And `Amber`, `Cyan` and `Purple` if you want to get really funky. And theoretically, a device could just support `Red` and `Blue`, bot not `Green` 🤷🏻‍♂️

[2021-01-20 14:27] jcam commented on #287
HA does support those alternatives too (well, at least warm vs cool white), my rgb tuneable white zigbee bulbs have a slider for color temperature instead of a white level adjustment

[2021-01-20 14:51] blhoward2 commented on #285
Note that by math we figured our has is sending 87/99 but the dimmer is acting on 87/255.

[2021-01-20 15:31] robertsLando commented on #285
Ok So this is due to

 https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L713

It has always been there, I know someone reported it as working for dimmers as they send values from 0-255 and dimmers get values 0-99. Now if you say it's not used I will remove it

[2021-01-20 15:34] robertsLando commented on #285
@jcam Could you try with #290? It should fix 2 of your issues

[2021-01-20 15:55] blhoward2 commented on #285
Isn’t the scale determined in the math of the command_on topic in the switch discovery? You’re doing that same math there.

[2021-01-20 16:06] robertsLando commented on #285
The question is, why it was working before :laughing:

[2021-01-20 16:06] robertsLando commented on #285
@blhoward2 Please give that branh a try

[2021-01-20 16:12] robertsLando commented on #280
This is fixed in #290 . COuld you give it a try?

[2021-01-20 16:23] blhoward2 commented on #285
@robertsLando I'm not on master because the basic set one is behind, so I haven't encountered the issue. @Jesse should test that PR.

[2021-01-20 16:24] ragenhe opened #291 "First Alert ZWave Combo [question]"
I've converted from Home Assistant native zwave support to zwavejs2mqtt.

So far so good.  I hope to contribute to this great project.

Is the First Alert ZWave Combo Smoke / CO2 detector supported?

I have excluded it and included it without issue.  I know it can take some time for a battery device to complete the query process, but I'm not sure if it is just taking a while to show it's details o

[2021-01-20 16:26] #249 closed

[2021-01-20 16:27] robertsLando commented on #285
@blhoward2 ok now it is, the PR about CC basic has been merged

[2021-01-20 17:02] towerhand commented on #280
I’ll try testing in a few hours when I get home if know else beat me to it.

[2021-01-20 17:44] lucguinchard commented on #253
Sorry for this late return.
I don't have Slack. My Z-wave key is a GPIO key for RPI.
I will try to do some new tests soon.
Is there a recommended version of NodeJS and npm?

[2021-01-20 17:47] jcam commented on #285
I've tested with #290 , it fixes this issue, thanks! Testing the others now...

[2021-01-20 18:01] jcam commented on #288
This is resolved by #290 , the on/off control is now functioning correctly!

[2021-01-20 18:02] jcam commented on #287
With #290 there is now a white control, but it does not adjust the white level of this dimmer.

[2021-01-20 18:10] jcam commented on #288
This is partially resolved by #290 , the on/off control will now turn on and off the fixture!
A couple niggles:
- When turning on the fixture by just clicking on the brightness bar, the on/off status does not always get updated, despite the fixture turning on. It took 2 or 3 adjustments of the brightness before it showed up as "on"
- When turning on with the on/off switch control, the brightness g

[2021-01-20 18:29] towerhand commented on #280
Looks like someone already confirmed this fix works. Thanks.

[2021-01-20 18:29] #280 closed

[2021-01-20 18:52] jcam commented on #286
This issue is resolved by #290 ! Thanks!

[2021-01-20 18:57] robertsLando commented on #287
@jcam check stack overflow to help me debug this

[2021-01-20 20:06] dvbit opened #292 "[question] is the information on node state transmitted via mqtt?"
Is there a way to know if a device is unavailable , in sleep state or dead via mqtt?

[2021-01-20 20:21] Swiftnesses commented on #267
@robertsLando I use Docker and always wipe out my install (only the config files are retained).

It still happens using the latest version (lastest, still works, for now).

[2021-01-20 20:51] LordMike commented on #186
Should we close this, now that zwave-js has an issue?

[2021-01-20 20:52] LordMike commented on #277
Exciting - it's _that_ new? :)

If so - we can just close this.

[2021-01-20 20:55] LordMike commented on #254
In HASS, it's quite simple. If you remove the retained discovery document for an entity, the entity disappears in HASS. If all entities from a device disappear, the device itself disappears.

An zwave2mqtt at least, did not push discovery documents unless it had to. So simply removing the mqtt topics, will remove it from HA "entirely".. .. in quotes, as the logger will still have data in it, so if

[2021-01-20 21:11] LordMike commented on #278
Entirely up to you. I'm satisfied :)

[2021-01-20 21:23] AlCalzone commented on #186
fixed, the logic had a little bug when trying to remove only multi-channel associations

[2021-01-20 22:01] #186 closed

[2021-01-20 22:17] LordMike commented on #292
There is this setting in the settings page:

![image](https://user-images.githubusercontent.com/1027111/105247764-9e4bc880-5b75-11eb-8468-cfcc565309f7.png)

So I'd think yes, since you can disable it. Have you looked at the topics available?

[2021-01-20 22:19] LordMike opened #294 "[question] Are dimmers still scaled down from 0..255 to 0..99 ?"
One of my pet peeves with z2m was that in some cases, it would scale the light values from a supplied `0..255` range to a `0..99` range. I was hoping this scaling wasn't present in zwavejs2mqtt, as it was a new project and it was possible to make breaking changes :)..

I'm seeing logs like this, so I guess it is. Is there a way to disable this scaling?

[code]

[2021-01-20 22:20] LordMike commented on #292
On my mqtt server, I get these topics:

![image](https://user-images.githubusercontent.com/1027111/105248055-0b5f5e00-5b76-11eb-8bfa-515cfcf7f67b.png)

[2021-01-20 22:25] LordMike commented on #294
I actually may have my own answer.. Gateway.js scales multilevels in those ranges, but unlikc z2m, I can disable that code path by not having hass discovery..

https://github.com/zwave-js/zwavejs2mqtt/blob/3c6b99ec307f09924a962c4bdfc29d0509a95462/lib/Gateway.js#L705-L715

So I've disabled hass discovery.. :)

[2021-01-20 22:25] #294 closed

[2021-01-20 23:27] blhoward2 commented on #285
This also works fine for me, though I wasn't on master so I can't confirm that I was experiencing the problem to begin with...

[2021-01-20 23:44] LordMike opened #296 "[feat] Avoid issuing noop-commands"
**Is your feature request related to a problem? Please describe.**
I have a light-dimming thingy that gradually changes light brightness during the day, it works through HASS by setting the brightness on lights it controls. HASS then in turn sends the command to zwavejs2mqtt, but since HASS doesn't check if the brightness being set is the same as it was already, it sometimes sends commands that do

[2021-01-20 23:52] blhoward2 commented on #285
You can build it pretty easily with docker. Follow the directions at the bottom here to clone the zwave2jsmqtt repo so you have the dockerfile. Then run:

`DOCKER_BUILDKIT=1 docker build --build-arg SRC=git-clone-src --build-arg Z2M_BRANCH=fix-dimmers --build-arg ZWJ_BRANCH=master --no-cache -f zwavejs2mqtt/docker/Dockerfile.contrib -t zwavejs2mqtt .`

[2021-01-21 00:31] towerhand commented on #285
Thanks @blhoward2, I'll give it a try.

[2021-01-21 02:53] jcam commented on #294
With the fix-dimmers branch, this scaling will be removed entirely :)

[2021-01-21 08:17] robertsLando commented on #296
What I don't understand is why you are sending this commands every 90 seconds. IMO this should be handled on your side

[2021-01-21 08:25] robertsLando commented on #292
Thanks @LordMike

[2021-01-21 08:25] #292 closed

[2021-01-21 08:31] #254 closed

[2021-01-21 08:32] robertsLando commented on #254
@LordMike This could be good to add to docs, if you have time :)

[2021-01-21 08:33] robertsLando commented on #277
@LordMike It has been removed after some thoughts, check #289

[2021-01-21 08:33] #277 closed

[2021-01-21 08:34] robertsLando commented on #267
@Swiftnesses I cannot reproduce this, I suggest you to remove the dev image completely from your pc and pull it again

[2021-01-21 08:36] robertsLando commented on #253
Use latest LTS (node 14)

[2021-01-21 08:37] #286 closed

[2021-01-21 08:38] #287 closed

[2021-01-21 08:51] Swiftnesses commented on #267
I always do this... I'll look when there's more time - I don't think it's a use case though.

[2021-01-21 09:07] cbho opened #298 "[feat] Size and/or time limit on logs"
**Is your feature request related to a problem? Please describe.**
Not really a problem - just a suggestion.

**Describe the solution you'd like**
The latest improvement with moving logs to the persisting volumes in Docker and now being able to handle logs in the GUI is absolutely fantastic!
That has also lead me to notice the size of the logs - especially the z-wave log can really grow big.

I gu

[2021-01-21 09:22] robertsLando commented on #298
@cbho Why not use logrotate for that?

[2021-01-21 09:24] robertsLando commented on #298
@cbho log to file should be enabled only when you want to debug things, that should never be enabled by default

[2021-01-21 10:36] cbho commented on #298
@robertsLando:
Re: logrotate:
Because I didn't know about it ;-) (I'm only an happy amateur trying to find my way around ;-))

But, on a more serious note:
It seems like zwavejs2mqtt might reach a lot of people (as proposed in this topic in the [Home Assistant forum](https://community.home-assistant.io/t/can-we-revisit-the-move-to-qt-openzwave/262612)).
Inevitably, with a potential increase in use

[2021-01-21 10:41] robertsLando commented on #298
Inevitably, with a potential increase in user base like that, it will lead to a lot of users who has only basic knowledge about the underlying systems (like me) and will make all the basic mistakes (like me) causing a lot of support requests.

[2021-01-21 12:41] dvbit commented on #254
Thanks! might be worth adding to the docs :-)

[2021-01-21 13:06] jcam commented on #285
Resolved by #290

[2021-01-21 13:06] #285 closed

[2021-01-21 13:21] #239 closed

[2021-01-21 13:22] #288 closed

[2021-01-21 15:41] robertsLando commented on #85
@jmgiaever Sorry for the delay in this, there is an open PR ready :)

[2021-01-21 16:19] #85 closed

[2021-01-21 18:36] LordMike commented on #254
@robertsLando I think this file is appropriate?

https://github.com/zwave-js/zwavejs2mqtt/blob/91eef10f24c6568aefd51aad5c77f7e771d8eb53/docs/guide/homeassistant.md

[2021-01-21 18:37] LordMike commented on #296
I figured as much. I'll poke at the guys making the dimming thingy.... Just looked it up.. "Adaptive Lighting" they call it.. :P

[2021-01-21 18:37] #296 closed

[2021-01-21 18:51] LordMike opened #309 "[feat] API to issue getValue for a single value"
**Is your feature request related to a problem? Please describe.**
On topic with the polling we're discussing elsewhere, perhaps an API to `getValue` for a single thing? :)

There is `refreshValues` right now, but it's probably too much if just one value is desired.

**Describe the solution you'd like**
Add a `getValue` API accepting the node, cc, endpoint and index (and possibly partial value). F

[2021-01-21 19:49] tommyjlong commented on #244
Just tested with 1.0.0-rc.1.5846763.  This works now. I will go ahead and close.

[2021-01-21 19:49] #244 closed

[2021-01-21 20:23] sneakpaw opened #310 "[bug] Set-commands from MQTT not working"
### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.1
zwavejs version: 6.0.0

### Describe the bug

MQTT "set"-messages don't work. Triggering the same from the web-ui works.

### To Reproduce

Set Gateway to payload-type JSON time-value

#### Example 1 (Zipato | RGBW Bulb V2)
Current Value:
* Topic:

[2021-01-21 20:31] chrish987 opened #311 "MQTT retain setting per item in Gateway config [feat]"
It would be nice to be able to set the RETAIN flag on a per message basis in the gateway config rather than just globally. Some messages (e.g. light status) are more relevant for retained messages than others (e.g. a PIR motion alert).

Setting could either replace or override the global setting in MQTT config.

Not sure if this is useful for others, I am using the software with all messages manua

[2021-01-21 21:38] tommyjlong opened #312 "[bug] Gateway - Manual mode not working"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.1.5846763
zwavejs version: 6.0.0

### Describe the bug
Using the GUI, I have configured the gateway Type for "Configured Manually" mode with

[2021-01-22 08:58] robertsLando commented on #312
@tommyjlong Thanks for the issue, PR ready

[2021-01-22 09:01] #312 closed

[2021-01-22 09:17] sneakpaw commented on #310
The idea I had while writing the "Additional context" seems to be part of the issue. I reconfigured to remove the `raw/` mount-point. and when trying to set my first example from above actually leads to further log-messages:
[code]
(the payload can actually be just `true` too)

I cannot see the visible results right now, but I will check later.
I'm not sure if that's an issue with zwavejs2mqtt or

[2021-01-22 09:47] robertsLando commented on #310
@sneakpaw When you say mount point, you mean the prefix set on mqtt settings?

[2021-01-22 09:49] robertsLando commented on #309
@LordMike Is the getValue api available in zwave-js? I didn't saw it

[2021-01-22 09:52] robertsLando commented on #254
@LordMike Yepp!

[2021-01-22 09:54] sneakpaw commented on #310
No. Mosquitto has the ability to restrict a tcp-listener to a specific topic (and its subtopics). In my case that would be:
[code]
zwave2mqtt only has `z-wave` configured.
So anyone who connects to 1873 should only see `raw/#`, but as `#` (without the `raw/`).
This was the behaviour in mosquitto 1.6, but it seems, that the upgrade to 2.0 broke that.

The main reason, why I had the end point was be

[2021-01-22 09:55] robertsLando commented on #309
@LordMike If you mean https://zwave-js.github.io/node-zwave-js/#/api/node?id=getvalue, that only fetches the value from the cache and doesn't refresh it

[2021-01-22 09:59] robertsLando commented on #310
So It's a bug with mosquitto not zwavejs2mqtt?

[2021-01-22 10:06] sneakpaw commented on #310
Yes, I think so too.
But the bug just broke a workaround I had for a missing feature in zwave2mqtt.

The issue I had is "fixed", or rather no longer relevant here.
If you want to add support for multi-part mqtt prefixes, that would be nice, but not strictly necessary any more for me.

[2021-01-22 10:06] #310 closed

[2021-01-22 10:09] #106 closed

[2021-01-22 10:09] #77 closed

[2021-01-22 10:10] robertsLando commented on #130
Closing this

[2021-01-22 10:10] #130 closed

[2021-01-22 10:14] robertsLando commented on #118
@blhoward2 Is this fixed?

[2021-01-22 10:16] robertsLando commented on #148
https://devices.zwave-js.io/

[2021-01-22 10:16] #148 closed

[2021-01-22 10:17] #161 closed

[2021-01-22 10:17] #228 closed

[2021-01-22 10:17] #232 closed

[2021-01-22 10:18] AlCalzone commented on #148
Still work in progress, but yup - that's the one.

[2021-01-22 10:18] robertsLando commented on #233
@ahochsteger I think this can be closed right?

[2021-01-22 11:26] larstobi opened #318 "[bug] Unable to mark dead node as failed node to remove it"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

docker image: zwavejs/zwavejs2mqtt:dev  (0c5cfa16d4a2)
zwavejs2mqtt version:  1.0.0-rc.1
zwavejs version: 6.0.0

### Describe the bug
When trying to remove a dead not, mark

[2021-01-22 11:29] larstobi commented on #318
<img width="1768" alt="Screenshot 2021-01-22 at 12 28 52" src="https://user-images.githubusercontent.com/64238/105485597-70699f80-5cad-11eb-9a24-2c090edd37da.png">

[2021-01-22 11:50] ahochsteger commented on #233
Yes, the problem didn't occur anymore for my setup.

[2021-01-22 11:50] #233 closed

[2021-01-22 11:56] robertsLando commented on #318
@larstobi I think that if you try to use zwavejs 6.0.1 it should work. It has been released yesterday and I forgot to bump it! It has added a ping to automatically detect a node as failed when calling replace/remove failed. Could you try?

[2021-01-22 12:16] larstobi commented on #318
Yes, trying now, will report back in an hour or two.

[2021-01-22 13:45] bdbogjoe opened #320 "[bug] Unable to create scene with one node which requires boolean value as targetValue"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ]   PKG
- [ ]   Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

I want to create one scene with one node accepting boolean value (level up), but getting error

[2021-01-22 13:46] #320 closed

[2021-01-22 13:46] robertsLando commented on #320
@bdbogjoe Fixed :rocket:

[2021-01-22 13:52] ragenhe opened #321 "Best practice for MQTT server location? [question]"
First, the intended question:
Is is best practice, or better, to locate the MQTT server on the same host via Docker as zwavejs2mqtt?  Or is it more of a personal preference to the individual?

Next, I decided to run the DEV tag in docker, and if needed would like to help the project by testing, or offering feedback of what I am experiencing within my home automation environment, which consists of

[2021-01-22 13:56] robertsLando commented on #321
Most times broker is on the same host as zwavejs2mqtt, it's easier and in most cases there are no reasons to don't do this, it's a personal choice.

About the help, feel free to update/add docs, it's more then welcome :)

[2021-01-22 13:56] #321 closed

[2021-01-22 15:00] blhoward2 commented on #118
I don’t believe so. I’ll check later.

[2021-01-22 15:29] larstobi commented on #318
@robertsLando I have now tried again with 6.0.1, but it still doesn't get removed, although it behaves differently.

In the log:
[code]
And I get no notice in the WebUI if the command failed or succeeded.
The node is still there, marked as Dead instead of Removed.

[2021-01-22 16:06] carldebilly commented on #228
@robertsLando I can see and operate the climate device, that's not the problem.

What I don't know how - maybe it juste missing guidance - is how to "push" the external outdoor temperature to my thermostat.

[2021-01-22 16:07] robertsLando commented on #318
@larstobi I suggest to also attach the zwavejs log so we can see what's going on.

cc @AlCalzone

[2021-01-22 16:08] robertsLando commented on #228
You can do this from the UI control panel, or via mqtt. Check docs: https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt

[2021-01-22 16:33] AlCalzone commented on #318
As always, if something that communicates with the device or controller is not working I need logs.

[2021-01-22 16:39] carldebilly commented on #228
I see.. but here's what I see in the UI for this device:
## Sections
![image](https://user-images.githubusercontent.com/4174207/105518056-cb979400-5ca5-11eb-9cea-c23dd6213bd1.png)

## Thermostat Mode
In the **Thermostat Mode** I can see a `manufacturerData` field... but setting it to something doesn't seem to produce what I want (nothing appears on the device by setting a temperature like 10.5)
![

[2021-01-22 17:47] larstobi commented on #318
[zwavejs_1.log](https://github.com/zwave-js/zwavejs2mqtt/files/5857587/zwavejs_1.log)

[zwavejs2mqtt.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/5857594/zwavejs2mqtt.log.gz)

[2021-01-22 17:47] larstobi commented on #318
@AlCalzone @robertsLando Is this sufficient?

[2021-01-22 17:56] AlCalzone commented on #318
Can check when I'm back on the computer

[2021-01-22 19:54] AlCalzone commented on #318
@larstobi not enough, sorry :(
Two problems:
1. The loglevel isn't high enough (should be silly)
2. Looks like your stick does something weird:
[code]

[2021-01-22 19:56] larstobi commented on #318
I have since enabled debug logs. Will upload those soon, and then enable silly.

[2021-01-22 19:57] AlCalzone commented on #318
Debug might be enough I think.

[2021-01-22 20:19] larstobi commented on #318
@AlCalzone Here you go! Let me know if debug wasn't enough. :-)

[zwavejs2mqtt.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/5858368/zwavejs2mqtt.log.gz)
[zwavejs_1.log.gz](https://github.com/zwave-js/zwavejs2mqtt/files/5858375/zwavejs_1.log.gz)

[2021-01-22 20:23] larstobi commented on #318
I tried to mark failed and remove failed nodes 45 and 92, just prior to the timestamps "20:11:40".

[2021-01-22 20:56] AlCalzone commented on #318
I'm not seeing that tbh.
Remove failed first pings the node (I'm not seeing that message go out), and if that comes back negative (because otherwise the node cannot be removed), sends a `RemoveFailedNodeRequest` to the controller. The only instance of `RemoveFailed` is in the controller's list of supported commands.

[2021-01-22 21:40] ahochsteger commented on #259
Here's a draft PR for the nodes table UI optimizations: https://github.com/zwave-js/zwavejs2mqtt/pull/332

[2021-01-22 22:11] larstobi commented on #318
Hmm, that is weird. So, basically the node ping doesn't go out.

Would a new silly log help?

[2021-01-22 22:12] larstobi commented on #318
Wait.... Now, when I refreshed the page of zwavejs2mqtt both Node 45 and Node 92 are in status Removed.

[2021-01-22 22:20] AlCalzone commented on #318
@robertsLando Can you make any sense of this?
zwave-js does not have a status "removed"

[2021-01-22 22:23] robertsLando commented on #318
Removed is the state I use for nodes that doesn't exists, them are hidden by default, you need to enable the flag "show hidden nodes" in order to see them

[2021-01-22 22:28] larstobi commented on #318
I didn't do anything further. So, something must have worked.

This is the last log line from Node 045 before it was never heard from again:
[code]

In the zj2m log it says:
[code]
So, maybe it wasn't so dead afterall, but still managed to get removed.

Node 92 is 100% dead, I have physically verified it. It got removed a good while after I tried to remove it, like 49 minutes after:
[code]

[2021-01-22 22:31] AlCalzone commented on #318
Hm there's definitely something funky going on. The whole removal process should be a matter of seconds.

[2021-01-23 09:48] robertsLando commented on #318
@AlCalzone suggestions about how to debug this or about the root cause? Is it something on my side?

[2021-01-23 09:50] robertsLando commented on #228
@carldebilly If your goal is to set the setpoint you should use the thermostat setpoint CC. ANyway when you say "How can I know which field to use and the format of the data to send" do you mean the MQTT format? If so follow docs: https://zwave-js.github.io/zwavejs2mqtt/#/guide/mqtt

[2021-01-23 09:51] robertsLando commented on #118
LMK

[2021-01-23 10:19] robertsLando opened #333 "[feat] Create FakeDriver for ZwaveClient tests"
@ahochsteger As discussed, we should create a fake driver to allow testing. The FakeDriver should emit events based on a queue of events we decide, this queue could be stored in an array and could have the format used in the actual `event` emitted by zwaveClient. What we could do is to run the application with a real driver, catch those events,  create an array with them and store it somewhere for

[2021-01-23 10:19] AlCalzone commented on #318
No idea. Doesn't seem like the zwave-js api gets called

[2021-01-23 10:55] ahochsteger commented on #333
I guess this would be a good reference to borrow from:
https://github.com/zwave-js/node-zwave-js/blob/798516f18aff53949b218252a3cac8a91f2bc49f/packages/zwave-js/src/lib/test/mocks.ts#L44

[2021-01-23 15:07] jmgiaever commented on #85
Thank you! :+1: Appriciated!

[2021-01-23 15:45] carldebilly commented on #228
@robertsLando I think I wasn't clear enough. I don't want to operate the thermostat - this already works well, that's not the problem.
![image](https://user-images.githubusercontent.com/4174207/105606491-c438bf00-5d67-11eb-9751-6f6419f26633.png)

What I want, is to PUSH the outdoor temperature (EXT) to the thermostat. As I described in previously, there's a manufacturer endpoint for that and I wan

[2021-01-23 15:50] robertsLando commented on #228
@carldebilly Do you see the configuration CC? If not Ithink that device hasn't a valid configuration in the database, could you print here here the device Id?

[2021-01-23 16:22] carldebilly commented on #228
@robertsLando I'm not sure if that's what you want...  here's an export of the json for that device...
![image](https://user-images.githubusercontent.com/4174207/105607529-39f35980-5d6d-11eb-8d0b-a8f40d489c25.png)

`569-1-1 (0x0239-0x0001-0x0001)`

[node_4.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5860519/node_4.zip)

[2021-01-23 16:34] LordMike commented on #309
I didn't check if an api was available. I was hoping the refreshValues had a variant that allowed for a single value to be refreshed.

[2021-01-23 16:43] larstobi commented on #318
I'm afraid I have no further way to debug this since both nodes have been removed in the end. At least not until next time I get a dead node or two.

[2021-01-23 17:24] towerhand opened #334 "[bug] Notification going to Node_id topic instead of Node_name topic."
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

- Custom with latest changes on both masters.

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0 rc.1+cd11214.cd11214
zwavejs version: 6.0.1-798516f

### Describe the bug

In the gateway setting

[2021-01-23 17:46] larstobi commented on #334
Related to #217 ?

[2021-01-23 18:23] towerhand commented on #334
[node_22.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5860779/node_22.json.zip)

[2021-01-23 20:27] LordMike commented on #294
Fix dimmers branch?

Great if it disappears. You can indicate to HASS what the scale is, if needed, by the [`brightnes_scale`](https://www.home-assistant.io/integrations/light.mqtt/#brightness_scale) setting. Setting this to `99`, makes `99` be the maximum value.

[2021-01-23 22:56] AlCalzone commented on #318
I'd say we close this for now. Feel free to reopen when you have the problem again.

[2021-01-23 22:56] #318 closed

[2021-01-23 23:04] sirfooey commented on #253
My FGD212 has the Target brightness at "-1" instead of "-0" as opposed to the OP's screenshot

That is: node 52 : [52-38-1-targetValue], I can change this setting and it works fine.

Though when turning on the dimmer using the toggle in HA, it turns on back to full brightness, rather than respecting the last brightness level (not sure if this is a user error or a bug)

[2021-01-23 23:05] AlCalzone commented on #309
https://github.com/zwave-js/node-zwave-js/pull/1479 adds support for this.

[2021-01-24 03:46] jcam commented on #294
Yes, we did that in the fix_dimmers branch which is now merged to master.

[2021-01-24 03:49] jcam commented on #294
Unfortunately a side effect of switching from the template to the default schema (required to use brightness_scale), is that if brightness is not known, it will no longer send 255, which is the z-wave internal value that means turn back on to last brightness

[2021-01-24 07:18] blhoward2 commented on #118
@robertsLando Confirmed that this is still an issue. No binary sensor is setup, just a text sensor.

[node_122.json.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5861699/node_122.json.zip)

[2021-01-24 10:02] larstobi commented on #217
I'm seeing this again with the zwavejs/zwavejs2mqtt:dev (2753bf04be41 -  24 hours ago) image.
[node_60.json.gz](https://github.com/zwave-js/zwavejs2mqtt/files/5861919/node_60.json.gz)

[2021-01-24 17:00] lucguinchard commented on #253
I have updated my RPI4 (apt full-upgrade, z-way), open-zwave and nodeJS (14.15.4), npm (6.14.10) and also zwavejs2mqtt.

I still have the same problem: `Timed out while waiting for a response from the node.
However, I don't have the stack.`

I have not yet tested with a docker.

Is there a way to update fibaro devices?

Thank you all.

[2021-01-24 17:50] LordMike commented on #294
You can probably achieve that by reporting the `payload_on` value as `255` .. which in turn would mess with the `on_command_type` setting ... Hmm.

[2021-01-24 17:59] lucguinchard commented on #253
I just installed docker on the RPI4.
I still have the error:
[code]

[2021-01-24 20:53] maivorbim commented on #270
Hi @ivdimitro

Could you please explain how to expose valve percentage control and set manufacturer specific mode on the TRV? I have tried contacting you via PM on Home Assistant forum. Sorry for writing on a closed thread. Thanks

[2021-01-25 13:44] robertsLando commented on #253
@lucguinchard I need the zwavejs logs

[2021-01-25 13:53] robertsLando commented on #309
@AlCalzone Requires new release right?

[2021-01-25 14:15] towerhand commented on #334
I'll close this issue if it's the same underlying problem, just let me know.

[2021-01-25 15:51] #334 closed

[2021-01-25 15:51] robertsLando commented on #334
@towerhand @larstobi FIxed on master

[2021-01-25 15:53] robertsLando commented on #217
@larstobi Does this only happens on notifications topics? If so that is fixed now

[2021-01-25 16:25] #259 closed

[2021-01-25 16:31] towerhand commented on #334
Thanks @robertsLando, you are always so fast to fix issues. Really appreciate it.

[2021-01-25 18:29] larstobi commented on #334
Thanks!!! 😊

[2021-01-25 18:29] larstobi commented on #217
Thanks, I will try.

[2021-01-25 19:34] Cyberwizzard opened #345 "[bug] Fibaro Z-Wave Door / Window Sensor 2 state not exposed to HomeAssistant"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [x] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-beta.0
zwavejs version: 6.0.0 ?

I use the latest Docker image from last week.

### Describe the bug

Fibaro Z-Wave Door / Window Sensor 2 does

[2021-01-25 21:07] ahochsteger opened #347 "[bug] Unknown manufacturer/product even though zwave-js eventually detects it"
### Version

Build/Run method: Docker

zwavejs2mqtt version: 1.0.0-rc.1 (master branch)
zwavejs version: 6.0.2

### Describe the bug

(For updated logs and similar problems with nodes 25+36 see: [https://github.com/zwave-js/zwavejs2mqtt/issues/347#issuecomment-767346459])

I still have the problem with "Unknown manufacturer / product" for some battery-powered devices that take a longer time to be

[2021-01-26 04:43] scyto opened #348 "[bug] change secure inclusion dialog to yes / no"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.0.0-rc.1
Build/Run method

- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

When starting an inclusion you are prompted if you want secure inclusion.
The option p

[2021-01-26 04:48] scyto opened #349 "[bug] status text is black in dark mode"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.0.0-rc.1
Build/Run method

- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

text is black in dark theme

![image](https://user-images.githubusercontent.com/113691

[2021-01-26 05:18] scyto opened #350 "[bug] my gateway devices section is empty after upgrading to :dev container is this normal?"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.0.0-rc.1
Build/Run method

- [ x ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

I upgraded from :latest to :dev today by doing docker-compose down, editing my yamp to

[2021-01-26 05:33] scyto commented on #350
logs and config if required
[zwavejs2mqtt-store (1).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5871361/zwavejs2mqtt-store.1.zip)

[2021-01-26 05:39] scyto opened #351 "[bug] Fibaro RGBW v1 controller (FGRGBWM-441) module shows up as switch and dimmers (no color control) in HASS using MQTT."
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.0.0-rc.1
Build/Run method

- [ X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

I added a Fibaro RGBW Dimmer
It was propogated to HAAS like this:

![image](https://us

[2021-01-26 05:43] scyto commented on #351
logs and config fwiw
[zwavejs2mqtt-store (1).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5871402/zwavejs2mqtt-store.1.zip)

[2021-01-26 05:51] scyto commented on #161
i tried and never managed to figure it out, the device class IIRC kept changing, i would try this again except for some reason my  gateways table of devices is empty https://github.com/zwave-js/zwavejs2mqtt/issues/350

[2021-01-26 06:17] ahochsteger commented on #347
@robertsLando I guess the event recorder + fake driver we talked about would be an easy way to analyze this issue :-).

[2021-01-26 06:18] scyto commented on #350
ignore me I am idiot

[2021-01-26 06:18] #350 closed

[2021-01-26 06:19] robertsLando commented on #347
@AlCalzone any clue? Could it be that the ready eventi is still triggered without the deviceConfig loaded ?

[2021-01-26 06:19] robertsLando commented on #347
@ahochsteger do you have a full log? Of both

[2021-01-26 06:33] scyto commented on #161
I had assumed i would edit the config here to redefine the device.

![image](https://user-images.githubusercontent.com/11369180/105808699-10992000-5f5d-11eb-8fb0-b9480aaeb892.png)

but i think you mean here?

![image](https://user-images.githubusercontent.com/11369180/105808811-50600780-5f5d-11eb-9832-91fe3ad6fd3b.png)

If i am supposed to write the parse function, i don't even know where to start

[2021-01-26 06:38] ahochsteger commented on #347
@robertsLando both logs are in files.zip (see link in the description).

[2021-01-26 07:01] ahochsteger commented on #347
FYI: @robertsLando, @AlCalzone
I restarted zwavejs2mqtt yesterday at '22:44' since I had some troubles that re-inclusion did not work either which caused the unknown devices to show up as "empty" and trying to re-interview some of them again which worked for most.
The problematic node 150 from the logs in the description has then been re-included as node 165 which worked then.

I still had two mor

[2021-01-26 07:05] AlCalzone commented on #347
Should be easy to find in the log.

[2021-01-26 07:13] robertsLando commented on #161
@scyto You can change the device class in both ways, if you do it directly by editing the discovery json remember to press the store button to store the configuration so it will not be overwritten on next startup

[2021-01-26 07:17] AlCalzone commented on #347
Okay it is not that easy. There are like 10 interviews of Node 25 going on, some in parallel, some are started after the node was successfully interviewed and marked ready.
@ahochsteger you're likely to have some better luck not restarting the interviews all the time. Wake up the battery powered nodes manually, even multiple times in a row if necessary. My guess is that part of the chaos you're se

[2021-01-26 07:18] scyto opened #352 "[bug] the label on two configuration values are transposed for Aeotec Siren Gen 5"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version
1.0.0-rc.1
Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

Two parameters (siren volume and siren sound) have  transposed labels for Aeotec Siren G

[2021-01-26 07:24] robertsLando commented on #347
[code]

And then

[code]

So to answer my own question yes seems that the manufacturer producttype and id are retrived after the node is ready

[2021-01-26 07:35] ahochsteger commented on #347
@AlCalzone thanks for your feedback!
The problem I'm facing is that I have to do something if the devices still have not yet discovered after a full day and triggering a wakeup and/or re-interview does not provide any feedback (at least in the UI) if there is happening something or not. Not seeing any results and not knowing, when I can start the next re-interview may add more chaos to the problem

[2021-01-26 07:36] scyto commented on #161
thanks, on the 'new item' i can't populate the device class - it just says no data available.

I can try the store, i think i understand the logic of that now (i read the docs more carefully tonight)

[2021-01-26 07:39] robertsLando commented on #347
@AlCalzone How can this be possible? I mean shouldn't a new interview abort the running one?

@ahochsteger Do you have something in mind about how to help users? I mean there is the interview stage shown that should be enought

[2021-01-26 07:40] robertsLando commented on #161
@scyto Could you retry with the master? in my last commit I have fixed an issue that caused that select to be always empty

[2021-01-26 07:41] ahochsteger commented on #347
@robertsLando concerning the undefined manufacturerId:
Even if zwavejs2mqtt gets undefined data, shouldn't it update it afterwards, when zwavejs reports the correct data at a later time?
See these logs:
[code]

[2021-01-26 07:44] AlCalzone commented on #347
Short answer: It should, but doesn't. I have several things I want/need to change here - so for the meantime the solution is: "don't" ;)

[2021-01-26 07:45] ahochsteger commented on #347
@robertsLando no, I don't have any specific in mind yet. To be honest I did not trust the interview stage very much since I've seen nodes with no information at all that were already in the stage "Complete" and nodes that have been in the ProtocolInfo or NodeInfo stage for hours or even days. :-/

[2021-01-26 07:48] AlCalzone commented on #347
That means no communication with the node yet

That takes up the heap of the interview - so that is not suprising for battery-powered devices. IMO the main UX problem is that you don't see any progress here.

[2021-01-26 08:08] scyto commented on #161
i just pulled :master and used that container, assuming it has latest commit then it doesn't seem fixed?

[2021-01-26 08:17] larstobi commented on #217
@robertsLando Sorry, still seeing this on docker image zwavejs/zwavejs2mqtt:sha-0767844. :-(

[2021-01-26 08:18] larstobi commented on #217
<img width="1108" alt="Screenshot 2021-01-26 at 09 18 23" src="https://user-images.githubusercontent.com/64238/105818632-71eddd00-5fb7-11eb-850a-a493f710c513.png">

[2021-01-26 08:20] robertsLando commented on #217
@larstobi This is happening only for discovery right?

[2021-01-26 08:21] larstobi commented on #217
Correct

[2021-01-26 08:36] robertsLando commented on #217
@larstobi Hehehe I was looking at the code without finding any issues. The problem is that your hass devices have `"persistent": true,`, when persistent is true I don't recreate them but I discover them as they are, it's like a cache system that prevents to override any manual changes on the discovery payload. So please disable the persistent on those and rediscover the node

[2021-01-26 08:37] robertsLando commented on #161
What you mean exactly? Are you using docker?

[2021-01-26 08:38] scyto commented on #161
yes i pulled the tag master from docker bub and switched to that image on my container.

[2021-01-26 08:45] robertsLando commented on #161
@scyto Use `dev` tag

[2021-01-26 09:04] robertsLando commented on #347
What should I show so?

[2021-01-26 09:05] AlCalzone commented on #347
You can't. There's no information exposed you could use.

[2021-01-26 09:11] scyto commented on #161
i removed all the docker images to make sure i got latest dev and repulled dev.
still same unless i am being real dumb :-(
1am, gotta go to bed

![image](https://user-images.githubusercontent.com/11369180/105824587-67115900-5f73-11eb-8490-dab8660844d2.png)

[2021-01-26 09:12] robertsLando commented on #161
@scyto Please send me the export of that node when you can (go to control panel select the node and click on export)

[2021-01-26 09:13] robertsLando commented on #350
:laughing:

[2021-01-26 09:15] robertsLando commented on #351
@scyto Could you set the loglevel to debug?

[2021-01-26 09:18] scyto commented on #161
as requested

[Downloads.zip](https://github.com/zwave-js/zwavejs2mqtt/files/5872360/Downloads.zip)

(interestingly if i open the node and use the export from within the nodes details pane, i get the two json files in the attached zip; but if i select the check-box for the node and use the export  at the top of the nodes table one of the json files just contains undefined)

[2021-01-26 09:19] scyto commented on #161
also to add, every single node I have shows as no data available for device class

[2021-01-26 09:47] robertsLando commented on #161
@scyto AFAIK switch doesn't support `device_class`

[2021-01-26 09:53] robertsLando commented on #349
@scyto I think that's a browser error, it's ok on my side:

![Schermata da 2021-01-26 10-53-40](https://user-images.githubusercontent.com/11502495/105829531-c64b8980-5fc4-11eb-9106-2bb036dcb0d6.png)

[2021-01-26 09:53] #349 closed

[2021-01-26 10:00] robertsLando commented on #345
@Cyberwizzard Export of the node please

[2021-01-26 10:08] robertsLando commented on #348
Fixed on master

[2021-01-26 10:08] #348 closed

[2021-01-26 11:25] PoulKlemmensen opened #356 "[bug] How to create new devices"
Hi.

I have a question on how to create new devices. I have a new device, not yet created and therefore appears as unknown. How and where to start looking?

We are talking about a complete new product from Logic Group. In the tool called: Device ID: 564-293-3 (0x0234-0x0125-0x0003)

[2021-01-26 12:22] larstobi commented on #217
What setting am I supposed to disable? I set the "Store" setting under the MQTT settings in zj2m to false. It's description is: "Enable persistent storage of packets (QoS > 0) while client is offline. If disabled the in memory store will be used." Is this the correct one?

Also, I don't seem to have a redisvover button in my Home Assistant under devices, nor under each device.

I did Re-Interview

[2021-01-26 12:38] robertsLando commented on #217
@larstobi In hass devices table:

![Schermata da 2021-01-26 13-36-22](https://user-images.githubusercontent.com/11502495/105845715-82b04a00-5fdb-11eb-9fb3-7fe1e5a0f9bb.png)

Check the column `Persistent`, here it says no and it's ok but yours was `Yes`, it means that you previously pressed on `Store` button. When it is persistent it means that it's loaded from a cache file (the file `nodes.json`),

[2021-01-26 12:44] larstobi commented on #217
<img width="1859" alt="Screenshot 2021-01-26 at 13 42 34" src="https://user-images.githubusercontent.com/64238/105846351-59dc8480-5fdc-11eb-8305-e2f959770f23.png">

I don't have that in my HA. What's the URL? I haven't found a way to navigate there either... I feel like a total n00b...

[2021-01-26 12:45] robertsLando commented on #217
LOL that's not on hass, it's on zwavejs2mqtt UI control panel table :)

[2021-01-26 12:50] larstobi commented on #217
LOL, total n00b affiirmed... 😂 😂 😂

Yes, that totally fixed it for me. Thanks for spoon feeding me. 💯  All good now.

[2021-01-26 12:51] robertsLando commented on #217
No worries :)

[2021-01-26 13:55] robertsLando commented on #118
I ned to know the specific valueIds you expect to see as a sensor in hass

[2021-01-26 14:05] Cyberwizzard commented on #345
Export of node 13:
[code]

[2021-01-26 14:23] robertsLando commented on #345
@Cyberwizzard Just saw you are using the beta  version. Could you try using the `dev` tag please?

[2021-01-26 14:37] blhoward2 commented on #118
It’s the one above, isn’t it? It’s just that we’re templating the status into different templates. I get why but I think we should also have a binary sensor for status that reflects 0 or 255 to show it is in an alarm state.

[2021-01-26 15:43] Cyberwizzard commented on #345
Is there a way to switch the base image of a docker instance or do I need to start a new instance? (Assuming there is a 'dev' tag docker image)

[2021-01-26 15:58] billiaz commented on #118
@blhoward2 this is not a bug. Aeotec has only the Multilevel Notification. I think we can move this into a discussion
And find a good solution how to represent the Notification Command Class in Home assistant.
@robertsLando what you think?

[2021-01-26 16:00] blhoward2 commented on #118
I realize now that it isn’t a big per se, it’s more of a feature request.

[2021-01-26 16:01] robertsLando commented on #345
I dunno what you mean. `dkìocker pull`?

[2021-01-26 16:03] robertsLando commented on #118
Ok go for it :)

[2021-01-26 21:28] scyto commented on #161
indeed that's why i wanted to be able to surface this as light device to HAAS, it only operates as a light (on / off) and reclassify it entirely.

I have a workaround using the switch to light integration in configuration.yaml so no need to go any further at this juncture unless i find other uses cases for the ability to reclassify (aka lie to HA).

[2021-01-26 23:24] LordMike opened #361 "[bug] Zwavejs2mqtt is listening to more topics than needed"
### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version:  1.0.0-rc.1+423a7e7.423a7e7
zwavejs version:  6.1.0-5d49c45

### Describe the bug
I was playing with an API, and noticed that the debug log showed the API response as received by zwavejs2mqtt itself. This seems excessive, and unecessary. So I think this app i

[2021-01-26 23:27] LordMike commented on #361
I found this code, which should always subscribe to a `/set` variant, so I'm not sure why a non-/set is seen.

https://github.com/zwave-js/zwavejs2mqtt/blob/ade28bd5c1ea8d525786b30b771ca5d3a7b72568/lib/MqttClient.js#L324-L332

Also. Isn't there a bug here?.. If the client is _not_ connected, the topic is pushed to the `toSubscribe` list, but that list is itself iterated when connected:

https://gi

[2021-01-26 23:32] LordMike commented on #361
Oh - I found the place.

https://github.com/zwave-js/zwavejs2mqtt/blob/ade28bd5c1ea8d525786b30b771ca5d3a7b72568/lib/MqttClient.js#L137-L143

So the `/api/` topics are too broadly subscribed to. As `ACTIONS` are `broadcast` and `api`, you could change this to:

[code]

[2021-01-26 23:36] LordMike commented on #361
There's potentially another bug. The `toSubscribe` is cleaned after the connected event, which is fine, because the next time the client connects, the broker will maintain subscriptions .... if the session is persistent (non-clean).

https://github.com/zwave-js/zwavejs2mqtt/blob/ade28bd5c1ea8d525786b30b771ca5d3a7b72568/lib/MqttClient.js#L59-L70

But `clean` can be set via the config, so if a user

[2021-01-26 23:43] LordMike commented on #311
I suppose it would be possible to identify the longevity of a value based on the command class being used.. Meters and switches could be retained, as their state is always "correct" (whatever was received last) - while motion sensors and the like are "events" ...

Could this be done?

[2021-01-27 02:00] scyto commented on #351
Ok set logs to debug.
Didn't delete anything
Did a rediscover in control panel
Checked MQTT explorer and I can see topic 51 is published into MQTT - this is the color state topic.

I do note in the Home Assistant Tab there is no corresponding ID

Entire store attached, i have left logging on debug incase you want to see it over longer period of time
![image](https://user-images.githubusercontent.c

[2021-01-27 03:38] blhoward2 opened #362 "[bug] cannot call refreshValues from HA because cannot send array"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [X ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0
zwavejs version: 6.0.0

### Describe the bug

In #246 we added a refreshValues api. This works fine from MQTT sending an array:

[code]

In HA,

[2021-01-27 03:53] blhoward2 commented on #362
And...I'm an idiot. For future searchers, the proper payload is:

[code]

[2021-01-27 03:53] #362 closed

[2021-01-27 07:11] robertsLando commented on #362
@blhoward2 :laughing:

[2021-01-27 08:34] Cyberwizzard commented on #345
Yes - I figured there was a command to change the base image without stopping docker and starting a new instance of the image when the tag changes. But I got it up now.

It now says I'm running 1.0.0-rc1

[code]

[2021-01-27 08:35] Cyberwizzard commented on #345
And it seems to still have the same behavior running 1.0.0-rc1

[2021-01-27 09:15] robertsLando commented on #345
@Cyberwizzard by looking at the node export seems it has been created. You shoud look in hass logs to see what's wrong

[code]

[2021-01-27 10:54] Cyberwizzard commented on #345
The logs do not seem to mention the ZWave integration at all.

I updated HA to the latest release and restarted the server. The device state is still shown as Unknown and the entity entry in HA looks like this:
[code]

It seems to have no value associated with it. Is there a way to debug within HA to figure out what it sees?

[2021-01-27 11:47] maivorbim opened #370 "[feat]Better Z-wave network graph"
Currently Zwave-js has the option of displaying a SVG graph of all connected nodes. However, the information presented is basic and is lacking additional information such as list of neighbours for each node, latencies, node errors, queue size, topology/hierarchy.

I find that the following implementation is more clear and helps diagnose network issues faster and could thus serve as reference: http

[2021-01-27 13:24] robertsLando commented on #370
Instead of copy that one, we could improve the existing one. Anyway by clicking on a node you will get some informations about this

[2021-01-27 14:36] robertsLando commented on #351
@scyto RGB color discovery has been added only recently, could you try to use `dev` tag?

[2021-01-27 14:43] robertsLando commented on #345
You should check debug logs on hass side. When an a discovery fails something should be shown on logs. @billiaz Could you help here?

[2021-01-27 14:49] robertsLando commented on #361
This wouldn't cover the case when the gateway is in 'manual' mode. The topic could have infinite levels. Having a `#` subscribe isn't that bed as messages without `/set` are simply ignored

[2021-01-27 14:53] robertsLando commented on #361
Why this? The subscriptions are restored both if clean is true or false. The only difference is that if clean is false it will also receive messages while it was offline as the session is persistent

[2021-01-27 14:57] robertsLando commented on #361
That's almost impossible but I could fix it by deep copy the subscribe object

[2021-01-27 15:05] robertsLando commented on #161
@billiaz Thoughts?

[2021-01-27 15:49] Cyberwizzard commented on #345
I grabbed this from the debug log from the MQTT component in HA:
[code]
But once again, I do not see the value of the current state in that payload. It states there are 2 states possible with numeric IDs 22 and 23 - but nowhere in that packet does it say what the actual state is...

[2021-01-27 15:59] scyto commented on #351
i used dev tag from 24 hours ago, does it need to be more recent than that?
either way, yes i will try this tonight my time and repull the dev container image

[2021-01-27 16:03] robertsLando commented on #351
It's strange no rgb light is created since it's supported. The valueid is there

[2021-01-27 16:05] #361 closed

[2021-01-27 16:13] scyto commented on #351
Yes, my assumption is that for HASS i would expect to see an rgbw device in <hassdisvoverytopicprefix>/light/wetbar-rgbw/<some device>.

(this forced me to learn what an MQTT topic is and principles of hass discovery work last night :-) hopefuly i got that right)

Does this matter if the future direction is to use the wbesocket server?
Do you envisage both paths into HASS being continued in parall

[2021-01-27 16:55] robertsLando commented on #351
@scyto websocket server has been integrated on zwavejs2mqtt and will be the main way to use hass with zwave, my mqtt discovery will be still there for users that needs more customizations, it will be an alternative :)

Anyway there was a user that had an rgbw light working. @jcam It was you right?

[2021-01-27 16:56] robertsLando commented on #336
@carldebilly You can try with https://github.com/zwave-js/zwavejs2mqtt/pull/360

[2021-01-27 18:15] LordMike opened #373 "[bug] ready: Unknown manufacturer undefined; log shows manufacturer id"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.1+423a7e7.423a7e7
zwavejs version: 6.1.0-5d49c45

### Describe the bug
I have an Aeotec Door/Window sensor 7 which Z2M cannot identify the ma

[2021-01-27 18:18] LordMike commented on #373
And i just now spotted #347.

I'm not sure it's entirely the same, as when I re-wake the device, it isn't interviewed again, so I think there are no pending interviews waiting.

[2021-01-27 18:33] LordMike commented on #361
As I understand it, in a clean session:

1. Connection is made
2. No subscriptions are kept, broker expects client to subscribe
3. Z2m will _not_ resubscribe, as `toSubscribe` is now empty

I just tested on mosquitto, that clean sessions mean the subscriptions are disregarded. Whereas a non-clean session will keep subscriptions (without resubscribing).

I'll see if I can reproduce this in z2m.

[2021-01-27 18:37] LordMike commented on #361
It's odd. Clean sessions are enabled in my settings page, but when I restarted my broker and pushed a message - it was received after the reconnect as well.. I'm not entirely sure why this works - but it's probably fine. :O

[code]

[2021-01-27 18:39] LordMike commented on #361
Aha!.. Node-js mqtt:

We're good. :)

[2021-01-27 18:43] billiaz opened #374 "[feat] HASS: Investigate and support Notification CC as Binary Sensors, when possible"
This issue is created to gather all open issues about notifications and try to make them work as binary_sensors in HASS

[2021-01-27 18:44] billiaz commented on #374
Investigate: #345 #118

[2021-01-27 18:46] billiaz commented on #374
#107  - related, for icons

[2021-01-27 18:55] LordMike commented on #373
My device came through after a zwavejs2mqtt restart (testing other pr).

[2021-01-27 19:50] jcam commented on #351
![image](https://user-images.githubusercontent.com/98744/106045327-c7f17c00-60ae-11eb-9446-1ffdebc96dea.png)
I deleted the device from HA, deleted all record of it from both the zwave and homeassistant topics in MQTT explorer, then re-ran discovery, and this is how it comes up (well, this but with a less useful name)

[2021-01-27 22:47] ivdimitro commented on #347
Hi, I have a TriSensor which is battery powered sleeping device suffering from exactly the same issues.
The strange thing for me is that even if the interview is not complete if the correct sensors has been interviewed the status is being updated in HA. So the device is "semi" functional but not visible in the GUI.

**A proposal** - reuse the cache values before the interview is finished. I mean i

[2021-01-27 22:52] AlCalzone commented on #347
zwave-js does. Can't speak for zwavejs2mqtt, but AFAIK it listens for the node ready event. That happens pretty quick on subsequent startups.

Your problem likely is that the interview didn't ever complete, so the node isn't considered ready yet. This causes z2m not to display the manufacturer info.

[2021-01-27 23:05] AlCalzone commented on #375
@robertsLando your problem :) My side seems to be working now.

[2021-01-27 23:05] ivdimitro commented on #347
I was talking for zwaveJS2mqtt GUI. The observed behaviour is not only for the sleeping devices. After restart the devices go from "Complete" to "RestartFromCache" mode but parameters are being removed if the values are in state "undefined" as shown in the original ticket.
My idea was "if node value ==> undefined then read from cache when available" .

[2021-01-28 02:27] scyto commented on #351
Just pulled the latest dev image from docker hub (seem image was updated 9m hours ago)
No difference.

The symptom continues to be the rgbw device doesn't get created in the discovery topic in MQTT and is not shown here.
Looking at the node json nothing in the node 11, class 51 section is being added to the hass discovery info in zwavejs2mqtt and i assume that is why it never appears in MQTT disco

[2021-01-28 02:30] scyto commented on #351
I have tried deleting every topic in MQTT several times over the last 2 days and that didn't fix it.
I eventually realized this is because there is no topic in MQTT in the discovery topics for this class of the device.

[2021-01-28 04:48] chrish987 commented on #311
I would prefer just being able to set the option in the 'Configured Manually' gateway section under each added value. Manual config would allow override of the default and give the highest level of control.

[2021-01-28 04:56] chrish987 commented on #309
would you consider adding a more synchronous type interface than mqtt for value query? mqtt is great for async and unsolicited  notifications but for value query a REST sync interface would be great. I think that really the zwave software should be the master for any zwave sourced values, and given the nature of many zwave sensors (e.g. battery temp sensor) being able to retrieve the 'last known'

[2021-01-28 07:06] FreelancerJay commented on #370
I had three thoughts on the Z-Wave graph, just as suggestions for down the road:

- allow grouping nodes by the “location” parameter, so you can quickly tell “hey, everything in the garage is only on the network by a single node”. Wouldn’t be on by default, but just as a toggle switch you can quickly flick on and off on the display.
- when you select a node, grey out or drop the opacity of all the

[2021-01-28 07:28] robertsLando commented on #309
Why should use rest apis be better then this? Also there is zwave-js-server now that is integrated with zwavejs2mqtt and you can even use websocket for that

[2021-01-28 07:29] #309 closed

[2021-01-28 07:29] AlCalzone commented on #347
@robertsLando why are they undefined anyways? They should be in the zwave-js cache unless they have never been read before.

[2021-01-28 07:43] robertsLando commented on #347
That's a question I would ask to you, I sincerly dunno why this happens but the informations says that's undefined :man_shrugging:

[2021-01-28 07:44] robertsLando commented on #311
Yep this is something that could be easily done using gateway values

[2021-01-28 07:47] AlCalzone commented on #347
Again, can't tell without an interview that is not restarted all the time through user intervention.

[2021-01-28 07:51] robertsLando commented on #351
@scyto Could you please try to set log level to debug? Also delete the zwavejs2mqtt log file, it is almost 30MB now

[2021-01-28 07:54] robertsLando commented on #375
`temperature_units` ? @bachya

[2021-01-28 07:55] robertsLando commented on #373
@LordMike When you press on refresh node info all node informations are removed from cache AFAIK. @AlCalzone is the problem the same as the other one?

[2021-01-28 07:55] AlCalzone commented on #375
Guess that should be auto-detected from the device?

[2021-01-28 08:05] AlCalzone commented on #373
Please make a zwave-js log, loglevel `debug` or `silly` and attach it here as a file.

[2021-01-28 10:24] robertsLando commented on #373
Partially fix, I could watch for manufacturer specific CC and updating node info when reciving updates from those classes

[2021-01-28 10:26] robertsLando commented on #373
Anyway I still think that the problem is that the ready event is triggered before node deviceClass is defined, dunno the reason BTW

[2021-01-28 10:50] robertsLando commented on #370
The ideas are good, I keep this in my TODOs but dunno when I will implement this. There are some things more important for now

[2021-01-28 10:52] robertsLando commented on #375
This could be caused by the `temperature_units` set on the climate discovered.

[2021-01-28 10:55] robertsLando commented on #375
It's defined here: https://github.com/zwave-js/zwavejs2mqtt/blob/master/lib/Gateway.js#L1208

[2021-01-28 14:36] bachya commented on #375
@robertsLando I'm unclear on your question. I don't think I e set units anywhere within z2m. Are you asking that my units are in Home Assistant?

[2021-01-28 14:56] robertsLando commented on #375
Them are set in the discovery payload sent to hass. IMO what happens here is that the discovety payload sent them with the units `C`, but the value in in `F` and hass thinking the value that is coming is in `C` converts it to `F` giving you that

[2021-01-28 15:01] robertsLando commented on #375
What could be wrong here is that your temperature valueId (`49-0-Air temperature`) has `C` as units instead of `F`. That's strange as the reported value in zwave logs prints `F`. To fix this you could manually edit the climate discovery payload by set `F` in the temperature units, and press store to keep the configuration persistent (otherwise an application restart would override your changes on

[2021-01-28 15:04] bachya commented on #375
Got it. I'll test this morning and get back to you.

[2021-01-28 15:46] robertsLando commented on #373
@LordMike COuld you try with https://github.com/zwave-js/zwavejs2mqtt/pull/376

[2021-01-28 15:47] robertsLando commented on #347
@ahochsteger Could you give a try to https://github.com/zwave-js/zwavejs2mqtt/pull/376

[2021-01-28 16:32] LordMike commented on #373
I "always" run my zwavejs with that. So I've dug in the log and found the time period - from the first refresh command to the last "ready to use" log.

[zwavejs_snippet.log](https://github.com/zwave-js/zwavejs2mqtt/files/5888625/zwavejs_snippet.log)

After my initial report, and a restart, the device "suddenly" came through.. Should I re-interview it to reproduce the issue (if it can be reproduced

[2021-01-28 16:47] #336 closed

[2021-01-28 16:49] robertsLando commented on #373
@LordMike The PR I linked here should fix it. On zwavejs side @AlCalzone have already planned some improvments of the interview process but it's not something easy that will come early

[2021-01-28 17:53] frenck commented on #130
WIP: https://github.com/hassio-addons/addon-zwavejs2mqtt

[2021-01-28 21:17] bachya commented on #375
Apologies for the delay; finally got around to this. Once again, started with a from-scratch installation; my details below.

After discovery completed, the `climate` device showed up in Home Assistant:

![Screen Shot 2021-01-28 at 2 06 01 PM](https://user-images.githubusercontent.com/47216/106199168-4c590300-6172-11eb-8a06-7a6014c33307.png)

Key details:

* The current temperature matches what ou

[2021-01-28 22:52] ahochsteger commented on #347
@robertsLando I can definitely confirm that this helps to fix the problem since I found a way to fully reproduce the problem on my test device using the following procedure:
* Remove all cache files
* Start server + gui
* Wait until all devices before the battery-powered devices have been initialized and show up
* Wait a bit longer (5-10s) to make sure that zwave-js is trying to interview the batt

[2021-01-28 22:54] chrish987 commented on #309
Is there an API available via MQTT to just query a value from cache (I guess the getValue this thread started with)? not all use cases want to poll the node - which may take time to respond.

Do you have any more information about the zwave-js-server, I have had a read of the github page but the documentation is quite sparse. Does it support HTTP query or just websocket?

You have some status avai

[2021-01-28 23:23] AlCalzone commented on #347
Is that before or after the re-interview?

[2021-01-28 23:24] scyto commented on #351
Every log setting in the UI is already has bee set to debug since you first asked, are you not seeing something you expect to?  Is there a setting i missed?

Yes will delete that log file.

These are the settings that were set for the last couple of days:

![image](https://user-images.githubusercontent.com/11369180/106211049-d8702800-617c-11eb-9a9a-4e87114d7050.png)

[2021-01-28 23:39] DamianFlynn opened #380 "[bug] Hass Discovery for Euronics Sprit sending Valve Opening as Light"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.0-rc.1
zwavejs version: 6.1.0

### Describe the bug

The HASS Discovery payload sends a Dimmer Light as the sensor type for the Valve Opening

Thi

[2021-01-29 00:08] ivdimitro commented on #380
The idea of representing the multi-level switch as a dimmer is to allow for the valve to be controllable.
It is not a bug.
Also you can define the additional sensor with the valve position in your customDevices. This is what I am doing as well because the reporting to influxDB is easier.

[2021-01-29 03:07] DanielWinks opened #381 "[feat] RGBWWCW support"
**Is your feature request related to a problem? Please describe.**

There doesn't seem to be a way to set (or read) the color temp for RGBWWCW bulbs when using Home Assistant. In the control panel, I see a place where I can set the 0-255 WW color and the 0-255 CW color. This lets me manually set it to any combination I want, but only from the admin panel. In Home Assistant, it expects that white v

[2021-01-29 06:31] robertsLando commented on #381
@AlCalzone needs a new property along with the hexColor?

[2021-01-29 07:14] AlCalzone commented on #381
Imo this rather sounds like a workaround for a HA shortcoming which should be addressed there.
I've asked the HA devs, let's wait for their response.

[2021-01-29 07:15] ahochsteger commented on #347
As I see it the "unknonw manufacturer" is shown just after pressing the button on the door sensor 3x - so I would say it is after triggering the re-interview in the UI but before the re-interview is finished, but I have not analyzed the logs to confirm the exact times of the events.
A short time (seconds) later "unknown manufacturer" is then replaced by the real manufacturer name in the UI.

But I

[2021-01-29 07:19] #347 closed

[2021-01-29 07:19] #373 closed

[2021-01-29 07:21] robertsLando commented on #380
@DamianFlynn yep it is not a bug, you could try to do like ivdimitro suggested or maually edit the discovery payload to fit your needs

[2021-01-29 07:24] carldebilly commented on #336
I'll try this weekend...

[2021-01-29 07:24] robertsLando commented on #347
@ahochsteger what a mess :laughing: BTW glad that this problem seems fixed now, I have added many different checks that should fix this in all cases, even with messy devices

[2021-01-29 07:26] marcelveldt commented on #381
I believe he's talking about MQTT to HA and not the new Zwave JS integration in HA.
In the integration we combine all values into RGB-CT/RGBWWCT

[2021-01-29 07:32] robertsLando commented on #336
@carldebilly Check the PR for more information. In your case the command to send will be `sendReport` and the args `[sensorType, scale, value]` like described here: https://github.com/zwave-js/node-zwave-js/blob/c695ee81cb2b1d3cf15e3db1cc14b1e41a911cc0/packages/zwave-js/src/lib/commandclass/MultilevelSensorCC.ts#L149

@AlCalzone how does he can identify the correct values to use as `sensorType` an

[2021-01-29 07:42] AlCalzone commented on #381
alternate solution as discussed on Discord:
https://github.com/zwave-js/node-zwave-js/issues/1526

[2021-01-29 07:45] AlCalzone commented on #336
sensor types are the first level keys here:
https://github.com/zwave-js/node-zwave-js/blob/master/packages/config/config/sensorTypes.json
scales are the second level keys (or for the named scales the keys here https://github.com/zwave-js/node-zwave-js/blob/master/packages/config/config/scales.json)

[2021-01-29 07:45] marcelveldt commented on #381
Great, both the HA integration as others (like MQTT) can benefit from that.

[2021-01-29 07:46] robertsLando commented on #381
Yep I think that would be the best solution

[2021-01-29 07:49] DamianFlynn commented on #380
ok - i understand that we can set the TRV in manual mode, and then in theory us this dimmer to control the valve. However the template for discovery of the Climate modes also does not offer manual as an operating mode - which i assume makes the Light object readonly.

@ivdimitro Can you tell/point me at how you added the additional sensor in customDevices as you mention?

[2021-01-29 07:51] robertsLando commented on #336
Ok so the args could be in this case `[1, 0, <value>]` (air temperature, celsius, the value).

Topic: `zwavejs/_CLIENTS/ZWAVE_GATEWAY-<yourName>/api/sendCommand/set`

Payload:

[code]

[2021-01-29 07:57] robertsLando commented on #309
Just websocket

I still don't get where is the problem here. I mean there are MQTT and Websockets already for this

[2021-01-29 08:06] robertsLando commented on #375
@bachya

I have no clue :man_shrugging: What are your default scales settings in hass? C or F?

[2021-01-29 08:13] AlCalzone commented on #336
Should be the correct one. Maybe another endpoint, but that must be mentioned in the manual in that case.

[2021-01-29 08:14] robertsLando commented on #336
@carldebilly Ok so try with the example I showed you with endpoint 1-2-3 until you see the desired outcome :)

[2021-01-29 08:14] robertsLando commented on #130
Thanks @frenck

[2021-01-29 09:11] frenck commented on #130
No problem @robertsLando! Are you on discord btw?

[2021-01-29 09:12] robertsLando commented on #130
Nope, should I?

[2021-01-29 09:27] frenck commented on #130
No not needed. Will uses issues instead.

[2021-01-29 10:16] ahochsteger opened #384 "[feat] Improved Z-Wave Network Visualization"
**Current Visualization**

The current visualization of the Z-Wave mesh network gives a good overview of the network but does not work well for bigger networks (shows big ball of wool ;-) ).
Additional information or improved visualization is missing that can help analyze problems of the network. In addition the network visualization could be used to directly interact with the nodes.

Screenshot:

[2021-01-29 10:22] robertsLando commented on #384
@ahochsteger I think that zwave mesh visualization can be improved a lot. IMO the steps are firstly to identify what we need to visualize (like disintic if it's a battery powered device or not, the battery level, highilight neighborns on click), then identify the library to use, maybe [vue-org-chart](https://github.com/Hoogkamer/vue-org-chart) could be better for us.

[2021-01-29 10:25] frenck opened #385 "[bug] New STORE_DIR env var, causes double slashes in path"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )
- [x] Home Assistant Add-on

zwavejs2mqtt version: 1.0.0-rc.1
zwavejs version: 6.1.0

### Describe the bug

Set `STORE_DIR` to e.g., `/data/store`

Resulting get requests ca

[2021-01-29 10:27] ahochsteger commented on #384
@robertsLando yes, that's what I'm trying to start with this issue to have a discussion about what we want to visualize and then decide which visualization works best for which kind of information.
Maybe we can provide more than one view if not everything can be put into a single graphical representation.
I'll put a section into the description to collect possible visualization libraries and add v

[2021-01-29 10:35] robertsLando commented on #385
@frenck Where does that call comes from? It's strange because the url seems malformed. The path provided in the api uses `encodeURIComponent`, but seems that is not correctly parsed.

Ref: https://github.com/zwave-js/zwavejs2mqtt/blob/master/src/apis/ConfigApis.js#L50

Could be it something related to the browser?

[2021-01-29 10:39] robertsLando commented on #385
Tested and it's working on my side:

[code]

[2021-01-29 10:47] frenck commented on #385
Interesting, so somewhere along the reverse proxy path it may go south then?

[2021-01-29 10:48] robertsLando commented on #385
It may, yes.

[2021-01-29 10:55] robertsLando commented on #384
IMO what's important to show is:

- See the actual node status (dead, alive, sleep etc..)
- See if a node is a battery powered device or not, if battery show the battery % (I like the way used by ZWaveGraphHA)
- Try to group devices by location (this could be tricky to implement as I dunno if org chart allows to draw overlays)
- when pressing on a node:
    - Highlight node neighborns
    - Show a

[2021-01-29 10:59] robertsLando commented on #384
From what I can see seems that https://github.com/AdamNaj/ZWaveGraphHA provides the js script to render that graph. We could reuse that for our needs. I think it has almost all the needs. It also allow us to prevent using some 3rd party library

[2021-01-29 11:13] AlCalzone commented on #384
Thinking a bit out of the box (also with d3.js):
![grafik](https://user-images.githubusercontent.com/17641229/106268422-64408d80-622b-11eb-9734-dc5381fdc089.png)

[2021-01-29 11:24] cbho commented on #384
I was just about to reply with examples just like the one showed by @AlCalzone above...
It was like that on Homey in the beginning and I really found it usefull and intuitive (and aestethical ;-)).

Examples from Homey:
![ynvhnvlrf7l5](https://user-images.githubusercontent.com/29979509/106269454-cfd72a80-622c-11eb-91aa-045049981a2e.png)
![34394348-db59cf82-eb58-11e7-9bf4-5f1f48e62c07](https://user

[2021-01-29 11:39] lucguinchard commented on #253
Hello,
I have update :
![image](https://user-images.githubusercontent.com/17431299/106268708-c13c4380-622b-11eb-8eec-d39a4a914d80.png)

I have no more errors, but the lamp still does not light up :
[code]

Otherwise if I activate the lamp with a physical button, the number of watt used is modified.

I activated the logs:
![image](https://user-images.githubusercontent.com/17431299/106269065-46bff38

[2021-01-29 12:18] ivdimitro commented on #380
Please find my customDevices.json

`{
  "881-21-2": [
    {
      "type": "climate",
      "object_id": "thermostat",
      "values": [
        "64-0-mode",
        "49-0-Air temperature",
        "67-0-setpoint-1",
        "67-0-setpoint-11"
      ],
      "mode_map": {
        "off": 0,
        "heat": 1,
        "cool": 11,
        "dry": 15,
        "fan_only": 31
      },
      "setpoint_topi

[2021-01-29 13:12] DanielWinks commented on #381
Hi, I took a look over at [zwave-js/node-zwave-js#1526](https://github.com/zwave-js/node-zwave-js/issues/1526)

There's not a lot of info there as to what that will change, so I just want to make sure I've covered the issue I'm running into properly.

This isn't with the zwave-js addon. I'm using zwavejs2mqtt. The problem here is that under "Color Switch" for my Inovelli Ilumin RGBWWCW bulbs, I ha

[2021-01-29 13:45] DamianFlynn commented on #380
Awsome - the customDevices.json i did not know about, this rocks. @idyedov Thank you!

[2021-01-29 13:45] #380 closed

[2021-01-29 13:48] AlCalzone commented on #381
That won't be necessary - the issue is about adding a combined value that accepts a JSON object with all the colors that should be updated at once. So you would send a single command to set RGB or WWCW or RGBWWCW or Cyan,Amber,CW or whatever your light supports. The devs I've talked to are on board with this, so I expect no breaking changes.

Except if you're setting these weird values manually, w

[2021-01-29 13:54] DanielWinks commented on #381
Yeah, I thought so too. It looks super weird in MQTT Explorer, if you look at my screencap, and it makes it awkward to use.

So I will be able to just craft up a template in my HASS MQTT config to generate a JSON object for setting the white values? What about getting their state? That's an issue too, as HASS expects a single topic for "white value" for both the command and state topics?

Also, po

[2021-01-29 13:58] AlCalzone commented on #381
I don't know anything about the MQTT internals - I just work with the values zjs2m gives me.
The combined value will work like any other value - you can read and write it. It is just an object instead of a primitive.

[2021-01-29 14:36] bachya commented on #375
@robertsLando Imperial (F).

[2021-01-29 16:01] maivorbim commented on #384
Leaving my two cents here. I think that any visualisation should include two modes: 1. all connected nodes (similar to vue-3d-network) and 2. most relevant node which shows hierarchy. (similar to vue-org-chart).

ZWaveGraphHA actually has a toggle like this, you can toggle between all neighbours or relevant ones. Both types of visualisations have their use cases and combining them into one IMHO wo

[2021-01-29 16:30] robertsLando commented on #375
Did you try to also change this in the discovery payload?

[2021-01-29 16:41] robertsLando commented on #385
Sorry closed by error

[2021-01-29 16:42] DanielWinks opened #386 "[feat] Allow "targetXXXXX" topics to be directly used, without /set"
**Is your feature request related to a problem? Please describe.**

With the changes to the topics, compared to zwave2mqtt, it doesn't make sense to have `/set` still used.

In Z2M there was just 1 topic, for both "currentValue" and "targetValue", so in order to set a value, you used a subtopic of `/set`. In Zjs2MQTT, we have one topic for "currentValue" and another that is only used for setting v

[2021-01-29 16:51] AlCalzone commented on #384
@ahochsteger FYI the implementation I screenshotted above is this:
https://github.com/AlCalzone/ioBroker.zwave2/blob/master/admin/src/lib/networkMap.ts

[2021-01-29 17:07] fanningert opened #387 "[feat] Add MQTT Scene, so it is discovery by HASS"
**Is your feature request related to a problem? Please describe.**
I created under zwavejs2mqtt a new scene. This scene is not visible under mqtt (checked with MQTT Explorer) and also not visible and executeable under HASS.

**Describe the solution you'd like**
Add created scenes to mqtt.
**https://www.home-assistant.io/integrations/scene.mqtt/**

[2021-01-29 19:56] bachya commented on #375
I did and after a HASS restart, that new max value does lock in.

[2021-01-29 20:32] LordMike opened #388 "[feat] Add links to z-wave manual or zwave-js configs file"
**Is your feature request related to a problem? Please describe.**
Sometimes when working on devices, it's useful to read more about configs or behaviour in the manuals available. In z-wave, this is doubly easy, as the z-wave standardization seems to mean that manuals are available at a central location.

**Describe the solution you'd like**
Alongside the export button/link for the node json, you

[2021-01-29 20:53] LordMike opened #389 "[bug] Z2M not reacting to notification from device after re-add"
### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version:  1.0.0-rc.1+441fc7e.441fc7e
zwavejs version:  6.1.0-f0eff3e

### Describe the bug
Strangest thing. I have two ZWA008 Door Windows Sensor 7's on my desk, both sending the same frames when their sensor is triggered (magnet). But for one of them, Zwavejs2mqtt do

[2021-01-29 20:59] LordMike commented on #389
Rebooting the server resolves the immediate issue - zwavejs2mqtt is now receiving events.

[2021-01-29 22:40] chrish987 opened #391 "[bug]"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [X ] Docker
- [ ] PKG
- [ ] Manually built (git clone - npm install - npm run build )

Latest :dev image (from yesterday)

### Describe the bug

Not sure if this is a bug or working as designed.

When restarting zwavejs2mqtt mqtt messages are sent for all no

[2021-01-29 23:26] tommyjlong opened #392 "[bug]G/W Manual mode - Topic Value expected to be text instead of numeric value"
Before submitting a bug please read: <https://zwave-js.github.io/zwavejs2mqtt/#/troubleshooting/bug_report>

### Version

Build/Run method

- [ ] Docker
- [ ] PKG
- [x] Manually built (git clone - npm install - npm run build )

zwavejs2mqtt version: 1.0.1.e227f5b
zwavejs version: 6.1.0

### Describe the bug
G/W is in Configured Manually/Just Value mode.
Used the GUI to create entry in the G/W tabl

[2021-01-29 23:33] scyto commented on #351
Here is what i did to generate this zip file (with settings show in last post), if you need me to do something else just let me know.

- Deleted logs
- Stopped container
- Started container
- waited for all nodes to be alive / complete
- rediscovered the RGB
- W node
- captured logs
[zwavejs2mqtt-store (2).zip](https://github.com/zwave-js/zwavejs2mqtt/files/5896897/zwavejs2mqtt-store.2.zip)